/*------------------------------------------------------------------------------------------
Mercer Evolution - Employee Portal Family - Site CSS
DATE - June 3, 2015
AUTHOR - Doug Fraize, Matthew Holmes
-------------------------------------------------------------------------------------------*/

// ==========================================================================================
// CORE SASS IMPORTS
// ==========================================================================================

@import	"../core/global/color_variables",
		"../core/foundation/foundation/settings",
		"../core/global/variables",
		"../core/global/functions",
		"../core/global/mixins";

// ==========================================================================================
// SITE IMPORTS
// ==========================================================================================

@import	"partials/global/settings",
		"partials/global/variables",
		"partials/global/functions",
		"partials/base/icons",
		"partials/base/type",
		"partials/base/menu_bar",
		"partials/base/title_bar",
		"partials/objects/conversational_form",
		"partials/objects/showcase_panel",
		"partials/objects/item_selection_panel",
		"partials/objects/pricing_table",
		"partials/objects/item_highlight_ctn",
		"partials/objects/category_hdr_ctn",
		"partials/objects/add_remove_plan_component",
		"partials/objects/worksheet_form",
		"partials/objects/slider_contributions",
		"partials/objects/reveal_modal",
		"partials/objects/login_template",
		"partials/objects/stream";

/*=== WEBSITE STYLES ======================================================================*/

/*--- SITE GLOBAL -------------------------------------------------------------------------*/

// FIXES FLASH OF UNSTYLED CONTENT BUG - WHERE PAGE LOADS FASTER THAN JS AND MODERNIZR
// HIDE PAGE WITH CSS CLASS PROVIDED BY MODERNIZR AND WHEN DOCUMENT IS READY, SHOW PAGE WITH JS
html.evo-mod-js							{display:none;}

/*--- SITE SPECIFIC -----------------------------------------------------------------------*/
.toc									{
										margin-bottom: rem-calc(60);
										}

.section								{
										margin-bottom: rem-calc(60);
	.evo-hdr-rule							{
											margin-bottom: rem-calc(30);
											padding-right: rem-calc(20);
		[class*="evo-icon"]						{
												display: block;
												height: rem-calc(26);
												width: rem-calc(30);
												right: rem-calc(-20);
			&:before								{
													position: relative;
													top: rem-calc(5);
													left: rem-calc(2);
													}
												}
											}
										}

/*--- COLOR PALETTE -----------------------------------------------------------------------*/

// COLOR PALETTE SWATCH BOX
.color-block
										{
										height: rem-calc(50);
										text-align: center;
										color: $white;
										padding-top: rem-calc(15);
										text-shadow: rem-calc(1) rem-calc(1) rem-calc(1) $gray-darkest;
										}

/*=== MEDIA QUERIES =========================================================================*/
@import	"partials/global/responsive_small",
		"partials/global/responsive_medium",
		"partials/global/responsive_large",
		"partials/global/responsive_xlarge",
		"partials/global/responsive_xxlarge"
		;