/*------------------------------------------------------------------------------------------
Mercer Evolution - Employee Portal Family - Site CSS
DATE - January 21, 2015
AUTHOR - Doug Fraize, Matthew Holmes, Doug Richar, Vinod Bhatt
-------------------------------------------------------------------------------------------*/

// ==========================================================================================
// CORE SASS IMPORTS
// ==========================================================================================

@import	"../core/global/color_variables",
		"../core/foundation/foundation/settings",
		"../core/global/variables",
		"../core/global/functions",
		"../core/global/mixins";

// ==========================================================================================
// SITE IMPORTS
// ==========================================================================================

@import	"../partials/ep/global/site_settings",
		"../partials/ep/global/site_variables",
		"../partials/ep/global/site_functions",
		"../partials/ep/base/site_icons",
		"../partials/ep/base/type",
		"../partials/ep/base/menu_bar",
		"../partials/ep/base/title_bar";

// ==========================================================================================
// SITE COMPONENT IMPORTS
// ==========================================================================================

@import	"../partials/ep/objects/conversational_form",
		"../partials/ep/objects/showcase_panel",
		"../partials/ep/objects/item_selection_panel",
		"../partials/ep/objects/pricing_table",
		"../partials/ep/objects/item_highlight_ctn",
		"../partials/ep/objects/category_hdr_ctn",
		"../partials/ep/objects/form_worksheet";

/*=== WEBSITE STYLES ======================================================================*/

/*--- SITE GLOBAL -------------------------------------------------------------------------*/

// FIXES FLASH OF UNSTYLED CONTENT BUG - WHERE PAGE LOADS FASTER THAN JS AND MODERNIZR
// HIDE PAGE WITH CSS CLASS PROVIDED BY MODERNIZR AND WHEN DOCUMENT IS READY, SHOW PAGE WITH JS
html.evo-mod-js							{display:none;}

.evo-login-template						{
										background: url(../images/ep/background2.png) no-repeat center center fixed $sapphire-dark;
										color: $white;
										padding: rem-calc(0) rem-calc(15) rem-calc(15) rem-calc(15);
										height: 1000px;
										margin-left: -10px;
										margin-right: -10px;
										text-align: center;
	.evo-login-content-ctn					{
											margin-top: rem-calc(100);
		img										{}
		p										{}
											}
										}

/*--- REVEAL/MODAL ------------------------------------------------------------------------*/
.reveal-modal-bg						{position: fixed;}
.reveal-modal							{z-index: 10000;}

/*--- COLOR PALETTE -----------------------------------------------------------------------*/

// COLOR PALETTE SWATCH BOX
.color-block
										{
										height: 50px;
										text-align: center;
										color: $white;
										padding-top: 15px;
										text-shadow: 1px 1px 1px $gray-darkest;
										}


/*=== MEDIA QUERIES =========================================================================*/
@import	"../partials/ep/global/responsive_small",
		"../partials/ep/global/responsive_medium",
		"../partials/ep/global/responsive_large",
		"../partials/ep/global/responsive_xlarge",
		"../partials/ep/global/responsive_xxlarge"
		;