{% layout "bp/layout" %}
{% block content %}

<!-- HERO IMAGE - BEGINS -->
	{% include "/bp/hero-banner" %}
<!-- HERO IMAGE - ENDS -->

<!-- PAGE CONTENT - BEGINS -->
	<section class="row">
		<div class="large-10 large-centered columns evo-site-family-content-ctn">
			<div class="row text-center">

				<!-- DESIGN PRINCIPLES NAV - BEGINS -->
				{% include "/bp/design-principles-nav" %}
				<!-- DESIGN PRINCIPLES NAV - ENDS -->

			</div>
			<div class="row" data-equalizer data-equalizer-mq="medium-up" data-options="equalize_on_stack: true">
				<div class="medium-6 columns">

				<!-- PRINCIPLE - BEGINS -->
					<div class="panel evo-box evo-family-categories-ctn" data-equalizer-watch>
						<div class="evo-box-circle evo-center-block">
							<i class="evo-icon-site-sort evo-icon-size-medium evo-center-block-vertical-element evo-center-block bp-icon" title="" aria-label=""></i>
						</div>

						<div class="evo-box-hdr evo-spacer-padding-bottom-small">
							<h5></h5>
						</div>
						<div class="evo-box-bdy text-left">
							<p></p>
							<hr />
							<p></p>
							<hr />
							<p></p>
						</div>
					</div>
				<!-- PRINCIPLE - ENDS -->

				</div>
				<div class="medium-6 columns">

				<!-- PRINCIPLE - BEGINS -->
					<div class="panel evo-box evo-family-categories-ctn" data-equalizer-watch>
						<div class="evo-box-circle evo-center-block">
							<i class="evo-icon-site-sort evo-icon-size-medium evo-center-block-vertical-element evo-center-block bp-icon" title="" aria-label=""></i>
						</div>

						<div class="evo-box-hdr evo-spacer-padding-bottom-small">
							<h5></h5>
						</div>
						<div class="evo-box-bdy text-left">
							<p></p>
							<hr />
							<p></p>
							<hr />
							<p></p>
						</div>
					</div>
				<!-- PRINCIPLE - ENDS -->

				</div>
			</div>
			<div class="row" data-equalizer data-equalizer-mq="medium-up" data-options="equalize_on_stack: true">
				<div class="medium-6 columns">

				<!-- PRINCIPLE - BEGINS -->
					<div class="panel evo-box evo-family-categories-ctn" data-equalizer-watch>
						<div class="evo-box-circle evo-center-block">
							<i class="evo-icon-site-sort evo-icon-size-medium evo-center-block-vertical-element evo-center-block bp-icon" title="" aria-label=""></i>
						</div>

						<div class="evo-box-hdr evo-spacer-padding-bottom-small">
							<h5></h5>
						</div>
						<div class="evo-box-bdy text-left">
							<p></p>
							<hr />
							<p></p>
							<hr />
							<p></p>
						</div>
					</div>
				<!-- PRINCIPLE - ENDS -->

				</div>
				<div class="medium-6 columns">

				<!-- PRINCIPLE - BEGINS -->
					<div class="panel evo-box evo-family-categories-ctn" data-equalizer-watch>
						<div class="evo-box-circle evo-center-block">
							<i class="evo-icon-site-sort evo-icon-size-medium evo-center-block-vertical-element evo-center-block bp-icon" title="" aria-label=""></i>
						</div>

						<div class="evo-box-hdr evo-spacer-padding-bottom-small">
							<h5></h5>
						</div>
						<div class="evo-box-bdy text-left">
							<p></p>
							<hr />
							<p></p>
							<hr />
							<p></p>
						</div>
					</div>
				<!-- PRINCIPLE - ENDS -->

				</div>
			</div>
			<div class="row" data-equalizer data-equalizer-mq="medium-up" data-options="equalize_on_stack: true">
				<div class="medium-6 columns">

				<!-- PRINCIPLE - BEGINS -->
					<div class="panel evo-box evo-family-categories-ctn" data-equalizer-watch>
						<div class="evo-box-circle evo-center-block">
							<i class="evo-icon-site-sort evo-icon-size-medium evo-center-block-vertical-element evo-center-block bp-icon" title="" aria-label=""></i>
						</div>

						<div class="evo-box-hdr evo-spacer-padding-bottom-small">
							<h5></h5>
						</div>
						<div class="evo-box-bdy text-left">
							<p></p>
							<hr />
							<p></p>
							<hr />
							<p></p>
						</div>
					</div>
				<!-- PRINCIPLE - ENDS -->

				</div>
				<div class="medium-6 columns">

				<!-- PRINCIPLE - BEGINS -->
					<div class="panel evo-box evo-family-categories-ctn" data-equalizer-watch>
						<div class="evo-box-circle evo-center-block">
							<i class="evo-icon-site-sort evo-icon-size-medium evo-center-block-vertical-element evo-center-block bp-icon" title="" aria-label=""></i>
						</div>

						<div class="evo-box-hdr evo-spacer-padding-bottom-small">
							<h5></h5>
						</div>
						<div class="evo-box-bdy text-left">
							<p></p>
							<hr />
							<p></p>
							<hr />
							<p></p>
						</div>
					</div>
				<!-- PRINCIPLE - ENDS -->

				</div>
			</div>
			<div class="row" data-equalizer data-equalizer-mq="medium-up" data-options="equalize_on_stack: true">
				<div class="medium-6 columns">

				<!-- PRINCIPLE - BEGINS -->
					<div class="panel evo-box evo-family-categories-ctn" data-equalizer-watch>
						<div class="evo-box-circle evo-center-block">
							<i class="evo-icon-site-sort evo-icon-size-medium evo-center-block-vertical-element evo-center-block bp-icon" title="" aria-label=""></i>
						</div>

						<div class="evo-box-hdr evo-spacer-padding-bottom-small">
							<h5></h5>
						</div>
						<div class="evo-box-bdy text-left">
							<p></p>
							<hr />
							<p></p>
							<hr />
							<p></p>
						</div>
					</div>
				<!-- PRINCIPLE - ENDS -->

				</div>
				<div class="medium-6 columns">

				<!-- PRINCIPLE - BEGINS -->
					<div class="panel evo-box evo-family-categories-ctn" data-equalizer-watch>
						<div class="evo-box-circle evo-center-block">
							<i class="evo-icon-site-sort evo-icon-size-medium evo-center-block-vertical-element evo-center-block bp-icon" title="" aria-label=""></i>
						</div>

						<div class="evo-box-hdr evo-spacer-padding-bottom-small">
							<h5></h5>
						</div>
						<div class="evo-box-bdy text-left">
							<p></p>
							<hr />
							<p></p>
							<hr />
							<p></p>
						</div>
					</div>
				<!-- PRINCIPLE - ENDS -->

				</div>
			</div>
		</div>
	</section>
<!-- PAGE CONTENT - ENDS -->

{% endblock %}