{% layout "bp/layout" %}
{% block content %}

<!-- HERO IMAGE - BEGINS -->
	{% include "/bp/hero-banner" %}
<!-- HERO IMAGE - ENDS -->

<!-- PAGE CONTENT - BEGINS -->
	<section class="row">
		<div class="large-10 large-centered columns evo-site-family-content-ctn">
			<div class="row text-center">

				<!-- DESIGN PRINCIPLES NAV - BEGINS -->
				{% include "/bp/design-principles-nav" %}
				<!-- DESIGN PRINCIPLES NAV - ENDS -->

			</div>
			<div class="row" data-equalizer data-equalizer-mq="medium-up" data-options="equalize_on_stack: true">
				<div class="medium-6 columns">

				<!-- PRINCIPLE - BEGINS -->
					<div class="panel evo-box evo-family-categories-ctn" data-equalizer-watch>
						<div class="evo-box-circle evo-center-block">
							<i class="evo-icon-site-grid6 evo-icon-size-medium evo-center-block-vertical-element evo-center-block bp-icon" title="" aria-label=""></i>
						</div>

						<div class="evo-box-hdr evo-spacer-padding-bottom-small">
							<h5>SIMPLE, SIMPLE, SIMPLE</h5>
						</div>
						<div class="evo-box-bdy text-left">
							<p>Great experiences are simple experiences.</p>
							<hr />
							<p>Fewer choices make decisions easier, so limit the distractions by removing obstacles and unnecessary "nice to haves".</p>
							<hr />
							<p>Everything in the design should have a purpose&mdash;otherwise it is nothing but noise.</p>
						</div>
					</div>
				<!-- PRINCIPLE - ENDS -->

				</div>
				<div class="medium-6 columns">

				<!-- PRINCIPLE - BEGINS -->
					<div class="panel evo-box evo-family-categories-ctn" data-equalizer-watch>
						<div class="evo-box-circle evo-center-block">
							<i class="evo-icon-question4 evo-icon-size-medium evo-center-block-vertical-element evo-center-block bp-icon" title="" aria-label=""></i>
						</div>

						<div class="evo-box-hdr evo-spacer-padding-bottom-small">
							<h5>START WITH THE PROBLEM</h5>
						</div>
						<div class="evo-box-bdy text-left">
							<p>Good design should have a purpose&mdash;to solve actual, real-world problems either encountered by the user or desired by the business.</p>
							<hr />
							<p>To be effective, you must be able to answer "why"?</p>
							<hr />
							<p>Zoom out for a better view of the issue or problem.</p>
						</div>
					</div>
				<!-- PRINCIPLE - ENDS -->

				</div>
			</div>
			<div class="row" data-equalizer data-equalizer-mq="medium-up" data-options="equalize_on_stack: true">
				<div class="medium-6 columns">

				<!-- PRINCIPLE - BEGINS -->
					<div class="panel evo-box evo-family-categories-ctn" data-equalizer-watch>
						<div class="evo-box-circle evo-center-block">
							<i class="evo-icon-site-accessibility evo-icon-size-medium evo-center-block-vertical-element evo-center-block bp-icon" title="" aria-label=""></i>
						</div>

						<div class="evo-box-hdr evo-spacer-padding-bottom-small">
							<h5>HUMANIZE THE PRODUCT</h5>
						</div>
						<div class="evo-box-bdy text-left">
							<p>Focus on the <strong>impact</strong> of the product or solution as opposed to the product or solution itself.</p>
							<hr />
							<p>Identify the problems or issues that the user faces in a way that shows the impact the solution will have on the user.</p>
						</div>
					</div>
				<!-- PRINCIPLE - ENDS -->

				</div>
				<div class="medium-6 columns">

				<!-- PRINCIPLE - BEGINS -->
					<div class="panel evo-box evo-family-categories-ctn" data-equalizer-watch>
						<div class="evo-box-circle evo-center-block">
							<i class="evo-icon-site-search5 evo-icon-size-medium evo-center-block-vertical-element evo-center-block bp-icon" title="" aria-label=""></i>
						</div>

						<div class="evo-box-hdr evo-spacer-padding-bottom-small">
							<h5>SMALL THINGS MATTER</h5>
						</div>
						<div class="evo-box-bdy text-left">
							<p>Pay absolute attention to detail:</p>
							<ul>
								<li>What are the form defaults?</li>
								<li>What does color usage convey?</li>
								<li>Is the labeling clear and concise?</li>
							</ul>
							<hr />
							<p>The aggregation of minor items collectively enhance or degrade the overall experience.</p>
							<hr />
							<p>No aspect of the design should be arbitrary or left to chance.</p>
						</div>
					</div>
				<!-- PRINCIPLE - ENDS -->

				</div>
			</div>
			<div class="row" data-equalizer data-equalizer-mq="medium-up" data-options="equalize_on_stack: true">
				<div class="medium-6 columns">

				<!-- PRINCIPLE - BEGINS -->
					<div class="panel evo-box evo-family-categories-ctn" data-equalizer-watch>
						<div class="evo-box-circle evo-center-block">
							<i class="evo-icon-site-list-numbered evo-icon-size-medium evo-center-block-vertical-element evo-center-block bp-icon" title="" aria-label=""></i>
						</div>

						<div class="evo-box-hdr evo-spacer-padding-bottom-small">
							<h5>FACTS&mdash;INSIGHTS&mdash;ACTIONS </h5>
						</div>
						<div class="evo-box-bdy text-left">
							<p>Present the user with the <strong>Facts</strong> that are recorded in the system.</p>
							<hr />
							<p>Augment those Facts with additional <strong>Insight</strong> gleaned from data or usage.</p>
							<hr />
							<p>Give the user a clear path to their ultimate benefit by providing the <strong>Actions</strong> available to act on the Insights provided.</p>
						</div>
					</div>
				<!-- PRINCIPLE - ENDS -->

				</div>
				<div class="medium-6 columns">

				<!-- PRINCIPLE - BEGINS -->
					<div class="panel evo-box evo-family-categories-ctn" data-equalizer-watch>
						<div class="evo-box-circle evo-center-block">
							<i class="evo-icon-mobile evo-icon-size-medium evo-center-block-vertical-element evo-center-block bp-icon" title="" aria-label=""></i>
						</div>

						<div class="evo-box-hdr evo-spacer-padding-bottom-small">
							<h5>DESIGN MOBILE FIRST, BUT NOT MOBILE ONLY</h5>
						</div>
						<div class="evo-box-bdy text-left">
							<p>Design for the smallest screen first. This will sharpen the focus and limit noise.</p>
							<hr />
							<p>As screen sizes expand in real estate, take advantage of that real estate by optimizing the layout, structure, content and experience <strong>where appropriate</strong> to best support primary goals.</p>
						</div>
					</div>
				<!-- PRINCIPLE - ENDS -->

				</div>
			</div>
			<div class="row" data-equalizer data-equalizer-mq="medium-up" data-options="equalize_on_stack: true">
				<div class="medium-6 columns">

				<!-- PRINCIPLE - BEGINS -->
					<div class="panel evo-box evo-family-categories-ctn" data-equalizer-watch>
						<div class="evo-box-circle evo-center-block">
							<i class="evo-icon-site-insert-template evo-icon-size-medium evo-center-block-vertical-element evo-center-block bp-icon" title="" aria-label=""></i>
						</div>

						<div class="evo-box-hdr evo-spacer-padding-bottom-small">
							<h5>BALANCE INNOVATION WITH REUSABILITY</h5>
						</div>
						<div class="evo-box-bdy text-left">
							<p>Know when to get creative with new patterns and when to use existing, commonly-accepted design patterns.</p>
							<hr />
							<p>Good designers must navigate the fine line between using accepted patterns and innovating.</p>
							<hr />
							<p>Re-use proven solutions to baseline issues and focus design energy on the new problems.</p>
						</div>
					</div>
				<!-- PRINCIPLE - ENDS -->

				</div>
				<div class="medium-6 columns">

				<!-- PRINCIPLE - BEGINS -->
					<div class="panel evo-box evo-family-categories-ctn" data-equalizer-watch>
						<div class="evo-box-circle evo-center-block">
							<i class="evo-icon-site-bubbles evo-icon-size-medium evo-center-block-vertical-element evo-center-block bp-icon" title="" aria-label=""></i>
						</div>

						<div class="evo-box-hdr evo-spacer-padding-bottom-small">
							<h5>CONVERSATION&mdash;NOT INTERROGATION</h5>
						</div>
						<div class="evo-box-bdy text-left">
							<p>Collecting data should be done in a conversational manner.</p>
							<hr />
							<p>Limit the number of questions. Examine each question you want to ask and be critical as to whether you actually need it.</p>
							<hr />
							<p>How you ask the question is vital in determining whether the user chooses to respond.</p>
						</div>
					</div>
				<!-- PRINCIPLE - ENDS -->

				</div>
			</div>
			<div class="row" data-equalizer data-equalizer-mq="medium-up" data-options="equalize_on_stack: true">
				<div class="medium-6 columns">

				<!-- PRINCIPLE - BEGINS -->
					<div class="panel evo-box evo-family-categories-ctn" data-equalizer-watch>
						<div class="evo-box-circle evo-center-block">
							<i class="evo-icon-site-lab evo-icon-size-medium evo-center-block-vertical-element evo-center-block bp-icon" title="" aria-label=""></i>
						</div>

						<div class="evo-box-hdr evo-spacer-padding-bottom-small">
							<h5>TESTING &amp; EMPIRICAL MEASUREMENT </h5>
						</div>
						<div class="evo-box-bdy text-left">
							<p>Remember that the user is not like you!</p>
							<hr />
							<p>Start each project by understanding the opportunities for solutions to emotional issues encountered by users at various points throughout their journeys.</p>
							<hr />
							<p>Conduct user interviews.</p>
							<hr />
							<p>Set up frequent user testing sessions.</p>
							<hr />
							<p>Institute A/B testing on key areas in the design to better understand actual performance.</p>
						</div>
					</div>
				<!-- PRINCIPLE - ENDS -->

				</div>
			</div>
		</div>
	</section>
<!-- PAGE CONTENT - ENDS -->

{% endblock %}