{% layout "bp/layout" %}
{% block content %}

<!-- HERO IMAGE - BEGINS -->
	{% include "/bp/hero-banner" %}
<!-- HERO IMAGE - ENDS -->

<!-- PAGE CONTENT - BEGINS -->
	<section class="row">
		<div class="large-10 large-centered columns evo-site-family-content-ctn">
			<div class="row text-center">

				<!-- DESIGN PRINCIPLES NAV - BEGINS -->
				{% include "/bp/design-principles-nav" %}
				<!-- DESIGN PRINCIPLES NAV - ENDS -->

			</div>
			<div class="row" data-equalizer data-equalizer-mq="medium-up" data-options="equalize_on_stack: true">
				<div class="medium-6 columns">

				<!-- TENET - BEGINS -->
					<div class="panel evo-box evo-family-categories-ctn" data-equalizer-watch>
						<div class="evo-box-circle evo-center-block">
							<i class="evo-icon-mobile evo-icon-size-medium evo-center-block-vertical-element evo-center-block bp-icon" title="" aria-label=""></i>
						</div>

						<div class="evo-box-hdr evo-spacer-padding-bottom-small">
							<h5>RESPONSIVE ACROSS DEVICES</h5>
						</div>
						<div class="evo-box-bdy text-left">
							<p>Responsive design is only half the battle &mdash; optimize the experiences for each device. </p>
							<hr />
							<p>The User Experience must be "responsive" across devices &mdash; not just the code. </p>
						</div>
					</div>
				<!-- TENET - ENDS -->

				</div>
				<div class="medium-6 columns">

				<!-- TENET - BEGINS -->
					<div class="panel evo-box evo-family-categories-ctn" data-equalizer-watch>
						<div class="evo-box-circle evo-center-block">
							<i class="evo-icon-site-stairs evo-icon-size-medium evo-center-block-vertical-element evo-center-block bp-icon" title="" aria-label=""></i>
						</div>

						<div class="evo-box-hdr evo-spacer-padding-bottom-small">
							<h5>PROVIDE DISCRETE STEPS</h5>
						</div>
						<div class="evo-box-bdy text-left">
							<p>Users on mobile devices are more task oriented and have less time.</p>
							<hr />
							<p>Break the tasks into smaller chunks of "completeable" steps.</p>
						</div>
					</div>
				<!-- TENET - ENDS -->

				</div>
			</div>
			<div class="row" data-equalizer data-equalizer-mq="medium-up" data-options="equalize_on_stack: true">
				<div class="medium-6 columns">

				<!-- TENET - BEGINS -->
					<div class="panel evo-box evo-family-categories-ctn" data-equalizer-watch>
						<div class="evo-box-circle evo-center-block">
							<i class="evo-icon-site-loop2 evo-icon-size-medium evo-center-block-vertical-element evo-center-block bp-icon" title="" aria-label=""></i>
						</div>

						<div class="evo-box-hdr evo-spacer-padding-bottom-small">
							<h5>AUTHENTIC INTEGRITY WITH DESKTOP</h5>
						</div>
						<div class="evo-box-bdy text-left">
							<p>Mobile, tablet and desktop experiences don't need to be identical, but they should be aligned.</p>
							<hr />
							<p>Re-use key ingredients and patterns across devices &mdash; where applicable &mdash; in order to create an authentic similarity.</p>
						</div>
					</div>
				<!-- TENET - ENDS -->

				</div>
				<div class="medium-6 columns">

				<!-- TENET - BEGINS -->
					<div class="panel evo-box evo-family-categories-ctn" data-equalizer-watch>
						<div class="evo-box-circle evo-center-block">
							<i class="evo-icon-site-align-center-horizontal evo-icon-size-medium evo-center-block-vertical-element evo-center-block bp-icon" title="" aria-label=""></i>
						</div>

						<div class="evo-box-hdr evo-spacer-padding-bottom-small">
							<h5>DIFFERENT NAVIGATIONAL MODELS</h5>
						</div>
						<div class="evo-box-bdy text-left">
							<p>One single, responsive navigational model across devices might be cool from a development and design standpoint, but the user doesn't care about that.</p>
							<hr />
							<p>Optimize the navigational model to the device.</p>
						</div>
					</div>
				<!-- TENET - ENDS -->

				</div>
			</div>
			<div class="row" data-equalizer data-equalizer-mq="medium-up" data-options="equalize_on_stack: true">
				<div class="medium-6 columns">

				<!-- TENET - BEGINS -->
					<div class="panel evo-box evo-family-categories-ctn" data-equalizer-watch>
						<div class="evo-box-circle evo-center-block">
							<i class="evo-icon-site-grid6 evo-icon-size-medium evo-center-block-vertical-element evo-center-block bp-icon" title="" aria-label=""></i>
						</div>

						<div class="evo-box-hdr evo-spacer-padding-bottom-small">
							<h5>SINGLE COLUMN DISPLAYS</h5>
						</div>
						<div class="evo-box-bdy text-left">
							<p>Multi-column data grids don't work well on smaller screens.</p>
							<hr />
							<p>Think about converting to stacked lists for mobile devices.</p>
						</div>
					</div>
				<!-- TENET - ENDS -->

				</div>
				<div class="medium-6 columns">

				<!-- TENET - BEGINS -->
					<div class="panel evo-box evo-family-categories-ctn" data-equalizer-watch>
						<div class="evo-box-circle evo-center-block">
							<i class="evo-icon-site-paragraph-left3 evo-icon-size-medium evo-center-block-vertical-element evo-center-block bp-icon" title="" aria-label=""></i>
						</div>

						<div class="evo-box-hdr evo-spacer-padding-bottom-small">
							<h5>LESS TEXT/SHORTER LABELS</h5>
						</div>
						<div class="evo-box-bdy text-left">
							<p>Keep the text to a minimum on desktop pays off for mobile as well, since there is less screen real estate.</p>
							<hr />
							<p>The superfluous labels of ownership like "My X" and "Your X" really get in the way for mobile design.</p>
						</div>
					</div>
				<!-- TENET - ENDS -->

				</div>
			</div>
			<div class="row" data-equalizer data-equalizer-mq="medium-up" data-options="equalize_on_stack: true">
				<div class="medium-6 columns">

				<!-- TENET - BEGINS -->
					<div class="panel evo-box evo-family-categories-ctn" data-equalizer-watch>
						<div class="evo-box-circle evo-center-block">
							<i class="evo-icon-site-sort evo-icon-size-medium evo-center-block-vertical-element evo-center-block bp-icon" title="" aria-label=""></i>
						</div>

						<div class="evo-box-hdr evo-spacer-padding-bottom-small">
							<h5>SCROLLABLE SCREENS NOT AN ISSUE</h5>
						</div>
						<div class="evo-box-bdy text-left">
							<p>As with desktop, the amount of scrolling in and of itself is not a bad thing.</p>
							<hr />
							<p>Loading smaller chunks of data via "infinite scrolling" is a better user experience on mobile than forcing the user to page through data.</p>
						</div>
					</div>
				<!-- TENET - ENDS -->

				</div>
				<div class="medium-6 columns">

				<!-- TENET - BEGINS -->
					<div class="panel evo-box evo-family-categories-ctn" data-equalizer-watch>
						<div class="evo-box-circle evo-center-block">
							<i class="evo-icon-site-touch evo-icon-size-medium evo-center-block-vertical-element evo-center-block bp-icon" title="" aria-label=""></i>
						</div>

						<div class="evo-box-hdr evo-spacer-padding-bottom-small">
							<h5>CONTROLS SHOULD LOOK TAPPABLE</h5>
						</div>
						<div class="evo-box-bdy text-left">
							<p>Tappable items should have the appropriate visual affordance.</p>
							<hr />
							<p>Think about expanding the active area to account for the smaller screen size.</p>
						</div>
					</div>
				<!-- TENET - ENDS -->

				</div>
			</div>
		</div>
	</section>
<!-- PAGE CONTENT - ENDS -->

{% endblock %}