//-------------------------------------------------------------------------------------------
// Project Responsive CSS - Small Media Query - 0px - 767px
//-------------------------------------------------------------------------------------------

// SMALL MEDIA QUERY RANGE AND UP - 0px +
@media #{$small-up} {

	

}

// SMALL MEDIA QUERY RANGE - 0px - 767px
@media #{$small-only} {

	// HERO - BEGINS

		// HERO TAGLINE
		.evo-site-hero--tagline				{
											font-size: $evo-site-hero-tagline-font-size-small;
											max-width: $evo-site-hero-tagline-max-width-small;
											}

	// HERO - ENDS

	// BANDS - BEGINS

		// MARKETING BAND
		.evo-site-band--marketing			{
			.evo-site-band--marketing-content	{
				h3									{font-size: rem-calc(18);}
				.evo-site-cta-button				{margin-bottom: rem-calc(30);}
				.evo-site-band--marketing-block-grid
													{
					li									{padding-bottom: rem-calc(20);}
					h4									{
														font-size: rem-calc(16);
														margin: 0;
														}
					h5									{font-size: rem-calc(14);}
													}
												}
											}
	// BANDS - ENDS

	// REFERENCE TEMPLATE - BEGINS

		// CONTENT TABS - BEGINS
			.evo-site-tabs--reference-tabs		{
				li									{
													width: 100% !important;
					a									{
														border-top-color: $white !important;
														}
													}
				.active								{
					a									{
														background-color: $onyx-dark-20;
														color: $onyx-dark-80;
						&:hover								{
															background-color: $onyx-dark-20;
															}
														}
													}
												}
		// CONTENT TABS - ENDS

	// REFERENCE TEMPLATE - ENDS

}