//-------------------------------------------------------------------------------------------
// Project Responsive CSS - Small Media Query - 0px - 767px
//-------------------------------------------------------------------------------------------

// SMALL MEDIA QUERY RANGE AND UP - 0px +
@media #{$small-up} {

	

}

// SMALL MEDIA QUERY RANGE - 0px - 767px
@media #{$small-only} {

	/*--- SITE GLOBAL --------------------------------------------------------------------------*/

	// TYPE - BEGINS

		// HEADERS
		h1									{font-size: $evo-site-h1-font-size-small;}
		h2									{font-size: $evo-site-h2-font-size-small;}
		h3									{font-size: $evo-site-h3-font-size-small;}
		h4									{font-size: $evo-site-h4-font-size-small;}
		h5									{font-size: $evo-site-h5-font-size-small;}
		h6									{font-size: $evo-site-h6-font-size-small;}

	// TYPE - ENDS

	// HERO - BEGINS

		// HERO TAGLINE
		.evo-site-hero--tagline				{
											font-size: $evo-site-hero-tagline-font-size-small;
											max-width: $evo-site-hero-tagline-max-width-small;
											}

	// HERO - ENDS

	// BANDS - BEGINS

		// MARKETING BAND
		.evo-site-band--marketing			{
			.evo-site-band--marketing-content	{
				h3									{font-size: $evo-site-band-marketing-h3-font-size-small;}
				h6									{font-size: $evo-site-band-marketing-h6-font-size-small;}
				.evo-site-cta-button				{margin-bottom: $evo-site-band-marketing-cta-button-margin-bottom;}
				.evo-site-band--marketing-block-grid
													{
					li									{padding-bottom: $evo-site-band-marketing-block-grid-item-padding-bottom-small;}
					h4									{
														font-size: $evo-site-band-marketing-block-grid-h4-font-size-small;
														margin: $evo-site-band-marketing-block-grid-h4-margin-small;
														}
					h5									{font-size: $evo-site-band-marketing-block-grid-h5-font-size-small;}
													}
												}
											}

		// TAB BAND
		.evo-site-band--tab					{
			.evo-site-band--tab-hdr				{
				.evo-site-band--tab-hdr-tab			{
													padding: $evo-site-band-tab-hdr-tab-padding-small;
					h3									{font-size: $evo-site-band-tab-hdr-tab-h3-font-size-small;}
													}
												}
											}

	// BANDS - ENDS


	/*--- REFERENCES PAGES ---------------------------------------------------------------------*/
	
	// REFERENCE TEMPLATE - BEGINS

		// CONTENT TABS - BEGINS
			.evo-site-tabs--reference-tabs		{
				li									{
													width: 100% !important;
					a									{
														border-top-color: $white !important;
														}
													}
				.active								{
					a									{
														background-color: $onyx-dark-20;
														color: $onyx-dark-80;
						&:hover								{
															background-color: $onyx-dark-20;
															}
														}
													}
												}
		// CONTENT TABS - ENDS

	// REFERENCE TEMPLATE - ENDS

}