//-------------------------------------------------------------------------------------------
// Project Responsive CSS - Large Media Query - 1025px - 1440px
//-------------------------------------------------------------------------------------------

// LARGE MEDIA QUERY RANGE AND UP - 1025px +
@media #{$large-up} {

	/*--- SITE GLOBAL --------------------------------------------------------------------------*/

	// LAYOUTS - BEGINS
	
		// MAIN BODY SECTION
		[role="main"]						{min-height: $evo-site-main-section-min-height;}

	// LAYOUTS - ENDS

	// HEADER - BEGINS
		.evo-site-header					{

			// TOP BAR
			.evo-top-bar						{
				.title-area							{
					.name								{
						h1									{
							.evo-top-bar-sub-name				{font-family: $evo-site-header-sub-name-font-family;}
															}
														}
													}
				.top-bar-section					{
					ul									{
						li									{
							> .evo-site-header--cta-whats-new	{
								[class^="evo-icon-"]				{left: 0;}
																}
															}
														}
													}
												}

											}
	// HEADER - ENDS

	// HERO - BEGINS

		// HERO BANNER
		.evo-site-hero						{
											height: ($evo-site-hero-height*8);
			&[data-evo-site-hero-size="4x-large"]{height: ($evo-site-hero-height*7);}
			&[data-evo-site-hero-size="5x-large"]{height: ($evo-site-hero-height*8);}
			&[data-evo-site-hero-size="6x-large"]{height: ($evo-site-hero-height*9);}
			&[data-evo-site-hero-size="7x-large"]{height: ($evo-site-hero-height*10);}
											}

		// HERO HEADER
		.evo-site-hero--hdr					{
			&[data-evo-site-hero-hdr-size="small"]
												{
												font-size: $evo-site-hero-hdr-font-size;
												line-height: $evo-site-hero-hdr-line-height;
												letter-spacing: $evo-site-hero-hdr-letter-spacing;
												padding: $evo-site-hero-hdr-padding;
												}
			&[data-evo-site-hero-hdr-size="medium"]
												{
												font-size: ($evo-site-hero-hdr-font-size*2);
												line-height: ($evo-site-hero-hdr-font-size*2.25);
												letter-spacing: $evo-site-hero-hdr-letter-spacing-medium;
												padding: $evo-site-hero-hdr-padding-medium;
												}
			&[data-evo-site-hero-hdr-size="large"]
												{
												font-size: ($evo-site-hero-hdr-font-size*3);
												line-height: ($evo-site-hero-hdr-font-size*3.25);
												letter-spacing: $evo-site-hero-hdr-letter-spacing-medium;
												padding: $evo-site-hero-hdr-padding-medium;
												}
			&[data-evo-site-hero-hdr-size="x-large"]
												{
												font-size: ($evo-site-hero-hdr-font-size*4);
												line-height: ($evo-site-hero-hdr-font-size*4.1);
												letter-spacing: $evo-site-hero-hdr-letter-spacing-large;
												padding: $evo-site-hero-hdr-padding-large;
												}
											}

		// HERO TAGLINE
		.evo-site-hero--tagline				{max-width: $evo-site-hero-tagline-max-width-large;}

	// HERO - ENDS


	/*--- PATTERN LIBRARY PAGES ----------------------------------------------------------------*/
	
	// PATTERN LIBRARY TEMPLATE - BEGINS

		// PATTERN LIBRARY HOMEPAGE - BEGINS
			.evo-site-band--pattern-library		{
				.evo-site-band--tab-panel			{
													background-image: url($evo-site-pattern-library-band-tab-panel-background-image);
													background-repeat: $evo-site-pattern-library-band-tab-panel-background-repeat;
													background-size: $evo-site-pattern-library-band-tab-panel-background-size;
													background-position: $evo-site-pattern-library-band-tab-panel-background-position;
					.evo-site-band--tab-panel-marketing-content
														{
														border-color: $evo-site-pattern-library-band-tab-panel-marketing-content-keyline-border-color;
														padding: $evo-site-pattern-library-band-tab-panel-marketing-content-padding-large;
														}
													}
												}
		// PATTERN LIBRARY HOMEPAGE - ENDS

	// PATTERN LIBRARY TEMPLATE - ENDS

}

// LARGE MEDIA QUERY RANGE - 1025px - 1440px
@media #{$large-only} {

	
				
}