//-------------------------------------------------------------------------------------------
// Project Responsive CSS - Medium Media Query - 768px - 1024px
//-------------------------------------------------------------------------------------------

// MEDIUM MEDIA QUERY RANGE AND UP - 768px +
@media #{$medium-up} {

	// HERO - BEGINS

		// HERO BANNER
		.evo-site-hero						{
											height: ($evo-site-hero-height*6);
			&[data-evo-site-hero-size="x-large"]{height: ($evo-site-hero-height*4);}
			&[data-evo-site-hero-size="xx-large"]{height: ($evo-site-hero-height*5);}
			&[data-evo-site-hero-size="3x-large"]{height: ($evo-site-hero-height*6);}
											}

		// HERO HEADER
		.evo-site-hero--hdr					{
											font-size: ($evo-site-hero-hdr-font-size*3);
											line-height: ($evo-site-hero-hdr-font-size*3.25);
											letter-spacing: $evo-site-hero-hdr-letter-spacing-medium;
											padding: $evo-site-hero-hdr-padding-medium;
											}

		// HERO TAGLINE
		.evo-site-hero--tagline				{
											max-width: $evo-site-hero-tagline-max-width-medium;
											}

	// HERO - ENDS

	// BANDS - BEGINS
	
		// DEFAULT BAND
		.evo-site-band						{padding: $evo-site-band-padding-medium;}

		// MARKETING BAND
		.evo-site-band--marketing			{
			.evo-site-band--marketing-content	{
				h3									{margin-bottom: rem-calc(80);}
				h6									{margin-bottom: rem-calc(80);}
				.evo-site-band--marketing-block-grid
													{
					h5									{margin-top: rem-calc(20);}
													}
												}
											}
	// BANDS - ENDS

}

// MEDIUM MEDIA QUERY RANGE - 768px - 1024px
@media #{$medium-only} {					

	// REFERENCE TEMPLATE - BEGINS

		// CONTENT TABS - BEGINS
			.evo-site-tabs-content--reference-content
												{
				.evo-keyline-right					{border: 0;}
												}
		// CONTENT TABS - ENDS

	// REFERENCE TEMPLATE - BEGINS

}