//-------------------------------------------------------------------------------------------
// Project Responsive CSS - Medium Media Query - 768px - 1024px
//-------------------------------------------------------------------------------------------

// MEDIUM MEDIA QUERY RANGE AND UP - 768px +
@media #{$medium-up} {

	/*--- SITE GLOBAL --------------------------------------------------------------------------*/

	// HERO - BEGINS

		// HERO BANNER
		.evo-site-hero						{
											height: ($evo-site-hero-height*6);
			&[data-evo-site-hero-size="x-large"]{height: ($evo-site-hero-height*4);}
			&[data-evo-site-hero-size="xx-large"]{height: ($evo-site-hero-height*5);}
			&[data-evo-site-hero-size="3x-large"]{height: ($evo-site-hero-height*6);}
											}

		// HERO TAGLINE
		.evo-site-hero--tagline				{
											max-width: $evo-site-hero-tagline-max-width-medium;
											}

	// HERO - ENDS

	// BANDS - BEGINS
	
		// DEFAULT BAND
		.evo-site-band						{padding: $evo-site-band-padding-medium;}

		// MARKETING BAND
		.evo-site-band--marketing			{
			.evo-site-band--marketing-content	{
				h3									{margin-bottom: $evo-site-band-marketing-h3-margin-bottom-medium;}
				h6									{margin-bottom: $evo-site-band-marketing-h6-margin-bottom-medium;}
				.evo-site-band--marketing-block-grid
													{
					h5									{margin-top: $evo-site-band-marketing-block-grid-h5-margin-top-medium;}
													}
												}
											}

		// TESTIMONIALS BAND
		.evo-site-band--testimonials		{
			blockquote							{
												padding-left: rem-calc(40);
												padding-right: rem-calc(40);
				p									{
													font-size: rem-calc(26);
					&:before,
					&:after								{font-size: rem-calc(26);}
					&:before							{
														top: -2px;
														left: -36px;
														}
					&:after								{bottom: -2px;}
													}
												}
											}

		// TAB BAND
		.evo-site-band--tab					{
			.evo-site-band--tab-panel			{
				.evo-site-band--tab-panel-marketing-content
													{
					h1, h2, h3, h4, h5, h6				{margin: $evo-site-band-tab-panel-marketing-content-header-margin-medium;}
					h3									{font-size: $evo-site-band-tab-panel-marketing-content-header-h3-font-size;}
					p									{
														font-size: $evo-site-band-tab-panel-marketing-content-paragraph-font-size-medium;
														margin-bottom: $evo-site-band-tab-panel-marketing-content-paragraph-margin-bottom-medium;
														}
													}
												}
											}

	// BANDS - ENDS


	/*--- PATTERN LIBRARY PAGES ----------------------------------------------------------------*/
	
	// PATTERN LIBRARY TEMPLATE - BEGINS

		// PATTERN LIBRARY HOMEPAGE - BEGINS
			.evo-site-band--pattern-library		{
				.evo-site-band--tab-panel			{
													padding: $evo-site-pattern-library-band-tab-panel-padding;
					.evo-site-band--tab-panel-marketing-content
														{padding: $evo-site-pattern-library-band-tab-panel-marketing-content-padding;}
													}
												}
		// PATTERN LIBRARY HOMEPAGE - ENDS

	// PATTERN LIBRARY TEMPLATE - ENDS


	/*--- WHAT IS PAGE -------------------------------------------------------------------------*/

	// TAB BAND - BEGINS
		.evo-site-band--what				{
			.evo-site-band--tab-panel			{padding: $evo-site-what-is-band-tab-panel-padding;}
											}
	// TAB BAND - ENDS


	/*--- WHY EVOLUTION PAGE -------------------------------------------------------------------------*/

	// BAND - BEGINS
		.evo-site-band--why					{
											padding: rem-calc(0 0 280 0) !important;
			.evo-site--why-content-section		{
												padding: rem-calc(120 0 0 0);
				.evo-center-block-vertical			{width: 100%;}
				.evo-keyline-left					{
													padding: rem-calc(10 0 10 20);
													border-color: $evo-site-why-band-keyline-border-color;
													}
												}
											}
	// BAND - ENDS

}

// MEDIUM MEDIA QUERY RANGE - 768px - 1024px
@media #{$medium-only} {

	/*--- SITE GLOBAL --------------------------------------------------------------------------*/

	// HERO - BEGINS

		// HERO HEADER
		.evo-site-hero--hdr					{
			&[data-evo-site-hero-hdr-size="small"]
												{
												font-size: $evo-site-hero-hdr-font-size;
												line-height: $evo-site-hero-hdr-line-height;
												letter-spacing: $evo-site-hero-hdr-letter-spacing;
												padding: $evo-site-hero-hdr-padding;
												}
			&[data-evo-site-hero-hdr-size="medium"]
												{
												font-size: ($evo-site-hero-hdr-font-size*1.5);
												line-height: ($evo-site-hero-hdr-font-size*1.75);
												letter-spacing: $evo-site-hero-hdr-letter-spacing;
												padding: $evo-site-hero-hdr-padding;
												}
			&[data-evo-site-hero-hdr-size="large"]
												{
												font-size: ($evo-site-hero-hdr-font-size*2);
												line-height: ($evo-site-hero-hdr-font-size*2.25);
												letter-spacing: $evo-site-hero-hdr-letter-spacing-medium;
												padding: $evo-site-hero-hdr-padding-medium;
												}
			&[data-evo-site-hero-hdr-size="x-large"]
												{
												font-size: ($evo-site-hero-hdr-font-size*3);
												line-height: ($evo-site-hero-hdr-font-size*3.25);
												letter-spacing: $evo-site-hero-hdr-letter-spacing-medium;
												padding: $evo-site-hero-hdr-padding-medium;
												}
											}
	// HERO - ENDS			


	/*--- PATTERN LIBRARY PAGES ----------------------------------------------------------------*/
	
	// PATTERN LIBRARY TEMPLATE - BEGINS

		// PATTERN LIBRARY HOMEPAGE - BEGINS
			.evo-site-band--pattern-library		{
				.evo-site-band--tab-panel			{
					.evo-site-band--tab-panel-marketing-content
														{border-left: 0;}
													}
												}
		// PATTERN LIBRARY HOMEPAGE - ENDS

		// CONTENT TABS - BEGINS
			.evo-site-tabs-content--pattern-library-content
												{
				.evo-keyline-right					{border: 0;}
												}
		// CONTENT TABS - ENDS

	// PATTERN LIBRARY TEMPLATE - BEGINS


	/*--- HELPERS PAGE -------------------------------------------------------------------------*/

	// KEYLINE DEMO - BEGINS
	.evo-site--helpers-keyline-example		{
		.evo-keyline-right						{
												border-right-width: 1px;
												border-right-style: solid;
												border-right-color: $onyx-dark-30;
												}
											}
	// KEYLINE DEMO - ENDS


	/*--- WHAT IS PAGE -------------------------------------------------------------------------*/

	// TAB BAND - BEGINS
		.evo-site-band--what				{
			.evo-keyline-left					{border: 0;}
											}
	// TAB BAND - ENDS


	/*--- WHY EVOLUTION PAGE -------------------------------------------------------------------------*/

	// BAND - BEGINS
		.evo-site-band--why					{padding: rem-calc(0 0 400 0) !important;}
	// BAND - ENDS

}