<footer class="mul-footer">

	<!-- LOGIN LAYOUT - FOOTER - BEGINS -->
	<div class="mul-layout-login-footer-bkgd mul-hidden-small-mediaquery"></div>
	<div class="mul-grid mul-layout-login-footer">
		<div class="col-24">
			<div class="col-5 first mul-layout-login-footer-logo">
				<img src="{{ "mercer_logo_reverse_126x18.png" | asset_url }}" alt="Mercer" width="126" height="18" />
			</div>
			<div class="col-19 mul-layout-login-footer-copyright">
				<ul class="mul-horizontal-list mul-horizontal-list-piped">
					<li><a href="javascript:;">Contact Us</a></li>
					<li><a href="javascript:;">Help</a></li>
					<li><a href="javascript:;">Security</a></li>
					<li><a href="javascript:;">Terms Of Use</a></li>
					<li class="mul-layout-login-footer-copyright-text">&copy; {{ 'now' | date: "%Y" }} Mercer LLC, All Rights Reserved</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- LOGIN LAYOUT - FOOTER - ENDS -->

</footer>