//-------------------------------------------------------------------------------------------
// Mercer Evolution - Responsive CSS - Small Media Query - 0px - 767px
// DATE - June 3, 2015
// AUTHOR - Doug Fraize, Matthew Holmes
//-------------------------------------------------------------------------------------------

// SMALL MEDIA QUERY RANGE AND UP - 0px +
@media #{$small-up} {

}

// SMALL MEDIA QUERY RANGE - 0px - 767px
@media #{$small-only} {

	// FAMILY GLOBAL - BEGINS

		// COMPONENT ANCHOR ADJUST - BEGINS
			.evo-site-component-anchor-adjust
										{
										height: 0;
										margin-top: 0;
										}
		// COMPONENT ANCHOR ADJUST - ENDS

		// BUTTON GROUP NAV - BEGINS
			.evo-site-button-group-nav	{
				&.button-group.radius > *	{
											display: block;
											}
				&.button-group.radius > *:first-child > a
											{
											@include border-radius($global-radius $global-radius 0 0);
											}
				&.button-group.radius > *:last-child > a
											{
											@include border-radius(0 0 $global-radius $global-radius);
											}
				li							{
											padding: 0 rem-calc(15);
					.evo-button					{
												background-color: $white;
												border-top: 2px solid $sapphire-bright !important;
												border-right: 2px solid $sapphire-bright !important;
												border-bottom: 0 !important;
												border-left: 2px solid $sapphire-bright !important;
												display: block;
												min-width: rem-calc(260);
												margin: 0 auto;
												}
					&:last-child				{
						.evo-button					{
													border-bottom: 2px solid $sapphire-bright !important;
													}
												}

											}
										}
		// BUTTON GROUP NAV - ENDS

		// FAMILY BUTTON GROUP NAV - BEGINS
			.evo-site-family-button-group-nav
										{
										margin-bottom: rem-calc(20);
										}
		// FAMILY BUTTON GROUP NAV - ENDS

	// FAMILY GLOBAL - ENDS


	// FOOTER - BEGINS

		// HOMPAGE FOOTER - BEGINS
			.evo-site-hp-footer			{
										position: fixed;
										bottom: 0;
										}
		// HOMPAGE FOOTER - ENDS

	// FOOTER - ENDS


	// TEMPLATE PAGE - BEGINS

		// HERO & LARGE HERO IMAGE & TEXT - BEGINS
			.evo-site-hero-ctn,
			.evo-site-large-hero-ctn	{
										background-image: none !important;
				.row						{
					div							{min-height: rem-calc(190);}
											}
										}

			.evo-site-hero-text,
			.evo-site-large-hero-text	{
										font-size: rem-calc(20);
										letter-spacing: rem-calc(4.5);
										line-height: rem-calc(30);
										top: 50px;
										}
		// HERO & LARGE HERO IMAGE & TEXT - ENDS

		// BASIC CONTENT CONTAINER - BEGINS
			.evo-site-basic-content-ctn	{
										margin-top: rem-calc(15);
										}
		// BASIC CONTENT CONTAINER - ENDS

		// FAMILY CONTENT CONTAINER - BEGINS
			.evo-site-family-content-ctn
										{
										margin-top: rem-calc(18);
										}
		// FAMILY CONTENT CONTAINER - BEGINS

	// TEMPLATE PAGE - ENDS


	// CATEGORY PAGE TEMPLATE - BEGINS

		// SECTION SPACING - BEGINS
			.evo-site-example-section	{
										padding-bottom: 0;
										}
		// SECTION SPACING - BEGINS

		// TABLE OF CONTENT - BEGIN
			.evo-site-table-content-ctn	{
										margin-bottom: 0 !important;
				.evo-site-table-contents	{
											padding: rem-calc(40 0 15 0);
											}
										}
		// TABLE OF CONTENT - ENDS

		// COMPONENT GROUP LAYOUT - BEGINS
			.evo-site-component-group-ctn
										{
										margin-top: rem-calc(30);
										margin-bottom: rem-calc(30);
										}
		// COMPONENT GROUP LAYOUT - ENDS

		// CATEGORY PAGES TABS - BEGINS
			.evo-tabs-titles-category-pages
										{
										float: none;
										margin-left: rem-calc(-15);
										}
		// CATEGORY PAGES TABS - ENDS

	// CATEGORY PAGE TEMPLATE - ENDS


	// FAMILY LANDING TEMPLATE - BEGINS

		// FAMILY LANDING TEMPLATE GLOBAL - BEGINS
			.evo-family-categories-ctn	{
										margin-top: rem-calc(40);
										margin-bottom: rem-calc(20);
										}
		// FAMILY LANDING TEMPLATE GLOBAL - ENDS

	// FAMILY LANDING TEMPLATE - ENDS

}

// SMALL MEDIA QUERY RANGE AND PORTRAIT - 0px - 767px
@media #{$small-up} and (orientation: portrait)	{

	// HOME PAGE - BEGINS

		// PARALLAX SCROLLING  - BEGINS

			.evo-home-scroll-section-welcome		
										{																
				.evo-home-welcome 			{
					h3							{
												margin-bottom: rem-calc(20);  
												}
											}
									    }

		// PARALLAX SCROLLING  - ENDS

	// HOME PAGE - ENDS
}

// SMALL MEDIA QUERY RANGE AND LANDSCAPE - 0px - 767px
@media #{$small-up} and (orientation:landscape)	{
	// HOME PAGE - BEGINS

		// PARALLAX SCROLLING  - BEGINS

			.evo-home-scroll-section-welcome
										{ 
										height: rem-calc(250);  
										}																					

			.evo-home-scroll-section-about	
										{ 
										height: rem-calc(525);  													
										}

			.evo-home-scroll-section-families
										{
										height: rem-calc(500);  													

				.evo-home-families 			{
											height: rem-calc(500);  													
											}
										}

			.evo-home-scroll-section-front-end		
										{ 
										height: rem-calc(700);
										}	

		// PARALLAX SCROLLING  - ENDS

		// HOME PAGE HEADERS - BEGINS									

			.evo-home-headers-box-welcome
										{
										width: rem-calc(540);
										padding: rem-calc(15) 0 rem-calc(10) rem-calc(5);
										margin: rem-calc(-45) 0 rem-calc(40) 0;

				.evo-home-headers-welcome 	{
											font-size: rem-calc(42);
											line-height: rem-calc(30);
											} 
										}

			.evo-home-headers-box-families
										{
										width: rem-calc(540);
										padding: rem-calc(10) 0 rem-calc(10) rem-calc(5);

				.evo-home-headers-families	{
											font-size: rem-calc(42);
											}
										}												

			.evo-home-headers-box-front-end
											{
											width: rem-calc(410);
											padding: rem-calc(5) 0 0 rem-calc(5);	
													
				.evo-home-headers-front-end		{
												font-size: rem-calc(42);
												line-height: rem-calc(40)
												}
											}
																						
		// HOME PAGE HEADERS - ENDS									
	
//HOME PAGE - ENDS
}