//-------------------------------------------------------------------------------------------
// Mercer Evolution - Responsive CSS - Medium Media Query - 768px - 1024px
// DATE - June 3, 2015
// AUTHOR - Doug Fraize, Matthew Holmes
//-------------------------------------------------------------------------------------------

// MEDIUM MEDIA QUERY RANGE AND UP - 768px +
@media #{$medium-up} {

	// HOME PAGE - BEGINS

		// PARALLAX SCROLLING  - BEGINS

			.evo-home-scroll-section-welcome		
										{
										height: rem-calc(541);  
																			
				.evo-home-welcome 			{
											height: rem-calc(500); 
											}

								    	}

			.evo-home-scroll-section-about		
										{
										height: rem-calc(670);

				.evo-home-about 			{
											height: rem-calc(670);   
											padding: rem-calc(100) 0 0 0;
											}
										}

			.evo-home-scroll-section-families	
										{
										height: rem-calc(860); 

				.evo-home-families			{
											height: rem-calc(860);
											padding: rem-calc(100) 0 0 0;
											margin-top: 0;
					h5 							{							
												font-size: rem-calc(14);
												}
											}
										}

			.evo-home-scroll-section-benefits
										{
										height: rem-calc(800); 

				.evo-home-benefits			{
											height: rem-calc(800); 
											padding: rem-calc(100) 0 0 0; 
											}
										}

			.evo-home-scroll-section-front-end		
										{ 
										height: rem-calc(745);

				.evo-home-front-end 		{ 
											height: rem-calc(745);
											padding: rem-calc(180) 0 0 0;
											margin-top: 0;
											}																			    
							    		}

		// PARALLAX SCROLLING  - ENDS

		// ICONS WITH CIRCLES - BEGINS
		
			.evo-box-circle-home		{
										margin-top: rem-calc(-38) !important;
										}

			.evo-box-circle-home-button	{
										width: rem-calc(125);
										height: rem-calc(125) !important;
										margin: rem-calc(40) auto;											 										
				[class^=evo-icon-]			{
											margin-bottom: rem-calc(60);
											margin-top: rem-calc(15);
											font-size: (1rem*4);												
											}
										}																					

		// ICONS WITH CIRCLES - ENDS

		// HOME PAGE HEADERS - BEGINS									

			.evo-home-article-headers 	{
				h3							{
											font-size: rem-calc(26);																	
											}
				h2							{
											font-size: rem-calc(32);																	
											}
										}

			.evo-home-headers-box-welcome	
										{
										width: rem-calc(970);
										margin: rem-calc(50) 0 rem-calc(40) 0;
										text-align: center;									
										letter-spacing: rem-calc(9.0) !important;
										padding: 0 0 rem-calc(24) rem-calc(5);
										
				.evo-home-headers-welcome 	{
											font-size: rem-calc(80);
											margin: rem-calc(30) 0 0 rem-calc(5);
											letter-spacing: rem-calc(12) !important;
											line-height: rem-calc(30);													    												
											}  																																										
										}																			
		
			.evo-home-headers-box-families	
										{
										width: rem-calc(631);
										height: rem-calc(55);
										margin: 0 0 rem-calc(40) 0;									
										letter-spacing: rem-calc(9.0) !important;
										padding: 0 0 0 rem-calc(5);

				.evo-home-headers-families	{
											font-size: rem-calc(46);
											letter-spacing: rem-calc(12) !important;
											padding: 0px;
											margin-top: 0px !important;
											line-height: rem-calc(53);
											margin: rem-calc(40) 0 0 rem-calc(5);
											}
										}

			.evo-home-headers-box-front-end	
										{
										width: rem-calc(862);
										border: 2px solid $white;
										margin: rem-calc(-10) 0 rem-calc(40) 0;
										text-align: center;
										font-family: $evo-font-medium-family !important;
										text-transform: uppercase;											
										letter-spacing: rem-calc(9.0) !important;
										padding: rem-calc(5) 0 0 rem-calc(5);

				.evo-home-headers-front-end	{
											font-size: rem-calc(46);
											letter-spacing: rem-calc(12) !important;
											padding: 0px;
											color: $white !important;
											margin-top: 0px !important;
											line-height: rem-calc(53);
											text-align: center;
											margin: rem-calc(40) 0 0 rem-calc(5);
											display: inline-block;	
											}																					
										}									

		// HOME PAGE HEADERS - ENDS

		// LEARN MORE BUTTONS - BEGINS										

			.evo-button-learn-more-home		
										{
										margin-bottom: rem-calc(180);
										}

		// LEARN MORE BUTTONS - ENDS

		// HOME PAGE GRIDS - BEGINS

			.evo-home-grid-about		{
										margin-top: rem-calc(40);
										text-align: center;
										line-height: rem-calc(24) !important;										
				h4 							{
											font-size: rem-calc(22);
											margin-bottom: rem-calc(15);
											text-align: center;												
											}
				[class*='evo-icon']			{
											font-size: rem-calc(84);					
											margin: 0 0 rem-calc(40) 0;
											float: none;										
											}
										}

			.evo-home-grid-front-end	{
										margin: rem-calc(50) auto;											
				h5 							{
											font-size: 80%;
											margin: rem-calc(30) 0 rem-calc(30) 0;
											}
										}

		// HOME PAGE GRIDS - ENDS

		// HOME PAGE CAROUSEL - BEGINS

			.evo-carousel-home				{
										margin: rem-calc(100) 0 rem-calc(20) 0;

			.evo-carousel-box				{
											margin-top: rem-calc(100);
											height: rem-calc(400);
				h4 								{
												margin-top: rem-calc(40);
												text-align: left;
												padding-left: rem-calc(30);
												}		
				p 								{
												text-align: left;
												padding-left: rem-calc(30);
												padding-right: rem-calc(15);
												}							
											}
										}

		// HOME PAGE CAROUSEL - ENDS

	// HOME PAGE - ENDS
}

// MEDIUM MEDIA QUERY RANGE AND UP AND PORTRAIT - 768px +

@media #{$medium-up} and (orientation: portrait) {

	// HOME PAGE - BEGINS

		// PARALLAX SCROLLING  - BEGINS
		
			.evo-home-scroll-section-welcome		
										{
										height: rem-calc(577);  
																			
				.evo-home-welcome 			{
											height: rem-calc(550); 
											}
								    	}

			.evo-home-scroll-section-front-end					
										{
										height: rem-calc(760);

				.evo-home-front-end 		{ 
											height: rem-calc(745);
											padding: rem-calc(100) 0 0 0;
											margin-top: 0;
											}												
										}								    						

		// PARALLAX SCROLLING  - ENDS

		// HOME PAGE HEADERS - BEGINS				

			.evo-home-headers-box-welcome
										{
										width: rem-calc(580);
										margin: rem-calc(30) 0 rem-calc(50) 0;
										text-align: center;									
										letter-spacing: rem-calc(9.0) !important;
										padding: 0 0 rem-calc(24) rem-calc(5);

				.evo-home-headers-welcome 	{
											font-size: rem-calc(80);
											line-height: rem-calc(75);
											margin: rem-calc(30) 0 0 rem-calc(5);
											letter-spacing: rem-calc(12) !important;													    												
											} 																																								
										}


			.evo-home-headers-box-front-end
										{
										width: rem-calc(475);
										border: 2px solid $white;
										margin: rem-calc(10) 0 rem-calc(40) 0;
										text-align: center;
										font-family: $evo-font-medium-family !important;
										text-transform: uppercase;											
										letter-spacing: rem-calc(9.0) !important;
										padding: rem-calc(5) 0 0 rem-calc(5);
										
				.evo-home-headers-front-end	{
											font-size: rem-calc(46);
											letter-spacing: rem-calc(12) !important;
											padding: 0px;
											color: $white !important;
											margin-top: 0px !important;
											line-height: rem-calc(53);
											text-align: center;
											margin: rem-calc(40) 0 0 rem-calc(5);
											display: inline-block;	
											}																				
										}									

		// HOME PAGE HEADERS - ENDS										

	// HOME PAGE - ENDS
}



// MEDIUM MEDIA QUERY RANGE - 768px - 1024px
@media #{$medium-only} {

	// FAMILY GLOBAL - BEGINS

		// COMPONENT ANCHOR ADJUST - BEGINS
			.evo-site-component-anchor-adjust
										{
										height: 0;
										margin-top: 0;
										}
		// COMPONENT ANCHOR ADJUST - ENDS

		// FAMILY BUTTON GROUP NAV - BEGINS
			.evo-site-family-button-group-nav
										{
										margin-bottom: rem-calc(60);
										}
		// FAMILY BUTTON GROUP NAV - ENDS

	// FAMILY GLOBAL - ENDS


	// FOOTER - BEGINS

		// FOOTER GLOBAL - BEGINS
			.evo-footer					{
										margin-top: rem-calc(60);
										}
		// FOOTER GLOBAL - ENDS

	// FOOTER - ENDS


	// TEMPLATE PAGE - BEGINS

		// HERO IMAGE & TEXT - BEGINS
			.evo-site-hero-text			{
										font-size: rem-calc(40);
										line-height: rem-calc(40);
										padding: rem-calc(12 10 9 15);
										top: 122px;
										}
		// HERO IMAGE & TEXT - ENDS

		// LARGE HERO IMAGE & TEXT - BEGINS
			.evo-site-large-hero-text	{
										font-size: rem-calc(46);
										line-height: rem-calc(46);
										padding: rem-calc(12 10 9 15);
										top: 236px;
										}
		// LARGE HERO IMAGE & TEXT - ENDS

		// BASIC CONTENT CONTAINER - BEGINS
			.evo-site-basic-content-ctn	{
										margin-top: rem-calc(15);
										}
		// BASIC CONTENT CONTAINER - ENDS

		// FAMILY CONTENT CONTAINER - BEGINS
			.evo-site-family-content-ctn
										{
										margin-top: rem-calc(20);
										}
		// FAMILY CONTENT CONTAINER - BEGINS

	// TEMPLATE PAGE - ENDS


	// CATEGORY PAGE TEMPLATE - BEGINS

		// SECTION SPACING - BEGINS
			.evo-site-example-section	{
										padding-bottom: 0;
										}
		// SECTION SPACING - BEGINS

		// TABLE OF CONTENT - BEGIN
			.evo-site-table-content-ctn	{
										margin-bottom: 0 !important;
				.evo-site-table-contents	{
											padding: rem-calc(40 0 15 0);
											}
										}
		// TABLE OF CONTENT - ENDS

		// COMPONENT GROUP LAYOUT - BEGINS
			.evo-site-component-group-ctn
										{
										margin-top: rem-calc(60);
										margin-bottom: rem-calc(60);
										}
		// COMPONENT GROUP LAYOUT - ENDS

	// CATEGORY PAGE TEMPLATE - ENDS	


	// FAMILY LANDING TEMPLATE - BEGINS

		// FAMILY LANDING TEMPLATE GLOBAL - BEGINS
			.evo-family-categories-ctn
										{
										margin-bottom: rem-calc(60);
										}
		// FAMILY LANDING TEMPLATE - ENDS

	// FAMILY LANDING TEMPLATE - ENDS

}