//-------------------------------------------------------------------------------------------
// Mercer Evolution - Responsive CSS - Medium Media Query - 768px - 1024px
// DATE - June 3, 2015
// AUTHOR - Doug Fraize, Matthew Holmes
//-------------------------------------------------------------------------------------------

// MEDIUM MEDIA QUERY RANGE AND UP - 768px +
@media #{$medium-up} {

	

}

// MEDIUM MEDIA QUERY RANGE - 768px - 1024px
@media #{$medium-only} {					

	/*--- HOME PAGE -----------------------------------------------------------------------*/

	// MARKETING SECTION - HOMEPAGE
	.marketing-ctn							{
		.img-section							{border-bottom: 0;}
		.mkt-text								{
			h1										{
													margin-top: 40px;
				span									{display: inline-block;}
													}
			.evo-icon-adv							{
													margin-top: 35px;
													margin-right: 80px;
													}
												}
											}

	/*--- TYPE PAGE ------------------------------------------------------------------------*/
	.evo-ref-type-table						{
		td.evo-ref-type-example					{font-size: 1rem !important;}
											}

}