//-------------------------------------------------------------------------------------------
// Mercer Evolution - Site Responsive CSS - Large Media Query - 980px+
// DATE - June 13, 2014
// AUTHOR - Doug Fraize, Matthew Holmes, Vinod Bhatt
//-------------------------------------------------------------------------------------------

// Landscape iPad, laptops and desktops
@include media-query(screen, min, $largeMediaQueryBreakpointMin, "") {

	/*--- REFERENCE PAGES -----------------------------------------------------------------*/

	// ALTERNATE VIEWS BADGE
	.mul-ref-alternate-views-badge.ui-tabs
											{
		.mul-btn-group-horizontal				{
			.mul-btn								{
				a										{
														padding: 8px 9px 5px 9px;
					[class^="mul-icon-"]					{display: none;}
														}
													}
												}
											}

	// DEVELOPER - SLIDING DRAWER
	.mul-ref-sliding-drawer					{
		.mCustomScrollbar						{padding-top: 97px;}
											}


	/*--- HOME PAGE -----------------------------------------------------------------------*/

	// MARKETING SECTION - HOMEPAGE
	.marketing-ctn							{
		.img-section							{border-bottom: 0;}
		.mkt-text								{
			h1										{
													margin-top: 40px;
				span									{display: inline-block;}
													}
			.mul-icon-adv							{
													display: block;
													margin-top: 35px;
													margin-right: 232px;
													}
												}
											}

	/*--- TYPE PAGE -----------------------------------------------------------------------*/
	.mul-ref-type-table						{
		td.mul-ref-type-example					{font-size: $baseFontSizeLargeBreakpoint !important;}
											}

	/*--- ICONS PAGE ----------------------------------------------------------------------*/
	#icons-ctn								{
		#icon-font-filter						{width: 100%;}
											}
												
}