//-------------------------------------------------------------------------------------------
// Mercer Evolution - Responsive CSS - Large Media Query - 1025px - 1440px
// DATE - June 3, 2015
// AUTHOR - Doug Fraize, Matthew Holmes
//-------------------------------------------------------------------------------------------

// LARGE MEDIA QUERY RANGE AND UP - 1025px +
@media #{$large-up} {

	// FAMILY LANDING TEMPLATE STYLES - BEGINS

		// DOWNLOAD SECTION - BEGINS
			.evo-site-download-ctn		{
				.evo-box					{
											margin-bottom: 0;
					.evo-box-bdy				{
						.evo-site-button			{margin-bottom: 0;}
												}
											}
										}
		// DOWNLOAD SECTION - ENDS

	// FAMILY LANDING TEMPLATE STYLES - ENDS

	// HOME PAGE - BEGINS

		// PARALLAX SCROLLING  - BEGINS

			.evo-home-scroll-section-welcome		
										{ 
										height: rem-calc(912);  

				.evo-home-welcome 			{ 
											background: url("../images/home/hero-welcome-triangles.png") no-repeat scroll center top transparent; 
											height: rem-calc(912); 
											}
										}

			.evo-home-scroll-section-about	
										{ 
										height: rem-calc(725); 

				.evo-home-about 			{
											height: rem-calc(760);   
											padding: rem-calc(180) 0 0 0;
											}
										}													

			.evo-home-scroll-section-families	
										{ 
										height: rem-calc(755);

				.evo-home-families 			{ 
											background: url("../images/home/product-families-triangles.png") no-repeat scroll center top transparent;
											height: rem-calc(755);
											padding: rem-calc(180) 0 0 0;
											margin-top: rem-calc(35);
											}
										}													

			.evo-home-scroll-section-benefits	
										{ 
										height: rem-calc(1000); 

				.evo-home-benefits 			{ 
											height: rem-calc(1000);
											padding: rem-calc(160) 0 0 0; 
											}
										}

			.evo-home-scroll-section-front-end		
										{ 
										height: rem-calc(725);

				.evo-home-front-end 		{ 
											background: url("../images/home/front-end-dev-triangles.png") no-repeat scroll center top transparent; 
											background-size: cover; 
											height: rem-calc(725);
											padding: rem-calc(180) 0 0 0;
											margin-top: 0;
											}
										}	
																																 					
		// PARALLAX SCROLLING  - ENDS

		// ICONS WITH CIRCLES - BEGINS

			.evo-box-circle-home-arrow	{
										width: rem-calc(85);
										height: rem-calc(85) !important; 
										margin: rem-calc(423) auto;
										display: block !important;
				[class^=evo-icon-]			{
											top: rem-calc(25);
											font-size: rem-calc(40);
											}
										}

		// ICONS WITH CIRCLES - ENDS

		// HOME PAGE HEADERS - BEGINS									

			.evo-home-headers-box-welcome
										{
										margin: rem-calc(180) 0 rem-calc(40) 0;
										text-align: center;									
										letter-spacing: rem-calc(9.0) !important;
										padding: 0 0 rem-calc(24) rem-calc(5);
											
				.evo-home-headers-welcome 	{
											font-size: rem-calc(80);
											margin: rem-calc(30) 0 0 rem-calc(5);
											letter-spacing: rem-calc(12) !important;
											line-height: rem-calc(30);													    												
											} 
										}

		// HOME PAGE HEADERS - ENDS

		// HOME PAGE CAROUSEL - BEGINS

			.evo-carousel-home			{
				.evo-carousel-box			{
											height: rem-calc(400);						
											}
										}

		// HOME PAGE CAROUSEL - ENDS
												
	// HOME PAGE - ENDS
}


// LARGE MEDIA QUERY RANGE - 1025px - 1440px
@media #{$large-only} {

	
												
}