//-------------------------------------------------------------------------------------------
// Mercer Evolution - Site Theme SASS Settings
// DATE - June 13, 2014
// AUTHOR - Doug Fraize, Matthew Holmes, Vinod Bhatt
//-------------------------------------------------------------------------------------------

// ==========================================================================================
// SITE THEME SETTINGS
// ==========================================================================================

// CORE THEME OVERRIDE SETTINGS
// ------------------------------------------------------------------------------------------

// These are the core theme (Mercer Evolution) override SASS settings. This is what will be turned 
// on/off theme-wise based on what components from Mercer Evolution you choose to override for 
// your theme. These styles are then included in the theme CSS file. These settings can be 
// modified on a project by project basis.

// GLOBAL SETTINGS
// ------------------------------------------------------------------------------------------
$use-helpers-theme:					true;

// BASE SETTINGS
// ------------------------------------------------------------------------------------------
$use-type-theme:					true;
$use-grid-theme:					true;
$use-boxes-theme:					true;
$use-form-theme:					true;
$use-buttons-theme:					true;
$use-header-theme:					true;
$use-hero-banner-theme:				true;
$use-mega-menu-theme:				true;
$use-nav-theme:						true;
$use-footer-theme:					true;
$use-fat-footer-theme:				true;
$use-icons-theme:					true;
$use-lists-theme:					true;
$use-tables-theme:					true;

// OBJECTS SETTINGS
// ------------------------------------------------------------------------------------------
$use-accordion-theme:				true;
$use-alternate-views-badge-theme: 	true;
$use-autocomplete-theme:			true;
$use-call-to-action-theme:			true;
$use-carousel-theme:				true;
$use-content-modal-theme:			true;
$use-datepicker-theme:				true;
$use-dialog-theme:					true;
$use-login-layout-theme:			true;
$use-mini-filter-theme:				true;
$use-pagination-theme:				true;
$use-profile-containers-theme:		true;
$use-scroll-pane-theme:				true;
$use-slider-theme:					true;
$use-summary-containers-theme:		true;
$use-tabs-theme:					true;
$use-tiles-theme:					true;
$use-tooltip-theme:					true;


// SITE THEME SETTINGS
// ------------------------------------------------------------------------------------------

// These are the site theme SASS settings. This is for site level theme toggling. These styles
// are included in the theme CSS file. These settings can be modified on a project by project 
// basis.

$use-site-theme:					true;