<!-- TABLE WITH SUBHEADER - BEGINS -->
<div class="mul-table-small-mediaquery">
	<table class="mul-table mul-table-borders mul-table-striped mul-table-hover" id="" border="0" cellpadding="0" cellspacing="0" title="" summary="">
		<thead>
			<tr>
				<th class="col-10" scope="col">First Name</th>
				<th class="col-11" scope="col">Last Name</th>
				<th class="col-3 mul-nowrap mul-align-right" scope="col">Start Date</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="mul-subheader-row" colspan="3">Sub Header Row</td>
			</tr>{% for item in global.table_data %}
			<tr>
				<td>{{ item.first_name }}</td>
				<td>{{ item.last_name }}</td>
				<td class="mul-nowrap mul-align-right">{{ item.start_date }}</td>
			</tr>{% endfor %}
		</tbody>
	</table>
</div>
<!-- TABLE WITH SUBHEADER - ENDS -->