<!-- ADVANCED FILTER MODAL - BEGINS -->
<div id="advanced-filter" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	<a class="close-reveal-modal" aria-label="Close">&#215;</a>

	<form class="evo-form evo-advanced-filter-form js-evo-advanced-filter-form" name="" method="" action="" title="">
		<fieldset>
			<ol>
				<li class="evo-match-question">
					<span class="col-2 first">Match</span>
					<select class="col-4" id="" tabindex="" title="">
						<option value="">any</option>
						<option value="">all</option>
					</select>
					<span class="col-6 first">of the following rules.</span>
				</li>
				<span class="js-evo-advanced-filter-form-rules">
					<li>
						<label class="col-5 first evo-required" for="select1">Text Field:</label>
						<select class="col-5 first" id="select1" tabindex="" title="">
							<option value="" selected="selected">contains</option>
							<option value="">is</option>
							<option value="">starts with</option>
							<option value="">ends with</option>
						</select>
						<input class="col-5" id="" name="" value="" type="text" tabindex="" title="" />
						<i class="evo-icon-plus-circle evo-icon-color-confirmation evo-icon-position-left js-evo-advanced-filter-add-rule" title="Add"></i>
					</li>
				</span>
				<span class="hide">
					<li class="js-evo-advanced-filter-form-rules-template-row">
						<label class="col-5 first evo-required" for="select2">Text Field:</label>
						<select class="col-5 first" id="select2" tabindex="" title="">
							<option value="" selected="selected">contains</option>
							<option value="">is</option>
							<option value="">starts with</option>
							<option value="">ends with</option>
						</select>
						<input class="col-5" id="" name="" value="" type="text" tabindex="" title="" />
						<i class="evo-icon-plus-circle evo-icon-color-confirmation evo-icon-position-left js-evo-advanced-filter-add-rule" title="Add"></i>
						<i class="evo-icon-minus-circle evo-icon-color-error evo-icon-position-left js-evo-advanced-filter-remove-rule" title="Remove"></i>
					</li>
				</span>
				<li>
					<label class="col-5 first evo-required" for="select3">Date Field:</label>
					<select class="col-5 first js-evo-advanced-filter-datepicker-toggle" id="select3" tabindex="" title="">
						<option value="1" selected="selected">between</option>
						<option value="2">on or after</option>
						<option value="3">on or before</option>
					</select>
					<div class="col-10 evo-datepicker-ctn evo-datepicker-range js-advanced-filter-evo-datepicker-range">
						<input class="col-12 first" id="js-evo-datepicker-range-stacked-from" readonly="true" name="" value="" type="text" tabindex="" title="Select date." placeholder="From" data-evo-datepicker-message-label="This is a calendar message area for user messages related to dates" />
						<input class="col-12" id="js-evo-datepicker-range-stacked-to" readonly="true" name="" value="" type="text" tabindex="" title="Select date." placeholder="To" data-evo-datepicker-message-label="This is a calendar message area for user messages related to dates" />
					</div>
					<span class="hide js-evo-advanced-filter-single-datepicker">
						<input class="col-5" id="js-evo-datepicker-example-readonly" name="" value="" type="text" tabindex="" title="Select date." />
					</span>
				</li>
				<li>
					<label class="col-5 first evo-required" for="select4">Numeric:</label>
					<select class="col-5 first" id="select4" tabindex="" title="">
						<option value="" selected="selected">between</option>
						<option value="">equal to</option>
						<option value="">equal to or greater than</option>
						<option value="">equal to or less than</option>
					</select>
					<div class="col-10">
						<input class="col-10 first js-evo-numeric-mask" id="" name="" value="" type="text" tabindex="" title="" />
						<label class="col-3 evo-nobold">and</label>
						<input class="col-10 js-evo-numeric-mask" id="" name="" value="" type="text" tabindex="" title="" />
					</div>

				</li>
				<li>
					<label class="col-5 first evo-required">Checkbox:</label>
					<div class="evo-checkbox">
						<label for="open" class="evo-form-inline-element">
							<input id="open" name="" value="" type="checkbox" tabindex="" title="" /> Open
						</label>
						<label for="completed" class="evo-form-inline-element">
							<input id="completed" name="" value="" type="checkbox" tabindex="" title="" /> Completed
						</label>
						<label for="escalated" class="evo-form-inline-element">
							<input id="escalated" name="" value="" type="checkbox" tabindex="" title="" /> Escalated
						</label>
						<label for="upcoming" class="evo-form-inline-element">
							<input id="upcoming" name="" value="" type="checkbox" tabindex="" title="" /> Upcoming
						</label>
					</div>
				</li>
				<li>
					<label class="col-5 first evo-required">Radio Button:</label>
					<div class="evo-radio">
						<label for="all" class="evo-form-inline-element">
							<input id="all" name="radiobutton" value="" type="radio" tabindex="" title="" /> All
						</label>
						<label for="global" class="evo-form-inline-element">
							<input id="global" name="radiobutton" value="" type="radio" tabindex="" title="" /> Global
						</label>
						<label for="local" class="evo-form-inline-element">
							<input id="local" name="radiobutton" value="" type="radio" tabindex="" title="" /> Local
						</label>
					</div>
				</li>
				<li class="evo-form-action">
					<button class="evo-btn evo-btn-medium evo-btn-secondary evo-btn-first js-evo-dialog-close" id="" name="" type="button" tabindex="" title="Cancel">Cancel</button>
					<button class="evo-btn evo-btn-medium evo-btn-primary js-evo-dialog-close" id="js-evo-advanced-filter-example-results-btn" name="" value="" type="button" tabindex="" title="Filter">Filter</button>
				</li>
			</ol>
		</fieldset>
	</form>
</div>
<!-- ADVANCED FILTER MODAL - ENDS -->