<!-- STATIC DATA TABLE - BEGINS -->
<div class="evo-table-small-mediaquery">
	<table class="evo-table" id="" border="0" cellpadding="0" cellspacing="0" title="" summary="">
		<thead>
			<tr>
				<th scope="column">First Name</th>
				<th scope="column">Last Name</th>
				<th scope="column">Start Date</th>
			</tr>
		</thead>
		<tbody>

			{% for item in global.table_data %}
			<tr>
				<td scope="row">{{ item.first_name }}</td>
				<td scope="row">{{ item.last_name }}</td>
				<td scope="row">{{ item.start_date }}</td>
			</tr>
			{% endfor %}
			
		</tbody>
	</table>
</div>
<!-- STATIC DATA TABLE - ENDS -->