<header role="banner" class="evo-grid evo-header">
	<div class="evo-header-adjust">
	<!-- MASTHEAD - BEGINS -->
		<section class="evo-masthead">
			<div class="evo-masthead-adjust">
				<section class="col-18 first evo-logo evo-small-mediaquery-grid">
					<div class="evo-logo-col-2">
						<a href="/index">MERCER <span>EVOLUTION</span></a>
					</div>
					<div class="evo-logo-col-3 evo-mb-navbar-ctn">
					<!-- MOBILE MENU ICON - BEGINS -->
						<ul class="sm evo-nav-menus evo-menu-ctn" data-menu="click">
							<li class="evo-header-icon">
								<a href="javascript:;" class="js-evo-toggle-content" data-evo-toggle="1"><i class="evo-icon-menu3"></i></a>
							</li>
						</ul>
					<!-- MOBILE MENU ICON - ENDS -->
					</div>
				</section>
				<section class="col-6 evo-hidden-small-mediaquery">
				</section>
			</div>
		</section>
	<!-- MASTHEAD - ENDS -->
	<!-- NAVBAR - BEGINS -->
		<section class="evo-navbar" id="div1">
			<div class="evo-navbar-adjust">
				<nav class="evo-tabbed-nav">
					<div class="col-12 first evo-navbar-col-1">
						<ul class="sm evo-nav-menus evo-menu-ctn" data-menu="click">
							<li><a href="javascript:;">Item 1</a></li>
							<li><a href="javascript:;">Item 2</a></li>
							<li><a href="javascript:;">Item 3</a></li>
						</ul>
					</div>
					<div class="col-12 evo-navbar-col-2">
					</div>
				</nav>
			</div>
		</section>
	<!-- NAVBAR - ENDS -->
	</div>
</header>