<header role="banner" class="mul-grid mul-header">
	<div class="mul-header-adjust">
	<!-- MASTHEAD - BEGINS -->
		<section class="mul-masthead">
			<div class="mul-masthead-adjust">
				<section class="col-18 first mul-logo mul-small-mediaquery-grid">
					<div class="mul-logo-col-2">
						<a href="/index">MERCER <span>EVOLUTION</span></a>
					</div>
					<div class="mul-logo-col-3 mul-mb-navbar-ctn">
					<!-- MOBILE MENU ICON - BEGINS -->
						<ul class="sm mul-nav-menus mul-menu-ctn" data-menu="hover">
							<li class="mul-header-icon">
								<a href="javascript:;" class="js-mul-toggle-content" data-mul-toggle="1"><i class="mul-icon-menu3"></i></a>
							</li>
						</ul>
					<!-- MOBILE MENU ICON - ENDS -->
					</div>
				</section>
				<section class="col-6 mul-hidden-small-mediaquery">
				</section>
			</div>
		</section>
	<!-- MASTHEAD - ENDS -->
	<!-- NAVBAR - BEGINS -->
		<section class="mul-navbar" id="div1">
			<div class="mul-navbar-adjust">
				<nav class="mul-tabbed-nav">
					<div class="col-12 first mul-navbar-col-1">
						<ul class="sm mul-nav-menus mul-menu-ctn" data-menu="hover">
							<li><a href="javascript:;">Item 1</a></li>
							<li><a href="javascript:;">Item 2</a></li>
							<li><a href="javascript:;">Item 3</a></li>
						</ul>
					</div>
					<div class="col-12 mul-navbar-col-2">
					</div>
				</nav>
			</div>
		</section>
	<!-- NAVBAR - ENDS -->
	</div>
</header>