<header role="banner" class="evo-masthead evo-mega-menu-masthead">

<!-- MASTHEAD - BEGINS -->
	<div class="evo-masthead-adjust">
		<div class="evo-masthead-content-ctn evo-small-mediaquery-grid">

			<!-- MASTHEAD LOGO - BEGINS -->
			<div class="col-18 first">
				<h1 class="evo-logo">
					<a href="/index">PRODUCT <span>NAME</span></a>
				</h1>
			</div>
			<!-- MASTHEAD LOGO - ENDS -->

			<!-- MASTHEAD PROFILE MENU - BEGINS -->
			<div class="col-6 evo-corp-logo evo-visible-large-mediaquery">
				<img src="{{ "mercer_logo_reverse_170x25.png" | asset_url }}" alt="Mercer" width="170" height="25" />
			</div>
			<!-- MASTHEAD PROFILE MENU - ENDS -->
			
		</div>
	</div>
<!-- MASTHEAD - ENDS -->

<!-- MASTHEAD NAVBAR - BEGINS -->
	<div class="evo-masthead-navbar-ctn">
		<div class="evo-masthead-adjust">

			<nav role="navigation" class="col-24 evo-mega-menu-navbar evo-small-mediaquery-grid">

				<div class="col-6 first">
					<a class="evo-mega-menu-item js-evo-mega-menu" href="javascript:;">
						<i class="evo-icon-menu3 evo-icon-size-small evo-icon-position-left"></i>
					</a>
				</div>

				<div class="col-18 evo-util-navbar">
					<a class="evo-mega-menu-item js-evo-mega-menu-search" href="javascript:;">
						<i class="evo-icon-search evo-icon-size-small evo-icon-position-left"></i>
					</a>

					<a class="evo-mega-menu-item js-evo-mega-menu-search" href="javascript:;">
						<i class="evo-icon-basket evo-icon-size-small evo-icon-position-left"></i>
					</a>
					
					<a class="evo-mega-menu-item js-evo-mega-menu-search" href="javascript:;">
						<i class="evo-icon-envelop evo-icon-size-small evo-icon-position-left"></i>
					</a>

					<ul class="evo-horizontal-list evo-horizontal-list-piped evo-visible-large-mediaquery">
						<li><a href="javascript:;">Contact Us</a></li>
						<li class="evo-utility-subnav-ctn">
							<a href="javascript:;" class="js-evo-menu-toggle">
								English <i class="evo-icon-arrow-down2 evo-icon-size-small evo-icon-color-gray-darker evo-icon-position-left"></i>
							</a>
							<ul class="evo-utility-subnav evo-display-none">
								<li><a href="#">Danish</a></li>
								<li><a href="#">English</a></li>
								<li><a href="#">French</a></li>
								<li><a href="#">Portugese</a></li>
								<li><a href="#">Spanish</a></li>
							</ul>
						</li>
						<li class="evo-utility-subnav-ctn">
							<a href="javascript:;" class="js-evo-menu-toggle">
								Anders Elkstorm <i class="evo-icon-arrow-down2 evo-icon-size-small evo-icon-color-gray-darker evo-icon-position-left"></i>
							</a>
							<ul class="evo-utility-subnav evo-display-none">
								<li><a href="#">View Profile</a></li>
								<li><a href="#">Update Information</a></li>
								<li><a href="#">Change Password</a></li>
								<li><a href="#">Change User Name</a></li>
							</ul>
						</li>
						<li><a href="javascript:;">Sign Out</a></li>
					</ul>
				</div>

			</nav>

		</div>
	</div>
<!-- MASTHEAD NAVBAR - BEGINS -->

<!-- MEGA MENU CONTAINER - BEGINS -->
	<div class="evo-header-mega-menu-ctn evo-display-none js-evo-mega-menu-search-ctn">
		<div class="evo-masthead-adjust">

			<div class="col-24 evo-mega-menu-content">
		<!-- SEARCH BAR - BEGINS -->
				<div class="evo-mega-menu-content evo-mega-menu-search-content evo-small-mediaquery-grid">
					<div class="col-21 first">
						<input class="evo-mega-menu-search" type="text" tabindex="" placeholder="Search" title="Search" />
					</div>
					<div class="col-3">
						<button class="evo-btn evo-btn-medium evo-btn-primary evo-mega-menu-search-btn" title="Search">
							<i class="evo-icon-evo-arrow-circle-right evo-icon-size-small evo-icon-color-disabled"></i>
						</button>
					</div>
				</div>
		<!-- SEARCH BAR - ENDS -->
			</div>

		</div>
	</div>

	<div class="evo-header-mega-menu-ctn evo-display-none js-evo-mega-menu-ctn">
		<div class="evo-masthead-adjust">

		<!-- MEGA MENU CONTENT - BEGINS -->
			<div class="col-24 evo-mega-menu-content">

			<!-- SPOTLIGHT CONTAINER - BEGINS -->	
				<div class="col-24 evo-header-menu-spotlight">
					<ul class="evo-horizontal-list">
						<li>
							<a href="/index"><i class="evo-icon-home evo-icon-size-small evo-icon-position-left"></i>Home</a>
						</li>
						<li>
							<a href="javascript:;"><i class="evo-icon-evo-calendar2 evo-icon-size-small evo-icon-position-left"></i>Spotlight Link</a>
						</li>
					</ul>
				</div>
			<!-- SPOTLIGHT CONTAINER - ENDS -->

			<!-- MENU SETIONS - BEGINS -->
				<dl class="col-8 first evo-menu-ctn evo-first-child">
					<dt class="h4 evo-hdr-rule">Section Title</dt>
					<dd><span><a href="javascript:;">Section Link</a></span></dd>
					<dd><span><a href="javascript:;">Section Link</a></span></dd>
					<dd><span><a href="javascript:;">Section Link</a></span></dd>
					<dd><span><a href="javascript:;">Section Link</a></span></dd>
					<dd><span><a href="javascript:;">Section Link</a></span></dd>
					<dd><span><a href="javascript:;">Section Link</a></span></dd>
				</dl>

				<dl class="col-8 evo-menu-ctn">
					<dt class="h4 evo-hdr-rule">Section Title</dt>
					<dd><span><a href="javascript:;">Section Link</a></span></dd>
					<dd><span><a href="javascript:;">Section Link</a></span></dd>
					<dd><span><a href="javascript:;">Section Link</a></span></dd>
					<dd><span><a href="javascript:;">Section Link</a></span></dd>
					<dd><span><a href="javascript:;">Section Link</a></span></dd>
					<dd><span><a href="javascript:;">Section Link</a></span></dd>
				</dl>

				<dl class="col-8 evo-menu-ctn">
					<dt class="h4 evo-hdr-rule">Section Title</dt>
					<dd><span><a href="javascript:;">Section Link</a></span></dd>
					<dd><span><a href="javascript:;">Section Link</a></span></dd>
					<dd><span><a href="javascript:;">Section Link</a></span></dd>
					<dd><span><a href="javascript:;">Section Link</a></span></dd>
					<dd><span><a href="javascript:;">Section Link</a></span></dd>
					<dd><span><a href="javascript:;">Section Link</a></span></dd>
				</dl>

				<dl class="evo-menu-ctn evo-last-child">
					<dt class="h4 evo-hdr-rule">Section Title</dt>
					<dd><span><a href="javascript:;">Contact Us</a></span></dd>
					<dd><span><a href="javascript:;">English</a></span></dd>
					<dd><span><a href="javascript:;">Anders Elkstorm</a></span></dd>
					<dd><span><a href="javascript:;">Sign Out</a></span></dd>
				</dl>
			<!-- MENU SETIONS - ENDS -->

			</div>
		<!-- MEGA MENU CONTENT - BEGINS -->

		</div>
	</div>
<!-- MEGA MENU CONTAINER - ENDS -->

</header>