<!-- WORKSHEET FORM COMPONENT - BEGINS -->
<link href="/reference/components/worksheet-form/worksheet-form.css" rel="stylesheet" type="text/css" />

<div class="evo-worksheet-form">
	<form>
		<fieldset>
			<div class="row">
				<div class="small-12 columns">
					<label for="">For rent/mortgage</label>
					<input type="number" placeholder="$" class="js-evo-numeric-mask" tabindex="1" title="">
				</div>
			</div>

			<div class="row">
				<div class="small-12 columns">
					<label for="">For utilities</label>
					<input type="number" placeholder="$" class="js-evo-numeric-mask" tabindex="3" title="">
				</div>
			</div>

			<div class="row evo-btn-row">
				<div class="small-12 columns">
					<button class="button radius evo-button" id="" name="" value="" type="" title="">Done</button>
				</div>
			</div>
		</fieldset>
	</form>
</div>
<!-- WORKSHEET FORM COMPONENT - ENDS -->