//-------------------------------------------------------------------------------------------
// Mercer Evolution - Core v2.4 - Core Form Partial
// DATE - April 4, 2014
// AUTHOR - Doug Fraize, Matthew Holmes
//-------------------------------------------------------------------------------------------

@if $use-forms == true{

	// GLOBAL FORM ELEMENTS
	form											{margin: 0 0 $formMarginBottom 0;}
	fieldset										{
													border: 0;
													padding: 0;
													margin: 0;
													}
	label,
	input,
	select,
	textarea										{
													font-size: $baseFontSize;
													line-height: $baseLineHeight;
													}
	input[type="text"],
	input[type="password"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="url"],
	input[type="search"],
	input[type="tel"],
	input[type="color"],
	select,
	textarea										{
													@include border-radius($baseInputBorderRadius);
													@include box-shadow(inset 0, 1px, 1px, $baseInputShadowColor);
													background-color: $baseInputBackgroundColor;
													border: $baseInputBorderSize solid $baseInputBorderColor;
													color: $baseInputColor;
													display: inline-block;
													height: auto;
													padding: $baseInputPadding;
													font-size: $baseFontSize;
													vertical-align: middle;
													width: 100%;
													}

	select											{padding: 1px 2px 2px 2px;}
	label											{
													color: $labelFontColor;
													display: block;
													font-family: $proximaNovaSemiBoldStack;
													margin-bottom: $labelMarginBottom;
													vertical-align: bottom;
													}

	input,
	textarea										{@include placeholder();}
	input:focus,
	select:focus,
	textarea:focus
													{
													@include box-shadow(0, 0, 5px, $inputFocusShadowColor);
													border-color: $inputFocusBorderColor;
													outline: 0;
													}

	legend											{padding: 0;}
	fieldset ol										{
													margin: 0;
													padding: 0;
													list-style-position: outside;
													}
	fieldset ol li									{
													@include clearfix;
													list-style-type:none;
													padding: 0;
													margin-bottom: $marginBottomFormElements;
													}

	input[type="hidden"]							{display:none;}
	input[type="checkbox"],
	input[type="radio"]								{
													border:0;
													display:inline;
													width:$baseCheckboxRadioWidth;
													}
													
	input[type="text"]								{
		&:valid											{color:$inputValidTextColor;}
		&:invalid										{color:$inputInvalidTextColor;}
													}

	// RIGHT ALIGN LABELS
	.mul-form-label-right							{
		label											{text-align: left;}
													}

	// RADIO AND CHECKBOX STYLES
	.mul-checkbox,
	.mul-radio										{
													display: block;
		label											{
														font-family: $proximaNovaRegularStack;
														font-size: $baseCheckboxRadioFontSize;
														margin: 0 8px 0 0;
														padding: 5px;
			input											{
															position: relative;
															top: 1px;
															}
														}
													}

	.mul-checkbox									{
		label											{margin-bottom: 2px;}
													}

	// MUL FORM
	.mul-form										{
		.mul-required									{
			.mul-icon-mul-asterisk-small					{
															margin-right: 0;
															top: 2px;
															}
														}

		// INLINE FORM ELEMENTS
		.mul-form-inline-element						{
														display:inline-block;
														width:auto;
														}
		// FORM INFO TEXT
		.mul-info										{color: $formInfoTextColor;}
													}

	// INLINE FORM
	.mul-form-inline								{
		label											{display: inline-block;}
		input, select									{width: auto;}
													}

	// MUL FORM ACTION ROW
	.mul-form-action								{
													margin: 0;
													padding: $formActionPaddingTop 0 0 0;
													}

	// FORM ERROR HANDLING
	.mul-error										{
		label											{color: $inputInvalidTextColor;}

		.mul-checkbox,
		.mul-radio										{
			label											{color: $labelFontColor;}
														}

		.mul-required									{
														color: $inputInvalidTextColor;
			.mul-icon-color-gray-darker						{color: $errorBorderColor;}
														}
		input[type="text"],
		input[type="password"],
		input[type="datetime"],
		input[type="datetime-local"],
		input[type="date"],
		input[type="month"],
		input[type="time"],
		input[type="week"],
		input[type="number"],
		input[type="email"],
		input[type="url"],
		input[type="search"],
		input[type="tel"],
		input[type="color"],
		select,
		textarea										{
														background-color: $errorBackgroundColor;
														border-color: $errorBorderColor;
														color: $inputInvalidTextColor;
														}
		input,
		textarea										{@include placeholder($inputInvalidTextColor);}
		.mul-info										{color: $inputInvalidTextColor;}
													}

	// MUL FORM TABLE LAYOUT
	// Used on multi-column stacked form
	.mul-form-table-layout							{
		fieldset										{
														display: block;
			ol												{
															display: block;
				li												{
																display: block;
																padding: 0;
																width: 100% !important;
																vertical-align: top;
																}
				.mul-form-action								{
																padding-bottom: 0;
																}
															}
														}
													}

	// SELECTED CHECKBOX
	// Highlights background element when a checkbox has been selected
	.mul-selected-checkbox							{
		.mul-checkbox									{
			label											{
															@include border-radius($selectedCheckboxBorderRadius);
															padding: 10px;
															margin: 0 0 10px 0;
															border: 1px solid $selectedCheckboxBorderColor;
															}

			// WHEN SELECTED CHECKBOX IS CHECKED
			.mul-selected-checkbox-checked					{
															@include border-radius($selectedCheckboxBorderRadius);
															background-color: $selectedCheckboxBackgroundColor;
															border: 1px solid transparent;
															}
														}
													}

	// FORM IE8+9 FIXES
	.ie8,
	.ie9											{
		
		// RADIO AND CHECKBOX STYLES
		.mul-radio										{
			label											{
				input											{top: 3px;}
															}
														}
		.mul-checkbox									{
			label											{
				input											{top: 2px;}
															}
														}
													}

	// FORM IE8 FIXES
	.ie8											{
		
		// Fixes a bug in IE8 where it can't render masking "dots" of password inputg field when using a custom web font, so replace with default base font.
		input[type="password"] 							{font-family: $baseFontStack;}
													}


	// FORM IE9 FIXES
	.ie9											{
		
		// GLOBAL FORM ELEMENTS
		input											{line-height:$baseFontSize;}

		input[type="text"],
		input[type="password"],
		input[type="datetime"],
		input[type="datetime-local"],
		input[type="date"],
		input[type="month"],
		input[type="time"],
		input[type="week"],
		input[type="number"],
		input[type="email"],
		input[type="url"],
		input[type="search"],
		input[type="tel"],
		input[type="color"],
		select,
		textarea										{border-radius:$baseBorderRadiusIE !important;}

		// SELECTED CHECKBOX
		// Highlights background element when a checkbox has been selected
		.mul-selected-checkbox							{
			.mul-checkbox									{
				label,
				.mul-selected-checkbox-checked					{border-radius:$baseBorderRadiusIE;}
															}
														}
													}

	//=== MEDIA QUERIES =========================================================================

	// Portrait iPhone, landscape iPhone, portrait smart phones, Nook/Kindle/Kindle Fire
	@if $use-small-mediaquery == true {

		@include media-query(screen, max, "", $smallMediaQueryBreakpointMax) {

			// INLINE FORM
			.mul-form-inline						{
				[class*="col-"]							{
														float: none;
														width: 100%;
														}
													}

		}

	}//endif

	// Portrait iPad, portrait tablets, Low-resolution laptops and desktops, Landscape iPad, laptops and desktops
	@if $use-medium-mediaquery == true or $use-large-mediaquery == true {
		
		@include media-query(screen, min, $mediumMediaQueryBreakpointMin, "") {

			// GLOBAL FORM ELEMENTS
			label,
			input,
			select,
			textarea								{
													font-size: $baseFontSizeLargeBreakpoint;
													line-height: $baseLineHeightLargeBreakpoint;
													}

			input[type="text"],
			input[type="password"],
			input[type="datetime"],
			input[type="datetime-local"],
			input[type="date"],
			input[type="month"],
			input[type="time"],
			input[type="week"],
			input[type="number"],
			input[type="email"],
			input[type="url"],
			input[type="search"],
			input[type="tel"],
			input[type="color"],
			select,
			textarea								{font-size: $baseFontSizeLargeBreakpoint;}

			// RIGHT ALIGN LABELS
			.mul-form-label-right					{
				label									{text-align: right;}
													}

			// RADIO AND CHECKBOX STYLES
			.mul-checkbox,
			.mul-radio								{
				label									{
														font-size: $baseCheckboxRadioFontSizeLargeBreakpoint;
														padding: 2px 0 0 4px;
														}
													}

			// INLINE FORM
			.mul-form-inline						{
				label									{
														position: relative;
														top: 2px;
														}
													}

			// MUL FORM TABLE LAYOUT
			// Used on multi-column stacked form
			.mul-form-table-layout					{
				fieldset								{
														display: table;
					ol										{
															display: table-row;
						li										{
																display: table-cell;
																padding: 0 $basePadding $basePadding 0;
																width: 20% !important;
																vertical-align: bottom;
																}
															}
														}
													}

			// SELECTED CHECKBOX
			// Highlights background element when a checkbox has been selected
			.mul-selected-checkbox					{
				.mul-checkbox							{
					label									{
															padding: 2px 0 0 4px;
															margin: 0 3px 3px 0;
															border: 1px solid transparent !important;
															}
														}
													}

			// FORM IE9 FIXES
			.ie9									{
				input									{line-height:$baseFontSizeLargeBreakpoint;}
													}

		}
		
	}// endif

}//endif