{% layout "layout-banding" %}
{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}

<section class="banding-section-1" data-palette-color="orange-dark">
	<div class="banding-ctn">
		<div class="col-24 evo-small-mediaquery-grid">
			<h1 style="color:white;">Exciting New Contest</h1>
			<p style="font-size:16px; margin-bottom:40px; color:white;">{{ 2 | lorem_ipsum }}</p>
			<div class="col-6 first text-center">
				<i class="evo-icon-evo-dollar-sign evo-icon-size-x-large evo-icon-color-white" title="Enter Here"></i>
			</div>
			<div class="col-6 text-center">
				<i class="evo-icon-basket evo-icon-size-x-large evo-icon-color-white" title="Enter Here"></i>
			</div>
			<div class="col-6 text-center">
				<i class="evo-icon-bubbles evo-icon-size-x-large evo-icon-color-white" title="Enter Here"></i>
			</div>
			<div class="col-6 text-center">
				<i class="evo-icon-earth evo-icon-size-x-large evo-icon-color-white" title="Enter Here"></i>
			</div>
		</div>
	</div>
</section>

<section class="banding-section-2" data-palette-color="white">
	<div class="banding-ctn">
		<div class="col-24">
			<h2>What You Could Win</h2>
			<div class="col-24">
				<div class="col-8 first">
					{{ 2 | lorem_ipsum:'p' }}
				</div>
				<div class="col-8">
					{{ 2 | lorem_ipsum:'p' }}
				</div>
				<div class="col-8">
					{{ 2 | lorem_ipsum:'p' }}
				</div>
			</div>
		</div>
	</div>
</section>

<section class="banding-section-3" data-palette-color="gray-lighter">
	<div class="banding-ctn">
		<div class="col-24">
			<h2>Enter Contest</h2>
			<div class="col-24">
			<!-- CAROUSEL - BEGINS -->
				<div class="evo-carousel" data-carousel="js-evo-carousel-example">
					<div class="evo-carousel-item">
						<img src="../assets/images/core/objects/carousel/carousel_image1.jpg" alt="Carousel Image 1" border="0" />
					</div>
					<div class="evo-carousel-item">
						<img src="../assets/images/core/objects/carousel/carousel_image2.jpg" alt="Carousel Image 2" border="0" />
					</div>
					<div class="evo-carousel-item">
						<img src="../assets/images/core/objects/carousel/carousel_image3.jpg" alt="Carousel Image 3" border="0" />
					</div>
				</div>
			<!-- CAROUSEL - ENDS -->
			</div>
			<div class="col-18 first">
				{{ 2 | lorem_ipsum:'p' }}
			</div>
			<div class="col-6">
				<a class="evo-call-to-action" data-palette-color="orange" href="javascript:;" title="Enter Here">
					<i class="evo-icon-evo-dollar-sign evo-icon-position-left" title="Enter Here"></i>
					<span class="evo-call-to-action-text">Enter Here</span>
					<i class="evo-icon-arrow-right2 evo-icon-position-right" title="Enter Here"></i>
				</a>
			</div>			
		</div>
	</div>
</section>

<section class="banding-section-4" data-palette-color="blue-gray-light">
	<div class="banding-ctn">
		<div class="col-24">
			<h2>Rules of The Contest</h2>
			<div class="col-12 first">
				{{ 3 | lorem_ipsum:'p' }}
			</div>
			<div class="col-12">
				{{ 3 | lorem_ipsum:'p' }}
			</div>
		</div>
	</div>
</section>

{% endblock %}