{% layout "layout-banding" %}
{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}

<section class="banding-section-1">
	<div class="mul-grid">
		<div class="col-24">
			<h1>Exciting New Contest</h1>
			{{ 4 | lorem_ipsum:'p' }}
		</div>
	</div>
</section>

<section class="banding-section-2">
	<div class="mul-grid">
		<div class="col-24">
			<h2>What You Could Win</h2>
			<div class="col-12 first">
				{{ 2 | lorem_ipsum:'p' }}
			</div>
			<div class="col-12">
				{{ 2 | lorem_ipsum:'p' }}
			</div>
		</div>
	</div>
</section>

<section class="banding-section-3">
	<div class="mul-grid">
		<div class="col-24">
			<h2>Enter Contest</h2>
			<div class="col-18 first">
				{{ 1 | lorem_ipsum:'p' }}
			</div>
			<div class="col-6">
				<a class="mul-call-to-action" data-palette-color="orange" href="javascript:;" title="Enter Here">
					<i class="mul-icon-mul-dollar-sign mul-icon-position-left" title="Enter Here"></i>
					<span class="mul-call-to-action-text">Enter Here</span>
					<i class="mul-icon-arrow-right2 mul-icon-position-right" title="Enter Here"></i>
				</a>
			</div>
		</div>
	</div>
</section>

<section class="banding-section-4">
	<div class="mul-grid">
		<div class="col-24">
			<h2>Rules of The Contest</h2>
			<div class="col-12 first">
				{{ 3 | lorem_ipsum:'p' }}
			</div>
			<div class="col-12">
				{{ 3 | lorem_ipsum:'p' }}
			</div>
		</div>
	</div>
</section>

{% endblock %}