{% layout "layout-banding" %}
{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}

<section class="banding-section" data-evo-background-color="gray-mid-dark">
	<div class="banding-ctn">
		<div class="row">
			<h1 data-evo-font-color="white">Exciting New Contest</h1>
			<p data-evo-font-color="white">{{ 2 | lorem_ipsum }}</p>
			<div class="row">
				<div class="medium-3 columns text-center">
					<i class="evo-icon-evo-dollar-sign evo-icon-size-x-large evo-icon-color-white" title=""></i>
				</div>
				<div class="medium-3 columns text-center">
					<i class="evo-icon-basket evo-icon-size-x-large evo-icon-color-white" title=""></i>
				</div>
				<div class="medium-3 columns text-center">
					<i class="evo-icon-bubbles evo-icon-size-x-large evo-icon-color-white" title=""></i>
				</div>
				<div class="medium-3 columns text-center">
					<i class="evo-icon-earth evo-icon-size-x-large evo-icon-color-white" title=""></i>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="banding-section" data-evo-background-color="white">
	<div class="banding-ctn">
		<div class="row">
			<h2>What You Could Win</h2>
			<div class="row">
				<div class="medium-4 columns">
					{{ 2 | lorem_ipsum:'p' }}
				</div>
				<div class="medium-4 columns">
					{{ 2 | lorem_ipsum:'p' }}
				</div>
				<div class="medium-4 columns">
					{{ 2 | lorem_ipsum:'p' }}
				</div>
			</div>
		</div>
	</div>
</section>

<section class="banding-section" data-evo-background-color="gray-lighter">
	<div class="banding-ctn">
		<div class="row">
			<h2>Enter Contest</h2>
			<div class="row">
				<div class="medium-3 medium-push-9 columns text-center">
					<a href="" class="button large radius evo-btn" id="" tabindex="" title="Enter Here">Enter Here</a>
				</div>
				<div class="medium-9 medium-pull-3 columns">
					{{ 2 | lorem_ipsum:'p' }}
				</div>
			</div>	
		</div>
	</div>
</section>

<section class="banding-section" data-evo-background-color="gray-light">
	<div class="banding-ctn">
		<div class="row">
			<h2>Rules of The Contest</h2>
			<div class="row">
				<div class="medium-6 columns">
					{{ 3 | lorem_ipsum:'p' }}
				</div>
				<div class="medium-6 columns">
					{{ 3 | lorem_ipsum:'p' }}
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}