{% layout "/demos/layout-employee-portal-demo" %}
{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}

<div class="col-24">	
	<h1>Header</h1>
	{{ 20 | lorem_ipsum: 'p' }}
</div>

{% endblock %}