{% layout "layout-employee-portal" %}
{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}

<div class="col-24">
	<div class="col-8 first">
		<div class="mul-box-adv mul-tile-ctn">
			<div class="mul-box-hdr js-mul-width-check js-mul-toggle-content-icon" mul-data-toggle="1">
				<i class="mul-icon-plus-circle mul-icon-position-left mul-float-right mul-tile-icon-position" href="javascript:;" title="Toggle Open/Closed"></i>
				<h4 class="mul-hdr-rule">
					<span>Tile Header</span>
				</h4>
			</div>
			<div class="mul-box-bdy mul-scroll-pane js-mul-scroll-pane" id="div1">
				{{ 2 | lorem_ipsum: 'p' }}
			</div>
		</div>
	</div>
	<div class="col-16">
		<div class="mul-box-adv mul-tile-ctn">
			<div class="mul-box-hdr js-mul-width-check js-mul-toggle-content-icon" mul-data-toggle="2">
				<i class="mul-icon-minus-circle mul-icon-position-left mul-float-right mul-tile-icon-position" href="javascript:;" title="Toggle Open/Closed"></i>
				<h4 class="mul-hdr-rule">
					<span>Tile Header</span>
				</h4>
			</div>
			<div class="mul-box-bdy mul-tile-default-expanded mul-scroll-pane js-mul-scroll-pane" id="div2">
				{{ 10 | lorem_ipsum: 'p' }}
			</div>
		</div>
	</div>
</div>

<div class="col-24">
	<div class="col-8 first">
		<div class="mul-box-adv mul-tile-ctn">
			<div class="mul-box-hdr js-mul-width-check js-mul-toggle-content-icon" mul-data-toggle="3">
				<i class="mul-icon-plus-circle mul-icon-position-left mul-float-right mul-tile-icon-position" href="javascript:;" title="Toggle Open/Closed"></i>
				<h4 class="mul-hdr-rule">
					<span>Tile Header</span>
				</h4>
			</div>
			<div class="mul-box-bdy mul-scroll-pane js-mul-scroll-pane" id="div3">
				{{ 9 | lorem_ipsum: 'p' }}
			</div>
		</div>		
	</div>
	<div class="col-8">
		<div class="mul-box-adv mul-tile-ctn">
			<div class="mul-box-hdr js-mul-width-check js-mul-toggle-content-icon" mul-data-toggle="4">
				<i class="mul-icon-plus-circle mul-icon-position-left mul-float-right mul-tile-icon-position" href="javascript:;" title="Toggle Open/Closed"></i>
				<h4 class="mul-hdr-rule">
					<span>Tile Header</span>
				</h4>
			</div>
			<div class="mul-box-bdy mul-scroll-pane js-mul-scroll-pane" id="div4">
				{{ 2 | lorem_ipsum: 'p' }}
			</div>
		</div>		
	</div>
	<div class="col-8">
		<div class="mul-box-adv mul-tile-ctn">
			<div class="mul-box-hdr js-mul-width-check js-mul-toggle-content-icon" mul-data-toggle="5">
				<i class="mul-icon-plus-circle mul-icon-position-left mul-float-right mul-tile-icon-position" href="javascript:;" title="Toggle Open/Closed"></i>
				<h4 class="mul-hdr-rule">
					<span>Tile Header</span>
				</h4>
			</div>
			<div class="mul-box-bdy mul-scroll-pane js-mul-scroll-pane" id="div5">
				{{ 6 | lorem_ipsum: 'p' }}
			</div>
		</div>		
	</div>	
</div>

{% endblock %}