{% layout "layout-login-background2-demo" %}
{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}

<!-- LOGIN LAYOUT - CONTAINER - BEGINS -->
<div class="mul-box mul-box-rnd mul-layout-login-ctn">

	<!-- CONTAINER HEADER - BEGINS -->
	<div class="col-24 mul-box-hdr">
		
		<!-- CONTAINER HEADER SUB HEADER - BEGINS -->
		<h3 class="mul-box-sub-hdr">Welcome to</h3>
		<!-- CONTAINER HEADER SUB HEADER - ENDS -->

		<!-- CONTAINER HEADER MAIN HEADER - BEGINS -->
		<h1 class="mul-box-main-hdr">
			MERCER <span>EVOLUTION</span>
		</h1>
		<!-- CONTAINER HEADER MAIN HEADER - ENDS -->

		<!-- CONTAINER HEADER SUB TEXT - BEGINS -->
		<div class="mul-box-sub-text">
			<p>Lorem ipsum Invidunt lorem nisl laoreet takimata. Labore quod nobis dolore lorem duis dolore invidunt cum tempor diam.</p>
		</div>
		<!-- CONTAINER HEADER SUB TEXT - ENDS -->

	</div>
	<!-- CONTAINER HEADER - ENDS -->

	<!-- CONTAINER BODY - BEGINS -->
	<div class="mul-box-bdy">

		<!-- ONE COLUMN LAYOUT - BEGINS -->
		<!--
		<div class="col-24">
			<div class="col-14 first mul-center-block">
				<div class="mul-box mul-box-rnd">
					<div class="mul-box-hdr">
						<h4>Log In</h4>
					</div>
					<div class="mul-box-bdy">

						<form class="mul-form" id="" name="" method="" action="" title="">
							<fieldset>
								<ol>
									<li>
										<input id="" name="" value="" type="email" autofocus="autofocus" tabindex="10" title="Enter your email address." placeholder="Email Address" />
									</li>
									<li>
										<input id="" name="" value="" type="password" tabindex="20" title="Enter your password." placeholder="Password" />
									</li>
									<li class="mul-form-action">
										<button class="mul-btn mul-btn-medium mul-btn-primary mul-btn-first mul-center-block" id="" name="" value="" type="button" tabindex="30" title="Enter">Enter</button>
									</li>
								</ol>
							</fieldset>
						</form>

					</div>
					<div class="mul-box-ftr">
						<p class="mul-align-center"><small><a href="javascript:;" tabindex="">Forgot Password?</a></small></p>
					</div>
				</div>
			</div>
		</div>
		-->
		<!-- ONE COLUMN LAYOUT - ENDS -->
		
		<!-- TWO COLUMN LAYOUT - BEGINS -->
		<div class="col-24">
			<div class="col-12 first">
				
				<div class="mul-box mul-box-rnd">
					<div class="mul-box-hdr">
						<h4>Log In</h4>
					</div>
					<div class="mul-box-bdy">

						<form class="mul-form" id="" name="" method="" action="" title="">
							<fieldset>
								<ol>
									<li>
										<input id="" name="" value="" type="email" autofocus="autofocus" tabindex="10" title="Enter your email address." placeholder="Email Address" />
									</li>
									<li>
										<input id="" name="" value="" type="password" tabindex="20" title="Enter your password." placeholder="Password" />
									</li>
									<li class="mul-form-action">
										<button class="mul-btn mul-btn-medium mul-btn-primary mul-btn-first mul-center-block" id="" name="" value="" type="button" tabindex="30" title="Enter">Enter</button>
									</li>
								</ol>
							</fieldset>
						</form>

					</div>
					<div class="mul-box-ftr">
						<p class="mul-align-center"><small><a href="javascript:;" tabindex="40">Forgot Password?</a></small></p>
					</div>
				</div>

			</div>
			<div class="col-12">

				<div class="mul-box mul-box-rnd">
					<div class="mul-box-hdr">
						<h4>Create Account</h4>
					</div>
					<div class="mul-box-bdy mul-layout-login-create-account">
						<p>Lorem ipsum Invidunt lorem nisl laoreet takimata. Labore quod nobis dolore lorem duis dolore.</p>
						<a class="mul-btn mul-btn-medium mul-btn-first mul-center-block mul-layout-login-create-account-btn" id="" href="javascript:;" tabindex="50" title="Create Account">Create Account</a>
					</div>
					<div class="mul-box-ftr">
						<p class="mul-align-center"><small><a href="javascript:;" tabindex="60">Learn More</a></small></p>
					</div>
				</div>

			</div>
		</div>
		<!-- TWO COLUMN LAYOUT - ENDS -->

	</div>
	<!-- CONTAINER BODY - ENDS -->

</div>
<!-- LOGIN LAYOUT - CONTAINER - ENDS -->

{% endblock %}