{% layout "layout-product-header-sliding-nav-demo" %}
{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}

	<section class="col-24">

		<div class="col-18 first">
			<h1>Header</h1>
			{{ 6 | lorem_ipsum:'p' }}
		</div>
		<div class="col-6">
			<div class="mul-box mul-sidebar-ctn">
				<div class="mul-box-hdr">
					<h3 class="mul-hdr-rule">Sidebar</h3>
				</div>
				<div class="box-bdy">
					{{ 2 | lorem_ipsum:'p' }}
				</div>
			</div>
		</div>

	</section>

{% endblock %}