<footer class="mul-footer">
	<div id="nav-bookmark" class="mul-footer-adjust">
		<div class="col-24 mul-footer-content-ctn">
			<div class="col-14 mul-footer-logo first">
				<img src="{{ "mercer_logo_126x18.png" | asset_url }}" alt="Mercer" width="126" height="18" />
			</div>
			<div class="col-10 mul-footer-copyright">
				<ul class="mul-horizontal-list mul-horizontal-list-piped">
					<li class="mul-no-margin-right">&copy; {{ 'now' | date: "%Y" }} Mercer LLC, All Rights Reserved</li>
				</ul>
			</div>
		</div>
	</div>
</footer>