<!-- STANDARD EXAMPLE SECTION - BEGINS -->
	<section class="row">
		<div class="large-10 large-centered columns evo-site-example-section">
			<section class="row">

			<!-- STANDARD HEADER - BEGINS -->
				<div class="medium-11 columns">
					<h3 class="evo-site-category-pages-header" id="{{ model.component-name-id-01 }}">{{ model.component-name-01 }}</h3>
				</div>
			<!-- STANDARD HEADER - ENDS -->

			<!-- BACK TO TOP - BEGINS -->
				<div class="medium-1 columns">
					<ul class="tabs evo-tabs-titles-category-pages">
						<li class="tab-title evo-no-padding-right evo-component-page-tab-back-to-top" role="presentation">
							<a data-scroll-to-top href="#top" tabindex="0" aria-selected="false" aria-controls=""><span class="text"><i class="evo-icon-circle-up2 evo-icon-size-small evo-center-block-vertical-element evo-center-block" title="Back to Top" aria-label="Back to Top"></i></span></a>
						</li>
					</ul>
				</div>
			<!-- BACK TO TOP - ENDS -->

			</section>

		<!-- STANDARD EXAMPLE - BEGINS -->
			<section class="row">
				<div class="small-12 columns">
					<hr class="evo-site-component-divider">
					<div class="tabs-content evo-no-margin-bottom">
						<section class="content active">

							{{ 5 | lorem_ipsum:'p' }}

						</section>
					</div>
				</div>
			</section>
		<!-- STANDARD EXAMPLE - ENDS -->

		</div>
	</section>
<!-- STANDARD EXAMPLE SECTION - ENDS -->