{% layout "ep/layout" %}
{% block content %}

<!-- TITLE BAR - BEGINS -->
<h3 class="evo-hdr-rule">Title Bar</h3>
<p><a href="/ep/index-title-bar">Demo of Title Bar</a></p>
<!-- TITLE BAR - ENDS -->

<!-- TYPE - BEGINS -->
<h3 class="evo-hdr-rule">Type</h3>
{% include "ep/base/type" %}
<!-- TYPE - ENDS -->

<br />

<!-- COLORS - BEGINS -->
<h3 class="evo-hdr-rule">Color Palette</h3>
{% include "ep/base/colors" %}
<!-- COLORS - ENDS -->

<br />

<!-- BUTTONS - BEGINS -->
<h3 class="evo-hdr-rule">Buttons</h3>
{% include "ep/base/buttons" %}
<!-- BUTTONS - ENDS -->

<!-- COMPACT FORM - BEGINS -->
<h3 class="evo-hdr-rule">Compact Form</h3>
{% include "base/forms/form-compact" %}
<!-- COMPACT FORM - ENDS -->

<!-- CONVERSATIONAL FORM - BEGINS -->
<h3 class="evo-hdr-rule">Conversational Form</h3>
{% include "ep/objects/form-conversational" %}
<!-- CONVERSATIONAL FORM - ENDS -->

<!-- SHOWCASE PANEL - BEGINS -->
<h3 class="evo-hdr-rule">Showcase Panel</h3>
{% include "ep/objects/showcase-panel" %}
<!-- SHOWCASE PANEL - ENDS -->

<br />

<!-- ITEM SELECTION PANEL - BEGINS -->
<h3 class="evo-hdr-rule">Item Selection Panel</h3>
{% include "ep/objects/item-selection-panel" %}
<!-- ITEM SELECTION PANEL - ENDS -->

<br />

<!-- PRICING TABLE - BEGINS -->
<h3 class="evo-hdr-rule">Pricing Table</h3>
{% include "ep/objects/pricing-table" %}
<!-- PRICING TABLE - ENDS -->

<br />

<!-- CAROUSEL - BEGINS -->
<h3 class="evo-hdr-rule">Carousel</h3>
{% include 'ep/objects/carousel' %}
<!-- CAROUSEL - ENDS -->

<br />

<!-- INVERSE STACKED FORM - BEGINS -->
<h3 class="evo-hdr-rule">Worksheet Form</h3>
{% include 'ep/objects/form-worksheet' %}
<!-- INVERSE STACKED FORM - ENDS -->

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

{% endblock %}