{% layout "ep/layout" %}
{% block content %}

<!-- TABLE OF CONTENTS - BEGINS -->
<h4 class="evo-hdr-rule">Table of Contents</h4>
<ul class="evo-data-list toc">
	<li><a class="js-evo-scroll-to-location" href="#section-buttons">Buttons</a></li>
	<li><a class="js-evo-scroll-to-location" href="#section-showcase-panel">Showcase Panel</a></li>
	<li><a class="js-evo-scroll-to-location" href="#section-item-selection-panel">Item Selection Panel</a></li>
	<li><a class="js-evo-scroll-to-location" href="#section-carousel">Carousel</a></li>
	<li><a class="js-evo-scroll-to-location" href="#section-add-remove-plan-carousel">Add/Remove Plan Component Carousel</a></li>
	<li><a class="js-evo-scroll-to-location" href="#section-pricing-table">Pricing Table</a></li>
	<li><a class="js-evo-scroll-to-location" href="#section-range-slider">Range Slider</a></li>
	<li><a class="js-evo-scroll-to-location" href="#section-conversational-form">Conversational Form</a></li>
	<li><a class="js-evo-scroll-to-location" href="#section-compact-form">Compact Form</a></li>
	<li><a class="js-evo-scroll-to-location" href="#section-worksheet-form">Worksheet Form</a></li>
	<li><a class="js-evo-scroll-to-location" href="#section-title-bar">Title Bar</a></li>
	<li><a class="js-evo-scroll-to-location" href="#section-stream">Stream</a></li>
	<li><a class="js-evo-scroll-to-location" href="#section-login-template">Login Template</a></li>
	<li><a class="js-evo-scroll-to-location" href="#section-modal">Modal</a></li>
	<li><a class="js-evo-scroll-to-location" href="#section-type">Type</a></li>
	<li><a class="js-evo-scroll-to-location" href="#section-color-palette">Color Palette</a></li>
</ul>
<!-- TABLE OF CONTENTS - ENDS -->

<!-- BUTTONS - BEGINS -->
<div id="section-buttons" class="section">
	<h4 class="evo-hdr-rule">Buttons<a href="#top" class="evo-icon-arrow-up2 right js-evo-scroll-to-top" title="Back To Top"></a></h4>
	{% include "ep/base/buttons" %}
</div>
<!-- BUTTONS - ENDS -->

<!-- SHOWCASE PANEL - BEGINS -->
<div id="section-showcase-panel" class="section">
	<h4 class="evo-hdr-rule">Showcase Panel<a href="#top" class="evo-icon-arrow-up2 right js-evo-scroll-to-top" title="Back To Top"></a></h4>
	{% include "ep/objects/showcase-panel" %}
</div>
<!-- SHOWCASE PANEL - ENDS -->

<!-- ITEM SELECTION PANEL - BEGINS -->
<div id="section-item-selection-panel" class="section">
	<h4 class="evo-hdr-rule">Item Selection Panel<a href="#top" class="evo-icon-arrow-up2 right js-evo-scroll-to-top" title="Back To Top"></a></h4>
	{% include "ep/objects/item-selection-panel" %}
</div>
<!-- ITEM SELECTION PANEL - ENDS -->

<!-- CAROUSEL - BEGINS -->
<div id="section-carousel" class="section">
	<h4 class="evo-hdr-rule">Carousel<a href="#top" class="evo-icon-arrow-up2 right js-evo-scroll-to-top" title="Back To Top"></a></h4>
	{% include '/objects/carousel' %}
</div>
<!-- CAROUSEL - ENDS -->

<!-- ADD/REMOVE PLAN COMPONENT CAROUSEL - BEGINS -->
<div id="section-add-remove-plan-carousel" class="section">
	<h4 class="evo-hdr-rule">Add/Remove Plan Component Carousel<a href="#top" class="evo-icon-arrow-up2 right js-evo-scroll-to-top" title="Back To Top"></a></h4>
	{% include 'ep/objects/add-remove-plan-component' %}
</div>
<!-- ADD/REMOVE PLAN COMPONENT CAROUSEL - ENDS -->

<!-- PRICING TABLE - BEGINS -->
<div id="section-pricing-table" class="section">
	<h4 class="evo-hdr-rule">Pricing Table<a href="#top" class="evo-icon-arrow-up2 right js-evo-scroll-to-top" title="Back To Top"></a></h4>
	{% include "ep/objects/pricing-table" %}
</div>
<!-- PRICING TABLE - ENDS -->

<!-- RANGE SLIDER - CONTRIBUTIONS - BEGINS -->
<div id="section-range-slider" class="section">
	<h4 class="evo-hdr-rule">Range Slider - Contributions<a href="#top" class="evo-icon-arrow-up2 right js-evo-scroll-to-top" title="Back To Top"></a></h4>
	{% include 'ep/objects/slider-contributions' %}
</div>
<!-- RANGE SLIDER - CONTRIBUTIONS - ENDS -->

<!-- CONVERSATIONAL FORM - BEGINS -->
<div id="section-conversational-form" class="section">
	<h4 class="evo-hdr-rule">Conversational Form<a href="#top" class="evo-icon-arrow-up2 right js-evo-scroll-to-top" title="Back To Top"></a></h4>
	{% include "ep/objects/form-conversational" %}
</div>
<!-- CONVERSATIONAL FORM - ENDS -->

<!-- COMPACT FORM - BEGINS -->
<div id="section-compact-form" class="section">
<h4 class="evo-hdr-rule">Compact Form<a href="#top" class="evo-icon-arrow-up2 right js-evo-scroll-to-top" title="Back To Top"></a></h4>
{% include "base/forms/form-compact" %}
</div>
<!-- COMPACT FORM - ENDS -->

<!-- WORKSHEET FORM - BEGINS -->
<div id="section-worksheet-form" class="section">
	<h4 class="evo-hdr-rule">Worksheet Form<a href="#top" class="evo-icon-arrow-up2 right js-evo-scroll-to-top" title="Back To Top"></a></h4>
	{% include 'ep/objects/form-worksheet' %}
</div>
<!-- WORKSHEET FORM - ENDS -->

<!-- TITLE BAR - BEGINS -->
<div id="section-title-bar" class="section">
	<h4 class="evo-hdr-rule">Title Bar<a href="#top" class="evo-icon-arrow-up2 right js-evo-scroll-to-top" title="Back To Top"></a></h4>
	<p><a href="/ep/index-title-bar">Demo of Title Bar</a></p>
</div>
<!-- TITLE BAR - ENDS -->

<!-- STREAM - BEGINS -->
<div id="section-stream" class="section">
	<h4 class="evo-hdr-rule">Stream<a href="#top" class="evo-icon-arrow-up2 right js-evo-scroll-to-top" title="Back To Top"></a></h4>
	{% include 'ep/objects/stream' %}
</div>
<!-- STREAM - ENDS -->

<!-- LOGIN TEMPLATE - BEGINS -->
<div id="section-login-template" class="section">
	<h4 class="evo-hdr-rule">Login Template<a href="#top" class="evo-icon-arrow-up2 right js-evo-scroll-to-top" title="Back To Top"></a></h4>
	{% include 'ep/objects/login-template' %}
</div>
<!-- LOGIN TEMPLATE - ENDS -->

<!-- MODAL - BEGINS -->
<div id="section-modal" class="section">
	<h4 class="evo-hdr-rule">Modal<a href="#top" class="evo-icon-arrow-up2 right js-evo-scroll-to-top" title="Back To Top"></a></h4>
	{% include 'ep/objects/reveal-modal' %}
</div>
<!-- MODAL - ENDS -->

<!-- TYPE - BEGINS -->
<div id="section-type" class="section">
	<h4 class="evo-hdr-rule">Type<a href="#top" class="evo-icon-arrow-up2 right js-evo-scroll-to-top" title="Back To Top"></a></h4>
	{% include "ep/base/type" %}
</div>
<!-- TYPE - ENDS -->

<!-- COLORS - BEGINS -->
<div id="section-color-palette" class="section">
	<h4 class="evo-hdr-rule">Color Palette<a href="#top" class="evo-icon-arrow-up2 right js-evo-scroll-to-top" title="Back To Top"></a></h4>
	{% include "ep/base/colors" %}
</div>
<!-- COLORS - ENDS -->

{% endblock %}