{% layout "ep/layout" %}
{% block content %}

<p>This page uses a title bar page header.</p>

{{ 5 | lorem_ipsum:'p' }}

<button class="button expand radius evo-btn" data-evo-button-icons="right" id="" name="" value="" type="" tabindex="" title="">
	<span class="evo-btn-text">Expanded Button Icon Right</span>
	<i class="evo-icon-arrow-right2 evo-icon-position-right" title=""></i>
</button>

{% endblock %}