{% layout "ep/layout" %}
{% block content %}

<!-- TYPE - BEGINS -->
<h3 class="evo-hdr-rule">Type</h3>

<h1>Header 1 with really really really really long text</h1>

<p>Base font, lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

<h2>Header 2 with really really really really long text</h2>

<p>Base font, lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

<h3>Header 3 with really really really really long text</h3>

<p>Base font, lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

<h4>Header 4 with really really really really long text</h4>

<p>Base font, lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

<h5>Header 5 with really really really really long text</h5>

<p>Base font, lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

<h6>Header 6 with really really really really long text</h6>

<p>Base font, lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

<h1 data-evo-font-color="white" data-evo-background-color="sapphire-dark">Header 1</h1>
<h1 data-evo-font-color="gray-dark">Header 1</h1>
<h1 data-evo-font-color="gray-mid">Header 1</h1>
<h1 data-evo-font-color="gray-light">Header 1</h1>

<h2 data-evo-font-color="white" data-evo-background-color="sapphire-dark">Header 2</h2>
<h2 data-evo-font-color="gray-dark">Header 2</h2>
<h2 data-evo-font-color="gray-mid">Header 2</h2>
<h2 data-evo-font-color="gray-light">Header 2</h2>

<h3 data-evo-font-color="white" data-evo-background-color="sapphire-dark">Header 3</h3>
<h3 data-evo-font-color="gray-dark">Header 3</h3>
<h3 data-evo-font-color="gray-mid">Header 3</h3>
<h3 data-evo-font-color="gray-light">Header 3</h3>

<h4 data-evo-font-color="white" data-evo-background-color="sapphire-dark">Header 4</h4>
<h4 data-evo-font-color="gray-dark">Header 4</h4>
<h4 data-evo-font-color="gray-mid">Header 4</h4>
<h4 data-evo-font-color="gray-light">Header 4</h4>

<h5 data-evo-font-color="white" data-evo-background-color="sapphire-dark">Header 5</h5>
<h5 data-evo-font-color="gray-dark">Header 5</h5>
<h5 data-evo-font-color="gray-mid">Header 5</h5>
<h5 data-evo-font-color="gray-light">Header 5</h5>

<h6 data-evo-font-color="white" data-evo-background-color="sapphire-dark">Header 6</h6>
<h6 data-evo-font-color="gray-dark">Header 6</h6>
<h6 data-evo-font-color="gray-mid">Header 6</h6>
<h6 data-evo-font-color="gray-light">Header 6</h6>

<p data-evo-font-color="white" data-evo-background-color="sapphire-dark">Base font, lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

<p data-evo-font-color="gray-dark">Base font, lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

<p data-evo-font-color="sapphire">Base font, lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

<p data-evo-font-color="ruby-mid">Base font, lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

<ol>
	<li><span>Ordered list item one. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ordered list item one. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ordered list item one. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span></li>
	<li><span>Ordered list item two. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ordered list item two. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ordered list item two. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing.</span></li>
	<li><span>Ordered list item three</span></li>
</ol>

<ul>
	<li><span>Unordered list item one. Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span></li>
	<li><span>Unordered list item two</span></li>
	<li><span>Unordered list item three. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span></li>
</ul>

<ol>
	<li><span>Ordered list item three</span>
		<ol>
			<li><span>Ordered list level 2</span></li>
			<li><span>Ordered list level 2</span></li>
			<li><span>Ordered list level 2</span></li>
		</ol>
	</li>
</ol>

<ul>
	<li><span>Unordered list item three. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
		<ul>
			<li><span>Unordered list level 2</span></li>
			<li><span>Unordered list level 2</span></li>
			<li><span>Unordered list level 2</span></li>
		</ul>
	</li>
</ul>

<dl>
	<dt>Definition Term</dt>
	<dd>Definition description. Lorem ipsum dolor sit amet, consectetur.</dd>
</dl>

<p><small class="evo-footnote">Footnote, Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</small></p>

<p data-evo-background-color="sapphire-dark"><small class="evo-footnote" data-evo-font-color="white">Footnote, Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</small></p>

<hr />

<p>
	<a href="#" title="">&lt;a&gt; anchor link</a>
	<br /><a href="#" class="evo-anchor-small" title="">&lt;a&gt; anchor link small - See Details</a>
	<br /><a href="#" class="evo-anchor-reverse" title="" data-evo-background-color="sapphire-dark">&lt;a&gt; reverse color anchor link</a>
	<br /><a href="#" class="evo-anchor-alt" title="">&lt;a&gt; custom color anchor link</a>
	<br /> <abbr title="title">&lt;abbr&gt; abbreviation</abbr>
	<br /> <em>&lt;em&gt; emphasis stress or italic</em>
	<br /> <strong>&lt;strong&gt; strong importance or bold</strong>
	<br />			
	<small>&lt;small&gt; small print, footnotes, or form helper text</small>
	<label class="evo-small-text">Small label</label>
</p>

<br />

<h3 class="evo-hdr-rule">Type - Cost</h3>

<p class="evo-large-cost">
	<span class="evo-cost-number">
		<sup>$</sup>200
	</span>
	<sub class="evo-monthly-label">/mo</sub>
	<span class="evo-total-label">total cost</span>
</p>

<p class="evo-large-cost">
	<span class="evo-cost-number" data-evo-font-color="ruby-mid">
		<sup>$</sup>200
	</span>
	<sub class="evo-monthly-label" data-evo-font-color="ruby-mid">/mo</sub>
	<span class="evo-total-label" data-evo-font-color="ruby-mid">total cost</span>
</p>

<p class="evo-large-cost">
	<span class="evo-cost-number" data-evo-font-color="sapphire-mid">
		<sup>$</sup>200
	</span>
	<sub class="evo-monthly-label" data-evo-font-color="sapphire-mid">/mo</sub>
	<span class="evo-total-label" data-evo-font-color="sapphire-mid">total cost</span>
</p>

<p class="evo-large-cost evo-cost-reverse" data-evo-background-color="garnet">
	<span class="evo-cost-number">
		<sup>$</sup>200
	</span>
	<sub class="evo-monthly-label">/mo</sub>
	<span class="evo-total-label">total cost</span>
</p>

<p class="evo-small-cost">
	<span class="evo-cost-number">
		<sup>$</sup>125.00
	</span>
	<sub class="evo-monthly-label">/month</sub>
	<span class="evo-plan-label">Medical Plan Company B</span>
	<a href="#" class="evo-plan-label">The benefits in this plan are different from your selections</a>
</p>

<p class="evo-small-cost">
	<span class="evo-cost-number" data-evo-font-color="ruby-mid">
		<sup>$</sup>125.00
	</span>
	<sub class="evo-monthly-label" data-evo-font-color="ruby-mid">/month</sub>
	<span class="evo-plan-label" data-evo-font-color="ruby-mid">Medical Plan Company B</span>
	<a href="#" class="evo-plan-label">The benefits in this plan are different from your selections</a>
</p>

<p class="evo-small-cost">
	<span class="evo-cost-number" data-evo-font-color="sapphire-mid">
		<sup>$</sup>125.00
	</span>
	<sub class="evo-monthly-label" data-evo-font-color="sapphire-mid">/month</sub>
	<span class="evo-plan-label" data-evo-font-color="sapphire-mid">Medical Plan Company B</span>
	<a href="#" class="evo-plan-label">The benefits in this plan are different from your selections</a>
</p>

<p class="evo-small-cost evo-cost-reverse" data-evo-background-color="garnet">
	<span class="evo-cost-number">
		<sup>$</sup>125.00
	</span>
	<sub class="evo-monthly-label">/month</sub>
	<span class="evo-plan-label">Medical Plan Company B</span>
	<a href="#" class="evo-plan-label">The benefits in this plan are different from your selections</a>
</p>

<br />
<!-- TYPE - ENDS -->

<!-- COLORS - BEGINS -->
<h3 class="evo-hdr-rule">Color Palette</h3>

<div class="evo-margin-bottom">
	<h5>Base</h5>
	<div class="color-block" data-evo-background-color="black">#000000</div>
	<div class="color-block" data-evo-background-color="white">#FFFFFF</div>
</div>

<div class="evo-margin-bottom">
	<h5>Gray</h5>
	<div class="color-block" data-evo-background-color="gray-darker">#37424A</div>
	<div class="color-block" data-evo-background-color="gray-dark">#404040</div>
	<div class="color-block" data-evo-background-color="gray-mid">#808080</div>
	<div class="color-block" data-evo-background-color="gray-light">#BFBFBF</div>
</div>

<div class="evo-margin-bottom">
	<h5>Sapphire</h5>
	<div class="color-block" data-evo-background-color="sapphire">#002C77</div>
	<div class="color-block" data-evo-background-color="sapphire-dark">#006D9E</div>
	<div class="color-block" data-evo-background-color="sapphire-mid">#00A8C8</div>
	<div class="color-block" data-evo-background-color="sapphire-light">#A6E2EF</div>
</div>

<div class="evo-margin-bottom">
	<h5>Iolite</h5>
	<div class="color-block" data-evo-background-color="iolite">#43286D</div>
	<div class="color-block" data-evo-background-color="iolite-dark">#595998</div>
	<div class="color-block" data-evo-background-color="iolite-mid">#6F85C2</div>
	<div class="color-block" data-evo-background-color="iolite-light">#C5CAE7</div>
</div>

<div class="evo-margin-bottom">
	<h5>Amethyst</h5>
	<div class="color-block" data-evo-background-color="amethyst">#570054</div>
	<div class="color-block" data-evo-background-color="amethyst-dark">#932077</div>
	<div class="color-block" data-evo-background-color="amethyst-mid">#CF3D96</div>
	<div class="color-block" data-evo-background-color="amethyst-light">#E7B8D6</div>
</div>

<div class="evo-margin-bottom">
	<h5>Ruby</h5>
	<div class="color-block" data-evo-background-color="ruby">#690031</div>
	<div class="color-block" data-evo-background-color="ruby-dark">#A9194F</div>
	<div class="color-block" data-evo-background-color="ruby-mid">#ED2C67</div>
	<div class="color-block" data-evo-background-color="ruby-light">#F7B6BB</div>
</div>

<div class="evo-margin-bottom">
	<h5>Garnet</h5>
	<div class="color-block" data-evo-background-color="garnet">#820009</div>
	<div class="color-block" data-evo-background-color="garnet-dark">#BB2C2B</div>
	<div class="color-block" data-evo-background-color="garnet-mid">#EF4E45</div>
	<div class="color-block" data-evo-background-color="garnet-light">#F9BEAD</div>
</div>

<div class="evo-margin-bottom">
	<h5>Citrine</h5>
	<div class="color-block" data-evo-background-color="citrine">#8D380A</div>
	<div class="color-block" data-evo-background-color="citrine-dark">#C55F24</div>
	<div class="color-block" data-evo-background-color="citrine-mid">#F48132</div>
	<div class="color-block" data-evo-background-color="citrine-light">#FCCFAB</div>
</div>

<div class="evo-margin-bottom">
	<h5>Topaz</h5>
	<div class="color-block" data-evo-background-color="topaz">#905501</div>
	<div class="color-block" data-evo-background-color="topaz-dark">#C98414</div>
	<div class="color-block" data-evo-background-color="topaz-mid">#FBAE17</div>
	<div class="color-block" data-evo-background-color="topaz-light">#FFDDAC</div>
</div>

<div class="evo-margin-bottom">
	<h5>Peridot</h5>
	<div class="color-block" data-evo-background-color="peridot">#516021</div>
	<div class="color-block" data-evo-background-color="peridot-dark">#838E30</div>
	<div class="color-block" data-evo-background-color="peridot-mid">#B3BA35</div>
	<div class="color-block" data-evo-background-color="peridot-light">#D9D99F</div>
</div>

<div class="evo-margin-bottom">
	<h5>Emerald</h5>
	<div class="color-block" data-evo-background-color="emerald">#00582D</div>
	<div class="color-block" data-evo-background-color="emerald-dark">#128C3F</div>
	<div class="color-block" data-evo-background-color="emerald-mid">#72BE44</div>
	<div class="color-block" data-evo-background-color="emerald-light">#BDDDA3</div>
</div>

<div class="evo-margin-bottom">
	<h5>Turquoise</h5>
	<div class="color-block" data-evo-background-color="turquoise">#004C50</div>
	<div class="color-block" data-evo-background-color="turquoise-dark">#008075</div>
	<div class="color-block" data-evo-background-color="turquoise-mid">#0FB694</div>
	<div class="color-block" data-evo-background-color="turquoise-light">#A7D9C8</div>
</div>

<br />
<!-- COLORS - ENDS -->

<!-- BUTTONS - BEGINS -->
<h3 class="evo-hdr-rule">Buttons</h3>

<button class="button expand radius show-for-small-only evo-btn" id="" name="" value="" type="" tabindex="" title="">
	<span class="evo-btn-text">Primary</span>
</button>

<button class="button radius show-for-medium-up evo-btn" id="" name="" value="" type="" tabindex="" title="">
	<span class="evo-btn-text">Primary</span>
</button>

<button class="button expand radius secondary show-for-small-only evo-btn" id="" name="" value="" type="" tabindex="" title="">
	<span class="evo-btn-text">Secondary</span>
</button>

<button class="button radius secondary show-for-medium-up evo-btn" id="" name="" value="" type="" tabindex="" title="">
	<span class="evo-btn-text">Secondary</span>
</button>

<button class="button expand radius show-for-small-only evo-btn" data-evo-button-color="white" data-evo-button-font-color="sapphire-dark" id="" name="" value="" type="" tabindex="" title="">
	<span class="evo-btn-text">Custom Color</span>
</button>

<button class="button radius show-for-medium-up evo-btn" data-evo-button-color="white" data-evo-button-font-color="sapphire-dark" id="" name="" value="" type="" tabindex="" title="">
	<span class="evo-btn-text">Custom Color</span>
</button>

<button class="button expand radius show-for-small-only evo-btn" data-evo-button-icons="right" id="" name="" value="" type="" tabindex="" title="">
	<span class="evo-btn-text">Primary Icon Right</span>
	<i class="evo-icon-arrow-right2 evo-icon-position-right" title=""></i>
</button>

<button class="button radius show-for-medium-up evo-btn" data-evo-button-icons="right" id="" name="" value="" type="" tabindex="" title="">
	<span class="evo-btn-text">Primary Icon Right</span>
	<i class="evo-icon-arrow-right2 evo-icon-position-right" title=""></i>
</button>

<button class="button expand radius secondary show-for-small-only evo-btn" data-evo-button-icons="right" id="" name="" value="" type="" tabindex="" title="">
	<span class="evo-btn-text">Secondary Icon Right</span>
	<i class="evo-icon-arrow-right2 evo-icon-position-right" title=""></i>
</button>

<button class="button radius secondary show-for-medium-up evo-btn" data-evo-button-icons="right" id="" name="" value="" type="" tabindex="" title="">
	<span class="evo-btn-text">Secondary Icon Right</span>
	<i class="evo-icon-arrow-right2 evo-icon-position-right" title=""></i>
</button>

<button class="button expand radius show-for-small-only evo-btn" data-evo-button-color="white" data-evo-button-font-color="sapphire-dark" data-evo-button-icons="right" id="" name="" value="" type="" tabindex="" title="">
	<span class="evo-btn-text">Custom Color Icon Right</span>
	<i class="evo-icon-arrow-right2 evo-icon-position-right" title=""></i>
</button>

<button class="button radius show-for-medium-up evo-btn" data-evo-button-color="white" data-evo-button-font-color="sapphire-dark" data-evo-button-icons="right" id="" name="" value="" type="" tabindex="" title="">
	<span class="evo-btn-text">Custom Color Icon Right</span>
	<i class="evo-icon-arrow-right2 evo-icon-position-right" title=""></i>
</button>

<button class="button expand radius disabled show-for-small-only evo-btn" data-evo-button-icons="right" id="" name="" value="" type="" disabled="disabled" tabindex="" title="">
	<span class="evo-btn-text">Disabled Primary Icon Right</span>
	<i class="evo-icon-arrow-right2 evo-icon-position-right" title=""></i>
</button>

<button class="button radius disabled show-for-medium-up evo-btn" data-evo-button-icons="right" id="" name="" value="" type="" disabled="disabled" tabindex="" title="">
	<span class="evo-btn-text">Disabled Primary Icon Right</span>
	<i class="evo-icon-arrow-right2 evo-icon-position-right" title=""></i>
</button>

<button class="button expand radius disabled secondary show-for-small-only evo-btn" data-evo-button-icons="right" id="" name="" value="" type="" disabled="disabled" tabindex="" title="">
	<span class="evo-btn-text">Disabled Secondary Icon Right</span>
	<i class="evo-icon-arrow-right2 evo-icon-position-right" title=""></i>
</button>

<button class="button radius disabled secondary show-for-medium-up evo-btn" data-evo-button-icons="right" id="" name="" value="" type="" disabled="disabled" tabindex="" title="">
	<span class="evo-btn-text">Disabled Secondary Icon Right</span>
	<i class="evo-icon-arrow-right2 evo-icon-position-right" title=""></i>
</button>

<button class="button expand radius disabled show-for-small-only evo-btn" data-evo-button-color="white" data-evo-button-font-color="sapphire-dark" data-evo-button-icons="right" id="" name="" value="" type="" disabled="disabled" tabindex="" title="">
	<span class="evo-btn-text">Disabled Custom Color Icon Right</span>
	<i class="evo-icon-arrow-right2 evo-icon-position-right" title=""></i>
</button>

<button class="button radius disabled show-for-medium-up evo-btn" data-evo-button-color="white" data-evo-button-font-color="sapphire-dark" data-evo-button-icons="right" id="" name="" value="" type="" disabled="disabled" tabindex="" title="">
	<span class="evo-btn-text">Disabled Custom Color Icon Right</span>
	<i class="evo-icon-arrow-right2 evo-icon-position-right" title=""></i>
</button>
<!-- BUTTONS - ENDS -->

<!-- COMPACT FORM - BEGINS -->
<h3 class="evo-hdr-rule">Compact Form</h3>

{% include "base/forms/form-compact" %}
<!-- COMPACT FORM - ENDS -->

<!-- CONVERSATIONAL FORM - BEGINS -->
<h3 class="evo-hdr-rule">Conversational Form</h3>

{% include "ep/base/form-conversational" %}
<!-- CONVERSATIONAL FORM - ENDS -->

<!-- SHOWCASE PANEL - BEGINS -->
<h3 class="evo-hdr-rule">Showcase Panel</h3>

{% include "ep/base/showcase-panel" %}
<!-- SHOWCASE PANEL - ENDS -->

<br>

<!-- ITEM SELECTION PANEL - BEGINS -->
<h3 class="evo-hdr-rule">Item Selection Panel</h3>

{% include "ep/base/item-selection-panel" %}
<!-- ITEM SELECTION PANEL - ENDS -->

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}