{% layout "ep/layout" %}
{% block content %}

<!-- TYPE - BEGINS -->
<h3 class="evo-hdr-rule">Type</h3>

<h1>Header 1 with really really really really long text</h1>

<p>Base font, lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

<h2>Header 2 with really really really really long text</h2>

<p>Base font, lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

<h3>Header 3 with really really really really long text</h3>

<p>Base font, lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

<h4>Header 4 with really really really really long text</h4>

<p>Base font, lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

<h5>Header 5 with really really really really long text</h5>

<p>Base font, lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

<h6>Header 6 with really really really really long text</h6>

<p>Base font, lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

<h1 data-evo-font-color="white" data-evo-background-color="sapphire-dark">Header 1</h1>
<h1 data-evo-font-color="gray-dark">Header 1</h1>
<h1 data-evo-font-color="gray-mid">Header 1</h1>
<h1 data-evo-font-color="gray-light">Header 1</h1>

<h2 data-evo-font-color="white" data-evo-background-color="sapphire-dark">Header 2</h2>
<h2 data-evo-font-color="gray-dark">Header 2</h2>
<h2 data-evo-font-color="gray-mid">Header 2</h2>
<h2 data-evo-font-color="gray-light">Header 2</h2>

<h3 data-evo-font-color="white" data-evo-background-color="sapphire-dark">Header 3</h3>
<h3 data-evo-font-color="gray-dark">Header 3</h3>
<h3 data-evo-font-color="gray-mid">Header 3</h3>
<h3 data-evo-font-color="gray-light">Header 3</h3>

<h4 data-evo-font-color="white" data-evo-background-color="sapphire-dark">Header 4</h4>
<h4 data-evo-font-color="gray-dark">Header 4</h4>
<h4 data-evo-font-color="gray-mid">Header 4</h4>
<h4 data-evo-font-color="gray-light">Header 4</h4>

<h5 data-evo-font-color="white" data-evo-background-color="sapphire-dark">Header 5</h5>
<h5 data-evo-font-color="gray-dark">Header 5</h5>
<h5 data-evo-font-color="gray-mid">Header 5</h5>
<h5 data-evo-font-color="gray-light">Header 5</h5>

<h6 data-evo-font-color="white" data-evo-background-color="sapphire-dark">Header 6</h6>
<h6 data-evo-font-color="gray-dark">Header 6</h6>
<h6 data-evo-font-color="gray-mid">Header 6</h6>
<h6 data-evo-font-color="gray-light">Header 6</h6>

<p data-evo-font-color="white" data-evo-background-color="sapphire-dark">Base font, lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

<p data-evo-font-color="gray-dark">Base font, lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

<p data-evo-font-color="sapphire">Base font, lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

<p data-evo-font-color="ruby-mid">Base font, lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

<ol>
	<li><span>Ordered list item one. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ordered list item one. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ordered list item one. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span></li>
	<li><span>Ordered list item two. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ordered list item two. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ordered list item two. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing.</span></li>
	<li><span>Ordered list item three</span></li>
</ol>

<ul>
	<li><span>Unordered list item one. Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span></li>
	<li><span>Unordered list item two</span></li>
	<li><span>Unordered list item three. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span></li>
</ul>

<ol>
	<li><span>Ordered list item three</span>
		<ol>
			<li><span>Ordered list level 2</span></li>
			<li><span>Ordered list level 2</span></li>
			<li><span>Ordered list level 2</span></li>
		</ol>
	</li>
</ol>

<ul>
	<li><span>Unordered list item three. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
		<ul>
			<li><span>Unordered list level 2</span></li>
			<li><span>Unordered list level 2</span></li>
			<li><span>Unordered list level 2</span></li>
		</ul>
	</li>
</ul>

<dl>
	<dt>Definition Term</dt>
	<dd>Definition description. Lorem ipsum dolor sit amet, consectetur.</dd>
</dl>

<p><small class="evo-footnote">Footnote, Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</small></p>

<p data-evo-background-color="sapphire-dark"><small class="evo-footnote" data-evo-font-color="white">Footnote, Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</small></p>

<hr />

<p>
	<a href="#" title="link">&lt;a&gt; anchor link</a>
	<br /><a href="#" class="link-small" title="link">&lt;a&gt; anchor link small - See Details</a>
	<br /><a href="#" class="reverse" title="link" data-evo-background-color="sapphire-dark">&lt;a&gt; reverse color anchor link</a>
	<br /><a href="#" class="alt" title="link">&lt;a&gt; custom color anchor link</a>
	<br /> <abbr title="title">&lt;abbr&gt; abbreviation</abbr>
	<br /> <em>&lt;em&gt; emphasis stress or italic</em>
	<br /> <strong>&lt;strong&gt; strong importance or bold</strong>
	<br />			
	<small>&lt;small&gt; small print, footnotes, or form helper text</small>
	<label class="small-text">Small label</label>
</p>

<br />

<h3 class="evo-hdr-rule">Type - Cost</h3>

<p class="large-cost">
	<span class="cost-number">
		<sup>$</sup>200
	</span>
	<sub class="monthly-label">/mo</sub>
	<span class="total-label">total cost</span>
</p>

<p class="large-cost cost-reverse" data-evo-background-color="garnet">
	<span class="cost-number">
		<sup>$</sup>200
	</span>
	<sub class="monthly-label">/mo</sub>
	<span class="total-label">total cost</span>
</p>

<p class="small-cost">
	<span class="cost-number">
		<sup>$</sup>125.00
	</span>
	<sub class="monthly-label">/month</sub>
	<span class="plan-label">Medical Plan Company B</span>
	<a href="#" class="alt plan-label">The benefits in this plan are different from your selections</a>
</p>

<p class="small-cost cost-reverse" data-evo-background-color="garnet">
	<span class="cost-number">
		<sup>$</sup>125.00
	</span>
	<sub class="monthly-label">/month</sub>
	<span class="plan-label">Medical Plan Company B</span>
	<a href="#" class="alt plan-label">The benefits in this plan are different from your selections</a>
</p>

<br />
<!-- TYPE - ENDS -->

<!-- COLORS - BEGINS -->
<h3 class="evo-hdr-rule">Color Palette</h3>

<div class="base evo-margin-bottom">
	<h5>Base</h5>
	<div class="color-block color-block-01">#000000</div>
	<div class="color-block color-block-02">#FFFFFF</div>
</div>

<div class="gray evo-margin-bottom">
	<h5>Gray</h5>
	<div class="color-block color-block-03">#37424A</div>
	<div class="color-block color-block-04">#404040</div>
	<div class="color-block color-block-05">#808080</div>
	<div class="color-block color-block-06">#BFBFBF</div>
</div>

<div class="sapphire evo-margin-bottom">
	<h5>Sapphire</h5>
	<div class="color-block color-block-01">#002C77</div>
	<div class="color-block color-block-02">#006D9E</div>
	<div class="color-block color-block-03">#00A8C8</div>
	<div class="color-block color-block-04">#A6E2EF</div>
</div>

<div class="iolite evo-margin-bottom">
	<h5>Iolite</h5>
	<div class="color-block color-block-01">#43286D</div>
	<div class="color-block color-block-02">#595998</div>
	<div class="color-block color-block-03">#6F85C2</div>
	<div class="color-block color-block-04">#C5CAE7</div>
</div>

<div class="amethyst evo-margin-bottom">
	<h5>Amethyst</h5>
	<div class="color-block color-block-01">#570054</div>
	<div class="color-block color-block-02">#932077</div>
	<div class="color-block color-block-03">#CF3D96</div>
	<div class="color-block color-block-04">#E7B8D6</div>
</div>

<div class="ruby evo-margin-bottom">
	<h5>Ruby</h5>
	<div class="color-block color-block-01">#690031</div>
	<div class="color-block color-block-02">#A9194F</div>
	<div class="color-block color-block-03">#ED2C67</div>
	<div class="color-block color-block-04">#F7B6BB</div>
</div>

<div class="garnet evo-margin-bottom">
	<h5>Garnet</h5>
	<div class="color-block color-block-01">#820009</div>
	<div class="color-block color-block-02">#BB2C2B</div>
	<div class="color-block color-block-03">#EF4E45</div>
	<div class="color-block color-block-04">#F9BEAD</div>
</div>

<div class="citrine evo-margin-bottom">
	<h5>Citrine</h5>
	<div class="color-block color-block-01">#8D380A</div>
	<div class="color-block color-block-02">#C55F24</div>
	<div class="color-block color-block-03">#F48132</div>
	<div class="color-block color-block-04">#FCCFAB</div>
</div>

<div class="topaz evo-margin-bottom">
	<h5>Topaz</h5>
	<div class="color-block color-block-01">#905501</div>
	<div class="color-block color-block-02">#C98414</div>
	<div class="color-block color-block-03">#FBAE17</div>
	<div class="color-block color-block-04">#FFDDAC</div>
</div>

<div class="peridot evo-margin-bottom">
	<h5>Peridot</h5>
	<div class="color-block color-block-01">#516021</div>
	<div class="color-block color-block-02">#838E30</div>
	<div class="color-block color-block-03">#B3BA35</div>
	<div class="color-block color-block-04">#D9D99F</div>
</div>

<div class="emerald evo-margin-bottom">
	<h5>Emerald</h5>
	<div class="color-block color-block-01">#00582D</div>
	<div class="color-block color-block-02">#128C3F</div>
	<div class="color-block color-block-03">#72BE44</div>
	<div class="color-block color-block-04">#BDDDA3</div>
</div>

<div class="turquoise evo-margin-bottom">
	<h5>Turquoise</h5>
	<div class="color-block color-block-01">#004C50</div>
	<div class="color-block color-block-02">#008075</div>
	<div class="color-block color-block-03">#0FB694</div>
	<div class="color-block color-block-04">#A7D9C8</div>
</div>

<br />
<!-- COLORS - ENDS -->

<!-- BUTTONS - BEGINS -->
<h3 class="evo-hdr-rule">Buttons</h3>

<button class="button expand radius evo-btn" data-evo-button-icons="right" id="" name="" value="" type="" tabindex="" title="">
	<span class="evo-btn-text">Primary Icon Right</span>
	<i class="evo-icon-arrow-right2 evo-icon-position-right" title=""></i>
</button>

<button class="button expand radius secondary evo-btn" data-evo-button-icons="right" id="" name="" value="" type="" tabindex="" title="">
	<span class="evo-btn-text">Secondary Icon Right</span>
	<i class="evo-icon-arrow-right2 evo-icon-position-right" title=""></i>
</button>

<button class="button expand radius evo-btn" data-evo-button-color="white" data-evo-button-font-color="sapphire-dark" data-evo-button-icons="right" id="" name="" value="" type="" tabindex="" title="">
	<span class="evo-btn-text">Custom Color Icon Right</span>
	<i class="evo-icon-arrow-right2 evo-icon-position-right" title=""></i>
</button>

<button class="button expand radius disabled evo-btn" data-evo-button-icons="right" id="" name="" value="" type="" disabled="disabled" tabindex="" title="">
	<span class="evo-btn-text">Disabled Primary Icon Right</span>
	<i class="evo-icon-arrow-right2 evo-icon-position-right" title=""></i>
</button>

<button class="button expand radius disabled secondary evo-btn" data-evo-button-icons="right" id="" name="" value="" type="" disabled="disabled" tabindex="" title="">
	<span class="evo-btn-text">Disabled Secondary Icon Right</span>
	<i class="evo-icon-arrow-right2 evo-icon-position-right" title=""></i>
</button>

<button class="button expand radius disabled evo-btn" data-evo-button-color="white" data-evo-button-font-color="sapphire-dark" data-evo-button-icons="right" id="" name="" value="" type="" disabled="disabled" tabindex="" title="">
	<span class="evo-btn-text">Disabled Custom Color Icon Right</span>
	<i class="evo-icon-arrow-right2 evo-icon-position-right" title=""></i>
</button>
<!-- BUTTONS - ENDS -->

<!-- CONVERSATIONAL FORM - BEGINS -->
<h3 class="evo-hdr-rule">Conversational Form</h3>

{% include "ep/base/form-conversational" %}
<!-- CONVERSATIONAL FORM - ENDS -->



{% endblock %}