{% layout "ep/layout" %}
{% block content %}

<p>This page uses a menu bar page header.</p>

{{ 2 | lorem_ipsum:'p' }}

<!-- CONVERSATIONAL FORM - BEGINS -->
	{% include "ep/base/form-conversational" %}
<!-- CONVERSATIONAL FORM - ENDS -->

<button class="button expand radius evo-btn" data-evo-button-icons="right" id="" name="" value="" type="" tabindex="" title="">
	<span class="evo-btn-text">Expanded Button Icon Right</span>
	<i class="evo-icon-arrow-right2 evo-icon-position-right" title=""></i>
</button>



{% endblock %}