{% layout "ep/layout" %}
{% block content %}

<!-- TITLE BAR - BEGINS -->
<h3 class="evo-hdr-rule">Title Bar</h3>
<p><a href="/ep/index-title-bar">Demo of Title Bar</a></p>
<!-- TITLE BAR - ENDS -->

<!-- TYPE - BEGINS -->
<h3 class="evo-hdr-rule">Type</h3>
{% include "ep/base/type" %}
<!-- TYPE - ENDS -->

<br />

<!-- COLORS - BEGINS -->
<h3 class="evo-hdr-rule">Color Palette</h3>
{% include "ep/base/colors" %}
<!-- COLORS - ENDS -->

<br />

<!-- BUTTONS - BEGINS -->
<h3 class="evo-hdr-rule">Buttons</h3>
{% include "ep/base/buttons" %}
<!-- BUTTONS - ENDS -->

<!-- COMPACT FORM - BEGINS -->
<h3 class="evo-hdr-rule">Compact Form</h3>
{% include "base/forms/form-compact" %}
<!-- COMPACT FORM - ENDS -->

<!-- CONVERSATIONAL FORM - BEGINS -->
<h3 class="evo-hdr-rule">Conversational Form</h3>
{% include "ep/objects/form-conversational" %}
<!-- CONVERSATIONAL FORM - ENDS -->

<!-- SHOWCASE PANEL - BEGINS -->
<h3 class="evo-hdr-rule">Showcase Panel</h3>
{% include "ep/objects/showcase-panel" %}
<!-- SHOWCASE PANEL - ENDS -->

<br />

<!-- ITEM SELECTION PANEL - BEGINS -->
<h3 class="evo-hdr-rule">Item Selection Panel</h3>
{% include "ep/objects/item-selection-panel" %}
<!-- ITEM SELECTION PANEL - ENDS -->

<br />

<!-- PRICING TABLE - BEGINS -->
<h3 class="evo-hdr-rule">Pricing Table</h3>
{% include "ep/objects/pricing-table" %}
<!-- PRICING TABLE - ENDS -->

<br />

<!-- CAROUSEL - BEGINS -->
<h3 class="evo-hdr-rule">Carousel</h3>
{% include 'ep/objects/carousel' %}
<!-- CAROUSEL - ENDS -->

<br />

<!-- INVERSE STACKED FORM - BEGINS -->
<h3 class="evo-hdr-rule">Worksheet Form</h3>
{% include 'ep/objects/form-worksheet' %}
<!-- INVERSE STACKED FORM - ENDS -->

<br>

<!-- REVEAL/MODAL - BEGINS -->
<h3 class="evo-hdr-rule">Reveal Modal</h3>
{% include 'ep/objects/reveal-modal' %}
<!-- REVEAL/MODAL - ENDS -->

<br><br><br>

<!-- LOGIN TEMPLATE - BEGINS -->
<h3 class="evo-hdr-rule">Login Template</h3>
<div class="evo-login-template">
	<div class="row">
		<div class="small-12 columns">
			<div class="evo-login-content-ctn">			
				<img src="{{ "mercer_logo_reverse_188x28.png" | asset_url }}">
				<p>Mercer helps you make the most of your future by helping you take action on your health, wealth, and career today.</p>
			</div>
	<!-- FORM COMPACT - BEGINS -->
		<form>
			<fieldset>
				<div class="row">
					<div class="small-12 columns">
						<label>
							<input type="text" placeholder="Placeholder text" />
						</label>
					</div>
				</div>

				<div class="row">
					<div class="small-12 columns">
						<label>
							<input type="text" placeholder="Placeholder text" />
						</label>
					</div>
				</div>

				<div class="row evo-btn-row">
					<div class="small-12 columns">
						<button class="button expand radius show-for-small-only evo-btn" data-evo-button-color="white" data-evo-button-font-color="sapphire-dark" data-evo-button-icons="right" id="" name="" value="" type="" tabindex="13" title="Log In">
							<span class="evo-btn-text">Log In</span>
							<i class="evo-icon-arrow-right2 evo-icon-position-right" title=""></i>
						</button>
						<button class="button radius show-for-medium-up evo-btn" data-evo-button-color="white" data-evo-button-font-color="sapphire-dark" data-evo-button-icons="right" id="" name="" value="" type="" tabindex="13" title="Log In">
							<span class="evo-btn-text">Log In</span>
							<i class="evo-icon-arrow-right2 evo-icon-position-right" title=""></i>
						</button>
					</div>
				</div>
			</fieldset>
		</form>
	<!-- FORM COMPACT - ENDS -->
			<a href="javascript:;" data-evo-font-color="white">Creat an account</a>
		</div>
	</div>
</div>
<!-- LOGIN TEMPLATE - ENDS -->

<br />

<!-- SLIDER CONTRIBUTIONS - BEGINS -->
<h3 class="evo-hdr-rule">Range Slider - Contributions</h3>
{% include 'ep/objects/slider-contributions' %}
<!-- SLIDER CONTRIBUTIONS - ENDS -->

<br />

<!-- SLIDER CONTRIBUTIONS - BEGINS -->
<h3 class="evo-hdr-rule">Stream</h3>
{% include 'ep/objects/stream' %}
<!-- SLIDER CONTRIBUTIONS - ENDS -->


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}