{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}
	<h1 class="mul-hdr-rule">{{ model.title }}</h1>
	<p>This boilerplate template is for general pages.</p>
{% endblock %}