{% layout "layout-group-server" %}
{% block title %}{{ global.site_title }}{% endblock %}
{% block content %}
	<h1 class="mul-hdr-rule">{{ model.title }}</h1>
	
	<div class="col-12 first">
		
		<h5>Section Title</h5>
		<ul>
			<li><a href="/home">Home</a></li>
			<li><a href="/template">Template</a></li>
			<li><a href="/login">Login</a></li>
		</ul>

	</div>
	<div class="col-12">
		
	</div>
{% endblock %}