{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}

<section class="row">
	<div class="small-12 columns">
	<!-- PAGE TITLE - BEGINS -->
		<h1>{{ model.title }}</h1>
	<!-- PAGE TITLE - ENDS -->

	<!-- CONTENT SECTION - BEGINS -->
		<p>{{ model.reference-overview }}</p>
	<!-- CONTENT SECTION - ENDS -->		
	</div>
</section>

<span class="grid-demo-styles">
	
<!-- DEFAULT GRID - BEGIN -->
	<section class="row">
		<div class="small-12 medium-12 large-12 columns">12</div>
	</section>
	
	<section class="row">
		<div class="small-1 medium-1 large-1 columns">1</div>
		<div class="small-11 medium-11 large-11 columns">11</div>
	</section>
	
	<section class="row">
		<div class="small-2 medium-2 large-2 columns">2</div>
		<div class="small-10 medium-10 large-10 columns">10</div>
	</section>
	
	<section class="row">
		<div class="small-3 medium-3 large-3 columns">3</div>
		<div class="small-9 medium-9 large-9 columns">9</div>
	</section>
	
	<section class="row">
		<div class="small-4 medium-4 large-4 columns">4</div>
		<div class="small-8 medium-8 large-8 columns">8</div>
	</section>
	
	<section class="row">
		<div class="small-5 medium-5 large-5 columns">5</div>
		<div class="small-7 medium-7 large-7 columns">7</div>
	</section>
	
	<section class="row">
		<div class="small-6 medium-6 large-6 columns">6</div>
		<div class="small-6 medium-6 large-6 columns">6</div>
	</section>
	
	<section class="row">
		<div class="small-7 medium-7 large-7 columns">7</div>
		<div class="small-5 medium-5 large-5 columns">5</div>
	</section>
	
	<section class="row">
		<div class="small-8 medium-8 large-8 columns">8</div>
		<div class="small-4 medium-4 large-4 columns">4</div>
	</section>
	
	<section class="row">
		<div class="small-9 medium-9 large-9 columns">9</div>
		<div class="small-3 medium-3 large-3 columns">3</div>
	</section>
	
	<section class="row">
		<div class="small-10 medium-10 large-10 columns">10</div>
		<div class="small-2 medium-2 large-2 columns">2</div>
	</section>
	
	<section class="row">
		<div class="small-11 medium-11 large-11 columns">11</div>
		<div class="small-1 medium-1 large-1 columns">1</div>
	</section>
<!-- DEFAULT GRID - END -->


<!-- EXAMPLE SECTION - BEGINS -->
	<span id="pagetop"></span>

	<section class="evo-ref-example evo-spacer-padding-top-xxx-large">

		<ul class="inline-list evo-inline-list evo-inline-list-pipes evo-margin-bottom evo-spacer-margin-top-xxx-large">
			<li><a href="#offsets">Grid Offsets</a></li>
			<li><a href="#center-grids">Centering Grids</a></li>
			<li><a href="#source-ordering">Source Ordering</a></li>
			<li><a href="#grid-layouts">Grid Layouts</a></li>
			<li><a href="#block-grids">Block Grids</a></li>
		</ul>

	<!-- GRID OFFSETS - BEGINS -->
		<span id="offsets"></span>
		<h4 class="evo-hdr-rule evo-spacer-margin-top-xxx-large">Offset Grid Layouts</h4>
		<p>
			Move blocks up to 11 columns to the right by using classes like <code>.large-offset-1</code> and <code>.small-offset-3</code>.
		</p>

		<section class="row">
			<div class="large-1 columns">1</div>
			<div class="large-11 columns">11</div>
		</section>
		<section class="row">
			<div class="large-1 columns">1</div>
			<div class="large-10 large-offset-1 columns">10, offset 1</div>
		</section>
		<section class="row">
			<div class="large-1 columns">1</div>
			<div class="large-9 large-offset-2 columns">9, offset 2</div>
		</section>
		<section class="row">
			<div class="large-1 columns">1</div>
			<div class="large-8 large-offset-3 columns">8, offset 3</div>
		</section>
	<!-- GRID OFFSETS - END -->

	<!-- CENTERED GRIDS - BEGIN -->
		<span id="center-grids"></span>
		<h4 class="evo-hdr-rule evo-spacer-margin-top-xxx-large">
			Centered Grid Layouts
			<a href="#pagetop" class="right" title="Top of page"><i class="evo-icon-evo-arrow-circle-up evo-icon-color-gray-dark"></i></a>
		</h4>
		<p>
			Center your columns by adding a class of <code>small-centered</code> to your column. Large will inherit small centering by default, but you can also center solely on large by applying a <code>large-centered</code> class. To uncenter on large screens use <code>large-uncentered</code>.
		</p>

		<div class="row">
			<div class="small-3 small-centered columns">3 center</div>
		</div>
		<div class="row">
			<div class="small-6 large-centered columns">6 center</div>
		</div>
		<div class="row">
			<div class="small-9 small-centered large-uncentered columns">9 center</div>
		</div>
		<div class="row">
			<div class="small-11 small-centered columns">11 center</div>
		</div>
	<!-- CENTERED GRIDS - END -->

	<!-- SOURCE ORDERING - BEGIN -->
		<span id="source-ordering"></span>
		<h4 class="evo-hdr-rule evo-spacer-margin-top-xxx-large">
			Source Ordering Grids
			<a href="#pagetop" class="right" title="Top of page"><i class="evo-icon-evo-arrow-circle-up evo-icon-color-gray-dark"></i></a>
		</h4>
		<p>
			Source ordering allows you to shift columns of content around between breakpoints (devices). Prefix <code>push/pull</code> with the class name that matches to the breakpoint you are dealing with. Here are some examples: <code>medium-push-#</code>, <code>large-push-#</code> is the syntax you'll use, if you need to reset content on large screens use <code>large-reset-order</code>.
		</p>

		<section class="row">
			<div class="small-10 small-push-2 columns">10</div>
			<div class="small-2 small-pull-10 columns">2, last</div>
		</section>
		<section class="row">
			<div class="large-9 large-push-3 columns">9</div>
			<div class="large-3 large-pull-9 columns">3, last</div>
		</section>
		<section class="row">
			<div class="large-8 large-push-4 columns">8</div>
			<div class="large-4 large-pull-8 columns">4, last</div>
		</section>
		<section class="row">
			<div class="small-5 small-push-7 medium-7 medium-push-5 columns">7</div>
			<div class="small-7 small-pull-5 medium-5 medium-pull-7 columns">5, last</div>
		</section>
		<section class="row">
			<div class="medium-6 medium-push-6 columns">6</div>
			<div class="medium-6 medium-pull-6 columns">6, last</div>
		</section>
	<!-- SOURCE ORDERING - END -->

	<!-- GRID LAYOUTS - BEGIN -->
		<span id="grid-layouts"></span>
		<h4 class="evo-hdr-rule evo-spacer-margin-top-xxx-large">
			Grid Layouts
			<a href="#pagetop" class="right" title="Top of page"><i class="evo-icon-evo-arrow-circle-up evo-icon-color-gray-dark"></i></a>
		</h4>

		<ul class="inline-list evo-inline-list evo-inline-list-pipes evo-margin-bottom">
			<li><a href="#grid-1-col">1 Col</a></li>
			<li><a href="#grid-2-col-50-50">(50/50)</a></li>
			<li><a href="#grid-2-col-66-33">(66/33)</a></li>
			<li><a href="#grid-2-col-33-66">(33/66)</a></li>
			<li><a href="#grid-2-col-75-25">(75/25)</a></li>
			<li><a href="#grid-2-col-25-75">(25/75)</a></li>
			<li><a href="#grid-3-col-33-33-33">(33/33/33)</a></li>
			<li><a href="#grid-3-col-25-50-25">(25/50/25)</a></li>
			<li><a href="#grid-4-col-25-25-25-25">(25x4)</a></li>
		</ul>

		<h5 id="grid-1-col">
			Single Column
			<a href="javascript:;" class="right js-evo-toggle-content" data-evo-toggle="1" title="Get Code"><i class="evo-icon-code evo-icon-color-gray-dark"></i></a>
		</h5>
		<div class="evo-spacer-margin-bottom-xx-large">
			{% include '/base/grid-1-col' %}
			<pre class="prettyprint linenums evo-display-none" id="div1"><xmp>{% include '/base/grid-1-col' %}</xmp></pre>
		</div>

		<h5 id="grid-2-col-50-50">
			2 column
			<a href="javascript:;" class="right js-evo-toggle-content" data-evo-toggle="2" title="Get Code"><i class="evo-icon-code evo-icon-color-gray-dark"></i></a>
		</h5>
		<div class="evo-spacer-margin-bottom-xx-large">
			{% include '/base/grid-2-col-50-50' %}
			<pre class="prettyprint linenums evo-display-none" id="div2"><xmp>{% include '/base/grid-2-col-50-50' %}</xmp></pre>
		</div>

		<h5 id="grid-2-col-66-33">
			2 column
			<a href="javascript:;" class="right js-evo-toggle-content" data-evo-toggle="3" title="Get Code"><i class="evo-icon-code evo-icon-color-gray-dark"></i></a>
		</h5>
		<div class="evo-spacer-margin-bottom-xx-large">
			{% include '/base/grid-2-col-66-33' %}
			<pre class="prettyprint linenums evo-display-none" id="div3"><xmp>{% include '/base/grid-2-col-66-33' %}</xmp></pre>
		</div>

		<h5 id="grid-2-col-33-66">
			2 column
			<a href="javascript:;" class="right js-evo-toggle-content" data-evo-toggle="4" title="Get Code"><i class="evo-icon-code evo-icon-color-gray-dark"></i></a>
		</h5>
		<div class="evo-spacer-margin-bottom-xx-large">
			{% include '/base/grid-2-col-33-66' %}
			<pre class="prettyprint linenums evo-display-none" id="div4"><xmp>{% include '/base/grid-2-col-33-66' %}</xmp></pre>
		</div>

		<h5 id="grid-2-col-75-25">
			2 column
			<a href="javascript:;" class="right js-evo-toggle-content" data-evo-toggle="5" title="Get Code"><i class="evo-icon-code evo-icon-color-gray-dark"></i></a>
		</h5>
		<div class="evo-spacer-margin-bottom-xx-large">
			{% include '/base/grid-2-col-75-25' %}
			<pre class="prettyprint linenums evo-display-none" id="div5"><xmp>{% include '/base/grid-2-col-75-25' %}</xmp></pre>
		</div>

		<h5 id="grid-2-col-25-75">
			2 column
			<a href="javascript:;" class="right js-evo-toggle-content" data-evo-toggle="6" title="Get Code"><i class="evo-icon-code evo-icon-color-gray-dark"></i></a>
		</h5>
		<div class="evo-spacer-margin-bottom-xx-large">
			{% include '/base/grid-2-col-25-75' %}
			<pre class="prettyprint linenums evo-display-none" id="div6"><xmp>{% include '/base/grid-2-col-25-75' %}</xmp></pre>
		</div>

		<h5 id="grid-3-col-33-33-33">
			3 column
			<a href="javascript:;" class="right js-evo-toggle-content" data-evo-toggle="7" title="Get Code"><i class="evo-icon-code evo-icon-color-gray-dark"></i></a>
		</h5>
		<div class="evo-spacer-margin-bottom-xx-large">
			{% include '/base/grid-3-col-33-33-33' %}
			<pre class="prettyprint linenums evo-display-none" id="div7"><xmp>{% include '/base/grid-3-col-33-33-33' %}</xmp></pre>
		</div>

		<h5 id="grid-3-col-25-50-25">
			3 column
			<a href="javascript:;" class="right js-evo-toggle-content" data-evo-toggle="8" title="Get Code"><i class="evo-icon-code evo-icon-color-gray-dark"></i></a>
		</h5>
		<div class="evo-spacer-margin-bottom-xx-large">
			{% include '/base/grid-3-col-25-50-25' %}
			<pre class="prettyprint linenums evo-display-none" id="div8"><xmp>{% include '/base/grid-3-col-25-50-25' %}</xmp></pre>
		</div>

		<h5 id="grid-4-col-25-25-25-25">
			4 column
			<a href="javascript:;" class="right js-evo-toggle-content" data-evo-toggle="9" title="Get Code"><i class="evo-icon-code evo-icon-color-gray-dark"></i></a>
		</h5>
		<div class="evo-spacer-margin-bottom-xx-large">
			{% include '/base/grid-4-col-25-25-25-25' %}
			<pre class="prettyprint linenums evo-display-none" id="div9"><xmp>{% include '/base/grid-4-col-25-25-25-25' %}</xmp></pre>
		</div>
	<!-- GRID LAYOUTS - END -->

	<!-- BLOCK GRID BEGIN -->
		<span id="block-grids"></span>
		<h4 class="evo-hdr-rule evo-spacer-margin-top-xxx-large">
			Block Grid
			<a href="#pagetop" class="right" title="Top of page"><i class="evo-icon-evo-arrow-circle-up evo-icon-color-gray-dark"></i></a>
		</h4>
		<p>
			Block grids are designed to allow you to split a certain amount of content evenly between a grid layout. If you use the <code>small-block-grid</code> only, the grid will keep its spacing and configuration no matter the screen size. If you use <code>large-block-grid</code> only, the list items will stack on top of each other for small devices. If you use both of those classes combined, you can control the configuration and layout separately for each breakpoint.
		</p>

		<ul class="small-block-grid-2 large-block-grid-5">
			<li>Item</li>
			<li>Item</li>
			<li>Item</li>
			<li>Item</li>
			<li>Item</li>
		</ul>
	<!-- BLOCK GRID END -->

	</section>
<!-- EXAMPLE SECTION - ENDS -->

</span>

{% endblock %}