{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}
<div class="col-24">

	<h1 class="mul-hdr-rule">{{ model.title }}</h1>
	<p class="mul-intro-text">
		We've come up with a system for using grids that automatically does all the math for you. Our box-sizing: border-box is designed so that borders and padding won't affect the overall width of the columns of a grid. In a sense, our grids are fluid and user responsive and designed to work with and adapt to any type of device, screen resolution, or browser. Smaller screen resolutions, such as that of a mobile device, will display grids as stacked so content won't be distorted and lost, no matter what device our users are on. And of course, our grid design represents the Mercer name across the board. 
	</p>

	<ul class="mul-horizontal-list mul-horizontal-list-piped mul-margin-bottom">
		<li><a href="#unit-measures">Unit Measures</a></li>
		<li><a href="#unit-measures-nomargins">Unit Measures (No Margins)</a></li>
		<li><a href="#offsets">Offsets with Regular Grid</a></li>
		<li><a href="#flow-opposite-columns">Flow Opposite Columns</a></li>
		<li><a href="#grid-layouts">Grid Layouts</a></li>
	</ul>
	
	<!-- Unit Measures -->
	<div id="unit-measures" class="col-24">

		<h3 class="mul-hdr-rule">Unit Measures</h3>
		<p>
			Our unit measures allow designers to use their desired spacing elements. The baseline grid structure is built on a 24 column display, but you can play with spacing on each side, and the units will always equate to 24. You don’t need any other custom elements to use our grid design either. Our coding provides everything you’ll need.
		</p>
		<p>
			Our grid design allows a greater flexibility of layout than other grid coding currently being used on sites/applications. No matter how many grids you want to incorporate on a page, the main 24 unit grid will always reset itself, so you can keep subdividing to include as many as you need within the 24 units.
		</p>

		<div class="col-24 unit">24</div>
		<div class="col-1 first unit">1</div><div class="col-23 unit">23</div>
		<div class="col-2 first unit">2</div><div class="col-22 unit">22</div>
		<div class="col-3 first unit">3</div><div class="col-21 unit">21</div>
		<div class="col-4 first unit">4</div><div class="col-20 unit">20</div>
		<div class="col-5 first unit">5</div><div class="col-19 unit">19</div>
		<div class="col-6 first unit">6</div><div class="col-18 unit">18</div>
		<div class="col-7 first unit">7</div><div class="col-17 unit">17</div>
		<div class="col-8 first unit">8</div><div class="col-16 unit">16</div>
		<div class="col-9 first unit">9</div><div class="col-15 unit">15</div>
		<div class="col-10 first unit">10</div><div class="col-14 unit">14</div>
		<div class="col-11 first unit">11</div><div class="col-13 unit">13</div>
		<div class="col-12 first unit">12</div><div class="col-12 unit">12</div>
		<div class="col-13 first unit">13</div><div class="col-11 unit">11</div>
		<div class="col-14 first unit">14</div><div class="col-10 unit">10</div>
		<div class="col-15 first unit">15</div><div class="col-9 unit">9</div>
		<div class="col-16 first unit">16</div><div class="col-8 unit">8</div>
		<div class="col-17 first unit">17</div><div class="col-7 unit">7</div>
		<div class="col-18 first unit">18</div><div class="col-6 unit">6</div>
		<div class="col-19 first unit">19</div><div class="col-5 unit">5</div>
		<div class="col-20 first unit">20</div><div class="col-4 unit">4</div>
		<div class="col-21 first unit">21</div><div class="col-3 unit">3</div>
		<div class="col-22 first unit">22</div><div class="col-2 unit">2</div>
		<div class="col-23 first unit">23</div><div class="col-1 unit">1</div>

	</div>

	<div id="unit-measures-nomargins" class="col-24">

		<h3 class="mul-hdr-rule">Unit Measures (No Margins)</h3>
		<p>
			You can also create grids without margins or spaces without using any other custom elements. Since the baseline structure is built on a 24 column display, whatever units you decide to use on the left side will automatically be subtracted from the right side; therefore, both grid columns will always equate to 24.
		</p>

		<div class="mul-grid-nomargin">
			<div class="col-24 unit">24</div>
			<div class="col-1 unit">1</div><div class="col-23 unit">23</div>
			<div class="col-2 unit">2</div><div class="col-22 unit">22</div>
			<div class="col-3 unit">3</div><div class="col-21 unit">21</div>
			<div class="col-4 unit">4</div><div class="col-20 unit">20</div>
			<div class="col-5 unit">5</div><div class="col-19 unit">19</div>
			<div class="col-6 unit">6</div><div class="col-18 unit">18</div>
			<div class="col-7 unit">7</div><div class="col-17 unit">17</div>
			<div class="col-8 unit">8</div><div class="col-16 unit">16</div>
			<div class="col-9 unit">9</div><div class="col-15 unit">15</div>
			<div class="col-10 unit">10</div><div class="col-14 unit">14</div>
			<div class="col-11 unit">11</div><div class="col-13 unit">13</div>
			<div class="col-12 unit">12</div><div class="col-12 unit">12</div>
			<div class="col-13 unit">13</div><div class="col-11 unit">11</div>
			<div class="col-14 unit">14</div><div class="col-10 unit">10</div>
			<div class="col-15 unit">15</div><div class="col-9 unit">9</div>
			<div class="col-16 unit">16</div><div class="col-8 unit">8</div>
			<div class="col-17 unit">17</div><div class="col-7 unit">7</div>
			<div class="col-18 unit">18</div><div class="col-6 unit">6</div>
			<div class="col-19 unit">19</div><div class="col-5 unit">5</div>
			<div class="col-20 unit">20</div><div class="col-4 unit">4</div>
			<div class="col-21 unit">21</div><div class="col-3 unit">3</div>
			<div class="col-22 unit">22</div><div class="col-2 unit">2</div>
			<div class="col-23 unit">23</div><div class="col-1 unit">1</div>
		</div>

	</div>
	
	<!-- Offsets -->
	<div id="offsets" class="col-24">

		<h3 class="mul-hdr-rule">Offsets with Regular Grid</h3>
		<p>
			We've designed our grids with a flexibility that allows the designer to play with spacing on the page. You can even offset grids within a grid to get the layout you desire because our grid code is responsive, and you will always stay within the customized 24 units.  
		</p>

		<div class="col-24">
			<div class="col-2 first unit">col-2</div>
			<div class="col-2 offset-2 unit">col-2 offset-2</div>
			<div class="col-2 offset-2 unit">col-2 offset-2</div>
			<div class="col-2 offset-2 unit">col-2 offset-2</div>
			<div class="col-2 offset-2 unit">col-2 offset-2</div>
			<div class="col-2 offset-2 unit">col-2 offset-2</div>
			<div class="col-2 unit">col-2</div>
		</div>

		<div class="col-24">
			<div class="col-3 offset-3 unit">col-3 offset-3</div>
			<div class="col-3 offset-15 unit">col-3 offset-15</div>
		</div>

		<div class="col-24">
			<div class="col-4 first unit">col-4</div>
			<div class="col-4 offset-16 unit">col-4 offset-16</div>
		</div>

		<div class="col-24">
			<div class="col-6 offset-6 unit">col-6 offset-6</div>
			<div class="col-6 offset-6 unit">col-6 offset-6</div>
		</div>

		<div class="col-24">
			<div class="col-8 offset-8 unit">col-8 offset-8</div>
			<div class="col-8 unit">col-8</div>
		</div>

		<div class="col-24">
			<div class="col-12 offset-12 unit">col-12 offset-12</div>
		</div>

	</div>

	<!-- Grid Flow Opposite Columns -->
	<div id="flow-opposite-columns" class="col-24">

		<h3 class="mul-hdr-rule">Flow Opposite Columns</h3>
		<p>
			 Add the class of <code>.mul-col-flow-opposite</code> to columns where you want content to display first on mobile but appear on the right on larger screens. You still need to put the column you want to display first on mobile first in the code order, so in the example below the code for the right sidebar is first in the code order before the left column.
		</p>

		<h4 class="mul-hdr-rule">Two Column Layout</h4>
		{% include '/base/grid-2-col-flow-opposite' %}
		<pre class="prettyprint linenums"><xmp>{% include '/base/grid-2-col-flow-opposite' %}</xmp></pre>

		<h4 class="mul-hdr-rule">Three Column Layout</h4>
		{% include '/base/grid-3-col-flow-opposite' %}
		<pre class="prettyprint linenums"><xmp>{% include '/base/grid-3-col-flow-opposite' %}</xmp></pre>

	</div>

	<!-- Grid Layouts -->
	<div id="grid-layouts" class="col-24">

		<h3 class="mul-hdr-rule">Grid Layouts</h3>

		<ul class="mul-horizontal-list mul-horizontal-list-piped mul-margin-bottom">
			<li><a href="#grid-1-col">1 Col</a></li>
			<li><a href="#grid-2-col-50-50">2 Col (50/50)</a></li>
			<li><a href="#grid-2-col-66-33">2 Col (66/33)</a></li>
			<li><a href="#grid-2-col-33-66">2 Col (33/66)</a></li>
			<li><a href="#grid-2-col-75-25">2 Col (75/25)</a></li>
			<li><a href="#grid-2-col-25-75">2 Col (25/75)</a></li>
			<li><a href="#grid-3-col-33-33-33">3 Col (33/33/33)</a></li>
			<li><a href="#grid-3-col-25-50-25">3 Col (25/50/25)</a></li>
			<li><a href="#grid-4-col-25-25-25-25">4 Col (25x4)</a></li>
			<li><a href="#grid-6-col">6 Col (17x6)</a></li>
		</ul>

		<h4 id="grid-1-col">1 Column / Clearing Row</h4>
		{% include '/base/grid-1-col' %}
		<pre class="prettyprint linenums"><xmp>{% include '/base/grid-1-col' %}</xmp></pre>

		<h4 id="grid-2-col-50-50">2 Column - 50% / 50%</h4>
		{% include '/base/grid-2-col-50-50' %}
		<pre class="prettyprint linenums"><xmp>{% include '/base/grid-2-col-50-50' %}</xmp></pre>

		<h4 id="grid-2-col-66-33">2 Column - 66% / 33%</h4>
		{% include '/base/grid-2-col-66-33' %}
		<pre class="prettyprint linenums"><xmp>{% include '/base/grid-2-col-66-33' %}</xmp></pre>

		<h4 id="grid-2-col-33-66">2 Column - 33% / 66%</h4>
		{% include '/base/grid-2-col-33-66' %}
		<pre class="prettyprint linenums"><xmp>{% include '/base/grid-2-col-33-66' %}</xmp></pre>

		<h4 id="grid-2-col-75-25">2 Column - 75% / 25%</h4>
		{% include '/base/grid-2-col-75-25' %}
		<pre class="prettyprint linenums"><xmp>{% include '/base/grid-2-col-75-25' %}</xmp></pre>

		<h4 id="grid-2-col-25-75">2 Column - 25% / 75%</h4>
		{% include '/base/grid-2-col-25-75' %}
		<pre class="prettyprint linenums"><xmp>{% include '/base/grid-2-col-25-75' %}</xmp></pre>

		<h4 id="grid-3-col-33-33-33">3 Column - 33% / 33% / 33%</h4>
		{% include '/base/grid-3-col-33-33-33' %}
		<pre class="prettyprint linenums"><xmp>{% include '/base/grid-3-col-33-33-33' %}</xmp></pre>

		<h4 id="grid-3-col-25-50-25">3 Column - 25% / 50% / 25%</h4>
		{% include '/base/grid-3-col-25-50-25' %}
		<pre class="prettyprint linenums"><xmp>{% include '/base/grid-3-col-25-50-25' %}</xmp></pre>

		<h4 id="grid-4-col-25-25-25-25">4 Column - 25% / 25% / 25% / 25%</h4>
		{% include '/base/grid-4-col-25-25-25-25' %}
		<pre class="prettyprint linenums"><xmp>{% include '/base/grid-4-col-25-25-25-25' %}</xmp></pre>

		<h4 id="grid-6-col">6 Column - 17% / 17% / 17% / 17% / 17% / 17%</h4>
		{% include '/base/grid-6-col' %}
		<pre class="prettyprint linenums"><xmp>{% include '/base/grid-6-col' %}</xmp></pre>

		<h4 id="grid-8-col">8 Column</h4>
		{% include '/base/grid-8-col' %}
		<pre class="prettyprint linenums"><xmp>{% include '/base/grid-8-col' %}</xmp></pre>

		<h4 id="grid-8-col">12 Column</h4>
		{% include '/base/grid-12-col' %}
		<pre class="prettyprint linenums"><xmp>{% include '/base/grid-12-col' %}</xmp></pre>

	</div>

</div>
{% endblock %}