{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}

<!-- INTRO SECTION - BEGINS -->
	<section class="col-24">
		<h1>{{ model.title }}</h1>
		<p class="mul-intro-text"></p>
	</section>
<!-- INTRO SECTION - ENDS -->

<section class="col-24">

	<h3 class="mul-hdr-dbl-rule">
		{{ global.ExampleSectionHeader }}
		<a href="javascript:;" class="mul-icon-size-small mul-icon-mul-arrow-circle-down mul-icon-color-gray-darker mul-icon-position-right mul-float-right related-items-menu"></a>
	</h3>

<!-- HERO IMAGE LAYOUT - BEGINS -->
	<div class="col-24 example-min-height">

		<h4 class="mul-hdr-rule">Background Colors</h4>
		<div class="col-24">
			<div class="col-12 first">

				<div class="mul-box mul-box-rnd example-ctn">
					<h4 class="mul-hdr-rule">Static Hero Banner</h4>
					<div class="col-24 mul-margin-bottom">
						<a class="mul-btn mul-btn-medium mul-btn-primary mul-btn-first" href="/demos/layout-hero-banner-fullwidth-demo" target="_blank">View Layout</a>
					</div>
				</div>

			</div>
			<div class="col-12">

				<div class="mul-box mul-box-rnd example-ctn">
					<h4 class="mul-hdr-rule">Carousel Hero Banner</h4>
					<div class="col-24 mul-margin-bottom">
						<a class="mul-btn mul-btn-medium mul-btn-primary mul-btn-first" href="/demos/layout-hero-banner-carousel-fullwidth-demo" target="_blank">View Layout</a>
					</div>
				</div>

			</div>
		</div>

		<h4 class="mul-hdr-rule">Background Images</h4>
		<div class="col-24">
			<div class="col-12 first">

				<div class="mul-box mul-box-rnd example-ctn">
					<h4 class="mul-hdr-rule">Static Hero Banner</h4>
					<div class="col-24 mul-margin-bottom">
						<a class="mul-btn mul-btn-medium mul-btn-primary mul-btn-first" href="/demos/layout-hero-banner-content-fullwidth-demo" target="_blank">View Layout</a>
					</div>
				</div>

			</div>
			<div class="col-12">

				<div class="mul-box mul-box-rnd example-ctn">
					<h4 class="mul-hdr-rule">Carousel Hero Banner</h4>
					<div class="col-24 mul-margin-bottom">
						<a class="mul-btn mul-btn-medium mul-btn-primary mul-btn-first" href="/demos/layout-hero-banner-carousel-content-fullwidth" target="_blank">View Layout</a>
					</div>
				</div>

			</div>
		</div>

	</div>
<!-- HERO IMAGE LAYOUT - ENDS -->

<!-- DETAILS SECTION - BEGINS -->
	<div class="col-24">
		<a name="moreDetails"></a>
		<h4 class="mul-hdr-dbl-rule addtional-detail-hdr">Additional Details</h4>
		
		<div class="js-mul-tabs-example mul-tabs">
			<ul>
				<li><a href="#tabs-1">Usage</a></li>
				<li><a href="#tabs-2">Details</a></li>
				<li><a href="#tabs-4">Mobile</a></li>
				<li><a href="#tabs-3">Technical</a></li>
			</ul>
			<div id="tabs-1">
				<p>When to use details go here&hellip;</p>
			</div>
			<div id="tabs-2">
				<p>Functional details go here&hellip;</p>
			</div>
			<div id="tabs-3">
				<p>Technical details go here&hellip;</p>
			</div>
			<div id="tabs-4">
				<p>Examples go here&hellip;</p>
			</div>
		</div>
	</div>
<!-- DETAILS SECTION - ENDS -->

</section>
{% endblock %}