{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}

<!-- INTRO SECTION - BEGINS -->
	<section class="col-24">
		<h1>{{ model.title }}</h1>
		<p class="mul-intro-text"></p>
	</section>
<!-- INTRO SECTION - ENDS -->

<section class="col-24">

	<h3 class="mul-hdr-dbl-rule">
		Example
		<a href="javascript:;" class="mul-icon-size-small mul-icon-mul-arrow-circle-down mul-icon-color-gray-darker mul-icon-position-right mul-float-right related-items-menu"></a>
	</h3>

<!-- LOGIN LAYOUT - BEGINS -->
	<div class="col-24 example-min-height">
		
		<div class="col-24">
			<div class="col-12 first">

				<div class="mul-box mul-box-rnd example-ctn">
					<h4 class="mul-hdr-rule">Default Layout</h4>
					<p>Two column container layout with "Welcome To" sub-header.</p>
					<div class="col-24 mul-margin-bottom">
						<a class="mul-btn mul-btn-medium mul-btn-primary mul-btn-first" href="/demos/login-demo" target="_blank">View Layout</a>
					</div>
				</div>

			</div>
			<div class="col-12">

				<div class="mul-box mul-box-rnd example-ctn">
					<h4 class="mul-hdr-rule">Custom Layout</h4>
					<p>One column container layout with no "Welcome To" sub-header.</p>
					<div class="col-24 mul-margin-bottom">
						<a class="mul-btn mul-btn-medium mul-btn-primary mul-btn-first" href="/demos/login-custom-demo" target="_blank">View Layout</a>
					</div>
				</div>

			</div>
		</div>

		<div class="col-24">
			<div class="col-8 first">

				<div class="mul-box mul-box-rnd example-ctn">
					<h4 class="mul-hdr-rule">Sunset Background</h4>
					<p>"Sunset" background image treatment.</p>
					<div class="col-24 mul-margin-bottom">
						<a class="mul-btn mul-btn-medium mul-btn-primary mul-btn-first" href="/demos/login-background1-demo" target="_blank">View Layout</a>
					</div>
				</div>

			</div>
			<div class="col-8">

				<div class="mul-box mul-box-rnd example-ctn">
					<h4 class="mul-hdr-rule">Bar Graph Background</h4>
					<p>"Bar Graph" image background treatment.</p>
					<div class="col-24 mul-margin-bottom">
						<a class="mul-btn mul-btn-medium mul-btn-primary mul-btn-first" href="/demos/login-background2-demo" target="_blank">View Layout</a>
					</div>
				</div>

			</div>
			<div class="col-8">

				<div class="mul-box mul-box-rnd example-ctn">
					<h4 class="mul-hdr-rule">Coin Jar Background</h4>
					<p>"Coin Jar" image background treatment.</p>
					<div class="col-24 mul-margin-bottom">
						<a class="mul-btn mul-btn-medium mul-btn-primary mul-btn-first" href="/demos/login-background3-demo" target="_blank">View Layout</a>
					</div>
				</div>

			</div>
		</div>

	</div>
<!-- LOGIN LAYOUT - ENDS -->

<!-- DETAILS SECTION - BEGINS -->
	<div class="col-24">
		<a name="moreDetails"></a>
		<h4 class="mul-hdr-dbl-rule addtional-detail-hdr">Additional Details</h4>
		

		<div class="js-mul-tabs-example mul-tabs">
			<ul>
				<li><a href="#tabs-1">Usage</a></li>
				<li><a href="#tabs-2">Details</a></li>
				<li><a href="#tabs-4">Mobile</a></li>
				<li><a href="#tabs-3">Technical</a></li>
			</ul>
			<div id="tabs-1">
				<p>When to use details go here&hellip;</p>
			</div>
			<div id="tabs-2">

				<h5>Form</h5>
				<ul>
					<li>It is recommended that you use the <a href="/base/forms/compact">Compact Inline Form</a> with the Login Layout.</li>
				</ul>

				<h5>Background Image</h5>
				<ul>
					<li>Login Layout background images need to be big enough to cover the whole browser window on big monitors, so 1600x1200 is recommended.</li>
					<li>Background image can be customized using theme variable or by replacing the following image: "assets/images/login_bkgd.jpg", make sure to use the same file format and file name, along with the same dimensions (1600px X 1200px)</li>
				</ul>

				<h5>Customizations</h5>
				<ul>
					<li>Enable/disable "Welcome To" sub-header</li>
					<li>Enable/disable header sub-text.</li>
					<li>One or two column layout, if one column is used, the container is centered.</li>
					<li>Background image can be customized using theme variable or by replacing the following image: "assets/images/login_bkgd.jpg", make sure to use the same file format and file name, along with the same dimensions (1600px X 1200px)</li>
				</ul>

			</div>
			<div id="tabs-3">
				<p>Technical details go here&hellip;</p>
			</div>
			<div id="tabs-4">
				<p>Examples go here&hellip;</p>
			</div>
		</div>
	</div>
<!-- DETAILS SECTION - ENDS -->

</section>
{% endblock %}