<!-- BASIC PRICING TABLE - BEGINS -->
<link href="/reference/components/pricing-table/pricing-table.css" rel="stylesheet" type="text/css" />

<div class="evo-pricing-table">
<!-- ITEM - BEGINS -->
	<ul class="small-block-grid-2">
		<li class="evo-item">Blue Cross of Massachusetts</li>
		<li class="evo-item-amt">$140.00</li>
	</ul>
<!-- ITEM - END -->

<!-- ITEM - BEGINS -->
	<ul class="small-block-grid-2">
		<li class="evo-item">Atena of Rhode Island</li>
		<li class="evo-item-amt">$140.00</li>
	</ul>
<!-- ITEM - END -->

<!-- TOTAL - BEGINS -->
	<ul class="small-block-grid-2 evo-pricing-table-total-row">
		<li class="evo-total-label">Total</li>
		<li class="evo-total-amt">$189.65</li>
	</ul>
<!-- TOTAL - ENDS -->
</div>
<!-- BASIC PRICING TABLE - ENDS -->