<!-- TOP/BOTTOM LABEL SUB-TOTAL/TOTAL PRICING TABLE - BEGINS -->
<link href="foo.css" rel="stylesheet" type="text/css" />

<div class="evo-pricing-table">
<!-- ITEM LABEL - BEGINS -->
	<ul class="small-block-grid-2 evo-category-label">
		<li class="evo-item-label">Health</li>
		<li></li>
	</ul>
<!-- ITEM LABEL - END -->
<!-- ITEM - BEGINS -->
	<ul class="small-block-grid-2">
		<li class="evo-item">Blue Cross of Massachusetts</li>
		<li class="evo-item-amt">
			$140.00
			<div class="evo-time-value-label">monthly</div>
		</li>
	</ul>
<!-- ITEM - END -->

<!-- ITEM LABEL - BEGINS -->
	<ul class="small-block-grid-2 evo-category-label">
		<li class="evo-item-label">Health</li>
		<li></li>
	</ul>
<!-- ITEM LABEL - END -->
<!-- ITEM - BEGINS -->
	<ul class="small-block-grid-2">
		<li class="evo-item">Blue Cross of Massachusetts</li>
		<li class="evo-item-amt">
			$140.00
			<div class="evo-time-value-label">monthly</div>
		</li>
	</ul>
<!-- ITEM - END -->

<!-- BREAK DONE ROW - BEGINS -->
	<ul class="small-block-grid-2 evo-pricing-table-break-down-row">
		<li class="break-down-label">Retirement Contribution</li>
		<li class="break-down-amt">$12.00</li>
	</ul>
<!-- BREAK DONE ROW - ENDS -->

<!-- BREAK DONE ROW - BEGINS -->
	<ul class="small-block-grid-2 evo-pricing-table-break-down-row">
		<li class="break-down-label">Other Investments</li>
		<li class="break-down-amt">$255.25</li>
	</ul>
<!-- BREAK DONE ROW - ENDS -->

<!-- TOTAL - BEGINS -->
	<ul class="small-block-grid-2 evo-pricing-table-total-row">
		<li class="total-label">Total</li>
		<li class="total-amt">$189.65</li>
	</ul>
<!-- TOTAL - ENDS -->
</div>
<!-- TOP/BOTTOM LABEL SUB-TOTAL/TOTAL PRICING TABLE - ENDS -->