//-------------------------------------------------------------------------------------------
// Mercer Evolution - Core v2.6 - Accordion Partial
// DATE - January 13, 2015
// AUTHOR - Doug Fraize, Matthew Holmes, Doug Richar, Vinod Bhatt
//-------------------------------------------------------------------------------------------


// @VARS
$evo-accordion-border-color: $gray-light !default;
$evo-accordion-navigation-font-color: $gray-darkest !default;



$accordionHeaderBackgroundColor: $gray-lightest !default;
$accordionHeaderIconColor: $blue-gray-dark !default;
$accordionContentBackgroundColor: $white !default;


@if $use-accordion == true{

	.evo-accordion			{
							margin-bottom: $evo-base-margin;
							border: 1px solid $evo-accordion-border-color;
							border-top: 0;
							margin-left: 0;
		.evo-accordian-navigation
								{
			a						{
									border-top: 1px solid $evo-accordion-border-color;
									color: $evo-accordion-navigation-font-color;
									text-decoration: none;
				[class*="evo-icon"]	{
									float: right;
									top: rem-calc(3);
									}
									}
			.evo-content			{
									border-top: 1px solid $evo-accordion-border-color;
									padding-bottom: 0;
									}
								}
							}
/*
	.evo-accordion.ui-accordion	{
		.ui-accordion-header		{
									@include clearfix;
									padding: 10px $evo-base-padding 8px $evo-base-padding;
									border-bottom: 1px solid $accordionBorderColor;
									background-color: $accordionHeaderBackgroundColor;
									color: $accordionHeaderFontColor;
									cursor: pointer;
			&.ui-accordion-icons		{
				.ui-accordion-header-icon	{
											@extend [class^="evo-icon-"];
											float: right;
											position: relative;
											margin-left: $evo-base-margin;
											top: 1px;
											cursor: pointer;
											color: $accordionHeaderIconColor;
											}
										}
									}
		.ui-accordion-content		{
									padding: $evo-base-padding $evo-base-padding 0 $evo-base-padding;
									border-bottom: 1px solid $accordionBorderColor;
									background-color: $accordionContentBackgroundColor;
									}
								}
*/
	//=== MEDIA QUERIES =========================================================================

	// MEDIUM MEDIA QUERY RANGE AND UP - 641px +
	@if $use-medium-up-mediaquery == true {
		
		@media #{$medium-up} {

			

		}
		
	}// endif

}//endif