//-------------------------------------------------------------------------------------------
// Mercer Evolution - Core v2.6 - Accordion Partial
// DATE - January 13, 2015
// AUTHOR - Doug Fraize, Matthew Holmes, Doug Richar, Vinod Bhatt
//-------------------------------------------------------------------------------------------

@if $use-accordion == true{

	.evo-accordion.ui-accordion	{
								margin-bottom: $baseMargin;
								border: 1px solid $accordionBorderColor;
								border-bottom: 0;
		.ui-accordion-header		{
									@include clearfix;
									padding: 10px $basePadding 8px $basePadding;
									border-bottom: 1px solid $accordionBorderColor;
									background-color: $accordionHeaderBackgroundColor;
									color: $accordionHeaderFontColor;
									cursor: pointer;
			&.ui-accordion-icons		{
				.ui-accordion-header-icon	{
											@extend [class^="evo-icon-"];
											float: right;
											position: relative;
											margin-left: $baseMargin;
											top: 1px;
											cursor: pointer;
											color: $accordionHeaderIconColor;
											}
										}
									}
		.ui-accordion-content		{
									padding: $basePadding $basePadding 0 $basePadding;
									border-bottom: 1px solid $accordionBorderColor;
									background-color: $accordionContentBackgroundColor;
									}
								}

	//=== MEDIA QUERIES =========================================================================

	// MEDIUM MEDIA QUERY RANGE AND UP - 641px +
	@if $use-medium-up-mediaquery == true {
		
		@media #{$medium-up} {

			

		}
		
	}// endif

}//endif