//-------------------------------------------------------------------------------------------
// Mercer Evolution - Core v2.5 - Accordion Partial
// DATE - June 13, 2014
// AUTHOR - Doug Fraize, Matthew Holmes, Vinod Bhatt
//-------------------------------------------------------------------------------------------

@if $use-accordion == true{

	.mul-accordion.ui-accordion	{
								margin-bottom: $baseMargin;
								border: 1px solid $accordionBorderColor;
								border-bottom: 0;
		.ui-accordion-header		{
									@include clearfix;
									padding: 10px $basePadding 8px $basePadding;
									border-bottom: 1px solid $accordionBorderColor;
									background-color: $accordionHeaderBackgroundColor;
									color: $accordionHeaderFontColor;
									cursor: pointer;
			&.ui-accordion-icons		{
				.ui-accordion-header-icon	{
											@extend [class^="mul-icon-"];
											float: right;
											position: relative;
											margin-left: $baseMargin;
											top: 2px;
											cursor: pointer;
											color: $accordionHeaderIconColor;
											}
										}
									}
		.ui-accordion-content		{
									padding: $basePadding $basePadding 0 $basePadding;
									border-bottom: 1px solid $accordionBorderColor;
									background-color: $accordionContentBackgroundColor;
									}
								}

	//=== MEDIA QUERIES =========================================================================

	// Portrait iPad, portrait tablets, Low-resolution laptops and desktops, Landscape iPad, laptops and desktops
	@if $use-medium-mediaquery == true or $use-large-mediaquery == true {
		
		@include media-query(screen, min, $mediumMediaQueryBreakpointMin, "") {

			.mul-accordion.ui-accordion
								{
				.ui-accordion-header
									{
					&.ui-accordion-icons
										{
						.ui-accordion-header-icon
											{top: 1px;}
										}
									}
								}

		}
		
	}// endif

}//endif