//-------------------------------------------------------------------------------------------
// Mercer Evolution - Core v2.7 - Add Remove Plan Component Partial
// DATE - June 3, 2015
// AUTHOR - Doug Fraize, Matthew Holmes
//-------------------------------------------------------------------------------------------

//
// @variables
//
$evo-add-remove-plan-component-icon-color: $gray-light !default;
$evo-add-remove-plan-component-icon-float: right !default;
$evo-add-remove-plan-component-icon-font-size: rem-calc(22) !default;
$evo-add-remove-plan-component-icon-position: relative !default;
$evo-add-remove-plan-component-icon-position-top: rem-calc(12) !default;
$evo-add-remove-plan-component-icon-padding-bottom: 2px !default;

$evo-add-remove-plan-component-overlay-bgcolor: rgba(255, 255, 255, 0.90) !default;
$evo-add-remove-plan-component-overlay-position: absolute !default;
$evo-add-remove-plan-component-overlay-position-left: 0 !default;
$evo-add-remove-plan-component-overlay-position-right: 0 !default;
$evo-add-remove-plan-component-overlay-padding: 64px 0 !default;
$evo-add-remove-plan-component-overlay-z-index: 1 !default;
$evo-add-remove-plan-component-overlay-text-align: center !default;

$evo-add-remove-plan-component-overlay-link-font-size: rem-calc(14) !default;
$evo-add-remove-plan-component-overlay-link-text-transform: uppercase !default;


@if $use-add-remove-plan-component == true{

	.evo-add-remove-plan-component			{
		.evo-category-hdr-ctn					{
			[class*="evo-icon-"]					{
													color: $evo-add-remove-plan-component-icon-color;
													float: $evo-add-remove-plan-component-icon-float;
													font-size: $evo-add-remove-plan-component-icon-font-size;
													position: $evo-add-remove-plan-component-icon-position;
													top: $evo-add-remove-plan-component-icon-position-top;
													padding-bottom: $evo-add-remove-plan-component-icon-padding-bottom;
													}
												}
		.evo-add-remove-plan-component-overlay	{
												display: none;
												background-color: $evo-add-remove-plan-component-overlay-bgcolor;
												position: $evo-add-remove-plan-component-overlay-position;
												left: $evo-add-remove-plan-component-overlay-position-left;
												right: $evo-add-remove-plan-component-overlay-position-right;
												padding: $evo-add-remove-plan-component-overlay-padding;
												text-align: $evo-add-remove-plan-component-overlay-text-align;
												z-index: $evo-add-remove-plan-component-overlay-z-index;
			a										{
													font-size: $evo-add-remove-plan-component-overlay-link-font-size;
													text-transform: $evo-add-remove-plan-component-overlay-link-text-transform;
													}
												}
											}

	//=== MEDIA QUERIES =========================================================================

	// MEDIUM MEDIA QUERY RANGE AND UP - 768px +
	@if $use-medium-up-mediaquery == true {
		
		@media #{$medium-up} {

			

		}
		
	}// endif

}//endif