//-------------------------------------------------------------------------------------------
// Mercer Evolution - Core v2.7 - Advanced Filter Partial
// DATE - June 3, 2015
// AUTHOR - Doug Fraize, Matthew Holmes
//-------------------------------------------------------------------------------------------

@if $use-advanced-filter == true{

	// ADVANCED FILTER MODAL BUTTON AND ICON
	.evo-tbl-data-filter		{
		.evo-icon-filter			{
									cursor: pointer;
									top: 2px;
									}
								}

	// ADVANCED FILTER MODAL
	.evo-advanced-filter-modal.evo-dialog.ui-dialog
								{
								width: $advancedFilterModalWidth !important;
		.evo-advanced-filter-form	{
			.evo-match-question			{
										margin-top: 2px;
										margin-bottom: 25px;
				select						{
											position: relative;
											top: -2px;
											margin-left: 2px;
											margin-right: 6px;
											}
										}
			.evo-icon-plus-circle,
			.evo-icon-minus-circle		{
										cursor: pointer;
										top: 5px;
										left: 5px;
										outline: none;
										}
									}
								}

}