//-------------------------------------------------------------------------------------------
// Mercer Evolution - Core v2.6 - Call To Action Partial
// DATE - January 13, 2015
// AUTHOR - Doug Fraize, Matthew Holmes, Doug Richar, Vinod Bhatt
//-------------------------------------------------------------------------------------------

@if $use-call-to-action == true{

	.evo-call-to-action			{
								@include border-radius($borderRadiusSmall);
								display: table;
								background-color: $callToActionBackgroundColor;
								padding: 10px;
								margin-bottom: $baseMargin;
								width: 100%;

		
		// CUSTOM CALL TO ACTION BACKGROUND COLOR LOOP TO GET COLORS FROM GLOBAL COLOR PALETTE
		@each $color-name, $color in $color-palette 
									{
			&[data-palette-color="#{$color-name}"]
										{background-color: map-get($color, color);}
									}

		&:link,
		&:visited,
		&:hover,
		&:active					{
									text-decoration: none;
									color: $callToActionTextColor;
									}

		&:hover						{background-color: $callToActionHoverBackgroundColor;}

		// CUSTOM CALL TO ACTION BACKGROUND COLOR LOOP TO GET COLORS FROM GLOBAL COLOR PALETTE FOR HOVER STATE
		@each $color-name, $color in $color-palette 
									{
			&[data-palette-color="#{$color-name}"]:hover
										{background-color: darken(map-get($color, color), 10%);}
									}

		span, i						{
									display: table-cell;
									vertical-align: top;
									}

		// CALL TO ACTION ICONS
		[class^="evo-icon-"]		{
									top: 1px;
									color: $callToActionIconColor;
									}

		.evo-icon-position-left		{padding-right: 5px;}
		.evo-icon-position-right	{
									top: 2px;
									float: right;
									padding-left: 5px;
									}

		// CALL TO ACTION TEXT
		.evo-call-to-action-text	{text-transform: uppercase;}
								}

	//=== MEDIA QUERIES =========================================================================

	// MEDIUM MEDIA QUERY RANGE AND UP - 641px +
	@if $use-medium-up-mediaquery == true {
		
		@media #{$medium-up} {

			.evo-call-to-action	{

				// CALL TO ACTION ICONS
				[class^="evo-icon-"]
									{top: 0;}
				.evo-icon-position-right
									{top: 0;}
								}

		}
		
	}// endif

}//endif