//-------------------------------------------------------------------------------------------
// Mercer Evolution - Core v2.7 - Datepicker Partial
// DATE - January 13, 2015
// AUTHOR - Doug Fraize, Matthew Holmes
//-------------------------------------------------------------------------------------------


// DATEPICKER
// ------------------------------------------------------------------------------------------
$evo-datepicker-margin-top: rem-calc(5) !default;
$evo-datepicker-hdr-padding-top-bottom: rem-calc(4) !default;
$evo-datepicker-message-font-size: rem-calc(13) !default;
$evo-datepicker-message-line-height: rem-calc(15) !default;
$evo-datepicker-icon-position-top: rem-calc(8);
$evo-datepicker-icon-position-left: rem-calc(-22);
$evo-datepicker-icon-position-large-breakpoint: rem-calc(12);
$evo-datepicker-icon-position-top-IE: ($evo-datepicker-icon-position-top - 2) !default;
$evo-datepicker-icon-position-left-large-breakpoint: rem-calc(-20);
$evo-datepicker-min-width: rem-calc(110) !default;

// COLORS
$evo-datepicker-shadow-color: $gray-darker !default;
$evo-datepicker-bgcolor: $white !default;
$evo-datepicker-th-font-color: $gray-darker !default;
$evo-datepicker-border-color: $gray-lighter !default;
$evo-datepicker-link-color: $gray-dark !default;
$evo-datepicker-hdr-bgcolor-start: $gray-mid-light !default;
$evo-datepicker-hdr-bgcolor-end: $gray-mid-light !default;
$evo-datepicker-hdr-font-color: $gray-darker !default;
$evo-datepicker-hdr-nav-icon-color: $gray-mid-dark !default;
$evo-datepicker-today-font-color: $gray-mid-light !default;
$evo-datepicker-today-bgcolor: $gray-dark !default;
$evo-datepicker-current-day-bgcolor: #FFF3C5 !default;
$evo-datepicker-current-day-font-color: $gray-dark !default;
$evo-datepicker-hover-bgcolor: $gray-lighter !default;
$evo-datepicker-disabled-font-color: $gray-mid !default;
$evo-datepicker-disabled-bgcolor: $white !default;
$evo-datepicker-disabled-border-color: $gray-lighter !default;
$evo-datepicker-message-font-color: $gray-dark !default;
$evo-datepicker-message-bgcolor: #FFF3C5 !default;
$evo-datepicker-icon-color: $gray-mid-dark !default;


@if $use-datepicker == true{

	// DATEPICKER
	.ui-datepicker		{
						@include border-radius($global-radius);
						@include box-shadow(0, 0, rem-calc(5), $evo-datepicker-shadow-color);
						width: 100%;
						z-index: $evo-zindex-datepicker;
						max-width: rem-calc(268);
						margin-top: $evo-datepicker-margin-top;
						padding: rem-calc(5) rem-calc(4);
						background-color: $evo-datepicker-bgcolor;
						border: rem-calc(1) solid $evo-datepicker-border-color;
						display: none;

		// DATEPICKER GLOBAL TABLE STYLES
		table				{
							width: 100%;
							border-collapse: collapse;
							font-size: 1rem;
							margin: 0;
			th					{
								background-color: $evo-datepicker-bgcolor;
								border: 1px solid $evo-datepicker-border-color;
								color: $evo-datepicker-th-font-color;
								padding: 7px 3px;
								text-align: center;
								}
			td					{
								background-color: $evo-datepicker-bgcolor;
								padding: 0;
								text-align: center;
								border: 1px solid $evo-datepicker-border-color;
				a					{
									display: block;
									padding: 7px;
									color: $evo-datepicker-link-color;
									text-decoration: none;
									}
								}
							}

		// DATEPICKER HEADER
		.ui-datepicker-header
							{
							@include background-gradient($evo-datepicker-hdr-bgcolor-start,$evo-datepicker-hdr-bgcolor-end);
							@include border-radius($global-radius $global-radius 0 0);
							padding: $evo-datepicker-hdr-padding-top-bottom 0;
							font-size: 1rem;
							position: relative;

			.ui-icon			{text-indent: -99999px;}

			// DATEPICKER NAVIGATION
			.ui-datepicker-prev,
			.ui-datepicker-next {
								position: absolute;
								top: 0;
								height: rem-calc(36);
								width: rem-calc(36);
								padding: rem-calc(9) 0 0 rem-calc(9);
								font-size: rem-calc(18);
								cursor: pointer;
								text-decoration: none;
				span				{position: absolute;}
				&.ui-state-disabled
									{display: none;}
				&:hover				{text-decoration: none;}
				&:before			{font-family: $evo-icon-font-stack;;}
								}

			.ui-datepicker-prev	{
								left: 0;
				&:before
									{
									color: $evo-datepicker-hdr-nav-icon-color;
									content: "\e3c3";
									}
								}
			.ui-datepicker-next	{
								right: 0;
				&:before
									{
									color: $evo-datepicker-hdr-nav-icon-color;
									content: "\e3c1";
									}
								}

			// DATEPICKER TITLE
			.ui-datepicker-title
								{
								@include clearfix;
								margin: 0 2.3em;
								line-height: 1.8em;
								text-align: center;
								font-family: $evo-font-medium-stack;
								color: $evo-datepicker-hdr-font-color;
				select				{
									background-color: $gray-lightest;
									float: left;
									font-size: 1rem;
									padding: 0 0 0 rem-calc(3);
									margin: 2px 0 3px 0;
									}
				select.ui-datepicker-month-year
									{width: 100%;}
				select.ui-datepicker-month,
				select.ui-datepicker-year
									{width: 49%;}
				select.ui-datepicker-year
									{float: right;}
								}
							}

		// DATEPICKER CALENDAR
		.ui-datepicker-calendar
							{

			// CURRENTLY SELECTED DAY
			.ui-datepicker-current-day
								{
				.ui-state-active	{
									background-color: $evo-datepicker-current-day-bgcolor;
									font-family:  $evo-font-medium-stack;
									color: $evo-datepicker-current-day-font-color;
									}
								}
			
			// TODAY					
			.ui-datepicker-today
								{
				.ui-state-highlight	{
									background-color: $evo-datepicker-today-bgcolor;
									color: $evo-datepicker-today-font-color;
									font-family:  $evo-font-medium-stack;
									}
								}

			// DAY HOVER STATE
			.ui-state-hover		{
								@include transition(background-color 300ms ease-out);
								background-color: $evo-datepicker-hover-bgcolor;
								color: $gray-darkest;
								}

			// UNSELECTABLE DAYS
			.ui-datepicker-unselectable
								{
								padding: 7px;
								color: $evo-datepicker-disabled-font-color;
								background-color: $evo-datepicker-disabled-bgcolor;
								border: 1px solid $evo-datepicker-disabled-border-color;
								}
			
			// UNSELECTABLE DAYS WHEN THEN FALL IN OTHER MONTH IN SAME CALENDAR
			.ui-datepicker-other-month.ui-datepicker-unselectable
								{
								background-color: $evo-datepicker-bgcolor;
								border: 1px solid $evo-datepicker-border-color;
								}
							}

		// DATEPICKER MESSAGE AREA
		.evo-datepicker-message
							{
							clear: left;
							margin-bottom: -2px;
			label				{
								display: inline-block;
								position: relative;
								top: -2px;
								font-family: $evo-font-regular-family;
								font-size: $evo-datepicker-message-font-size;
								line-height: $evo-datepicker-message-line-height;
								color: $evo-datepicker-message-font-color;
								background-color: $evo-datepicker-message-bgcolor;
								margin: rem-calc(5) 0 0 0;
								padding: rem-calc(6);
								}
							}

		// DATEPICKER BUTTON PANE
		.ui-datepicker-buttonpane
							{
							@include clearfix;
							clear: left;
							padding-top: 7px;
							margin: 0 auto .5em;
							text-align:  center;
							}
						}

	// DATEPICKER WITH MULTIPLE CALENDARS
	.ui-datepicker-multi
						{
						width: auto;
						max-width: 536px;
		.ui-datepicker-group
							{
							float: left;
			table 				{
								width: 95%;
								margin: 0 auto .4em;
								}
			.ui-datepicker-header
								{
								width: 95%;
								margin: 0 auto auto .4em;
								}
							}
		.ui-datepicker-group-middle
							{
			.ui-datepicker-header
								{border-left-width: 0;}
							}
		.ui-datepicker-group-last
							{
			.ui-datepicker-header
								{border-left-width: 0;}
							}
						}

	// DATEPICKER WITH MULTIPLE CALENDARS (2)					
	.ui-datepicker-multi-2
						{
		.ui-datepicker-group
							{width: 50%;}
						}

	// DATEPICKER WITH MULTIPLE CALENDARS (3)					
	.ui-datepicker-multi-3
						{
		.ui-datepicker-group
							{width: 33.3%;}
						}

	// DATEPICKER WITH MULTIPLE CALENDARS (4)					
	.ui-datepicker-multi-4
						{
		.ui-datepicker-group
							{width: 25%;}
						}

	// DATEPICKER ICON
	.ui-datepicker-trigger
						{
						position: relative;
						top: $evo-datepicker-icon-position-top;
						margin-left: $evo-datepicker-icon-position-left;
						float: left;
						font-size: 1rem;
						width: 1rem;
						height: 1rem;
						padding: 0;
						border: 0;
						color: transparent;
						background-color: transparent;
						outline: 0;
		&:before			{
							font-family: $evo-icon-font-stack;
							content: "\e62a";
							color: $evo-datepicker-icon-color;
							position: relative;
							top: 0;
							left: 0;
							}
		&:hover				{background-color: $transparent;}
						}

	// DATEPICKER CONTAINER
	.evo-datepicker-ctn	{
		input				{
							width: 100%;
							min-width: $evo-datepicker-min-width;
							float: left !important;
							}
						}

	// DATEPICKER RANGE
	.evo-form-inline	{
		.evo-datepicker-range
							{
			input				{width: 48.85%;}
							}
						}

	// DATEPICKER FIREFOX (3.5+) FIXES
	body:not(:-moz-handler-blocked)
						{

		// DATEPICKER ICON
		.ui-datepicker-trigger
							{top: $evo-datepicker-icon-position-top - 3;}
						}

	// DATEPICKER IE9 FIXES
	.ie9				{

		// DATEPICKER ICON
		.ui-datepicker-trigger
							{top: $evo-datepicker-icon-position-top-IE;}
						}

	//=== MEDIA QUERIES =========================================================================

	// MEDIUM MEDIA QUERY RANGE AND UP - 641px +
	@if $use-medium-up-mediaquery == true {
		
		@media #{$medium-up} {

			// DATEPICKER
			.ui-datepicker
						{

				// DATEPICKER GLOBAL TABLE STYLES
				table		{font-size: 1rem;}

				// DATEPICKER HEADER
				.ui-datepicker-header
							{
							font-size: 1rem;

					// DATEPICKER NAVIGATION
					.ui-datepicker-prev,
					.ui-datepicker-next 
								{
								height: rem-calc(33);
								width: rem-calc(33);
								padding: rem-calc(10) 0 0 rem-calc(7);
								}

					// DATEPICKER TITLE
					.ui-datepicker-title
								{
						select		{font-size: 1rem;}
								}
							}
						}

			// DATEPICKER ICON
			.ui-datepicker-trigger
						{
						top: $evo-datepicker-icon-position-large-breakpoint;
						margin-left: $evo-datepicker-icon-position-left-large-breakpoint;
						}

		}
		
	}// endif

}//endif