//-------------------------------------------------------------------------------------------
// Mercer Evolution - Core v2.5 - Image Content Overlay Partial
// DATE - June 13, 2014
// AUTHOR - Doug Fraize, Matthew Holmes, Vinod Bhatt
//-------------------------------------------------------------------------------------------

@if $use-image-content-overlay == true{

	.mul-image-content-overlay-ctn
								{
								margin-bottom: $baseMargin;
		.mul-image-content-overlay-ctn-adjust
									{
									@include clearfix;
									margin: 0 auto;
									padding: $basePadding $gridSiteGutterPadding 0 $gridSiteGutterPadding;
									width: $gridWidth;
									}
								}

	.mul-image-content-overlay	{
								@include clearfix;
								@include border-radius(20px 0 9px 9px);
								position: relative;
								margin-bottom: $baseMargin;
								padding: $basePadding $basePadding 0 $basePadding;
								min-height: 180px;
								border: 0;
								background-color: rgba($imageContentOverlayBackgroundColor, .6);
								border-bottom: 9px solid $imageContentOverlayBorderBottomColor;

		// CUSTOM IMAGE CONTENT OVERLAY BACKGROUND COLOR LOOP TO GET COLORS FROM GLOBAL COLOR PALETTE
		@each $color-name, $color in $color-palette 
									{
			&[data-palette-color="#{$color-name}"]
										{background-color: rgba(map-get($color, color), .6);}
			&[data-palette-border-color="#{$color-name}"]
										{border-bottom-color: map-get($color, color);}
									}

			h1, .h1, h2, .h2,
			h3, .h3, h4, .h4,
			h5, .h5, h6, .h6,
			p, span, li, dt, dd, blockquote,
			th, td, legend, hr, abbr,
			a, a:link, a:visited, a:hover, a:active
									{color: $imageContentOverlayFontColor;}

			h1, .h1					{
									font-family: $fontThinStack;
									font-size: 54px;
									line-height: 56px;
									padding: 0;
									}
								}

	// IMAGE CONTENT OVERLAY IE9 FIXES
	.ie9						{
		.mul-image-content-overlay	{border-radius:$baseBorderRadiusIE;}
								}

	//=== MEDIA QUERIES =========================================================================

	// Portrait iPad, portrait tablets, Low-resolution laptops and desktops, Landscape iPad, laptops and desktops
	@if $use-medium-mediaquery == true or $use-large-mediaquery == true {
		
		@include media-query(screen, min, $mediumMediaQueryBreakpointMin, "") {

			.mul-image-content-overlay-ctn
								{
				.mul-image-content-overlay-ctn-adjust
									{
									
									// If using 980 width layout
									@if $use-grid-980 == true{
										max-width: $gridMaxWidth980;
									}
								
									// If using 1200 width layout
									@if $use-grid-1200 == true{
										max-width: $gridMaxWidth1200;
									}

									}
								}

			.mul-image-content-overlay
								{width: 70%;}

		}
		
	}// endif

}//endif