//-------------------------------------------------------------------------------------------
// Mercer Evolution - Core v2.5 - Accordion Partial
// DATE - June 13, 2014
// AUTHOR - Doug Fraize, Matthew Holmes, Vinod Bhatt
//-------------------------------------------------------------------------------------------

@if $use-banding-layout == true{
	.banding-layout[role="main"]			{
											margin: 0;
											padding: 0 0 1px 0;
		[class*="banding-section-"]				{
			.mul-grid								{
													min-height: 200px;
													padding: 20px 10px 30px 10px;
													}

			@each $color-name, $color in $color-palette
													{
				&[data-palette-color="#{$color-name}"]
														{background-color: map-get($color, color);}
													}
												}
											}

	//=== MEDIA QUERIES =========================================================================

	// Portrait iPad, portrait tablets, Low-resolution laptops and desktops, Landscape iPad, laptops and desktops
	@if $use-medium-mediaquery == true or $use-large-mediaquery == true {
		
		@include media-query(screen, min, $mediumMediaQueryBreakpointMin, "") {

			.banding-layout[role="main"]			{
				[class*="banding-section-"]			{
					.mul-grid								{padding: 20px 0 30px 0;}
														}
													}

		}
		
	}// endif

}//endif