//-------------------------------------------------------------------------------------------
// Mercer Evolution - Core v2.7 - Accordion Partial
// DATE - June 3, 2015
// AUTHOR - Doug Fraize, Matthew Holmes
//-------------------------------------------------------------------------------------------

@if $use-banding-layout == true{
	.banding-layout[role="main"]			{
											margin: 0;
											padding: 0;
		[class*="banding-section-"]				{
			.evo-grid								{min-height: 200px;}

			@each $color-name, $color in $color-palette
													{
				&[data-palette-color="#{$color-name}"]
														{background-color: map-get($color, color);}
													}
												}
											}

	//=== MEDIA QUERIES =========================================================================

	// MEDIUM MEDIA QUERY RANGE AND UP - 641px +
	@if $use-medium-up-mediaquery == true {
		
		@media #{$medium-up} {

			

		}
		
	}// endif

}//endif