//-------------------------------------------------------------------------------------------
// Mercer Evolution - Core v2.7 - Login Layout Partial
// DATE - June 3, 2015
// AUTHOR - Doug Fraize, Matthew Holmes
//-------------------------------------------------------------------------------------------

@if $use-login-layout == true{

	// CLASS USED ON BODY FOR LOGIN LAYOUT
	.evo-layout-login						{
											@include ie-gradient-reset-filter;
											background: url("#{$layoutLoginBackgroundImageSrcPath}") no-repeat center center fixed $layoutLoginBackgroundColor;
											@include background-size(cover);
											height: 100%;
											width: 100%;

		> div,
		section[role="main"]					{background-color: transparent;}
		
		// LOGIN CONTAINER
		.evo-layout-login-ctn					{
												@include translucent-background($layoutLoginContainerTranslucentBackgroundColor, .9);
												position: relative;
												top: 0;
												margin-bottom: 0;
												padding: 20px 20px 3px 20px;
												border: 0;
			.evo-box-hdr							{
													margin: 0 0 10px 0;
				.evo-box-sub-hdr						{
														margin-bottom: 5px;
														line-height: 1em;
														color: $layoutLoginContainerSubHeaderColor;
														text-align: center;
														}
				.evo-box-main-hdr						{
														margin-bottom: 5px;
														color: $layoutLoginContainerHeaderColor;
														text-align: center;
					span									{font-family: $evo-font-thin-stack;}
														}
				.evo-box-sub-text						{
														width: 100%;
														margin: 0 auto;
														text-align: center;
														}
				.evo-box.evo-error-ctn,
				.evo-box.evo-attention-ctn,
				.evo-box.evo-info-ctn,
				.evo-box.evo-confirmation-ctn			{margin-bottom: 0;}
													}
			.evo-box-bdy							{
				.evo-box								{
														background-color: $layoutLoginContainerBoxBackgroundColor;
														border: 1px solid $layoutLoginContainerBoxBorderColor;
														min-height: 210px;
					.evo-form								{margin-bottom: 15px;}
					.evo-layout-login-create-account		{
															margin-bottom: 15px;
						p										{margin-bottom: 19px;}
															}
														}
													}
												}

		// LOGIN FOOTER
		.evo-footer								{
												@include backface-visibility(visible);
												margin-bottom: 0;
												margin-top: $evo-base-margin;
			.evo-layout-login-footer				{
													@include translucent-background($layoutLoginFooterTranslucentBackgroundColor, .7);
													max-width: 100%;
													position: relative;
													bottom: 0;
													min-height: 0;
													margin: 0;
													padding: 0;
													z-index: $evo-zindex-layout-login-footer;
				.evo-layout-login-footer-logo,
				.evo-layout-login-footer-copyright		{text-align: center;}
				.evo-layout-login-footer-logo			{
														height: auto;
														padding: 10px 10px 5px 10px;
														}
				.evo-layout-login-footer-copyright		{
														color: $layoutLoginFooterFontColor;
														height: auto;
					a										{
															color: $layoutLoginFooterFontColor;
															text-decoration: none;
															}
					.evo-horizontal-list-piped				{
															border-top: 1px solid $layoutLoginFooterBorderColor;
						li										{
																padding: 0;
																border-color: $layoutLoginFooterBorderColor;
							a										{
																	display: block;
																	padding: 8px 10px;
																	}
																}
						.evo-layout-login-footer-copyright-text	{padding: 8px 10px;}
															}
														}
													}
												}
											}

	//=== MEDIA QUERIES =========================================================================

	// MEDIUM MEDIA QUERY RANGE AND UP - 641px +
	@if $use-medium-up-mediaquery == true {
		
		@media #{$medium-up} {

			// CLASS USED ON BODY FOR LOGIN LAYOUT
			.evo-layout-login				{
				
				// LOGIN CONTAINER
				.evo-layout-login-ctn			{
												top: 100px;
												margin: 0 auto;
												width: 100%;
												max-width: 560px;
												min-width: 0;
												padding-top: 30px;
					.evo-box-hdr					{
						.evo-box-sub-text				{width: 75%;}
													}
					.evo-box-bdy					{
						.evo-box						{
							.evo-layout-login-create-account
															{
								.evo-layout-login-create-account-btn
																{width: 60%;}
															}
														}
													}
												}

				// LOGIN FOOTER
				.evo-footer						{
					.evo-layout-login-footer-bkgd	{
													@include translucent-background($layoutLoginFooterTranslucentBackgroundColor, .5);
													width: 100%;
													position: fixed;
													bottom: 0;
													height: 38px;
													z-index: $evo-zindex-layout-login-footer-background;
													}
					.evo-layout-login-footer		{
													position: fixed;
						.evo-layout-login-footer-logo,
						.evo-layout-login-footer-copyright
														{
														height: 38px;
														padding: 10px 10px 0 10px;
														}
						.evo-layout-login-footer-logo	{text-align: left;}
						.evo-layout-login-footer-copyright
														{
														text-align: right;
							.evo-horizontal-list-piped		{
															border-top: 0;
								li								{
																padding-left: 8px;
									a								{
																	display: inline;
																	padding: 0;
																	}
																}
								.evo-layout-login-footer-copyright-text
																{padding: 0 0 0 8px;}
															}
														}
													}
												}
											}

		}
		
	}// endif

}//endif