//-------------------------------------------------------------------------------------------
// Mercer Evolution - Core v2.7 - Mini Filter Partial
// DATE - January 13, 2015
// AUTHOR - Doug Fraize, Matthew Holmes
//-------------------------------------------------------------------------------------------


// @VARS
// ------------------------------------------------------------------------------------------
$evo-mini-filter-active-padding-left-right: 7px !default;
$evo-mini-filter-active-bgcolor: $topaz-light !default;
$evo-mini-filter-active-font-color: $black !default;


$miniFilterMarginBottom:					6px !default;
$miniFilterDropDownMaxWidth:				300px !default;


@if $use-mini-filter == true{

	.evo-mini-filter						{
											margin: 0 0 $miniFilterMarginBottom 0;
											font-size: rem-calc(14);
		.evo-mini-filter-label					{
												border-right: 0;
												font-family: $evo-font-medium-family;
												margin-left: 0 !important;
												padding-right: 0;
												}
		.evo-mini-filter-active					{
												background-color: $evo-mini-filter-active-bgcolor;
												color: $evo-mini-filter-active-font-color;
												padding: 1px $evo-mini-filter-active-padding-left-right 2px $evo-mini-filter-active-padding-left-right;
												text-decoration: none;
			&:hover									{
													cursor: default;
													text-decoration: none;
													}
												}
											}

	// MINI FILTER DROPDOWN MENU FOR SMALL MEDIAQUERY BREAKPOINT
	.evo-mini-filter-dropdown				{
											margin-bottom: $miniFilterMarginBottom;
											max-width: $miniFilterDropDownMaxWidth;
											}

	//=== MEDIA QUERIES =========================================================================

	// MEDIUM MEDIA QUERY RANGE AND UP - 641px +
	@if $use-medium-up-mediaquery == true {
		
		@media #{$medium-up} {


		}
		
	}// endif

}//endif