//-------------------------------------------------------------------------------------------
// Mercer Evolution - Core v2.6 - Pagination Partial
// DATE - January 13, 2015
// AUTHOR - Doug Fraize, Matthew Holmes, Doug Richar, Vinod Bhatt
//-------------------------------------------------------------------------------------------

@if $use-pagination == true{

	.evo-pagination							{
		ul										{
												@include clearfix;
												position: relative;
												right: -1px;
												display: inline-block;
												list-style: none;
												margin: 0;
												padding: 0;
			li										{
													float: left;
													margin-right: 5px; 
													text-align: center;
													vertical-align: middle;
													font-size: $paginationFontSize;
				&:last-child							{margin-right: 0;}
				a,
				span									{
														display: block;
														border: 1px $paginationBorderStyle $paginationBorderColor;
														padding: 9px 6px 8px 6px;
														line-height: $paginationLinkLineHeight;
														min-width: $paginationLinkMinWidth;
														max-height: $paginationLinkMaxHeight;
														text-decoration: none;
														}
				&.active								{
					a,
					span									{
															cursor: default;
															background-color: $paginationActiveBackgroundColor;
															color: $paginationActiveFontColor;
															text-decoration: none;
															}
					a:hover									{color: $paginationActiveFontColor;}
														}
				a:hover									{
														background-color: $paginationHoverBackgroundColor;
														text-decoration: none;
														}
				[class^="evo-icon-"]					{color: $iconFontColor;}
				.evo-pagination-icon					{
					&:hover									{color: $paginationLinkHoverColor;}
														}
													}
			.evo-pagination-page-nav				{display: none;}
												}
											}

	//=== MEDIA QUERIES =========================================================================

	// MEDIUM MEDIA QUERY RANGE AND UP - 641px +
	@if $use-medium-up-mediaquery == true {
		
		@media #{$medium-up} {

			.evo-pagination					{
				ul								{
					li								{
													font-size: $paginationFontSizeLargeBreakpoint;
						a,
						span							{
														min-width: $paginationLinkMinWidthLargeBreakpoint;
														max-height: $paginationLinkMaxHeightLargeBreakpoint;
														}
						.evo-pagination-icon			{padding: 7px 5px;}
													}
					.evo-pagination-page-nav		{display: block;}
												}
											}

		}
		
	}// endif

}//endif