//-------------------------------------------------------------------------------------------
// Mercer Evolution - Core v2.6 - Profile Containers Partial
// DATE - January 13, 2015
// AUTHOR - Doug Fraize, Matthew Holmes, Doug Richar, Vinod Bhatt
//-------------------------------------------------------------------------------------------

@if $use-profile-containers == true{

	.evo-user-profile > .evo-box-hdr,
	.evo-client-profile-inactive > .evo-box-hdr,
	.evo-client-profile-active > .evo-box-hdr,
	.evo-client-profile-prospective > .evo-box-hdr,
	.evo-product-profile > .evo-box-hdr,
	.evo-plan-profile > .evo-box-hdr,
	.evo-location-profile > .evo-box-hdr
								{
								color: $profileContainerHdrColor;
								margin-bottom: 0;
			.evo-profile-icon		{
									float: left;
									margin-right: 10px;
									}
			.evo-hdr-rule			{
									@include text-overflow;
									font-size: $h2-font-size;
									border-bottom: 0;
									color: $profileContainerHdrColor;
									padding: 0;
									}
			.evo-secondary-hdr		{
									@include text-overflow;
									color: $profileContainerSecondaryHdrColor;
									}
			
			.evo-data-list-ctn		{
									font-size: $profileContainerDataListFontSize;
									margin-bottom: 0;
				li						{
										line-height: $profileContainerDataListLineHeight;
					.evo-data-list-label	{color: $profileContainerDataListLabelFontColor;}
										}
									}
								}

	.evo-user-profile,
	.evo-client-profile-inactive,
	.evo-client-profile-active,
	.evo-client-profile-prospective,
	.evo-product-profile,
	.evo-plan-profile,
	.evo-location-profile
								{
		.evo-box-bdy				{padding-top: $evo-base-padding;}
								}

	// CLIENT CONTAINER HELPERS
	.evo-box-adv.evo-user-profile > .evo-box-hdr 
								{background-color: $profileContainerUserHdrBackgroundColor !important;}

	.evo-box-adv.evo-client-profile-inactive > .evo-box-hdr
								{background-color: $profileContainerClientInactiveHdrBackgroundColor !important;}

	.evo-box-adv.evo-client-profile-active > .evo-box-hdr
								{background-color: $profileContainerClientActiveHdrBackgroundColor !important;}

	.evo-box-adv.evo-client-profile-prospective > .evo-box-hdr
								{background-color: $profileContainerClientProspectiveHdrBackgroundColor !important;}

	.evo-box-adv.evo-product-profile > .evo-box-hdr
								{background-color: $profileContainerProductHdrBackgroundColor !important;}

	.evo-box-adv.evo-plan-profile > .evo-box-hdr
								{background-color: $profileContainerPlanHdrBackgroundColor !important;}

	.evo-box-adv.evo-location-profile > .evo-box-hdr
								{background-color: $profileContainerLocationPlanHdrBackgroundColor !important;}


	.evo-user-profile,
	.evo-client-profile-inactive,
	.evo-client-profile-active,
	.evo-client-profile-prospective,
	.evo-product-profile,
	.evo-plan-profile,
	.evo-location-profile
						{
		.evo-entity-profile-mb-navbar
							{
							@include background-gradient($gray-lightest, $gray-mid);
							@include clearfix;
							border-bottom: 1px solid $gray-mid;
							display: block;
							width: 100%;
			ul					{float: right;}
							}
		.evo-navbar			{
			.evo-navbar-adjust	{
				.evo-menu-ctn		{
									@include background-gradient(#e7e7e7, #ccc);
									display: block;
									}
								}
							}
						}

	//=== MEDIA QUERIES =========================================================================

	// MEDIUM MEDIA QUERY RANGE AND UP - 641px +
	@if $use-medium-up-mediaquery == true {
		
		@media #{$medium-up} {
			
			.evo-user-profile,
			.evo-client-profile-inactive,
			.evo-client-profile-active,
			.evo-client-profile-prospective,
			.evo-product-profile,
			.evo-plan-profile,
			.evo-location-profile
								{
				.evo-entity-profile-mb-navbar
									{display: none;}
				.evo-navbar			{
					.evo-navbar-adjust	{
					// GENERAL NAVBAR - BEGINS	
						nav					{
							ul					{
								li					{
									a					{
														font-size: 14px;
														font-family: $evo-font-regular-family;
														}
													}
												}
											}
					// GENERAL NAVBAR - ENDS

					// TEXT NAVBAR - BEGINS
						nav.evo-text-nav	{
							ul					{
								li					{
													padding-top: 6px;
													padding-bottom: 5px;
													}
												}
						// MENU OVERRIDES - BEGINS
							.evo-nav-menus		{
								li					{
									ul					{top: 24px !important;}
													}
												}
						// MENU OVERRIDES - ENDS
											}
					// TEXT NAVBAR - ENDS

					// TABBED NAVBAR - BEGINS
						nav.evo-tabbed-nav	{
							ul					{
								li					{
									a					{
														padding: 8px 10px 6px 10px !important;
														margin-bottom: -1px;
														}
									&:first-child		{
														border-left: 0;
										a					{border-left: 0;}
														}
													}
												}
						// MENU OVERRIDES - BEGINS
							.evo-nav-menus		{
								li					{
									ul					{top: 31px !important;}
													}
												}
						// MENU OVERRIDES - ENDS
											}
					// TABBED NAVBAR - ENDS
										}
									}
								}

			.evo-user-profile > .evo-box-hdr,
			.evo-client-profile-inactive > .evo-box-hdr,
			.evo-client-profile-active > .evo-box-hdr,
			.evo-client-profile-prospective > .evo-box-hdr,
			.evo-product-profile > .evo-box-hdr,
			.evo-plan-profile > .evo-box-hdr,
			.evo-location-profile > .evo-box-hdr
								{
					.evo-hdr-rule	{
									font-size: $h1-font-size;
									}

					.evo-data-list-ctn
									{
									font-size: $profileContainerDataListFontSize;
						li				{
										line-height: $profileContainerDataListLineHeight;
										}
									}
								}

		}
		
	}// endif

}//endif