//-------------------------------------------------------------------------------------------
// Mercer Evolution - Core v2.6 - Slider Partial
// DATE - January 13, 2015
// AUTHOR - Doug Fraize, Matthew Holmes, Doug Richar, Vinod Bhatt
//-------------------------------------------------------------------------------------------

@if $use-slider == true{

	// SLIDER
	.evo-slider.ui-slider 			{
									@include border-radius($global-radius);
									@include background-gradient($sliderBarBackgroundStartColor,$sliderBarBackgroundEndColor);
									position: relative;
									text-align: left;
									width: 97%;
									margin-top: $baseMargin;
									margin-bottom: $baseMargin;

		// SLIDER HANDLE
		.ui-slider-handle				{
										@include border-radius(30px);
										@include background-gradient($sliderHandleBackgroundStartColor,$sliderHandleBackgroundEndColor);
										@include box-shadow(0, 1px, 3px, $sliderHandleShadowColor);
										border: 1px solid $sliderHandleBorderColor;
										outline: none;
										position: absolute;
										z-index: $zindexSlider;
										width: 20px;
										height: 20px;
										cursor: pointer;
										}										
		.ui-state-focus					{
										@include background-gradient($sliderHandleFocusBackgroundStartColor,$sliderHandleFocusBackgroundEndColor);
										border: 1px solid $sliderHandleBorderColor;
										}
		.ui-state-hover					{
										@include background-gradient($sliderHandleHoverBackgroundStartColor,$sliderHandleHoverBackgroundEndColor);
										border: 1px solid $sliderHandleBorderColor;
										}
		.ui-state-active 				{
										@include background-gradient($sliderHandleActiveBackgroundStartColor,$sliderHandleActiveBackgroundEndColor);
										border: 1px solid $sliderHandleBorderColor;
										}

		// SLIDER RANGE
		.ui-slider-range				{
										@include border-radius($global-radius);
										position: absolute;
										z-index: $zindexSlider;
										display: block;
										border: 0;
										background-position: 0 0;
										background-color: $sliderBarRangeBackgroundColor;
										}
									}
	
	// SLIDER HORIZONTAL
	.evo-slider.ui-slider-horizontal
									{
									height: 6px;
		.ui-slider-handle				{
										top: -7px;
										margin-left: -3px;
										}
		.ui-slider-range				{
										top: 0;
										height: 100%;
										}
		.ui-slider-range-min			{left: 0;}
		.ui-slider-range-max			{right: 0;}
									}

	// SLIDER VERTICAL
	.evo-slider.ui-slider-vertical 	{
									display: inline-block;
									width: 6px;
									height: 100px;
									margin-left: ($baseMargin/2);
									margin-right: ($baseMargin/2);
		.ui-slider-handle				{
										left: -7px;
										margin-bottom: -3px;
										}
		.ui-slider-range				{
										left: 0;
										width: 100%;
										}
		.ui-slider-range-min			{bottom: 0;}
		.ui-slider-range-max			{top: 0;}
									}

	// SLIDER RANGE LABEL
	.evo-slider-range				{
		.evo-slider-range-label			{
										@include clearfix;
			label,
			input							{float: left;}
			input[type="text"]				{
											@include border-radius(0);
											@include box-shadow(0, 0, 0, transparent);
											border: 0;
											padding: 0 0 0 5px;
											margin: 0;
											width: 40%;
											}
										}
									}

	// SLIDER IE9 FIXES
	.ie9							{

		// SLIDER RANGE LABEL
		.evo-slider-range				{
			.evo-slider-range-label			{
				input[type="text"]				{padding-top: 1px;}
											}
										}
									}

	//=== MEDIA QUERIES =========================================================================

	// MEDIUM MEDIA QUERY RANGE AND UP - 641px +
	@if $use-medium-up-mediaquery == true {
		
		@media #{$medium-up} {

			// SLIDER
			.evo-slider.ui-slider 	{
									width: 100%;
										
				// SLIDER HANDLE
				.ui-slider-handle		{
										width: 16px;
										height: 16px;
										}
									}

			// SLIDER HORIZONTAL
			.evo-slider.ui-slider-horizontal
									{
				.ui-slider-handle		{
										top: -5px;
										}
									}

			// SLIDER VERTICAL
			.evo-slider.ui-slider-vertical
									{
									width: 6px;
				.ui-slider-handle		{
										left: -5px;
										}
									}

		}
		
	}// endif

}//endif