//-------------------------------------------------------------------------------------------
// Mercer Evolution - Core v2.7 - Slider Partial
// DATE - June 3, 2015
// AUTHOR - Doug Fraize, Matthew Holmes
//-------------------------------------------------------------------------------------------

//
// @variables
//
$evo-slider-background-color: $gray-light !default;
$evo-slider-handle-background-color: $citrine-mid !default;
$evo-slider-handle-shadow-color: $black !default;
$evo-slider-handle-border-color: $white !default;
$evo-slider-range-background-color: $gray-mid !default;
$evo-slider-tick-marker-color: $gray-light !default;
$evo-slider-handle-shadow-color: $gray-mid-dark !default;


@if $use-slider == true{

	.evo-slider-ctn					{
									padding: rem-calc(12) rem-calc(10) rem-calc(9) rem-calc(10);
		.evo-contributions-slider-hdr	{
										margin-bottom: rem-calc(15);
			.evo-slider-value				{
											color: $citrine-mid;
											font-size: rem-calc(18);
											padding-left: rem-calc(5);
											position: relative;
											top: 1px;
											}
										}
		
		// SLIDER
		.evo-slider.ui-slider			{
										@include ie-gradient-reset-filter;
										@include border-radius(0);
										background-color: $evo-slider-background-color !important;
										background-image: none;
										height: 6px;
										width: 100%;
										position: relative;
										z-index: 800;
										margin-bottom: 0;
			// SLIDER HANDLE
			.ui-slider-handle				{
											@include ie-gradient-reset-filter;
											@include border-radius(30px);
											@include box-shadow(0, 1px, 3px, $evo-slider-handle-shadow-color);
											@include box-shadow(0, 1px, 3px, $evo-slider-handle-shadow-color);
											background-color: $evo-slider-handle-background-color !important;
											background-image: none;
											border: rem-calc(3) solid $evo-slider-handle-border-color;
											cursor: pointer;
											width: rem-calc(24) !important;
											height: rem-calc(24) !important;
											margin-left: rem-calc(-11);	
											outline: none;
											position: absolute;
											top: rem-calc(-9) !important;
											z-index: $evo-zindex-slider;
											}

			// SLIDER RANGE
			.ui-slider-range				{
											@include border-radius(0);
											background-color: $evo-slider-range-background-color;
											z-index: 801;
											}
										}

		// SLIDER MARKERS
		.evo-slider-markers				{
										position: relative;
										z-index: 799;
			span							{
											position: absolute;
											display: block;
											margin: rem-calc(-19) 0 0 0;
											width: rem-calc(2);
											height: rem-calc(32);
											}							
										}

		// SLIDER TICKS
		.evo-slider-tick-ctn			{
										margin-top: rem-calc(7);
			.evo-slider-tick-number			{
											position: relative;
											font-size: rem-calc(12);
											}
			.evo-slider-tick-number-min		{
											left: rem-calc(-5);
											}
			.evo-slider-tick-number-max		{
											right: rem-calc(-10);
											}
			.evo-slider-tick-marker			{
											position: absolute;
											display: block;
											margin: rem-calc(-28) 0 0 0;
											width: rem-calc(1);
											height: rem-calc(10);
											background-color: $evo-slider-tick-marker-color;
											}
			.evo-slider-tick-number-min-marker
											{
											left: rem-calc(5);
											}
			.evo-slider-tick-number-max-marker
											{
											right: rem-calc(10);
											}
										}

		// SLIDER KEY
		.evo-slider-key					{
										font-size: rem-calc(12);
										left: rem-calc(-5);
										padding-top: rem-calc(6);
										position: relative;

			.evo-slider-key-row				{
											@include clearfix;
											display: inline-block;
											margin-right: rem-calc(10);
											margin-bottom: rem-calc(3);
											margin-top: rem-calc(10);
											}
			.evo-slider-key-block,
			.evo-slider-key-label			{
											float: left;
											}
			.evo-slider-key-block			{
											@include border-radius(rem-calc(2));
											width: rem-calc(13);
											height: rem-calc(13);
											margin-right: rem-calc(5);
											position: relative;
											top: 2px;
											}
										}
									}

	// SLIDER IE9 FIXES
	.ie9							{
		.evo-contributions-slider		{
			
			// SLIDER
			.evo-slider.ui-slider			{
				
				// SLIDER HANDLE
				.ui-slider-handle				{
												top: rem-calc(-11) !important;
												}
											}
										}
									}

	//=== MEDIA QUERIES =========================================================================

	// MEDIUM MEDIA QUERY RANGE AND UP - 641px +
	@if $use-medium-up-mediaquery == true {
		
		@media #{$medium-up} {

			.evo-contributions-slider
									{

				// SLIDER KEY
				.evo-slider-key			{
										padding-top: rem-calc(6);
										font-size: rem-calc(12);
										}
									}
		}
		
	}// endif

}//endif