//-------------------------------------------------------------------------------------------
// Mercer Evolution - Core v2.5 - Stepper Partial
// DATE - June 13, 2014
// AUTHOR - Doug Fraize, Matthew Holmes, Vinod Bhatt
//-------------------------------------------------------------------------------------------

@if $use-stepper == true{

	// BADGE
	.mul-badge				{
							@include border-radius(100%);
							background-color: $gray-mid-dark;
							color: $white;
							display: inline-block;
							line-height: 1;
							min-width: 23px;
							padding: 3px 6px;
							text-align: center;
							white-space: nowrap;
							}

	// DEFAULT STEPPER
	.mul-stepper			{
							overflow: hidden;
							margin: 0;
		.mul-steps				{
								color: $gray-mid-dark;
								display: inline-block;
								margin-left: $baseMargin;
			a						{@include href-link($gray-mid-dark, none);}
			.mul-stepper-text		{
									display: none;
									font-family: $proximaNovaSemiBoldFamily;
									}
			[class*="mul-icon"]		{
									color: $gray-mid-dark;
									margin: 0;
									}
								}

		// COMPLETED STEP
 		.mul-stepper-completed	{
			.mul-badge				{background-color: $green;}
			[class*="mul-icon"]		{color: $green;}
			.mul-stepper-text		{
									color: $green;
									font-family: $proximaNovaSemiBoldFamily;
									}
						 		}
		// ACTIVE STEP
 		.mul-stepper-active		{
			.mul-badge				{background-color: $tan-dark;}
			[class*="mul-icon"]		{color: $tan-dark;}
			.mul-stepper-text		{
									color: $tan-dark;
									font-family: $proximaNovaSemiBoldFamily;
									}
						 		}
							}

	// VERTICAL STEPPER
	.mul-vertical-stepper	{
							text-align: left;
		.mul-steps				{
								display: block;
								margin-left: 0;
								margin-bottom: 10px;
			.mul-stepper-text		{display: inline-block;}
			[class*="mul-icon"]		{display: none;}
								}
							}


	//=== MEDIA QUERIES =========================================================================

	// Portrait iPad, portrait tablets, Low-resolution laptops and desktops, Landscape iPad, laptops and desktops
	@if $use-medium-mediaquery == true or $use-large-mediaquery == true {

		@include media-query(screen, min, $mediumMediaQueryBreakpointMin, "") {

			.mul-stepper			{
				.mul-steps				{
					.mul-stepper-text		{display: inline-block;}
										}
									}

		}

	}//endif

}//endif