//-------------------------------------------------------------------------------------------
// Mercer Evolution - Core v2.6 - Stepper Partial
// DATE - January 13, 2015
// AUTHOR - Doug Fraize, Matthew Holmes, Doug Richar, Vinod Bhatt
//-------------------------------------------------------------------------------------------

@if $use-stepper == true{

	// BADGE
	.evo-badge				{
							@include border-radius(100%);
							background-color: $gray-mid;
							color: $white;
							display: inline-block;
							line-height: 1;
							min-width: 23px;
							padding: 3px 6px;
							text-align: center;
							white-space: nowrap;
							}

	// DEFAULT STEPPER
	.evo-stepper			{
							overflow: hidden;
							margin: 0;
		.evo-steps				{
								color: $gray-mid;
								display: inline-block;
								margin-left: $evo-base-margin;
			a						{@include href-link($gray-mid, none);}
			.evo-stepper-text		{
									display: none;
									font-family: $evo-font-medium-family;
									}
			[class*="evo-icon"]		{
									color: $gray-mid;
									margin: 0;
									}
								}

		// COMPLETED STEP
 		.evo-stepper-completed	{
			.evo-badge				{background-color: $emerald;}
			[class*="evo-icon"]		{color: $emerald;}
			.evo-stepper-text		{
									color: $emerald;
									font-family: $evo-font-medium-family;
									}
						 		}
		// ACTIVE STEP
 		.evo-stepper-active		{
			.evo-badge				{background-color: $topaz-dark;}
			[class*="evo-icon"]		{color: $topaz-dark;}
			.evo-stepper-text		{
									color: $topaz-dark;
									font-family: $evo-font-medium-family;
									}
						 		}
							}

	// VERTICAL STEPPER
	.evo-vertical-stepper	{
							text-align: left;
		.evo-steps				{
								display: block;
								margin-left: 0;
								margin-bottom: 10px;
			.evo-stepper-text		{display: inline-block;}
			[class*="evo-icon"]		{display: none;}
								}
							}


	//=== MEDIA QUERIES =========================================================================

	// MEDIUM MEDIA QUERY RANGE AND UP - 641px +
	@if $use-medium-up-mediaquery == true {
		
		@media #{$medium-up} {

			.evo-stepper			{
				.evo-steps				{
					.evo-stepper-text		{display: inline-block;}
										}
									}

		}

	}//endif

}//endif