//-------------------------------------------------------------------------------------------
// Mercer Evolution - Core v2.7 - Summary Containers Partial
// DATE - January 13, 2015
// AUTHOR - Doug Fraize, Matthew Holmes
//-------------------------------------------------------------------------------------------

// @VARS
$evo-summary-ctn-margin-bottom: $evo-base-margin !default;
$evo-summary-ctn-cell-width: 1px !default;
$evo-summary-ctn-cell-style: dotted !default;
$evo-summary-ctn-cell-color: $gray-light !default;
$evo-summary-ctn-cell-border-top-color: $white !default;
$evo-summary-ctn-cell-border-bottom-color: $white !default;
$evo-summary-ctn-cell-padding-top: rem-calc(10) !default;
$evo-summary-ctn-cell-border-width: 1px !default;
$evo-summary-ctn-cell-border-style: dotted !default;
$evo-summary-ctn-cell-border-color: $gray-light !default;
$evo-summary-cell-text-icon-font-size: rem-calc(44) !default;
$evo-summary-cell-text-support-font-size: (1rem - rem-calc(3)) !default;
$evo-summary-cell-text-alignment: center !default;
$evo-summary-cell-hover-background-color: $topaz-light !default;
$evo-summary-cell-hover-border-top-color: $gray-light !default;
$evo-summary-cell-hover-border-bottom-color: $gray-light !default;
$evo-summary-cell-hover-transition-time: 400ms !default;
$evo-summary-cell-alert-font-color: $garnet-dark !default;
$evo-summary-cell-alert-icon-color: $garnet-dark !default;
$evo-summary-cell-alert-hover-background-color: $garnet-light !default;
$evo-summary-cell-positive-font-color: $emerald-dark !default;
$evo-summary-cell-positive-icon-color: $emerald-dark !default;
$evo-summary-cell-positive-hover-background-color: $emerald-light !default;
$evo-secondary-summary-cell-font-size: rem-calc(32) !default;

@if $use-summary-containers == true{

	// SUMMARY CONTAINER
	.evo-summary-ctn						{
											margin-bottom: $evo-summary-ctn-margin-bottom;
		ul										{
												margin: 0;
			li										{
													border: $evo-summary-ctn-cell-width $evo-summary-ctn-cell-style $evo-summary-ctn-cell-color;
													border-left: 0;
													border-top-color: $evo-summary-ctn-cell-border-top-color;
													border-bottom-color: $evo-summary-ctn-cell-border-bottom-color;
													cursor: pointer;
													padding-top: $evo-summary-ctn-cell-padding-top;

				&:first-child							{border-left: $evo-summary-ctn-cell-border-width $evo-summary-ctn-cell-border-style $evo-summary-ctn-cell-border-color;}
				.evo-main-text,
				.evo-support-text						{
														display: block;
														text-align: $evo-summary-cell-text-alignment;
														}
				.evo-main-text,
				[class*="evo-icon-"]					{font-size: $evo-summary-cell-text-icon-font-size;}
				.evo-support-text						{font-size: $evo-summary-cell-text-support-font-size;}
				[class*="evo-icon-"],
				a										{
														color: $body-font-color;
														text-decoration: none;
														}
				&:hover									{
														@include transition(background-color $evo-summary-cell-hover-transition-time ease-in-out);
														background-color: $evo-summary-cell-hover-background-color;
														border-top-color: $evo-summary-cell-hover-border-top-color;
														border-bottom-color: $evo-summary-cell-hover-border-bottom-color;
														}
													}
												}
			.evo-summary-alert					{
												color: $evo-summary-cell-alert-font-color;
				[class*="evo-icon-"],
				a									{color: $evo-summary-cell-alert-icon-color;}
				&:hover								{background-color: $evo-summary-cell-alert-hover-background-color;}
												}
			.evo-summary-positive				{
												color: $evo-summary-cell-positive-font-color;
				[class*="evo-icon-"],
				a									{color: $evo-summary-cell-positive-icon-color;}
				&:hover								{background-color: $evo-summary-cell-positive-hover-background-color;}
												}

											}

	// SECONDARY SUMMARY CONTAINER
	.evo-secondary-summary-ctn				{
		ul										{
			li										{
				.evo-main-text,							
				[class*="evo-icon-"]					{font-size: $evo-secondary-summary-cell-font-size;}
													}
												}
											}

	//=== MEDIA QUERIES =========================================================================

	// MEDIUM MEDIA QUERY RANGE AND UP - 641px +
	@if $use-medium-up-mediaquery == true {
		
		@media #{$medium-up} {


		}

	}//endif

}//endif