//-------------------------------------------------------------------------------------------
// Mercer Evolution - Core v2.5 - Tabs Partial
// DATE - June 13, 2014
// AUTHOR - Doug Fraize, Matthew Holmes, Vinod Bhatt
//-------------------------------------------------------------------------------------------

@if $use-tabs == true{

	.mul-tabs.ui-tabs										{
															position:relative; // position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed")
															margin-bottom:$tabsSetMarginBottom;
		.ui-tabs-nav											{
																margin:0;
																padding:0;
																height:$tabsNavHeight;
			.ui-state-default										{
																	@include border-radius($tabsBorderRadius $tabsBorderRadius 0 0);
																	@include background-gradient($tabsBackgroundStartColor,$tabsBackgroundEndColor);
																	list-style:none;
																	float:left;
																	position:relative;
																	top:$tabsPositonTop;
																	height:$tabsHeight;
																	width:auto;
																	margin: 0 $tabsMarginRight $tabsMarginBottom 0;
																	padding:0;
																	white-space:nowrap;
																	display:block;
																	border:$tabsBorderSize $tabsBorderStyle $tabsBorderColor;
																	border-bottom:0;
				a														{
																		float:left;
																		padding:$tabsPaddingTopBottom $tabsPaddingLeftRight;
																		text-decoration:none;
																		cursor:pointer;
																		display:block;
																		color:$tabsFontColor;
																		font-size:$tabsFontSize;
																		line-height:$tabsLineHeight;
																		font-weight:$tabsFontWeight;
																		outline:none;
																		}
																	}

			// TABS MOBILE PAGING
			.ui-tabs-paging-prev,
			.ui-tabs-paging-next									{
																	@include border-radius(0);
																	@include background-gradient($tabsPagingNavBackgroundStartColor, $tabsPagingNavBackgroundEndColor);
																	border: 0;
																	padding-right: 0 !important;
				a														{
																		@include hide-text;
																		background: transparent;
																		color: $tabsPagingNavLinkColor;
																		cursor: pointer;
																		display: block;
																		height: 32px;
																		width: 32px;
																		padding: 0;
																		text-decoration: none;
					&:hover,
					&:focus,
					&:active,
					&:hover,
					&:focus,
					&:active												{background: transparent;}
					&:hover													{color: $tabsPagingNavHoverColor;}
					&:before												{
																			font-family: $mulIconFontStack;
																			font-size: $baseFontSize;
																			line-height: $baseLineHeight;
																			}
																		}
																	}
			.ui-tabs-paging-prev									{
				a														{
																		padding: 6px 0 0 7px;
					&:before												{content: "\e60f";}
																		}
																	}
			.ui-tabs-paging-next									{
																	float: right !important;
				a														{
																		padding: 6px 0 0 9px;
					&:before												{content: "\e60e";}
																		}
																	}
			.ui-tabs-paging-disabled								{visibility: hidden;}

			.ui-state-hover											{@include background-gradient($tabsHoverBackgroundStartColor,$tabsHoverBackgroundEndColor);}
			.ui-state-active										{
																	@include background-gradient($tabsActiveBackgroundStartColor,$tabsActiveBackgroundEndColor);
																	top:$tabsActivePositonTop;
																	height:$tabsActiveHeight;
																	padding-bottom:$tabsActivePaddingBottom;
				a														{
																		color:$tabsActiveFontColor;
																		cursor:default;
																		}
																	}
																}
		.ui-tabs-panel											{
																@include border-radius($tabsBorderRadius);
																padding:$tabsPanelPadding $tabsPanelPadding 0 $tabsPanelPadding;
																border:$tabsPanelBorderSize $tabsPanelBorderStyle $tabsPanelBorderColor;
																background-color:$tabsPanelBackgroundColor;
																}
		.ui-tabs-hide											{display:none;}
															}

	// TABS IE9 FIXES
	.ie9													{
		.mul-tabs.ui-tabs										{
			.ui-tabs-nav											{
				.ui-state-default										{border-radius:$baseBorderRadiusIE;}
																	}
			.ui-tabs-panel											{border-radius:$baseBorderRadiusIE;}
																}
															}

	//=== MEDIA QUERIES =========================================================================

	// Portrait iPad, portrait tablets, Low-resolution laptops and desktops, Landscape iPad, laptops and desktops
	@if $use-medium-mediaquery == true or $use-large-mediaquery == true {
		
		@include media-query(screen, min, $mediumMediaQueryBreakpointMin, "") {

			.mul-tabs.ui-tabs								{
				.ui-tabs-nav									{
																height:$tabsNavHeightLargeBreakpoint;
					.ui-state-default								{
																	height:$tabsHeightLargeBreakpoint;
						a												{
																		font-size:$tabsFontSizeLargeBreakpoint;
																		line-height:$tabsLineHeightLargeBreakpoint;
																		}
																	}
					.ui-state-active								{height:$tabsActiveHeightLargeBreakpoint;}
																}
				.ui-tabs-panel									{@include border-radius(0 $tabsBorderRadius $tabsBorderRadius $tabsBorderRadius);}
															}

			// TABS IE8+9 FIXES
			.ie8,
			.ie9											{
				.mul-tabs.ui-tabs								{
					.ui-tabs-nav									{
						.ui-state-default								{
							a												{line-height: ($tabsLineHeightLargeBreakpoint - 4)}
																		}
																	}
																}
															}

			// TABS FIREFOX (3.5+) FIXES
			body:not(:-moz-handler-blocked) 				{

				.mul-tabs.ui-tabs								{
					.ui-tabs-nav									{
						.ui-state-default								{
							a												{line-height: ($tabsLineHeightLargeBreakpoint - 4)}
																		}
																	}
																}
																
															}

		}
		
	}// endif

}//endif