//-------------------------------------------------------------------------------------------
// Mercer Evolution - Core v2.6 - Tabs Partial
// DATE - January 13, 2015
// AUTHOR - Doug Fraize, Matthew Holmes, Doug Richar, Vinod Bhatt
//-------------------------------------------------------------------------------------------

//
// @variables
//

/* TODO: TABS.SCSS - come back and change the background color options and even color options to use the entire color palette with a data attribute */
// Tabs variables
$evo-margin-left: rem-calc(4) !default;
$evo-margin-left-first-child: 0 !default;
$evo-tabs-border-radius: $global-radius !default;
$evo-tabs-bg-color: $gray-light !default;
$evo-tabs-font-size: 80% !default;
$evo-tabs-padding: rem-calc(3) rem-calc(10) !default;
$evo-tabs-hover-bg-color: $gray-mid !default;
$evo-tabs-border-size: 1px !default;
$evo-tabs-border-style: solid !default;
$evo-tabs-border-bottom: 0 !default;
$evo-tabs-active-bg-color: $white !default;

// Tabs panel variables
$evo-tabs-panel-padding: $evo-base-padding !default;
$evo-tabs-panel-border-size: 1px !default;
$evo-tabs-panel-border-style: solid !default;
$evo-tabs-panel-bg-color: $white !default;


@if $use-tabs == true{

// BASIC TABS - BEGIN
	.evo-tabs			{
		li.tab-title		{
							margin-right: rem-calc(3);
			&:last-child		{margin-right: 0;}
			a					{
								@include border-radius(rem-calc(4) rem-calc(4) 0 0);
								border: 1px solid $gray-mid;
								border-bottom: 0;
								text-decoration: none;
				[class*="evo-icon"]
									{
									display: inline-block;
									vertical-align: middle;
									margin-top: -1px;
									}
								}
							}
		li.active			{
			a					{
								position: relative;
								top: 1px;
								}
							}
						}
// BASIC TABS - END

// BASIC TABS CONTENT - BEGIN
	.evo-tabs-content			{
								@include border-radius(0 rem-calc(4) rem-calc(4) rem-calc(4));
								border: 1px solid $gray-mid;
		>.content					{padding: rem-calc(16) rem-calc(16) 0 rem-calc(16);}
								}
// BASIC TABS CONTENT - END


// GROUPED TABS - BEGIN
	.evo-tabs-grouped	{
		li.tab-title		{
							margin-right: 0;
			a					{
								@include border-radius(0);
								border: 1px solid $gray-mid;
								border-right: 0;
				.evo-text			{display: none;}
								}
			&:first-child		{
				a					{@include border-radius(rem-calc(4) 0 0 rem-calc(4));}
								}
			&:last-child		{
				a					{
									@include border-radius(0 rem-calc(4) rem-calc(4) 0);
									border-right: 1px solid $gray-mid;
									}
								}
							}
		li.active			{
			a					{top: 0;}
							}
						}
// GROUPED TABS - END

// GROUPED TABS CONTENT - BEGIN
	.evo-tabs-grouped-content	{
								border: 0;
		>.content					{padding-left: 0;}
								}
// GROUPED TABS CONTENT - END


// VERTICAL TABS - BEGIN
	.evo-vertical-tabs	{
		li.tab-title		{
							margin-right: 0;
			a					{@include border-radius(0);}
							}
		li:last-child		{
			a					{border-bottom: 1px solid $gray-light;}
							}
		li.active			{
			a					{top: 0;}
							}
						}
// VERTICAL TABS - END

// VERTICAL TABS CONTENT - BEGIN
	.evo-vertical-content			{
									@include border-radius(0);
									border-top: 0;
									}
// VERTICAL TABS CONTENT - END

	//=== MEDIA QUERIES =========================================================================

	// MEDIUM MEDIA QUERY RANGE AND UP - 641px +
	@if $use-medium-up-mediaquery == true {
		
		@media #{$medium-up} {

		// BASIC TABS - BEGIN
			.evo-tabs			{
				li.tab-title		{
					a					{
						&:hover				{
											-webkit-transition: background-color 0.3s ease-in-out;
											-moz-transition: background-color 0.3s ease-in-out;
											-ms-transition: background-color 0.3s ease-in-out;
											-o-transition: background-color 0.3s ease-in-out;
											transition: background-color 0.3s ease-in-out;
											}
										}
									}
				li.active			{
					a					{
										-webkit-transition: background-color 0.5s ease-in-out;
										-moz-transition: background-color 0.5s ease-in-out;
										-ms-transition: background-color 0.5s ease-in-out;
										-o-transition: background-color 0.5s ease-in-out;
										transition: background-color 0.5s ease-in-out;
										}
									}
								}
		// BASIC TABS - END


		// GROUPED TABS - BEGIN
			.evo-tabs-grouped	{
				li.tab-title		{
					a					{
						.evo-text			{display: inline-block;}
										}
									}
								}
		// GROUPED TABS - END


		// VERTICAL TABS - BEGIN
			.evo-vertical		{
								margin-top: 1px;
				li:last-child		{
					a					{margin-bottom: -1px;}
									}
				li.active			{
					a					{border-right: 0;}
									}
								}
		// VERTICAL TABS - END

		// VERTICAL TABS CONTENT - BEGIN
			.evo-vertical-content			{
											border: 1px solid $gray-light;
				>.content						{padding-left: rem-calc(210);}
											}
		// VERTICAL TABS CONTENT - END

		}
		
	}// endif

}//endif