//-------------------------------------------------------------------------------------------
// Mercer Evolution - Core v2.7 - Tiles Partial
// DATE - January 13, 2015
// AUTHOR - Doug Fraize, Matthew Holmes
//-------------------------------------------------------------------------------------------

// @VARS
$evo-tile-scroll-panel-height: 400px !default;
$evo-tile-header-border-top-color: $gray-light !default;
$evo-tile-body-background-color: $white !default;
$evo-tile-body-border-color: $gray-light !default;

@if $use-tiles == true{

	.evo-tile-ctn							{
											@include panel($padding: 14px 0 0 0);
											@include evo-box($box-radius:0,$hdr-bdr-btm-width:0,$box-border-color:$evo-tile-body-border-color);
											position: relative;
		// Custom tile border top color loop, gets color from global color palette
		@each $color-name, $color in $color-palette 
												{
			&[data-palette-color="#{$color-name}"] 	{
				.evo-tile-hdr-stripe					{border-top-color: map-get($color, color);}							
													}
												}
		.evo-tile-hdr-stripe					{
												border-top: 5px solid $evo-tile-header-border-top-color;
												position: absolute;
												top: 0;
												left: 0;
												right: 0;
												}
		.evo-box-hdr							{
												padding-left: rem-calc(13);
												padding-right: rem-calc(10);
												margin-bottom: rem-calc(7);
			[class*="evo-icon-"]					{
													cursor: pointer;
													display: inline-block;
													}
			h1, h2, h3, h4, h5, h6					{margin-bottom: rem-calc(0);}
												}
		.evo-box-bdy							{
												background-color: $evo-tile-body-background-color;
												border-top: 1px solid $evo-tile-body-border-color;
												display: none;
												margin-top: rem-calc(8);
												}
		.evo-scroll-pane						{
												height: $evo-tile-scroll-panel-height;
			.mCSB_container							{padding: $evo-base-padding 0 0 $evo-base-padding;}
												}
											}

	// 
	.evo-title-ctn-expanded					{
		.evo-box-bdy							{display: block;}
											}

	//=== MEDIA QUERIES =========================================================================

	// MEDIUM MEDIA QUERY RANGE AND UP - 641px +
	@if $use-medium-up-mediaquery == true {
		
		@media #{$medium-up} {

			.evo-tile-ctn							{
													@include panel($padding: rem-calc(14) rem-calc(7) rem-calc(7) rem-calc(7));
													@include evo-box($box-radius:0,$hdr-bdr-btm-width:0,$box-border-color:$evo-tile-body-border-color);
				.evo-box-hdr							{
														padding-left: rem-calc(2);
														padding-right: rem-calc(0);
														margin-bottom: rem-calc(7);
					[class*="evo-icon-"]					{display: none;}
														}
				.evo-box-bdy							{
														border: 1px solid $evo-tile-body-border-color;
														display: block;
														}
													}
		}

	}//endif

}//endif