//-------------------------------------------------------------------------------------------
// Mercer Evolution - Core v2.7 - Tooltip Partial
// DATE - January 13, 2015
// AUTHOR - Doug Fraize, Matthew Holmes
//-------------------------------------------------------------------------------------------

@if $use-tooltip == true{
/*
	// EVO Tooltip global
	.evo-tooltip 		{
						@include border-radius($global-radius);
						@include box-shadow($tooltipVShadow, $tooltipHShadow, $tooltipShadowBlur, $tooltipShadowColor);
						border:$tooltipBorderSize $tooltipBorderStyle $tooltipBorderColor;
						background: $tooltipBackgroundColor;
						color: $tooltipFontColor;
						padding: 0;
						font-size: 0;
						line-height: 0;
						position: absolute;
						z-index: $evo-zindex-tooltip;
						pointer-events: none;
						width: auto;
						overflow: visible;
	
		// EVO Tooltip content
		.tooltipster-content
							{
							font-size: 1rem;
							padding: $tooltipPaddingTopBottom $tooltipPaddingLeftRight;
							overflow: hidden;
							}

		// EVO Tooltip arrows - global
		// By default, the arrow will inherit the same colors and border as what is set on the main tooltip itself.
		.tooltipster-arrow 	{
							display: block;
							text-align: center;
							width: 100%;
							height: 100%;
							position: absolute;
							top: 0;
							left: 0;
							z-index: -1;
			span,
			.tooltipster-arrow-border
								{
								display: block;
								width: 0; 
								height: 0;
								position: absolute;
								}
							}
						}

	// EVO Tooltip arrows
	.tooltipster-arrow-top,
	.tooltipster-arrow-top-right,
	.tooltipster-arrow-top-left
						{
		span				{
							border-left: 5px solid transparent !important;
							border-right: 5px solid transparent !important;
							border-top: 5px solid;
							bottom: -6px;
							}
		.tooltipster-arrow-border
							{
							border-left: 6px solid transparent !important;
							border-right: 6px solid transparent !important;
							border-top: 6px solid;
							bottom: -6px;
							}
						}

	.tooltipster-arrow-bottom,
	.tooltipster-arrow-bottom-right,
	.tooltipster-arrow-bottom-left
						{
		span				{
							border-left: 5px solid transparent !important;
							border-right: 5px solid transparent !important;
							border-bottom: 5px solid;
							top: -6px;
							}
		.tooltipster-arrow-border
							{
							border-left: 6px solid transparent !important;
							border-right: 6px solid transparent !important;
							border-bottom: 6px solid;
							top: -6px;
							}
						}

	.tooltipster-arrow-top,
	.tooltipster-arrow-bottom
						{
		span,
		.tooltipster-arrow-border
							{
							left: 0;
							right: 0;
							margin: 0 auto;
							}
						}

	.tooltipster-arrow-top-left,
	.tooltipster-arrow-bottom-left
						{
		span				{
							left: 8px;
							}
		.tooltipster-arrow-border
							{
							left: 7px;
							}
						}

	.tooltipster-arrow-top-right,
	.tooltipster-arrow-bottom-right
						{
		span				{
							right: 8px;
							}
		.tooltipster-arrow-border
							{
							right: 7px;
							}
						}

	.tooltipster-arrow-left
						{
		span,
		.tooltipster-arrow-border
							{
							border-top: 5px solid transparent !important;
							border-bottom: 5px solid transparent !important; 
							border-left: 5px solid;
							top: 50%;
							margin-top: -5px;
							right: -6px;
							}
		.tooltipster-arrow-border
							{
							border-top: 6px solid transparent !important;
							border-bottom: 6px solid transparent !important; 
							border-left: 6px solid;
							margin-top: -6px;
							}
						}

	.tooltipster-arrow-right
						{
		span,				
		.tooltipster-arrow-border
							{
							border-top: 5px solid transparent !important;
							border-bottom: 5px solid transparent !important; 
							border-right: 5px solid;
							top: 50%;
							margin-top: -5px;
							left: -6px;
							}
		.tooltipster-arrow-border
							{
							border-top: 6px solid transparent !important;
							border-bottom: 6px solid transparent !important; 
							border-right: 6px solid;
							margin-top: -6px;
							}
						}

	// EVO Tooltip icon
	.evo-tooltip-icon 	{
						cursor: help;
						margin-left: 4px;
						}

	// EVO Tooltip Animations

	// Fade animation
	.tooltipster-fade 	{
						opacity: 0;
						-webkit-transition-property: opacity;
						-moz-transition-property: opacity;
						-o-transition-property: opacity;
						-ms-transition-property: opacity;
						transition-property: opacity;
						}

	.tooltipster-fade-show
						{
						opacity: 1;
						}

	// Grow animation
	.tooltipster-grow 	{
						-webkit-transform: scale(0,0);
						-moz-transform: scale(0,0);
						-o-transform: scale(0,0);
						-ms-transform: scale(0,0);
						transform: scale(0,0);
						-webkit-transition-property: -webkit-transform;
						-moz-transition-property: -moz-transform;
						-o-transition-property: -o-transform;
						-ms-transition-property: -ms-transform;
						transition-property: transform;
						@include backface-visibility(hidden);
						}

	.tooltipster-grow-show
						{
						-webkit-transform: scale(1,1);
						-moz-transform: scale(1,1);
						-o-transform: scale(1,1);
						-ms-transform: scale(1,1);
						transform: scale(1,1);
						-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
						-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
						-moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
						-ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
						-o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
						transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
						}

	// Swing animation
	.tooltipster-swing 	{
						opacity: 0;
						-webkit-transform: rotateZ(4deg);
						-moz-transform: rotateZ(4deg);
						-o-transform: rotateZ(4deg);
						-ms-transform: rotateZ(4deg);
						transform: rotateZ(4deg);
						-webkit-transition-property: -webkit-transform, opacity;
						-moz-transition-property: -moz-transform;
						-o-transition-property: -o-transform;
						-ms-transition-property: -ms-transform;
						transition-property: transform;
						}

	.tooltipster-swing-show
						{
						opacity: 1;
						-webkit-transform: rotateZ(0deg);
						-moz-transform: rotateZ(0deg);
						-o-transform: rotateZ(0deg);
						-ms-transform: rotateZ(0deg);
						transform: rotateZ(0deg);
						-webkit-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 1);
						-webkit-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4); 
						-moz-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4); 
						-ms-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4); 
						-o-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4); 
						transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4);
						}

	// Fall animation
	.tooltipster-fall 	{
						top: 0;
						-webkit-transition-property: top;
						-moz-transition-property: top;
						-o-transition-property: top;
						-ms-transition-property: top;
						transition-property: top;
						-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
						-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
						-moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
						-ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
						-o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
						transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
						}

	.tooltipster-fall-show
						{
						}

	.tooltipster-fall.tooltipster-dying
						{
						-webkit-transition-property: all;
						-moz-transition-property: all;
						-o-transition-property: all;
						-ms-transition-property: all;
						transition-property: all;
						top: 0px !important;
						opacity: 0;
						}

	// Slide animation
	.tooltipster-slide 	{
						left: -40px;
						-webkit-transition-property: left;
						-moz-transition-property: left;
						-o-transition-property: left;
						-ms-transition-property: left;
						transition-property: left;
						-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
						-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
						-moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
						-ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
						-o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
						transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
						}

	.tooltipster-slide.tooltipster-slide-show
						{
						}

	.tooltipster-slide.tooltipster-dying
						{
						-webkit-transition-property: all;
						-moz-transition-property: all;
						-o-transition-property: all;
						-ms-transition-property: all;
						transition-property: all;
						left: 0px !important;
						opacity: 0;
						}

	// EVO Tooltip content changing
	// CSS transition for when contenting is changing in a tooltip that is still open. The only properties that will NOT transition are: width, height, top, and left
	.tooltipster-content-changing
						{
						opacity: 0.5;
						-webkit-transform: scale(1.1, 1.1);
						-moz-transform: scale(1.1, 1.1);
						-o-transform: scale(1.1, 1.1);
						-ms-transform: scale(1.1, 1.1);
						transform: scale(1.1, 1.1);
						}
*/
	//=== MEDIA QUERIES =========================================================================

	// MEDIUM MEDIA QUERY RANGE AND UP - 641px +
	@if $use-medium-up-mediaquery == true {
		
		@media #{$medium-up} {
/*
			// EVO Tooltip global
			.evo-tooltip
						{
			
				// EVO Tooltip content
				.tooltipster-content
							{
							font-size: 1rem;
							}
						}
*/
		}
		
	}// endif

}//endif