<section class="row evo-site-hero-ctn evo-site-comm-hero-ctn">
	<div class="large-12 columns">

		<section class="row">
			<div class="large-10 large-centered text-center columns">
				<h1 class="evo-site-hero-text">{{ model.title }}</h1>
			</div>
		</section>
		
	</div>
</section>