<!-- FORM STACKED - BEGINS -->
<form class="mul-form" id="" name="" method="" action="" title="">
	<fieldset>
		<ol>
			<li>
				<label class="mul-required" for=""><i class="mul-icon-mul-asterisk-small mul-icon-color-gray-darker mul-icon-position-left"></i>Basic Text Input:</label>
				<input class="" id="" name="" value="" type="text" tabindex="" title="" />
			</li>
			<li>
				<label class="mul-required" for=""><i class="mul-icon-mul-asterisk-small mul-icon-color-gray-darker mul-icon-position-left"></i>Label:</label>
				<select id="" tabindex="" title="">
					<option selected="selected" value="Select an item">choose one&hellip;</option>
					<option value="">One</option>
					<option value="">Two</option>
					<option value="">Three</option>
				</select>
			</li>
			<li>
				<label class="mul-required"><i class="mul-icon-mul-asterisk-small mul-icon-color-gray-darker mul-icon-position-left"></i>Label Posed as a Question?</label>
				<div class="mul-radio">
					<label for="question1" class="mul-form-inline-element">
						<input id="question1" name="question" value="" type="radio" tabindex="" title="" /> Yes
					</label>

					<label for="question2" class="mul-form-inline-element">
						<input id="question2" name="question" value="" type="radio" tabindex="" title="" /> No
					</label>
				</div>
			</li>
			<li>
				<label class="mul-required"><i class="mul-icon-mul-asterisk-small mul-icon-color-gray-darker mul-icon-position-left"></i>Year of Original Appointment:</label>
				<div class="mul-checkbox">
					<label for="2009" class="mul-form-inline-element">
						<input id="2009" name="" value="" type="checkbox" tabindex="" title="" /> 2009
					</label>

					<label for="2010" class="mul-form-inline-element">
						<input id="2010" name="" value="" type="checkbox" tabindex="" title="" /> 2010
					</label>

					<label for="2011" class="mul-form-inline-element">
						<input id="2011" name="" value="" type="checkbox" tabindex="" title="" /> 2011
					</label>

					<label for="2012" class="mul-form-inline-element">
						<input id="2012" name="" value="" type="checkbox" tabindex="" title="" /> 2012
					</label>
				</div>
			</li>
			<li>
				<label class="mul-required" for=""><i class="mul-icon-mul-asterisk-small mul-icon-color-gray-darker mul-icon-position-left"></i>Comments:</label>
				<textarea id="" name="" tabindex="" title=""></textarea>
			</li>
			<li>
				<label class="mul-required" for="js-mul-datepicker-range-stacked-labels-from">
					<i class="mul-icon-mul-asterisk-small mul-icon-color-gray-darker mul-icon-position-left"></i>Label:
				</label>
				{% include '/objects/date-range' %}
				<small class="mul-info">This is form info text.</small>
			</li>
			<li class="mul-form-action">
				<button class="mul-btn mul-btn-medium mul-btn-first" id="" name="" value="" type="button" tabindex="" title="Cancel">Cancel</button>
				<button class="mul-btn mul-btn-medium mul-btn-primary" id="" name="" value="" type="button" tabindex="" title="Save">Save</button>
			</li>
		</ol>
	</fieldset>
</form>
<!-- FORM STACKED - ENDS -->