<li>
	<label class="col-8 first" for="">Label:</label>
	<select class="col-16" id="" tabindex="" title="">
		<option selected="selected" value="Select an item">choose one...</option>
		<option value="">One</option>
		<option value="">Two</option>
		<option value="">Three</option>
	</select>
</li>