<li>
	<label>Label Question?</label>
	<div class="mul-radio">
		<label for="question1a" class="mul-form-inline-element">
			<input id="question1a" name="question1" value="" type="radio" tabindex="" title="" /> Yes
		</label>
		<label for="question1b" class="mul-form-inline-element">
			<input id="question1b" name="question1" value="" type="radio" tabindex="" title="" /> No
		</label>
	</div>
</li>