<!-- FORM COMPACT - BEGINS -->
<form class="mul-form col-8 first" id="" name="" method="" action="" title="">
	<fieldset>
		<ol>
			<li>
				<input id="" name="" value="" type="text" tabindex="" title="" placeholder="Username" />
			</li>
			<li>
				<input id="" name="" value="" type="password" tabindex="" title="" placeholder="Password" />
			</li>
			<li class="mul-form-action">
				<button class="mul-btn mul-btn-medium mul-btn-first" id="" name="" value="" type="button" tabindex="" title="Cancel">Cancel</button>
				<button class="mul-btn mul-btn-medium mul-btn-primary" id="" name="" value="" type="button" tabindex="" title="Save">Save</button>
			</li>
		</ol>
	</fieldset>
</form>
<!-- FORM COMPACT - ENDS -->