<form class="mul-form mul-form-inline mul-selected-checkbox js-mul-selected-checkbox" id="" name="" method="" action="" title="">
	<fieldset>
		<ol>
			<li>
				<label class="mul-checkbox-label">Add Countries:</label>
				<div class="mul-checkbox">
					<label class="col-4 first" for="Afghanistan1">
						<input id="Afghanistan1" name="" value="" type="checkbox" tabindex="" title="" /> Afghanistan
					</label>

					<label class="col-4 first" for="Albania1">
						<input id="Albania1" name="" value="" type="checkbox" tabindex="" title="" /> Albania
					</label>

					<label class="col-4 first" for="Algeria1">
						<input id="Algeria1" name="" value="" type="checkbox" tabindex="" title="" /> Algeria
					</label>

					<label class="col-4 first" for="Angola1">
						<input id="Angola1" name="" value="" type="checkbox" tabindex="" title="" /> Angola
					</label>

					<label class="col-4 first" for="Armenia1">
						<input id="Armenia1" name="" value="" type="checkbox" tabindex="" title="" /> Armenia
					</label>

					<label class="col-4 first" for="Aruba1">
						<input id="Aruba1" name="" value="" type="checkbox" tabindex="" title="" /> Aruba
					</label>

					<label class="col-4 first" for="Argentina1">
						<input id="Argentina1" name="" value="" type="checkbox" tabindex="" title="" /> Argentina
					</label>

					<label class="col-4 first" for="Australia1">
						<input id="Australia1" name="" value="" type="checkbox" tabindex="" title="" /> Australia
					</label>
				</div>
			</li>
		</ol>
	</fieldset>
</form>