<form class="mul-form mul-selected-checkbox js-mul-selected-checkbox" id="" name="" method="" action="" title="">
	<fieldset>
		<ol>
			<li>
				<label class="mul-checkbox-label">Add Countries:</label>
				<div class="col-12 first mul-checkbox">
					<label for="Afghanistan">
						<input id="Afghanistan" name="" value="" type="checkbox" tabindex="" title="" /> Afghanistan
					</label>
					<label for="Albania">
						<input id="Albania" name="" value="" type="checkbox" tabindex="" title="" /> Albania
					</label>
					<label for="Algeria">
						<input id="Algeria" name="" value="" type="checkbox" tabindex="" title="" /> Algeria
					</label>
					<label for="Angola">
						<input id="Angola" name="" value="" type="checkbox" tabindex="" title="" /> Angola
					</label>
				</div>

				<div class="col-12 mul-checkbox">
					<label for="Armenia">
						<input id="Armenia" name="" value="" type="checkbox" tabindex="" title="" /> Armenia
					</label>
					<label for="Aruba">
						<input id="Aruba" name="" value="" type="checkbox" tabindex="" title="" /> Aruba
					</label>
					<label for="Argentina">
						<input id="Argentina" name="" value="" type="checkbox" tabindex="" title="" /> Argentina
					</label>
					<label for="Australia">
						<input id="Australia" name="" value="" type="checkbox" tabindex="" title="" /> Australia
					</label>
				</div>
			</li>
		</ol>
	</fieldset>
</form>