<!-- FORM STACKED - BEGINS
<form class="evo-form" id="" name="" method="" action="" title="">
	<fieldset>
		<ol>
			<li>
				<label class="evo-required" for=""><i class="evo-icon-evo-asterisk-small evo-icon-color-gray-darker evo-icon-position-left"></i>Basic Text Input:</label>
				<input class="" id="" name="" value="" type="text" tabindex="" title="" />
			</li>
			<li>
				<label class="evo-required" for=""><i class="evo-icon-evo-asterisk-small evo-icon-color-gray-darker evo-icon-position-left"></i>Label:</label>
				<select id="" tabindex="" title="">
					<option selected="selected" value="Select an item">choose one&hellip;</option>
					<option value="">One</option>
					<option value="">Two</option>
					<option value="">Three</option>
				</select>
			</li>
			<li>
				<label class="evo-required"><i class="evo-icon-evo-asterisk-small evo-icon-color-gray-darker evo-icon-position-left"></i>Label Posed as a Question?</label>
				<div class="evo-radio">
					<label for="question1" class="evo-form-inline-element">
						<input id="question1" name="question" value="" type="radio" tabindex="" title="" /> Yes
					</label>

					<label for="question2" class="evo-form-inline-element">
						<input id="question2" name="question" value="" type="radio" tabindex="" title="" /> No
					</label>
				</div>
			</li>
			<li>
				<label class="evo-required"><i class="evo-icon-evo-asterisk-small evo-icon-color-gray-darker evo-icon-position-left"></i>Year of Original Appointment:</label>
				<div class="evo-checkbox">
					<label for="2009" class="evo-form-inline-element">
						<input id="2009" name="" value="" type="checkbox" tabindex="" title="" /> 2009
					</label>

					<label for="2010" class="evo-form-inline-element">
						<input id="2010" name="" value="" type="checkbox" tabindex="" title="" /> 2010
					</label>

					<label for="2011" class="evo-form-inline-element">
						<input id="2011" name="" value="" type="checkbox" tabindex="" title="" /> 2011
					</label>

					<label for="2012" class="evo-form-inline-element">
						<input id="2012" name="" value="" type="checkbox" tabindex="" title="" /> 2012
					</label>
				</div>
			</li>
			<li>
				<label class="evo-required" for=""><i class="evo-icon-evo-asterisk-small evo-icon-color-gray-darker evo-icon-position-left"></i>Comments:</label>
				<textarea id="" name="" tabindex="" title=""></textarea>
			</li>
			<li>
				<label class="evo-required" for="js-evo-datepicker-range-stacked-labels-from">
					<i class="evo-icon-evo-asterisk-small evo-icon-color-gray-darker evo-icon-position-left"></i>Label:
				</label>
				{% include '/objects/date-range' %}
				<small class="evo-info">This is form info text.</small>
			</li>
			<li class="evo-form-action">
				<button class="evo-btn evo-btn-medium evo-btn-first" id="" name="" value="" type="button" tabindex="" title="Cancel">Cancel</button>
				<button class="evo-btn evo-btn-medium evo-btn-primary" id="" name="" value="" type="button" tabindex="" title="Save">Save</button>
			</li>
		</ol>
	</fieldset>
</form>

<br><br>
<hr>
<br><br>
FORM STACKED - ENDS -->

<form data-abide="">
	<fieldset>
		<legend>Stacked Form (default)</legend>
		<div class="row">
			<div class="large-8 columns">
				<label for="password">
					<i class="evo-icon-evo-asterisk-small"></i>
					Input Label
					<input type="password" id="password" placeholder="Placeholder text" name="password" required="">
				</label>
				<small class="error">
					Passwords must be at least 8 characters with 1 capital letter, 1 number, and one special character.
				</small>
			</div>
		</div>

		<div class="row">
			<div class="large-4 columns">
				<div class="row collapse">
					<label>Input Label</label>
					<div class="small-9 columns">
						<input type="text" placeholder="Placeholder text" />
					</div>
					<div class="small-3 columns">
						<span class="postfix">.com</span>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="large-8 columns">
				<label>
					Select Box
					<select>
						<option value="default">Choose one&#8230;</option>
						<option value="husker">Star Lord</option>
						<option value="starbuck">Groot</option>
						<option value="hotdog">Rocket Raccoon</option>
						<option value="apollo">Gamora</option>
					</select>
				</label>
			</div>
		</div>

		<div class="row">
			<div class="large-6 columns">
				<label>Choose Your Favorite</label>
				<input type="radio" name="pokemon" value="Red" id="pokemonRed">
				<label for="pokemonRed">Red</label>
				<input type="radio" name="pokemon" value="Blue" id="pokemonBlue">
				<label for="pokemonBlue">Blue</label>
			</div>
		</div>

		<div class="row">
			<div class="large-6 columns">
				<label>Check these out</label>
				<input id="checkbox1" type="checkbox">
				<label for="checkbox1">Checkbox 1</label>
				<input id="checkbox2" type="checkbox">
				<label for="checkbox2">Checkbox 2</label>
			</div>
		</div>

		<div class="row">
			<div class="large-8 columns">
				<label>
					Textarea Label
					<textarea placeholder="Placeholder text"></textarea>
				</label>
			</div>
		</div>
	</fieldset>
</form>
<!--
<form data-abide="">
	<fieldset>
		<legend>Form w/Validation</legend>

		<div class="row">
			<div class="large-8 columns">
				<label for="password">
					Password
					<small>required</small>
					<input type="password" id="password" placeholder="Placeholder text" name="password" required="">
				</label>
				<small class="error">
					Passwords must be at least 8 characters with 1 capital letter, 1 number, and one special character.
				</small>
			</div>
		</div>
		<div class="row">
			<div class="large-8 columns">
				<label for="confirmPassword">
					Confirm Password
					<small>required</small>
					<input type="password" id="confirmPassword" placeholder="Placeholder text" name="confirmPassword" required="" data-equalto="password">
				</label>
				<small class="error">Passwords must match.</small>
			</div>
		</div>

		<div class="row">
			<div class="large-4 columns">
				<label for="email">
					Email
					<input type="email" id="email" placeholder="foundation@zurb.com"></label>
				<small class="error">Valid email required.</small>
			</div>
			<div class="large-4 columns">
				<label for="url">
					URL
					<small>required</small>
					<input type="url" id="url" placeholder="http://zurb.com" required=""></label>
				<small class="error">Valid URL required.</small>
			</div>
			<div class="large-4 columns">
				<div class="row">
					<label for="customDropdown1">
						Hardest to find in grocery
						<small>required</small>
						<select id="customDropdown1" class="medium" required="" aria-invalid="true" data-invalid="">
							<option value="">Select grocery item</option>
							<option value="first">Green Chilies</option>
							<option value="second">Raisins</option>
							<option value="third">Panko bread crumbs</option>
							<option value="fourth">Assistance</option>
						</select>
					</label>
					<small class="error">Broke.</small>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="large-12 columns">
				<hr></div>
		</div>

		<div class="row">
			<div class="large-6 columns">
				<label for="radio1">
					<input name="radioButtons" type="radio" id="radio1" required="">Radio Button 1</label>
				<label for="radio2">
					<input name="radioButtons" type="radio" id="radio2" required="">Radio Button 2</label>
				<label for="radio3">
					<input name="radioButtons" type="radio" id="radio3" required="">Radio Button 3</label>
			</div>
			<div class="large-6 columns">
				<label for="checkbox1">
					<input type="checkbox" id="checkbox1" required="">Label for Checkbox</label>
				<label for="checkbox2">
					<input type="checkbox" id="checkbox2" checked="" required="">Label for Checkbox</label>
				<label for="checkbox3">
					<input type="checkbox" checked="" id="checkbox3" required="">Label for Checkbox</label>
			</div>
		</div>

		<div class="row">
			<div class="large-12 columns">
				<hr></div>
		</div>

		<div class="row">
			<div class="large-12 columns">
				<label for="remarks">Closing Remarks</label>
				<textarea id="remarks" name="remarks" placeholder="Leave your remarks here."></textarea>
			</div>
		</div>

		<div class="row">
			<div class="large-12 columns">
				<button type="submit" class="medium button green">Submit</button>
			</div>
		</div>

	</fieldset>
</form>
-->
<br><br>
<hr>
<br><br>

<form>
	<fieldset>
		<legend>Stacked Form (default)</legend>
		<div class="row">
			<div class="large-8 columns">
				<label>
					Input Label
					<input type="text" placeholder="Placeholder text" />
				</label>
			</div>
		</div>

		<div class="row">
			<div class="large-4 columns">
				<div class="row collapse">
					<label>Input Label</label>
					<div class="small-9 columns">
						<input type="text" placeholder="Placeholder text" />
					</div>
					<div class="small-3 columns">
						<span class="postfix">.com</span>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="large-8 columns">
				<label>
					Select Box
					<select>
						<option value="default">Choose one&#8230;</option>
						<option value="husker">Star Lord</option>
						<option value="starbuck">Groot</option>
						<option value="hotdog">Rocket Raccoon</option>
						<option value="apollo">Gamora</option>
					</select>
				</label>
			</div>
		</div>

		<div class="row">
			<div class="large-6 columns">
				<label>Choose Your Favorite</label>
				<input type="radio" name="pokemon" value="Red" id="pokemonRed">
				<label for="pokemonRed">Red</label>
				<input type="radio" name="pokemon" value="Blue" id="pokemonBlue">
				<label for="pokemonBlue">Blue</label>
			</div>
		</div>

		<div class="row">
			<div class="large-6 columns">
				<label>Check these out</label>
				<input id="checkbox1" type="checkbox">
				<label for="checkbox1">Checkbox 1</label>
				<input id="checkbox2" type="checkbox">
				<label for="checkbox2">Checkbox 2</label>
			</div>
		</div>

		<div class="row">
			<div class="large-8 columns">
				<label>
					Textarea Label
					<textarea placeholder="Placeholder text"></textarea>
				</label>
			</div>
		</div>
	</fieldset>
</form>

<br><br>
<hr>
<br><br>

<form>
	<fieldset>
		<legend>Inline Form</legend>
		<div class="row">
			<div class="large-8 columns">
				<div class="row">
					<div class="large-4 columns">
						<label class="inline">Input Label</label>
					</div>
					<div class="large-8 columns">
						<input type="text" placeholder="Placeholder text" />
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="large-8 columns">
				<div class="row">
					<div class="large-4 columns">
						<label class="inline">Input Label</label>
					</div>
					<div class="large-8 columns">				
						<div class="row collapse">
							<div class="small-9 columns">
								<input type="text" placeholder="Placeholder text" />
							</div>
							<div class="small-3 columns">
								<span class="postfix">.com</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="large-8 columns">
				<div class="row">
					<div class="large-4 columns">
						<label class="inline">Select Box</label>
					</div>
					<div class="large-8 columns">
						<select>
							<option value="default">Choose one&#8230;</option>
							<option value="husker">Star Lord</option>
							<option value="starbuck">Groot</option>
							<option value="hotdog">Rocket Raccoon</option>
							<option value="apollo">Gamora</option>
						</select>						
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="large-8 columns">
				<div class="row">
					<div class="large-4 columns">
						<label>Choose Your Favorite</label>
					</div>
					<div class="large-8 columns">
						<input type="radio" name="pokemon" value="Red" id="pokemonRed">
						<label for="pokemonRed">Red</label>
						<input type="radio" name="pokemon" value="Blue" id="pokemonBlue">
						<label for="pokemonBlue">Blue</label>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="large-8 columns">
				<div class="row">
					<div class="large-4 columns">
						<label>Check these out</label>
					</div>
					<div class="large-8 columns">				
						<input id="checkbox1" type="checkbox">
						<label for="checkbox1">Checkbox 1</label>
						<input id="checkbox2" type="checkbox">
						<label for="checkbox2">Checkbox 2</label>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="large-8 columns">
				<div class="row">
					<div class="large-4 columns">
						<label>Textarea Label</label>
					</div>
					<div class="large-8 columns">
						<textarea placeholder="Placeholder text"></textarea>	
					</div>
				</div>
			</div>
		</div>
	</fieldset>
</form>

<br><br>
<hr>
<br><br>

<form>
	<fieldset>
		<legend>Inline Form (labels right aligned)</legend>
		<div class="row">
			<div class="large-8 columns">
				<div class="row">
					<div class="large-4 columns">
						<label class="inline right">Input Label</label>
					</div>
					<div class="large-8 columns">
						<input type="text" placeholder="Placeholder text" />
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="large-8 columns">
				<div class="row">
					<div class="large-4 columns">
						<label class="inline right">Input Label</label>
					</div>
					<div class="large-8 columns">				
						<div class="row collapse">
							<div class="small-9 columns">
								<input type="text" placeholder="Placeholder text" />
							</div>
							<div class="small-3 columns">
								<span class="postfix">.com</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="large-8 columns">
				<div class="row">
					<div class="large-4 columns">
						<label class="inline right">Select Box</label>
					</div>
					<div class="large-8 columns">
						<select>
							<option value="default">Choose one&#8230;</option>
							<option value="husker">Star Lord</option>
							<option value="starbuck">Groot</option>
							<option value="hotdog">Rocket Raccoon</option>
							<option value="apollo">Gamora</option>
						</select>						
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="large-8 columns">
				<div class="row">
					<div class="large-4 columns">
						<label class="right">Choose Your Favorite</label>
					</div>
					<div class="large-8 columns">
						<input type="radio" name="pokemon" value="Red" id="pokemonRed">
						<label for="pokemonRed">Red</label>
						<input type="radio" name="pokemon" value="Blue" id="pokemonBlue">
						<label for="pokemonBlue">Blue</label>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="large-8 columns">
				<div class="row">
					<div class="large-4 columns">
						<label class="right">Check these out</label>
					</div>
					<div class="large-8 columns">				
						<input id="checkbox1" type="checkbox">
						<label for="checkbox1">Checkbox 1</label>
						<input id="checkbox2" type="checkbox">
						<label for="checkbox2">Checkbox 2</label>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="large-8 columns">
				<div class="row">
					<div class="large-4 columns">
						<label class="right">Textarea Label</label>
					</div>
					<div class="large-8 columns">
						<textarea placeholder="Placeholder text"></textarea>	
					</div>
				</div>
			</div>
		</div>
	</fieldset>
</form>