<!-- FORM STACKED - BEGINS -->
<form class="evo-form" id="" name="" method="" action="" title="">
	<fieldset>
		<ol>
			<li>
				<label class="evo-required" for=""><i class="evo-icon-evo-asterisk-small evo-icon-color-gray-darker evo-icon-position-left"></i>Basic Text Input:</label>
				<input class="" id="" name="" value="" type="text" tabindex="" title="" />
			</li>
			<li>
				<label class="evo-required" for=""><i class="evo-icon-evo-asterisk-small evo-icon-color-gray-darker evo-icon-position-left"></i>Label:</label>
				<select id="" tabindex="" title="">
					<option selected="selected" value="Select an item">choose one&hellip;</option>
					<option value="">One</option>
					<option value="">Two</option>
					<option value="">Three</option>
				</select>
			</li>
			<li>
				<label class="evo-required"><i class="evo-icon-evo-asterisk-small evo-icon-color-gray-darker evo-icon-position-left"></i>Label Posed as a Question?</label>
				<div class="evo-radio">
					<label for="question1" class="evo-form-inline-element">
						<input id="question1" name="question" value="" type="radio" tabindex="" title="" /> Yes
					</label>

					<label for="question2" class="evo-form-inline-element">
						<input id="question2" name="question" value="" type="radio" tabindex="" title="" /> No
					</label>
				</div>
			</li>
			<li>
				<label class="evo-required"><i class="evo-icon-evo-asterisk-small evo-icon-color-gray-darker evo-icon-position-left"></i>Year of Original Appointment:</label>
				<div class="evo-checkbox">
					<label for="2009" class="evo-form-inline-element">
						<input id="2009" name="" value="" type="checkbox" tabindex="" title="" /> 2009
					</label>

					<label for="2010" class="evo-form-inline-element">
						<input id="2010" name="" value="" type="checkbox" tabindex="" title="" /> 2010
					</label>

					<label for="2011" class="evo-form-inline-element">
						<input id="2011" name="" value="" type="checkbox" tabindex="" title="" /> 2011
					</label>

					<label for="2012" class="evo-form-inline-element">
						<input id="2012" name="" value="" type="checkbox" tabindex="" title="" /> 2012
					</label>
				</div>
			</li>
			<li>
				<label class="evo-required" for=""><i class="evo-icon-evo-asterisk-small evo-icon-color-gray-darker evo-icon-position-left"></i>Comments:</label>
				<textarea id="" name="" tabindex="" title=""></textarea>
			</li>
			<li>
				<label class="evo-required" for="js-evo-datepicker-range-stacked-labels-from">
					<i class="evo-icon-evo-asterisk-small evo-icon-color-gray-darker evo-icon-position-left"></i>Label:
				</label>
				{% include '/objects/date-range' %}
				<small class="evo-info">This is form info text.</small>
			</li>
			<li class="evo-form-action">
				<button class="evo-btn evo-btn-medium evo-btn-first" id="" name="" value="" type="button" tabindex="" title="Cancel">Cancel</button>
				<button class="evo-btn evo-btn-medium evo-btn-primary" id="" name="" value="" type="button" tabindex="" title="Save">Save</button>
			</li>
		</ol>
	</fieldset>
</form>
<!-- FORM STACKED - ENDS -->

<br><br>
<hr>
<br><br>

<form>
	<fieldset>
		<legend>Foundation Form Sample</legend>
		<div class="row">
			<div class="large-12 columns">
				<label>
					Input Label
					<input type="text" placeholder="large-12.columns" />
				</label>
			</div>
		</div>

		<div class="row">
			<div class="large-4 columns">
				<label>
					Input Label
					<input type="text" placeholder="large-4.columns" />
				</label>
			</div>
			<div class="large-4 columns">
				<label>
					Input Label
					<input type="text" placeholder="large-4.columns" />
				</label>
			</div>
			<div class="large-4 columns">
				<div class="row collapse">
					<label>Input Label</label>
					<div class="small-9 columns">
						<input type="text" placeholder="small-9.columns" />
					</div>
					<div class="small-3 columns">
						<span class="postfix">.com</span>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="large-12 columns">
				<label>
					Select Box
					<select>
						<option value="husker">Husker</option>
						<option value="starbuck">Starbuck</option>
						<option value="hotdog">Hot Dog</option>
						<option value="apollo">Apollo</option>
					</select>
				</label>
			</div>
		</div>

		<div class="row">
			<div class="large-6 columns">
				<label>Choose Your Favorite</label>
				<input type="radio" name="pokemon" value="Red" id="pokemonRed">
				<label for="pokemonRed">Red</label>
				<input type="radio" name="pokemon" value="Blue" id="pokemonBlue">
				<label for="pokemonBlue">Blue</label>
			</div>
			<div class="large-6 columns">
				<label>Check these out</label>
				<input id="checkbox1" type="checkbox">
				<label for="checkbox1">Checkbox 1</label>
				<input id="checkbox2" type="checkbox">
				<label for="checkbox2">Checkbox 2</label>
			</div>
		</div>

		<div class="row">
			<div class="large-12 columns">
				<label>
					Textarea Label
					<textarea placeholder="small-12.columns"></textarea>
				</label>
			</div>
		</div>
	</fieldset>
</form>

<br><br>
<hr>
<br><br>

<form>
	<fieldset>
		<legend>Foundation Form Sample</legend>
		<div class="row">
			<div class="large-12 columns">
				<label class="error">
					Input Label
					<input type="text" placeholder="large-12.columns" />
				</label>
				<small class="error">Invalid entry</small>
			</div>
		</div>

		<div class="row">
			<div class="large-4 columns">
				<label class="error">
					Input Label
					<input type="text" placeholder="large-4.columns" />
				</label>
			</div>
			<div class="large-4 columns">
				<label class="error">
					Input Label
					<input type="text" placeholder="large-4.columns" />
				</label>
			</div>
			<div class="large-4 columns">
				<div class="row collapse">
					<label class="error">Input Label</label>
					<div class="small-9 columns">
						<input type="text" placeholder="small-9.columns" />
					</div>
					<div class="small-3 columns">
						<span class="postfix">.com</span>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="large-12 columns">
				<label class="error">
					Select Box
					<select>
						<option value="husker">Husker</option>
						<option value="starbuck">Starbuck</option>
						<option value="hotdog">Hot Dog</option>
						<option value="apollo">Apollo</option>
					</select>
				</label>
			</div>
		</div>

		<div class="row">
			<div class="large-6 columns">
				<label class="error">Choose Your Favorite</label>
				<input type="radio" name="pokemon" value="Red" id="pokemonRed">
				<label for="pokemonRed">Red</label>
				<input type="radio" name="pokemon" value="Blue" id="pokemonBlue">
				<label for="pokemonBlue">Blue</label>
			</div>
			<div class="large-6 columns">
				<label class="error">Check these out</label>
				<input id="checkbox1" type="checkbox">
				<label for="checkbox1">Checkbox 1</label>
				<input id="checkbox2" type="checkbox">
				<label for="checkbox2">Checkbox 2</label>
			</div>
		</div>

		<div class="row">
			<div class="large-12 columns">
				<label class="error">
					Textarea Label
					<textarea placeholder="small-12.columns"></textarea>
				</label>
			</div>
		</div>
	</fieldset>
</form>