<li>
	<label class="col-7 first">Year of Appointment:</label>
	<div class="col-17 evo-checkbox">
		<label for="2009-inline" class="evo-form-inline-element">
			<input id="2009-inline" name="" value="" type="checkbox" tabindex="" title="" /> 2009
		</label>
		<label for="2010-inline" class="evo-form-inline-element">
			<input id="2010-inline" name="" value="" type="checkbox" tabindex="" title="" /> 2010
		</label>
		<label for="2011-inline" class="evo-form-inline-element">
			<input id="2011-inline" name="" value="" type="checkbox" tabindex="" title="" /> 2011
		</label>
		<label for="2012-inline" class="evo-form-inline-element">
			<input id="2012-inline" name="" value="" type="checkbox" tabindex="" title="" /> 2012
		</label>
	</div>
</li>