<!-- STACKED FORM - BEGINS -->
<form class="evo-form" id="" name="" method="" action="" title="">
	<fieldset>
		<ol>
			<li class="evo-error">
				<label for="">Basic Text Input:</label>
				<input id="" name="" value="" type="text" tabindex="" title="" />
				<small class="evo-info">This is form error text.</small>
			</li>
			<li class="evo-error">
				<label class="evo-required" for=""><i class="evo-icon-evo-asterisk-small evo-icon-color-gray-darker evo-icon-position-left"></i>Label:</label>
				<select id="" tabindex="" title="">
					<option selected="selected" value="Select an item">choose one&hellip;</option>
					<option value="">One</option>
					<option value="">Two</option>
					<option value="">Three</option>
				</select>
				<small class="evo-info">This is form error text.</small>
			</li>
			<li class="evo-error">
				<label class="evo-required evo-radio-label"><i class="evo-icon-evo-asterisk-small evo-icon-color-gray-darker evo-icon-position-left"></i>Label Posed as a Question?</label>
				<div class="evo-radio">
					<label for="question1" class="evo-form-inline-element">
						<input id="question1" name="question" value="" type="radio" tabindex="" title="" /> Yes
					</label>
					<label for="question2" class="evo-form-inline-element">
						<input id="question2" name="question" value="" type="radio" tabindex="" title="" /> No
					</label>
				</div>
				<small class="evo-info">This is form error text.</small>
			</li>
			<li class="evo-error">
				<label class="evo-checkbox-label evo-required"><i class="evo-icon-evo-asterisk-small evo-icon-color-gray-darker evo-icon-position-left"></i>Year of Original Appointment:</label>
				<div class="evo-checkbox">
					<label for="2009" class="evo-form-inline-element">
						<input id="2009" name="" value="" type="checkbox" tabindex="" title="" /> 2009
					</label>
					<label for="2010" class="evo-form-inline-element">
						<input id="2010" name="" value="" type="checkbox" tabindex="" title="" /> 2010
					</label>
					<label for="2011" class="evo-form-inline-element">
						<input id="2011" name="" value="" type="checkbox" tabindex="" title="" /> 2011
					</label>
					<label for="2012" class="evo-form-inline-element">
						<input id="2012" name="" value="" type="checkbox" tabindex="" title="" /> 2012
					</label>
				</div>
				<small class="evo-info">This is form error text.</small>
			</li>
			<li class="evo-error">
				<label class="evo-required" for=""><i class="evo-icon-evo-asterisk-small evo-icon-color-gray-darker evo-icon-position-left"></i>Comments:</label>
				<textarea id="" name="" tabindex="" title=""></textarea>
				<small class="evo-info">This is form error text.</small>
			</li>
			<li class="evo-error">
				<label class="evo-required" for="js-evo-datepicker-range-stacked-from">
					<i class="evo-icon-evo-asterisk-small evo-icon-color-gray-darker evo-icon-position-left"></i>Label:
				</label>
				<div class="col-24 evo-datepicker-ctn evo-datepicker-range evo-small-mediaquery-grid">
					<input class="col-12 first" id="js-evo-datepicker-range-stacked-from" readonly="true" name="" value="" type="text" tabindex="" title="Select date." placeholder="From" data-evo-datepicker-message-label="This is a calendar message area for user messages related to dates" />
					<input class="col-12" id="js-evo-datepicker-range-stacked-to" readonly="true" name="" value="" type="text" tabindex="" title="Select date." placeholder="To" data-evo-datepicker-message-label="This is a calendar message area for user messages related to dates" />
				</div>
				<small class="evo-info">This is form error text.</small>
			</li>
			<li class="evo-form-action">
				<button class="evo-btn evo-btn-medium evo-btn-first" id="" name="" value="" type="button" tabindex="" title="Cancel">Cancel</button>
				<button class="evo-btn evo-btn-medium evo-btn-primary" id="" name="" value="" type="button" tabindex="" title="Save">Save</button>
			</li>
		</ol>
	</fieldset>
</form>
<!-- STACKED FORM - ENDS -->