<!-- FORM LEFT ALIGNED - BEGINS -->
<form class="evo-form evo-form-inline" id="" name="" method="" action="" title="">
	<fieldset>
		<ol>
			<li class="evo-error">
				<label class="col-10 first" for="">Basic Text Input:</label>
				<input class="col-14" id="" name="" value="" type="text" tabindex="" title="" />
				<span class="col-24">
					<small class="offset-10 col-14 evo-info">This is form error text.</small>
				</span>
			</li>

			<li class="evo-error">
				<label class="col-10 first evo-required" for=""><i class="evo-icon-evo-asterisk-small evo-icon-color-gray-darker evo-icon-position-left"></i>Label:</label>
				<select class="col-14" id="" tabindex="" title="">
					<option selected="selected" value="Select an item">choose one&hellip;</option>
					<option value="">One</option>
					<option value="">Two</option>
					<option value="">Three</option>
				</select>
				<span class="col-24">
					<small class="offset-10 col-14 evo-info">This is form error text.</small>
				</span>
			</li>
			<li class="evo-error">
				<label class="evo-radio-label col-10 first evo-required"><i class="evo-icon-evo-asterisk-small evo-icon-color-gray-darker evo-icon-position-left"></i>Label Posed as a Question?</label>
				<div class="evo-radio col-14">
					<label for="question1b">
						<input id="question1b" name="question" value="" type="radio" tabindex="" title="" /> Yes
					</label>
					<label for="question2b">
						<input id="question2b" name="question" value="" type="radio" tabindex="" title="" /> No
					</label>
				</div>
				<span class="col-24">
					<small class="offset-10 col-14 evo-info">This is form error text.</small>
				</span>
			</li>

			<li class="evo-error">
				<label class="evo-checkbox-label col-10 first evo-required"><i class="evo-icon-evo-asterisk-small evo-icon-color-gray-darker evo-icon-position-left"></i>Year of Original Appointment:</label>
				<div class="evo-checkbox col-14">
					<label for="2009b">
						<input id="2009b" name="" value="" type="checkbox" tabindex="" title="" /> 2009
					</label>

					<label for="2010b">
						<input id="2010b" name="" value="" type="checkbox" tabindex="" title="" /> 2010
					</label>

					<label for="2011b">
						<input id="2011b" name="" value="" type="checkbox" tabindex="" title="" /> 2011
					</label>

					<label for="2012b">
						<input id="2012b" name="" value="" type="checkbox" tabindex="" title="" /> 2012
					</label>
				</div>
				<span class="col-24">
					<small class="offset-10 col-14 evo-info">This is form error text.</small>
				</span>
			</li>
			<li class="evo-error">
				<label class="col-10 first evo-required" for=""><i class="evo-icon-evo-asterisk-small evo-icon-color-gray-darker evo-icon-position-left"></i>Comments:</label>
				<textarea class="col-14" id="" name="" tabindex="" title=""></textarea>
				<span class="col-24">
					<small class="offset-10 col-14 evo-info">This is form error text.</small>
				</span>
			</li>
			<li class="evo-error">
				<label class="col-10 first evo-required" for="js-evo-datepicker-range-left-aligned-from">
					<i class="evo-icon-evo-asterisk-small evo-icon-color-gray-darker evo-icon-position-left"></i>Label:
				</label>
				<div class="col-14 evo-datepicker-ctn evo-datepicker-range evo-small-mediaquery-grid">
					<input class="col-12 first" id="js-evo-datepicker-range-left-aligned-from" readonly="true" name="" value="" type="text" tabindex="" title="Select date." placeholder="From" data-evo-datepicker-message-label="This is a calendar message area for user messages related to dates" />
					<input class="col-12" id="js-evo-datepicker-range-left-aligned-to" readonly="true" name="" value="" type="text" tabindex="" title="Select date." placeholder="To" data-evo-datepicker-message-label="This is a calendar message area for user messages related to dates" />
				</div>
				<span class="col-24">
					<small class="offset-10 col-14 evo-info">This is form error text.</small>
				</span>
			</li>
			<li class="evo-form-action">
				<button class="evo-btn evo-btn-medium evo-btn-first" id="" name="" value="" type="button" tabindex="" title="Cancel">Cancel</button>
				<button class="evo-btn evo-btn-medium evo-btn-primary" id="" name="" value="" type="button" tabindex="" title="Save">Save</button>
			</li>
		</ol>
	</fieldset>
</form>
<!-- FORM LEFT ALIGNED - ENDS -->