<!-- FORM LEFT ALIGNED - BEGINS -->
<form>
	<fieldset>
		<div class="row">
			<div class="large-8 columns">
				<div class="row">
					<div class="large-4 columns">
						<label class="inline">Input Label</label>
					</div>
					<div class="large-8 columns">
						<input type="text" placeholder="Placeholder text" tabindex="" title="" />
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="large-8 columns">
				<div class="row">
					<div class="large-4 columns">
						<label class="inline">Input Label</label>
					</div>
					<div class="large-8 columns">				
						<div class="row collapse">
							<div class="small-9 columns">
								<input type="text" placeholder="Placeholder text" tabindex="" title="" />
							</div>
							<div class="small-3 columns">
								<span class="postfix">.com</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="large-8 columns">
				<div class="row">
					<div class="large-4 columns">
						<label class="inline">Select Box</label>
					</div>
					<div class="large-8 columns">
						<select tabindex="" title="">
							<option value="default">Choose one&#8230;</option>
							<option value="husker">Star Lord</option>
							<option value="starbuck">Groot</option>
							<option value="hotdog">Rocket Raccoon</option>
							<option value="apollo">Gamora</option>
						</select>						
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="large-8 columns">
				<div class="row">
					<div class="large-4 columns">
						<label>Choose Your Favorite</label>
					</div>
					<div class="large-8 columns">
						<input type="radio" name="pokemon" value="Red" id="pokemonRed" tabindex="" title="" />
						<label for="pokemonRed">Red</label>
						<input type="radio" name="pokemon" value="Blue" id="pokemonBlue" tabindex="" title="" />
						<label for="pokemonBlue">Blue</label>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="large-8 columns">
				<div class="row">
					<div class="large-4 columns">
						<label>Check these out</label>
					</div>
					<div class="large-8 columns">				
						<input id="checkbox1" type="checkbox" tabindex="" title="" />
						<label for="checkbox1">Checkbox 1</label>
						<input id="checkbox2" type="checkbox" tabindex="" title="" />
						<label for="checkbox2">Checkbox 2</label>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="large-8 columns">
				<div class="row">
					<div class="large-4 columns">
						<label>Textarea Label</label>
					</div>
					<div class="large-8 columns">
						<textarea placeholder="Placeholder text" tabindex="" title=""></textarea>	
					</div>
				</div>
			</div>
		</div>

		<div class="row evo-btn-row">
			<div class="small-12 columns">
				<button class="button radius secondary evo-btn" id="" name="" value="" type="" tabindex="" title="Cancel">Cancel</button>
				<button class="button radius evo-btn" id="" name="" value="" type="" tabindex="" title="Save">Save</button>
			</div>
		</div>
	</fieldset>
</form>
<!-- FORM LEFT ALIGNED - ENDS -->