<li>
	<label>Year of Appointment:</label>
	<div class="evo-checkbox">
		<label for="2009-default" class="evo-form-inline-element">
			<input id="2009-default" name="" value="" type="checkbox" tabindex="" title="" /> 2009
		</label>
		<label for="2010-default" class="evo-form-inline-element">
			<input id="2010-default" name="" value="" type="checkbox" tabindex="" title="" /> 2010
		</label>
		<label for="2011-default" class="evo-form-inline-element">
			<input id="2011-default" name="" value="" type="checkbox" tabindex="" title="" /> 2011
		</label>
		<label for="2012-default" class="evo-form-inline-element">
			<input id="2012-default" name="" value="" type="checkbox" tabindex="" title="" /> 2012
		</label>
	</div>
</li>