<!-- FORM MULTI-COLUMN STACKED - BEGINS -->
<form class="mul-form mul-form-table-layout" id="" name="" method="" action="" title="">
	<fieldset>
		<ol>
			<li>
				<label class="mul-required" for=""><i class="mul-icon-mul-asterisk-small mul-icon-color-gray-darker mul-icon-position-left"></i>Basic Text Input:</label>
				<input class="" id="" name="" value="" tabindex="" type="text" title="" />
			</li>
			<li>
				<label for="">Label:</label>
				<select id="" tabindex="" title="">
					<option selected="selected" value="Select an item">choose one&hellip;</option>
					<option value="">One</option>
					<option value="">Two</option>
					<option value="">Three</option>
				</select>
			</li>
			<li>
				<label for="js-mul-datepicker-example-readonly">Date:</label>
				<div class="mul-datepicker-ctn mul-datepicker-range mul-clearfix mul-small-mediaquery-grid">
					<input class="col-24" id="js-mul-datepicker-example-readonly" readonly="true" name="" value="" type="text" tabindex="" title="Select date." data-mul-datepicker-message-label="This is a calendar message area for user messages related to dates" />
				</div>
			</li>
		</ol>
		<ol>
			<li>
				<label for="">Name:</label>
				<input class="" id="" name="" value="" type="text" tabindex="" title="" />
			</li>
			<li>
				<label for="">Middle name:</label>
				<input class="" id="" name="" value="" type="text" tabindex="" title="" />
			</li>
			<li>
				<label for="">Last Name:</label>
				<input class="" id="" name="" value="" type="text" tabindex="" title="" />
			</li>
		</ol>
		<ol>
			<li class="mul-form-action">
				<button class="mul-btn mul-btn-medium mul-btn-first" id="" name="" value="" type="button" tabindex="" title="Cancel">Cancel</button>
				<button class="mul-btn mul-btn-medium mul-btn-primary" id="" name="" value="" type="button" tabindex="" title="Save">Save</button>
			</li>
		</ol>
	</fieldset>
</form>
<!-- FORM MULTI-COLUMN STACKED - ENDS -->