<!-- FORM RIGHT ALIGNED  - BEGINS -->
<form>
	<fieldset>
		<div class="row">
			<div class="large-8 columns">
				<div class="row">
					<div class="large-4 columns">
						<label class="inline right">
							<small><i class="evo-icon-evo-asterisk-small"></i></small>Input Label:
						</label>
					</div>
					<div class="large-8 columns">
						<input type="text" placeholder="Placeholder text" tabindex="" title="" />
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="large-8 columns">
				<div class="row">
					<div class="large-4 columns">
						<label class="inline right">
							<small><i class="evo-icon-evo-asterisk-small"></i></small>Input Label:
						</label>
					</div>
					<div class="large-8 columns">				
						<input type="text" placeholder="Placeholder text" tabindex="" title="" />
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="large-8 columns">
				<div class="row">
					<div class="large-4 columns">
						<label class="inline right">
							<small><i class="evo-icon-evo-asterisk-small"></i></small>Select Box:
						</label>
					</div>
					<div class="large-8 columns">
						<select tabindex="" title="">
							<option value="default">choose one&#8230;</option>
							<option value="husker">Star Lord</option>
							<option value="starbuck">Groot</option>
							<option value="hotdog">Rocket Raccoon</option>
							<option value="apollo">Gamora</option>
						</select>						
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="large-8 columns">
				<div class="row">
					<div class="large-4 columns">
						<label class="right">
							<small><i class="evo-icon-evo-asterisk-small"></i></small>Choose Your Favorite:
						</label>
					</div>
					<div class="large-8 columns">
						<input type="radio" name="pokemon" value="Red" id="pokemonRed" tabindex="" title="" />
						<label for="pokemonRed">Red</label>
						<input type="radio" name="pokemon" value="Blue" id="pokemonBlue" tabindex="" title="" />
						<label for="pokemonBlue">Blue</label>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="large-8 columns">
				<div class="row">
					<div class="large-4 columns">
						<label class="right">
							<small><i class="evo-icon-evo-asterisk-small"></i></small>Check These Out:
						</label>
					</div>
					<div class="large-8 columns">				
						<input id="checkbox1" type="checkbox" tabindex="" title="" />
						<label for="checkbox1">Checkbox 1</label>
						<input id="checkbox2" type="checkbox" tabindex="" title="" />
						<label for="checkbox2">Checkbox 2</label>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="large-8 columns">
				<div class="row">
					<div class="large-4 columns">
						<label class="right">
							<small><i class="evo-icon-evo-asterisk-small"></i></small>Textarea Label:
						</label>
					</div>
					<div class="large-8 columns">
						<textarea placeholder="Placeholder text" tabindex="" title=""></textarea>	
					</div>
				</div>
			</div>
		</div>

		<div class="row evo-datepicker-ctn evo-datepicker-range evo-small-mediaquery-grid">
			<div class="large-8 columns">
				<div class="row">
					<div class="large-4 columns">
						<label class="evo-required right" for="js-evo-datepicker-range-left-aligned-from">
							<small><i class="evo-icon-evo-asterisk-small"></i></small>Date:
						</label>
					</div>
					<div class="large-8 columns">
						<div class="small-6 columns evo-datepicker-first">
							<input id="js-evo-datepicker-range-left-aligned-from" readonly="true" name="" value="" type="text" tabindex="" title="Select date." placeholder="From" data-evo-datepicker-message-label="This is a calendar message area for user messages related to dates" class="hasDatepicker" size="10"><button type="button" class="ui-datepicker-trigger">Choose Date</button>
						</div>
						<div class="small-6 columns evo-datepicker-last">
							<input id="js-evo-datepicker-range-left-aligned-to" readonly="true" name="" value="" type="text" tabindex="" title="Select date." placeholder="To" data-evo-datepicker-message-label="This is a calendar message area for user messages related to dates" class="hasDatepicker" size="10"><button type="button" class="ui-datepicker-trigger">Choose Date</button>
						</div>
					</div>
				</div>				
			</div>
		</div>

		<div class="row evo-btn-row">
			<div class="small-12 columns">
				<button class="button radius secondary evo-btn" id="" name="" value="" type="" tabindex="" title="Cancel">Cancel</button>
				<button class="button radius evo-btn" id="" name="" value="" type="" tabindex="" title="Save">Save</button>
			</div>
		</div>
	</fieldset>
</form>
<!-- FORM RIGHT ALIGNED - ENDS -->