<!-- STACKED FORM - BEGINS -->
<form class="mul-form" id="" name="" method="" action="" title="">
	<fieldset>
		<ol>
			<li class="mul-error">
				<label for="">Basic Text Input:</label>
				<input id="" name="" value="" type="text" tabindex="" title="" />
				<small class="mul-info">This is form error text.</small>
			</li>
			<li class="mul-error">
				<label class="mul-required" for=""><i class="mul-icon-mul-asterisk-small mul-icon-color-gray-darker mul-icon-position-left"></i>Label:</label>
				<select id="" tabindex="" title="">
					<option selected="selected" value="Select an item">choose one&hellip;</option>
					<option value="">One</option>
					<option value="">Two</option>
					<option value="">Three</option>
				</select>
				<small class="mul-info">This is form error text.</small>
			</li>
			<li class="mul-error">
				<label class="mul-required mul-radio-label"><i class="mul-icon-mul-asterisk-small mul-icon-color-gray-darker mul-icon-position-left"></i>Label Posed as a Question?</label>
				<div class="mul-radio">
					<label for="question1" class="mul-form-inline-element">
						<input id="question1" name="question" value="" type="radio" tabindex="" title="" /> Yes
					</label>
					<label for="question2" class="mul-form-inline-element">
						<input id="question2" name="question" value="" type="radio" tabindex="" title="" /> No
					</label>
				</div>
				<small class="mul-info">This is form error text.</small>
			</li>
			<li class="mul-error">
				<label class="mul-checkbox-label mul-required"><i class="mul-icon-mul-asterisk-small mul-icon-color-gray-darker mul-icon-position-left"></i>Year of Original Appointment:</label>
				<div class="mul-checkbox">
					<label for="2009" class="mul-form-inline-element">
						<input id="2009" name="" value="" type="checkbox" tabindex="" title="" /> 2009
					</label>
					<label for="2010" class="mul-form-inline-element">
						<input id="2010" name="" value="" type="checkbox" tabindex="" title="" /> 2010
					</label>
					<label for="2011" class="mul-form-inline-element">
						<input id="2011" name="" value="" type="checkbox" tabindex="" title="" /> 2011
					</label>
					<label for="2012" class="mul-form-inline-element">
						<input id="2012" name="" value="" type="checkbox" tabindex="" title="" /> 2012
					</label>
				</div>
				<small class="mul-info">This is form error text.</small>
			</li>
			<li class="mul-error">
				<label class="mul-required" for=""><i class="mul-icon-mul-asterisk-small mul-icon-color-gray-darker mul-icon-position-left"></i>Comments:</label>
				<textarea id="" name="" tabindex="" title=""></textarea>
				<small class="mul-info">This is form error text.</small>
			</li>
			<li class="mul-error">
				<label class="mul-required" for="js-mul-datepicker-range-stacked-from">
					<i class="mul-icon-mul-asterisk-small mul-icon-color-gray-darker mul-icon-position-left"></i>Label:
				</label>
				<div class="col-24 mul-datepicker-ctn mul-datepicker-range mul-small-mediaquery-grid">
					<input class="col-12 first" id="js-mul-datepicker-range-stacked-from" readonly="true" name="" value="" type="text" tabindex="" title="Select date." placeholder="From" data-mul-datepicker-message-label="This is a calendar message area for user messages related to dates" />
					<input class="col-12" id="js-mul-datepicker-range-stacked-to" readonly="true" name="" value="" type="text" tabindex="" title="Select date." placeholder="To" data-mul-datepicker-message-label="This is a calendar message area for user messages related to dates" />
				</div>
				<small class="mul-info">This is form error text.</small>
			</li>
			<li class="mul-form-action">
				<button class="mul-btn mul-btn-medium mul-btn-first" id="" name="" value="" type="button" tabindex="" title="Cancel">Cancel</button>
				<button class="mul-btn mul-btn-medium mul-btn-primary" id="" name="" value="" type="button" tabindex="" title="Save">Save</button>
			</li>
		</ol>
	</fieldset>
</form>
<!-- STACKED FORM - ENDS -->