<!-- CAROUSEL - BEGINS -->
<div class="evo-carousel" data-evo-carousel="evo-carousel-example">
	<div class="evo-carousel-item">

		<!-- BOX - BEGINS -->
		<div class="panel evo-box evo-no-margin-bottom">
			<div class="evo-box-bdy">
				<h1 class="evo-no-margin-top">Carousel Item 1</h1>
				<h3 class="subheader evo-spacer-margin-bottom-x-large">Subheader</h3>
				<button class="button radius evo-button evo-no-margin-bottom" id="" name="" value="" type="" tabindex="" title="">Primary</button>
			</div>
		</div>
		<!-- BOX - ENDS -->

	</div>
	<div class="evo-carousel-item">

		<!-- BOX - BEGINS -->
		<div class="panel evo-box evo-no-margin-bottom">
			<div class="evo-box-bdy">
				<h1 class="evo-no-margin-top">Carousel Item 2</h1>
				<h3 class="subheader evo-spacer-margin-bottom-x-large">Subheader</h3>
				<button class="button radius evo-button evo-no-margin-bottom" id="" name="" value="" type="" tabindex="" title="">Primary</button>
			</div>
		</div>
		<!-- BOX - ENDS -->

	</div>
	<div class="evo-carousel-item">

		<!-- BOX - BEGINS -->
		<div class="panel evo-box evo-no-margin-bottom">
			<div class="evo-box-bdy">
				<h1 class="evo-no-margin-top">Carousel Item 3</h1>
				<h3 class="subheader evo-spacer-margin-bottom-x-large">Subheader</h3>
				<button class="button radius evo-button evo-no-margin-bottom" id="" name="" value="" type="" tabindex="" title="">Primary</button>
			</div>
		</div>
		<!-- BOX - ENDS -->

	</div>
	<div class="evo-carousel-item">

		<!-- BOX - BEGINS -->
		<div class="panel evo-box evo-no-margin-bottom">
			<div class="evo-box-bdy">
				<h1 class="evo-no-margin-top">Carousel Item 4</h1>
				<h3 class="subheader evo-spacer-margin-bottom-x-large">Subheader</h3>
				<button class="button radius evo-button evo-no-margin-bottom" id="" name="" value="" type="" tabindex="" title="">Primary</button>
			</div>
		</div>
		<!-- BOX - ENDS -->

	</div>
	<div class="evo-carousel-item">

		<!-- BOX - BEGINS -->
		<div class="panel evo-box evo-no-margin-bottom">
			<div class="evo-box-bdy">
				<h1 class="evo-no-margin-top">Carousel Item 5</h1>
				<h3 class="subheader evo-spacer-margin-bottom-x-large">Subheader</h3>
				<button class="button radius evo-button evo-no-margin-bottom" id="" name="" value="" type="" tabindex="" title="">Primary</button>
			</div>
		</div>
		<!-- BOX - ENDS -->

	</div>
</div>
<!-- CAROUSEL - ENDS -->