<!-- CAROUSEL - BEGINS -->
<div class="evo-carousel" data-evo-carousel="evo-carousel-example">
	<div class="evo-carousel-item">
		<img src="{{ "carousel_image1.jpg" | asset_url }}" alt="Carousel Image 1" border="0" />
	</div>
	<div class="evo-carousel-item">
		<img src="{{ "carousel_image2.jpg" | asset_url }}" alt="Carousel Image 2" border="0" />
	</div>
	<div class="evo-carousel-item">
		<img src="{{ "carousel_image3.jpg" | asset_url }}" alt="Carousel Image 3" border="0" />
	</div>
</div>
<!-- CAROUSEL - ENDS -->