{% layout "ee/layout" %}
{% block content %}

<!-- HERO IMAGE - BEGINS -->
	{% include "/ee/hero-banner" %}
<!-- HERO IMAGE - ENDS -->

<!-- CATEGORY TABLE OF CONTENTS - BEGINS -->
	<section class="row evo-site-table-content-ctn">
		<div class="large-12 columns">

			<section class="row collapse">
				<div class="small-12 medium-12 large-10 small-centered columns evo-site-down-arrrow">

				<!-- CATEGORY PAGE NAVIGATION - BEGINS -->
					<ul class="medium-block-grid-3 evo-site-table-contents">
						<li>
							<ul>
								<li><a href="#{{ model.standard-id-01 }}" data-scroll-to-location>{{ model.standard-01 }}</a></li>
								<li><a href="#{{ model.standard-id-02 }}" data-scroll-to-location>{{ model.standard-02 }}</a></li>
								<li><a href="" data-scroll-to-location>Standard Links</a></li>
							</ul>
						</li>
						<li>
							<ul>
								<li><a href="" data-scroll-to-location>Standard Links</a></li>
								<li><a href="" data-scroll-to-location>Standard Links</a></li>
								<li><a href="" data-scroll-to-location>Standard Links</a></li>
							</ul>	
						</li>
						<li>
							<ul>
								<li><a href="" data-scroll-to-location>Standard Links</a></li>
								<li><a href="" data-scroll-to-location>Standard Links</a></li>
								<li><a href="" data-scroll-to-location>Standard Links</a></li>
							</ul>
						</li>
					</ul>
				<!-- CATEGORY PAGE NAVIGATION - ENDS -->

				</div>
			</section>
			
		</div>
	</section>
<!-- CATEGORY TABLE OF CONTENTS - ENDS -->

<!-- STANDARD/ASSET NAME - BEGINS -->
	{% include '/content/standards/template-standard-example' %}
<!-- STANDARD/ASSET NAME - ENDS -->

<!-- BUTTONS SECTION - BEGINS -->
	{% include 'ee/standards/buttons/buttons-example' %}
<!-- BUTTONS SECTION - ENDS -->

{% endblock %}