<!-- MASTHEAD - BEGINS -->
	<section class="mul-masthead">
		<div class="mul-masthead-adjust">

			<section class="col-18 first mul-logo mul-small-mediaquery-grid">
				<div class="mul-logo-col-1">
					<div class="mul-primary-logo">
						<img src="{{ "marsh_logo_126x18.png" | asset_url }}" alt="Marsh Logo" width="126" height="18" title="Marsh Logo">
					</div>
				</div>
				<div class="mul-logo-col-2">
					<a href="/index">MERCER <span>EVOLUTION</span></a>
				</div>
				<div class="mul-logo-col-3 mul-mb-navbar-ctn">
				<!-- MOBILE MENU ICON - BEGINS -->
					<ul class="sm mul-nav-menus mul-menu-ctn js-mul-menus">
						<li class="mul-header-icon">
							<a href="javascript:;" class="js-mul-toggle-content" data-mul-toggle="1"><i class="mul-icon-menu3"></i></a>
						</li>
					</ul>
				<!-- MOBILE MENU ICON - ENDS -->
				</div>
			</section>
			<section class="col-6 mul-secondary-logo mul-hidden-small-mediaquery">
				<div class="">
					<img src="{{ "marsh_logo_126x18.png" | asset_url }}" alt="Marsh Logo" width="126" height="18" title="Marsh Logo">
				</div>
			</section>

		</div>
	</section>
<!-- MASTHEAD - ENDS -->