	<!-- NAVBAR - BEGINS -->
		<section class="mul-navbar" id="div1">
			<div class="mul-navbar-adjust">
				<nav class="mul-tabbed-nav">
					<div class="col-12 first mul-navbar-col-1">
						<ul class="sm mul-nav-menus mul-menu-ctn js-mul-menus">
							<li><a class="{% if mixture.url == "index" %}mul-navbar-item-active{% endif %}" href="/index">Home 3</a></li>
							<li><a href="/browser-testing-support">Browser Support</a></li>
							<li><a href="/toolkit">Toolkit</a></li>
							<li>
								<a href="javascript:;">Arquimedez Pozo</a>
								<ul class="mul-user-identifier-menu">
									<li><a href="javascript:;">View Profile</a></li>
									<li><a href="javascript:;">Change Language</a></li>
									<li><a href="javascript:;">User Administration</a></li>
									<li><a href="javascript:;">Log Out</a></li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="col-12 mul-navbar-col-2">
						<ul class="sm mul-nav-menus mul-menu-ctn js-mul-menus">
							<li class="mul-header-icon">
								<a href="javascript:;"><i class="mul-icon-user"></i></a>
							</li>
							<li class="mul-header-icon">
								<a href="javascript:;"><i class="mul-icon-warning"></i></a>
							</li>
							<li class="mul-header-icon mul-mega-menu">
								<a href="javascript:;"><i class="mul-icon-basket"></i></a>
								<ul class="mega-menu">
									<li class="mul-mega-menu-adjust">
									<!-- MEGA MENU CONTAINER - BEGINS -->
										<div class="mul-mega-menu-ctn">

										<!-- SPOTLIGHT CONTAINER - BEGINS -->
											<div class="col-24 mul-mega-menu-spotlight-ctn">
												<dl class="mul-horizontal-list">
													<dd>
														<a href="javascript:;">
															<i class="mul-icon-home mul-icon-size-small mul-icon-position-left"></i>
															Home
														</a>
													</dd>
													<dd>
														<a href="javascript:;">
															<i class="mul-icon-calendar mul-icon-size-small mul-icon-position-left"></i>
															Spotlight Link
														</a>
													</dd>
												</dl>
											</div>
										<!-- SPOTLIGHT CONTAINER - BEGINS -->

											<section class="col-24">
												<dl class="col-8 first mul-mega-menu-groups">
													<dt class="h4 mul-hdr-rule">Section Title</dt>
													<dd><span><a href="javascript:;">Section Link</a></span></dd>
													<dd><span><a href="javascript:;">Section Link</a></span></dd>
													<dd><span><a href="javascript:;">Section Link</a></span></dd>
													<dd><span><a href="javascript:;">Section Link</a></span></dd>
													<dd><span><a href="javascript:;">Section Link</a></span></dd>
													<dd><span><a href="javascript:;">Section Link</a></span></dd>
												</dl>
												<dl class="col-8 mul-mega-menu-groups">
													<dt class="h4 mul-hdr-rule">Section Title</dt>
													<dd><span><a href="javascript:;">Section Link</a></span></dd>
													<dd><span><a href="javascript:;">Section Link</a></span></dd>
													<dd><span><a href="javascript:;">Section Link</a></span></dd>
													<dd><span><a href="javascript:;">Section Link</a></span></dd>
													<dd><span><a href="javascript:;">Section Link</a></span></dd>
													<dd><span><a href="javascript:;">Section Link</a></span></dd>
												</dl>
												<dl class="col-8 mul-mega-menu-groups">
													<dt class="h4 mul-hdr-rule">Section Title</dt>
													<dd><span><a href="javascript:;">Section Link</a></span></dd>
													<dd><span><a href="javascript:;">Section Link</a></span></dd>
													<dd><span><a href="javascript:;">Section Link</a></span></dd>
													<dd><span><a href="javascript:;">Section Link</a></span></dd>
													<dd><span><a href="javascript:;">Section Link</a></span></dd>
													<dd><span><a href="javascript:;">Section Link</a></span></dd>
												</dl>
											</section>
										</div>
									<!-- MEGA MENU CONTAINER - ENDS -->
									</li>
								</ul>
							</li>
							<li class="mul-header-icon">
								<a href="javascript:;"><i class="mul-icon-file2"></i></a>
							</li>
							<li class="mul-header-icon">
								<a href="javascript:;"><i class="mul-icon-envelop"></i></a>
							</li>
							<li class="mul-header-icon">
								<a href="javascript:;"><i class="mul-icon-search"></i></a>
							</li>
							<li class="mul-header-icon">
								<a href="javascript:;"><i class="mul-icon-cancel-circle"></i></a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</section>
	<!-- NAVBAR - ENDS -->