{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}

<!-- INTRO SECTION - BEGINS -->
	<section class="col-24">
		<h1>{{ model.title }}</h1>
		<p class="mul-intro-text">Lists are a flexible component for displaying not only simple lists of elements, but complex ones with custom content.</p>
	</section>
<!-- INTRO SECTION - ENDS -->

<section class="col-24">

	<h3 class="mul-hdr-dbl-rule">
		Example
		<a href="javascript:;" class="mul-icon-size-small mul-icon-mul-arrow-circle-down mul-icon-color-gray-darker mul-icon-position-right mul-float-right related-items-menu"></a>
	</h3>

<!-- HORIZONTAL LISTS - BEGINS -->
	<div class="col-24 example-min-height">

		<div class="col-24">
			<div class="col-6 first">

				<div class="mul-box mul-box-rnd mul-ref-example-box mul-padding-bottom">
					<h4 class="mul-hdr-rule">Default</h4>
					{% include '/base/lists/list-horizontal-default' %}
				</div>

			</div>
			<div class="col-6">

				<div class="mul-box mul-box-rnd mul-ref-example-box mul-padding-bottom">
					<h4 class="mul-hdr-rule">With Links</h4>
					{% include '/base/lists/list-horizontal-default-links' %}
				</div>

			</div>
			<div class="col-6">

				<div class="mul-box mul-box-rnd mul-ref-example-box mul-padding-bottom">
					<h4 class="mul-hdr-rule">With Pipes</h4>
					{% include '/base/lists/list-horizontal-default-pipes' %}
				</div>

			</div>
			<div class="col-6">

				<div class="mul-box mul-box-rnd mul-ref-example-box mul-padding-bottom">
					<h4 class="mul-hdr-rule">With Links and Pipes</h4>
					{% include '/base/lists/list-horizontal-default-links-pipes' %}
				</div>

			</div>
		</div>

		<div class="col-24">
			<div class="col-8 first">

				<div class="mul-box mul-box-rnd mul-ref-example-box mul-padding-bottom">
					<h4 class="mul-hdr-rule">Definition List</h4>
					{% include '/base/lists/list-horizontal-definition' %}
				</div>

			</div>
			<div class="col-8">

				<div class="mul-box mul-box-rnd mul-ref-example-box mul-padding-bottom">
					<h4 class="mul-hdr-rule">Definition List With links</h4>
					{% include '/base/lists/list-horizontal-definition-links' %}
				</div>

			</div>
			<div class="col-8">

				<div class="mul-box mul-box-rnd mul-ref-example-box mul-padding-bottom">
					<h4 class="mul-hdr-rule">Definition List With Pipes</h4>
					{% include '/base/lists/list-horizontal-definition-pipes' %}
				</div>

			</div>
		</div>

	</div>
<!-- HORIZONTAL LISTS - ENDS -->

<!-- DETAILS SECTION - BEGINS -->
	<div class="col-24">
		<a name="moreDetails"></a>
		<h4 class="mul-hdr-dbl-rule addtional-detail-hdr">Additional Details</h4>
		

		<div class="js-mul-tabs-example mul-tabs">
			{% include "page-tabs" %}
			<div id="tabs-1">
				<p>When to use details go here&hellip;</p>
			</div>
			<div id="tabs-2">
				<p>Functional details go here&hellip;</p>
			</div>
			<div id="tabs-3">
				<p>Technical details go here&hellip;</p>
			</div>
			<div id="tabs-4">
				<p>Examples go here&hellip;</p>
			</div>
			<div id="tabs-5">
			<!-- GET CODE - BEGINS -->
				<section class="col-24">

					<h5 class="mul-hdr-rule">HTML</h5>
					<p>
						Here is a basic horizontal list, with a few adjustments you can get a couple of different scenarios to meet your needs. For a piped horizontal list just use the helper class option: <code>mul-horizontal-list-piped</code>.
					</p>

					<h5>Default</h5>
					<pre class="prettyprint linenums"><xmp>{% include '/base/lists/list-horizontal-default' %}</xmp></pre>

					<h5>Default With Links</h5>
					<pre class="prettyprint linenums"><xmp>{% include '/base/lists/list-horizontal-default-links' %}</xmp></pre>

					<h5>Default With Pipes</h5>
					<pre class="prettyprint linenums"><xmp>{% include '/base/lists/list-horizontal-default-pipes' %}</xmp></pre>

					<h5>Default With Links and Pipes</h5>
					<pre class="prettyprint linenums"><xmp>{% include '/base/lists/list-horizontal-default-links-pipes' %}</xmp></pre>

					<h5>Definition List</h5>
					<pre class="prettyprint linenums"><xmp>{% include '/base/lists/list-horizontal-definition' %}</xmp></pre>

					<h5>Definition List With Links</h5>
					<pre class="prettyprint linenums"><xmp>{% include '/base/lists/list-horizontal-definition-links' %}</xmp></pre>

					<h5>Definition List With Pipes</h5>
					<pre class="prettyprint linenums"><xmp>{% include '/base/lists/list-horizontal-definition-pipes' %}</xmp></pre>

				</section>
			<!-- GET CODE - ENDS -->
			</div>
		</div>
	</div>
<!-- DETAILS SECTION - ENDS -->

</section>
{% endblock %}