<!-- BADGES - COLORS - BEGINS -->
<span class="label evo-badge" data-evo-font-color="amethyst-light">9</span>
<span class="label evo-badge" data-evo-background-color="amethyst-bright">99</span>
<br />
<span class="label alert evo-badge">9</span>
<span class="label warning evo-badge">99</span>
<span class="label success evo-badge">999</span>
<span class="label info evo-badge">9999</span>
<br />
<br />
<span class="label alert evo-badge" data-evo-badge-size="small">9</span>
<span class="label alert evo-badge" data-evo-badge-size="medium">9</span>
<span class="label alert evo-badge" data-evo-badge-size="large">9</span>
<span class="label alert evo-badge" data-evo-badge-size="x-large">9</span>
<!-- BADGES - COLORS - ENDS -->