<!-- BADGES - SIZES - BEGINS -->
<span class="label evo-badge" data-evo-badge-size="small">9</span>
<span class="label evo-badge" data-evo-badge-size="small">99</span>
<span class="label evo-badge" data-evo-badge-size="small">999</span>
<span class="label evo-badge" data-evo-badge-size="small">9999</span>
<br /><br />
<span class="label evo-badge" data-evo-badge-size="medium">9</span>
<span class="label evo-badge" data-evo-badge-size="medium">99</span>
<span class="label evo-badge" data-evo-badge-size="medium">999</span>
<span class="label evo-badge" data-evo-badge-size="medium">9999</span>
<br /><br />
<span class="label evo-badge" data-evo-badge-size="large">9</span>
<span class="label evo-badge" data-evo-badge-size="large">99</span>
<span class="label evo-badge" data-evo-badge-size="large">999</span>
<span class="label evo-badge" data-evo-badge-size="large">9999</span>
<br /><br />
<span class="label evo-badge" data-evo-badge-size="x-large">9</span>
<span class="label evo-badge" data-evo-badge-size="x-large">99</span>
<span class="label evo-badge" data-evo-badge-size="x-large">999</span>
<span class="label evo-badge" data-evo-badge-size="x-large">9999</span>
<!-- BADGES - SIZES - ENDS -->