<!-- BADGES - BASIC - BEGINS -->
<span class="label evo-badge">9</span>
<span class="label evo-badge">99</span>
<span class="label evo-badge">999</span>
<span class="label evo-badge">9999</span>
<!-- BADGES - BASIC - ENDS -->