//-------------------------------------------------------------------------------------------
// Mercer Evolution - Employee Portal Family - Site SASS Variables
// DATE - January 21, 2015
// AUTHOR - Doug Fraize, Matthew Holmes, Doug Richar, Vinod Bhatt
//-------------------------------------------------------------------------------------------

// ==========================================================================================
// SITE VARIABLES
// ==========================================================================================

// TYPE
// ------------------------------------------------------------------------------------------

// LINKS
$evo-ep-anchor-font-color-reverse: 			$white;
$evo-ep-anchor-font-color-alt: 				$ruby-mid;
$evo-ep-anchor-font-size-small:				14;

// COSTS
$evo-ep-cost-reverse-font-color:			$white;
$evo-ep-large-cost-font-color:				$gray-mid;
$evo-ep-small-cost-font-color:				$gray-mid;

