<!-- WORKSHEET FORM COMPONENT - BEGINS -->
<link href="/ee/components/worksheet-form/worksheet-form.css" rel="stylesheet" type="text/css" />

<div class="evo-worksheet-form">
	<form>
		<fieldset>
			<div class="row">
				<div class="small-12 columns">
					<label for="worksheet-item1">For rent/mortgage</label>
					<input id="worksheet-item1" type="number" placeholder="$" data-evo-input-numeric-mask tabindex="" title="">
				</div>
			</div>

			<div class="row">
				<div class="small-12 columns">
					<label for="worksheet-item2">For utilities</label>
					<input id="worksheet-item2" type="number" placeholder="$" data-evo-input-numeric-mask tabindex="" title="">
				</div>
			</div>

			<div class="row">
				<div class="small-12 columns">
					<button class="button radius evo-button" id="" name="" value="" type="" title="">Done</button>
				</div>
			</div>
		</fieldset>
	</form>
</div>
<!-- WORKSHEET FORM COMPONENT - ENDS -->