<!-- SHOWCASE PANEL - BEGINS -->
<div class="evo-showcase-panel">
	<div class="row small-up-3">
		<div class="columns evo-showcase-panel-item evo-showcase-panel-item-small">
			<span class="evo-showcase-panel-item-label">
				<sup>$</sup>200
				<sub class="evo-showcase-panel-item-sub-label">/mo</sub>
			</span>
			<span class="evo-showcase-panel-item-sub-text">total cost</span>
		</div>
		<div class="columns evo-showcase-panel-item evo-showcase-panel-item-small">
			<span class="evo-showcase-panel-item-label">
				<sup>$</sup>200
				<sub class="evo-showcase-panel-item-sub-label">/mo</sub>
			</span>
			<span class="evo-showcase-panel-item-sub-text">total cost</span>
		</div>
		<div class="columns evo-showcase-panel-item evo-showcase-panel-item-small">
			<span class="evo-showcase-panel-item-label">
				<sup>$</sup>200
				<sub class="evo-showcase-panel-item-sub-label">/mo</sub>
			</span>
			<span class="evo-showcase-panel-item-sub-text">total cost</span>
		</div>
	</div>
</div>

<br>

<div class="evo-showcase-panel" data-evo-showcase-panel-color-reverse data-evo-background-color="emerald-medium">
	<div class="row small-up-2">
		<div class="columns evo-showcase-panel-item evo-showcase-panel-item-large">
			<span class="evo-showcase-panel-item-label">
				<sup>$</sup>200
				<sub class="evo-showcase-panel-item-sub-label">/mo</sub>
			</span>
			<span class="evo-showcase-panel-item-sub-text">total cost</span>
		</div>
		<div class="columns evo-showcase-panel-item evo-showcase-panel-item-small">
			<span class="evo-showcase-panel-item-label">
				<sup>$</sup>50
				<sub class="evo-showcase-panel-item-sub-label">/mo</sub>
			</span>
			<span class="evo-showcase-panel-item-sub-text">retirement contribution</span>
		</div>
	</div>
</div>

<br>

<div class="evo-showcase-panel" data-evo-showcase-panel-color-reverse data-evo-background-color="garnet-medium">
	<div class="row small-up-3">
		<div class="columns evo-showcase-panel-item evo-showcase-panel-item-small">
			<span class="evo-showcase-panel-item-label">
				<sup>$</sup>200
				<sub class="evo-showcase-panel-item-sub-label">/mo</sub>
			</span>
			<span class="evo-showcase-panel-item-sub-text">total cost</span>
		</div>
		<div class="columns evo-showcase-panel-item evo-showcase-panel-item-small">
			<span class="evo-showcase-panel-item-label">
				<sup>$</sup>200
				<sub class="evo-showcase-panel-item-sub-label">/mo</sub>
			</span>
			<span class="evo-showcase-panel-item-sub-text">total cost</span>
		</div>
		<div class="columns evo-showcase-panel-item evo-showcase-panel-item-small">
			<span class="evo-showcase-panel-item-label">
				<sup>$</sup>200
				<sub class="evo-showcase-panel-item-sub-label">/mo</sub>
			</span>
			<span class="evo-showcase-panel-item-sub-text">total cost</span>
		</div>
	</div>
</div>

<br>

<div class="evo-showcase-panel" data-evo-showcase-panel-color-reverse data-evo-background-color="topaz-medium">
	<div class="row small-up-2">
		<div class="columns evo-showcase-panel-item evo-showcase-panel-item-small">
			<span class="evo-showcase-panel-item-label">
				<sup>$</sup>200
				<sub class="evo-showcase-panel-item-sub-label">/mo</sub>
			</span>
			<span class="evo-showcase-panel-item-sub-text">total cost</span>
		</div>
		<div class="columns evo-showcase-panel-item evo-showcase-panel-item-small">
			<span class="evo-showcase-panel-item-label">
				<sup>$</sup>200
				<sub class="evo-showcase-panel-item-sub-label">/mo</sub>
			</span>
			<span class="evo-showcase-panel-item-sub-text">total cost</span>
		</div>
	</div>
</div>

<br>

<div class="evo-showcase-panel" data-evo-showcase-panel-color-reverse data-evo-background-color="emerald-medium">
	<div class="row small-up-1">
		<div class="columns evo-showcase-panel-item evo-showcase-panel-item-small">
			<i class="evo-icon-checkmark-circle evo-icon-size-medium" title="Completed" aria-label="Completed"></i>
		</div>
	</div>
</div>

<br>

<div class="evo-showcase-panel" data-evo-showcase-panel-color-reverse data-evo-background-color="emerald-medium">
	<div class="row small-up-3">
		<div class="columns evo-showcase-panel-item evo-showcase-panel-item-small">
			<i class="evo-icon-checkmark-circle evo-icon-size-medium" title="Completed" aria-label="Completed"></i>
		</div>
		<div class="columns evo-showcase-panel-item evo-showcase-panel-item-small">
			<i class="evo-icon-checkmark-circle evo-icon-size-medium" title="Completed" aria-label="Completed"></i>
		</div>
		<div class="columns evo-showcase-panel-item evo-showcase-panel-item-small">
			<span class="evo-showcase-panel-item-label">
				3
				<sub class="evo-showcase-panel-item-sub-label">rd</sub>
			</span>
			<span class="evo-showcase-panel-item-sub-text">goal</span>
		</div>
	</div>
</div>

<br>

<div class="evo-showcase-panel" data-evo-showcase-panel-color-reverse data-evo-background-color="garnet-medium">
	<div class="row small-up-3">
		<div class="columns evo-showcase-panel-item evo-showcase-panel-item-small">
			<span class="evo-showcase-panel-item-label">
				1
				<sub class="evo-showcase-panel-item-sub-label">st</sub>
			</span>
			<span class="evo-showcase-panel-item-sub-text">goal</span>
		</div>
		<div class="columns evo-showcase-panel-item evo-showcase-panel-item-small">
			<span class="evo-showcase-panel-item-label" data-evo-font-color="garnet-light">
				2
				<sub class="evo-showcase-panel-item-sub-label" data-evo-font-color="garnet-light">nd</sub>
			</span>
			<span class="evo-showcase-panel-item-sub-text" data-evo-font-color="garnet-light">goal</span>
		</div>
		<div class="columns evo-showcase-panel-item evo-showcase-panel-item-small">
			<span class="evo-showcase-panel-item-label" data-evo-font-color="garnet-light">
				3
				<sub class="evo-showcase-panel-item-sub-label" data-evo-font-color="garnet-light">rd</sub>
			</span>
			<span class="evo-showcase-panel-item-sub-text" data-evo-font-color="garnet-light">goal</span>
		</div>
	</div>
</div>
<!-- SHOWCASE PANEL - ENDS -->