//-------------------------------------------------------------------------------------------
// Mercer Evolution - Core v2.7 - Base Box Partial
// DATE - January 13, 2015
// AUTHOR - Doug Fraize, Matthew Holmes
//-------------------------------------------------------------------------------------------

// VARS **************************************************
$evo-box-hdr-rule-size: 3px !default;
$evo-box-hdr-rule-style: solid !default;
$evo-box-hdr-rule-color: $gray-mid !default;
$evo-box-hdr-rule-padding: 0 0 4px 0 !default;
$evo-box-radius: $global-radius !default;
$evo-box-border-width: 1px !default;
$evo-box-border-style: solid !default;
$evo-box-border-color: $gray-light !default;

$evo-vertical-shadow: 0 !default;
$evo-horizontal-shadow: 3px !default;
$evo-blur-shadow: 6px !default;
$evo-color-shadow: $gray-light !default;
$evo-box-body-text-align: left !default;


// MIXINS **************************************************
@mixin evo-box(
		$hdr-bdr-btm-width: $evo-box-hdr-rule-size,
		$hdr-bdr-btm-style: $evo-box-hdr-rule-style,
		$hdr-bdr-btm-color: $evo-box-hdr-rule-color,
		$hdr-rule-padding: $evo-box-hdr-rule-padding,
		$box-radius: $evo-box-radius,
		$box-border-width: $evo-box-border-width,
		$box-border-style: $evo-box-border-style,
		$box-border-color: $evo-box-border-color,
		$box-text-align: $evo-box-body-text-align
	)
	{
	@include border-radius($box-radius);
	border: $box-border-width $box-border-style $box-border-color;
	position: relative;
	text-align: $box-text-align;
		.evo-box-hdr			{
			.evo-hdr-rule			{
									border-bottom: $hdr-bdr-btm-width $hdr-bdr-btm-style $hdr-bdr-btm-color;
									padding: $hdr-rule-padding;
									}
								}
		.evo-box-bdy,
		.evo-box-ftr			{padding-bottom: 1px;}
	}

// TODO: MOVE THIS FROM BOXES.SCSS TO HELPER.SCSS, MAKE IT GLOBAL
@mixin evo-box-shadow(
		$vert-shadow:$evo-vertical-shadow,
		$horz-shadow:$evo-horizontal-shadow,
		$shadow-blur:$evo-blur-shadow,
		$shadow-color:$evo-color-shadow
	)
	{
		@include box-shadow($vert-shadow, $horz-shadow, $shadow-blur, $shadow-color);
	}

// EXPORTS **************************************************
@include exports("evo-box") {}
@include exports("evo-box-shadow") {}


@if $use-boxes == true{

	// BOX BASE SETUP
	.evo-box					{
								@include panel();
								@include evo-box();
								}
	.evo-box-shadow				{@include evo-box-shadow();}

	// FEATURE CONTAINER
	.evo-feature-ctn			{
								@include panel($bg:$boxFeaturedBackgroundColor);
								@include evo-box($hdr-bdr-btm-color:$boxFeaturedBorderBottomColor);
								}

	// SIDEBAR CONTAINER
	.evo-sidebar-ctn			{
								@include panel($bg:$boxSidebarBackgroundColor);
								@include evo-box($hdr-bdr-btm-color:$boxSidebarBorderBottomColor);
								}

	// SUPPORT CONTAINER
	.evo-support-ctn			{
								@include panel($bg:$boxSupportBackgroundColor);
								@include evo-box($hdr-bdr-btm-color:$boxSupportBorderBottomColor,$box-radius:0 0 $global-radius $global-radius,$box-border-color:$boxSupportBorderBottomColor);
								}

	// HIGHLIGHT CONTAINER
	.evo-highlight-ctn			{
								@include panel($bg:$warning-color);
								@include evo-box($box-text-align:center);
								}
	
	// INLINE SEARCH CONTAINER
	.evo-inline-search-ctn		{
								@include panel($bg:$boxInlineSearchBackgroundColor);
								@include evo-box($box-radius:0,$box-border-style:dotted,$box-border-color:$boxInlineSearchBorderColor);
		form						{margin-bottom: $evo-base-margin;}
								}



	//=== MEDIA QUERIES =========================================================================

	// MEDIUM MEDIA QUERY RANGE AND UP - 641px +
	@if $use-medium-up-mediaquery == true {
		
		@media #{$medium-up} {

			// INLINE SEARCH CONTAINER
			.evo-inline-search-ctn		{
				form						{
					.evo-btn-row				{text-align: center;}
											}
										}

		}
		
	}// endif

}//endif