//-------------------------------------------------------------------------------------------
// Mercer Evolution - Core v2.5 - Base Buttons Partial
// DATE - June 13, 2014
// AUTHOR - Doug Fraize, Matthew Holmes, Vinod Bhatt
//-------------------------------------------------------------------------------------------

@if $use-buttons == true{

	// CORE BUTTON SETUP
	.mul-btn										{
													@include background-gradient($buttonBackgroundStartColor,$buttonBackgroundEndColor);
													@include border-radius($buttonBorderRadius);
													@include box-shadow($buttonVShadow, $buttonHShadow, $buttonShadowBlur, $buttonShadowColor);
													@include text-shadow(0, 1px, 1px, $buttonTextShadowColor);
													@include transition(box-shadow 0.15s ease-in-out 0s);
													@include backface-visibility(hidden);
													margin-bottom: $buttonMarginBottom;
													padding: $buttonPaddingTopBottom $buttonPaddingLeftRight;
													position: relative;
													display: inline-block;
													float: left;
													min-width: $buttonMinWidth;
													font-size: $buttonFontSize;
													line-height: $buttonLineHeight;
													text-align: center;
													color: $buttonFontColor;
													border: $buttonBorderSize $buttonBorderStyle $buttonBorderColor;
													font-family: $baseFontFamily;
													font-weight: $buttonFontWeight;
													cursor: pointer;
													outline: none !important;

		// BUTTON STATES
		&:link,
		&:visited
														{
														color: $buttonFontColor;
														text-decoration: none !important;
														}
		&:hover											{
														@include background-gradient($buttonHoverBackgroundStartColor, $buttonHoverBackgroundEndColor);
														border: $buttonHoverBorderSize $buttonHoverBorderStyle $buttonHoverBorderColor;
														}
		&:active										{
														@include background-gradient($buttonActiveBackgroundStartColor,$buttonActiveBackgroundEndColor);
														@include box-shadow(0, 0, 0, transparent);
														@include transition(translate(0, 0));
														}
		&:focus											{
														@include background-gradient($buttonFocusBackgroundStartColor, $buttonFocusBackgroundEndColor);
														border-color: $buttonFocusBorderColor;
														}

		// DISABLED BUTTON
		&.mul-btn-disabled,
		&[disabled]										{
														@include ie-gradient-reset-filter;
														background-image: none;
														background-color: $buttonDisabledBackgroundColor;
														border-color: $buttonDisabledBorderColor;
														color: $buttonDisabledFontColor;
														cursor: default;
			&:hover											{border-color: $buttonDisabledBorderColor;}
														}
													}

	// PRIMARY BUTTON
	.mul-btn-primary,
	.mul-btn-primary:link,
	.mul-btn-primary:visited						{
													@include background-gradient($buttonPrimaryBackgroundStartColor,$buttonPrimaryBackgroundEndColor);
													@include text-shadow(0, -1px, 1px, $buttonPrimaryTextShadowColor);
													color: $buttonPrimaryFontColor;
													}
	.mul-btn-primary:hover							{@include background-gradient($buttonHoverPrimaryBackgroundStartColor,$buttonHoverPrimaryBackgroundEndColor);}
	.mul-btn-primary:active							{@include background-gradient($buttonActivePrimaryBackgroundStartColor,$buttonActivePrimaryBackgroundEndColor);}
	.mul-btn-primary:focus							{@include background-gradient($buttonFocusPrimaryBackgroundStartColor,$buttonFocusPrimaryBackgroundEndColor);}
	.mul-btn-primary.mul-btn-disabled,
	.mul-btn-primary[disabled]						{
													@include ie-gradient-reset-filter;
													background-image: none;
													background-color: $buttonPrimaryDisabledBackgroundColor;
													border-color: $buttonPrimaryDisabledBorderColor;
													color: $buttonPrimaryDisabledFontColor;
		&:hover											{border-color: $buttonPrimaryDisabledBorderColor;}
													}

	// FIRST CHILD BUTTON (IN A HORIZONTAL LAYOUT OF BUTTONS)
	.mul-btn-first									{margin-left: 0;}

	// 100% WIDE BUTTON												
	.mul-btn-block									{
													display: block;
													width: 100%;
													margin-left: 0;
													margin-right: 0;
													}

	// BUTTON SIZE OPTIONS
	.mul-btn-xxx-small								{
													padding: ($buttonPaddingTopBottom/2) ($buttonPaddingLeftRight/2);
													font-size: $buttonXXXSmallFontSize;
													line-height: $buttonXXXSmallFontSize;
													}
	.mul-btn-xx-small								{
													padding: ($buttonPaddingTopBottom/1.75) ($buttonPaddingLeftRight/1.75);
													font-size: $buttonXXSmallFontSize;
													line-height: $buttonXXSmallFontSize;
													}
	.mul-btn-x-small								{
													padding: ($buttonPaddingTopBottom/1.5) ($buttonPaddingLeftRight/1.5);
													font-size: $buttonXSmallFontSize;
													line-height: $buttonXSmallFontSize;
													}
	.mul-btn-small									{
													padding: ($buttonPaddingTopBottom/1.3) ($buttonPaddingLeftRight/1.3);
													font-size: $buttonSmallFontSize;
													line-height: $buttonSmallFontSize;
													}
	.mul-btn-medium									{font-size: $buttonMediumFontSize;}
	.mul-btn-large									{
													padding: ($buttonPaddingTopBottom*1.3) ($buttonPaddingLeftRight*1.3);
													font-size: $buttonLargeFontSize;
													line-height: $buttonLargeFontSize;
													}
	.mul-btn-x-large								{
													padding: ($buttonPaddingTopBottom*1.5) ($buttonPaddingLeftRight*1.5);
													font-size: $buttonXLargeFontSize;
													line-height: $buttonXLargeFontSize;
													}
	.mul-btn-xx-large								{
													padding: ($buttonPaddingTopBottom*1.75) ($buttonPaddingLeftRight*1.75);
													font-size: $buttonXXLargeFontSize;
													line-height: $buttonXXLargeFontSize;
													}
	.mul-btn-xxx-large								{
													padding: ($buttonPaddingTopBottom*2) ($buttonPaddingLeftRight*2);
													font-size: $buttonXXXLargeFontSize;
													line-height: $buttonXXXLargeFontSize;
													}

	// SMALL BUTTON SIZES
	.mul-btn-xxx-small,
	.mul-btn-xx-small,
	.mul-btn-x-small,
	.mul-btn-small									{@include border-radius(#{$buttonBorderRadius/1.25});}

	// NO MARGIN OPTION											
	.mul-btn-nomargin								{margin-left: 0;}
													
	// BUTTON GROUP
	.mul-btn-group-vertical							{
													@include clearfix;
		.mul-btn										{
														@include border-radius(0);
														display: block;
														float: none;
														border-top: 0;
														margin-left: 0;
														}
		.mul-btn:first-child							{
														@include border-radius($buttonBorderRadius $buttonBorderRadius 0 0);
														border-top: $buttonVertGroupBorderTopSize $buttonVertGroupBorderTopStyle $buttonVertGroupBorderTopColor;
														}
		.mul-btn:last-child								{@include border-radius(0 0 $buttonBorderRadius $buttonBorderRadius);}
													}
	.mul-btn-group-horizontal						{
													@include clearfix;
		.mul-btn										{
														@include border-radius(0);
														float: left;
														margin-left: 0;
														border-top: $buttonHorzGroupBorderTopSize $buttonHorzGroupBorderTopStyle $buttonHorzGroupBorderTopColor;
														border-bottom: $buttonHorzGroupBorderBottomSize $buttonHorzGroupBorderBottomStyle $buttonHorzGroupBorderBottomColor;
														border-left: 0;
														border-right: $buttonHorzGroupBorderRightSize $buttonHorzGroupBorderRightStyle $buttonHorzGroupBorderRightColor;
														}
		.mul-btn:first-child							{
														@include border-radius($buttonBorderRadius 0 0 $buttonBorderRadius);
														border-left: $buttonHorzGroupFirstChildBorderLeftSize $buttonHorzGroupFirstChildBorderLeftStyle $buttonHorzGroupFirstChildBorderLeftColor;
														}
		.mul-btn:last-child								{@include border-radius(0 $buttonBorderRadius $buttonBorderRadius 0);}
													}

	// SPECIAL BUTTONS FOR JQUERY UI DATEPICKER
	.ui-datepicker-buttonpane						{
		.ui-state-default								{
														@extend .mul-btn;
														font-size: $buttonXXSmallFontSize;
														min-width: 52px;
														float: none;
														}

		.ui-priority-primary							{@extend .mul-btn-primary;}
		.ui-priority-primary:hover						{@extend .mul-btn-primary:hover;}
		.ui-priority-primary:focus						{@extend .mul-btn-primary:focus;}

		.ui-priority-secondary							{
														@extend .mul-btn;
														margin-left: 0;
														}
		.ui-priority-secondary:hover					{@extend .mul-btn:hover;}
		.ui-priority-secondary:focus					{@extend .mul-btn:focus;}
													}

	// SPECIAL BUTTONS FOR JQUERY UI DIALOG
	.ui-dialog-buttonpane							{
		.ui-state-default								{
														@extend .mul-btn;
			&:first-child									{margin-left: 0;}
														}
		.ui-state-default.mul-btn-primary				{@extend .mul-btn-primary;}
		.ui-state-default[disabled]						{@extend .mul-btn.mul-btn-disabled;}
		.ui-state-default.mul-btn-primary[disabled]		{@extend .mul-btn-primary.mul-btn-disabled;}
													}

	// CORE BUTTON IE9 FIXES
	.ie9											{
		.mul-btn										{border-radius: $baseBorderRadiusIE;}

		.mul-btn-group-vertical							{
			.mul-btn:first-child							{border-radius: $baseBorderRadiusIE;}
			.mul-btn:last-child								{border-radius: $baseBorderRadiusIE;}
														}
									
		.mul-btn-group-horizontal						{
			.mul-btn:first-child							{border-radius: $baseBorderRadiusIE;}
			.mul-btn:last-child								{border-radius: $baseBorderRadiusIE;}
														}
													}

	//=== MEDIA QUERIES =========================================================================

	// Portrait iPad, portrait tablets, Low-resolution laptops and desktops, Landscape iPad, laptops and desktops
	@if $use-medium-mediaquery == true or $use-large-mediaquery == true {
		
		@include media-query(screen, min, $mediumMediaQueryBreakpointMin, "") {

			// CORE BUTTON SETUP
			.mul-btn								{
													margin-left: $fluidGridColumnWidth;
													margin-bottom: 0;
													padding: $buttonPaddingTopBottomLargeBreakpoint $buttonPaddingLeftRightLargeBreakpoint;
													min-width: $buttonMinWidthLargeBreakpoint;
													font-size: $buttonFontSizeLargeBreakpoint;
													line-height: $buttonLineHeightLargeBreakpoint;
													}

			// FIRST CHILD BUTTON (IN A HORIZONTAL LAYOUT OF BUTTONS)
			.mul-btn-first							{margin-left: 0;}

			// BUTTON SIZE OPTIONS
			.mul-btn-xxx-small						{
													padding: ($buttonPaddingTopBottomLargeBreakpoint/2) ($buttonPaddingLeftRightLargeBreakpoint/2);
													min-width: ($buttonMinWidthLargeBreakpoint/2.25);
													font-size: $buttonXXXSmallFontSizeLargeBreakpoint;
													line-height: $buttonXXXSmallFontSizeLargeBreakpoint;
													}
			.mul-btn-xx-small						{
													padding: ($buttonPaddingTopBottomLargeBreakpoint/1.75) ($buttonPaddingLeftRightLargeBreakpoint/1.75);
													min-width: ($buttonMinWidthLargeBreakpoint/1.75);
													font-size: $buttonXXSmallFontSizeLargeBreakpoint;
													line-height: $buttonXXSmallFontSizeLargeBreakpoint;
													}
			.mul-btn-x-small						{
													padding: ($buttonPaddingTopBottomLargeBreakpoint/1.5) ($buttonPaddingLeftRightLargeBreakpoint/1.5);
													min-width: ($buttonMinWidthLargeBreakpoint/1.5);
													font-size: $buttonXSmallFontSizeLargeBreakpoint;
													line-height: $buttonXSmallFontSizeLargeBreakpoint;
													}
			.mul-btn-small							{
													padding: ($buttonPaddingTopBottomLargeBreakpoint/1.3) ($buttonPaddingLeftRightLargeBreakpoint/1.3);
													min-width: ($buttonMinWidthLargeBreakpoint/1.25);
													font-size: $buttonSmallFontSizeLargeBreakpoint;
													line-height: $buttonSmallFontSizeLargeBreakpoint;
													}
			.mul-btn-medium							{font-size: $buttonMediumFontSizeLargeBreakpoint;}
			.mul-btn-large							{
													padding: ($buttonPaddingTopBottomLargeBreakpoint*1.3) ($buttonPaddingLeftRightLargeBreakpoint*1.3);
													min-width: ($buttonMinWidthLargeBreakpoint*1.25);
													font-size: $buttonLargeFontSizeLargeBreakpoint;
													line-height: $buttonLargeFontSizeLargeBreakpoint;
													}
			.mul-btn-x-large						{
													padding: ($buttonPaddingTopBottomLargeBreakpoint*1.5) ($buttonPaddingLeftRightLargeBreakpoint*1.5);
													min-width: ($buttonMinWidthLargeBreakpoint*1.5);
													font-size: $buttonXLargeFontSizeLargeBreakpoint;
													line-height: $buttonXLargeFontSizeLargeBreakpoint;
													}
			.mul-btn-xx-large						{
													padding: ($buttonPaddingTopBottomLargeBreakpoint*1.75) ($buttonPaddingLeftRightLargeBreakpoint*1.75);
													min-width: ($buttonMinWidthLargeBreakpoint*1.75);
													font-size: $buttonXXLargeFontSizeLargeBreakpoint;
													line-height: $buttonXXLargeFontSizeLargeBreakpoint;
													}
			.mul-btn-xxx-large						{
													padding: ($buttonPaddingTopBottomLargeBreakpoint*2) ($buttonPaddingLeftRightLargeBreakpoint*2);
													min-width: ($buttonMinWidthLargeBreakpoint*2);
													font-size: $buttonXXXLargeFontSizeLargeBreakpoint;
													line-height: $buttonXXXLargeFontSizeLargeBreakpoint;
													}

			// SPECIAL BUTTONS FOR JQUERY UI DATEPICKER
			.ui-datepicker-buttonpane				{
				.ui-state-default						{font-size: $buttonXXSmallFontSizeLargeBreakpoint;}
													}

		}
		
	}// endif

}//endif