//-------------------------------------------------------------------------------------------
// Mercer Evolution - Core v2.6 - Base Buttons Partial
// DATE - January 13, 2015
// AUTHOR - Doug Fraize, Matthew Holmes, Doug Richar, Vinod Bhatt
//-------------------------------------------------------------------------------------------

@if $use-buttons == true{

	//
	// @variables
	//

	$evo-button-min-width: 100 !default;
	$evo-button-font-color-visited:	$button-font-color !default;
	$evo-button-font-color-alt-visited: $button-font-color-alt !default;


	// CORE BUTTON SETUP
	.evo-btn 						{
									@include button;
									min-width: rem-calc($evo-button-min-width);
		&:visited						{
										color: $evo-button-font-color-visited;
										}
		&.secondary						{
			&:visited						{
											color: $evo-button-font-color-alt-visited;
											}
										}
									}

	// SPECIAL BUTTONS FOR JQUERY UI DATEPICKER
	.ui-datepicker-buttonpane		{
		.ui-state-default				{
										@extend .evo-btn;
										font-size: $button-font-tny;
										min-width: 52px;
										}
									}

	//=== MEDIA QUERIES =========================================================================

	// MEDIUM MEDIA QUERY RANGE AND UP - 641px +
	@if $use-medium-up-mediaquery == true {
		
		@media #{$medium-up} {

			

		}
		
	}// endif

}//endif