//-------------------------------------------------------------------------------------------
// Mercer Evolution - Core v2.7 - Base Form Partial
// DATE - June 3, 2015
// AUTHOR - Doug Fraize, Matthew Holmes
//-------------------------------------------------------------------------------------------

//
// @variables
//
$evo-base-input-shadow-color: $gray-lighter !default;
$evo-input-focus-border-color: $sapphire-light !default;
$evo-form-placholder-font-color: #AAA !default;


@if $use-forms == true{

	[data-abide]			{
		.error					{
			label					{color: $garnet-dark;}
			input,
			select,
			textarea				{border-color: $garnet-dark;}
			input + label			{color: $body-font-color;}
								}
							}

	form					{
		.button					{
			@media #{$small-up}		{margin-top: 3px;}
			@media #{$medium-up}	{margin-top: 8px;}
			@media #{$large-up}		{margin-top: 13px;}
								}
		.evo-datepicker-first	{padding-left: 0 !important;}
		.evo-datepicker-last	{padding-right: 0 !important;} /* TODO: Verify is this is the right way to do this - form.scss*/
							}

	input[type="text"],
	input[type="password"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="url"],
	input[type="search"],
	input[type="tel"],
	input[type="color"],
	input[type="text"][readonly],
	select,
	textarea				{
							background-color: $white;
							@include block-glowing-effect($glowing-effect-color: $evo-input-focus-border-color);
		&:hover					{
								background-color: $white;
								border-color: $sapphire-light;
								}
		&:focus					{outline: 0;}
							}

	// GLOBAL FORM ELEMENTS
	input[type="text"],
	input[type="password"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="url"],
	input[type="search"],
	input[type="tel"],
	input[type="color"],
	select,
	textarea										{
													@include border-radius($global-radius);
													@include box-shadow(inset 0, 1px, 1px, $evo-base-input-shadow-color);
													font-family: $evo-font-regular-stack;
													margin-top: rem-calc(3);
													}

	label											{
													font-family: $evo-font-medium-family;
													//font-weight: bold;
													font-size: rem-calc(17);
													/* TODO: Make sure this is the correct place for this. */
		small											{
			[class^="evo-icon-"]							{color: $garnet-dark !important;}
														}
													}

	input[type="hidden"]							{display: none;}

	input[type="radio"],
	input[type="checkbox"]							{
													margin-bottom: rem-calc(18);
													position: relative;
													}

	input[type="checkbox"]							{top: rem-calc(-0.6);}

	input[type="radio"] + label,
	input[type="checkbox"] + label					{
													color: $gray-dark !important; /* TODO: FInd this in the override vars */
													font-family: $evo-font-regular-family;
													font-weight: normal;
													margin-left: rem-calc(.5);
													}


	// PLACEHOLDER
	
	// Webkit
	::-webkit-input-placeholder						{color: $evo-form-placholder-font-color; font-weight: normal !important;}

	// Firefox 4-18
	:-moz-placeholder								{color: $evo-form-placholder-font-color; font-weight: normal !important;}

	// Firefox 19+
	::-moz-placeholder								{color: $evo-form-placholder-font-color; font-weight: normal !important;}

	// IE10+
	:-ms-input-placeholder							{color: $evo-form-placholder-font-color !important; font-weight: normal !important;}
	
	// IE9
	.placeholder									{color: $evo-form-placholder-font-color !important; font-weight: normal !important;}

	//=== MEDIA QUERIES =========================================================================

	// REMOVE ZOOM OF FORMS ELEMENTS ON IOS DEVICES
	@media screen and (-webkit-min-device-pixel-ratio:0) { 
		select:focus,
		textarea:focus,
		input:focus 								{
													font-size: rem-calc(16);
													}
	}

	// SMALL MEDIA QUERY RANGE - 0 - 640px
	@if $use-small-only-mediaquery == true {
		
		@media #{$small-only} {

			

		}

	}//endif

	// MEDIUM MEDIA QUERY RANGE AND UP - 641px +
	@if $use-medium-up-mediaquery == true {
		
		@media #{$medium-up} {



		}
		
	}// endif

}//endif