//-------------------------------------------------------------------------------------------
// Mercer Evolution - Core v2.5 - Base Hero Banner Partial
// DATE - June 13, 2014
// AUTHOR - Doug Fraize, Matthew Holmes, Vinod Bhatt
//-------------------------------------------------------------------------------------------

@if $use-hero-banner == true{

	// HERO BANNER
	.mul-hero-banner				{
		.mul-hero-banner-adjust			{
										padding: 0;
			.mul-hero-banner-content-ctn	{
				.mul-box						{border: 0;}
				img								{display: block;}
				.mul-carousel.owl-carousel		{
												margin-bottom: 0;
					.owl-controls					{padding: 0 $gridSiteGutterPadding;}
												}
											}
										}
									}

	// HERO BANNER - FULL WIDTH
	.mul-hero-banner-full-width		{
		.mul-hero-banner-adjust			{max-width: 100%;}
									}

	//=== MEDIA QUERIES =========================================================================

	// Portrait iPad, portrait tablets, Low-resolution laptops and desktops, Landscape iPad, laptops and desktops
	@if $use-medium-mediaquery == true or $use-large-mediaquery == true {
		
		@include media-query(screen, min, $mediumMediaQueryBreakpointMin, "") {

			// HERO BANNER
			.mul-hero-banner		{
				.mul-hero-banner-adjust	{
										padding: 0 $gridSiteGutterPadding;
					.mul-hero-banner-content-ctn
											{
						.mul-carousel.owl-carousel
												{
							.owl-controls			{padding: 0;}
												}
											}
										}
									}

			// HERO BANNER - FULL WIDTH
			.mul-hero-banner-full-width
									{
				.mul-hero-banner-adjust	{
										padding: 0;
					.mul-hero-banner-content-ctn
											{
						.mul-carousel.owl-carousel
												{
							.owl-controls			{padding: 0 $gridSiteGutterPadding;}
												}
						.mul-hero-banner-full-width-content-adjust
												{
												margin: 0 auto;
												padding: 0 $gridSiteGutterPadding;
												width: $gridWidth;

												// If using 980 width layout
												@if $use-grid-980 == true{
													max-width: $gridMaxWidth980;
												}
											
												// If using 1200 width layout
												@if $use-grid-1200 == true{
													max-width: $gridMaxWidth1200;
												}
											
												}
											}
										}
									}

		}
		
	}// endif

}// endif