//-------------------------------------------------------------------------------------------
// Mercer Evolution - Core v2.7 - Base Lists Partial
// DATE - June 3, 2015
// AUTHOR - Doug Fraize, Matthew Holmes
//-------------------------------------------------------------------------------------------


@if $use-lists == true{

	// DATA LISTS
	.evo-data-list-ctn						{margin: 0 0 $evo-base-margin 0;}
	.evo-data-list							{
											list-style: none;
											margin: 0;
											padding: 0;
		dt										{
												margin: 0 0 10px 0;
												padding: 0 0 4px 0;
												color: $definitionListHeaderColor;
												border-bottom: 1px solid $definitionDataListHeaderBorderColor;
												}
		dd, li									{
												margin-bottom: 6px;
												margin-left: 0;
			.evo-data-list-label					{
													font-family: $evo-font-medium-stack;
													padding: 0;
													margin: 0;
													}
			.evo-data-list-label,
			.evo-data-list-item						{display: block;}
												}
											}

	.evo-data-list-bulleted					{
		dd, li									{
												display: list-item;
												list-style: disc;
												margin-left: 18px;
												}
											}

	//=== MEDIA QUERIES =========================================================================

	// MEDIUM MEDIA QUERY RANGE AND UP - 641px +
	@if $use-medium-up-mediaquery == true {
		
		@media #{$medium-up} {

		}
		
	}// endif

}// endif