//-------------------------------------------------------------------------------------------
// Mercer Evolution - Core v2.5 - Base Lists Partial
// DATE - June 13, 2014
// AUTHOR - Doug Fraize, Matthew Holmes, Vinod Bhatt
//-------------------------------------------------------------------------------------------

@if $use-lists == true{

	// HORIZONTAL LISTS
	.mul-horizontal-list					{
											padding: 0;
											margin: 0;
		dt										{color: $definitionListHeaderColor;}
		dd, li									{
												display: block;
												padding: 0;
												margin: 0;
			a										{
				&:link									{@include href-link($baseLinkColor, none);}
				&:hover									{@include href-link-hover(underline);}
													}
												}
											}

	.mul-horizontal-list-piped				{
		dt										{padding: 0 0 6px 0;}
		dd, li									{
												border-top: 1px solid $horizontalListPipeBorderColor;
												padding: 6px 0;
			&:first-child							{
													padding-top: 0;
													border-top: 0;
													}
			&:last-child							{padding-bottom: 0;}
												}
											}

	// VERTICAL LISTS
	.mul-vertical-list						{
											padding: 0;
											margin: 0;
		dt										{
												margin: 0 0 6px 0;
												color: $definitionListHeaderColor;
												}
		dd, li									{
												list-style-type: none;
												line-height: $verticalListLineHeight;
												margin: 0 0 6px 0;
												padding: 0;
			a										{
				&:link									{@include href-link($baseLinkColor, none);}
				&:hover									{@include href-link-hover(underline);}
													}
												}
											}

	.mul-vertical-list-bulleted				{
											@extend .mul-vertical-list;
		dd, li									{
												display: list-item;
												list-style: disc;
												margin-left: 18px;
												}
											}

	// DATA LISTS
	.mul-data-list-ctn						{margin: 0 0 $baseMargin 0;}
	.mul-data-list							{
											list-style: none;
											margin: 0;
											padding: 0;
		dt										{
												margin: 0 0 10px 0;
												padding: 0 0 4px 0;
												color: $definitionListHeaderColor;
												border-bottom: 1px solid $definitionDataListHeaderBorderColor;
												}
		dd, li									{
												line-height: $dataListLineHeight;
												margin-bottom: 6px;
												margin-left: 0;
			.mul-data-list-label					{
													font-family: $proximaNovaSemiBoldStack;
													padding: 0;
													margin: 0;
													}
			.mul-data-list-label,
			.mul-data-list-item						{display: block;}
												}
											}

	.mul-data-list-bulleted					{
		dd, li									{
												display: list-item;
												list-style: disc;
												margin-left: 18px;
												}
											}

	//=== MEDIA QUERIES =========================================================================

	// Portrait iPad, portrait tablets, Low-resolution laptops and desktops, Landscape iPad, laptops and desktops
	@if $use-medium-mediaquery == true or $use-large-mediaquery == true {
		
		@include media-query(screen, min, $mediumMediaQueryBreakpointMin, "") {

			// HORIZONTAL LISTS
			.mul-horizontal-list			{
				dt, dd, li						{
												display: inline-block;
												margin: 0 5px 0 0;
												}
											}

			.mul-horizontal-list-piped		{
				dt								{padding: 0;}
				dd, li							{
												border-top: 0;
												border-left: 1px solid $horizontalListPipeBorderColor;
												padding: 0 0 0 8px;
					&:first-child,
					&.mul-first-child				{
													border-left: 0;
													padding-left: 0;
													}
												}
											}

			// VERTICAL LISTS
			.mul-vertical-list				{
				dd, li							{line-height: $verticalListLineHeightLargeBreakpoint;}
											}

			// DATA LISTS
			.mul-data-list					{
				dd, li							{
												line-height: $dataListLineHeightLargeBreakpoint;
												margin-bottom: 0;
					.mul-data-list-label			{padding-right: 5px;}
					.mul-data-list-label,
					.mul-data-list-item				{display: inline-block;}
												}
											}

			// DATA LISTS HELPERS
			.mul-data-list-stacked			{
				dd, li							{
												margin-bottom: 6px;
					.mul-data-list-label,
					.mul-data-list-item				{display: block;}
												}
											}

		}
		
	}// endif

}// endif