//-------------------------------------------------------------------------------------------
// Mercer Evolution - Core v2.5 - Base Menus Partial
// DATE - June 13, 2014
// AUTHOR - Doug Fraize, Matthew Holmes, Vinod Bhatt
//-------------------------------------------------------------------------------------------

@if $use-menus == true{

	// MEGA MENU - BEGINS
		li.mul-mega-menu{
			.sub-arrow		{display: none !important;}
			a.highlighted	{
				[class*="mul-icon"]
								{
								@include border-radius($headerIconRadius $headerIconRadius 0 0);
								padding-bottom: 12px;
								margin-bottom: -10px;
								}
							}
			.mega-menu		{
							@include box-shadow(0, 0, 0, $white);
							@include border-radius(0);
							@include clearfix;
							background-color: $megaMenuBackgroundColor !important;
							border: 0;
							border-top-width: 4px;
							border-top-style: solid;
							border-bottom-width: 4px;
							border-bottom-style: solid;

		// MEGA MENU CONTENT - BEGINS
			.mul-mega-menu-adjust
								{
								border-top-style: none;
				.mul-mega-menu-ctn	{
									@include clearfix;
									margin: 0 auto;
									padding: $basePadding;
									width: $gridWidth;

										// If using 980 width layout
										@if $use-grid-980 == true{
											max-width: $gridMaxWidth980;
										}
										
										// If using 1200 width layout
										@if $use-grid-1200 == true{
											max-width: $gridMaxWidth1200;
										}

				// SPOTLIGHT CONTAINER - BEGINS
					.mul-mega-menu-spotlight-ctn
										{
										@include clearfix;
										@include border-radius($megaMenuContainerSpotlightBorderRadius);
										background-color: $gray-darkest; //THEME
										padding: $basePadding;
						.mul-horizontal-list
											{
							dd					{
												margin-left: 0;
								&:first-child		{
													margin-left: 0;
									a					{padding-top: 0;}
													}
								a					{
													color: #72BE44; //THEME
													padding: $basePadding 0 0 0;
									[class*="mul-icon"]	{
														background-color: $transparent; //THEME
														color: #72BE44; //THEME
														padding: 0;
														width: auto;
														min-width: 10px;
														}
									&:hover				{
														background-color: $transparent; //THEME
										[class*="mul-icon"]	{color: #72BE44;} //THEME
														}
													}
												}
											}
										}
				// SPOTLIGHT CONTAINER - ENDS

									}

				.mul-mega-menu-groups
									{
					dt					{
										color: $megaMenuContentFontColor;
										margin-bottom: 0;
										}
					dd					{
										margin: 0;
										border-top: 1px dotted $gray-mid-dark; //THEME
						&:last-child		{border-bottom: 1px dotted $gray-mid-dark;} //THEME
						a					{
											color: $megaMenuContentFontColor; //THEME
											line-height: 30px;
											padding: 0 !important;
							&:hover				{
												background-color: $transparent;
												text-decoration: underline;
												}
											}
										}
									}
								}
		// MEGA MENU CONTENT - ENDS
							}
						}
	// MEGA MENU - ENDS

	// MENU STYLES - BEGINS
		.mul-nav-menus	{
						direction: ltr;
						height: auto;
						line-height: normal;
						margin: 0;
						width: auto;
						-webkit-tap-highlight-color: rgba(0,0,0,0);
			li				{
							display: block;
							width: 100%;
							margin: 0;
				a				{
								display: block;
								padding: $menuLinkPadding;
								position: relative;
								text-decoration: none;
				// DEFAULT ARROW - BEGINS
					.sub-arrow		{
									position: absolute;
									right: 10px;
									top: 7px;
									width: 16px;
									height: 16px;
						&:before		{
										content: "\e360"; // PLUS ICON
										font-family: $mulIconFontStack;
										}
									}
				// DEFAULT ARROW - ENDS
								}
					ul			{
								@include clearfix;
								background: rgba(100,100,100,0.1);
								height: auto;
								display: none;
								position: static;
								top: auto !important;
								left: auto !important;
								width: auto !important;
								min-width: 0 !important;
								max-width: none !important;
								float: none !important;

						>li			{
									border-left: 0;
									border-right: 0;
									border-bottom: 0;
									border-top-width: 1px;
									border-top-style: dotted;

							&:last-child
										{
								a			{@include border-radius(0 0 $baseBorderRadius $baseBorderRadius);}
										}
							a			{
										display: block;
										font-family: $fontRegularFamily;
										padding-left: 17px;
						// DEFAULT ARROW - BEGINS
							.sub-arrow		{
								&:before		{content: "\e360";} // RIGHT ARROW
											}
						// DEFAULT ARROW - ENDS
										}
									}
								}
							}
						}
	// MENU STYLES - ENDS

}// endif


//=== MEDIA QUERIES =========================================================================

@if $use-small-mediaquery == true {
	
	// Portrait iPhone, landscape iPhone, portrait smart phones, Nook/Kindle/Kindle Fire
	@include media-query(screen, max, "", $smallMediaQueryBreakpointMax) {

	// MENU STYLES - BEGINS
		.mul-nav-menus	{
			li				{
				a				{}
				ul				{
								margin-left: 0 !important;
								margin-top: 0 !important;
					>li				{
						a				{}
									}
								}
							}
						}
	// MENU STYLES - ENDS

	}// endif

}// endif


// Portrait iPad, portrait tablets, Low-resolution laptops and desktops, Landscape iPad, laptops and desktops
@if $use-medium-mediaquery == true or $use-large-mediaquery == true {
	
	@include media-query(screen, min, $mediumMediaQueryBreakpointMin, "") {

	// MEGA MENU - BEGINS
		li.mul-mega-menu{
						position: static !important;
			ul.mega-menu	{
							margin-left: 0 !important;
							min-width: 0 !important;
							max-width: none !important;
							right: 0 !important;
							width: 100% !important;
							margin-top: 8px !important;

			// MEGA MENU CONTENT - BEGINS
				.mul-mega-menu-adjust
									{
					.mul-mega-menu-ctn	{

					// SPOTLIGHT CONTAINER - BEGINS
						.mul-mega-menu-spotlight-ctn
											{
							.mul-horizontal-list
												{
								dd					{
													margin-left: $baseMargin;
									&:first-child		{}
									a					{
														padding-top: 0;
										[class*="mul-icon"]	{}
										&:hover				{
											[class*="mul-icon"]	{}
															}
														}
													}
												}
											}
					// SPOTLIGHT CONTAINER - ENDS
										}

					.mul-mega-menu-groups
										{
						dt					{}
						dd					{
											border-top: 0;
							&:last-child		{border-bottom: 0;}
							a					{
												padding-top: 0;
								&:hover				{}
												}
											}
										}
									}
			// MEGA MENU CONTENT - ENDS
							}
						}
	// MEGA MENU - ENDS

	// MENU STYLES - BEGINS
		.mul-nav-menus	{
			li				{
							direction: ltr;
							float: left;
							line-height: normal;
							margin: 0;
							position: relative;
							width: auto;
				a				{
					// DEFAULT ARROW - BEGINS
						.sub-arrow	{
									position: relative;
									left: 0;
									right: -4px;
									top: 2px;
							&:before	{
										font-family: $mulIconFontStack;
										content: "\e3c2"; // DOWN ARROW
										}
									}
					// DEFAULT ARROW - ENDS
					&:hover			{@include transition(background-color 0.3s ease-in-out);}
								}
				ul				{
								@include box-shadow(0, 2px, 5px, $menuDropShadowColor);
								@include border-radius(0 0 4px 4px);
								@include clearfix;
								border-width: 1px;
								border-style: solid;
								direction: ltr;
								line-height: normal;
								margin: 0;
								min-width: 100px !important;
								max-width: 225px !important;
								position: absolute;
								top: -999999px;
								z-index: $zindexMenu;
								height: auto;
					>li				{
									border-left: 0;
									border-right: 0;
									float: none;
						&:first-child	{border-top: 0;}
							a			{
										border-left: 0;
										display: block;
										font-family: $fontRegularFamily;
										position: relative;
										white-space: nowrap;
										width: 100%;
							// DEFAULT ARROW - BEGINS
								.sub-arrow	{
											position: absolute;
											top: 50%;
											right: 0;
											left: auto;
											margin-top: -6px;
									&:before	{content: "\e3c1";} // RIGHT ARROW
											}
							// DEFAULT ARROW - ENDS
										}
									}
								}
							}
						}


		nav.mul-text-nav
						{
			.mul-nav-menus	{
				> li			{
					> .has-submenu + ul
									{margin-top: 9px !important;}
								}
				li				{					
					ul.mega-menu	{margin-top: 9px !important;}
								}
							}
						}
	// MENU STYLES - ENDS

	}// endif

}// endif