//-------------------------------------------------------------------------------------------
// Mercer Evolution - Core v2.5 - Base Menus Partial
// DATE - June 13, 2014
// AUTHOR - Doug Fraize, Matthew Holmes, Vinod Bhatt
//-------------------------------------------------------------------------------------------

@if $use-menus == true{

	// NAVBAR STYLES - BEGINS
		.mul-navbar		{
			.mul-navbar-adjust
							{
				.mul-tabbed-nav,
				.mul-text-nav
								{
					.mul-nav-menus	{
direction: ltr;
									height: auto;
line-height: normal;
margin: 0;
									width: auto;
-webkit-tap-highlight-color: rgba(0,0,0,0);


						li				{
										display: block;
										width: 100%;
margin: 0;
						// DEFAULT ARROW - BEGINS
							.sub-arrow		{
											position: relative;
											right: -4px;
											top: 3px;
											width: 16px;
											height: 16px;
								&:before		{
												font-family: $mulIconFontStack;
												content: "\e3c2"; // DOWN ARROW
												}
											}
						// DEFAULT ARROW - ENDS
							a				{
											display: block;
padding: 7px 10px;
text-decoration: none;
											}
							ul				{
											@include clearfix;
background: rgba(100,100,100,0.1);
											//border: 1px solid $gray-mid-dark;
											height: auto;
display: none;
position: static;
top: auto !important;
left: auto !important;
width: auto !important;
min-width: 0 !important;
max-width: none !important;
float: none !important;

								>li				{
												border-left: 0;
												border-right: 0;
												border-top: 1px dotted $gray-mid-light;

									&:first-child	{border-top: 0;}
									&:last-child	{
										a				{@include border-radius(0 0 4px 4px);}
													}
									a				{
													display: block;
													font-family: $fontRegularFamily;
													padding-left: 17px;
													}
								// PADDING LEFT FOR MENUS - BEGINS
									ul					{
										li					{
											a					{padding-left: 24px;}
											ul					{
												li					{
													a					{padding-left: 31px;}
													ul					{
														li					{
															a					{padding-left: 38px;}
															ul					{
																li					{
																	a					{padding-left: 45px;}
																					}
																				}
																			}
																		}
																	}
																}
															}
														}
								// PADDING LEFT FOR MENUS - BEGINS
												}
								.has-submenu	{
								// DEFAULT ARROW - BEGINS
									.sub-arrow		{
													position: absolute;
													top: 50%;
													right: 0;
													margin-top: -6px;
										&:before		{content: "\e3c1";} // RIGHT ARROW
													}
								// DEFAULT ARROW - ENDS
												}
											}
										}

				// MEGA MENU - BEGINS
						li.mul-mega-menu{
										position: static !important;

							ul.mega-menu	{
											margin-left: 0 !important;
											min-width: 0 !important;
											max-width: none !important;
											right: 0 !important;
											width: 100% !important;
											height: auto;

											@include box-shadow(0, 0, 0, $white);
											@include border-radius(0);
											@include clearfix;
											background-color: $gray-light;
											border: 0;
											border-top: 4px solid $gray-mid-dark;
											border-bottom: 4px solid $gray-mid-dark;

						// MEGA MENU CONTENT - BEGINS
							.mul-mega-menu-adjust
												{
												@include clearfix;
												margin: 0 auto;
												padding: $basePadding $basePadding 0 $basePadding;
												width: $gridWidth;

													// If using 980 width layout
													@if $use-grid-980 == true{
														max-width: $gridMaxWidth980;
													}
													
													// If using 1200 width layout
													@if $use-grid-1200 == true{
														max-width: $gridMaxWidth1200;
													}
												}
						// MEGA MENU CONTENT - ENDS
											}
										}
				// MEGA MENU - ENDS

									}
								}

				nav.mul-text-nav
								{
					.mul-nav-menus		{
						> li			{
							> .has-submenu + ul	{margin-top: 9px !important;}
										}
						li				{					
							ul.mega-menu	{margin-top: 9px !important;}
										}

									}
								}

							}
						}
	// NAVBAR STYLES - ENDS

}// endif


//=== MEDIA QUERIES =========================================================================

@if $use-small-mediaquery == true {
	
	// Portrait iPhone, landscape iPhone, portrait smart phones, Nook/Kindle/Kindle Fire
	@include media-query(screen, max, "", $smallMediaQueryBreakpointMax) {

	// NAVBAR STYLES - BEGINS
		.mul-navbar		{
			.mul-navbar-adjust
							{
				nav.mul-tabbed-nav,
				nav.mul-text-nav
								{
					.mul-nav-menus		{
						li				{
							ul				{
											margin-left: 0 !important;
											margin-top: 0 !important;
											}
										}
									}
								}
							}
						}
	// NAVBAR STYLES - ENDS

	}// endif

}// endif


// Portrait iPad, portrait tablets, Low-resolution laptops and desktops, Landscape iPad, laptops and desktops
@if $use-medium-mediaquery == true or $use-large-mediaquery == true {
	
	@include media-query(screen, min, $mediumMediaQueryBreakpointMin, "") {

	// NAVBAR STYLES - BEGINS
		.mul-navbar		{
			.mul-navbar-adjust
							{
				nav.mul-tabbed-nav,
				nav.mul-text-nav
								{
					.mul-nav-menus		{
						li				{
										width: auto;
										margin: 0;
										line-height: normal;
										direction: ltr;
										position: relative;
										float: left;
						// DEFAULT ARROW - BEGINS
							.sub-arrow		{
											position: relative;
											right: -4px;
											top: 3px;
											width: 16px;
											height: 16px;
								&:before		{
												font-family: $mulIconFontStack;
												content: "\e3c2"; // DOWN ARROW
												}
											}
						// DEFAULT ARROW - ENDS
							ul				{
											@include box-shadow(0, 2px, 5px, $gray-mid-dark);
											@include border-radius(0 0 4px 4px);
											@include clearfix;
											background-color: $white;
											border: 1px solid $gray-mid-dark;
											height: auto;
											margin: 0;
											line-height: normal;
											direction: ltr;
											position: absolute;
											top: -999999px;
											width: 100px;
											z-index: 10000;
								>li				{
												border-left: 0;
												border-right: 0;
												border-top: 1px dotted $gray-mid-light;
												float: none;
									&:first-child	{border-top: 0;}
									&:last-child	{
										a				{@include border-radius(0 0 4px 4px);}
													}
									a				{
													border-left: 0;
													display: block;
													font-family: $fontRegularFamily;
													position: relative;
													white-space: nowrap;
													}
												}
								.has-submenu	{
								// DEFAULT ARROW - BEGINS
									.sub-arrow		{
													position: absolute;
													top: 50%;
													right: 0;
													margin-top: -6px;
										&:before		{content: "\e3c1";} // RIGHT ARROW
													}
								// DEFAULT ARROW - ENDS
												}
											}
										}

							ul				{
											@include clearfix;
											height: auto;


								>li				{
									a				{
display: block;
width: 100%;
													}
												}

											}

				// MEGA MENU - BEGINS
						li.mul-mega-menu{
										position: static !important;

							ul.mega-menu	{
											margin-left: 0 !important;
											min-width: 0 !important;
											max-width: none !important;
											right: 0 !important;
											width: 100% !important;
											height: auto;

											@include box-shadow(0, 0, 0, $white);
											@include border-radius(0);
											@include clearfix;
											background-color: $gray-light;
											border: 0;
											border-top: 4px solid $gray-mid-dark;
											border-bottom: 4px solid $gray-mid-dark;

						// MEGA MENU CONTENT - BEGINS
							.mul-mega-menu-adjust
												{
												@include clearfix;
												margin: 0 auto;
												padding: $basePadding $basePadding 0 $basePadding;
												width: $gridWidth;

													// If using 980 width layout
													@if $use-grid-980 == true{
														max-width: $gridMaxWidth980;
													}
													
													// If using 1200 width layout
													@if $use-grid-1200 == true{
														max-width: $gridMaxWidth1200;
													}
												}
						// MEGA MENU CONTENT - ENDS
											}
										}
				// MEGA MENU - ENDS

									}
								}

				nav.mul-text-nav
								{
					.mul-nav-menus		{
						> li			{
							> .has-submenu + ul	{margin-top: 9px !important;}
										}
						li				{					
							ul.mega-menu	{margin-top: 9px !important;}
										}

									}
								}

							}
						}
	// NAVBAR STYLES - ENDS

	}// endif

}// endif