//-------------------------------------------------------------------------------------------
// Mercer Evolution - Core v2.5 - Base Navigation Partial
// DATE - June 13, 2014
// AUTHOR - Doug Fraize, Matthew Holmes, Vinod Bhatt
//-------------------------------------------------------------------------------------------

@if $use-nav == true{

	// NAVBAR - BEGINS
		.mul-navbar			{
							display: none;
			.mul-navbar-adjust	{
				nav					{
					li					{
						a					{
							.mul-user-identifier-support-text
												{display: block;}
											}
										}
									}
								}
							}
	// NAVBAR - ENDS


	//=== MEDIA QUERIES =========================================================================

	// Portrait iPad, portrait tablets, Low-resolution laptops and desktops, Landscape iPad, laptops and desktops
	@if $use-medium-mediaquery == true or $use-large-mediaquery == true {
		
		@include media-query(screen, min, $mediumMediaQueryBreakpointMin, "") {

			.mul-navbar			{
								@include background-gradient($gray-lightest, $gray-mid-light); //THEME
								@include clearfix;
								border-bottom: $navbarBorderBottomWidth $navbarBorderBottomStyle $gray-mid-dark; //THEME
								display: block;
								width: 100%;
				.mul-navbar-adjust	{
									@include clearfix;
									width: 980px;
									margin: 0 auto;
					.mul-navbar-col-1	{
						.mul-nav-menus		{display: block;}
										}

				// GENERAL NAVBAR - BEGINS
					nav					{
										@include clearfix;
						ul					{
											@include clearfix;
							li					{
												border-bottom: 0;
								&:last-child		{border-bottom: 0;}
								a					{
													display: block;
													padding: 0;
													text-decoration: none;
									&:hover				{color: #002C77;} //THEME
									.mul-user-identifier-support-text
														{display: none;}
													}
												}
						// HEADER ICON OVERRIDES - BEGINS
							.mul-header-icon	{
								a:last-child		{
									[class*="mul-icon"]	{margin-right: 0;}
													}
									a				{
													padding: 0;
										[class*="mul-icon"]
														{margin-right: 4px;}
										&:hover			{
														@include background-gradient($transparent, $transparent); //THEME
											[class*="mul-icon"]
															{color: $white;} //THEME
														}
													}
												}
						// HEADER ICON OVERRIDES - BEGINS
											}
					// MENU OVERRIDES - BEGINS
						.mul-nav-menus		{
							li					{
								ul					{
													background-color: #CCC; //THEME
									li					{
														border-top-color: #EEE; //THEME
										a					{
															@include border-radius(0);
															font-family: $fontRegularFamily;
															}
										&:last-child		{
											a					{@include border-radius(0 0 4px 4px);}
															}
														}
													}
												}
											}
					// MENU OVERRIDES - ENDS

						.mul-navbar-col-2	{
							.mul-menu-ctn		{float: right;}
							.mul-navbar-no-pipe-left
												{border-left: 0;}
											}
						.mul-navbar-message	{
											float: right;
											margin: 0;
							li					{
												border: 0 !important;
												margin: 0;
												padding: $navbarMessagePadding;
								span				{
													@include text-overflow;
													border-right: $navbarMessageBorderRightWidth $navbarMessageBorderRightStyle $gray-mid-dark; //THEME
													display: block;
													font-family: $navbarMessageFontFamily;
													padding: $navbarMessageInnerPadding;
													width: $navbarMessageWidth;
													}
												}
											}
						.mul-navbar-message-noline
											{
							li					{
								span				{border-right: 0;}
												}
											}
						.mul-navbar-message-nopadding
											{
							li					{
								span				{padding-right: 0;}
												}
											}
										}
				// GENERAL NAVBAR - ENDS

				// TEXT NAVBAR - BEGINS
					nav.mul-text-nav	{
						ul					{
							li					{
												padding: 9px 0;
												margin: 0;
								a					{
													border-left: 1px dotted $gray-mid-dark; //THEME
													padding: 2px 10px;
									&:hover				{background-color: $transparent;} //THEME
													}
								ul					{
									li					{
									// HOVER EFFECT FOR SUB-MENU - BEGINS
										a					{
											&:hover				{
																background-color: $gray-lighter; //THEME
																@include transition(background-color 0.3s ease-in-out);
																}
															}
									// HOVER EFFECT FOR SUB-MENU - ENDS
														}
													}	
								.mul-navbar-item-active	{font-family: $fontSemiBoldFamily;}
												}
											}

					// ICON STYLES OVERRIDES - BEGIN
						li.mul-header-icon	{
											border: 0 !important;
											padding: 0;
											margin: 7px 0;
								a				{
												border: 0 !important;
												padding: 0;
									[class*="mul-icon"]
													{margin-right: 4px;}
												}
							&:last-child		{
								a					{
									[class*="mul-icon"]	{margin-right: 0;}
													}
												}
											}
					// ICON STYLES OVERRIDES - END

					// MENU OVERRIDES - BEGINS
						.mul-nav-menus		{
							li					{
								ul					{
									li					{
														padding: 0;
										a					{
															border-left: 0;
															padding: 5px 10px 4px 10px;
															}
														}
													}
												}
											}
					// MENU OVERRIDES - ENDS
										}
				// TEXT NAVBAR - ENDS

				// TABBED NAVBAR - BEGINS
					nav.mul-tabbed-nav	{
						ul					{
											@include clearfix;
											margin: 0;
											padding-top: 0;
							li					{
												border-left: 1px solid $white;
												margin: 0;
								a					{
													border-left: 1px solid $gray-mid-light;
													display: block;
													font-size: 14px;
													font-family: $fontSemiBoldFamily;
									&:hover				{@include background-gradient($navActiveBackgroundStartColor, $navActiveBackgroundEndColor);}
													}
								.mul-navbar-item-active
													{@include background-gradient($navActiveBackgroundStartColor, $navActiveBackgroundEndColor);}
									ul				{
										li				{
											a				{
												&:hover			{
																@include background-gradient($transparent, $transparent);
																background-color: $gray-lighter;
																@include transition(background-color 0.3s ease-in-out);
																}
															}
														}
													}
								&:last-child		{
													border-right: 1px solid $gray-mid-light;
									a					{border-right: 1px solid $white;}
									&.mul-navbar-message{
										span				{
															border-right: 0;
															padding-right: 0;
															}
														}
													}
												}
											}
					// ICON-MENU STYLES OVERRIDES - BEGIN
						.mul-nav-menus		{
							li					{
								a					{padding: 12px 10px 11px 10px;}
								ul					{
									li					{
														border-left: 0;
										a					{
															border: 0;
															padding: 5px 10px 4px 10px;
															}
														}
													}
												}
							li.mul-header-icon	{
												border-left: 0;
												border-right: 0;
												padding: 0;
												margin: 7px 0;
									a				{
													border-left: 0;
													border-right: 0;
													padding: 0;
										[class*="mul-icon"]
														{margin-right: 4px;}
										&:hover			{@include background-gradient($transparent, $transparent);}
													}
								&:last-child		{
									a					{
										[class*="mul-icon"]	{margin-right: 0;}
														}
													}
												}
											}
					// ICON-MENU STYLES OVERRIDES - END
										}
				// TABBED NAVBAR - ENDS
									}
								}

		// NAVBAR FIXED - BEGINS
			// This class is used when the user starts to scroll, js will add this class to the navbar to create a drop shadow.
			.mul-navbar-fixed-adjust-shadow
								{@include box-shadow(0, 0, 10px, $gray-mid-dark);} //THEME
			.mul-navbar-fixed	{
								@include background-gradient-horizontal($mastheadBackgroundStartColor, $mastheadBackgroundEndColor);
								position: fixed;
								top: 0;
								left: 0;
								z-index: $zindexToolbar;

				.mul-navbar-fixed-adjust
									{
									padding: 0 5px;
									margin: 0;
									width: 100%;
					.mul-logo			{
						.mul-logo-col-2		{
											margin-top: 4px;
											margin-left: 0;
							a					{line-height: 32px;}
											}
										}

				// TEXT NAVBAR - BEGINS
					nav.mul-text-nav	{
						ul					{
							li					{
								a					{color: $white;}
								&:first-child		{
									a					{border-left: 0;}
													}
								ul					{
									li					{
										a					{color: #002C77;}
														}
													}
												}
											}
										}
				// TEXT NAVBAR - ENDS

									}
								}
		// NAVBAR FIXED - ENDS

		}
		
	}// endif

}// endif