//-------------------------------------------------------------------------------------------
// Mercer Evolution - Core v2.5 - Base Navigation Partial
// DATE - June 13, 2014
// AUTHOR - Doug Fraize, Matthew Holmes, Vinod Bhatt
//-------------------------------------------------------------------------------------------

@if $use-nav == true{

	// NAVBAR - BEGINS
		.mul-navbar			{
							display: none;
			.mul-navbar-adjust	{
				nav					{
					li					{
						a					{
							.mul-user-identifier-support-text
												{display: block;}
											}
										}
									}
								}
							}
	// NAVBAR - ENDS

	// TOOLBAR - BEGINS
		.mul-toolbar		{
							display: block;
			.mul-toolbar-adjust	{
								margin: 0;
								width: 100%;
				.mul-logo			{
									@include clearfix;
									display: block;
					.mul-logo-col-2		{margin-left: 0;}
					.mul-logo-col-3		{
										float: right;
										padding-top: 12px;
										padding-right: $gridSiteGutterPadding;
										}
									}
				.mul-navbar-col-1	{padding-left: $gridSiteGutterPadding;}
				.mul-navbar-col-2	{display: none;}
								}
							}
	// TOOLBAR - ENDS	


	//=== MEDIA QUERIES =========================================================================

	// Portrait iPad, portrait tablets, Low-resolution laptops and desktops, Landscape iPad, laptops and desktops
	@if $use-medium-mediaquery == true or $use-large-mediaquery == true {
		
		@include media-query(screen, min, $mediumMediaQueryBreakpointMin, "") {

			.mul-navbar			{
								@include clearfix;
								border-bottom-width: $navbarBorderBottomWidth;
								border-bottom-style: $navbarBorderBottomStyle;
								display: block;
								width: 100%;
				.mul-navbar-adjust	{
									@include clearfix;
									max-width: 980px;
									margin: 0 auto;
									padding: 0 $gridSiteGutterPadding;
					.mul-navbar-col-1	{
						.mul-nav-menus		{display: block;}
										}

				// GENERAL NAVBAR - BEGINS
					nav					{
										@include clearfix;
						ul					{
											@include clearfix;
							li					{
												border-bottom: 0;
								&:last-child		{border-bottom: 0;}
								a					{
													display: block;
													padding: 0;
													text-decoration: none;
									.mul-user-identifier-support-text
														{display: none;}
													}
												}
						// HEADER ICON OVERRIDES - BEGINS
							.mul-header-icon	{
								a:last-child		{
									[class*="mul-icon"]	{margin-right: 0;}
													}
									a				{
													padding: 0;
										[class*="mul-icon"]
														{margin-right: 4px;}
										&:hover			{@include background-gradient($transparent, $transparent);}
													}
												}
						// HEADER ICON OVERRIDES - BEGINS
											}
					// MENU OVERRIDES - BEGINS
						.mul-nav-menus		{
							li					{
								ul					{
									li					{
										a					{
															@include border-radius(0);
															font-family: $fontRegularFamily;
															}
										&:last-child		{
											a					{@include border-radius(0 0 4px 4px);}
															}
														}
													}
												}
											}
					// MENU OVERRIDES - ENDS

						.mul-navbar-col-2	{
							.mul-menu-ctn		{float: right;}
							.mul-navbar-no-pipe-left
												{border-left: 0;}
											}
						.mul-navbar-message	{
											float: right;
											margin: 0;
							li					{
												border: 0 !important;
												margin: 0;
												padding: $navbarMessagePadding;
								span				{
													@include text-overflow;
													border-right-style: $navbarMessageBorderRightStyle;
													border-right-width: $navbarMessageBorderRightWidth;
													display: block;
													font-family: $navbarMessageFontFamily;
													padding: $navbarMessageInnerPadding;
													width: $navbarMessageWidth;
													}
												}
											}
						.mul-navbar-message-noline
											{
							li					{
								span				{border-right: 0;}
												}
											}
						.mul-navbar-message-nopadding
											{
							li					{
								span				{padding-right: 0;}
												}
											}
										}
				// GENERAL NAVBAR - ENDS

				// TEXT NAVBAR - BEGINS
					nav.mul-text-nav	{
						ul					{
							li					{
												padding: 9px 0;
												margin: 0;
								a					{
													border-left-style: dotted;
													border-left-width: 1px;
													padding: 2px 10px;
									&:hover				{background-color: $transparent;}
													}
								ul					{
									li					{
									// HOVER EFFECT FOR SUB-MENU - BEGINS
										a					{
											&:hover				{@include transition(background-color 0.3s ease-in-out);}
															}
									// HOVER EFFECT FOR SUB-MENU - ENDS
														}
													}	
								.mul-navbar-item-active	{font-family: $fontSemiBoldFamily;}
												}
											}

					// ICON STYLES OVERRIDES - BEGIN
						li.mul-header-icon	{
											border: 0 !important;
											padding: 0;
											margin: 7px 0;
								a				{
												border: 0 !important;
												padding: 0;
									[class*="mul-icon"]
													{margin-right: 4px;}
												}
							&:last-child		{
								a					{
									[class*="mul-icon"]	{margin-right: 0;}
													}
												}
											}
					// ICON STYLES OVERRIDES - END

					// MENU OVERRIDES - BEGINS
						.mul-nav-menus		{
							li					{
								ul					{
									li					{
														padding: 0;
										a					{
															border-left: 0;
															padding: 5px 10px 4px 10px;
															}
														}
													}
												}
											}
					// MENU OVERRIDES - ENDS
										}
				// TEXT NAVBAR - ENDS

				// TABBED NAVBAR - BEGINS
					nav.mul-tabbed-nav	{
						ul					{
											@include clearfix;
											margin: 0;
											padding-top: 0;
							li					{
												border-left-width: 1px;
												border-left-style: solid;
												margin: 0;
								a					{
													border-left-width: 1px;
													border-left-style: solid;
													display: block;
													font-size: 14px;
													font-family: $fontSemiBoldFamily;
													}
									ul				{
										li				{
											a				{
												&:hover			{
																@include background-gradient($transparent, $transparent);
																@include transition(background-color 0.3s ease-in-out);
																}
															}
														}
													}
								&:last-child		{
													border-right-width: 1px;
													border-right-style: solid;
									a					{
														border-right-width: 1px;
														border-right-style: solid;
														}
									&.mul-navbar-message{
										span				{
															border-right: 0;
															padding-right: 0;
															}
														}
													}
												}
											}
					// ICON-MENU STYLES OVERRIDES - BEGIN
						.mul-nav-menus		{
							li					{
								a					{padding: 12px 10px 11px 10px;}
								ul					{
									li					{
														border-left: 0;
										a					{
															border: 0;
															padding: 5px 10px 4px 10px;
															}
														}
													}
												}
							li.mul-header-icon	{
												border-left: 0;
												border-right: 0;
												padding: 0;
												margin: 7px 0;
									a				{
													border-left: 0;
													border-right: 0;
													padding: 0;
										[class*="mul-icon"]
														{margin-right: 4px;}
										&:hover			{@include background-gradient($transparent, $transparent);}
													}
								&:last-child		{
									a					{
										[class*="mul-icon"]	{margin-right: 0;}
														}
													}
												}
											}
					// ICON-MENU STYLES OVERRIDES - END
										}
				// TABBED NAVBAR - ENDS
									}
								}

		// TOOLBAR - BEGINS
			.mul-toolbar		{
								border-bottom: 0;
				.mul-toolbar-adjust
									{
									padding: 0 5px;
									margin: 0;
									max-width: 100%;
									margin-bottom: 1px;
					.mul-logo			{
						.mul-logo-col-2		{
											margin-top: 4px;
											margin-left: 0;
							a					{line-height: 32px;}
											}
						.mul-logo-col-3		{display: none;}
										}
					.mul-navbar-col-1	{padding-left: 0;}			
					.mul-navbar-col-2	{
										display: block;
										background-color: $transparent;
										}

				// TEXT NAVBAR - BEGINS
					nav.mul-text-nav	{
						ul					{
							li					{
								&:first-child		{
									a					{border-left: 0;}
													}
												}
											}
										}
				// TEXT NAVBAR - ENDS

									}
								}
		// TOOLBAR - ENDS

		// TOOLBAR FIXED - BEGINS
			.mul-toolbar-fixed	{
								position: fixed;
								top: 0;
								left: 0;
								z-index: $zindexToolbar;
								}
		// TOOLBAR FIXED - ENDS

		}
		
	}// endif

}// endif