//-------------------------------------------------------------------------------------------
// Mercer Evolution - Core v2.7 - Base Tables Partial
// DATE - January 13, 2015
// AUTHOR - Doug Fraize, Matthew Holmes
//-------------------------------------------------------------------------------------------

// @VARS
$evo-table-border-width: rem-calc(1) !default;
$evo-table-border-style: solid !default;

$evo-table-border-header-color: #A9BCD3 !default;
$evo-table-border-color: $gray-light !default;

$evo-table-header-padding: rem-calc(9) rem-calc(10) rem-calc(8) rem-calc(10) !default;

// OPTIONS
$evo-table-row-hover-color: $topaz-light !default;

$evo-table-subheader-bg-color: #E8F0F7 !default;
$evo-table-subheader-font-color: $gray-darker !default;
$evo-table-subheader-border-color: #C3D2E5 !default;

$evo-table-subtotal-bg-color: $gray-lighter !default;
$evo-table-subtotal-font-color: $gray-darker !default;

$evo-table-total-bg-color: #E6E6E6 !default;
$evo-table-total-font-color: $black !default;


@if $use-tables == true{

	.evo-table-small-mediaquery
						{
						overflow-x: auto;
						overflow-y: hidden;
						-ms-overflow-style: -ms-autohiding-scrollbar;
						-webkit-overflow-scrolling: touch;

		.evo-table			{
							min-width: 768px;
			th					{
								border: $evo-table-border-width $evo-table-border-style $evo-table-border-header-color;
								border-left: 0;
								padding: $evo-table-header-padding;
								vertical-align: bottom;
				&:hover				{text-decoration: underline;}
				&:first-child		{border-left: $evo-table-border-width $evo-table-border-style $evo-table-border-header-color;}
				a					{
									text-decoration: none;
					&:hover				{text-decoration: underline;}
									}
								}
			td					{border: $evo-table-border-width $evo-table-border-style $evo-table-border-color;}
			td.checkbox			{width: rem-calc(30);}

			[type="checkbox"]	{
								margin: 0;
								top: rem-calc(1);
				&:focus				{font-size: rem-calc(13);}
								}

		//SUB HEADER, THIS IS USED TO GROUP SECTIONS IN A TABLE
		.evo-subheader-row		{
								background-color: $evo-table-subheader-bg-color !important;
								border: $evo-table-border-width $evo-table-border-style $evo-table-subheader-border-color;
								color: $evo-table-subheader-font-color;
								font-family: $evo-font-medium-stack;
								}

		// SUBTOTAL AND TOTAL HELPERS
		.evo-subtotal-row,
		.evo-total-row			{
								font-family: $evo-font-medium-stack;
	td								{border-top: $evo-table-border-width $evo-table-border-style $evo-table-border-color;}
								}
		.evo-subtotal-row		{
			td						{
									background-color: $evo-table-subtotal-bg-color !important;
									color: $evo-table-subtotal-font-color;
									}
								}
		.evo-total-row			{
			td						{
									background-color: $evo-table-total-bg-color !important;
									color: $evo-table-total-font-color;
									}
								}

							}

		// ADVANCED FILTER ICON PLACEMENT
		.dataTables_filter		{
			[class*="evo-icon-"]	{
									float: right;
									margin: rem-calc(9) 0 0 rem-calc(8);
									}
								}

		.evo-table-hover tbody tr:hover > td
							{background-color: $evo-table-row-hover-color;}

						}

	//=== MEDIA QUERIES =========================================================================

	// MEDIUM MEDIA QUERY RANGE AND UP - 641px +
	@if $use-medium-up-mediaquery == true {
		
		@media #{$medium-up} {

			.mul-table-small-mediaquery
									{
									width: 100%;
				> table					{min-width: 100%;}
									}

		}
		
	}// endif

}//endif