<!-- PHOTO ICONS - BEGINS -->
	<p>A library of icons gives the system more diverse use in digital and other applications. Icons can be used small, as buttons, or large, as graphic elements.</p>
	<p>Photo icons should feel human, represent genuine objects, and follow the same standards as the photography. The photo icons should evoke a sentimental feeling to represent an emotional response from Mercer (freedom, satisfaction, well-being, excitment, etc.).</p>

	<section class="row">
		<div class="small-12 text-center columns">
			<a href="/assets/docs/core/icons/evo-photo-icons.zip" class="button radius evo-button" id="" role="button" title="Download" aria-label="Download">Download</a>
		</div>
	</section>

	<h5 class="evo-spacer-margin-top-x-large">Career</h5>
	<div class="clearfix evo-spacer-margin-bottom-x-large">
		{% for i in (1..global.reference-photo-career-icon-count) %}
			<img src="/assets/images/core/icons/photo/career/photo_icon_career_{{ i }}.png" width="80" height="80" class="left" alt="" title="" />
		{% endfor %}
	</div>

	<h5>Health</h5>
	<div class="clearfix evo-spacer-margin-bottom-x-large">
		{% for i in (1..global.reference-photo-health-icon-count) %}
			<img src="/assets/images/core/icons/photo/health/photo_icon_health_{{ i }}.png" width="80" height="80" class="left" alt="" title="" />
		{% endfor %}
	</div>

	<h5>Wealth</h5>
	<div class="clearfix">
		{% for i in (1..global.reference-photo-wealth-icon-count) %}
			<img src="/assets/images/core/icons/photo/wealth/photo_icon_wealth_{{ i }}.png" width="80" height="80" class="left" alt="" title="" />
		{% endfor %}
	</div>
<!-- PHOTO ICONS - ENDS -->