<!-- VECTOR ICONS - BEGINS -->
	<p>A library of icons gives the system more diverse use in digital and other applications. Icons can be used small, as buttons, or large, as graphic elements. The icons below are merely examples of the style of icons that designers can create. Objects should be reduced as much as possible to simple, geometric shapes, while remaining instantly identifiable.</p>

	<section class="row">
		<div class="small-12 text-center columns">
			<a href="/assets/docs/core/icons/evo-vector-icons.zip" class="button radius evo-button" id="" role="button" title="Download" aria-label="Download">Download</a>
		</div>
	</section>

	<h5 class="evo-spacer-margin-top-x-large">Career</h5>
	<div class="clearfix evo-spacer-margin-bottom-x-large">
		{% for i in (1..global.reference-vector-career-icon-count) %}
			<img src="/assets/images/core/icons/vector/career/vector_icon_career_{{ i }}.png" width="60" height="60" class="left" alt="" title="" />
		{% endfor %}
	</div>

	<h5>Health</h5>
	<div class="clearfix evo-spacer-margin-bottom-x-large">
		{% for i in (1..global.reference-vector-health-icon-count) %}
			<img src="/assets/images/core/icons/vector/health/vector_icon_health_{{ i }}.png" width="60" height="60" class="left" alt="" title="" />
		{% endfor %}
	</div>

	<h5>Wealth</h5>
	<div class="clearfix">
		{% for i in (1..global.reference-vector-wealth-icon-count) %}
			<img src="/assets/images/core/icons/vector/wealth/vector_icon_wealth_{{ i }}.png" width="60" height="60" class="left" alt="" title="" />
		{% endfor %}
	</div>
<!-- VECTOR ICONS - ENDS -->