<!-- CONVERSATIONAL FORM COMPONENT - BEGINS -->
	<link href="/reference/components/conversational-form/conversational-form.css" rel="stylesheet" type="text/css" />

	<div class="evo-conversational-form">
		<form class="" id="" name="" method="" action="" title="" data-abide>
			<fieldset>
				<div class="row">
					<div class="small-12 columns">
						
						<div>
							<label class="inline">My name is</label>
							<input type="text" value="" data-autosize-input='{"space": 12}' class="js-evo-toggle-form-content" data-evo-form-toggle="1" tabindex="" title="" required />
						</div>
						<div class="hide" id="form-item1">
							<label for="">I'm</label>
							<input type="number" data-evo-input-numeric-mask min="0" step="1" value="" data-autosize-input='{"space": 12}' class="js-evo-toggle-form-content" data-evo-form-toggle="2" tabindex="" title="" required />
							<label for="">years old</label>
						</div>
						<div class="hide" id="form-item2">
							<label for="">and</label>
							<select class="js-evo-toggle-form-content" data-evo-form-toggle="3" tabindex="" title="" required>
								<option value=""></option>
								<option value="">single</option>
								<option value="">married</option>
								<option value="">divorced</option>
								<option value="">cohabitating</option>
							</select>
						</div>
						<div class="hide" id="form-item3">
							<label for="">I have</label>
							<input type="number" data-evo-input-numeric-mask min="0" step="1" data-autosize-input='{"space": 12}' class="js-evo-toggle-form-content" data-evo-form-toggle="4" tabindex="" title="" required />
						</div>
						<div class="hide" id="form-item4">
							<label for="">kids, and live in</label>
							<input type="tel" data-evo-input-numeric-mask maxlength="5" placeholder="ZIP" data-autosize-input='{"space": 12}' tabindex="" title="" required />
							<label>.</label>
						</div>

					</div>
				</div>
				<div class="row">
					<div class="small-12 columns">

						<button class="button radius evo-button" id="" name="" value="" type="" tabindex="" title="Done">Done</button>

					</div>
				</div>
			</fieldset>
		</form>
	</div>
<!-- CONVERSATIONAL FORM COMPONENT - ENDS -->