<!-- CONVERSATIONAL FORM COMPONENT - BEGINS -->
	<link href="/reference/components/conversational-form/conversational-form.css" rel="stylesheet" type="text/css" />

	<div class="evo-conversational-form">
		<form class="" id="" name="" method="" action="" title="" data-abide>
			<fieldset>
				<div class="row">
					<div class="small-12 columns">
						<div class="evo-conversational-form-item">
							<label for="">
								My name is
								<input type="text" tabindex="" title="" required data-evo-conversational-form-element data-evo-conversational-form-item-toggle="1" data-autosize-input="{'space': 12}" />
								.
							</label>
						</div>
						<div class="hide evo-conversational-form-item" id="evo-conversational-form-item-1">
							<label for="">
								I'm
								<input type="number" min="0" step="1" tabindex="" title="" required data-evo-input-numeric-mask data-evo-conversational-form-element data-evo-conversational-form-item-toggle="2" data-autosize-input="{'space': 12}" />
								years old
							</label>
						</div>
						<div class="hide evo-conversational-form-item" id="evo-conversational-form-item-2">
							<label for="">
								and
								<select tabindex="" title="" required data-evo-conversational-form-element data-evo-conversational-form-item-toggle="3">
									<option value=""></option>
									<option value="single">single</option>
									<option value="married">married</option>
									<option value="divorced">divorced</option>
									<option value="cohabitating">cohabitating</option>
								</select>
								.
							</label>
						</div>
						<div class="hide evo-conversational-form-item" id="evo-conversational-form-item-3">
							<label for="">
								I have
								<input type="number" min="0" step="1" tabindex="" title="" required data-evo-input-numeric-mask data-evo-conversational-form-element data-evo-conversational-form-item-toggle="4" data-autosize-input="{'space': 12}" />
								kids,
							</label>
						</div>
						<div class="hide evo-conversational-form-item" id="evo-conversational-form-item-4">
							<label for="">
								 and live in
								<input type="tel" maxlength="5" placeholder="ZIP" tabindex="" title="" required data-evo-input-numeric-mask data-autosize-input="{'space': 12}" />
								.
							</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="small-12 columns">
						<button class="button radius evo-button" id="" name="" value="" type="" tabindex="" title="Done">Done</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
<!-- CONVERSATIONAL FORM COMPONENT - ENDS -->