{% layout "ee/layout" %}
{% block content %}

<!-- HERO IMAGE - BEGINS -->
	{% include "/ee/hero-banner" %}
<!-- HERO IMAGE - ENDS -->

<!-- PAGE CONTENT - BEGINS -->
	<section class="row">
		<div class="large-10 large-centered columns evo-site-family-content-ctn">
			<div class="row">
				<div class="small-12 columns">

					{{ 5 | lorem_ipsum:'p' }}

				</div>
			<div>
		</div>
	</section>
<!-- PAGE CONTENT - ENDS -->

{% endblock %}