<!-- SLIDER WITH INTERVAL TICKS COMPONENT - BEGINS -->
<h6 class="evo-hdr-rule evo-spacer-margin-bottom-xx-large">With Interval Ticks</h6>
{% include '/reference/objects/slider/slider-interval-ticks' %}
<!-- SLIDER WITH INTERVAL TICKS COMPONENT - ENDS -->