<a href="" class="button radius secondary" id="" tabindex="" title="">Secondary</a>
<a href="" class="button radius success" id="" tabindex="" title="">Success</a>
<a href="" class="button radius alert" id="" tabindex="" title="">Alert</a>
<a href="" class="button radius info" id="" tabindex="" title="">Info</a>

<button class="button radius secondary" id="" name="" value="" type="" tabindex="" title="">Secondary</button>
<button class="button radius success" id="" name="" value="" type="" tabindex="" title="">Success</button>
<button class="button radius alert" id="" name="" value="" type="" tabindex="" title="">Alert</button>
<button class="button radius info" id="" name="" value="" type="" tabindex="" title="">Info</button>