<a href="" class="button tiny radius secondary evo-btn" id="" tabindex="" title="">Tiny a</a>
<a href="" class="button small radius secondary evo-btn" id="" tabindex="" title="">Small a</a>
<a href="" class="button radius secondary evo-btn" id="" tabindex="" title="">Default a</a>
<a href="" class="button large radius secondary evo-btn" id="" tabindex="" title="">Large a</a>

<button class="button tiny radius secondary evo-btn" id="" name="" value="" type="" tabindex="" title="">Tiny</button>
<button class="button small radius secondary evo-btn" id="" name="" value="" type="" tabindex="" title="">Small</button>
<button class="button radius secondary evo-btn" id="" name="" value="" type="" tabindex="" title="">Default</button>
<button class="button large radius secondary evo-btn" id="" name="" value="" type="" tabindex="" title="">Large</button>

<a href="" class="button tiny radius evo-btn" id="" tabindex="" title="">Tiny a</a>
<a href="" class="button small radius evo-btn" id="" tabindex="" title="">Small a</a>
<a href="" class="button radius evo-btn" id="" tabindex="" title="">Default a</a>
<a href="" class="button large radius evo-btn" id="" tabindex="" title="">Large a</a>

<button class="button tiny radius evo-btn" id="" name="" value="" type="" tabindex="" title="">Tiny</button>
<button class="button small radius evo-btn" id="" name="" value="" type="" tabindex="" title="">Small</button>
<button class="button radius evo-btn" id="" name="" value="" type="" tabindex="" title="">Default</button>
<button class="button large radius evo-btn" id="" name="" value="" type="" tabindex="" title="">Large</button>