<!-- Button icon on left and right -->

<a href="" class="button radius evo-btn" data-evo-button-icons="both" id="" tabindex="" title="">
	<i class="evo-icon-plus-circle evo-icon-position-left" title=""></i>
	<span class="evo-btn-text">Secondary a</span>
	<i class="evo-icon-arrow-right2 evo-icon-position-right" title=""></i>
</a>
<button class="button radius evo-btn" data-evo-button-icons="both" id="" name="" value="" type="" tabindex="" title="">
	<i class="evo-icon-plus-circle evo-icon-position-left" title=""></i>
	<span class="evo-btn-text">Secondary</span>
	<i class="evo-icon-arrow-right2 evo-icon-position-right" title=""></i>
</button>

<!-- Button icon on left -->

<a href="" class="button radius evo-btn" data-evo-button-icons="left"  id="" tabindex="" title="">
	<i class="evo-icon-plus-circle evo-icon-position-left" title=""></i>
	<span class="evo-btn-text">Primary a</span>
</a>
<button class="button radius evo-btn" data-evo-button-icons="left"  id="" name="" value="" type="" tabindex="" title="">
	<i class="evo-icon-plus-circle evo-icon-position-left" title=""></i>
	<span class="evo-btn-text">Primary</span>
</button>

<!-- Button icon on right -->

<a href="" class="button radius evo-btn" data-evo-button-icons="right"  id="" tabindex="" title="">
	<span class="evo-btn-text">Primary a</span>
	<i class="evo-icon-arrow-right2 evo-icon-position-right" title=""></i>
</a>
<button class="button radius evo-btn" data-evo-button-icons="right"  id="" name="" value="" type="" tabindex="" title="">
	<span class="evo-btn-text">Primary</span>
	<i class="evo-icon-arrow-right2 evo-icon-position-right" title=""></i>
</button>

<!-- Expanded button with icon on left and right -->

<a href="" class="button expand radius evo-btn" data-evo-button-icons="both" id="" tabindex="" title="">
	<i class="evo-icon-plus-circle evo-icon-position-left" title=""></i>
	<span class="evo-btn-text">Primary a</span>
	<i class="evo-icon-arrow-right2 evo-icon-position-right" title=""></i>
</a>
<button class="button expand radius evo-btn" data-evo-button-icons="both" id="" name="" value="" type="" tabindex="" title="">
	<i class="evo-icon-plus-circle evo-icon-position-left" title=""></i>
	<span class="evo-btn-text">Primary</span>
	<i class="evo-icon-arrow-right2 evo-icon-position-right" title=""></i>
</button>