<a href="" class="button radius disabled" id="" tabindex="" title="">Primary disabled a</a>
<button class="button radius disabled" id="" name="" value="" type="" disabled="disabled" tabindex="" title="">Primary disabled</button>