<a href="" class="button radius secondary disabled evo-btn" id="" tabindex="" title="">Secondary disabled a</a>
<button class="button radius secondary disabled evo-btn" id="" name="" value="" type="" disabled="disabled" tabindex="" title="">Secondary disabled</button>