<a href="" class="button radius secondary evo-btn" id="" tabindex="" title="">Secondary</a>
<a href="" class="button radius success evo-btn" id="" tabindex="" title="">Success</a>
<a href="" class="button radius alert evo-btn" id="" tabindex="" title="">Alert</a>
<a href="" class="button radius info evo-btn" id="" tabindex="" title="">Info</a>

<button class="button radius secondary evo-btn" id="" name="" value="" type="" tabindex="" title="">Secondary</button>
<button class="button radius success evo-btn" id="" name="" value="" type="" tabindex="" title="">Success</button>
<button class="button radius alert evo-btn" id="" name="" value="" type="" tabindex="" title="">Alert</button>
<button class="button radius info evo-btn" id="" name="" value="" type="" tabindex="" title="">Info</button>

<!-- Custom Background Color -->

<a href="" class="button radius evo-btn" data-evo-button-color="orange" id="" tabindex="" title="">Orange a</a>
<button class="button radius evo-btn" data-evo-button-color="orange" id="" name="" value="" type="" tabindex="" title="">Orange</button>


<!-- Custom Font Color -->
<a href="" class="button radius secondary evo-btn" data-evo-button-font-color="orange" id="" tabindex="" title="">Orange a text</a>
<button class="button radius secondary evo-btn" data-evo-button-font-color="orange" id="" name="" value="" type="" tabindex="" title="">Orange text</button>