<!-- DROPDOWNS - BEGINS -->
<button class="button" type="button" data-toggle="dropdown-1">Toggle Dropdown</button>
<div class="dropdown-pane evo-dropdown-pane" id="dropdown-1" data-dropdown>
	<p class="evo-no-margin">{{lorem count=5}}</p>
</div>

<a href="javascript:;" class="evo-spacer-margin-left-large" data-toggle="dropdown-2">Toggle Dropdown</a>
<div class="dropdown-pane evo-dropdown-pane" id="dropdown-2" data-dropdown>
	<p class="evo-no-margin">{{lorem count=5}}</p>
</div>
<!-- DROPDOWNS - ENDS -->