<!-- INLINE FORM COMPONENT - BEGINS -->
<div class="row">
	<div class="medium-6 columns">
		<h6 class="evo-hdr-rule evo-spacer-margin-bottom-xx-large">Left Aligned Form</h6>
		{% include "/reference/base/forms/form-inline" %}
	</div>
	<div class="medium-6 columns">
		<h6 class="evo-hdr-rule evo-spacer-margin-bottom-xx-large">Right Aligned Form</h6>
		{% include "/reference/base/forms/form-inline-right" %}
	</div>
</div>
<!-- INLINE FORM COMPONENT - ENDS -->