<header role="banner" class="evo-header evo-header-toolbar">

	<!-- HEADER TOOLBAR TOP BAR CONTAINER - BEGINS -->
	<div class="fixed show-for-large-up evo-header-ctn">

		<!-- HEADER TOOLBAR TOP BAR - BEGINS -->
		<nav class="top-bar evo-top-bar" data-topbar role="navigation" aria-hidden="true">
			
			<!-- HEADER TOOLBAR TOP BAR TITLE AREA - BEGINS -->
			<ul class="title-area">
				<li class="name">
					<h1><a href="#">Mercer <span class="evo-top-bar-sub-name">Evolution</span></a></h1>
				</li>
			</ul>
			<!-- HEADER TOOLBAR TOP BAR TITLE AREA - ENDS -->

			<!-- HEADER TOOLBAR TOP BAR NAV SECTION - BEGINS -->
			<section class="top-bar-section">

				<!-- HEADER TOOLBAR TOP BAR RIGHT NAV SECTION - BEGINS -->
				<ul class="right">
					<li>
						<a href="#">
							<i class="evo-icon-home evo-icon-position-left"></i>
							Home
						</a>
					</li>
					<li class="active">
						<a href="#">
							<i class="evo-icon-briefcase2 evo-icon-position-left"></i>
							Product
						</a>
					</li>
					<li>
						<a href="#">
							<i class="evo-icon-office evo-icon-position-left"></i>
							Company
						</a>
					</li>
					<li>
						<a href="#">
							<i class="evo-icon-bubbles evo-icon-position-left"></i>
							Blog
						</a>
					</li>
					<li class="has-dropdown">
						<a>Arquimedez Pozo</a>
						<ul class="dropdown">
							<li class="divider"></li>
							<li>
								<a href="#">View Profile</a>
							</li>
							<li class="divider"></li>
							<li class="active">
								<a href="#">Change Language</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">User Administration</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">Log Out</a>
							</li>
						</ul>
					</li>
					<li>
						<a class="evo-icon-envelop" href="#"></a>
					</li>
					<li>
						<a class="evo-icon-basket" href="#"></a>
					</li>
					<li class="has-dropdown">
						<a class="evo-icon-menu3"></a>
						<ul class="dropdown">
							<li class="has-dropdown">
								<a href="#">link with subs</a>
								<ul class="dropdown">
									<li class="has-dropdown">
										<a href="#">link with subs</a>
										<ul class="dropdown">
											<li class="has-dropdown">
												<a href="#">link with subs</a>
												<ul class="dropdown">
													<li>
														<a href="#">link</a>
													</li>
													<li class="divider"></li>
													<li>
														<a href="#">link</a>
													</li>
													<li class="divider"></li>
													<li>
														<a href="#">link</a>
													</li>
												</ul>
											</li>
											<li class="divider"></li>
											<li>
												<a href="#">link</a>
											</li>
											<li class="divider"></li>
											<li>
												<a href="#">link</a>
											</li>
										</ul>
									</li>
									<li class="divider"></li>
									<li>
										<a href="#">link</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="#">link</a>
									</li>
									<li class="divider"></li>
								</ul>
							</li>
							<li class="divider"></li>
							<li class="active">
								<a href="#">Active link in dropdown</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">link</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">link</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">link</a>
							</li>
						</ul>
					</li>
				</ul>
				<!-- HEADER TOOLBAR TOP BAR RIGHT NAV SECTION - ENDS -->

			</section>
			<!-- HEADER TOOLBAR TOP BAR NAV SECTION - ENDS -->

		</nav>
		<!-- HEADER TOOLBAR TOP BAR - ENDS -->

	</div>
	<!-- HEADER TOOLBAR TOP BAR CONTAINER - ENDS -->

</header>