<!-- MASTHEAD - BEGINS -->
	<section class="mul-masthead">
		<div class="mul-masthead-adjust">

			<section class="col-18 first mul-logo mul-small-mediaquery-grid">
				<div class="mul-logo-col-1">
					<div class="mul-primary-logo">
						<i class="mul-icon-mul-renewal mul-icon-size-medium mul-icon-style-shadow" style="color:white; top:5px;"></i>
					</div>
				</div>
				<div class="mul-logo-col-2">
					<a href="/index">MERCER <span>EVOLUTION</span></a>
				</div>
				<div class="mul-logo-col-3 mul-mb-navbar-ctn">
				<!-- MOBILE MENU ICON - BEGINS -->
					<ul class="sm mul-nav-menus mul-menu-ctn" data-menu="click">
						<li class="mul-header-icon">
							<a href="javascript:;" class="js-mul-header-mobile-menu-toggle" data-mul-header-mobile-menu-toggle="navbar"><i class="mul-icon-menu3"></i></a>
						</li>
					</ul>
				<!-- MOBILE MENU ICON - ENDS -->
				</div>
			</section>
			<section class="col-6 mul-hidden-small-mediaquery">
				{% include '/base/header/user-identifier' %}
			</section>

		</div>
	</section>
<!-- MASTHEAD - ENDS -->