<!-- MASTHEAD - BEGINS -->
	<section class="evo-masthead">
		<div class="evo-masthead-adjust">

			<section class="col-18 first evo-logo evo-small-mediaquery-grid">
				<div class="evo-logo-col-1">
					<div class="evo-primary-logo">
						<i class="evo-icon-evo-renewal evo-icon-size-medium evo-icon-style-shadow"></i>
					</div>
				</div>
				<div class="evo-logo-col-2">
					<a href="/index">MERCER <span>EVOLUTION</span></a>
				</div>
				<div class="evo-logo-col-3 evo-mb-navbar-ctn">
				<!-- MOBILE MENU ICON - BEGINS -->
					<ul class="sm evo-nav-menus evo-menu-ctn" data-menu="click">
						<li class="evo-header-icon">
							<a href="javascript:;" class="js-evo-header-mobile-menu-toggle" data-evo-header-mobile-menu-toggle="navbar"><i class="evo-icon-menu3"></i></a>
						</li>
					</ul>
				<!-- MOBILE MENU ICON - ENDS -->
				</div>
			</section>
			<section class="col-6 evo-hidden-small-mediaquery">
				{% include '/base/header/user-identifier' %}
			</section>

		</div>
	</section>
<!-- MASTHEAD - ENDS -->