<!-- MASTHEAD - BEGINS -->
	<section class="evo-masthead">
		<div class="evo-masthead-adjust">

			<section class="col-18 first evo-logo evo-small-mediaquery-grid">
				<div class="evo-logo-col-2">
					<a href="/index">MERCER <span>EVOLUTION</span></a>
				</div>
				<div class="evo-logo-col-3 evo-mb-navbar-ctn">
				<!-- MOBILE MENU ICON - BEGINS -->
					<ul class="sm evo-nav-menus evo-menu-ctn" data-menu="click">
						<li class="evo-header-icon">
							<a href="javascript:;" class="js-evo-header-mobile-menu-toggle" data-evo-header-mobile-menu-toggle="navbar"><i class="evo-icon-menu3"></i></a>
						</li>
					</ul>
				<!-- MOBILE MENU ICON - ENDS -->
				</div>
			</section>
			<section class="col-6 evo-hidden-small-mediaquery">
				<div class="evo-secondary-logo">
					<img src="{{ "mercer_logo_126x18.png" | asset_url }}" alt="Mercer" width="126" height="18" title="Mercer" />
				</div>
			</section>

		</div>
	</section>
<!-- MASTHEAD - ENDS -->