	<!-- NAVBAR - BEGINS -->
		<section class="mul-navbar" id="mul-header-mobile-menu-toggle-navbar">
			<div class="mul-navbar-adjust">
				<nav class="mul-tabbed-nav">
					<div class="col-12 first mul-navbar-col-1">
						<ul class="sm mul-nav-menus mul-menu-ctn" data-menu="click">
							<li><a class="{% if mixture.url == "index" %}mul-navbar-item-active{% endif %}" href="/index">Home 2</a></li>
							<li><a href="/browser-testing-support">Browser Support</a></li>
							<li>
								<a href="/toolkit">Toolkit</a>
								<ul>
									<li><a href="javascript:;">English</a></li>
									<li><a href="javascript:;">Spanish</a></li>
									<li>
										<a href="javascript:;">German</a>
										<ul>
											<li><a href="javascript:;">English</a></li>
											<li><a href="javascript:;">Spanish</a></li>
											<li><a href="javascript:;">German</a></li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="col-12 mul-navbar-col-2">
						<ul class="mul-navbar-message mul-navbar-message-noline mul-navbar-message-nopadding">
							<li title="This is a message text area of really long text.">
								<span>This is a message text area of really long text.</span>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</section>
	<!-- NAVBAR - ENDS -->