<!-- NAVBAR - BEGINS -->
	<section class="mul-navbar" id="mul-header-mobile-menu-toggle-navbar">
		<div class="mul-navbar-adjust">
			<nav class="mul-text-nav">
				<div class="col-4 first mul-navbar-col-1">
					<ul class="sm mul-nav-menus mul-menu-ctn" data-menu="click">
						<li class="mul-header-icon mul-mega-menu">
							<a href="javascript:;"><i class="mul-icon-menu3"></i></a>
							<ul class="mega-menu">
								<li class="mul-mega-menu-adjust">
								<!-- MEGA MENU CONTAINER - BEGINS -->
									<div class="mul-mega-menu-ctn">

									<!-- SPOTLIGHT CONTAINER - BEGINS -->
										<div class="col-24 mul-mega-menu-spotlight-ctn">
											<dl class="mul-horizontal-list">
												<dd>
													<a href="javascript:;">
														<i class="mul-icon-home mul-icon-size-small mul-icon-position-left"></i>
														Home
													</a>
												</dd>
												<dd>
													<a href="javascript:;">
														<i class="mul-icon-calendar mul-icon-size-small mul-icon-position-left"></i>
														Spotlight Link
													</a>
												</dd>
											</dl>
										</div>
									<!-- SPOTLIGHT CONTAINER - BEGINS -->

										<section class="col-24">
											<dl class="col-8 first mul-mega-menu-groups">
												<dt class="h4 mul-hdr-rule">Section Title</dt>
												<dd><span><a href="javascript:;">Section Link</a></span></dd>
												<dd><span><a href="javascript:;">Section Link</a></span></dd>
												<dd><span><a href="javascript:;">Section Link</a></span></dd>
												<dd><span><a href="javascript:;">Section Link</a></span></dd>
												<dd><span><a href="javascript:;">Section Link</a></span></dd>
												<dd><span><a href="javascript:;">Section Link</a></span></dd>
											</dl>
											<dl class="col-8 mul-mega-menu-groups">
												<dt class="h4 mul-hdr-rule">Section Title</dt>
												<dd><span><a href="javascript:;">Section Link</a></span></dd>
												<dd><span><a href="javascript:;">Section Link</a></span></dd>
												<dd><span><a href="javascript:;">Section Link</a></span></dd>
												<dd><span><a href="javascript:;">Section Link</a></span></dd>
												<dd><span><a href="javascript:;">Section Link</a></span></dd>
												<dd><span><a href="javascript:;">Section Link</a></span></dd>
											</dl>
											<dl class="col-8 mul-mega-menu-groups">
												<dt class="h4 mul-hdr-rule">Section Title</dt>
												<dd><span><a href="javascript:;">Section Link</a></span></dd>
												<dd><span><a href="javascript:;">Section Link</a></span></dd>
												<dd><span><a href="javascript:;">Section Link</a></span></dd>
												<dd><span><a href="javascript:;">Section Link</a></span></dd>
												<dd><span><a href="javascript:;">Section Link</a></span></dd>
												<dd><span><a href="javascript:;">Section Link</a></span></dd>
											</dl>
										</section>
									</div>
								<!-- MEGA MENU CONTAINER - ENDS -->
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="col-20 mul-navbar-col-2">
					<ul class="sm mul-nav-menus mul-menu-ctn mul-navbar-message" data-menu="click">
						<li title="This is a message text area of really long text.">
							<span>This is a message text area of really long text.</span>
						</li>
						<li><a class="{% if mixture.url == "index" %}mul-navbar-item-active{% endif %} mul-navbar-no-pipe-left" href="javascript:;">Contact Us</a></li>
						<li><a href="javascript:;">Change Language</a></li>
						<li><a href="javascript:;">Sign Out</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</section>
<!-- NAVBAR - ENDS -->