	<!-- NAVBAR - BEGINS -->
		<section class="mul-navbar">
			<div class="mul-navbar-adjust">
				<nav class="mul-text-nav">
					<div class="col-4 first mul-navbar-col-1">
						<ul class="sm mul-nav-menus mul-menu-ctn" data-menu="click">
							<li class="mul-header-icon">
								<a href="javascript:;"><i class="mul-icon-menu3"></i></a>
							</li>
						</ul>
					</div>
					<div class="col-20 mul-navbar-col-2">
						<ul class="sm mul-nav-menus mul-menu-ctn mul-navbar-message mul-navbar-message-noline" data-menu="click">
							<li title="This is a message text area of really long text.">
								<span>This is a message text area of really long text.</span>
							</li>
							<li class="mul-header-icon">
								<a href="javascript:;"><i class="mul-icon-envelop"></i></a>
							</li>
							<li class="mul-header-icon">
								<a href="javascript:;"><i class="mul-icon-basket"></i></a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</section>
	<!-- NAVBAR - ENDS -->