	<!-- NAVBAR - BEGINS -->
		<section class="mul-navbar">
			<div class="mul-navbar-adjust">
				<nav class="mul-tabbed-nav">
					<div class="col-12 first mul-navbar-col-1">
						<ul class="sm mul-nav-menus mul-menu-ctn js-mul-menus">
							<li class="mul-header-icon">
								<a href="javascript:;"><i class="mul-icon-menu3"></i></a>
							</li>
						</ul>
					</div>
					<div class="col-12 mul-navbar-col-2">
					</div>
				</nav>
			</div>
		</section>
	<!-- NAVBAR - ENDS -->