<!-- NAVBAR - BEGINS -->
	<section class="evo-navbar" id="evo-header-mobile-menu-toggle-navbar">
		<div class="evo-navbar-adjust">
			<nav class="evo-tabbed-nav">
				<div class="col-12 first evo-navbar-col-1">
					<ul class="sm evo-nav-menus evo-menu-ctn" data-menu="click">
						<li><a class="{% if mixture.url == "index" %}evo-navbar-item-active{% endif %}" href="javascript:;">Item 1</a></li>
						<li><a href="javascript:;">Item 2</a></li>
						<li>
							<a href="javascript:;">Item 3</a>
							<ul>
								<li><a href="javascript:;">English</a></li>
								<li><a href="javascript:;">Spanish</a></li>
								<li>
									<a href="javascript:;">German</a>
									<ul>
										<li><a href="javascript:;">English</a></li>
										<li><a href="javascript:;">Spanish</a></li>
										<li><a href="javascript:;">German</a></li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="col-12 evo-navbar-col-2">
					<ul class="sm evo-nav-menus evo-menu-ctn" data-menu="click">
						<li>
							<a href="javascript:;">Arquimedez Pozo</a>
							<ul class="evo-user-identifier-menu">
								<li><a href="javascript:;">View Profile</a></li>
								<li><a href="javascript:;">Change Language</a></li>
								<li><a href="javascript:;">User Administration</a></li>
								<li><a href="javascript:;">Log Out</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</section>
<!-- NAVBAR - ENDS -->