<!-- NAVBAR - BEGINS -->
	<section class="evo-navbar" id="evo-header-mobile-menu-toggle-navbar">
		<div class="evo-navbar-adjust">
			<nav class="evo-text-nav">
				<div class="col-4 first evo-navbar-col-1">
					<ul class="sm evo-nav-menus evo-menu-ctn" data-menu="click">
						<li class="evo-header-icon evo-mega-menu">
							<a href="javascript:;"><i class="evo-icon-menu3"></i></a>
							<ul class="mega-menu">
								<li class="evo-mega-menu-adjust">
								<!-- MEGA MENU CONTAINER - BEGINS -->
									<div class="evo-mega-menu-ctn">

									<!-- SPOTLIGHT CONTAINER - BEGINS -->
										<div class="col-24 evo-mega-menu-spotlight-ctn">
											<dl class="evo-horizontal-list">
												<dd>
													<a href="javascript:;">
														<i class="evo-icon-home evo-icon-size-small evo-icon-position-left"></i>
														Home
													</a>
												</dd>
												<dd>
													<a href="javascript:;">
														<i class="evo-icon-calendar evo-icon-size-small evo-icon-position-left"></i>
														Spotlight Link
													</a>
												</dd>
											</dl>
										</div>
									<!-- SPOTLIGHT CONTAINER - BEGINS -->

										<section class="col-24">
											<dl class="col-8 first evo-mega-menu-groups">
												<dt class="h4 evo-hdr-rule">Section Title</dt>
												<dd><span><a href="javascript:;">Section Link</a></span></dd>
												<dd><span><a href="javascript:;">Section Link</a></span></dd>
												<dd><span><a href="javascript:;">Section Link</a></span></dd>
												<dd><span><a href="javascript:;">Section Link</a></span></dd>
												<dd><span><a href="javascript:;">Section Link</a></span></dd>
												<dd><span><a href="javascript:;">Section Link</a></span></dd>
											</dl>
											<dl class="col-8 evo-mega-menu-groups">
												<dt class="h4 evo-hdr-rule">Section Title</dt>
												<dd><span><a href="javascript:;">Section Link</a></span></dd>
												<dd><span><a href="javascript:;">Section Link</a></span></dd>
												<dd><span><a href="javascript:;">Section Link</a></span></dd>
												<dd><span><a href="javascript:;">Section Link</a></span></dd>
												<dd><span><a href="javascript:;">Section Link</a></span></dd>
												<dd><span><a href="javascript:;">Section Link</a></span></dd>
											</dl>
											<dl class="col-8 evo-mega-menu-groups">
												<dt class="h4 evo-hdr-rule">Section Title</dt>
												<dd><span><a href="javascript:;">Section Link</a></span></dd>
												<dd><span><a href="javascript:;">Section Link</a></span></dd>
												<dd><span><a href="javascript:;">Section Link</a></span></dd>
												<dd><span><a href="javascript:;">Section Link</a></span></dd>
												<dd><span><a href="javascript:;">Section Link</a></span></dd>
												<dd><span><a href="javascript:;">Section Link</a></span></dd>
											</dl>
										</section>
									</div>
								<!-- MEGA MENU CONTAINER - ENDS -->
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="col-20 evo-navbar-col-2">
					<ul class="sm evo-nav-menus evo-menu-ctn evo-navbar-message evo-navbar-message-noline" data-menu="click">
						<li title="This is a message text area of really long text.">
							<span>This is a message text area of really long text.</span>
						</li>
						<li class="evo-header-icon evo-mega-menu">
							<a href="javascript:;"><i class="evo-icon-envelop"></i></a>
							<ul class="mega-menu">
								<li class="evo-mega-menu-adjust">
								<!-- MEGA MENU CONTAINER - BEGINS -->
									<div class="evo-mega-menu-ctn" style="height:100px;">
										<section class="col-24">
											This is where the content would go.
										</section>
									</div>
								<!-- MEGA MENU CONTAINER - ENDS -->
								</li>
							</ul>
						</li>
						<li class="evo-header-icon evo-mega-menu">
							<a href="javascript:;"><i class="evo-icon-basket"></i></a>
							<ul class="mega-menu">
								<li class="evo-mega-menu-adjust">
								<!-- MEGA MENU CONTAINER - BEGINS -->
									<div class="evo-mega-menu-ctn" style="height:200px;">
										<section class="col-24">
											This is where the content would go.
										</section>
									</div>
								<!-- MEGA MENU CONTAINER - ENDS -->
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</section>
<!-- NAVBAR - ENDS -->