	<!-- FIXED NAVBAR - BEGINS -->
	<section class="mul-navbar mul-toolbar">
		<div class="mul-navbar-adjust mul-toolbar-adjust">
				<nav class="mul-tabbed-nav">
					<div class="col-12 first mul-navbar-col-1">
					<!-- LOGO SECTION - BEGINS -->
						<section class="mul-logo mul-small-mediaquery-grid">
							<div class="mul-logo-col-2">
								<a href="/index">MERCER <span>EVOLUTION</span></a>
							</div>
							<div class="mul-logo-col-3 mul-header-icon">
								<a href="javascript:;" class="js-mul-header-mobile-menu-toggle" data-mul-header-mobile-menu-toggle="toolbar"><i class="mul-icon-menu3"></i></a>
							</div>
						</section>
					<!-- LOGO SECTION - ENDS -->
					</div>
					<div class="col-12 mul-navbar-col-2" id="mul-header-mobile-menu-toggle-toolbar">
						<ul class="sm mul-nav-menus mul-menu-ctn" data-menu="click">
							<li class="mul-header-icon mul-mega-menu">
								<a href="javascript:;"><i class="mul-icon-user"></i></a>
								<ul class="mega-menu">
									<li class="mul-mega-menu-adjust">
									<!-- MEGA MENU CONTAINER - BEGINS -->
										<div class="mul-mega-menu-ctn" style="height:200px;">
											<section class="col-24">
												This is where the User Profile content would go.
											</section>
										</div>
									<!-- MEGA MENU CONTAINER - ENDS -->
									</li>
								</ul>
							</li>
							<li class="mul-header-icon mul-mega-menu">
								<a href="javascript:;"><i class="mul-icon-warning"></i></a>
								<ul class="mega-menu">
									<li class="mul-mega-menu-adjust">
									<!-- MEGA MENU CONTAINER - BEGINS -->
										<div class="mul-mega-menu-ctn" style="height:100px;">
											<section class="col-24">
												This is where the Attention Message content would go.
											</section>
										</div>
									<!-- MEGA MENU CONTAINER - ENDS -->
									</li>
								</ul>
							</li>
							<li class="mul-header-icon mul-mega-menu">
								<a href="javascript:;"><i class="mul-icon-basket"></i></a>
								<ul class="mega-menu">
									<li class="mul-mega-menu-adjust">
									<!-- MEGA MENU CONTAINER - BEGINS -->
										<div class="mul-mega-menu-ctn">

										<!-- SPOTLIGHT CONTAINER - BEGINS -->
											<div class="col-24 mul-mega-menu-spotlight-ctn">
												<dl class="mul-horizontal-list">
													<dd>
														<a href="javascript:;">
															<i class="mul-icon-home mul-icon-size-small mul-icon-position-left"></i>
															Home
														</a>
													</dd>
													<dd>
														<a href="javascript:;">
															<i class="mul-icon-calendar mul-icon-size-small mul-icon-position-left"></i>
															Spotlight Link
														</a>
													</dd>
												</dl>
											</div>
										<!-- SPOTLIGHT CONTAINER - BEGINS -->

											<section class="col-24">
												<dl class="col-8 first mul-mega-menu-groups">
													<dt class="h4 mul-hdr-rule">Section Title</dt>
													<dd><span><a href="javascript:;">Section Link</a></span></dd>
													<dd><span><a href="javascript:;">Section Link</a></span></dd>
													<dd><span><a href="javascript:;">Section Link</a></span></dd>
													<dd><span><a href="javascript:;">Section Link</a></span></dd>
													<dd><span><a href="javascript:;">Section Link</a></span></dd>
													<dd><span><a href="javascript:;">Section Link</a></span></dd>
												</dl>
												<dl class="col-8 mul-mega-menu-groups">
													<dt class="h4 mul-hdr-rule">Section Title</dt>
													<dd><span><a href="javascript:;">Section Link</a></span></dd>
													<dd><span><a href="javascript:;">Section Link</a></span></dd>
													<dd><span><a href="javascript:;">Section Link</a></span></dd>
													<dd><span><a href="javascript:;">Section Link</a></span></dd>
													<dd><span><a href="javascript:;">Section Link</a></span></dd>
													<dd><span><a href="javascript:;">Section Link</a></span></dd>
												</dl>
												<dl class="col-8 mul-mega-menu-groups">
													<dt class="h4 mul-hdr-rule">Section Title</dt>
													<dd><span><a href="javascript:;">Section Link</a></span></dd>
													<dd><span><a href="javascript:;">Section Link</a></span></dd>
													<dd><span><a href="javascript:;">Section Link</a></span></dd>
													<dd><span><a href="javascript:;">Section Link</a></span></dd>
													<dd><span><a href="javascript:;">Section Link</a></span></dd>
													<dd><span><a href="javascript:;">Section Link</a></span></dd>
												</dl>
											</section>
										</div>
									<!-- MEGA MENU CONTAINER - ENDS -->
									</li>
								</ul>
							</li>
							<li class="mul-header-icon mul-mega-menu">
								<a href="javascript:;"><i class="mul-icon-file2"></i></a>
								<ul class="mega-menu">
									<li class="mul-mega-menu-adjust">
									<!-- MEGA MENU CONTAINER - BEGINS -->
										<div class="mul-mega-menu-ctn" style="height:400px;">
											<section class="col-24">
												This is where the Documents content would go.
											</section>
										</div>
									<!-- MEGA MENU CONTAINER - ENDS -->
									</li>
								</ul>
							</li>
							<li class="mul-header-icon mul-mega-menu">
								<a href="javascript:;"><i class="mul-icon-envelop"></i></a>
								<ul class="mega-menu">
									<li class="mul-mega-menu-adjust">
									<!-- MEGA MENU CONTAINER - BEGINS -->
										<div class="mul-mega-menu-ctn" style="height:200px;">
											<section class="col-24">
												This is where the Message Center content would go.
											</section>
										</div>
									<!-- MEGA MENU CONTAINER - ENDS -->
									</li>
								</ul>
							</li>
							<li class="mul-header-icon mul-mega-menu">
								<a href="javascript:;"><i class="mul-icon-search"></i></a>
								<ul class="mega-menu">
									<li class="mul-mega-menu-adjust">
									<!-- MEGA MENU CONTAINER - BEGINS -->
										<div class="mul-mega-menu-ctn">
											<section class="col-12 offset-12 menu-search mul-small-mediaquery-grid">

												<div class="col-21 first">
													<input class="" type="text" tabindex="" placeholder="Search" title="Search">
												</div>
												<div class="col-3">
													<button class="mul-btn mul-btn-medium mul-btn-primary menu-search-btn" title="Search">
														<i class="mul-icon-mul-arrow-circle-right mul-icon-size-small mul-icon-color-disabled"></i>
													</button>
												</div>

											</section>
										</div>
									<!-- MEGA MENU CONTAINER - ENDS -->
									</li>
								</ul>
							</li>
							<li class="mul-header-icon mul-mega-menu">
								<a href="javascript:;"><i class="mul-icon-cancel-circle"></i></a>
								<ul class="mega-menu">
									<li class="mul-mega-menu-adjust">
									<!-- MEGA MENU CONTAINER - BEGINS -->
										<div class="mul-mega-menu-ctn" style="height:225px;">
											<section class="col-24">
												This is where the Sign Out content would go.
											</section>
										</div>
									<!-- MEGA MENU CONTAINER - ENDS -->
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</section>
	<!-- FIXED NAVBAR - ENDS -->