	<!-- FIXED NAVBAR - BEGINS -->
	<section class="mul-navbar mul-toolbar">
		<div class="mul-navbar-adjust mul-toolbar-adjust">
				<nav class="mul-tabbed-nav">
					<div class="col-12 first mul-navbar-col-1">
					<!-- LOGO SECTION - BEGINS -->
						<section class="mul-logo mul-small-mediaquery-grid">
							<div class="mul-logo-col-2">
								<a href="/index">MERCER <span>EVOLUTION</span></a>
							</div>
							<div class="mul-logo-col-3 mul-header-icon">
								<a href="javascript:;" class="js-mul-header-mobile-menu-toggle" data-mul-header-mobile-menu-toggle="toolbar"><i class="mul-icon-menu3"></i></a>
							</div>
						</section>
					<!-- LOGO SECTION - ENDS -->
					</div>
					<div class="col-12 mul-navbar-col-2" id="mul-header-mobile-menu-toggle-toolbar">
						<ul class="sm mul-nav-menus mul-menu-ctn" data-menu="click">
							<li class="mul-header-icon">
								<a href="javascript:;"><i class="mul-icon-menu3"></i></a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</section>
	<!-- FIXED NAVBAR - ENDS -->