	<!-- FIXED NAVBAR - BEGINS -->
	<section class="mul-navbar mul-toolbar">
		<div class="mul-navbar-adjust mul-toolbar-adjust">
				<nav class="mul-text-nav">
					<div class="col-12 first mul-navbar-col-1">
					<!-- LOGO SECTION - BEGINS -->
						<section class="mul-logo mul-small-mediaquery-grid">
							<div class="mul-logo-col-2">
								<a href="/index">MERCER <span>EVOLUTION</span></a>
							</div>
							<div class="mul-logo-col-3 mul-header-icon">
								<a href="javascript:;"><i class="mul-icon-menu3"></i></a>
							</div>
						</section>
					<!-- LOGO SECTION - ENDS -->
					</div>

					<div class="col-12 mul-navbar-col-2">
						<ul class="sm mul-nav-menus mul-menu-ctn" data-menu="hover">
							<li><a class="mul-navbar-no-pipe-left" href="javascript:;">Home</a></li>
							<li><a href="javascript:;">Product</a></li>
							<li><a href="javascript:;">Company</a></li>
							<li><a href="javascript:;">Blog</a></li>
							<li class="mul-header-icon">
								<a href="javascript:;"><i class="mul-icon-envelop"></i></a>
							</li>
							<li class="mul-header-icon">
								<a href="javascript:;"><i class="mul-icon-basket"></i></a>
							</li>
							<li class="mul-header-icon">
								<a href="javascript:;"><i class="mul-icon-menu3"></i></a>
							</li>
						</ul>
					</div>

				</nav>

			</div>
		</section>
	<!-- FIXED NAVBAR - ENDS -->