<!-- CAROUSEL - BEGINS -->
<div class="evo-hide-slider evo-display-none">
	<a href="javascript:;" class="js-evo-enable-item" data-evo-font-color="ruby-mid">Add Plan</a>
</div>
<div class="evo-carousel" data-carousel="js-evo-carousel-example">
	<div class="evo-carousel-item">
		{% include 'ep/objects/highlight-ctn-label' %}
	</div>
	<div class="evo-carousel-item">
		{% include 'ep/objects/highlight-ctn' %}
	</div>
	<div class="evo-carousel-item">
		{% include 'ep/objects/highlight-ctn' %}
	</div>
</div>
<!-- CAROUSEL - ENDS -->