<!-- CONVERSATIONAL FORM - BEGINS -->
<form class="evo-form-conversational">
	<fieldset>
		<div class="row">
			<div class="column">
				<label class="inline">My name is</label>
				<input type="text" value="" data-autosize-input='{"space": 12}' class="js-evo-toggle-form-content" data-evo-form-toggle="1" tabindex="" title="" />

				<span class="evo-display-none" id="form-item1">
					<label for="">I'm</label>
					<select class="js-evo-toggle-form-content" data-evo-form-toggle="2" tabindex="" title="">
						<option value="" selected=""></option>
						<option value="">18</option>
						<option value="">19</option>
						<option value="">20</option>
						<option value="">21</option>
						<option value="">22</option>
						<option value="">23</option>
						<option value="">24</option>
						<option value="">25</option>
						<option value="">26</option>
						<option value="">27</option>
						<option value="">28</option>
						<option value="">29</option>
						<option value="">30</option>
						<option value="">31</option>
						<option value="">32</option>
						<option value="">33</option>
						<option value="">34</option>
						<option value="">35</option>
						<option value="">36</option>
						<option value="">37</option>
						<option value="">38</option>
						<option value="">39</option>
						<option value="">40</option>
						<option value="">41</option>
						<option value="">42</option>
						<option value="">43</option>
						<option value="">44</option>
						<option value="">45</option>
						<option value="">46</option>
						<option value="">47</option>
						<option value="">48</option>
						<option value="">49</option>
						<option value="">50</option>
						<option value="">51</option>
						<option value="">52</option>
						<option value="">53</option>
						<option value="">54</option>
						<option value="">55</option>
						<option value="">56</option>
						<option value="">57</option>
						<option value="">58</option>
						<option value="">59</option>
						<option value="">60</option>
					</select>
					<label for="">years old</label>
				</span>
				<span class="evo-display-none" id="form-item2">
					<label for="">and</label>
					<select class="js-evo-toggle-form-content" data-evo-form-toggle="3" tabindex="" title="">
						<option value="" selected=""></option>
						<option value="">single</option>
						<option value="">married</option>
						<option value="">divorced</option>
						<option value="">cohabitating</option>
					</select>
				</span>
				<span class="evo-display-none" id="form-item3">
					<label for="">I have</label>
					<input type="number" min="0" step="1" data-autosize-input='{"space": 12}' class="js-evo-toggle-form-content js-evo-numeric-mask" data-evo-form-toggle="4" tabindex="" title="" />
				</span>
				<span class="evo-display-none" id="form-item4">
					<label for="">kids, and live in</label>
					<input class="js-evo-numeric-mask" type="tel" maxlength="5" placeholder="ZIP" data-autosize-input='{"space": 12}' tabindex="" title="" />
					<label for="">.</label>
				</span>
			</div>
		</div>

		<div class="row evo-btn-row">
			<div class="small-12 columns">
				<button class="button expand radius show-for-small-only evo-btn" data-evo-button-icons="right" id="" name="" value="" type="" tabindex="" title="Done">
					<span class="evo-btn-text">Done</span>
					<i class="evo-icon-arrow-right2 evo-icon-position-right" title=""></i>
				</button>
				<button class="button radius show-for-medium-up evo-btn" data-evo-button-icons="right" id="" name="" value="" type="" tabindex="" title="Done">
					<span class="evo-btn-text">Done</span>
					<i class="evo-icon-arrow-right2 evo-icon-position-right" title=""></i>
				</button>
			</div>
		</div>
	</fieldset>
</form>
<!-- CONVERSATIONAL FORM - ENDS -->