<!-- CONVERSATIONAL FORM w/ERROR - BEGINS -->
<form class="evo-form-conversational">
	<fieldset>
		<div class="row">
			<div class="column">
				<label class="inline">My name is</label>
				<input type="text" value="" data-autosize-input='{"space": 12}' class="js-evo-toggle-form-content" data-evo-form-toggle="10" tabindex="" title="" />

				<span class="hide evo-form-conversational-error" id="form-item10">
					<label for="">I'm</label>
					<input type="text" value="" data-autosize-input='{"space": 12}' class="js-evo-toggle-form-content" data-evo-form-toggle="12" tabindex="" title="" />
					<label for="">years old</label>
				</span>
				<span class="hide evo-form-conversational-error" id="form-item12">
					<label for="">and</label>
					<div class="dropdown subject evo-form-conversational-dropdown">
						<span class="selected"></span>
						<input type="hidden" name="subject" value="general" />
						<i class="evo-icon-arrow-down2 evo-icon-color-gray-dark"></i>
						<ul>
							<li class="js-evo-toggle-form-content" data-evo-form-toggle="13" id="content 1">single</li>
							<li class="js-evo-toggle-form-content" data-evo-form-toggle="13" id="content 2">married</li>
							<li class="js-evo-toggle-form-content" data-evo-form-toggle="13" id="content 3">divorced</li>
							<li class="js-evo-toggle-form-content" data-evo-form-toggle="13" id="content 4">cohabitating</li>
						</ul>
					</div>
				</span>
				<span class="hide evo-form-conversational-error" id="form-item13">
					<label for="">I have</label>
					<input type="number" min="0" step="1" data-autosize-input='{"space": 12}' class="js-evo-toggle-form-content js-evo-numeric-mask" data-evo-form-toggle="14" tabindex="" title="" />
				</span>
				<span class="hide evo-form-conversational-error" id="form-item14">
					<label for="">kids, and live in</label>
					<input class="js-evo-numeric-mask" type="tel" maxlength="5" placeholder="ZIP" data-autosize-input='{"space": 12}' tabindex="" title="" />
					<label for="">.</label>
				</span>
			</div>
		</div>

		<div class="row">
			<div class="small-12 columns text-center evo-form-conversational-error-text">
				<i class="evo-icon-evo-asterisk-small evo-icon-color-error evo-icon-position-left"></i>Sorry there seems to be an error please correct.
			</div>
		</div>

		<div class="row evo-btn-row">
			<div class="small-12 columns">
				<button class="button expand radius show-for-small-only evo-btn" data-evo-button-icons="right" id="" name="" value="" type="" tabindex="" title="Done">
					<span class="evo-btn-text">Done</span>
					<i class="evo-icon-arrow-right2 evo-icon-position-right" title=""></i>
				</button>
				<button class="button radius show-for-medium-up evo-btn" data-evo-button-icons="right" id="" name="" value="" type="" tabindex="" title="Done">
					<span class="evo-btn-text">Done</span>
					<i class="evo-icon-arrow-right2 evo-icon-position-right" title=""></i>
				</button>
			</div>
		</div>
	</fieldset>
</form>
<!-- CONVERSATIONAL FORM w/ERROR - ENDS -->