<div class="evo-item-highlight-ctn">
	<div class="evo-tag-indicator-ctn"></div>
	<div class="evo-small-cost">
		<span class="evo-cost-number">
			<sup>$</sup>200
		</span>
		<sub class="evo-monthly-label">/mo</sub>
		<span class="evo-total-label">total cost</span>
		<a class="evo-highlight-ctn-link" href="javascript:;">See Details</a>
	</div>

</div>