<div class="evo-item-selection-panel">
	<div class="evo-category-hdr-ctn">
		<h6 class="evo-category-label">Skill Goals</h6>
	</div>
	<ul class="small-block-grid-3">
		<li>
			<a href="javascript:;" class="evo-category-ctn js-evo-category-highlight">
				<img src="{{ "icon-communication-skills.png" | asset_url }}">
				<span class="item-label">Communication Skills</span>
			</a>
		</li>
		<li>
			<a href="javascript:;" class="evo-category-ctn js-evo-category-highlight">
				<img src="{{ "icon-presentation-skills.png" | asset_url }}">
				<span class="item-label">Presentation Skills</span>
			</a>
		</li>
		<li>
			<a href="javascript:;" class="evo-category-ctn js-evo-category-highlight">
				<img src="{{ "icon-management-skills.png" | asset_url }}">
				<span class="item-label">Management Skills</span>
			</a>
		</li>
	</ul>
</div>