<a href="#" data-reveal-id="myModal">Click me for a modal demo</a>

<div id="myModal" class="reveal-modal evo-reveal-modal medium" data-reveal>
	<a class="close-reveal-modal">
		<i class="evo-icon-cancel-circle2 evo-icon-color-gray-dark"></i>
	</a>
	<h5>Plan Details</h5>
	{{ 38 | lorem_ipsum:'p' }}
	<button class="button expand radius show-for-small-only evo-btn" data-evo-button-icons="right" id="" name="" value="" type="" tabindex="" title="Done">
		<span class="evo-btn-text">Done</span>
		<i class="evo-icon-arrow-right2 evo-icon-position-right" title=""></i>
	</button>
	<button class="button radius show-for-medium-up evo-btn" data-evo-button-icons="right" id="" name="" value="" type="" tabindex="" title="Done">
		<span class="evo-btn-text">Done</span>
		<i class="evo-icon-arrow-right2 evo-icon-position-right" title=""></i>
	</button>
</div>