<a href="#" data-reveal-id="evo-ep-modal-demo">Demo of Modal</a>

<div id="evo-ep-modal-demo" class="reveal-modal evo-reveal-modal" data-reveal>

	<h4 class="evo-reveal-modal-hdr">
		Plan Details
		<a class="close-reveal-modal">
			<i class="evo-icon-cancel-circle2 evo-icon-color-gray-dark"></i>
		</a>
	</h4>

	{{ 3 | lorem_ipsum:'p' }}

	<button class="button expand radius show-for-small-only evo-btn evo-no-margin-bottom" data-evo-button-icons="right" id="" name="" value="" type="" tabindex="" title="Done">
		<span class="evo-btn-text">Done</span>
		<i class="evo-icon-arrow-right2 evo-icon-position-right" title=""></i>
	</button>
	<button class="button radius show-for-medium-up evo-btn evo-no-margin-bottom" data-evo-button-icons="right" id="" name="" value="" type="" tabindex="" title="Done">
		<span class="evo-btn-text">Done</span>
		<i class="evo-icon-arrow-right2 evo-icon-position-right" title=""></i>
	</button>

</div>