<div class="evo-slider" data-slider="js-evo-slider-contributions"></div>

<!--
<div class="contribution-slider">
	<div class="slider"></div>
	<div class="markers">
		<span class="marker-user"></span>
		<span class="marker-company"></span>
		<span class="marker-peers"></span>
	</div>
	<div class="clearfix">
		<p class="caret-number pull-left"><i class="fa fa-caret-up new-line"></i> 0%</p>
		<p class="caret-number pull-right text-right"><i class="fa fa-caret-up new-line"></i> 20%</p>
	</div>
</div>
-->