<div class="evo-contributions-slider">
	<h6 class="text-center evo-contributions-slider-hdr">Contribution Rate</h6>
	<div class="evo-slider" data-evo-slider="js-evo-slider-contributions"></div>
	<div class="evo-slider-markers">
		<span class="js-evo-slider-marker-user" data-evo-background-color="sapphire-mid"></span>
		<span class="js-evo-slider-marker-company" data-evo-background-color="amethyst-mid"></span>
		<span class="js-evo-slider-marker-peers" data-evo-background-color="emerald-mid"></span>
	</div>
	<div class="clearfix evo-slider-tick-ctn">
		<div class="evo-slider-tick-number evo-slider-tick-number-min left">
			0%
			<span class="evo-slider-tick-marker evo-slider-tick-number-min-marker"></span>
		</div>
		<div class="evo-slider-tick-number evo-slider-tick-number-max right text-right">
			20%
			<span class="evo-slider-tick-marker evo-slider-tick-number-max-marker"></span>
		</div>
	</div>
	<div class="clearfix evo-slider-key">
		<div class="evo-slider-key-row">
			<div class="evo-slider-key-block" data-evo-background-color="sapphire-mid"></div>
			<span class="evo-slider-key-label">Your Current Rate (5%)</span>
		</div>
		<div class="evo-slider-key-row">
			<div class="evo-slider-key-block" data-evo-background-color="emerald-mid"></div>
			<span class="evo-slider-key-label">Top Savers at Your Company (7%)</span>
		</div>
		<div class="evo-slider-key-row">
			<div class="evo-slider-key-block" data-evo-background-color="amethyst-mid"></div>
			<span class="evo-slider-key-label">Company Match (3%)</span>
		</div>
	</div>
</div>