<div class="row">

	<div class="small-12 medium-4 large-4 large-push-8 columns">
		<div class="evo-stream-completed-steps-ctn">
			<h6 class="h6">Completed Steps</h6>

		<!-- COMPLETED SECTION 1 - BEGINS -->
			<div class="evo-stream-item-ctn">
				<div class="row collapse">
					<div class="small-12 columns">
					<!-- ICON SECTION - BEGINS -->
						<div class="evo-stream-icon-ctn">
							<div class="evo-icon-ctn">
								<i class="evo-icon-checkmark-circle evo-icon-size-medium evo-icon-style-shadow evo-icon-position"></i>
								<img src="{{ "icon-hello-large.png" | asset_url }}">
							</div>
						</div>
					<!-- ICON SECTION - ENDS -->
					</div>
					<div class="small-12 columns">
					<!-- CONTENT SECTION - BEGINS -->
						<div class="evo-stream-content-ctn">
							<h3 class="h3">Tell Us About Yourself</h3>
							<h4 class="h4">Setup</h4>
							<h5 class="h5">Finished!!</h5>
						</div>
					<!-- CONTENT SECTION - ENDS -->
					</div>
				</div>
			</div>
		<!-- COMPLETED SECTION 1 - ENDS -->

		<!-- COMPLETED SECTION 2 - BEGINS -->
			<div class="evo-stream-item-ctn evo-stream-item-ctn-placeholder">
				<div class="row collapse">
					<div class="small-12 columns">
					<!-- ICON SECTION - BEGINS -->
						<div class="evo-stream-icon-ctn">
							<div class="evo-icon-ctn">&nbsp;</div>
						</div>
					<!-- ICON SECTION - ENDS -->
					</div>
				</div>
			</div>
		<!-- COMPLETED SECTION 2 - ENDS -->
		</div>
	</div>

	<div class="small-12 medium-8 large-8 large-pull-4 columns">

		<div class="row collapse">
		<!-- SECTION 1 - BEGINS -->
			<div class="small-6 medium-6 large-6 columns">
				<div class="evo-stream-item-ctn evo-stream-item-ctn-border-right">
				<!-- MESSAGE MENU - BEGINS -->
					<div class="evo-stream-message-menu">
						<div class="evo-stream-message-menu-ctn">						
							<i class="evo-icon-arrow-left2"></i>
							Open enrollment ends Dec 15th.
						</div>
					</div>
				<!-- MESSAGE MENU - ENDS -->
					<div class="row collapse">
						<div class="small-12 medium-6 large-6 large-push-6 columns">
						<!-- ICON SECTION - BEGINS -->
							<div class="evo-stream-icon-ctn">
								<div class="evo-stream-line-right-tick"></div>
								<a href="javascript:;" class="evo-icon-ctn" data-evo-active-open="pulse-animation">
									<img src="{{ "icon-heart-large.png" | asset_url }}">
								</a>
							</div>
						<!-- ICON SECTION - ENDS -->
						</div>
						<div class="small-12 medium-6 large-6 large-pull-6 columns">
						<!-- CONTENT SECTION - BEGINS -->
							<div class="evo-stream-content-ctn">
								<h3 class="h3">Select A Health Plan</h3>
								<h4 class="h4">Health</h4>
								<h5 class="h5">12 minutes to complete</h5>

								<div class="progress evo-progress small-12 round">
									<span class="meter" style="width: 30%"></span>
								</div>
							</div>
						<!-- CONTENT SECTION - ENDS -->
						</div>
					</div>
				</div>
			</div>
		<!-- SECTION 1 - ENDS -->
		</div>

		<div class="row collapse">
		<!-- SECTION 2 - BEGINS -->
			<div class="small-6 small-offset-6 medium-6 medium-offset-6 large-6 large-offset-6 columns">
				<div class="evo-stream-item-ctn evo-stream-item-ctn-border-left">
				<!-- MESSAGE MENU - BEGINS -->
					<div class="evo-stream-message-menu evo-stream-message-menu-right">
						<div class="evo-stream-message-menu-ctn">
							<i class="evo-icon-arrow-right2"></i>
							Open enrollment ends Dec 15th.
						</div>
					</div>
				<!-- MESSAGE MENU - ENDS -->
					<div class="row collapse">
						<div class="small-12 medium-6 large-6 columns">
						<!-- ICON SECTION - BEGINS -->
							<div class="evo-stream-icon-ctn">
								<div class="evo-stream-line-left-tick"></div>
								<a href="javascript:;" class="evo-icon-ctn">
									<img src="{{ "icon-piggy-bank-large.png" | asset_url }}">
								</a>
							</div>
						<!-- ICON SECTION - ENDS -->
						</div>
						<div class="small-12 medium-6 large-6 columns">
						<!-- CONTENT SECTION - BEGINS -->
							<div class="evo-stream-content-ctn">
								<h3 class="h3">My Financial Wellness</h3>
								<h4 class="h4">Wealth</h4>
								<h5 class="h5">12 minutes to complete</h5>

								<div class="progress evo-progress small-12 round">
									<span class="meter" style="width: 30%"></span>
								</div>
							</div>
						<!-- CONTENT SECTION - ENDS -->
						</div>
					</div>
				</div>
			</div>
		<!-- SECTION 2 - ENDS -->
		</div>

		<div class="row collapse">
		<!-- SECTION 3 - BEGINS -->
			<div class="small-6 medium-6 large-6 columns">
				<div class="evo-stream-item-ctn evo-stream-item-ctn-border-right evo-stream-item-ctn-diabled">
					<div class="row collapse">
						<div class="small-12 medium-6 large-6 large-push-6 columns">
						<!-- ICON SECTION - BEGINS -->
							<div class="evo-stream-icon-ctn">
								<div class="evo-stream-line-right-tick"></div>
								<a href="javascript:;" class="evo-icon-ctn">
									<i class="evo-icon-lock evo-icon-size-medium evo-icon-color-disabled evo-icon-style-shadow evo-icon-position"></i>
									<img src="{{ "icon-target-large.png" | asset_url }}">
								</a>
							</div>
						<!-- ICON SECTION - ENDS -->
						</div>
						<div class="small-12 medium-6 large-6 large-pull-6 columns">
						<!-- CONTENT SECTION - BEGINS -->
							<div class="evo-stream-content-ctn">
								<h3 class="h3">My KPI Tracker</h3>
								<h4 class="h4">Career</h4>
								<h5 class="h5">3 minutes to complete</h5>

								<div class="progress evo-progress small-12 round">
									<span class="meter" style="width: 30%"></span>
								</div>
							</div>
						<!-- CONTENT SECTION - ENDS -->
						</div>
					</div>
				</div>
			</div>
		<!-- SECTION 3 - ENDS -->
		</div>
	
	</div>

</div>