//-------------------------------------------------------------------------------------------
// Mercer Evolution - Core v2.5 - Core SASS Settings Partial
// DATE - June 13, 2014
// AUTHOR - Doug Fraize, Matthew Holmes, Vinod Bhatt
//-------------------------------------------------------------------------------------------

// ==========================================================================================
// DEFAULT CORE SASS SETTINGS
// ==========================================================================================

// These are the default Mercer Evolution core SASS settings. This is what will be turned on/off
// from Mercer Evolution and included in the evolution library CSS file. These settings can be
// modified on a project by project basis to customize an evolution CSS file for your project
// based on what components you will need from Mercer Evolution.

// GLOBAL SETTINGS
// ------------------------------------------------------------------------------------------

// LAYOUT SETTINGS
// Default layout is 980px wide
$use-grid-980:								true !default;
$use-grid-1200:								false !default;

// RESPONSIVE SETTINGS
$use-small-mediaquery:						true !default; // small media query = phones
$use-medium-mediaquery:						true !default; // medium media query = tablets
$use-large-mediaquery:						true !default; // large media query = desktop

// BASE SETTINGS
// ------------------------------------------------------------------------------------------
$use-boxes:									true !default;
$use-buttons:								true !default;
$use-fat-footer:							true !default;
$use-footer:								true !default;
$use-forms:									true !default;
$use-header:								true !default;
$use-hero-banner:							true !default;
$use-icons:									true !default;
$use-icon-image:							true !default;
$use-icon-font:								true !default;
$use-lists:									true !default;
$use-mega-menu-header:						false !default;
$use-menus:									true !default;
$use-message-boxes:							true !default;
$use-nav:									false !default;
$use-tables:								true !default;

// OBJECTS SETTINGS
// ------------------------------------------------------------------------------------------
$use-accordion:								true !default;
$use-advanced-filter:						true !default;
$use-alternate-views-badge:					true !default;
$use-autocomplete:							true !default;
$use-call-to-action:						true !default;
$use-carousel:								true !default;
$use-datepicker:							true !default;
$use-content-modal:							true !default;
$use-dialog:								true !default;
$use-login-layout:							true !default;
$use-mini-filter:							true !default;
$use-pagination:							true !default;
$use-profile-containers:					true !default;
$use-scrollpane:							true !default;
$use-slider:								true !default;
$use-stepper:								true !default;
$use-summary-containers:					true !default;
$use-tabs:									true !default;
$use-tiles:									true !default;
$use-tooltip:								true !default;