/*--------------------------------------------------------------------------------------------
{{ meta_project }} v{{ meta_version }} - Site CSS
DATE: {{ meta_date }}
AUTHOR: {{ meta_author }}
URL: {{ meta_url }}
--------------------------------------------------------------------------------------------*/

// ===========================================================================================
// CORE SASS IMPORTS
// ===========================================================================================

@import	"core/global/color_variables",
		"core/foundation/foundation/settings",
		"core/global/variables",
		"core/global/functions",
		"core/global/mixins";

// ===========================================================================================
// SITE IMPORTS
// ===========================================================================================

@import	"partials/global/settings",
		"partials/global/variables",
		"partials/global/functions",
		"partials/atoms/icons";

@import "lib/prism/prism.scss";

/*=== WEBSITE STYLES =======================================================================*/

/*--- DEVELOPER TOOLS ----------------------------------------------------------------------*/
	
	// CODE
	code								{@include border-radius($evo-site-code-border-radius);}

	// ANNOTATIONS
	.evo-site-annotations				{
										background-color: $evo-site-annotations-background-color;
										border-width: $evo-site-annotations-border-width;
										}


/*--- SITE GLOBAL --------------------------------------------------------------------------*/
.evo-site-basic-icon-table				{
										background-color: $white;
										border-collapse: separate;
	thead									{display: none;}
	tr										{
											@include clearfix;
											background-color: $white !important;
											float: left;
											width: 10%;
		td										{
												@include border-radius($global-radius);
												background-color: $white !important;
												border: 1px solid $onyx-dark-20;
												cursor: pointer;
												display: block !important;
												margin: 3px;
			[class^="evo-icon"]
													{left: 4px;}
												}
											}
										}


// BUTTONS - BEGINS
	
	// CALL TO ACTION BUTTON
	.evo-site-cta-button				{
										border: $evo-site-cta-button-border-width $evo-site-cta-button-border-style $evo-site-cta-button-border-color;
										background-color: $evo-site-cta-button-background-color;
										color: $evo-site-cta-button-font-color;
										min-width: $evo-site-cta-button-min-width;
		&:visited							{color: $evo-site-cta-button-font-color;}
		&:hover								{
											background-color: $evo-site-cta-button-hover-background-color;
											color: $evo-site-cta-button-hover-font-color;
											}
										}
// BUTTONS - ENDS

// HEADER - BEGINS
	.evo-site-header					{

		// WHAT'S NEW CALL TO ACTION
		.evo-site-header--cta-whats-new		{
											color: $evo-site-header-cta-whats-new-color;
											font-family: $evo-site-header-cta-whats-new-font-family;
											letter-spacing: $evo-site-header-cta-whats-new-letter-spacing !important;
											text-transform: $evo-site-header-cta-whats-new-text-transform !important;
											background-color: $evo-site-header-cta-whats-new-background-color !important;
			&:hover								{background-color: $evo-site-header-cta-whats-new-hover-background-color !important;}
			[class^="evo-icon-"]				{
												color: $evo-site-header-cta-whats-new-icon-color !important;
												top: 2px !important;
												left: 85px;
												}
			.evo-site-header--cta-whats-new-name
												{display: inline-block;}
											}

		// OFF CANVAS
		.evo-tab-bar-sub-name				{font-family: $evo-site-header-sub-name-font-family;}
										}
// HEADER - ENDS

// HERO - BEGINS

	// HERO BANNER
	.evo-site-hero						{
										background-color: $evo-site-hero-background-color;
										background-image: url($evo-site-hero-background-image);
										background-repeat: $evo-site-hero-background-repeat;
										background-position: $evo-site-hero-background-position;
										background-size: $evo-site-hero-background-size;
										height: ($evo-site-hero-height*3);

		&[data-evo-site-hero-size="x-small"]{height: $evo-site-hero-height/2;}
		&[data-evo-site-hero-size="small"]	{height: $evo-site-hero-height;}
		&[data-evo-site-hero-size="medium"]	{height: ($evo-site-hero-height*2);}
		&[data-evo-site-hero-size="large"]	{height: ($evo-site-hero-height*3);}

		&[data-evo-site-hero-arrow-position]
											{
			&:after,
			&:before							{
												border: 0 !important;
												color: $evo-site-hero-background-color;
												font-size: rem-calc(60);
												font-family: $evo-icon-font-stack;
												line-height: 0.25;
												position: relative;
												text-align: center;
												width: 100%;
												height: 0;
												clear: both;
												overflow: visible;
												visibility: visible;
												display: block;
												z-index: 40;
												}
											}
		&[data-evo-site-hero-arrow-position="bottom"]
											{
			&:after								{
												content: '\edc6';
												bottom: 0;
												}
											}
		&[data-evo-site-hero-arrow-position="top"]
											{
			&:before							{
												content: '\edc4';
												top: -14px;
												}
											}
										}

	// HERO HEADER
	.evo-site-hero--hdr					{
										border: $evo-site-hero-hdr-border-width $evo-site-hero-hdr-border-style $evo-site-hero-hdr-border-color;
										color: $evo-site-hero-hdr-color;
										font-family: $evo-site-hero-hdr-font-family !important;
										font-size: $evo-site-hero-hdr-font-size;
										line-height: $evo-site-hero-hdr-line-height;
										letter-spacing: $evo-site-hero-hdr-letter-spacing;
										text-align: center;
										padding: $evo-site-hero-hdr-padding;
										margin-top: $evo-site-hero-hdr-margin-top;
										margin-bottom: $evo-site-hero-hdr-margin-bottom;
										display: inline-block;
		span								{font-family: $evo-site-hero-hdr-sub-name-font-family;}
										}

	// HERO TAGLINE
	.evo-site-hero--tagline				{
										color: $evo-site-hero-tagline-color;
										font-family: $evo-site-hero-tagline-font-family !important;
										}
// HERO - ENDS

// BANDS - BEGINS
	
	// DEFAULT BAND
	.evo-site-band						{padding: $evo-site-band-padding;}

	// MARKETING BAND
	.evo-site-band--marketing			{
										background-color: $evo-site-band-marketing-background-color;
		.evo-site-band--marketing-content	{
			h3									{margin-bottom: $evo-site-band-marketing-h3-margin-bottom;}
			h6									{margin-bottom: $evo-site-band-marketing-h6-margin-bottom;}
			.evo-site-band--marketing-block-grid
												{
				[class^="evo-icon-"]				{color: $evo-site-band-marketing-block-grid-icon-color;}
				h4									{
													color: $evo-site-band-marketing-block-grid-h4-color;
					a									{
														color: $evo-site-band-marketing-block-grid-h4-color;
														text-decoration: $evo-site-band-marketing-block-grid-link-text-decoration;
														}
													}
				h5									{
													margin-top: $evo-site-band-marketing-block-grid-h5-margin-top;
													font-family: $evo-site-band-marketing-block-grid-h5-font-family !important;
													}
				p									{color: $evo-site-band-marketing-block-grid-paragraph-color;}
												}
											}
										}

	// TAB BAND
	.evo-site-band--tab					{
		.evo-site-band--tab-hdr				{
											background-color: $evo-site-band-tab-hdr-background-color;
			.evo-site-band--tab-hdr-tab			{
												@include box-shadow($evo-site-band-tab-box-shadow-horizontal $evo-site-band-tab-box-shadow-vertical $evo-site-band-tab-box-shadow-blur $evo-site-band-tab-box-shadow-spread rgba($evo-site-band-tab-box-shadow-color, $evo-site-band-tab-box-shadow-alpha));
												@include border-radius($evo-site-band-tab-hdr-tab-border-radius);
												background-color: $evo-site-band-tab-panel-background-color;
												position: relative;
												z-index: 3;
												padding: $evo-site-band-tab-hdr-tab-padding;
												margin-bottom: $evo-site-band-tab-hdr-tab-margin-bottom;
				h3									{
													margin: 0;
													color: $evo-site-band-tab-hdr-tab-font-color;
													}
												}
			.evo-site-band--tab-hdr-tab-shim	{
												height: abs($evo-site-band-tab-hdr-tab-margin-bottom);
												background-color: $evo-site-band-tab-panel-background-color;
												position: relative;
												top: abs($evo-site-band-tab-hdr-tab-margin-bottom);
												z-index: 4;
												}
											}
		.evo-site-band--tab-panel			{
											@include box-shadow($evo-site-band-tab-box-shadow-horizontal $evo-site-band-tab-box-shadow-vertical $evo-site-band-tab-box-shadow-blur $evo-site-band-tab-box-shadow-spread rgba($evo-site-band-tab-box-shadow-color, $evo-site-band-tab-box-shadow-alpha));
											background-color: $evo-site-band-tab-panel-background-color;
											position: relative;
											z-index: 2;
											padding: $evo-site-band-tab-panel-padding;
			.evo-site-band--tab-panel-marketing-content
												{
				h1, h2, h3							{color: $evo-site-band-tab-panel-marketing-content-header-font-color;}
				h1, h2, h3, h4, h5, h6				{margin: $evo-site-band-tab-panel-marketing-content-header-margin;}
				p									{
													color: $evo-site-band-tab-panel-marketing-content-paragraph-font-color;
													font-size: $evo-site-band-tab-panel-marketing-content-paragraph-font-size;
													line-height: $evo-site-band-tab-panel-marketing-content-paragraph-line-height;
													margin-bottom: $evo-site-band-tab-panel-marketing-content-paragraph-margin-bottom;
					strong								{color: $evo-site-band-tab-panel-marketing-content-paragraph-strong-font-color;}
													}
				*:last-child						{margin-bottom: 0;}
												}
											}
										}
// BANDS - ENDS

// TILES - BEGINS
	.evo-site-tile						{
										padding: $evo-site-tile-padding;
										margin: $evo-site-tile-margin;
										min-height: $evo-site-tile-min-height;
										background-color: $evo-site-tile-background-color;
		.evo-site-tile--hdr					{
											font-family: $evo-site-tile-hdr-font-family;
											font-size: $evo-site-tile-hdr-font-size;
											line-height: $evo-site-tile-hdr-line-height;
											color: $evo-site-tile-hdr-font-color;
											margin-bottom: $evo-site-tile-hdr-margin-bottom;
											}
		.evo-site-tile--body				{
			h3									{color: $evo-site-tile-body-font-color;}
			p									{
												color: $evo-site-tile-body-font-color;
												margin-bottom: 0;
												}
											}
										}
// TILES - ENDS

// SWATCHES - BEGINS
	.evo-site-swatch					{
										@include border-radius($evo-site-swatch-border-radius);
										background-color: $evo-site-swatch-background-color;
										border: $evo-site-swatch-border-width $evo-site-swatch-border-style $evo-site-swatch-border-color;
										cursor: default;
										height: $evo-site-swatch-height;
										width: $evo-site-swatch-width;
										margin: 0 0 $evo-site-swatch-margin-bottom 0;
										}
	.evo-site-swatch-details			{
										font-size: $evo-site-swatch-details-font-size;
										text-align: $evo-site-swatch-details-text-align;
										}
// SWATCHES - ENDS


/*--- PATTERN LIBRARY PAGES ----------------------------------------------------------------*/

// PATTERN LIBRARY TEMPLATE - BEGINS

	// INTRO - BEGINS
		.evo-site--pattern-library-intro	{
											border-bottom-width: $evo-site-pattern-library-intro-border-bottom-width;
											border-bottom-style: $evo-site-pattern-library-intro-border-bottom-style;
											border-bottom-color: $evo-site-pattern-library-intro-border-bottom-color;
											padding-bottom: $evo-site-pattern-library-intro-padding-bottom;
											}
	// INTRO - ENDS

	// CONTENT TABS - BEGINS
		.evo-site-tabs--pattern-library-tabs
											{
											margin-bottom: $evo-site-tabs-pattern-library-tabs-margin-bottom;
			li									{
				a									{
													background-color: $evo-site-tabs-pattern-library-tab-background-color;
													color: $evo-site-tabs-pattern-library-tab-font-color;
													margin-bottom: 0;
					&:hover								{
														background-color: $evo-site-tabs-pattern-library-tab-hover-background-color;
														color: $evo-site-tabs-pattern-library-tab-hover-font-color;
														}
													}
												}
			.active								{
				a									{
													background-color: $evo-site-tabs-pattern-library-tab-active-background-color;
													color: $evo-site-tabs-pattern-library-tab-active-font-color;
					&:hover								{
														background-color: $evo-site-tabs-pattern-library-tab-active-hover-background-color;
														}
													}
												}
											}

		.evo-site-tabs-content--pattern-library-content
											{
											border: 0;
											margin-bottom: 0;
 			.evo-keyline-right					{
 												border-color: $evo-site-pattern-library-keyline-color;
 												min-height: $evo-site-pattern-library-keyline-min-height;
 												}
			.evo-site-tabs-content--pattern-library-tab-panel
												{padding: 0;}
											}
	// CONTENT TABS - ENDS

	// SIDEBAR - BEGINS
		.evo-site--pattern-library-sidebar	{
											background-color: $evo-site-pattern-library-sidebar-background-color;
											padding: $evo-site-pattern-library-sidebar-padding;
			.evo-hdr-rule						{
												margin: $evo-site-pattern-library-sidebar-hdr-margin;
												color: $evo-site-pattern-library-sidebar-hdr-font-color;
												border-bottom-color: $evo-site-pattern-library-sidebar-hdr-border-bottom-color;
												border-bottom-style: $evo-site-pattern-library-sidebar-hdr-border-bottom-style;
												}
			dl									{
												margin-bottom: $evo-site-pattern-library-sidebar-list-margin-bottom;
				&:last-child						{margin-bottom: 0;}
				dd									{
													line-height: $evo-site-pattern-library-sidebar-list-item-line-height;
													margin-bottom: 0;
													}
												}
			a									{
												color: $evo-site-pattern-library-sidebar-link-font-color;
												}
											}
	// SIDEBAR - ENDS

	// SIDENAV - BEGINS

		// SIDENAV MAGELLAN
		.evo-site--pattern-library-sidenav-magellan
											{
											background: $evo-site-sidenav-magellan-background-color;
											padding: 0;
			.sub-nav							{
				dd									{
													float: none;
													margin-left: 0;
					a									{
														display: block;
														line-height: $evo-site-sidenav-magellan-link-line-height;
														color: $evo-site-sidenav-magellan-link-color;
														text-decoration: $evo-site-sidenav-magellan-link-text-decoration;
														background-color: $evo-site-sidenav-magellan-link-background-color;
														padding-top: 0;
														padding-right: 0;
														padding-bottom: 0;
						&:hover								{background-color: $evo-site-sidenav-magellan-link-hover-background-color;}
														}
													}
												}
			&.evo-scroll-to-fixed				{top: 20px;}
			&[data-magellan-expedition-clone]	{display: none;}
			&.fixed								{
												left: auto !important;
												min-width: 0;
												width: $evo-site-sidenav-magellan-fixed-width !important;
				.sub-nav							{
					dd									{
														float: none;
														margin-left: 0;
						&.active							{
							&:before							{
																font-family: $evo-icon-font-stack;
																content: $evo-site-sidenav-magellan-fixed-active-icon;
																color: $evo-site-sidenav-magellan-fixed-active-icon-color;
																position: absolute;
																left: $evo-site-sidenav-magellan-fixed-active-icon-position-left;
																margin-top: $evo-site-sidenav-magellan-fixed-active-icon-margin-top;
																}
															}
														}
													}
												}
											}

		// SIDENAV ACCORDION
		.evo-site--pattern-library-sidenav-accordian
											{
			.accordion-navigation				{
												border: 0;
												margin-bottom: 0 !important;
				&.active > a 						{background: $transparent !important;}
				a									{
													background-color: $transparent;
													padding: rem-calc(0 0 6 0);
					&:before							{
														float: right;
														top: 0;
														color: $evo-site-pattern-library-sidenav-accordian-icon-color;
														}
					&:hover								{background-color: $transparent;}
													}
				.content							{
													background-color: $transparent;
													padding-left: rem-calc(16);
					&.active							{background-color: $transparent;}
					a									{
														font-family: $evo-site-pattern-library-sidenav-accordian-content-link-font-family;
														font-size: $evo-site-pattern-library-sidenav-accordian-content-link-font-size;
														text-decoration: $evo-site-pattern-library-sidenav-accordian-content-link-text-decoration;
														}
					li									{line-height: $evo-site-pattern-library-sidenav-accordian-content-list-item-line-height;}
													}
												}
											}
	// SIDENAV - ENDS

	// EXAMPLE BOX - BEGINS
		.evo-site-example-box				{
											background-color: $evo-site-example-box-background-color;
											border: 0;
											padding: 0;
											margin-bottom: $evo-site-example-box-margin-bottom;
			.evo-icon-site-embed2				{
												float: right !important;
												margin-right: rem-calc(4);
												}
			.evo-hdr-rule						{
												border-bottom-width: $evo-site-example-box-hdr-border-bottom-width;
												border-bottom-color: $evo-site-example-box-hdr-border-bottom-color;
												}
			.evo-site-example-box--code-hdr		{
												@include border-radius($evo-site-example-box-code-hdr-border-radius);
												background-color: $evo-site-example-box-code-hdr-background-color;
												font-size: $evo-site-example-box-code-hdr-font-size;
												padding: $evo-site-example-box-code-hdr-padding;
				[class^="evo-icon-"]				{
													color: $evo-site-example-box-code-hdr-icon-color;
													float: right !important;
					&:hover								{color: $evo-site-example-box-code-hdr-hover-icon-color}
													}
												}
											}
	// EXAMPLE BOX - ENDS

	// MARKDOWN CONTENT BLOCK - BEINGS
		.evo-site-markdown-content-block	{
											margin-bottom: $evo-site-markdown-content-block-margin-bottom;
			h5									{
												border-bottom: $evo-site-markdown-hdr-rule-border-size $evo-site-markdown-hdr-rule-border-style $evo-site-markdown-hdr-rule-border-color;
												margin-bottom: $evo-site-markdown-hdr-rule-margin-bottom;
												}
											}
	// MARKDOWN CONTENT BLOCK - ENDS

// PATTERN LIBRARY TEMPLATE - ENDS


/*--- HOME PAGE ----------------------------------------------------------------------------*/

// BENEFITS TAB BAND - BEGINS
	.evo-site-band--home-benefits		{
		.evo-site-band--tab-panel			{
											padding: $evo-site-home-benefits-band-tab-panel-padding;
			.evo-site-tile						{
												background-repeat: $evo-site-home-benefits-band-tile-background-repeat;
												background-position: $evo-site-home-benefits-band-tile-background-position;
												background-size: $evo-site-home-benefits-band-tile-background-size;
												}
			.evo-site-tile--home-benefits-1		{
												background-color: $evo-site-home-benefits-band-benefits1-tile-background-color;
												background-image: url($evo-site-home-benefits-band-benefits1-tile-background-image);
												}
			.evo-site-tile--home-benefits-2		{
												background-color: $evo-site-home-benefits-band-benefits2-tile-background-color;
												background-image: url($evo-site-home-benefits-band-benefits2-tile-background-image);
												}
			.evo-site-tile--home-benefits-3		{
												background-color: $evo-site-home-benefits-band-benefits3-tile-background-color;
												background-image: url($evo-site-home-benefits-band-benefits3-tile-background-image);
												background-size: $evo-site-home-benefits-band-benefits3-tile-background-size;
												background-position: $evo-site-home-benefits-band-benefits3-tile-background-position;
												}
			.evo-site-tile--home-benefits-4		{
												background-color: $evo-site-home-benefits-band-benefits4-tile-background-color;
												background-image: url($evo-site-home-benefits-band-benefits4-tile-background-image);
												}
			.evo-site-tile--home-benefits-5		{
												background-color: $evo-site-home-benefits-band-benefits5-tile-background-color;
												background-image: url($evo-site-home-benefits-band-benefits5-tile-background-image);
												background-size: $evo-site-home-benefits-band-benefits5-tile-background-size;
												background-position: $evo-site-home-benefits-band-benefits5-tile-background-position;
												}
											}
										}
// BENEFITS TAB BAND - ENDS


/*--- ANIMATIONS PAGE ----------------------------------------------------------------------*/

// ANIMATIONS - BEGINS
	.evo-site-animation-block--swatch	{
										border: 0;
										cursor: pointer;
										height: auto;
										margin: 0 auto $evo-site-swatch-margin-bottom auto;
										padding: rem-calc(18 18 19 18);
										text-align: center;
										color: rgba($evo-site-animation-block-swatch-font-color, .5);
										}
// ANIMATIONS - ENDS


/*--- COLOR PALETTE PAGE -------------------------------------------------------------------*/

// COLOR PALETTE - BEGINS
	.evo-site-color-block				{
										@include clearfix;
		.evo-site-color-block--swatch-ctn	{
											float: left;
											padding: rem-calc(0 30 10 0);
			&:last-child						{padding-right: 0;}
											}
										}
// COLOR PALETTE - ENDS


/*--- CORPORATE LOGOS PAGE -----------------------------------------------------------------*/

// CORPORATE LOGOS - BEGINS
	.evo-site-corp-logo-ctn--img-ctn	{
										@include border-radius($global-radius);
										border: 1px solid $transparent;
										margin: rem-calc(20 0);
										padding: rem-calc(20);
										}
	.evo-site-corp-logo--favicon-img-ctn
										{
										margin: rem-calc(30 0);
										border: 1px solid $onyx-dark-20;
										background-color: $onyx-dark-2;
										padding-bottom: rem-calc(1);
		img									{margin: 0;}
										}
// CORPORATE LOGOS - ENDS



/*--- TYPOGRAPHY PAGE ----------------------------------------------------------------------*/

// TYPOGRAPHY - BEGINS
	.evo-type-sample					{
										margin-bottom: rem-calc(15);
		&[data-evo-type-sample="proxima-nova-regular"]
											{font-family: $evo-font-regular-stack;}
		&[data-evo-type-sample="proxima-nova-semibold"]
											{font-family: $evo-font-medium-stack;}
		&[data-evo-type-sample="proxima-nova-bold"]
											{font-family: $evo-font-bold-stack;}
		&[data-evo-type-sample="proxima-nova-italic"]
											{font-family: $evo-font-italic-stack;}
		&[data-evo-type-sample="proxima-nova-thin"]
											{font-family: $evo-font-thin-stack;}
		.large-size							{
											font-size: rem-calc(120);
											line-height: 1;
											}
		.medium-size						{
											font-size: rem-calc(32);
											word-wrap: break-word;
			span								{letter-spacing: rem-calc(6);}
											}
		.small-size							{
											font-size: rem-calc(22);
											word-wrap: break-word;
			span								{letter-spacing: rem-calc(3.5);}
											}
										}
	.evo-type-hierarchy-row				{margin-bottom: rem-calc(30) !important;}
	.evo-type-data-list					{
										font-size: rem-calc(14);
										margin-bottom: 0;
										}
// TYPOGRAPHY - ENDS


/*--- KITCHEN SINK -------------------------------------------------------------------------*/

// GRID DEMO
.evo-grid-demo							{
	.row									{
											border: 1px solid $onyx-dark-10;
											margin-bottom: $evo-base-margin;
											margin-left: 0 !important;
											margin-right: 0 !important;
											}
	.columns								{background-color: $onyx-dark-2;}
	.columns:nth-child(2n)					{background-color: $onyx-dark-6;}

	[class*="evo-icon-"]					{top: 3px;}

	[class*="small-block-grid-"]			{
		li										{
												background-color: $onyx-dark-2;
												border-top: 1px solid $onyx-dark-10;
												border-right: 1px solid $onyx-dark-10;
												border-bottom: 1px solid $onyx-dark-10;
												padding-top: rem-calc($evo-base-padding);
												text-align: center;
			&:nth-child(2n)							{background-color: $onyx-dark-6;}
			&:first-child							{border-left: 1px solid $onyx-dark-10;}
												}
											}
										}

// CENTER HORIZONTALLY AND VERTICALLY DEMO
.evo-center-container-dimensions-demo
										{
										height: rem-calc(200);
										width: 100%;
	p										{
											width: rem-calc(200) !important;
											}
										}

// HYPHEN DEMO
.evo-hyphen-demo						{@include hyphens(auto);}

// WORD BREAK DEMO
.evo-word-break-container-dimensions-demo
										{
										height: rem-calc(50);
										width: rem-calc(200);
										}


/*=== MEDIA QUERIES ========================================================================*/
@import	"partials/global/responsive_small",
		"partials/global/responsive_medium",
		"partials/global/responsive_large",
		"partials/global/responsive_xlarge",
		"partials/global/responsive_xxlarge"
		;

// ===========================================================================================
// PATTERN IMPORTS
// ===========================================================================================

// CONVERSATIONAL FORM
@import	"../../patterns/organisms/conversational-form/conversational-form.scss";

// FAT FOOTER
@import	"../../patterns/organisms/fat-footer/fat-footer.scss";

// ITEM SELECTION PANEL
@import	"../../patterns/organisms/item-selection-panel/item-selection-panel.scss";

// PRICING TABLE
@import	"../../patterns/organisms/pricing-table/pricing-table.scss";

// SHOWCASE PANEL
@import	"../../patterns/organisms/showcase-panel/showcase-panel.scss";

// SOCIAL MEDIA BADGES
@import	"../../patterns/organisms/social-media-badges/social-media-badges.scss";

// STEPPER
@import	"../../patterns/organisms/stepper/stepper.scss";

// THIN FOOTER
@import	"../../patterns/organisms/thin-footer/thin-footer.scss";