<!-- BUTTONS COMPONENT - BEGINS -->

	<!-- DEFAULT BUTTON TYPES - BEGINS -->
		<section class="row">
			<div class="small-12 columns">
				<h6>Default Button Types</h6>
				<p>There are two high level button types: Primary Buttons to denote the primary action on the page, and Secondary Buttons to denote ancillary actions.</p>
				<button class="button radius secondary evo-button" id="" name="" value="" type="" title="">Secondary</button>
				<button class="button radius evo-button" id="" name="" value="" type="" title="">Primary</button>
			</div>
		</section>
	<!-- DEFAULT BUTTON TYPES - ENDS -->

		<br />

	<!-- INTERACTIVE AND DISABLED BUTTONS - BEGINS -->
		<section class="row">
			<div class="medium-6 columns">
				<h6>Interactive</h6>
				<p>Buttons show interactivity by changing states once tapped/clicked by the user.</p>
				<button class="button radius evo-button" id="" name="" value="" type="" title="">Primary</button>
			</div>
			<div class="medium-6 columns">
				<h6>Disabled</h6>
				<p>Disabled buttons are no longer clickable/tappable.</p>
				<button class="button radius secondary disabled evo-button" id="" name="" value="" type="" disabled="disabled" title="">Secondary disabled</button>
				<button class="button radius disabled evo-button" id="" name="" value="" type="" disabled="disabled" title="">Primary disabled</button>
			</div>
		</section>
	<!-- INTERACTIVE AND DISABLED BUTTONS - ENDS -->

		<br />

	<!-- MULTI-STEP EXAMPLE - BEGINS -->
		<section class="row">
			<div class="small-12 columns">
				<h6>Multi-step Example</h6>
				<p>In cases where buttons are used within a multi-step flow, the common combination of buttons is as follows: "Cancel" first, followed by "Back", followed by whatever the primary action is ("Next", "Save", "Review", etc.).</p>
				<button class="button radius secondary evo-button" id="" name="" value="" type="" title="">Cancel</button>
				<button class="button radius secondary evo-button" id="" name="" value="" type="" title="">Back</button>
				<button class="button radius evo-button" id="" name="" value="" type="" title="">Save</button>
			</div>
		</section>
	<!-- MULTI-STEP EXAMPLE - ENDS -->	

		<br />

	<!-- MINIMUM AND MAXIMUM WIDTH - BEGINS -->
		<section class="row">
			<div class="medium-6 columns">
				<h6>Minimum Width</h6>
				<p>Each button has a minimum width of 100 pixels. This ensures consistency - even in cases where the label text is really short.</p>
				<button class="button radius secondary evo-button" id="" name="" value="" type="" title="">Back</button>
				<button class="button radius evo-button" id="" name="" value="" type="" title="">Go</button>
			</div>
			<div class="medium-6 columns">
				<h6>Maximum Width</h6>
				<p>The buttons are content aware, and the width of the button should be dynamic based on the label text.</p>
				<button class="button radius evo-button" id="" name="" value="" type="" title="">Submit Your Application Now</button>
			</div>
		</section>
	<!-- MINIMUM AND MAXIMUM WIDTH - ENDS -->

		<br />

	<!-- OPTIONAL ICON ON BUTTONS - BEGINS -->
		<section class="row">
			<div class="small-12 columns">
				<h6>Optional Icon</h6>
				<p>Each button can also support an optional icon pulled from the <a href="/reference/base/icons">Evolution set of icons</a>.</p>
				
				<!-- Button icon on left -->
				<a href="#/" class="button radius secondary evo-button" data-evo-button-icons="left"  id="" role="button" title="" aria-label="">
					<span class="evo-button-text">Back</span>
					<i class="evo-icon-arrow-left2 evo-icon-position-left" title=""></i>
				</a>

				<!-- Button icon on right -->
				<a href="#/" class="button radius evo-button" data-evo-button-icons="right"  id="" role="button" title="" aria-label="">
					<span class="evo-button-text">Save</span>
					<i class="evo-icon-arrow-right2 evo-icon-position-right" title=""></i>
				</a>
			</div>
		</section>
	<!-- OPTIONAL ICON ON BUTTONS - ENDS -->

<!-- BUTTONS COMPONENT - ENDS -->