{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}

<!-- INTRO SECTION - BEGINS -->
	<section class="col-24">
		<h1>{{ model.title }}</h1>
		<p class="mul-intro-text">
			Check boxes are form elements that allow users to make specific selections from a set of alternatives. More than one checkbox can be selected at time and a checkbox can be preselected by default. Use subheads to break up a long list of checkboxes into logical groups. This makes the choices faster to scan and easier to understand. And in those cases you may want to use <a href="/base/forms/selected-checkbox">Selected Checkbox</a>.
		</p>
	</section>
<!-- INTRO SECTION - ENDS -->

<section class="col-24">

	<h3 class="mul-hdr-dbl-rule">
		Example
		<a href="javascript:;" class="mul-icon-size-small mul-icon-mul-arrow-circle-down mul-icon-color-gray-darker mul-icon-position-right mul-float-right related-items-menu"></a>
	</h3>

<!-- FORM CHECKBOXES - BEGINS -->
	<div class="col-24 example-min-height">

		<div class="col-10 first">	
			<div class="mul-box mul-box-rnd mul-ref-example-box">
				<h4 class="mul-hdr-rule">Stacked Layout (Default)</h4>
				<!-- FORM CHECKBOX - EXAMPLE - BEGINS -->
					<form class="mul-form" id="" name="" method="" action="" title="">
						<fieldset>
							<ol>
								{% include '/base/forms/form-stacked-checkboxes' %}
							</ol>
						</fieldset>
					</form>
				<!-- FORM CHECKBOX - EXAMPLE - ENDS -->
			</div>
		</div>
		<div class="col-14">		
			<div class="mul-box mul-box-rnd mul-ref-example-box">
				<h4 class="mul-hdr-rule">In-Line Layout</h4>
				<!-- FORM CHECKBOX - EXAMPLE - BEGINS -->
					<form class="mul-form mul-form-inline" id="" name="" method="" action="" title="">
						<fieldset>
							<ol>
								{% include '/base/forms/form-inline-checkboxes' %}
							</ol>
						</fieldset>
					</form>
				<!-- FORM CHECKBOX - EXAMPLE - ENDS -->
			</div>
		</div>

	</div>
<!-- FORM CHECKBOXES - ENDS -->

<!-- DETAILS SECTION - BEGINS -->
	<a name="moreDetails"></a>
	<h4 class="mul-hdr-dbl-rule additional-detail-hdr">Additional Details</h4>

	<div class="col-24">
		<div class="js-mul-tabs-example mul-tabs">
			{% include "page-tabs" %}
			<div id="tabs-1">
				<p>
					Check boxes are used when you want to let the user select one or more options from a set of options. If only one option is to be selected at a time you should use <a href="/base/forms/radio-button">radio buttons</a> instead.
				</p>
			</div>
			<div id="tabs-2">
				<p> When a checkox is initially selected the Active State (see below) is highlighted using the "Attention" color and a checkmark is added to the box.</p>
							<h5>Margins</h5>
				<p>In order to keep with Mercer consistency, the margins between Elements have been standardized:</p>
				<ul>
					<li>Use a 10 pixel bottom between the Element and next Field Label. </li>
					<li>Use a 3 pixel bottom margin between a Label and an Input.</li>
				</ul>
				
				<h5>Labels</h5>
				<p>All field labels should use Title Case. See the <a href="/copy-text-styleguide">Copy/Text Style Guide narrative</a> for more detail.</p>

				<h5>Active State</h5>
				<p>The active state for any field should be indicated by the application of the "Attention" color to the border of the specific field the user has clicked into. See <a href="/base/colors">Color Palette</a> for more details on "Attention" color.</p>
				
				<h5>Required Fields</h5>
				<p>All required fields should be denoted by placing the  Required icon (the "asterisk-required.png" image from the <a href="/base/icons">list of icons</a>) immediately to the left of the Field Label.</p>
				<h5>Error Handling</h5>
				<p>See the <a href="/base/forms/field-specific-error">Field Specific Error Message</a> page for details.</p>
			</div>
			<div id="tabs-3">
				<p>Technical details go here&hellip;</p>			
			</div>
			<div id="tabs-4">
				<p>Examples go here&hellip;</p>
			</div>
			<div id="tabs-5">
			<!-- GET CODE - BEGINS -->
				<section class="col-24">

					<h5 class="mul-hdr-rule">HTML</h5>
					

					<h5 class="mul-hdr-rule">Stacked Checkboxes</h5>
					<pre class="prettyprint linenums"><xmp>{% include '/base/forms/form-stacked-checkboxes' %}</xmp></pre>

					<h5 class="mul-hdr-rule">Inline Checkboxes</h5>
					<pre class="prettyprint linenums"><xmp>{% include '/base/forms/form-inline-checkboxes' %}</xmp></pre>

				</section>
			<!-- GET CODE - ENDS -->
			</div>
		</div>
	</div>
<!-- DETAILS SECTION - ENDS -->

</section>
{% endblock %}