{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}

<!-- INTRO SECTION - BEGINS -->
	<section class="col-24">
		<h1>{{ model.title }}</h1>
		<p class="mul-intro-text">The Single Select Drop Down is a form element that functions like a <a href="/base/forms/radio-button">Radio Button</a>. It allows the user to only select one answer to a question on a form.</p>
	</section>
<!-- INTRO SECTION - ENDS -->

<section class="col-24">

	<h3 class="mul-hdr-dbl-rule">
		Example
		<a href="javascript:;" class="mul-icon-size-small mul-icon-mul-arrow-circle-down mul-icon-color-gray-darker mul-icon-position-right mul-float-right related-items-menu"></a>
	</h3>

<!-- SINGLE DROP DOWN MENU - BEGINS -->
	<div class="col-24 example-min-height">

		<div class="col-8 first">
			<div class="mul-box mul-box-rnd example-ctn">
				<h4 class="mul-hdr-rule">Stacked</h4>
				<form class="mul-form" id="" name="" method="" action="" title="">
					<fieldset>
						<ol>
							{% include '/base/forms/form-stacked-dropdown' %}
						</ol>
					</fieldset>
				</form>
			</div>
		</div>
		<div class="col-8">
			<div class="mul-box mul-box-rnd example-ctn">
				<h4 class="mul-hdr-rule">Inline</h4>
				<form class="mul-form mul-form-inline" id="" name="" method="" action="" title="">
					<fieldset>
						<ol>
							{% include '/base/forms/form-inline-dropdown' %}
						</ol>
					</fieldset>
				</form>
			</div>
		</div>

	</div>
<!-- SINGLE DROP DOWN MENU - ENDS -->

<!-- DETAILS SECTION - BEGINS -->
	<a name="moreDetails"></a>
	<h4 class="mul-hdr-dbl-rule additional-detail-hdr">Additional Details</h4>

	<div class="col-24">
		<div class="js-mul-tabs-example mul-tabs">
			{% include "page-tabs" %}
			<div id="tabs-1">
				<p>
					Use the Single Select Drop Down element when form questions have many possible answer choices, like age ranges or state residences. It allows you to conserve space on a page or application because the user has to click on the Single Select Drop Down in order to see the choices. The list retracts once the user makes a selection or clicks out of the Single Select Drop Down element.
				</p>
				<h5>Radio Buttons vs. Single Select Drop Down</h5>
				<p>
					These two form elements function pretty much the same way. The suggestion is to use <strong>Drop Down</strong>
					when the user doesn't need to know all of the alternative choices available (ie. selecting a "State" like Massachusetts. The other options don't matter) or useful for a long list.
				</p>
				<p>
					Use <strong>Radio Buttons</strong>
					when the alternatives matter - when you want the user to see what they are not choosing. Radio buttons allow you to expand the selection and even use longer text.
				</p>
			</div>
			<div id="tabs-2">
				<p>
					The "choose one..." (lower case) option in the drop down should be the default selection and listed first. This will distinguish it from a a user selecting an actual value.
				</p>
				<p>
					When the drop down menu is initially selected the Active State (see below) is highlighted using the "Attention" color.
				</p>
				<h5>Margins</h5>
				<p>
					In order to keep with Mercer consistency, the margins between Elements have been standardized:
				</p>
				<ul>
					<li>
						Use a 10 pixel bottom between the Element and next Field Label.
					</li>
					<li>Use a 3 pixel bottom margin between a Label and an Input.</li>
				</ul>

				<h5>Labels</h5>
				<p>
					All field labels should use Title Case. See the
					<a href="/copy-text-styleguide">Copy/Text Style Guide narrative</a>
					for more detail.
				</p>

				<h5>Active State</h5>
				<p>
					The active state for any field should be indicated by the application of the "Attention" color to the border of the specific field the user has clicked into. See
					<a href="/base/colors">Color Palette</a>
					for more details on "Attention" color.
				</p>

				<h5>Required Fields</h5>
				<p>
					All required fields should be denoted by placing the Required icon immediately to the left of the Field Label.
				</p>
				<h5>Error Handling</h5>
				<p>
					See the
					<a href="/base/forms/field-specific-error">Field Specific Error Message</a>
					page for details.
				</p>
			</div>
			<div id="tabs-3">
				<p>Technical details go here&hellip;</p>
			</div>
			<div id="tabs-4">
				<p>Examples go here&hellip;</p>
			</div>
			<div id="tabs-5">
			<!-- GET CODE - BEGINS -->
				<section class="col-24">

					<h5 class="mul-hdr-rule">HTML</h5>

					<h5 class="mul-hdr-rule">Stacked Dropdown</h5>
					<pre class="prettyprint linenums"><xmp>{% include '/base/forms/form-stacked-dropdown' %}</xmp></pre>

					<h5 class="mul-hdr-rule">Inline Dropdown</h5>
					<pre class="prettyprint linenums"><xmp>{% include '/base/forms/form-inline-dropdown' %}</xmp></pre>

				</section>
			<!-- GET CODE - ENDS -->
			</div>
		</div>
	</div>
<!-- DETAILS SECTION - ENDS -->

</section>
{% endblock %}