//-------------------------------------------------------------------------------------------
// Mercer Evolution - Employee Portal Family - Menu Bar Partial
// DATE - January 21, 2015
// AUTHOR - Doug Fraize, Matthew Holmes, Doug Richar, Vinod Bhatt
//-------------------------------------------------------------------------------------------

//
// @variables
//
$evo-off-canvas-alert-background-color: $amethyst-mid !default;


.off-canvas-wrap.move-right {
							position: fixed;
							height: 100%;
	.inner-wrap 				{
								height: 100%;
								}
							}

.evo-menu-bar-header		{
							margin-bottom: rem-calc(45);
							}

.evo-menu-bar				{
							position: fixed;
							width: 100%;
							z-index: 9999;

	.left-off-canvas-toggle		{
								display: block;
								height: rem-calc(45);
		[class*="evo-icon-"]		{
									top: rem-calc(5);
									left: rem-calc(8);
									}
								}

	.tab-bar-section			{
		a							{
									display: block;
			img							{
										margin-top: rem-calc(-2);
										}
									}
								}
							
							}

.evo-off-canvas-menu		{

	.off-canvas-list			{
		li							{
			label						{
										line-height: 1.25;
										}
			a							{
										display: block;
										font-size: rem-calc(18);
										text-decoration: none;
										min-height: rem-calc(63);
				.evo-off-canvas-list-item-icon
											{
											float: right;
											margin-left: rem-calc(15);
											}
				.evo-off-canvas-list-item-label
											{
											position: relative;
											top: rem-calc(3);
											}
										}
									}
		.back						{
			a							{
				.evo-off-canvas-list-item-label
											{
											position: relative;
											top: rem-calc(-5);
											left: rem-calc(-10);
					[class*="evo-icon-"]		{
												top: rem-calc(7);
												left: rem-calc(-5);
												}
											}
										}
									}
		.evo-off-canvas-alert		{
			label						{
										padding-top: rem-calc(12);
										min-height: rem-calc(63);
										background-color: $evo-off-canvas-alert-background-color;
										}
									}
		.has-submenu				{
			.left-submenu				{
										min-height: rem-calc(1024);
										}
			> a:after					{
										content: "" !important;
										margin: 0 !important;
										}
			.back						{
				> a:before					{
											content: "" !important;
											margin: 0 !important;
											}
				[class*="evo-icon-"]		{
											width: rem-calc(16);
											height: rem-calc(16);
											}
										}
									}
								}

							}