//-------------------------------------------------------------------------------------------
// Mercer Evolution - Employee Portal Family - Title Bar Partial
// DATE - January 21, 2015
// AUTHOR - Doug Fraize, Matthew Holmes, Doug Richar, Vinod Bhatt
//-------------------------------------------------------------------------------------------

//
// @variables
//
$evo-title-bar-icon-color: $white !default;
$evo-title-bar-font-color: $white !default;

.f-topbar-fixed				{
	header[role="banner"]		{
		.fixed						{
									z-index: 900;
									}
								}
							}

.evo-title-bar				{
							height: auto !important;
							min-height: rem-calc(45);
							
	.evo-title-bar-icon-column	{
								padding-left: 0;
								padding-right: 0;
		.evo-title-bar-icon			{
									display: block;
									width: rem-calc(45);
									height: rem-calc(45);
									padding-left: rem-calc(10);
			[class*="evo-icon-"]		{
										color: $evo-title-bar-icon-color;
										top: rem-calc(5);
										left: rem-calc(-10);
										}
									}
								}

	.evo-title-bar-title-column	{
								padding-left: 0;
								padding-right: 0;
		.evo-title-bar-title		{
									margin-top: rem-calc(14);
									margin-bottom: rem-calc(15);
									color: $evo-title-bar-font-color;
									}
								}

	.evo-title-bar-count-column	{
								padding-left: 0;
								padding-right: 10px;
		.evo-title-bar-count		{
									color: $evo-title-bar-font-color;
									font-size: rem-calc(12);
									}
								}

							}