//-------------------------------------------------------------------------------------------
// Mercer Evolution - Employee Portal Family - Type Partial CSS
// DATE - January 21, 2015
// AUTHOR - Doug Fraize, Matthew Holmes, Doug Richar, Vinod Bhatt
//-------------------------------------------------------------------------------------------

//
// @variables
//



// ==========================================================================================
// GLOBAL
// ==========================================================================================

// HEADERS
h1							{
							font-family: $evo-font-bold-stack;
							letter-spacing: rem-calc(-.2);
							}

h2							{
							font-family: $evo-font-medium-stack;
							}

h3							{
							font-family: $evo-font-regular-stack;
							}

h4							{
							font-family: $evo-font-regular-stack;
							text-transform: uppercase;
							letter-spacing: rem-calc(1);
							}

h5							{
							font-family: $evo-font-regular-stack;
							text-transform: uppercase;
							letter-spacing: rem-calc(2);
							}

h6							{
							font-family: $evo-font-bold-stack;
							text-transform: uppercase;
							letter-spacing: rem-calc(2);
							}

// SMALL TEXT
small,
.small-text,
.evo-footnote				{
							font-family: $evo-font-regular-stack;
							}

// LINKS
a.reverse					{
							color: $evo-ep-anchor-font-color-reverse;
							}
a.alt						{	
							color: $evo-ep-anchor-font-color-alt;
							}


// ==========================================================================================
// COSTS
// ==========================================================================================

.cost-number				{
							font-family: $evo-font-bold-stack;
							line-height: 1;
							}

.monthly-label				{
							font-family: $evo-font-medium-stack;
							font-size: rem-calc(16);
							text-transform: uppercase;
							}

.total-label,
.plan-label					{
							display: block;
							font-size: rem-calc(11);
							}

.large-cost					{
							text-align: center;
							color: $evo-ep-large-cost-font-color;
	.cost-number				{
								font-size: rem-calc(48);
								letter-spacing: rem-calc(-2);
		sup							{
									vertical-align: rem-calc(16);
									}
								}
	.monthly-label				{
								position: relative;
								left: rem-calc(-10);
								vertical-align: rem-calc(4);
								}
	.total-label				{
								position: relative;
								top: rem-calc(-7);
								}
							}

.small-cost					{
							text-align: center;
							color: $evo-ep-small-cost-font-color;
	.cost-number				{
								font-size: rem-calc(26);
								letter-spacing: rem-calc(-.2);
		sup							{
									font-size: rem-calc(11);
									vertical-align: rem-calc(4);
									}
								}
	.monthly-label				{
								font-family: $evo-font-bold-stack;
								position: relative;
								left: rem-calc(-5);
								vertical-align: rem-calc(4);
								text-transform: lowercase;
								}
							}

.cost-reverse				{
							color: $evo-ep-cost-reverse-font-color;
							}