//-------------------------------------------------------------------------------------------
// Mercer Evolution - Employee Portal Family - Type Partial
// DATE - January 21, 2015
// AUTHOR - Doug Fraize, Matthew Holmes, Doug Richar, Vinod Bhatt
//-------------------------------------------------------------------------------------------

//
// @variables
//

// LINKS
$evo-anchor-font-color-reverse: 			$white !default;
$evo-anchor-font-color-alt: 				$ruby-mid !default;
$evo-anchor-font-size-small:				14 !default;

// COSTS
$evo-cost-reverse-font-color:				$white !default;
$evo-large-cost-font-color:					$gray-mid !default;
$evo-small-cost-font-color:					$gray-mid !default;


// ==========================================================================================
// GLOBAL
// ==========================================================================================

// HEADERS
h1,
h2,
h3,
h4,
h5							{
							font-family: $evo-font-bold-stack;
							text-transform: uppercase;
							}

h1							{
							letter-spacing: rem-calc(2);
							}
h2							{
							letter-spacing: rem-calc(2);
							}
h3							{
							letter-spacing: rem-calc(2);
							}
h4							{
							letter-spacing: rem-calc(2);
							}
h5							{
							letter-spacing: rem-calc(2);
							}
h6							{
							font-family: $evo-font-regular-stack;
							letter-spacing: rem-calc(1);
							text-transform: uppercase;
							}

// SMALL TEXT
small,
.evo-small-text,
.evo-footnote				{
							font-family: $evo-font-regular-stack;
							}

// LINKS
a.evo-anchor-small			{
							font-size: rem-calc($evo-anchor-font-size-small);
							}

a.evo-anchor-reverse		{
							color: $evo-anchor-font-color-reverse;
							}
a.evo-anchor-alt			{	
							color: $evo-anchor-font-color-alt;
							}


// ==========================================================================================
// COSTS TYPOGRAPHY
// ==========================================================================================

.evo-cost-number			{
							font-family: $evo-font-bold-stack;
							line-height: 1;
							}

.evo-monthly-label			{
							font-family: $evo-font-medium-stack;
							font-size: rem-calc(16);
							text-transform: uppercase;
							}

.evo-total-label,
.evo-plan-label				{
							display: block;
							font-size: rem-calc(11);
							}

.evo-large-cost				{
							text-align: center;
							color: $evo-large-cost-font-color;
	.evo-cost-number			{
								font-size: rem-calc(48);
								letter-spacing: rem-calc(-2);
		sup							{
									vertical-align: rem-calc(16);
									}
								}
	.evo-monthly-label			{
								position: relative;
								left: rem-calc(-10);
								vertical-align: rem-calc(4);
								}
	.evo-total-label			{
								position: relative;
								top: rem-calc(-7);
								}
							}

.evo-small-cost				{
							text-align: center;
							color: $evo-small-cost-font-color;
	.evo-cost-number			{
								font-size: rem-calc(26);
								letter-spacing: rem-calc(-.2);
		sup							{
									font-size: rem-calc(11);
									vertical-align: rem-calc(4);
									}
								}
	.evo-monthly-label			{
								font-family: $evo-font-bold-stack;
								position: relative;
								left: rem-calc(-5);
								vertical-align: rem-calc(4);
								text-transform: lowercase;
								}
							}

.evo-cost-reverse			{
							color: $evo-cost-reverse-font-color;
	a							{color: $evo-cost-reverse-font-color;}
							}