<header role="banner" class="mul-grid mul-header">
	<div class="mul-header-adjust {% if global.type_of_navbar == 'toolbar' and global.toolbar_fixed == 'true' %}mul-toolbar-header-adjust{% endif %}">
		{% include '/base/header/masthead' %}
		{% include '/base/header/navbar' %}
	</div>
</header>