<ul>
	<li><a href="#tabs-1">Usage</a></li>
	<li><a href="#tabs-2">Details</a></li>
	<li><a href="#tabs-4">Mobile</a></li>
	<li><a href="#tabs-3">Technical</a></li>
	<li class="get-code-tab"><a href="#tabs-5">Get Code</a></li>
</ul>