<!-- USER IDENTIFIER - BEGINS -->
	<ul class="sm sm-simple mul-user-identifier-ctn js-mul-menus">
		<li>			
			<a href="javascript:;">
				<i class="mul-icon-arrow-down2 col-3 first mul-user-identifier-ctn-indicator"></i>
				<div class="col-17 mul-user-identifier-ctn-user-info">
					<span class="">Arquimedez Pozo</span>
					<span class="">Front-end Web Developer</span>
				</div>
				<i class="mul-icon-user mul-icon-size-medium col-4 mul-user-identifier-ctn-avatar" title="Arquimedez Pozo"></i>
			</a>
			<ul class="mul-user-identifier-menu">
				<li><a href="javascript:;">View Profile</a></li>
				<li><a href="javascript:;">Change Language</a></li>
				<li><a href="javascript:;">User Administration</a></li>
				<li><a href="javascript:;">Log Out</a></li>
			</ul>
		</li>
	</ul>
<!-- USER IDENTIFIER - ENDS -->