//-------------------------------------------------------------------------------------------
// Mercer Evolution - Core v2.7 - Global Color Variables Partial
// DATE - June 3, 2015
// AUTHOR - Doug Fraize, Matthew Holmes
//-------------------------------------------------------------------------------------------

// ==========================================================================================
// BASE COLORS
// ==========================================================================================

$transparent:								transparent !default;
$white:										#FFFFFF !default;
$black:										#000000 !default;

// GRAY COLORS
// ------------------------------------------------------------------------------------------

$gray:										#20262B !default;
$gray-darkest:								#37424A !default;
$gray-darker:								#2C2C2C !default;
$gray-dark:									#404040 !default;
$gray-mid-dark:								#808080 !default;
$gray-mid:									#BFBFBF !default;
$gray-mid-light:							#D7D7D7 !default;
$gray-light:								#E6E6E6 !default;
$gray-lighter:								#EEEEEE !default;
$gray-lightest:								#F5F5F5 !default;


// ==========================================================================================
// EVOLUTION COLORS
// ==========================================================================================

// BLUE GRAY COLORS
// ------------------------------------------------------------------------------------------
$blue-gray:									#23334C !default;
$blue-gray-darkest:							#395A85 !default;
$blue-gray-darker:							#396EA8 !default;
$blue-gray-dark:							#517BAA !default;
$blue-gray-mid-dark:						#6B90B8 !default;
$blue-gray-mid-light:						#A9BCD3 !default;
$blue-gray-light:							#C3D2E5 !default;
$blue-gray-lighter:							#E9EEF5 !default;
$blue-gray-lightest:						#E8F0F7 !default;


// ==========================================================================================
// MMC COLOR SPECTRUM COLORS
// ==========================================================================================

// SAPPHIRE COLORS
// ------------------------------------------------------------------------------------------
$sapphire:									#002C77 !default;
$sapphire-dark:								#006D9E !default;
$sapphire-mid:								#00A8C8 !default;
$sapphire-light:							#A6E2EF !default;

// IOLITE COLORS
// ------------------------------------------------------------------------------------------
$iolite:									#43286D !default;
$iolite-dark:								#595998 !default;
$iolite-mid:								#6F85C2 !default;
$iolite-light:								#C5CAE7 !default;

// AMETHYST COLORS
// ------------------------------------------------------------------------------------------
$amethyst:									#570054 !default;
$amethyst-dark:								#932077 !default;
$amethyst-mid:								#CF3D96 !default;
$amethyst-light:							#E7B8D6 !default;

// RUBY COLORS
// ------------------------------------------------------------------------------------------
$ruby:										#690031 !default;
$ruby-dark:									#A9194F !default;
$ruby-mid:									#ED2C67 !default;
$ruby-light:								#F7B6BB !default;

// GARNET COLORS
// ------------------------------------------------------------------------------------------
$garnet:									#820009 !default;
$garnet-dark:								#BB2C2B !default;
$garnet-mid:								#EF4E45 !default;
$garnet-light:								#F9BEAD !default;

// CITRINE COLORS
// ------------------------------------------------------------------------------------------
$citrine:									#8D380A !default;
$citrine-dark:								#C55F24 !default;
$citrine-mid:								#F48132 !default;
$citrine-light:								#FCCFAB !default;

// TOPAZ COLORS
// ------------------------------------------------------------------------------------------
$topaz:										#905501 !default;
$topaz-dark:								#C98414 !default;
$topaz-mid:									#FBAE17 !default;
$topaz-light:								#FFDDAC !default;

// PERIDOT COLORS
// ------------------------------------------------------------------------------------------
$peridot:									#516021 !default;
$peridot-dark:								#838E30 !default;
$peridot-mid:								#B3BA35 !default;
$peridot-light:								#D9D99F !default;

// EMERALD COLORS
// ------------------------------------------------------------------------------------------
$emerald:									#00582D !default;
$emerald-dark:								#128C3F !default;
$emerald-mid:								#72BE44 !default;
$emerald-light:								#BDDDA3 !default;

// TURQUOISE COLORS
// ------------------------------------------------------------------------------------------
$turquoise:									#004C50 !default;
$turquoise-dark:							#008075 !default;
$turquoise-mid:								#0FB694 !default;
$turquoise-light:							#A7D9C8 !default;


// ==========================================================================================
// BRAND COLORS
// ==========================================================================================

// HIGHLIGHT COLOR
$evo-highlight-color:						#F7F0B2 !default;

// ICONS
$iconFontColorWhite:						$white !default;
$iconFontColorBlack:						$black !default;
$iconFontColorGrayDark:						$gray-dark !default;
$iconFontColorDisabled:						$gray-light !default;
$iconFontColorConfirmation:					$emerald !default;
$iconFontColorError:						$garnet-dark !default;
$iconFontColorAttention:					$topaz-dark !default;
$iconFontColorInfo:							$sapphire !default;
$iconFontGrayDarkBackgroundStartColor:		$gray-mid !default;
$iconFontGrayDarkBackgroundEndColor:		$gray-dark !default;
$iconFontConfirmationBackgroundStartColor:	$emerald-mid !default;
$iconFontConfirmationBackgroundEndColor:	$emerald !default;
$iconFontErrorBackgroundStartColor:			$garnet-mid !default;
$iconFontErrorBackgroundEndColor:			$garnet-dark !default;
$iconFontAttentionBackgroundStartColor:		$topaz-mid !default;
$iconFontAttentionBackgroundEndColor:		$topaz-dark !default;
$iconFontInfoBackgroundStartColor:			$sapphire-mid !default;
$iconFontInfoBackgroundEndColor:			$sapphire !default;
$iconFontAdvGrayDarkBackgroundColor:		$gray-dark !default;
$iconFontAdvDisabledBackgroundColor:		$gray-light !default;
$iconFontAdvDisabledShadowColor:			$gray-light !default;


// PROFILE CONTAINERS
$profileContainerUserHdrBackgroundColor:	$sapphire-mid !default;
$profileContainerClientInactiveHdrBackgroundColor: $gray-dark !default;
$profileContainerClientActiveHdrBackgroundColor: $iolite !default;
$profileContainerClientProspectiveHdrBackgroundColor: $iolite-mid !default;
$profileContainerProductHdrBackgroundColor: $citrine !default;
$profileContainerPlanHdrBackgroundColor:	$citrine-mid !default;
$profileContainerLocationPlanHdrBackgroundColor: $blue-gray-mid-light !default;


// ==========================================================================================
// COLOR PALETTE ARRAY
// ==========================================================================================

$color-palette: (

	// BASE COLORS
	transparent: 			(color: $transparent),
	white: 					(color: $white),
	black: 					(color: $black),

	// GRAY COLORS
	gray:					(color: $gray),
	gray-darkest:			(color: $gray-darkest),
	gray-darker:			(color: $gray-darker),
	gray-dark:				(color: $gray-dark),
	gray-mid-dark:			(color: $gray-mid-dark),
	gray-mid:				(color: $gray-mid),
	gray-mid-light:			(color: $gray-mid-light),
	gray-light:				(color: $gray-light),
	gray-lighter:			(color: $gray-lighter),
	gray-lightest:			(color: $gray-lightest),

	// BLUE GRAY COLORS
	blue-gray: 				(color: $blue-gray),
	blue-gray-darkest: 		(color: $blue-gray-darkest),
	blue-gray-darker: 		(color: $blue-gray-darker),
	blue-gray-dark: 		(color: $blue-gray-dark),
	blue-gray-mid-dark: 	(color: $blue-gray-mid-dark),
	blue-gray-mid-light: 	(color: $blue-gray-mid-light),
	blue-gray-light: 		(color: $blue-gray-light),
	blue-gray-lighter: 		(color: $blue-gray-lighter),
	blue-gray-lightest: 	(color: $blue-gray-lightest),

	// SAPPHIRE COLORS
	sapphire: 				(color: $sapphire),
	sapphire-dark: 			(color: $sapphire-dark),
	sapphire-mid: 			(color: $sapphire-mid),
	sapphire-light: 		(color: $sapphire-light),

	// IOLITE COLORS
	iolite: 				(color: $iolite),
	iolite-dark: 			(color: $iolite-dark),
	iolite-mid: 			(color: $iolite-mid),
	iolite-light: 			(color: $iolite-light),

	// AMETHYST COLORS
	amethyst: 				(color: $amethyst),
	amethyst-dark: 			(color: $amethyst-dark),
	amethyst-mid: 			(color: $amethyst-mid),
	amethyst-light: 		(color: $amethyst-light),

	// RUBY COLORS
	ruby: 					(color: $ruby),
	ruby-dark: 				(color: $ruby-dark),
	ruby-mid: 				(color: $ruby-mid),
	ruby-light: 			(color: $ruby-light),

	// GARNET COLORS
	garnet: 				(color: $garnet),
	garnet-dark: 			(color: $garnet-dark),
	garnet-mid: 			(color: $garnet-mid),
	garnet-light: 			(color: $garnet-light),

	// CITRINE COLORS
	citrine: 				(color: $citrine),
	citrine-dark:			(color: $citrine-dark),
	citrine-mid:			(color: $citrine-mid),
	citrine-light:			(color: $citrine-light),

	// TOPAZ COLORS
	topaz: 					(color: $topaz),
	topaz-dark:				(color: $topaz-dark),
	topaz-mid:				(color: $topaz-mid),
	topaz-light: 			(color: $topaz-light),

	// PERIDOT COLORS
	peridot: 				(color: $peridot),
	peridot-dark:			(color: $peridot-dark),
	peridot-mid:			(color: $peridot-mid),
	peridot-light:			(color: $peridot-light),

	// EMERALD COLORS
	emerald: 				(color: $emerald),
	emerald-dark:			(color: $emerald-dark),
	emerald-mid:			(color: $emerald-mid),
	emerald-light:			(color: $emerald-light),

	// TURQUOISE COLORS
	turquoise: 				(color: $turquoise),
	turquoise-dark:			(color: $turquoise-dark),
	turquoise-mid:			(color: $turquoise-mid),
	turquoise-light:		(color: $turquoise-light)

);