//-------------------------------------------------------------------------------------------
// Mercer Evolution - Core v2.3 - Global Helpers Partial
// DATE - February 21, 2014
// AUTHOR - Doug Fraize, Matthew Holmes
//-------------------------------------------------------------------------------------------

// TYPE HELPERS
// ------------------------------------------------------------------------------------------

// TEXT OVERFLOW
.mul-text-overflow						{@include text-overflow;}

// WORD BREAK
.mul-word-break							{word-wrap: break-word;}

// FOOTNOTES
.mul-footnote							{color: $footnoteFontColor;}

// NO BOLD STYLE
.mul-nobold								{font-family: $fontRegularFamily;}

// BOLD STYLE
.mul-bold								{font-family: $fontSemiBoldFamily;}

// NO BULLETED LISTS
.mul-no-bullets							{
										list-style: none;
										margin-left: 0;
										}


// PAGE ELEMENT HELPERS
// ------------------------------------------------------------------------------------------

// BASIC IMAGE STYLES
img										{
										max-width: 100%;
										height: auto;

	&.mul-image-left						{
											float: left;
											margin-top: 5px;
											margin-right: 20px;
											}
	&.mul-image-right						{
											float: right;
											margin-top: 5px;
											margin-left: 20px;
											}
										}

// KEYLINES

// Use on elememts which need a keyline on the right
.mul-keyline-right						{
										padding-right: 20px;
										border-right:1px solid $keylineRightBorderRightColor;
	img										{margin-top:5px;}
										}

// Use on elements which need a keyline on the left
.mul-keyline-left						{
										padding-left: 20px;
										border-left: 1px solid $keylineLeftBorderLeftColor;
	img										{margin-top: 5px;}
										}

// Removes border on last keyline right
.mul-keyline-right.last					{border-right: 0;}

// Removes border and padding on first keyline left, make sure to add class of first
.mul-keyline-left.first					{
										border-left: 0;
										padding-left: 0;
										}

// KEYLINE MEDIA QUERIES

// Portrait iPhone, landscape iPhone, portrait smart phones, Nook/Kindle/Kindle Fire
@if $use-small-mediaquery == true {
	@include media-query(screen, max, "", $smallMediaQueryBreakpointMax) {
		
		// KEYLINES
		.mul-keyline-right,
		.mul-keyline-left					{
											padding-right:0;
											padding-left:0;
											border-right:0;
											border-left:0;
			img									{margin-top:0;}
											}

	}
}


// LAYOUT HELPERS
// ------------------------------------------------------------------------------------------

// CLEAR FIX
.mul-clearfix							{@include clearfix;}

// ABSOLUTE CENTER
// This will center an element horizontally and vertically
.mul-align-absolute-center				{
										position: relative;
	.mul-align-absolute-center-element		{
											margin: auto;
											position: absolute;
											top: 0;
											left: 0;
											bottom: 0;
											right: 0;
											}
										}

// LEFT AND RIGHT ALIGN TEXT
.mul-align-center						{text-align: center !important;}
.mul-align-left							{text-align: left !important;}
.mul-align-right						{text-align: right !important;}


// HORIZONTAL CENTERING FOR BLOCK ELEMENTS
// Apply class to element that needs to be centered horizontally
.mul-center-block						{
										float: none !important;
										display: block !important;
										margin-right: auto !important;
										margin-left: auto  !important;
										}
.mul-float-left							{float: left !important;}
.mul-float-right						{float: right !important;}

// HIDE ELEMENTS
.mul-display-none						{display: none;}

// WHITE SPACE NO WRAP
.mul-nowrap								{white-space: nowrap !important;}


// MARGIN ENABLERS/DISABLERS

// ADD MARGIN
.mul-margin								{margin: $baseMargin !important;}
.mul-margin-top							{margin-top: $baseMargin !important;}
.mul-margin-right						{margin-right: $baseMargin !important;}
.mul-margin-bottom						{margin-bottom: $baseMargin !important;}
.mul-margin-left						{margin-left: $baseMargin !important;}

// SUBTRACT MARGIN
.mul-no-margin							{margin: 0 !important;}
.mul-no-margin-top						{margin-top: 0 !important;}
.mul-no-margin-right					{margin-right: 0 !important;}
.mul-no-margin-bottom					{margin-bottom: 0 !important;}
.mul-no-margin-left						{margin-left: 0 !important;}

// PADDING ENABLERS/DISABLERS

// ADD PADDING
.mul-padding							{padding: $basePadding !important;}
.mul-padding-top						{padding-top: $basePadding !important;}
.mul-padding-right						{padding-right: $basePadding !important;}
.mul-padding-bottom						{padding-bottom: $basePadding !important;}
.mul-padding-left						{padding-left: $basePadding !important;}

// SUBTRACT PADDING
.mul-no-padding							{padding:0 !important;}
.mul-no-padding-top						{padding-top: 0 !important;}
.mul-no-padding-right					{padding-right: 0 !important;}
.mul-no-padding-bottom					{padding-bottom: 0 !important;}
.mul-no-padding-left					{padding-left: 0 !important;}


// SPACERS

// MARGIN SPACERS
.mul-spacer-margin-x-small				{margin: $spacerXSmall !important;}
.mul-spacer-margin-small				{margin: $spacerSmall !important;}
.mul-spacer-margin-medium				{margin: $spacerMedium !important;}
.mul-spacer-margin-large				{margin: $spacerLarge !important;}
.mul-spacer-margin-x-large				{margin: $spacerXLarge !important;}
.mul-spacer-margin-xx-large				{margin: $spacerXXLarge !important;}
.mul-spacer-margin-xxx-large			{margin: $spacerXXXLarge !important;}

.mul-spacer-margin-top-x-small			{margin-top: $spacerXSmall !important;}
.mul-spacer-margin-top-small			{margin-top: $spacerSmall !important;}
.mul-spacer-margin-top-medium			{margin-top: $spacerMedium !important;}
.mul-spacer-margin-top-large			{margin-top: $spacerLarge !important;}
.mul-spacer-margin-top-x-large			{margin-top: $spacerXLarge !important;}
.mul-spacer-margin-top-xx-large			{margin-top: $spacerXXLarge !important;}
.mul-spacer-margin-top-xxx-large		{margin-top: $spacerXXXLarge !important;}

.mul-spacer-margin-right-x-small		{margin-right: $spacerXSmall !important;}
.mul-spacer-margin-right-small			{margin-right: $spacerSmall !important;}
.mul-spacer-margin-right-medium			{margin-right: $spacerMedium !important;}
.mul-spacer-margin-right-large			{margin-right: $spacerLarge !important;}
.mul-spacer-margin-right-x-large		{margin-right: $spacerXLarge !important;}
.mul-spacer-margin-right-xx-large		{margin-right: $spacerXXLarge !important;}
.mul-spacer-margin-right-xxx-large		{margin-right: $spacerXXXLarge !important;}

.mul-spacer-margin-bottom-x-small		{margin-bottom: $spacerXSmall !important;}
.mul-spacer-margin-bottom-small			{margin-bottom: $spacerSmall !important;}
.mul-spacer-margin-bottom-medium		{margin-bottom: $spacerMedium !important;}
.mul-spacer-margin-bottom-large			{margin-bottom: $spacerLarge !important;}
.mul-spacer-margin-bottom-x-large		{margin-bottom: $spacerXLarge !important;}
.mul-spacer-margin-bottom-xx-large		{margin-bottom: $spacerXXLarge !important;}
.mul-spacer-margin-bottom-xxx-large		{margin-bottom: $spacerXXXLarge !important;}

.mul-spacer-margin-left-x-small			{margin-left: $spacerXSmall !important;}
.mul-spacer-margin-left-small			{margin-left: $spacerSmall !important;}
.mul-spacer-margin-left-medium			{margin-left: $spacerMedium !important;}
.mul-spacer-margin-left-large			{margin-left: $spacerLarge !important;}
.mul-spacer-margin-left-x-large			{margin-left: $spacerXLarge !important;}
.mul-spacer-margin-left-xx-large		{margin-left: $spacerXXLarge !important;}
.mul-spacer-margin-left-xxx-large		{margin-left: $spacerXXXLarge !important;}

// PADDING SPACERS
.mul-spacer-padding-x-small				{padding: $spacerXSmall !important;}
.mul-spacer-padding-small				{padding: $spacerSmall !important;}
.mul-spacer-padding-medium				{padding: $spacerMedium !important;}
.mul-spacer-padding-large				{padding: $spacerLarge !important;}
.mul-spacer-padding-x-large				{padding: $spacerXLarge !important;}
.mul-spacer-padding-xx-large			{padding: $spacerXXLarge !important;}
.mul-spacer-padding-xxx-large			{padding: $spacerXXXLarge !important;}

.mul-spacer-padding-top-x-small			{padding-top: $spacerXSmall !important;}
.mul-spacer-padding-top-small			{padding-top: $spacerSmall !important;}
.mul-spacer-padding-top-medium			{padding-top: $spacerMedium !important;}
.mul-spacer-padding-top-large			{padding-top: $spacerLarge !important;}
.mul-spacer-padding-top-x-large			{padding-top: $spacerXLarge !important;}
.mul-spacer-padding-top-xx-large		{padding-top: $spacerXXLarge !important;}
.mul-spacer-padding-top-xxx-large		{padding-top: $spacerXXXLarge !important;}

.mul-spacer-padding-right-x-small		{padding-right: $spacerXSmall !important;}
.mul-spacer-padding-right-small			{padding-right: $spacerSmall !important;}
.mul-spacer-padding-right-medium		{padding-right: $spacerMedium !important;}
.mul-spacer-padding-right-large			{padding-right: $spacerLarge !important;}
.mul-spacer-padding-right-x-large		{padding-right: $spacerXLarge !important;}
.mul-spacer-padding-right-xx-large		{padding-right: $spacerXXLarge !important;}
.mul-spacer-padding-right-xxx-large		{padding-right: $spacerXXXLarge !important;}

.mul-spacer-padding-bottom-x-small		{padding-bottom: $spacerXSmall !important;}
.mul-spacer-padding-bottom-small		{padding-bottom: $spacerSmall !important;}
.mul-spacer-padding-bottom-medium		{padding-bottom: $spacerMedium !important;}
.mul-spacer-padding-bottom-large		{padding-bottom: $spacerLarge !important;}
.mul-spacer-padding-bottom-x-large		{padding-bottom: $spacerXLarge !important;}
.mul-spacer-padding-bottom-xx-large		{padding-bottom: $spacerXXLarge !important;}
.mul-spacer-padding-bottom-xxx-large	{padding-bottom: $spacerXXXLarge !important;}

.mul-spacer-padding-left-x-small		{padding-left: $spacerXSmall !important;}
.mul-spacer-padding-left-small			{padding-left: $spacerSmall !important;}
.mul-spacer-padding-left-medium			{padding-left: $spacerMedium !important;}
.mul-spacer-padding-left-large			{padding-left: $spacerLarge !important;}
.mul-spacer-padding-left-x-large		{padding-left: $spacerXLarge !important;}
.mul-spacer-padding-left-xx-large		{padding-left: $spacerXXLarge !important;}
.mul-spacer-padding-left-xxx-large		{padding-left: $spacerXXXLarge !important;}


// TABLE COLUMN WIDTHS ADJUSTS (PERCENTAGES)
.mul-tbl-column-50						{width: #{tableColWidth(50)};} // Width of 50%, Halves
.mul-tbl-column-33						{width: #{tableColWidth(33.3)};} // Width of 33.3%, Thirds
.mul-tbl-column-25						{width: #{tableColWidth(25)};} // Width of 25%, Quarters
.mul-tbl-column-20						{width: #{tableColWidth(20)};} // Width of 20%, Fifths
.mul-tbl-column-16						{width: #{tableColWidth(16.6)};} // Width of 16.6%, Sixths
.mul-tbl-column-14						{width: #{tableColWidth(14.2)};} // Width of 14.2%, Sevenths
.mul-tbl-column-12						{width: #{tableColWidth(12.5)};} // Width of 12.5%, Eighths


// RESPONSIVE HELPERS
// ------------------------------------------------------------------------------------------

// BREAKPOINTS
// small media query = phones
// medium media query = tablets
// large media query = desktop


// IE10 Metro responsive
// Required for Windows 8 Metro split-screen snapping with IE10
// Source: http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@-ms-viewport 							{width:device-width;}

// IE10 on Windows Phone 8
// IE10 on WP8 doesn't report CSS pixels, but actual device pixels. In
// other words, say on a Lumia, you'll get 768px as the device width,
// meaning users will see the tablet styles and not phone styles.
//
// Alternatively you can override this with JS (see source below), but
// we won't be doing that here given our limited scope.
//
// Source: http://timkadlec.com/2013/01/windows-phone-8-and-device-width/
@media screen and (max-width: 400px) 	{
	@-ms-viewport 							{width: 320px;}
										}

// MEDIA QUERY VISIBILITY HELPERS

// VISIBLE HELPERS

// Small media query
@include responsive-hide(".mul-visible-small-mediaquery");
@if $use-small-mediaquery == true {
	@include media-query(screen, max, "", $smallMediaQueryBreakpointMax) {
		@include responsive-show(".mul-visible-small-mediaquery");
	}
}
@if $use-medium-mediaquery == true {
	@include media-query(screen, both, $mediumMediaQueryBreakpointMin, $mediumMediaQueryBreakpointMax) {
		@include responsive-show('.mul-visible-small-mediaquery.mul-visible-medium-mediaquery');
	}
}
@if $use-large-mediaquery == true {
	@include media-query(screen, min, $largeMediaQueryBreakpointMin, "") {
		@include responsive-show('.mul-visible-small-mediaquery.mul-visible-large-mediaquery');
	}
}

// Medium media query
@include responsive-hide(".mul-visible-medium-mediaquery");
@if $use-small-mediaquery == true {
	@include media-query(screen, max, "", $smallMediaQueryBreakpointMax) {
		@include responsive-show(".mul-visible-medium-mediaquery.mul-visible-small-mediaquery");
	}
}
@if $use-medium-mediaquery == true {
	@include media-query(screen, both, $mediumMediaQueryBreakpointMin, $mediumMediaQueryBreakpointMax) {
		@include responsive-show('.mul-visible-medium-mediaquery');
	}
}
@if $use-large-mediaquery == true {
	@include media-query(screen, min, $largeMediaQueryBreakpointMin, "") {
		@include responsive-show('.mul-visible-medium-mediaquery.mul-visible-large-mediaquery');
	}
}

// Large media query
@include responsive-hide(".mul-visible-large-mediaquery");
@if $use-small-mediaquery == true {
	@include media-query(screen, max, "", $smallMediaQueryBreakpointMax) {
		@include responsive-show(".mul-visible-large-mediaquery.mul-visible-small-mediaquery");
	}
}
@if $use-medium-mediaquery == true {
	@include media-query(screen, both, $mediumMediaQueryBreakpointMin, $mediumMediaQueryBreakpointMax) {
		@include responsive-show('.mul-visible-large-mediaquery.mul-visible-medium-mediaquery');
	}
}
@if $use-large-mediaquery == true {
	@include media-query(screen, min, $largeMediaQueryBreakpointMin, "") {
		@include responsive-show('.mul-visible-large-mediaquery');
	}
}

// HIDDEN HELPERS

// Small media query
@include responsive-show(".mul-hidden-small-mediaquery");
@if $use-small-mediaquery == true {
	@include media-query(screen, max, "", $smallMediaQueryBreakpointMax) {
		@include responsive-hide(".mul-hidden-small-mediaquery");
	}
}
@if $use-medium-mediaquery == true {
	@include media-query(screen, both, $mediumMediaQueryBreakpointMin, $mediumMediaQueryBreakpointMax) {
		@include responsive-hide('.mul-hidden-small-mediaquery.mul-hidden-medium-mediaquery');
	}
}
@if $use-large-mediaquery == true {
	@include media-query(screen, min, $largeMediaQueryBreakpointMin, "") {
		@include responsive-hide('.mul-hidden-small-mediaquery.mul-hidden-large-mediaquery');
	}
}

// Medium media query
@include responsive-show(".mul-hidden-medium-mediaquery");
@if $use-small-mediaquery == true {
	@include media-query(screen, max, "", $smallMediaQueryBreakpointMax) {
		@include responsive-hide(".mul-hidden-medium-mediaquery.mul-hidden-small-mediaquery");
	}
}
@if $use-medium-mediaquery == true {
	@include media-query(screen, both, $mediumMediaQueryBreakpointMin, $mediumMediaQueryBreakpointMax) {
		@include responsive-hide('.mul-hidden-medium-mediaquery');
	}
}
@if $use-large-mediaquery == true {
	@include media-query(screen, min, $largeMediaQueryBreakpointMin, "") {
		@include responsive-hide('.mul-hidden-medium-mediaquery.mul-hidden-large-mediaquery');
	}
}

// Large media query
@include responsive-show(".mul-hidden-large-mediaquery");
@if $use-small-mediaquery == true {
	@include media-query(screen, max, "", $smallMediaQueryBreakpointMax) {
		@include responsive-hide(".mul-hidden-large-mediaquery.mul-hidden-small-mediaquery");
	}
}
@if $use-medium-mediaquery == true {
	@include media-query(screen, both, $mediumMediaQueryBreakpointMin, $mediumMediaQueryBreakpointMax) {
		@include responsive-hide('.mul-hidden-large-mediaquery.mul-hidden-medium-mediaquery');
	}
}
@if $use-large-mediaquery == true {
	@include media-query(screen, min, $largeMediaQueryBreakpointMin, "") {
		@include responsive-hide('.mul-hidden-large-mediaquery');
	}
}