//-------------------------------------------------------------------------------------------
// Mercer Evolution - Core v2.5 - Global Theme Variables Partial
// DATE - June 13, 2014
// AUTHOR - Doug Fraize, Matthew Holmes, Vinod Bhatt
//-------------------------------------------------------------------------------------------

// ==========================================================================================
// GLOBAL
// ==========================================================================================

// HELPERS
// ------------------------------------------------------------------------------------------

// TYPE
$footnoteFontColor:							$gray-darker !default;

// KEYLINES
$keylineRightBorderRightColor: 				$gray-mid-light !default;
$keylineLeftBorderLeftColor:				$gray-mid-light !default;


// ==========================================================================================
// BASE
// ==========================================================================================

// TYPOGRAPHY
// ------------------------------------------------------------------------------------------

// BASE
$baseFontColor:								$gray-darkest !default;

// LINKS
$baseLinkColor:								$blue-sapphire !default;
$baseLinkVisitedColor:						$blue-sapphire !default;
$baseLinkHoverColor:						$gray-darker !default;

// HEADERS
$baseHdrFontColor:							$gray-darkest !default;
$hdrRuleBorderColor:						$gray-darker !default;
$hdrBackgroundColor:						$gray-mid-light !default;

// OTHER ELEMENTS
$abbrBorderBottomColor:						$black !default;
$textSelectionTextColor:					$white !default;
$textSelectionBackgroundColor:				$gray-darker !default;

// HORIZONTAL RULES
$hrBackgroundColor: 						$white !default;
$hrBorderTopColor:							$gray-mid-light !default;
$hrFontColor:								$white !default;


// GRID
// ------------------------------------------------------------------------------------------

// BASE
$bodyBackgroundStartColor:					$white !default;
$bodyBackgroundEndColor:					$white !default;

// BODY BACKGROUND STYLE
$bodyBackgroundBodyStartColor:				$white !default;
$bodyBackgroundBodyEndColor:				$white !default;

// GRID BACKGROUND COLOR
$gridBackgroundColor:						$white !default;


// BOXES
// ------------------------------------------------------------------------------------------

// BASE
$boxBackgroundColor:						$gray-lighter !default;
$boxBorderColor:							$gray-mid-light !default;
$boxHdrBorderColor:							$gray-mid-light !default;
$boxShadowColor:							$gray-darker !default;

// ADVANCED BOX
$boxAdvancedBackgroundColor:				$transparent !default;
$boxAdvancedHdrBackgroundColor:				$gray-light !default;

// CUSTOM CONTAINERS
$boxFeaturedBackgroundColor:				$white !default;
$boxFeaturedBorderBottomColor:				$blue-gray-mid-dark !default;

$boxSidebarBackgroundColor:					$gray-lighter !default;
$boxSidebarBorderBottomColor:				$gray-mid-light !default;

$boxInlineSearchBackgroundColor:			$gray-lighter !default;
$boxInlineSearchBorderColor:				$gray-darker !default;

$boxSupportBackgroundColor:					$blue-gray-lighter !default;
$boxSupportBottomColor:						$blue-gray-mid-dark !default;
$boxSupportBorderBottomColor:				$blue-gray-mid-dark !default;


// FORM
// ------------------------------------------------------------------------------------------

// BASE
$baseInputShadowColor:						$gray-lighter !default;
$baseInputBackgroundColor:					$white !default;
$baseInputBorderColor:						$gray-mid-light !default;
$baseInputColor:							$gray-darker !default;

// FORM LABELS
$labelFontColor:							$black !default;

// FORM INPUT FOCUS
$inputFocusShadowColor:						$tan-mid !default;
$inputFocusBorderColor:						$tan-dark !default;

// FIELDHINTS
$placeholderTextColor:						$gray-mid-light !default;

// FORM INFO TEXT
$formInfoTextColor:							$gray-darker !default;

// FORM ERROR HANDLING
$inputValidTextColor:						$gray-darker !default;
$inputInvalidTextColor:						$red !default;

// SELECTED CHECKBOX
$selectedCheckboxBorderColor:				$gray-light !default;
$selectedCheckboxBackgroundColor:			$green-lightest !default;


// BUTTONS
// ------------------------------------------------------------------------------------------

// BASE
$buttonBackgroundStartColor:				$gray-lighter !default;
$buttonBackgroundEndColor:					$gray-mid-dark !default;
$buttonHoverBackgroundStartColor: 			$gray-lighter !default;
$buttonHoverBackgroundEndColor: 			$gray-dark !default;
$buttonHoverBorderColor:					$gray-mid-dark !default;
$buttonActiveBackgroundStartColor:			$gray-dark !default;
$buttonActiveBackgroundEndColor:			$gray-lighter !default;
$buttonFocusBackgroundStartColor: 			$gray-lighter !default;
$buttonFocusBackgroundEndColor: 			$gray-dark !default;
$buttonFocusBorderColor:					$gray-mid-dark !default;
$buttonShadowColor:							$transparent !default;
$buttonFontColor:							$gray-darkest !default;
$buttonBorderColor:							$gray-mid-light !default;
$buttonTextShadowColor:						$transparent !default;

// PRIMARY BUTTON
$buttonPrimaryBackgroundStartColor:			$green-mid !default;
$buttonPrimaryBackgroundEndColor:			$green-darker !default;
$buttonHoverPrimaryBackgroundStartColor:	$green-mid !default;
$buttonHoverPrimaryBackgroundEndColor:		$green !default;
$buttonActivePrimaryBackgroundStartColor:	$green !default;
$buttonActivePrimaryBackgroundEndColor:		$green-mid !default;
$buttonFocusPrimaryBackgroundStartColor:	$green-mid !default;
$buttonFocusPrimaryBackgroundEndColor:		$green !default;
$buttonPrimaryFontColor:					$white !default;
$buttonPrimaryTextShadowColor:				$transparent !default;

// BUTTON DISABLED
$buttonDisabledBackgroundColor:				$gray-lighter !default;
$buttonDisabledBorderColor:					$gray-mid-light !default;
$buttonDisabledFontColor:					$gray-darker !default;
$buttonPrimaryDisabledBackgroundColor:		$green-darker !default;
$buttonPrimaryDisabledBorderColor:			$gray-darker !default;
$buttonPrimaryDisabledFontColor:			$gray-lighter !default;

// BUTTON GROUP VERTICAL
$buttonVertGroupBorderTopColor:				$gray-mid-light !default;

// BUTTON GROUP HORIZONTAL
$buttonHorzGroupBorderTopColor:				$gray-mid-light !default;
$buttonHorzGroupBorderBottomColor:			$gray-mid-light !default;
$buttonHorzGroupBorderRightColor:			$gray-mid-light !default;
$buttonHorzGroupFirstChildBorderLeftColor:	$gray-mid-light !default;


// HEADER
// ------------------------------------------------------------------------------------------

// BASE
$mastheadBackgroundStartColor:				$blue-gray !default;
$mastheadBackgroundEndColor:				$blue-gray-darker !default;
$mastheadLogoLinkColor:						$white !default;

// PROFILE MENU
$mastheadProfileMenuBackgroundStartColor:	#4674a9 !default;
$mastheadProfileMenuBackgroundEndColor:		#385882 !default;
$mastheadProfileMenuBorderColor:			#385882 !default;
$mastheadProfileMenuIconColor:				#c0d7f0 !default;
$mastheadProfileMenuTextColor:				$white !default;
$mastheadProfileMenuAvatarIconColor:		$white !default;
$mastheadProfileMenuShadowColor:			$gray-darker !default;
$mastheadProfileMenuHoverColor:				$blue-gray !default;

// PROFILE SIMPLE
$mastheadProfileSimpleTextColor:			$white !default;
$mastheadProfileSimpleListBorderColor:		$white !default;

// MEGA MENU UTILITY LINKS
$megaMenuUtilityMenuPipedColor:				$gray-dark !default;

// MEGA MENU UTILITY MENU
$megaMenuUtilityMenuBackgroundColor:		$gray-mid-light !default;
$megaMenuUtilityMenuBorderColor:			$gray-mid-dark !default;
$megaMenuUtilityMenuLinkBorderColor:		$gray-lighter !default;
$megaMenuUtilityMenuLinkHoverColor:			$gray-lighter !default;

// MEGA MENU UTILITY ITEM
$megaMenuItemBackgroundColor:				$gray-dark !default;
$megaMenuItemColor:							$white !default;

// MEGA MENU
$megaMenuContainerBackgroundColor: 			$gray-darker !default;
$megaMenuContainerBorderTopColor: 			$gray-dark !default;
$megaMenuContainerBorderBottomColor: 		$gray-dark !default;
$megaMenuContainerSpotlightBackgroundColor: $gray-darkest !default;
$megaMenuContainerSpotlightTextColor: 		$green-mid !default;
$megaMenuContainerMenuContainerTextColor: 	$white !default;

// MEGA MENU SEARCH BOX ICON
$megaMenuSearchBoxIconColor: 				$gray-lightest !default;


// NAVIGATION
// ------------------------------------------------------------------------------------------
$navBackgroundStartColor:					$gray-lightest !default;
$navBackgroundEndColor:						$gray-mid-light !default;
$navBorderColor:							$gray-mid-dark !default;
$navLinkColor:								$blue-sapphire !default;
$navLinkBorderColor:						$white !default;
$navActiveBackgroundStartColor:				$gray-lightest !default;
$navActiveBackgroundEndColor:				$gray-mid-dark !default;
$navBorderLeftColor:						$white !default;


// HERO BANNER
// ------------------------------------------------------------------------------------------
$heroBannerBackgroundColor:					$gray-lighter !default;


// FOOTER
// ------------------------------------------------------------------------------------------

// BASE
$footerBorderTopColor:						$gray-mid-light !default;
$footerFontColor:							$gray-darker !default;

// FAT FOOTER
$fatFooterBackgroundColor:					$gray-darker !default;
$fatFooterFontColor:						$white !default;


// ICONS
// ------------------------------------------------------------------------------------------
$iconFontColor:								$blue-gray-dark !default;
$iconFontBackgroundStartColor:				$blue-gray-dark !default;
$iconFontBackgroundEndColor:				$blue-gray !default;
$iconFontAdvBackgroundStartColor:			$blue-gray-darker !default;
$iconFontAdvBackgroundEndColor:				#2c507a !default;
$iconFontAdvBackgroundColor:				$blue-gray-darkest !default;
$iconFontAdvShadowColor:					$gray-darkest !default;
$iconFontAdvBorderColor:					$gray-lighter !default;
$iconFontAdvFontColor:						$white !default;


// LISTS
// ------------------------------------------------------------------------------------------
$horizontalListPipeBorderColor:				$gray-mid-light !default;
$definitionListHeaderColor:					$black !default;
$definitionDataListHeaderBorderColor:		$gray-mid-light !default;


// TABLES
// ------------------------------------------------------------------------------------------

// BASE
$tableBackgroundColor:						$white !default;
$tableBorderColor:							$gray-mid-light !default;
$tableFontColor:							$black !default;
$tableThFontColor:							$black !default;
$tableThBackgroundColor:					$blue-gray-lighter !default;
$tableThBorderColor:						#A9BCD3 !default;
$tableTdBorderColor:						$gray-mid-light !default;
$tableEvenTdBackgroundColor:				$white !default;
$tableEvenTdSortedBackgroundColor: 			$gray-lightest !default;
$tableOddTdBackgroundColor:					$gray-lightest !default;
$tableOddTdSortedBackgroundColor: 			$gray-lighter !default;
$tableRowHoverColor:						$tan-light !default;

// OPTIONS
$tableSubHeaderBackgroundColor:				#E8F0F7 !default;
$tableSubHeaderFontColor:					$gray-darkest !default;
$tableSubHeaderBorderColor:					#C3D2E5 !default;
$tableSubTotalBackgroundColor:				$gray-lighter !default;
$tableSubTotalFontColor:					$gray-darkest !default;
$tableTotalBackgroundColor:					#E6E6E6 !default;
$tableTotalFontColor:						$black !default;


// ==========================================================================================
// OBJECTS
// ==========================================================================================

// ACCORDION
// ------------------------------------------------------------------------------------------
$accordionBorderColor:						$gray-mid-light !default;
$accordionHeaderBackgroundColor:			$blue-gray-lightest !default;
$accordionHeaderFontColor:					$gray-darkest !default;
$accordionHeaderIconColor:					$blue-gray-dark !default;
$accordionContentBackgroundColor:			$white !default;


// ALTERNATE VIEWS BADGE
// ------------------------------------------------------------------------------------------
$alternateViewsBadgeButtonBackgroundStartColor: $white !default;
$alternateViewsBadgeButtonBackgroundEndColor: $gray-light !default;
$alternateViewsBadgeButtonBorderColor: #e1dfdf !default;
$alternateViewsBadgeButtonIconColor: $gray-mid-dark !default;
$alternateViewsBadgeButtonLinkColor: $gray-darker !default;
$alternateViewsBadgeButtonHoverBackgroundStartColor: $gray-lightest !default;
$alternateViewsBadgeButtonHoverBackgroundEndColor: $gray-mid-light !default;
$alternateViewsBadgeButtonHoverIconColor: $gray-darker !default;
$alternateViewsBadgeButtonHoverLinkColor: $gray-darkest !default;
$alternateViewsBadgeButtonActiveBackgroundStartColor: #fef8e3 !default;
$alternateViewsBadgeButtonActiveBackgroundEndColor: #f5e6b0 !default;
$alternateViewsBadgeButtonActiveBorderColor: #f0e2b3 !default;
$alternateViewsBadgeButtonActiveIconColor: #edc557 !default;
$alternateViewsBadgeButtonActiveLinkColor: $gray-darkest !default;


// AUTOCOMPLETE
// ------------------------------------------------------------------------------------------
$autocompleteShadowColor:					$gray-mid-light !default;
$autocompleteBackgroundColor:				$gray-lightest !default;
$autocompleteBorderColor:					$gray-mid-light !default;
$autocompleteItemFontColor:					$baseFontColor !default;
$autocompleteItemBorderTopColor:			$gray-lightest !default;
$autocompleteItemBorderBottomColor:			$gray-lightest !default;
$autocompleteItemHighlightText:				$tan !default;
$autocompleteItemHoverBackgroundStartColor:	$tan-light !default;
$autocompleteItemHoverBackgroundEndColor:	$tan-light !default;


// CALL TO ACTION
// ------------------------------------------------------------------------------------------
$callToActionBackgroundColor:				$gray-dark !default;
$callToActionTextColor:						$white !default;
$callToActionHoverBackgroundColor:			$gray-darker !default;
$callToActionIconColor:						$white !default;


// CAROUSEL
// ------------------------------------------------------------------------------------------
$carouselPageCircleBackgroundColor:			$gray-mid-light !default;
$carouselPageCircleHoverBackgroundColor:	$gray-dark !default;
$carouselPageCircleActiveBackgroundColor:	$gray-darker !default;
$carouselPageCircleTextColor:				$white !default;
$carouselNavIconColor:						$gray-mid-light !default;
$carouselNavHoverIconColor:					$gray-dark !default;


// CONTENT MODAL
// ------------------------------------------------------------------------------------------
$contentModalBackgroundColor:				$white !default;
$contentModalUtilityBarBackgroundStartColor: $blue-gray-darker !default;
$contentModalUtilityBarBackgroundEndColor: 	$blue-gray-darkest !default;
$contentModalUtilityBarTabsBorderColor:		$blue-gray-darkest !default;
$contentModalUtilityBarTabsAltBorderColor:	$blue-gray-light !default;
$contentModalUtilityBarTabsIconColor:		$white !default;
$contentModalUtilityBarTabsHoverBackgroundStartColor: $blue-gray-mid-dark !default;
$contentModalUtilityBarTabsHoverBackgroundEndColor: $blue-gray-dark !default;
$contentModalUtilityBarTabsActiveBackgroundColor: $white !default;
$contentModalUtilityBarTabsActiveIconColor:	$blue-gray-darker !default;


// DATEPICKER
// ------------------------------------------------------------------------------------------
$datepickerShadowColor:						$gray-darker !default;
$datepickerBackgroundColor:					$white !default;
$datepickerThFontColor:						$gray-darker !default;
$datepickerBorderColor:						$gray-lighter !default;
$datepickerLinkColor:						$gray-darker !default;
$datepickerHdrBackgroundStartColor:			$gray-lighter !default;
$datepickerHdrBackgroundEndColor:			$gray-mid-light !default;
$datepickerHdrFontColor:					$gray-darkest !default;
$datepickerHdrNavIconColor:					$blue-sapphire !default;
$datepickerTodayFontColor:					$green !default;
$datepickerTodayBackgroundColor: 			$green-lightest !default;
$datepickerCurrentDayBackgroundColor: 		$tan-mid !default;
$datepickerCurrentDayFontColor:				$tan !default;
$datepickerHoverBackgroundColor: 			$tan-light !default;
$datepickerDisabledFontColor:				$gray-mid-light !default;
$datepickerDisabledBackgroundColor:			$white !default;
$datepickerDisabledBorderColor:				$gray-lighter !default;
$datepickerMessageFontColor:				$gray-darkest !default;
$datepickerMessageBackgroundColor:			$tan-light !default;
$datepickerIconColor:						$gray-darker !default;
$datepickerIE8BorderColor:					$gray-darker !default;


// DIALOG/MODAL
// ------------------------------------------------------------------------------------------
$dialogOverlayBackgroundColor:				$black !default;
$dialogShadowColor:							$gray-darker !default;
$dialogBackgroundColor:						$white !default;
$dialogHdrFontColor:						$baseHdrFontColor !default;
$dialogContentBorderTopColor: 				$white !default;
$dialogHdrBorderBottomColor:				$transparent !default;
$dialogCloseIconColor:						$gray-darker !default;


// LOGIN LAYOUT
// ------------------------------------------------------------------------------------------
$layoutLoginBackgroundImageSrcPath:			"../images/login_bkgd.jpg" !default;
$layoutLoginBackgroundColor:				$blue-gray !default;
$layoutLoginContainerTranslucentBackgroundColor: $gray-lighter !default;
$layoutLoginContainerSubHeaderColor:		$blue-gray-darkest !default;
$layoutLoginContainerHeaderColor:			$blue-gray-darkest !default;
$layoutLoginContainerBoxBackgroundColor:	$white !default;
$layoutLoginContainerBoxBorderColor:		$gray-dark !default;
$layoutLoginFooterTranslucentBackgroundColor: $black !default;
$layoutLoginFooterFontColor:				$white !default;
$layoutLoginFooterBorderColor:				$white !default;


// MINI FILTER
// ------------------------------------------------------------------------------------------
$miniFilterLabelFontColor:					$black !default;
$miniFilterActiveBackgroundColor: 			$tan-light !default;
$miniFilterActiveFontColor:					$black !default;


// PAGINATION
// ------------------------------------------------------------------------------------------
$paginationBorderColor:						$gray-mid-light !default;
$paginationHoverBackgroundColor:			$tan-light !default;
$paginationActiveBackgroundColor:			$tan-light !default;
$paginationActiveFontColor:					$black !default;
$paginationLinkHoverColor:					$black !default;


// PROFILE CONTAINERS
// ------------------------------------------------------------------------------------------
$profileContainerHdrColor:					$white !default;
$profileContainerSecondaryHdrColor:			$white !default;
$profileContainerDataListLabelFontColor:	$white !default;


// SCROLL PANE
// ------------------------------------------------------------------------------------------
$scrollPaneScrollbarRGBColor:				$black !default;
$scrollPaneScrollbarHexColor:				#666 !default;


// SLIDER
// ------------------------------------------------------------------------------------------
$sliderBarBackgroundStartColor:				$gray-mid-light !default;
$sliderBarBackgroundEndColor:				$gray-mid-light !default;
$sliderBarRangeBackgroundColor:				$gray-darker !default;
$sliderHandleBackgroundStartColor:			$blue-gray-darker !default;
$sliderHandleBackgroundEndColor:			$blue-gray-darker !default;
$sliderHandleShadowColor: 					$gray-mid-light !default;
$sliderHandleBorderColor:					$white !default;
$sliderHandleFocusBackgroundStartColor:		$blue-gray-darker !default;
$sliderHandleFocusBackgroundEndColor:		$blue-gray-darker !default;
$sliderHandleHoverBackgroundStartColor:		$blue-gray-darkest !default;
$sliderHandleHoverBackgroundEndColor:		$blue-gray-darkest !default;
$sliderHandleActiveBackgroundStartColor:	$blue-gray-darkest !default;
$sliderHandleActiveBackgroundEndColor:		$blue-gray-darkest !default;


// SUMMARY CONTAINER
// ------------------------------------------------------------------------------------------
$summaryCtnBorderColor:						$gray-darker !default;
$summaryCtnBorderColorTop:					$transparent !default;
$summaryCtnBorderColorBottom:				$transparent !default;
$summaryCtnBorderColorLeft:					$transparent !default;
$summaryCtnBorderFirstChildColorTop:		$gray-darker !default;
$summaryCtnBorderFirstChildColorLeft:		$gray-darker !default;
$summaryCtnBorderHoverTransitionSpeed:		250ms !default;
$summaryCtnBorderHoverBackgroundColor:		$tan-light !default;
$summaryCtnBorderHoverBorderTopColor:		$gray-darker !default;
$summaryCtnBorderHoverBorderBottomColor:	$gray-darker !default;
$summaryCtnAlertNegativeFontColor:			$red !default;
$summaryCtnAlertNegativeHoverBackgroundColor: $red-light !default;
$summaryCtnAlertPositiveFontColor:			$green !default;
$summaryCtnAlertPositiveHoverBackgroundColor: $green-lightest !default;


// TABS
// ------------------------------------------------------------------------------------------
$tabsBackgroundStartColor:					$gray-mid-light !default;
$tabsBackgroundEndColor:					$gray-lighter !default;
$tabsBorderColor:							$gray-mid-light !default;
$tabsFontColor:								$blue-sapphire-dark !default;
$tabsPagingNavBackgroundStartColor:			$white !default;
$tabsPagingNavBackgroundEndColor:			$white !default;
$tabsPagingNavLinkColor:					$gray-darker !default;
$tabsPagingNavHoverColor:					$blue-gray-dark !default;
$tabsSelectedTabFontColor:					$gray-lighter !default;
$tabsHoverBackgroundStartColor:				$gray-mid-dark !default;
$tabsHoverBackgroundEndColor:				$gray-lighter !default;
$tabsActiveFontColor:						$gray-darkest !default;
$tabsActiveBackgroundStartColor:			$white !default;
$tabsActiveBackgroundEndColor:				$white !default;
$tabsPanelBorderColor:						$gray-mid-light !default;
$tabsPanelBackgroundColor: 					$white !default;


// TILES
// ------------------------------------------------------------------------------------------
$tilesBackgroundColor:						$gray-lightest !default;
$tilesHeaderBorderTopColor:					$blue-sapphire-mid !default;
$tilesHeaderBackgroundColor:				$transparent !default;
$tilesHeaderFontColor:						$gray-darkest !default;
$tilesBodyBackgroundColor:					$white !default;
$tilesBodyBorderColor:						$gray-light !default;
$tilesOutsideBorderColor:					$gray-light !default;


// TOOLTIP
// ------------------------------------------------------------------------------------------
$tooltipShadowColor:						$gray-mid-light !default;
$tooltipBorderColor:						$gray-mid-light !default;
$tooltipBackgroundColor:					$gray-light !default;
$tooltipFontColor:							$gray-darkest !default;