//-------------------------------------------------------------------------------------------
// Mercer Evolution - Core v2.5 - Global Variables Partial
// DATE - June 13, 2014
// AUTHOR - Doug Fraize, Matthew Holmes, Vinod Bhatt
//-------------------------------------------------------------------------------------------

// ==========================================================================================
// GLOBAL
// ==========================================================================================

// RESPONSIVE VARIABLES
// ------------------------------------------------------------------------------------------

// BREAKPOINTS
// small media query = phones
// medium media query = tablets
// large media query = desktop
$smallMediaQueryBreakpointMax:				767px !default;
$mediumMediaQueryBreakpointMin:				768px !default;
$mediumMediaQueryBreakpointMax:				979px !default;
$largeMediaQueryBreakpointMin:				980px !default;


// GLOBAL
// ------------------------------------------------------------------------------------------

// HTML MIN HEIGHT
$htmlMinHeight:								100% !default;

// BORDER RADIUS SIZES
$borderRadiusXSmall:						2px !default;
$borderRadiusSmall:							4px !default;
$borderRadiusMedium:						8px !default;
$borderRadiusLarge:							12px !default;
$borderRadiusXLarge:						16px !default;

// BASE VARIABLES
$baseMargin:								14px !default;
$basePadding:								14px !default;
$baseBorderRadius:							$borderRadiusMedium !default;
$baseBorderRadiusIE:						0 !default;

// Z-INDEX MASTER LIST
// Used for a bird's eye view of components dependent on the z-axis
$zindexLayoutLoginFooterBackground:			9993 !default;
$zindexLayoutLoginFooter:					9994 !default;
$zindexSlider:								9995 !default;
$zindexHeader:								9996 !default;
$zindexMastheadProfileMenu:					9997 !default;
$zindexMegaMenuUtilityMenu:					9997 !default;
$zindexDatepicker:							9998 !default;
$zindexAutocomplete:						9999 !default;
/* TODO: add this to the menu system $zindexNavbarSubmenu:						!default; */
$zindexTooltip:								10000 !default;
$zindexDialogOverlay:						10001 !default;
$zindexDialogPosition:						10002 !default;


// HELPERS
// ------------------------------------------------------------------------------------------

// SPACER SIZES
$spacerSize:								5px !default;
$spacerXSmall:								($spacerSize*1) !default;
$spacerSmall:								($spacerSize*2) !default;
$spacerMedium:								($spacerSize*3) !default;
$spacerLarge:								($spacerSize*4) !default;
$spacerXLarge:								($spacerSize*5) !default;
$spacerXXLarge:								($spacerSize*6) !default;
$spacerXXXLarge:							($spacerSize*7) !default;


// ==========================================================================================
// BASE
// ==========================================================================================

// FONTS
// ------------------------------------------------------------------------------------------

// BASE
$baseFontStack:								arial, Tahoma, Geneva, sans-serif !default;
$baseFontFilePath:							"../fonts" !default;

// WEB FONTS

	// Thin
	$fontThinFamily:							proxima_nova_ththin !default;
	$fontThinFilePath:							"#{$baseFontFilePath}/ProximaNova-Thin-webfont" !default;
	$fontThinStack:								"#{$fontThinFamily}", $baseFontStack !default;

	// Regular
	$fontRegularFamily:							proxima_nova_rgregular !default;
	$fontRegularFilePath:						"#{$baseFontFilePath}/ProximaNova-Reg-webfont" !default;
	$fontRegularStack:							"#{$fontRegularFamily}", $baseFontStack !default;

	// Bold
	$fontBoldFamily:							proxima_nova_rgbold !default;
	$fontBoldFilePath:							"#{$baseFontFilePath}/ProximaNova-Bold-webfont" !default;
	$fontBoldStack:								"#{$fontBoldFamily}", $baseFontStack !default;

	// Italic
	$fontItalicFamily:							proxima_novaregular_italic !default;
	$fontItalicFilePath:						"#{$baseFontFilePath}/ProximaNova-RegIt-webfont" !default;
	$fontItalicStack:							"#{$fontItalicFamily}", $baseFontStack !default;

	// Bold Italic
	$fontBoldItalicFamily:						proxima_novabold_italic !default;
	$fontBoldItalicFilePath:					"#{$baseFontFilePath}/ProximaNova-BoldIt-webfont" !default;
	$fontBoldItalicStack:						"#{$fontBoldItalicFamily}", $baseFontStack !default;

	// Semi-bold
	$fontSemiBoldFamily:						proxima_nova_ltsemibold !default;
	$fontSemiBoldFilePath:						"#{$baseFontFilePath}/ProximaNova-Sbold-webfont" !default;
	$fontSemiBoldStack:							"#{$fontSemiBoldFamily}", $baseFontStack !default;

// ICON FONTS

	// Core icon font set
	$mulIconFontFamily:							mul_icon_font !default;
	$mulIconFontFilePath:						"#{$baseFontFilePath}/mul-icon-font" !default;
	$mulIconFontStack:							"#{$mulIconFontFamily}" !default;

	// Site icon font set
	$mulIconSiteFontFamily:						mul_icon_font_site !default;
	$mulIconSiteFontFilePath:					"#{$baseFontFilePath}/mul-icon-font-site" !default;
	$mulIconSiteFontStack:						"#{$mulIconSiteFontFamily}" !default;


// TYPOGRAPHY
// ------------------------------------------------------------------------------------------

// BASE
$baseFontFamily:							$fontRegularStack !default;
$baseFontSize:								16px !default;
$baseFontSizeDifference:					2 !default;
$baseFontSizeDifferenceMediumBreakpoint:	2 !default;
$baseFontSizeDifferenceLargeBreakpoint:		2 !default;
$baseFontSizeLargeBreakpoint:				($baseFontSize - $baseFontSizeDifferenceLargeBreakpoint) !default;
$baseLineHeight:		        			22px !default;
$baseLineHeightLargeBreakpoint:		        ($baseLineHeight - $baseFontSizeDifferenceLargeBreakpoint) !default;

// FONT WEIGHTS
$WeightBold100:								100 !default;
$WeightBold200:								200 !default;
$WeightBold300:								300 !default;
$WeightBold400:								400 !default;
$WeightBold500:								500 !default;
$WeightBold600:								600 !default;
$WeightBold700:								700 !default;
$WeightBold800:								800 !default;
$WeightBold900:								900 !default;

// HEADERS
$hdrH1FontSize:								34px !default;
$hdrH1FontSizeLargeBreakpoint:				($hdrH1FontSize - $baseFontSizeDifferenceLargeBreakpoint) !default;
$hdrH1LineHeight:							($hdrH1FontSize + $baseFontSizeDifference) !default;
$hdrH1LineHeightLargeBreakpoint:			($hdrH1LineHeight - $baseFontSizeDifferenceLargeBreakpoint) !default;
$hdrH1PaddingTopBottom:						9px !default;

$hdrH2FontSize:								28px !default;
$hdrH2FontSizeLargeBreakpoint:				($hdrH2FontSize - $baseFontSizeDifferenceLargeBreakpoint) !default;
$hdrH2LineHeight:							($hdrH2FontSize + $baseFontSizeDifference) !default;
$hdrH2LineHeightLargeBreakpoint:			($hdrH2LineHeight - $baseFontSizeDifferenceLargeBreakpoint) !default;
$hdrH2PaddingTopBottom:						6px !default;

$hdrH3FontSize:								24px !default;
$hdrH3FontSizeLargeBreakpoint:				($hdrH3FontSize - $baseFontSizeDifferenceLargeBreakpoint) !default;
$hdrH3LineHeight:							($hdrH3FontSize + $baseFontSizeDifference) !default;
$hdrH3LineHeightLargeBreakpoint:			($hdrH3LineHeight - $baseFontSizeDifferenceLargeBreakpoint) !default;
$hdrH3PaddingTopBottom:						6px !default;

$hdrH4FontSize:								20px !default;
$hdrH4FontSizeLargeBreakpoint:				($hdrH4FontSize - $baseFontSizeDifferenceLargeBreakpoint) !default;
$hdrH4LineHeight:							($hdrH4FontSize + $baseFontSizeDifference) !default;
$hdrH4LineHeightLargeBreakpoint:			($hdrH4LineHeight - $baseFontSizeDifferenceLargeBreakpoint) !default;
$hdrH4PaddingTopBottom:						3px !default;

$hdrH5FontSize:								16px !default;
$hdrH5FontSizeLargeBreakpoint:				($hdrH5FontSize - $baseFontSizeDifferenceLargeBreakpoint) !default;

$hdrH6FontSize:								14px !default;
$hdrH6FontSizeLargeBreakpoint:				($hdrH6FontSize - $baseFontSizeDifferenceLargeBreakpoint) !default;

$hdrRuleBorderSize:							1px !default;
$hdrRuleBorderStyle:						dotted !default;
$hdrRuleMarginBottom:						10px !default;

// PARAGRAPHS
$baseParagraphMarginBottom:					14px !default;

// SMALL FONT SIZES
$smallFontSize:								14px !default;
$smallFontSizeLargeBreakpoint:				($smallFontSize - $baseFontSizeDifferenceLargeBreakpoint) !default;

// HORIZONTAL RULES
$hrHeight:									2px !default;
$hrMarginTopBottom:							$baseParagraphMarginBottom !default;


// GRID
// ------------------------------------------------------------------------------------------

// BASE
$gridWidth:									100% !default;
$gridMaxWidth980:							980px !default;
$gridMaxWidth1200:							1200px !default;
$gridMinWidth:								320px !default;
$gridMinHeight:								550px !default;
$gridSiteGutterPadding:						10px !default;
$gridColumns:								24 !default;
$gridColumnWidth:							20px !default;
$gridGutterWidth:							20px !default;
$gridNoMarginColumnWidth:					39.15px !default;
$gridRowWidth:								($gridColumns * $gridColumnWidth) + ($gridGutterWidth * ($gridColumns - 1));

// FLUID GRID
$fluidGridColumnWidth:						percentage($gridColumnWidth/$gridRowWidth);
$fluidGridGutterWidth:						percentage($gridGutterWidth/$gridRowWidth);
$fluidGridNoMarginColumnWidth:				percentage($gridNoMarginColumnWidth/$gridRowWidth);


// BOXES
// ------------------------------------------------------------------------------------------

// BASE
$boxBorderSize:								1px !default;
$boxBorderStyle:							solid !default;
$boxHdrBorderSize:							3px !default;
$boxHdrBorderStyle:							solid !default;
$boxBdyBorderTopSize:						1px !default;
$boxBdyBorderTopStyle:						solid !default;
$boxPadding:								$basePadding !default;
$boxVShadow:								1px !default;
$boxHShadow:								1px !default;
$boxShadowBlur:								1px !default;

// MESSAGE BOXES
$msgBorderWidth:							1px !default;
$msgBorderStyle:							solid !default;

// CUSTOM CONTAINERS
$boxInlineSearchBorderSizeColor:			1px !default;
$boxInlineSearchBorderTypeColor:			dotted !default;
$boxInlineSearchLabelLineHeight:			22px !default;


// FORM
// ------------------------------------------------------------------------------------------

// BASE
$formMarginBottom:							$baseMargin !default;

// FORM LABELS
$labelMarginBottom:							1px !default;
$baseInputBorderRadius:						$borderRadiusSmall !default;

// FORM INPUTS
$baseInputBorderSize:						1px !default;
$baseInputPadding:							2px !default;
$baseCheckboxRadioWidth:					auto !default;
$baseCheckboxRadioFontSize:					$baseFontSize !default;
$baseCheckboxRadioFontSizeLargeBreakpoint:	($baseCheckboxRadioFontSize - $baseFontSizeDifferenceLargeBreakpoint) !default;

// FORM INPUT SPACING
$marginBottomFormElements:					10px !default;

// FORM ACTION CONTAINER
$formActionPaddingTop:						10px !default;

// SELECTED CHECKBOX
$selectedCheckboxBorderRadius:				$borderRadiusSmall !default;


// BUTTONS
// ------------------------------------------------------------------------------------------

// BASE
$buttonHoverBorderSize:						1px !default;
$buttonHoverBorderStyle:					solid !default;
$buttonVShadow:								0 !default;
$buttonHShadow:								0 !default;
$buttonShadowBlur:							0 !default;
$buttonMarginBottom:						5px !default;
$buttonBorderRadius:						$baseBorderRadius !default;
$buttonMinWidth:							100% !default;
$buttonMinWidthLargeBreakpoint:				100px !default;
$buttonPaddingTopBottom:					12px !default;
$buttonPaddingLeftRight:					17px !default;
$buttonPaddingTopBottomLargeBreakpoint:		7px !default;
$buttonPaddingLeftRightLargeBreakpoint:		12px !default;
$buttonFontSize:							18px !default;
$buttonLineHeight:							$buttonFontSize !default;
$buttonFontSizeLargeBreakpoint:				15px !default;
$buttonLineHeightLargeBreakpoint:			$buttonFontSizeLargeBreakpoint !default;
$buttonFontWeight:							normal !default;
$buttonBorderSize:							1px !default;
$buttonBorderStyle:							solid !default;

// BUTTON SIZES
$buttonXXXSmallFontSize:					12px !default;
$buttonXXXSmallFontSizeLargeBreakpoint:		10px !default;
$buttonXXSmallFontSize:						14px !default;
$buttonXXSmallFontSizeLargeBreakpoint:		12px !default;
$buttonXSmallFontSize:						15px !default;
$buttonXSmallFontSizeLargeBreakpoint:		13px !default;
$buttonSmallFontSize:						16px !default;
$buttonSmallFontSizeLargeBreakpoint:		14px !default;
$buttonMediumFontSize:						$buttonFontSize !default;
$buttonMediumFontSizeLargeBreakpoint:		$buttonFontSizeLargeBreakpoint !default;
$buttonLargeFontSize:						20px !default;
$buttonLargeFontSizeLargeBreakpoint:		18px !default;
$buttonXLargeFontSize:						24px !default;
$buttonXLargeFontSizeLargeBreakpoint:		23px !default;
$buttonXXLargeFontSize:						28px !default;
$buttonXXLargeFontSizeLargeBreakpoint:		26px !default;
$buttonXXXLargeFontSize:					35px !default;
$buttonXXXLargeFontSizeLargeBreakpoint:		33px !default;

// BUTTON GROUP VERTICAL
$buttonVertGroupBorderTopSize:				1px !default;
$buttonVertGroupBorderTopStyle:				solid !default;

// BUTTON GROUP HORIZONTAL
$buttonHorzGroupBorderTopSize:				1px !default;
$buttonHorzGroupBorderTopStyle:				solid !default;
$buttonHorzGroupBorderBottomSize:			1px !default;
$buttonHorzGroupBorderBottomStyle:			solid !default;
$buttonHorzGroupBorderRightSize:			1px !default;
$buttonHorzGroupBorderRightStyle:			solid !default;
$buttonHorzGroupFirstChildBorderLeftSize:	1px !default;
$buttonHorzGroupFirstChildBorderLeftStyle:	solid !default;


// HEADER
// ------------------------------------------------------------------------------------------

// ICON STYLES
$headerIconRadius:							3px !default;
$headerIconPadding:							4px 10px 6px 6px !default;
$headerIconMinWidth:						28px !default;

// BASE & LOGO STYLES
$mastheadContentHeight:						52px !default;
$mastheadLogoLineHeight:					44px !default;
$mastheadLogoFontWeight:					400 !default;
$mastheadLogoFontSize:						24px !default;
$mastheadLogoFontSizeLargeBreakpoint:		33px !default;

// USER IDENTIFIER
$userIdentifierMenuFontSize:				12px !default;
$userIdentifierMenuPadding:					6px 10px 6px 30px !default;

// SPOTLIGHT CONTAINER
$megaMenuContainerSpotlightBorderRadius: 	4px !default;


// MENU STYLES
// ------------------------------------------------------------------------------------------
$menuLinkPadding:							7px 10px !default;


// NAVIGATION
// ------------------------------------------------------------------------------------------
$navbarBorderBottomWidth:					1px !default;
$navbarBorderBottomStyle:					solid !default;
$navbarMessageWidth:						200px !default;
$navbarMessagePadding:						9px 0 7px 0 !default;
$navbarMessageInnerPadding:					2px 10px 2px 0 !default;
$navbarMessageFontFamily:					$fontSemiBoldFamily !default;
$navbarMessageBorderRightWidth:				1px !default;
$navbarMessageBorderRightStyle:				dotted !default;


// ICONS
// ------------------------------------------------------------------------------------------
$iconFontSize:								$baseFontSize !default;
$iconFontAdvSize:							32px !default;


// LISTS
// ------------------------------------------------------------------------------------------
$verticalListLineHeight:					18px !default;
$verticalListLineHeightLargeBreakpoint:		($verticalListLineHeight - $baseFontSizeDifferenceLargeBreakpoint) !default;
$dataListLineHeight:						22px !default;
$dataListLineHeightLargeBreakpoint:			($dataListLineHeight - $baseFontSizeDifferenceLargeBreakpoint) !default;


// TABLES
// ------------------------------------------------------------------------------------------

// BASE
$tableColWidthMultiplier: 					1% !default;
$tableBaseFontSize:							14px !default;
$tableBaseFontSizeLargeBreakpoint:			($tableBaseFontSize - $baseFontSizeDifferenceLargeBreakpoint) !default;
$tableBaseLineHeight:						15px !default;
$tableBaseLineHeightLargeBreakpoint:		($tableBaseLineHeight - $baseFontSizeDifferenceLargeBreakpoint) !default;
$tableBorderStyle:							solid !default;
$tableTdBorderStyle:						solid !default;
$tableMarginBottom:							$baseMargin !default;
$tableMinWidth:								$mediumMediaQueryBreakpointMin !default;
$tableMinWidthLargeBreakpoint:				100% !default;

// OPTIONS
$tableDataFilterMaxWidth:					300px !default;
$tableDataFilterLineHeight:					22px !default;
$tableDataFilterLineHeightLargeBreakpoint:	16px !default;
$tableDataFilterHeight:						($tableDataFilterLineHeight + $baseFontSizeDifferenceLargeBreakpoint) !default;
$tableDataFilterHeightLargeBreakpoint:		20px !default;


// ==========================================================================================
// OBJECTS
// ==========================================================================================

// ADVANCED FILTER MODAL
// ------------------------------------------------------------------------------------------
$advancedFilterModalWidth:					700px !default;


// AUTOCOMPLETE
// ------------------------------------------------------------------------------------------
$autocompleteBorderSize:					1px !default;
$autocompleteBorderStyle:					solid !default;
$autocompleteMaxHeight:						97px !default;
$autocompleteMaxHeightLargeBreakpoint:		193px !default;
$autocompleteItemFontSize:					$baseFontSize !default;
$autocompleteItemFontSizeLargeBreakpoint:	$baseFontSizeLargeBreakpoint !default;
$autocompleteItemLinkLineHeight:			22px !default;
$autocompleteItemLinkLineHeightLargeBreakpoint:	($autocompleteItemLinkLineHeight - $baseFontSizeDifferenceLargeBreakpoint) !default;
$autocompleteItemBorderTopSize:				1px !default;
$autocompleteItemBorderTopStyle:			solid !default;
$autocompleteItemBorderBottomSize:			1px !default;
$autocompleteItemBorderBottomStyle:			solid !default;
$autocompleteItemUnderlineText:				underline !default;


// CONTENT MODAL
// ------------------------------------------------------------------------------------------
$contentModalUtilityBarWidth:				51px !default;
$contentModalUtilityBarTabsIconPositionTop:	9px !default;
$contentModalUtilityBarTabsPositionTop:		89px !default;
$contentModalUtilityBarTabsUtilityPositionBottom: 70px !default;
$contentModalUtilityBarTabsCloseIconPositionTop: 15px !default;
$contentModalUtilityBarTabsCloseIconPositionLeft: 9px !default;


// DATEPICKER
// ------------------------------------------------------------------------------------------
$datepickerMarginTop:						5px !default;
$datepickerBorderRadius:					$baseBorderRadius !default;
$datepickerFontSize:						$baseFontSize;
$datepickerFontSizeLargeBreakpoint:			($datepickerFontSize - $baseFontSizeDifferenceLargeBreakpoint) !default;
$datepickerHdrPaddingTopBottom:				4px !default;
$datepickerHdrFontSize:						$baseFontSize !default;
$datepickerHdrFontSizeLargeBreakpoint:		($datepickerHdrFontSize - $baseFontSizeDifferenceLargeBreakpoint) !default;
$datepickerHdrSelectMenuFontSize:			$baseFontSize !default;
$datepickerHdrSelectMenuFontSizeLargeBreakpoint: ($datepickerHdrSelectMenuFontSize - $baseFontSizeDifferenceLargeBreakpoint) !default;
$datepickerMessageFontSize:					13px !default;
$datepickerMessageFontSizeLargeBreakpoint:	($datepickerMessageFontSize - $baseFontSizeDifferenceLargeBreakpoint) !default;
$datepickerMessageLineHeight:				($datepickerMessageFontSize + $baseFontSizeDifferenceLargeBreakpoint) !default;
$datepickerMessageLineHeightLargeBreakpoint: ($datepickerMessageLineHeight - $baseFontSizeDifferenceLargeBreakpoint) !default;
$datepickerIconPositionTop:					5px;
$datepickerIconPositionLeft:				-22px;
$datepickerIconPositionTopLargeBreakpoint:	4px;
$datepickerIconPositionTopIE:				($datepickerIconPositionTop - 2) !default;
$datepickerIconPositionLeftLargeBreakpoint:	-20px;
$datepickerMinWidth:						110px !default;


// DIALOG/MODAL
// ------------------------------------------------------------------------------------------
$dialogBorderRadius:						$baseBorderRadius !default;
$dialogOverlayBackgroundColorOpacity:		40 !default;
$dialogWidth:								auto !default;
$dialogWidthLargeBreakpoint:				500px !default;
$dialogVShadow:								1px	!default;
$dialogHShadow:								1px	!default;
$dialogShadowBlur:							1px	!default;
$dialogHdrPaddingTop:						15px !default;
$dialogHdrPaddingRight:						60px !default;
$dialogHdrPaddingBottom:					12px !default;
$dialogHdrPaddingLeft:						18px !default;
$dialogHdrBorderBottomSize:					0 !default;
$dialogHdrBorderBottomStyle:				solid !default;
$dialogHdrFontSize:							18px !default;
$dialogHdrFontSizeLargeBreakpoint:			$hdrH3FontSizeLargeBreakpoint !default;
$dialogContentMaxHeightLargeBreakpoint:		430px !default;
$dialogContentPaddingTop:					12px !default;
$dialogContentPaddingLeftRight:				18px !default;
$dialogContentBorderTopSize:				1px !default;
$dialogContentBorderTopStyle:				solid !default;
$loadingModalWidthLargeBreakpoint:			350px !default;


// MINI FILTER
// ------------------------------------------------------------------------------------------
$miniFilterMarginBottom:					6px !default;
$miniFilterFontSizeLargeBreakpoint:			11px !default;
$miniFilterActivePaddingTopBottom: 			1px !default;
$miniFilterActivePaddingLeftRight: 			4px !default;
$miniFilterDropDownMaxWidth:				300px !default;


// PAGINATION
// ------------------------------------------------------------------------------------------
$paginationFontSize:						$baseFontSize !default;
$paginationFontSizeLargeBreakpoint:			12px !default;
$paginationBorderStyle:						solid !default;
$paginationLinkLineHeight:					.8em !default;
$paginationLinkMinWidth:					31px !default;
$paginationLinkMinWidthLargeBreakpoint:		28px !default;
$paginationLinkMaxHeight:					$paginationLinkMinWidth !default;
$paginationLinkMaxHeightLargeBreakpoint:	$paginationLinkMinWidthLargeBreakpoint !default;


// PROFILE CONTAINERS
// ------------------------------------------------------------------------------------------
$profileContainerHeaderFontSize:			$hdrH2FontSize !default;
$profileContainerHeaderFontSizeLargeBreakpoint: $hdrH1FontSize !default;
$profileContainerHeaderLineHeight:			$hdrH2LineHeight !default;
$profileContainerHeaderLineHeightLargeBreakpoint: $hdrH1LineHeightLargeBreakpoint !default;
$profileContainerDataListFontSize:			14px !default;
$profileContainerDataListFontSizeLargeBreakpoint: ($profileContainerDataListFontSize - $baseFontSizeDifferenceLargeBreakpoint) !default;
$profileContainerDataListLineHeight:		18px !default;
$profileContainerDataListLineHeightLargeBreakpoint: ($profileContainerDataListLineHeight - $baseFontSizeDifferenceLargeBreakpoint) !default;


// SCROLL PANE
// ------------------------------------------------------------------------------------------
$scrollPaneWidth:							auto !default;
$scrollPaneHeight:							300px !default;


// SUMMARY CONTAINER
// ------------------------------------------------------------------------------------------
$summaryCtnBorderSize:						1px !default;
$summaryCtnBorderStyle:						dotted !default;
$summaryCtnPadding:							10px !default;
$summaryPrimaryCtnLargeFontSizeAdjust:		10 !default;
$summaryPrimaryCtnSupportFontSizeAdjust:	3 !default;
$summaryPrimaryCtnIconFontSize:				40px !default;
$summarySecondaryCtnLargeFontSizeAdjust:	2 !default;
$summarySecondaryCtnSupportFontSizeAdjust:	3 !default;
$summarySecondaryCtnIconFontSize:			30px !default;


// TABS
// ------------------------------------------------------------------------------------------
$tabsSetMarginBottom:						18px !default;
$tabsNavHeight:								36px !default;
$tabsNavHeightLargeBreakpoint:				28px !default;
$tabsHeight:								34px !default;
$tabsHeightLargeBreakpoint:					26px !default;
$tabsPositonTop:							2px !default;
$tabsMarginRight:							2px !default;
$tabsMarginBottom:							1px !default;
$tabsPaddingTopBottom:						3px !default;
$tabsPaddingLeftRight:						10px !default;
$tabsBorderRadius:							$baseBorderRadius !default;
$tabsBorderSize:							1px !default;
$tabsBorderStyle:							solid !default;
$tabsFontSize:								14px !default;
$tabsFontSizeLargeBreakpoint:				($tabsFontSize - $baseFontSizeDifferenceLargeBreakpoint) !default;
$tabsLineHeight:							26px !default;
$tabsLineHeightLargeBreakpoint:				22px !default;
$tabsFontWeight:							normal !default;
$tabsActivePositonTop:						2px !default;
$tabsActiveHeight:							35px !default;
$tabsActiveHeightLargeBreakpoint:			27px !default;
$tabsActivePaddingBottom:					1px !default;
$tabsPanelPadding:							$basePadding !default;
$tabsPanelBorderSize:						1px !default;
$tabsPanelBorderStyle:						solid !default;


// TILES
// ------------------------------------------------------------------------------------------
$tilesBorderRadius:							3px !default;
$tilesMarginBottom:							3px !default;
$tilesBodyBorderRadius:						0 0 3px 3px !default;
$tilesScrollPaneHeight:						400px !default;
$tilesOuterBorderRadiusLargeBreakpoint:		0 !default;


// TOOLTIP
// ------------------------------------------------------------------------------------------
$tooltipBorderRadius:						$borderRadiusXSmall !default;
$tooltipVShadow:							1px	!default;
$tooltipHShadow:							1px	!default;
$tooltipShadowBlur:							5px	!default;
$tooltipBorderSize:							1px !default;
$tooltipBorderStyle:						solid !default;
$tooltipFontSize:							$baseFontSize !default;
$tooltipFontSizeLargeBreakpoint:			12px !default;
$tooltipLineHeight:							20px !default;
$tooltipLineHeightLargeBreakpoint:			14px !default;
$tooltipPaddingTopBottom:					5px !default;
$tooltipPaddingLeftRight:					8px !default;