//-------------------------------------------------------------------------------------------
// Mercer Evolution - Core v2.6 - Global Variables Partial
// DATE - January 13, 2015
// AUTHOR - Doug Fraize, Matthew Holmes, Doug Richar, Vinod Bhatt
//-------------------------------------------------------------------------------------------

// ==========================================================================================
// GLOBAL
// ==========================================================================================
$evo-include-html-classes:					true !default;


// GLOBAL
// ------------------------------------------------------------------------------------------


// BASE VARIABLES
$baseMargin:								14px !default;
$basePadding:								14px !default;

// Z-INDEX MASTER LIST
// Used for a bird's eye view of components dependent on the z-axis
$zindexLayoutLoginFooterBackground:			9994 !default;
$zindexLayoutLoginFooter:					9995 !default;
$zindexSlider:								9996 !default;
$zindexDatepicker:							9997 !default;
$zindexAutocomplete:						9998 !default;
$zindexTooltip:								9999 !default;
$zindexToolbar:								10000 !default;
$zindexMenu:								10001 !default;
$zindexDialogOverlay:						10002 !default;
$zindexDialogPosition:						10003 !default;


// HELPERS
// ------------------------------------------------------------------------------------------

// FOOTNOTES
$footnoteFontColor:							$gray-darker !default;

// KEYLINES
$keylineRightBorderRightColor: 				$gray-mid-light !default;
$keylineLeftBorderLeftColor:				$gray-mid-light !default;

// SPACER SIZES
$spacerSize:								5px !default;
$spacerXSmall:								($spacerSize*1) !default;
$spacerSmall:								($spacerSize*2) !default;
$spacerMedium:								($spacerSize*3) !default;
$spacerLarge:								($spacerSize*4) !default;
$spacerXLarge:								($spacerSize*5) !default;
$spacerXXLarge:								($spacerSize*6) !default;
$spacerXXXLarge:							($spacerSize*7) !default;


// ==========================================================================================
// BASE
// ==========================================================================================

// TYPOGRAPHY
// ------------------------------------------------------------------------------------------

// BASE FONTS
$baseFontStack:								arial, Tahoma, Geneva, sans-serif !default;
$baseFontFilePath:							"../fonts" !default;

// WEB FONTS

	// Thin
	$fontThinFamily:							relativefaux !default;
	$fontThinFilePath:							"#{$baseFontFilePath}/relative-faux_-webfont" !default;
	$fontThinStack:								"#{$fontThinFamily}", $baseFontStack !default;

	// Regular
	$fontRegularFamily:							relativebook !default;
	$fontRegularFilePath:						"#{$baseFontFilePath}/relative-book-webfont" !default;
	$fontRegularStack:							"#{$fontRegularFamily}", $baseFontStack !default;

	// Italic
	$fontItalicFamily:							relativebook_italic !default;
	$fontItalicFilePath:						"#{$baseFontFilePath}/relative-bookitalic-webfont" !default;
	$fontItalicStack:							"#{$fontItalicFamily}", $baseFontStack !default;

	// Medium
	$fontMediumFamily:							relativemedium !default;
	$fontMediumFilePath:						"#{$baseFontFilePath}/relative-medium-webfont" !default;
	$fontMediumStack:							"#{$fontMediumFamily}", $baseFontStack !default;

	// Medium Italic
	$fontMediumItalicFamily:					relativemedium_italic !default;
	$fontMediumItalicFilePath:					"#{$baseFontFilePath}/relative-mediumitalic_-webfont" !default;
	$fontMediumItalicStack:						"#{$fontMediumItalicFamily}", $baseFontStack !default;

	// Bold
	$fontBoldFamily:							relativebold !default;
	$fontBoldFilePath:							"#{$baseFontFilePath}/relative-bold-webfont" !default;
	$fontBoldStack:								"#{$fontBoldFamily}", $baseFontStack !default;

	// Bold Italic
	$fontBoldItalicFamily:						relativebold_italic !default;
	$fontBoldItalicFilePath:					"#{$baseFontFilePath}/relative-bolditalic-webfont" !default;
	$fontBoldItalicStack:						"#{$fontBoldItalicFamily}", $baseFontStack !default;

// ICON FONTS

	// Core icon font set
	$evoIconFontFamily:							evo_icon_font !default;
	$evoIconFontFilePath:						"#{$baseFontFilePath}/evo-icon-font" !default;
	$evoIconFontStack:							"#{$evoIconFontFamily}" !default;

	// Site icon font set
	$evoIconSiteFontFamily:						evo_icon_font_site !default;
	$evoIconSiteFontFilePath:					"#{$baseFontFilePath}/evo-icon-font-site" !default;
	$evoIconSiteFontStack:						"#{$evoIconSiteFontFamily}" !default;

// LINKS
$baseLinkVisitedColor:						$gray-dark !default;

// FONT WEIGHTS
$weightBold100:								100 !default;
$weightBold200:								200 !default;
$weightBold300:								300 !default;
$weightBold400:								400 !default;
$weightBold500:								500 !default;
$weightBold600:								600 !default;
$weightBold700:								700 !default;
$weightBold800:								800 !default;
$weightBold900:								900 !default;

// HEADERS
$hdrRuleBorderSize:							1px !default;
$hdrRuleBorderStyle:						dotted !default;
$hdrRuleMarginBottom:						10px !default;
$hdrRuleBorderColor:						$gray-darker !default;
$hdrBackgroundColor:						$gray-mid-light !default;

// OTHER ELEMENTS
$textSelectionTextColor:					$white !default;
$textSelectionBackgroundColor:				$gray-darker !default;


// BOXES
// ------------------------------------------------------------------------------------------

// BASE
$boxBorderSize:								1px !default;
$boxBorderStyle:							solid !default;
$boxHdrBorderSize:							3px !default;
$boxHdrBorderStyle:							solid !default;
$boxBdyBorderTopSize:						1px !default;
$boxBdyBorderTopStyle:						solid !default;
$boxPadding:								$basePadding !default;
$boxVShadow:								1px !default;
$boxHShadow:								1px !default;
$boxShadowBlur:								1px !default;
$boxBackgroundColor:						$gray-lighter !default;
$boxBorderColor:							$gray-mid-light !default;
$boxHdrBorderColor:							$gray-mid-light !default;
$boxShadowColor:							$gray-darker !default;

// ADVANCED BOX
$boxAdvancedBackgroundColor:				$transparent !default;
$boxAdvancedHdrBackgroundColor:				$gray-light !default;

// MESSAGE BOXES
$msgBorderWidth:							1px !default;
$msgBorderStyle:							solid !default;

// CUSTOM CONTAINERS
$boxInlineSearchBorderSizeColor:			1px !default;
$boxInlineSearchBorderTypeColor:			dotted !default;
$boxInlineSearchLabelLineHeight:			22px !default;

$boxFeaturedBackgroundColor:				$white !default;
$boxFeaturedBorderBottomColor:				$blue-gray-mid-dark !default;

$boxSidebarBackgroundColor:					$gray-lighter !default;
$boxSidebarBorderBottomColor:				$gray-mid-light !default;

$boxInlineSearchBackgroundColor:			$gray-lighter !default;
$boxInlineSearchBorderColor:				$gray-darker !default;

$boxSupportBackgroundColor:					$blue-gray-lighter !default;
$boxSupportBottomColor:						$blue-gray-mid-dark !default;
$boxSupportBorderBottomColor:				$blue-gray-mid-dark !default;


// BUTTONS
// ------------------------------------------------------------------------------------------

// BASE
$buttonHoverBorderSize:						1px !default;
$buttonHoverBorderStyle:					solid !default;
$buttonVShadow:								0 !default;
$buttonHShadow:								0 !default;
$buttonShadowBlur:							0 !default;
$buttonMarginBottom:						5px !default;
$buttonMinWidth:							100% !default;
$buttonMinWidthLargeBreakpoint:				100px !default;
$buttonPaddingTopBottom:					12px !default;
$buttonPaddingLeftRight:					17px !default;
$buttonPaddingTopBottomLargeBreakpoint:		7px !default;
$buttonPaddingLeftRightLargeBreakpoint:		12px !default;
$buttonFontSize:							18px !default;
$buttonLineHeight:							$buttonFontSize !default;
$buttonFontSizeLargeBreakpoint:				15px !default;
$buttonLineHeightLargeBreakpoint:			$buttonFontSizeLargeBreakpoint !default;
$buttonFontWeight:							normal !default;
$buttonBorderSize:							1px !default;
$buttonBorderStyle:							solid !default;

$buttonBackgroundColor:						$gray-light !default;
$buttonHoverBackgroundColor: 				$gray-mid-dark !default;
$buttonHoverBorderColor:					$gray-mid-dark !default;
$buttonActiveBackgroundColor:				$gray-mid-dark !default;
$buttonFocusBackgroundColor: 				$gray-mid-dark !default;
$buttonFocusBorderColor:					$gray-mid-dark !default;
$buttonShadowColor:							$transparent !default;
$buttonFontColor:							$gray-darkest !default;
$buttonBorderColor:							$gray-mid-light !default;
$buttonTextShadowColor:						$transparent !default;

// PRIMARY BUTTON
$buttonPrimaryBackgroundColor:				$green-darker !default;
$buttonHoverPrimaryBackgroundColor:			$green !default;
$buttonActivePrimaryBackgroundColor:		$green !default;
$buttonFocusPrimaryBackgroundColor:			$green !default;
$buttonPrimaryFontColor:					$white !default;
$buttonPrimaryTextShadowColor:				$transparent !default;

// BUTTON DISABLED
$buttonDisabledBackgroundColor:				$gray-lighter !default;
$buttonDisabledBorderColor:					$gray-mid-light !default;
$buttonDisabledFontColor:					$gray-darker !default;
$buttonPrimaryDisabledBackgroundColor:		$green-darker !default;
$buttonPrimaryDisabledBorderColor:			$gray-darker !default;
$buttonPrimaryDisabledFontColor:			$gray-lighter !default;

// BUTTON SIZES
$buttonXXXSmallFontSize:					12px !default;
$buttonXXXSmallFontSizeLargeBreakpoint:		10px !default;
$buttonXXSmallFontSize:						14px !default;
$buttonXXSmallFontSizeLargeBreakpoint:		12px !default;
$buttonXSmallFontSize:						15px !default;
$buttonXSmallFontSizeLargeBreakpoint:		13px !default;
$buttonSmallFontSize:						16px !default;
$buttonSmallFontSizeLargeBreakpoint:		14px !default;
$buttonMediumFontSize:						$buttonFontSize !default;
$buttonMediumFontSizeLargeBreakpoint:		$buttonFontSizeLargeBreakpoint !default;
$buttonLargeFontSize:						20px !default;
$buttonLargeFontSizeLargeBreakpoint:		18px !default;
$buttonXLargeFontSize:						24px !default;
$buttonXLargeFontSizeLargeBreakpoint:		23px !default;
$buttonXXLargeFontSize:						28px !default;
$buttonXXLargeFontSizeLargeBreakpoint:		26px !default;
$buttonXXXLargeFontSize:					35px !default;
$buttonXXXLargeFontSizeLargeBreakpoint:		33px !default;

// BUTTON GROUP VERTICAL
$buttonVertGroupBorderTopSize:				1px !default;
$buttonVertGroupBorderTopStyle:				solid !default;
$buttonVertGroupBorderTopColor:				$gray-mid-light !default;

// BUTTON GROUP HORIZONTAL
$buttonHorzGroupBorderTopSize:				1px !default;
$buttonHorzGroupBorderTopStyle:				solid !default;
$buttonHorzGroupBorderBottomSize:			1px !default;
$buttonHorzGroupBorderBottomStyle:			solid !default;
$buttonHorzGroupBorderRightSize:			1px !default;
$buttonHorzGroupBorderRightStyle:			solid !default;
$buttonHorzGroupFirstChildBorderLeftSize:	1px !default;
$buttonHorzGroupFirstChildBorderLeftStyle:	solid !default;
$buttonHorzGroupBorderTopColor:				$gray-mid-light !default;
$buttonHorzGroupBorderBottomColor:			$gray-mid-light !default;
$buttonHorzGroupBorderRightColor:			$gray-mid-light !default;
$buttonHorzGroupFirstChildBorderLeftColor:	$gray-mid-light !default;


// HEADER
// ------------------------------------------------------------------------------------------

// ICON STYLES
$headerIconRadius:							3px !default;
$headerIconPadding:							4px 10px 6px 6px !default;
$headerIconMinWidth:						28px !default;
$headerIconBackgroundColor:					$gray-dark !default;
$headerIconFontColor:						$white !default;
$headerIconHoverBackgroundColor:			$gray-dark !default;
$headerIconHoverFontColor:					$white !default;

// BASE & LOGO STYLES
$mastheadContentHeight:						52px !default;
$mastheadLogoLineHeight:					52px !default;
$mastheadLogoFontWeight:					400 !default;
$mastheadLogoFontSize:						24px !default;
$mastheadLogoFontSizeLargeBreakpoint:		33px !default;
$mastheadBackgroundStartColor:				$blue-gray !default;
$mastheadBackgroundEndColor:				$blue-gray-darker !default;
$mastheadLogoLinkColor:						$white !default;

// USER IDENTIFIER
$userIdentifierMenuFontSize:				12px !default;
$userIdentifierMenuPadding:					6px 10px 6px 30px !default;
$userIdentifierBackgroundStartColor:		#4674a9 !default;
$userIdentifierBackgroundEndColor:			#385882 !default;
$userIdentifierFontColor:					$white !default;
$userIdentifierMenuShadowColor:				$gray-darker !default;
$userIdentifierMenuTextColor:				$white !default;
$userIdentifierMenuHoverColor:				$blue-gray !default;

// TOOLBAR
$toolbarBackgroundStartColor:				$blue-gray !default;
$toolbarBackgroundEndColor:					$blue-gray-darker !default;
$toolbarMobileNavbarBackgroundColor:		$gray-lighter !default;
$toolbarDropShadowColor:					$gray-darker !default;
$toolbarLinkColor:							$white !default;
$toolbarLinkHoverColor:						$white !default;

// NAVBAR
$navbarBackgroundGradientStartColor:		$gray-lightest !default;
$navbarBackgroundGradientEndColor:			$gray-mid-light !default;
$navbarBorderColor:							$gray-mid-dark !default;
$navbarBorderBottomStyle:					solid !default;
$navbarBorderColor:							$gray-mid-dark !default;
$navbarFontHoverColor:						#002C77 !default;

	// MENU OVERRIDES
	$subMenuBackgroundColor:				$gray-lighter !default;
	$subMenuBorderTopColor:					$gray-mid-dark !default;

	// NAVBAR MESSAGE AREA
	$navbarMessageBorderRightColor:			$gray-mid-dark !default;

	// TEXT NAVBAR
	$textNavbarBorderLeftColor:				$gray-mid-dark !default;
	$textNavbarSubMenuHoverBackgroundColor:	$white !default;

	// TABBED NAVBAR
	$tabbedNavbarBorderLeftColor:			$white !default;
	$tabbedNavbarHrefBorderLeftColor:		$gray-mid-light !default;

	$tabbedNavbarActiveBackgroundStartColor:	$gray-lightest !default;
	$tabbedNavbarActiveBackgroundEndColor:		$gray-mid-dark !default;
	$tabbedNavbarSubMenuHoverBackgroundColor:	$white !default;

// SPOTLIGHT CONTAINER
$megaMenuContainerSpotlightBorderRadius: 	4px !default;


// MENU STYLES
// ------------------------------------------------------------------------------------------
$menuLinkPadding:							7px 10px !default;

// MENUS
$menuBackgroundHoverColor: 					$white !default;
$menuDropShadowColor:						$gray-mid-dark !default;
$menuBackgroundColor:						$white !default;
$menuBorderColor:							$gray-mid-dark !default;
$menuBorderTopColor:						$gray-mid-dark !default;
$menuIndicatorColor1stLevel:				$gray-dark !default;
$menuFontColor:								#002C77 !default;
$menuHoverFontColor:						#002C77 !default;
$menuBorderTopColor2ndlevel:				$gray-mid-dark !default;

// MEGA MENU
$megaMenuBackgroundColor: 					$gray-darker !default;
$megaMenuBorderTopColor:					$gray-dark !default;
$megaMenuBorderBottomColor:					$gray-dark !default;
$megaMenuContentFontColor:					$white !default;


// NAVIGATION
// ------------------------------------------------------------------------------------------
$navbarBorderBottomWidth:					1px !default;
$navbarBorderBottomStyle:					solid !default;
$navbarMessageWidth:						200px !default;
$navbarMessagePadding:						9px 0 7px 0 !default;
$navbarMessageInnerPadding:					2px 10px 2px 0 !default;
$navbarMessageFontFamily:					$fontMediumFamily !default;
$navbarMessageBorderRightWidth:				1px !default;
$navbarMessageBorderRightStyle:				dotted !default;


// HERO BANNER
// ------------------------------------------------------------------------------------------
$heroBannerBackgroundColor:					$gray-lighter !default;


// FOOTER
// ------------------------------------------------------------------------------------------

// BASE
$footerBorderTopColor:						$gray-mid-light !default;
$footerFontColor:							$gray-darker !default;

// FAT FOOTER
$fatFooterBackgroundColor:					$gray-darker !default;
$fatFooterFontColor:						$white !default;


// ICONS
// ------------------------------------------------------------------------------------------
$iconFontAdvSize:							32px !default;
$iconFontColor:								$blue-gray-dark !default;
$iconFontBackgroundStartColor:				$blue-gray-dark !default;
$iconFontBackgroundEndColor:				$blue-gray !default;
$iconFontAdvBackgroundColor:				$blue-gray-darkest !default;
$iconFontAdvShadowColor:					$gray-darkest !default;
$iconFontAdvBorderColor:					$gray-lighter !default;
$iconFontAdvFontColor:						$white !default;


// LISTS
// ------------------------------------------------------------------------------------------
$horizontalListPipeBorderColor:				$gray-mid-light !default;
$definitionListHeaderColor:					$black !default;
$definitionDataListHeaderBorderColor:		$gray-mid-light !default;


// TABLES
// ------------------------------------------------------------------------------------------

// BASE
$tableColWidthMultiplier: 					1% !default;
$tableBorderStyle:							solid !default;
$tableTdBorderStyle:						solid !default;
$tableMarginBottom:							$baseMargin !default;
$tableMinWidth:								640px !default;
$tableMinWidthLargeBreakpoint:				100% !default;

$tableBackgroundColor:						$white !default;
$tableBorderColor:							$gray-mid-light !default;
$tableFontColor:							$black !default;
$tableThFontColor:							$black !default;
$tableThBackgroundColor:					$blue-gray-lighter !default;
$tableThBorderColor:						#A9BCD3 !default;
$tableTdBorderColor:						$gray-mid-light !default;
$tableEvenTdBackgroundColor:				$white !default;
$tableEvenTdSortedBackgroundColor: 			$gray-lightest !default;
$tableOddTdBackgroundColor:					$gray-lightest !default;
$tableOddTdSortedBackgroundColor: 			$gray-lighter !default;
$tableRowHoverColor:						$tan-light !default;

// OPTIONS
$tableDataFilterMaxWidth:					300px !default;
$tableDataFilterLineHeight:					22px !default;
$tableDataFilterLineHeightLargeBreakpoint:	16px !default;
$tableDataFilterHeight:						24px !default;
$tableDataFilterHeightLargeBreakpoint:		20px !default;

$tableSubHeaderBackgroundColor:				#E8F0F7 !default;
$tableSubHeaderFontColor:					$gray-darkest !default;
$tableSubHeaderBorderColor:					#C3D2E5 !default;
$tableSubTotalBackgroundColor:				$gray-lighter !default;
$tableSubTotalFontColor:					$gray-darkest !default;
$tableTotalBackgroundColor:					#E6E6E6 !default;
$tableTotalFontColor:						$black !default;


// ==========================================================================================
// OBJECTS
// ==========================================================================================

// ACCORDION
// ------------------------------------------------------------------------------------------
$accordionBorderColor:						$gray-mid-light !default;
$accordionHeaderBackgroundColor:			$gray-lightest !default;
$accordionHeaderFontColor:					$blue-gray-dark !default;
$accordionHeaderIconColor:					$blue-gray-dark !default;
$accordionContentBackgroundColor:			$white !default;


// ADVANCED FILTER MODAL
// ------------------------------------------------------------------------------------------
$advancedFilterModalWidth:					700px !default;


// ALTERNATE VIEWS BADGE
// ------------------------------------------------------------------------------------------
$alternateViewsBadgeButtonBackgroundStartColor: $white !default;
$alternateViewsBadgeButtonBackgroundEndColor: $gray-light !default;
$alternateViewsBadgeButtonBorderColor: #e1dfdf !default;
$alternateViewsBadgeButtonIconColor: $gray-mid-dark !default;
$alternateViewsBadgeButtonLinkColor: $gray-darker !default;
$alternateViewsBadgeButtonHoverBackgroundStartColor: $gray-lightest !default;
$alternateViewsBadgeButtonHoverBackgroundEndColor: $gray-mid-light !default;
$alternateViewsBadgeButtonHoverIconColor: $gray-darker !default;
$alternateViewsBadgeButtonHoverLinkColor: $gray-darkest !default;
$alternateViewsBadgeButtonActiveBackgroundStartColor: #fef8e3 !default;
$alternateViewsBadgeButtonActiveBackgroundEndColor: #f5e6b0 !default;
$alternateViewsBadgeButtonActiveBorderColor: #f0e2b3 !default;
$alternateViewsBadgeButtonActiveIconColor: #edc557 !default;
$alternateViewsBadgeButtonActiveLinkColor: $gray-darkest !default;


// AUTOCOMPLETE
// ------------------------------------------------------------------------------------------
$autocompleteBorderSize:					1px !default;
$autocompleteBorderStyle:					solid !default;
$autocompleteMaxHeight:						97px !default;
$autocompleteMaxHeightLargeBreakpoint:		193px !default;
$autocompleteItemLinkLineHeight:			22px !default;
$autocompleteItemLinkLineHeightLargeBreakpoint:	20px !default;
$autocompleteItemBorderTopSize:				1px !default;
$autocompleteItemBorderTopStyle:			solid !default;
$autocompleteItemBorderBottomSize:			1px !default;
$autocompleteItemBorderBottomStyle:			solid !default;
$autocompleteItemUnderlineText:				underline !default;

$autocompleteShadowColor:					$gray-mid-light !default;
$autocompleteBackgroundColor:				$gray-lightest !default;
$autocompleteBorderColor:					$gray-mid-light !default;
$autocompleteItemFontColor:					$gray-darkest !default;
$autocompleteItemBorderTopColor:			$gray-lightest !default;
$autocompleteItemBorderBottomColor:			$gray-lightest !default;
$autocompleteItemHighlightText:				$tan !default;
$autocompleteItemHoverBackgroundStartColor:	$tan-light !default;
$autocompleteItemHoverBackgroundEndColor:	$tan-light !default;


// CALL TO ACTION
// ------------------------------------------------------------------------------------------
$callToActionBackgroundColor:				$gray-dark !default;
$callToActionTextColor:						$white !default;
$callToActionHoverBackgroundColor:			$gray-darker !default;
$callToActionIconColor:						$white !default;


// CAROUSEL
// ------------------------------------------------------------------------------------------
$carouselPageCircleBackgroundColor:			$gray-mid-light !default;
$carouselPageCircleHoverBackgroundColor:	$gray-dark !default;
$carouselPageCircleActiveBackgroundColor:	$gray-darker !default;
$carouselPageCircleTextColor:				$white !default;
$carouselNavIconColor:						$gray-mid-light !default;
$carouselNavHoverIconColor:					$gray-dark !default;


// CONTENT MODAL
// ------------------------------------------------------------------------------------------
$contentModalUtilityBarWidth:				51px !default;
$contentModalUtilityBarTabsIconPositionTop:	9px !default;
$contentModalUtilityBarTabsPositionTop:		89px !default;
$contentModalUtilityBarTabsUtilityPositionBottom: 70px !default;
$contentModalUtilityBarTabsCloseIconPositionTop: 15px !default;
$contentModalUtilityBarTabsCloseIconPositionLeft: 9px !default;

$contentModalBackgroundColor:				$white !default;
$contentModalUtilityBarBackgroundStartColor: $blue-gray-darker !default;
$contentModalUtilityBarBackgroundEndColor: 	$blue-gray-darkest !default;
$contentModalUtilityBarTabsBorderColor:		$blue-gray-darkest !default;
$contentModalUtilityBarTabsAltBorderColor:	$blue-gray-light !default;
$contentModalUtilityBarTabsIconColor:		$white !default;
$contentModalUtilityBarTabsHoverBackgroundStartColor: $blue-gray-mid-dark !default;
$contentModalUtilityBarTabsHoverBackgroundEndColor: $blue-gray-dark !default;
$contentModalUtilityBarTabsActiveBackgroundColor: $white !default;
$contentModalUtilityBarTabsActiveIconColor:	$blue-gray-darker !default;


// DATEPICKER
// ------------------------------------------------------------------------------------------
$datepickerMarginTop:						5px !default;
$datepickerHdrPaddingTopBottom:				4px !default;
$datepickerMessageFontSize:					13px !default;
$datepickerMessageLineHeight:				15px !default;
$datepickerIconPositionTop:					5px;
$datepickerIconPositionLeft:				-22px;
$datepickerIconPositionTopLargeBreakpoint:	4px;
$datepickerIconPositionTopIE:				($datepickerIconPositionTop - 2) !default;
$datepickerIconPositionLeftLargeBreakpoint:	-20px;
$datepickerMinWidth:						110px !default;

$datepickerShadowColor:						$gray-darker !default;
$datepickerBackgroundColor:					$white !default;
$datepickerThFontColor:						$gray-darker !default;
$datepickerBorderColor:						$gray-lighter !default;
$datepickerLinkColor:						$gray-darker !default;
$datepickerHdrBackgroundStartColor:			$gray-lighter !default;
$datepickerHdrBackgroundEndColor:			$gray-mid-light !default;
$datepickerHdrFontColor:					$gray-darkest !default;
$datepickerHdrNavIconColor:					$blue-sapphire !default;
$datepickerTodayFontColor:					$green !default;
$datepickerTodayBackgroundColor: 			$green-lightest !default;
$datepickerCurrentDayBackgroundColor: 		$tan-mid !default;
$datepickerCurrentDayFontColor:				$tan !default;
$datepickerHoverBackgroundColor: 			$tan-light !default;
$datepickerDisabledFontColor:				$gray-mid-light !default;
$datepickerDisabledBackgroundColor:			$white !default;
$datepickerDisabledBorderColor:				$gray-lighter !default;
$datepickerMessageFontColor:				$gray-darkest !default;
$datepickerMessageBackgroundColor:			$tan-light !default;
$datepickerIconColor:						$gray-darker !default;


// DIALOG/MODAL
// ------------------------------------------------------------------------------------------
$dialogOverlayBackgroundColorOpacity:		40 !default;
$dialogWidth:								auto !default;
$dialogWidthLargeBreakpoint:				500px !default;
$dialogVShadow:								1px	!default;
$dialogHShadow:								1px	!default;
$dialogShadowBlur:							1px	!default;
$dialogHdrPaddingTop:						15px !default;
$dialogHdrPaddingRight:						60px !default;
$dialogHdrPaddingBottom:					12px !default;
$dialogHdrPaddingLeft:						18px !default;
$dialogHdrBorderBottomSize:					0 !default;
$dialogHdrBorderBottomStyle:				solid !default;
$dialogHdrFontSize:							18px !default;
$dialogHdrFontSizeLargeBreakpoint:			24px !default;
$dialogContentMaxHeightLargeBreakpoint:		430px !default;
$dialogContentPaddingTop:					12px !default;
$dialogContentPaddingLeftRight:				18px !default;
$dialogContentBorderTopSize:				1px !default;
$dialogContentBorderTopStyle:				solid !default;
$loadingModalWidthLargeBreakpoint:			350px !default;

$dialogOverlayBackgroundColor:				$black !default;
$dialogShadowColor:							$gray-darker !default;
$dialogBackgroundColor:						$white !default;
$dialogHdrFontColor:						$gray-darkest !default;
$dialogContentBorderTopColor: 				$white !default;
$dialogHdrBorderBottomColor:				$transparent !default;
$dialogCloseIconColor:						$gray-darker !default;


// IMAGE CONTENT OVERLAY
// ------------------------------------------------------------------------------------------
$imageContentOverlayBackgroundColor:		$gray-darker !default;
$imageContentOverlayBorderBottomColor:		$gray-dark !default;
$imageContentOverlayFontColor:				$white !default;


// LOGIN LAYOUT
// ------------------------------------------------------------------------------------------
$layoutLoginBackgroundImageSrcPath:			"../images/login_bkgd.jpg" !default;
$layoutLoginBackgroundColor:				$blue-gray !default;
$layoutLoginContainerTranslucentBackgroundColor: $gray-lighter !default;
$layoutLoginContainerSubHeaderColor:		$blue-gray-darkest !default;
$layoutLoginContainerHeaderColor:			$blue-gray-darkest !default;
$layoutLoginContainerBoxBackgroundColor:	$white !default;
$layoutLoginContainerBoxBorderColor:		$gray-dark !default;
$layoutLoginFooterTranslucentBackgroundColor: $black !default;
$layoutLoginFooterFontColor:				$white !default;
$layoutLoginFooterBorderColor:				$white !default;


// MINI FILTER
// ------------------------------------------------------------------------------------------
$miniFilterMarginBottom:					6px !default;
$miniFilterFontSizeLargeBreakpoint:			11px !default;
$miniFilterActivePaddingTopBottom: 			1px !default;
$miniFilterActivePaddingLeftRight: 			4px !default;
$miniFilterDropDownMaxWidth:				300px !default;

$miniFilterLabelFontColor:					$black !default;
$miniFilterActiveBackgroundColor: 			$tan-light !default;
$miniFilterActiveFontColor:					$black !default;


// PAGINATION
// ------------------------------------------------------------------------------------------
$paginationFontSizeLargeBreakpoint:			12px !default;
$paginationBorderStyle:						solid !default;
$paginationLinkLineHeight:					.8em !default;
$paginationLinkMinWidth:					31px !default;
$paginationLinkMinWidthLargeBreakpoint:		28px !default;
$paginationLinkMaxHeight:					$paginationLinkMinWidth !default;
$paginationLinkMaxHeightLargeBreakpoint:	$paginationLinkMinWidthLargeBreakpoint !default;

$paginationBorderColor:						$gray-mid-light !default;
$paginationHoverBackgroundColor:			$tan-light !default;
$paginationActiveBackgroundColor:			$tan-light !default;
$paginationActiveFontColor:					$black !default;
$paginationLinkHoverColor:					$black !default;


// PROFILE CONTAINERS
// ------------------------------------------------------------------------------------------
$profileContainerDataListFontSize:			14px !default;
$profileContainerDataListLineHeight:		18px !default;

$profileContainerHdrColor:					$white !default;
$profileContainerSecondaryHdrColor:			$white !default;
$profileContainerDataListLabelFontColor:	$white !default;


// SCROLL PANE
// ------------------------------------------------------------------------------------------
$scrollPaneWidth:							auto !default;
$scrollPaneHeight:							300px !default;

$scrollPaneScrollbarRGBColor:				$black !default;
$scrollPaneScrollbarHexColor:				#666 !default;


// SLIDER
// ------------------------------------------------------------------------------------------
$sliderBarBackgroundStartColor:				$gray-mid-light !default;
$sliderBarBackgroundEndColor:				$gray-mid-light !default;
$sliderBarRangeBackgroundColor:				$gray-darker !default;
$sliderHandleBackgroundStartColor:			$blue-gray-darker !default;
$sliderHandleBackgroundEndColor:			$blue-gray-darker !default;
$sliderHandleShadowColor: 					$gray-mid-light !default;
$sliderHandleBorderColor:					$white !default;
$sliderHandleFocusBackgroundStartColor:		$blue-gray-darker !default;
$sliderHandleFocusBackgroundEndColor:		$blue-gray-darker !default;
$sliderHandleHoverBackgroundStartColor:		$blue-gray-darkest !default;
$sliderHandleHoverBackgroundEndColor:		$blue-gray-darkest !default;
$sliderHandleActiveBackgroundStartColor:	$blue-gray-darkest !default;
$sliderHandleActiveBackgroundEndColor:		$blue-gray-darkest !default;


// SUMMARY CONTAINER
// ------------------------------------------------------------------------------------------
$summaryCtnBorderSize:						1px !default;
$summaryCtnBorderStyle:						dotted !default;
$summaryCtnPadding:							10px !default;
$summaryPrimaryCtnIconFontSize:				40px !default;
$summarySecondaryCtnIconFontSize:			30px !default;

$summaryCtnBorderColor:						$gray-darker !default;
$summaryCtnBorderColorTop:					$transparent !default;
$summaryCtnBorderColorBottom:				$transparent !default;
$summaryCtnBorderColorLeft:					$transparent !default;
$summaryCtnBorderFirstChildColorTop:		$gray-darker !default;
$summaryCtnBorderFirstChildColorLeft:		$gray-darker !default;
$summaryCtnBorderHoverTransitionSpeed:		250ms !default;
$summaryCtnBorderHoverBackgroundColor:		$tan-light !default;
$summaryCtnBorderHoverBorderTopColor:		$gray-darker !default;
$summaryCtnBorderHoverBorderBottomColor:	$gray-darker !default;
$summaryCtnAlertNegativeFontColor:			$red !default;
$summaryCtnAlertNegativeHoverBackgroundColor: $red-light !default;
$summaryCtnAlertPositiveFontColor:			$green !default;
$summaryCtnAlertPositiveHoverBackgroundColor: $green-lightest !default;


// TABS
// ------------------------------------------------------------------------------------------
$tabsSetMarginBottom:						18px !default;
$tabsNavHeight:								36px !default;
$tabsNavHeightLargeBreakpoint:				28px !default;
$tabsHeight:								34px !default;
$tabsHeightLargeBreakpoint:					26px !default;
$tabsPositonTop:							2px !default;
$tabsMarginRight:							2px !default;
$tabsMarginBottom:							1px !default;
$tabsPaddingTopBottom:						3px !default;
$tabsPaddingLeftRight:						10px !default;
$tabsBorderSize:							1px !default;
$tabsBorderStyle:							solid !default;
$tabsFontSize:								14px !default;
$tabsLineHeight:							26px !default;
$tabsLineHeightLargeBreakpoint:				22px !default;
$tabsFontWeight:							normal !default;
$tabsActivePositonTop:						2px !default;
$tabsActiveHeight:							35px !default;
$tabsActiveHeightLargeBreakpoint:			27px !default;
$tabsActivePaddingBottom:					1px !default;
$tabsPanelPadding:							$basePadding !default;
$tabsPanelBorderSize:						1px !default;
$tabsPanelBorderStyle:						solid !default;

$tabsBackgroundStartColor:					$gray-mid-light !default;
$tabsBackgroundEndColor:					$gray-lighter !default;
$tabsBorderColor:							$gray-mid-light !default;
$tabsFontColor:								$blue-sapphire-dark !default;
$tabsPagingNavBackgroundStartColor:			$white !default;
$tabsPagingNavBackgroundEndColor:			$white !default;
$tabsPagingNavLinkColor:					$gray-darker !default;
$tabsPagingNavHoverColor:					$blue-gray-dark !default;
$tabsSelectedTabFontColor:					$gray-lighter !default;
$tabsHoverBackgroundStartColor:				$gray-mid-dark !default;
$tabsHoverBackgroundEndColor:				$gray-lighter !default;
$tabsActiveFontColor:						$gray-darkest !default;
$tabsActiveBackgroundStartColor:			$white !default;
$tabsActiveBackgroundEndColor:				$white !default;
$tabsPanelBorderColor:						$gray-mid-light !default;
$tabsPanelBackgroundColor: 					$white !default;


// TILES
// ------------------------------------------------------------------------------------------
$tilesBorderRadius:							3px !default;
$tilesMarginBottom:							3px !default;
$tilesBodyBorderRadius:						0 0 3px 3px !default;
$tilesScrollPaneHeight:						400px !default;
$tilesOuterBorderRadiusLargeBreakpoint:		0 !default;

$tilesBackgroundColor:						$gray-lightest !default;
$tilesHeaderBorderTopColor:					$blue-sapphire-mid !default;
$tilesHeaderBackgroundColor:				$transparent !default;
$tilesHeaderFontColor:						$gray-darkest !default;
$tilesBodyBackgroundColor:					$white !default;
$tilesBodyBorderColor:						$gray-light !default;
$tilesOutsideBorderColor:					$gray-light !default;


// TOOLTIP
// ------------------------------------------------------------------------------------------
$tooltipVShadow:							1px	!default;
$tooltipHShadow:							1px	!default;
$tooltipShadowBlur:							5px	!default;
$tooltipBorderSize:							1px !default;
$tooltipBorderStyle:						solid !default;
$tooltipPaddingTopBottom:					5px !default;
$tooltipPaddingLeftRight:					8px !default;

$tooltipShadowColor:						$gray-mid-light !default;
$tooltipBorderColor:						$gray-mid-light !default;
$tooltipBackgroundColor:					$gray-light !default;
$tooltipFontColor:							$gray-darkest !default;