//-------------------------------------------------------------------------------------------
// Mercer Evolution - Core v2.7 - Global Variables Partial
// DATE - June 3, 2015
// AUTHOR - Doug Fraize, Matthew Holmes
//-------------------------------------------------------------------------------------------

// ==========================================================================================
// GLOBAL
// ==========================================================================================
$evo-include-html-classes:					true !default;


// GLOBAL
// ------------------------------------------------------------------------------------------

// BASE VARIABLES
$evo-base-margin:							14px !default;
$evo-base-padding:							14px !default;

// Z-INDEX MASTER LIST
// Used for a bird's eye view of components dependent on the z-axis
$evo-zindex-layout-login-footer-background:	9994 !default;
$evo-zindex-layout-login-footer:			9995 !default;
$evo-zindex-slider:							9996 !default;
$evo-zindex-datepicker:						9997 !default;
$evo-zindex-autocomplete:					9998 !default;
$evo-zindex-tooltip:						9999 !default;
$evo-zindex-toolbar:						10000 !default;
$evo-zindex-menu:							10001 !default;
$evo-zindex-dialog-overlay:					10003 !default;
$evo-zindex-dialog-position:				10004 !default;


// TYPOGRAPHY
// ------------------------------------------------------------------------------------------

// BASE FONTS
$evo-base-font-stack:						arial, Tahoma, Geneva, sans-serif !default;
$evo-base-font-file-path:					"../fonts" !default;

// WEB FONTS

	// Thin
	$evo-font-thin-family:						relativefaux !default;
	$evo-font-thin-file-path:					"#{$evo-base-font-file-path}/relative-faux-webfont" !default;
	$evo-font-thin-stack:						"#{$evo-font-thin-family}", $evo-base-font-stack !default;

	// Regular
	$evo-font-regular-family:					relativebook !default;
	$evo-font-regular-file-path:				"#{$evo-base-font-file-path}/relative-book-webfont" !default;
	$evo-font-regular-stack:					"#{$evo-font-regular-family}", $evo-base-font-stack !default;

	// Italic
	$evo-font-italic-family:					relativebook_italic !default;
	$evo-font-italic-file-path:					"#{$evo-base-font-file-path}/relative-bookitalic-webfont" !default;
	$evo-font-italic-stack:						"#{$evo-font-italic-family}", $evo-base-font-stack !default;

	// Medium
	$evo-font-medium-family:					relativemedium !default;
	$evo-font-medium-file-path:					"#{$evo-base-font-file-path}/relative-medium-webfont" !default;
	$evo-font-medium-stack:						"#{$evo-font-medium-family}", $evo-base-font-stack !default;

	// Medium Italic
	$evo-font-medium-italic-family:				relativemedium_italic !default;
	$evo-font-medium-italic-file-path:			"#{$evo-base-font-file-path}/relative-mediumitalic-webfont" !default;
	$evo-font-medium-italic-stack:				"#{$evo-font-medium-italic-family}", $evo-base-font-stack !default;

	// Bold
	$evo-font-bold-family:						relativebold !default;
	$evo-font-bold-file-path:					"#{$evo-base-font-file-path}/relative-bold-webfont" !default;
	$evo-font-bold-stack:						"#{$evo-font-bold-family}", $evo-base-font-stack !default;

	// Bold Italic
	$evo-font-bold-italic-family:				relativebold_italic !default;
	$evo-font-bold-italic-file-path:			"#{$evo-base-font-file-path}/relative-bolditalic-webfont" !default;
	$evo-font-bold-italic-stack:				"#{$evo-font-bold-italic-family}", $evo-base-font-stack !default;

// ICON FONTS

	// Core icon font set
	$evo-icon-font-family:						evo_icon_font !default;
	$evo-icon-font-file-path:					"#{$evo-base-font-file-path}/evo-icon-font" !default;
	$evo-icon-font-stack:						"#{$evo-icon-font-family}" !default;

	// Site icon font set
	$evo-icon-site-font-family:					evo_icon_font_site !default;
	$evo-icon-site-font-file-path:				"#{$evo-base-font-file-path}/evo-icon-font-site" !default;
	$evo-icon-site-font-stack:					"#{$evo-icon-site-font-family}" !default;

// LINKS
$evo-base-link-visited-color:				$sapphire-dark !default;

// FONT WEIGHTS
$evo-weight-bold-100:						100 !default;
$evo-weight-bold-200:						200 !default;
$evo-weight-bold-300:						300 !default;
$evo-weight-bold-400:						400 !default;
$evo-weight-bold-500:						500 !default;
$evo-weight-bold-600:						600 !default;
$evo-weight-bold-700:						700 !default;
$evo-weight-bold-800:						800 !default;
$evo-weight-bold-900:						900 !default;

// TEXT SELECTION
$evo-text-selection-text-color:				$white !default;
$evo-text-selection-background-color:		$gray-darker !default;


// ==========================================================================================
// BASE
// ==========================================================================================

// BOXES
// ------------------------------------------------------------------------------------------


// CUSTOM CONTAINERS
$boxInlineSearchBorderSizeColor:			1px !default;
$boxInlineSearchBorderTypeColor:			dotted !default;
$boxInlineSearchLabelLineHeight:			22px !default;

	$boxFeaturedBackgroundColor:				$white !default;
	$boxFeaturedBorderBottomColor:				$blue-gray-mid-dark !default;

	$boxSidebarBackgroundColor:					$gray-lighter !default;
	$boxSidebarBorderBottomColor:				$gray-mid !default;

	$boxInlineSearchBackgroundColor:			$gray-lighter !default;

	$boxSupportBackgroundColor:					$blue-gray-lighter !default;
	$boxSupportBottomColor:						$blue-gray-mid-dark !default;
	$boxSupportBorderBottomColor:				$blue-gray-mid-dark !default;


// HEADER
// ------------------------------------------------------------------------------------------

// ICON STYLES
// BASE & LOGO STYLES
// USER IDENTIFIER
// TOOLBAR
// NAVBAR
// SPOTLIGHT CONTAINER


// MENU STYLES
// ------------------------------------------------------------------------------------------


// NAVIGATION
// ------------------------------------------------------------------------------------------


// HERO BANNER
// ------------------------------------------------------------------------------------------
$heroBannerBackgroundColor:					$gray-lighter !default;


// FOOTER
// ------------------------------------------------------------------------------------------

// BASE
$footerBorderTopColor:						$gray-mid !default;
$footerFontColor:							$gray-darker !default;

// FAT FOOTER
$fatFooterBackgroundColor:					$gray-darker !default;
$fatFooterFontColor:						$white !default;


// ICONS
// ------------------------------------------------------------------------------------------
$iconFontAdvSize:							32px !default;
$iconFontColor:								$blue-gray-dark !default;
$iconFontBackgroundStartColor:				$blue-gray-dark !default;
$iconFontBackgroundEndColor:				$blue-gray !default;
$iconFontAdvBackgroundColor:				$blue-gray-darkest !default;
$iconFontAdvShadowColor:					$gray-darker !default;
$iconFontAdvBorderColor:					$gray-lighter !default;
$iconFontAdvFontColor:						$white !default;


// LISTS
// ------------------------------------------------------------------------------------------
$horizontalListPipeBorderColor:				$gray-mid !default;
$definitionListHeaderColor:					$black !default;
$definitionDataListHeaderBorderColor:		$gray-mid !default;


// ==========================================================================================
// OBJECTS
// ==========================================================================================


// ADVANCED FILTER MODAL
// ------------------------------------------------------------------------------------------
$advancedFilterModalWidth:					700px !default;


// ALTERNATE VIEWS BADGE
// ------------------------------------------------------------------------------------------
$alternateViewsBadgeButtonBackgroundStartColor: $white !default;
$alternateViewsBadgeButtonBackgroundEndColor: $gray-light !default;
$alternateViewsBadgeButtonBorderColor: #e1dfdf !default;
$alternateViewsBadgeButtonIconColor: $gray-mid !default;
$alternateViewsBadgeButtonLinkColor: $gray-darker !default;
$alternateViewsBadgeButtonHoverBackgroundStartColor: $gray-lightest !default;
$alternateViewsBadgeButtonHoverBackgroundEndColor: $gray-mid !default;
$alternateViewsBadgeButtonHoverIconColor: $gray-darker !default;
$alternateViewsBadgeButtonHoverLinkColor: $gray-darker !default;
$alternateViewsBadgeButtonActiveBackgroundStartColor: #fef8e3 !default;
$alternateViewsBadgeButtonActiveBackgroundEndColor: #f5e6b0 !default;
$alternateViewsBadgeButtonActiveBorderColor: #f0e2b3 !default;
$alternateViewsBadgeButtonActiveIconColor: #edc557 !default;
$alternateViewsBadgeButtonActiveLinkColor: $gray-darker !default;


// AUTOCOMPLETE
// ------------------------------------------------------------------------------------------
$autocompleteBorderSize:					1px !default;
$autocompleteBorderStyle:					solid !default;
$autocompleteMaxHeight:						97px !default;
$autocompleteMaxHeightLargeBreakpoint:		193px !default;
$autocompleteItemLinkLineHeight:			22px !default;
$autocompleteItemLinkLineHeightLargeBreakpoint:	20px !default;
$autocompleteItemBorderTopSize:				1px !default;
$autocompleteItemBorderTopStyle:			solid !default;
$autocompleteItemBorderBottomSize:			1px !default;
$autocompleteItemBorderBottomStyle:			solid !default;
$autocompleteItemUnderlineText:				underline !default;

$autocompleteShadowColor:					$gray-mid !default;
$autocompleteBackgroundColor:				$gray-lightest !default;
$autocompleteBorderColor:					$gray-mid !default;
$autocompleteItemFontColor:					$gray-darker !default;
$autocompleteItemBorderTopColor:			$gray-lightest !default;
$autocompleteItemBorderBottomColor:			$gray-lightest !default;
$autocompleteItemHighlightText:				$topaz !default;
$autocompleteItemHoverBackgroundStartColor:	$topaz-light !default;
$autocompleteItemHoverBackgroundEndColor:	$topaz-light !default;


// CONTENT MODAL
// ------------------------------------------------------------------------------------------
$contentModalUtilityBarWidth:				51px !default;
$contentModalUtilityBarTabsIconPositionTop:	9px !default;
$contentModalUtilityBarTabsPositionTop:		89px !default;
$contentModalUtilityBarTabsUtilityPositionBottom: 70px !default;
$contentModalUtilityBarTabsCloseIconPositionTop: 15px !default;
$contentModalUtilityBarTabsCloseIconPositionLeft: 9px !default;

$contentModalBackgroundColor:				$white !default;
$contentModalUtilityBarBackgroundStartColor: $blue-gray-darker !default;
$contentModalUtilityBarBackgroundEndColor: 	$blue-gray-darkest !default;
$contentModalUtilityBarTabsBorderColor:		$blue-gray-darkest !default;
$contentModalUtilityBarTabsAltBorderColor:	$blue-gray-light !default;
$contentModalUtilityBarTabsIconColor:		$white !default;
$contentModalUtilityBarTabsHoverBackgroundStartColor: $blue-gray-mid-dark !default;
$contentModalUtilityBarTabsHoverBackgroundEndColor: $blue-gray-dark !default;
$contentModalUtilityBarTabsActiveBackgroundColor: $white !default;
$contentModalUtilityBarTabsActiveIconColor:	$blue-gray-darker !default;


// DIALOG/MODAL
// ------------------------------------------------------------------------------------------
$dialogOverlayBackgroundColorOpacity:		40 !default;
$dialogWidth:								auto !default;
$dialogWidthLargeBreakpoint:				500px !default;
$dialogVShadow:								1px	!default;
$dialogHShadow:								1px	!default;
$dialogShadowBlur:							1px	!default;
$dialogHdrPaddingTop:						15px !default;
$dialogHdrPaddingRight:						60px !default;
$dialogHdrPaddingBottom:					12px !default;
$dialogHdrPaddingLeft:						18px !default;
$dialogHdrBorderBottomSize:					0 !default;
$dialogHdrBorderBottomStyle:				solid !default;
$dialogHdrFontSize:							18px !default;
$dialogHdrFontSizeLargeBreakpoint:			24px !default;
$dialogContentMaxHeightLargeBreakpoint:		430px !default;
$dialogContentPaddingTop:					12px !default;
$dialogContentPaddingLeftRight:				18px !default;
$dialogContentBorderTopSize:				1px !default;
$dialogContentBorderTopStyle:				solid !default;
$loadingModalWidthLargeBreakpoint:			350px !default;

$dialogOverlayBackgroundColor:				$black !default;
$dialogShadowColor:							$gray-darker !default;
$dialogBackgroundColor:						$white !default;
$dialogHdrFontColor:						$gray-darker !default;
$dialogContentBorderTopColor: 				$white !default;
$dialogHdrBorderBottomColor:				$transparent !default;
$dialogCloseIconColor:						$gray-darker !default;


// IMAGE CONTENT OVERLAY
// ------------------------------------------------------------------------------------------
$imageContentOverlayBackgroundColor:		$gray-darker !default;
$imageContentOverlayBorderBottomColor:		$gray-dark !default;
$imageContentOverlayFontColor:				$white !default;


// LOGIN LAYOUT
// ------------------------------------------------------------------------------------------
$layoutLoginBackgroundImageSrcPath:			"../images/login_bkgd.jpg" !default;
$layoutLoginBackgroundColor:				$blue-gray !default;
$layoutLoginContainerTranslucentBackgroundColor: $gray-lighter !default;
$layoutLoginContainerSubHeaderColor:		$blue-gray-darkest !default;
$layoutLoginContainerHeaderColor:			$blue-gray-darkest !default;
$layoutLoginContainerBoxBackgroundColor:	$white !default;
$layoutLoginContainerBoxBorderColor:		$gray-dark !default;
$layoutLoginFooterTranslucentBackgroundColor: $black !default;
$layoutLoginFooterFontColor:				$white !default;
$layoutLoginFooterBorderColor:				$white !default;


// PAGINATION
// ------------------------------------------------------------------------------------------
$paginationFontSizeLargeBreakpoint:			12px !default;
$paginationBorderStyle:						solid !default;
$paginationLinkLineHeight:					.8em !default;
$paginationLinkMinWidth:					31px !default;
$paginationLinkMinWidthLargeBreakpoint:		28px !default;
$paginationLinkMaxHeight:					$paginationLinkMinWidth !default;
$paginationLinkMaxHeightLargeBreakpoint:	$paginationLinkMinWidthLargeBreakpoint !default;

$paginationBorderColor:						$gray-mid !default;
$paginationHoverBackgroundColor:			$topaz-light !default;
$paginationActiveBackgroundColor:			$topaz-light !default;
$paginationActiveFontColor:					$black !default;
$paginationLinkHoverColor:					$black !default;


// PROFILE CONTAINERS
// ------------------------------------------------------------------------------------------
$profileContainerDataListFontSize:			14px !default;
$profileContainerDataListLineHeight:		18px !default;

$profileContainerHdrColor:					$white !default;
$profileContainerSecondaryHdrColor:			$white !default;
$profileContainerDataListLabelFontColor:	$white !default;


// SCROLL PANE
// ------------------------------------------------------------------------------------------
$scrollPaneWidth:							auto !default;
$scrollPaneHeight:							300px !default;

$scrollPaneScrollbarRGBColor:				$black !default;
$scrollPaneScrollbarHexColor:				#666 !default;


// SLIDER
// ------------------------------------------------------------------------------------------
$sliderBarBackgroundStartColor:				$gray-mid !default;
$sliderBarBackgroundEndColor:				$gray-mid !default;
$sliderBarRangeBackgroundColor:				$gray-darker !default;
$sliderHandleBackgroundStartColor:			$blue-gray-darker !default;
$sliderHandleBackgroundEndColor:			$blue-gray-darker !default;
$sliderHandleShadowColor: 					$gray-mid !default;
$sliderHandleBorderColor:					$white !default;
$sliderHandleFocusBackgroundStartColor:		$blue-gray-darker !default;
$sliderHandleFocusBackgroundEndColor:		$blue-gray-darker !default;
$sliderHandleHoverBackgroundStartColor:		$blue-gray-darkest !default;
$sliderHandleHoverBackgroundEndColor:		$blue-gray-darkest !default;
$sliderHandleActiveBackgroundStartColor:	$blue-gray-darkest !default;
$sliderHandleActiveBackgroundEndColor:		$blue-gray-darkest !default;


// SUMMARY CONTAINER
// ------------------------------------------------------------------------------------------



// TABS
// ------------------------------------------------------------------------------------------
$tabsSetMarginBottom:						18px !default;
$tabsNavHeight:								36px !default;
$tabsNavHeightLargeBreakpoint:				28px !default;
$tabsHeight:								34px !default;
$tabsHeightLargeBreakpoint:					26px !default;
$tabsPositonTop:							2px !default;
$tabsMarginRight:							2px !default;
$tabsMarginBottom:							1px !default;
$tabsPaddingTopBottom:						3px !default;
$tabsPaddingLeftRight:						10px !default;
$tabsBorderSize:							1px !default;
$tabsBorderStyle:							solid !default;
$tabsFontSize:								14px !default;
$tabsLineHeight:							26px !default;
$tabsLineHeightLargeBreakpoint:				22px !default;
$tabsFontWeight:							normal !default;
$tabsActivePositonTop:						2px !default;
$tabsActiveHeight:							35px !default;
$tabsActiveHeightLargeBreakpoint:			27px !default;
$tabsActivePaddingBottom:					1px !default;
$tabsPanelPadding:							$evo-base-padding !default;
$tabsPanelBorderSize:						1px !default;
$tabsPanelBorderStyle:						solid !default;

$tabsBackgroundStartColor:					$gray-mid !default;
$tabsBackgroundEndColor:					$gray-lighter !default;
$tabsBorderColor:							$gray-mid !default;
$tabsFontColor:								$sapphire-dark !default;
$tabsPagingNavBackgroundStartColor:			$white !default;
$tabsPagingNavBackgroundEndColor:			$white !default;
$tabsPagingNavLinkColor:					$gray-darker !default;
$tabsPagingNavHoverColor:					$blue-gray-dark !default;
$tabsSelectedTabFontColor:					$gray-lighter !default;
$tabsHoverBackgroundStartColor:				$gray-mid !default;
$tabsHoverBackgroundEndColor:				$gray-lighter !default;
$tabsActiveFontColor:						$gray-darker !default;
$tabsActiveBackgroundStartColor:			$white !default;
$tabsActiveBackgroundEndColor:				$white !default;
$tabsPanelBorderColor:						$gray-mid !default;
$tabsPanelBackgroundColor: 					$white !default;



// TOOLTIP
// ------------------------------------------------------------------------------------------
$tooltipVShadow:							1px	!default;
$tooltipHShadow:							1px	!default;
$tooltipShadowBlur:							5px	!default;
$tooltipBorderSize:							1px !default;
$tooltipBorderStyle:						solid !default;
$tooltipPaddingTopBottom:					5px !default;
$tooltipPaddingLeftRight:					8px !default;

$tooltipShadowColor:						$gray-mid !default;
$tooltipBorderColor:						$gray-mid !default;
$tooltipBackgroundColor:					$gray-light !default;
$tooltipFontColor:							$gray-darker !default;