<footer class="evo-footer">

	<div class="row collapse evo-footer-border-top">
		<div class="small-12 medium-12 large-4 columns">
			<img src="{{ "mercer_logo_126x18.png" | asset_url }}" alt="Mercer" width="126" height="18" />
		</div>
		<div class="small-12 medium-12 large-8 columns">

			<ul class="evo-inline-list evo-inline-list-pipes right">
				<li><a href="/change-log">{{ global.version_number }}</a></li>
				<li><a href="http://foundation.zurb.com/docs/" target="_blank">Foundation {{ global.foundation_version }}</a></li>
				<li>&copy; {{ 'now' | date: "%Y" }} Mercer LLC, All Rights Reserved</li>
			</ul>

		</div>
	</div>

</footer>