{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}

<!-- INTRO SECTION - BEGINS -->
	<section class="col-24">
		<h1>{{ model.title }}</h1>
		<p class="mul-intro-text">The Static Data Table is an element meant to organize data on a page so it’s easy for the user to view and comprehend on a page or application.</p>
	</section>
<!-- INTRO SECTION - ENDS -->

<section class="col-24">

	<h3 class="mul-hdr-dbl-rule">
		Example
		<a href="javascript:;" class="mul-icon-size-small mul-icon-mul-arrow-circle-down mul-icon-color-gray-darker mul-icon-position-right mul-float-right related-items-menu"></a>
	</h3>

	<div class="col-24 example-min-height">
		{% include '/base/tables/table-static' %}
	</div>

<!-- DETAILS SECTION - BEGINS -->
	<a name="moreDetails"></a>
	<h4 class="mul-hdr-dbl-rule additional-detail-hdr">Additional Details</h4>

	<div class="col-24">
		<div class="js-mul-tabs-example mul-tabs">
			{% include "page-tabs" %}
			<div id="tabs-1">
				<p>
					Use the Static Data Table when you want to organize data that the user doesn’t need to interact with. If the user needs to interact with the data (search, filter, take clickable actions, etc) use the <a href="/base/tables/interactive">Interactive Data Table</a>. 
				</p>
			</div>
			<div id="tabs-2">
				<ul>
					<li>The Static Data Table works within the <a href="/base/grids">Mercer Grid System</a>, which means the sizing is flexible and fluid to adapt to designer’s choices, user devices, and varying screen sizes.</li>
					<li>Don’t use the Static Data Table in a <a href="/base/boxes/container-sidebar">Sidebar Container</a> or <a href="/base/layout-sidebar">Sidebar Layout</a>, unless you only need to display a small amount of data.</li>
				</ul>

				<strong>Color</strong>
				<ul>
					<li>Coloring for each row in the Static Data Table will adhere to the <a href="/base/colors">Mercer Color Palette</a> for all Data Tables.</li>
				</ul>
				
				<strong>Width</strong>
				<ul>
					<li>Designer can set column width using a helper class. Since the Static Data Table functions within the Mercer Grid System, it will automatically adapt and configure itself.</li>
				</ul>

				<strong>Row Details</strong>
				<ul>
					<li>Padding for Static Data Table rows are set to 5 pixels on the top and bottom and 10 pixels to the left and right.</li>
					<li>Line height of Static Data Table rows are 13 pixels to keep text consistent with Mercer branding.</li>
					<li>Some rows can be assigned a Right Align Helper Class to alter rows that might not have the same amount of content fields as other rows, such as the Subtotal and Total rows.</li>
					<li>Text will wrap in basic rows to adapt to longer content, but the label rows will stay in the same position, which is vertically aligned to the top of the row.</li>
				</ul>
			</div>
			<div id="tabs-3">
				<p>Technical details go here&hellip;</p>
			</div>
			<div id="tabs-4">
				<p>
					When static and interactive data tables are viewed on mobile/tablet devices, the table will remain unchanged and displayed as seen on the desktop. When the user touches the screen (or swipes to the left) a scroll bar will appear which allows them to view the entire data table. They are then able to swipe right and left to view the contents. The Quick Filter appears at the top of the table and enables users to quickly find and select from a pre-populated list of values as they type.
				</p>
			</div>
			<div id="tabs-5">
			<!-- GET CODE - BEGINS -->
				<section class="col-24">

					<h5 class="mul-hdr-rule">HTML</h5>
					<p>Below is the interactive table you get with the following effects by default:</p>
					<ul>
						<li>Striped rows and Bordered table</li>
					</ul>

					<pre class="prettyprint linenums"><xmp>{% include '/base/tables/table-static' %}</xmp></pre>

				</section>
			<!-- GET CODE - ENDS -->
			</div>
		</div>
	</div>
<!-- DETAILS SECTION - ENDS -->

</section>
{% endblock %}