<!-- CHART COLOR PALETTE - BEGINS -->
	<h5 class="evo-spacer-margin-top-medium">Core Set</h5>
	<p>This core set of colors should be used as the primary color wheel for charts.</p>
	<p>The full range of colors should only be used when you need to extend the color palette beyond these core 10 colors.</p>

	<div class="row">
		<div class="medium-3 columns">
			<h6 class="text-center">1 Through 5</h6>
			<div class="color-block" data-evo-background-color="sapphire-medium">
				<div class="left">sapphire-medium</div>
				<div class="right">#006D9E</div>
			</div>
			<div class="color-block" data-evo-background-color="sapphire-dark">
				<div class="left">sapphire-dark</div>
				<div class="right">#002C77</div>
			</div>
			<div class="color-block" data-evo-background-color="turquoise-bright">
				<div class="left">turquoise-bright</div>
				<div class="right">#0FB694</div>
			</div>
			<div class="color-block" data-evo-background-color="turquoise-medium">
				<div class="left">turquoise-medium</div>
				<div class="right">#008075</div>
			</div>
			<div class="color-block" data-evo-background-color="iolite-dark">
				<div class="left">iolite-dark</div>
				<div class="right">#43286D</div>
			</div>
		</div>
		<div class="medium-3 columns">
			<h6 class="text-center">6 Through 10</h6>
			<div class="color-block" data-evo-background-color="iolite-medium">
				<div class="left">iolite-medium</div>
				<div class="right">#595998</div>
			</div>
			<div class="color-block color-block-light-colors" data-evo-background-color="onyx-dark-14">
				<div class="left">onyx-dark-14</div>
				<div class="right">#DBDBDB</div>
			</div>
			<div class="color-block color-block-light-colors" data-evo-background-color="onyx-light">
				<div class="left">onyx-light</div>
				<div class="right">#BFBFBF</div>
			</div>
			<div class="color-block" data-evo-background-color="onyx-bright">
				<div class="left">onyx-bright</div>
				<div class="right">#808080</div>
			</div>
			<div class="color-block" data-evo-background-color="topaz-bright">
				<div class="left">topaz-bright</div>
				<div class="right">#FBAE17</div>
			</div>
		</div>
		<div class="medium-3 columns"></div>
		<div class="medium-3 columns"></div>
	</div>

	<h5 class="evo-spacer-margin-top-xx-large">Mercer Specific Color</h5>
	<p>This color in the blue Sapphire family should only be used to communicate Mercer-specific insight or recommendations.</p>

	<div class="row">
		<div class="medium-3 columns">
			<div class="color-block" data-evo-background-color="sapphire-bright">
				<div class="left">sapphire-bright</div>
				<div class="right">#00A8C8</div>
			</div>
		</div>
		<div class="medium-3 columns"></div>
		<div class="medium-3 columns"></div>
		<div class="medium-3 columns"></div>
	</div>

	<h5 class="evo-spacer-margin-top-xx-large">Specific Use Colors</h5>
	<p>This family of colors should be reserved specifically to communicate Positive, Negative and Attention/Caution.</p>

	<div class="row">
		<div class="medium-3 columns">
			<h6 class="text-center">Attention</h6>
			<div class="color-block color-block-light-colors" data-evo-background-color="topaz-light">
				<div class="left">topaz-light</div>
				<div class="right">#FFDDAC</div>
			</div>
			<div class="color-block" data-evo-background-color="topaz-bright">
				<div class="left">topaz-bright</div>
				<div class="right">#FBAE17</div>
			</div>
			<div class="color-block" data-evo-background-color="citrine-bright">
				<div class="left">citrine-bright</div>
				<div class="right">#F48132</div>
			</div>
		</div>
		<div class="medium-3 columns">
			<h6 class="text-center">Negative</h6>
			<div class="color-block" data-evo-background-color="garnet-medium">
				<div class="left">garnet-medium</div>
				<div class="right">#BB2C2B</div>
			</div>
			<div class="color-block" data-evo-background-color="garnet-dark">
				<div class="left">garnet-dark</div>
				<div class="right">#820009</div>
			</div>
		</div>
		<div class="medium-3 columns">
			<h6 class="text-center">Positive</h6>
			<div class="color-block color-block-light-colors" data-evo-background-color="peridot-light">
				<div class="left">peridot-light</div>
				<div class="right">#D9D99F</div>
			</div>
			<div class="color-block color-block-light-colors" data-evo-background-color="emerald-light">
				<div class="left">emerald-light</div>
				<div class="right">#BDDDA3</div>
			</div>
			<div class="color-block" data-evo-background-color="emerald-bright">
				<div class="left">emerald-bright</div>
				<div class="right">#72BE44</div>
			</div>
			<div class="color-block" data-evo-background-color="emerald-medium">
				<div class="left">emerald-medium</div>
				<div class="right">#128C3F</div>
			</div>
			<div class="color-block" data-evo-background-color="emerald-dark">
				<div class="left">emerald-dark</div>
				<div class="right">#00582D</div>
			</div>
		</div>
		<div class="medium-3 columns"></div>
	</div>

	<h5 class="evo-spacer-margin-top-xx-large">Full Range of Chart Colors</h5>
	<p>The colors presented here represent the full range of colors that are available to be used for all graphs and charts. The colors are listed in descending order based on recommended priority.</p>
	<p>You should use these colors when you want to represent data with a variety of colors.</p>

	<div class="row">
		<div class="medium-3 columns">
			<h6 class="text-center">1 Through 5</h6>
			<div class="color-block" data-evo-background-color="sapphire-medium">
				<div class="left">sapphire-medium</div>
				<div class="right">#006D9E</div>
			</div>
			<div class="color-block" data-evo-background-color="sapphire-dark">
				<div class="left">sapphire-dark</div>
				<div class="right">#002C77</div>
			</div>
			<div class="color-block" data-evo-background-color="turquoise-bright">
				<div class="left">turquoise-bright</div>
				<div class="right">#0FB694</div>
			</div>
			<div class="color-block" data-evo-background-color="turquoise-medium">
				<div class="left">turquoise-medium</div>
				<div class="right">#008075</div>
			</div>
			<div class="color-block" data-evo-background-color="iolite-dark">
				<div class="left">iolite-dark</div>
				<div class="right">#43286D</div>
			</div>
		</div>
		<div class="medium-3 columns">
			<h6 class="text-center">6 Through 10</h6>
			<div class="color-block" data-evo-background-color="iolite-medium">
				<div class="left">iolite-medium</div>
				<div class="right">#595998</div>
			</div>
			<div class="color-block color-block-light-colors" data-evo-background-color="onyx-dark-14">
				<div class="left">onyx-dark-14</div>
				<div class="right">#DBDBDB</div>
			</div>
			<div class="color-block color-block-light-colors" data-evo-background-color="onyx-light">
				<div class="left">onyx-light</div>
				<div class="right">#BFBFBF</div>
			</div>
			<div class="color-block" data-evo-background-color="onyx-bright">
				<div class="left">onyx-bright</div>
				<div class="right">#808080</div>
			</div>
			<div class="color-block" data-evo-background-color="topaz-bright">
				<div class="left">topaz-bright</div>
				<div class="right">#FBAE17</div>
			</div>
		</div>
		<div class="medium-3 columns">
			<h6 class="text-center">11 Through 15</h6>
			<div class="color-block" data-evo-background-color="citrine-bright">
				<div class="left">citrine-bright</div>
				<div class="right">#F48132</div>
			</div>
			<div class="color-block" data-evo-background-color="iolite-medium">
				<div class="left">iolite-medium</div>
				<div class="right">#595998</div>
			</div>
			<div class="color-block" data-evo-background-color="amethyst-medium">
				<div class="left">amethyst-medium</div>
				<div class="right">#932077</div>
			</div>
			<div class="color-block" data-evo-background-color="onyx-medium">
				<div class="left">onyx-medium</div>
				<div class="right">#404040</div>
			</div>
			<div class="color-block color-block-light-colors" data-evo-background-color="emerald-light">
				<div class="left">emerald-light</div>
				<div class="right">#BDDDA3</div>
			</div>
		</div>
		<div class="medium-3 columns">
			<h6 class="text-center">16 Through 20</h6>
			<div class="color-block color-block-light-colors" data-evo-background-color="turquoise-light">
				<div class="left">turquoise-light</div>
				<div class="right">#A7D9C8</div>
			</div>
			<div class="color-block color-block-light-colors" data-evo-background-color="amethyst-light">
				<div class="left">amethyst-light</div>
				<div class="right">#E7B8D6</div>
			</div>
			<div class="color-block color-block-light-colors" data-evo-background-color="iolite-light">
				<div class="left">iolite-light</div>
				<div class="right">#C5CAE7</div>
			</div>
			<div class="color-block color-block-light-colors" data-evo-background-color="onyx-dark-14">
				<div class="left">onyx-dark-14</div>
				<div class="right">#DBDBDB</div>
			</div>
			<div class="color-block color-block-light-colors" data-evo-background-color="sapphire-light">
				<div class="left">sapphire-light</div>
				<div class="right">#A6E2EF</div>
			</div>
		</div>
	</div>

	<h5 class="evo-spacer-margin-top-xx-large">Monochromatic Families</h5>
	<p>These families of colors are intended to be used when you want to present data in a monochromatic fashion.</p>
	<p>One way to use one of these families is when you want to convey related data in a visual manner. For example, maybe you want to create a graph that shows three levels of insurance coverage for a user.</p>

	<div class="row">
		<div class="medium-3 columns">
			<div class="color-block" data-evo-background-color="citrine-bright">
				<div class="left">citrine-bright</div>
				<div class="right">#F48132</div>
			</div>
			<div class="color-block" data-evo-background-color="citrine-medium">
				<div class="left">citrine-medium</div>
				<div class="right">#C55F24</div>
			</div>
			<div class="color-block" data-evo-background-color="citrine-dark">
				<div class="left">citrine-dark</div>
				<div class="right">#8D380A</div>
			</div>
			<div class="color-block" data-evo-background-color="garnet-dark">
				<div class="left">garnet-dark</div>
				<div class="right">#820009</div>
			</div>
			<div class="color-block" data-evo-background-color="garnet-medium">
				<div class="left">garnet-medium</div>
				<div class="right">#BB2C2B</div>
			</div>
			<div class="color-block" data-evo-background-color="garnet-bright">
				<div class="left">garnet-bright</div>
				<div class="right">#EF4E45</div>
			</div>
			<div class="color-block color-block-light-colors" data-evo-background-color="garnet-light">
				<div class="left">garnet-light</div>
				<div class="right">#F9BEAD</div>
			</div>
			<div class="color-block color-block-light-colors" data-evo-background-color="citrine-light">
				<div class="left">citrine-light</div>
				<div class="right">#FCCFAB</div>
			</div>
		</div>
		<div class="medium-3 columns">
			<div class="color-block" data-evo-background-color="emerald-bright">
				<div class="left">emerald-bright</div>
				<div class="right">#72BE44</div>
			</div>
			<div class="color-block" data-evo-background-color="emerald-medium">
				<div class="left">emerald-medium</div>
				<div class="right">#128C3F</div>
			</div>
			<div class="color-block" data-evo-background-color="emerald-dark">
				<div class="left">emerald-dark</div>
				<div class="right">#00582D</div>
			</div>
			<div class="color-block" data-evo-background-color="turquoise-dark">
				<div class="left">turquoise-dark</div>
				<div class="right">#004C50</div>
			</div>
			<div class="color-block" data-evo-background-color="turquoise-medium">
				<div class="left">turquoise-medium</div>
				<div class="right">#008075</div>
			</div>
			<div class="color-block" data-evo-background-color="turquoise-bright">
				<div class="left">turquoise-bright</div>
				<div class="right">#0FB694</div>
			</div>
			<div class="color-block color-block-light-colors" data-evo-background-color="turquoise-light">
				<div class="left">turquoise-light</div>
				<div class="right">#A7D9C8</div>
			</div>
			<div class="color-block color-block-light-colors" data-evo-background-color="emerald-light">
				<div class="left">emerald-light</div>
				<div class="right">#BDDDA3</div>
			</div>
		</div>
		<div class="medium-3 columns">
			<div class="color-block" data-evo-background-color="sapphire-bright">
				<div class="left">sapphire-bright</div>
				<div class="right">#00A8C8</div>
			</div>
			<div class="color-block" data-evo-background-color="sapphire-medium">
				<div class="left">sapphire-medium</div>
				<div class="right">#006D9E</div>
			</div>
			<div class="color-block" data-evo-background-color="sapphire-dark">
				<div class="left">sapphire-dark</div>
				<div class="right">#002C77</div>
			</div>
			<div class="color-block" data-evo-background-color="iolite-dark">
				<div class="left">iolite-dark</div>
				<div class="right">#43286D</div>
			</div>
			<div class="color-block" data-evo-background-color="iolite-medium">
				<div class="left">iolite-medium</div>
				<div class="right">#595998</div>
			</div>
			<div class="color-block" data-evo-background-color="iolite-bright">
				<div class="left">iolite-bright</div>
				<div class="right">#6F85C2</div>
			</div>
			<div class="color-block color-block-light-colors" data-evo-background-color="iolite-light">
				<div class="left">iolite-light</div>
				<div class="right">#C5CAE7</div>
			</div>
			<div class="color-block color-block-light-colors" data-evo-background-color="sapphire-light">
				<div class="left">sapphire-light</div>
				<div class="right">#A6E2EF</div>
			</div>
		</div>
		<div class="medium-3 columns">
			<div class="color-block" data-evo-background-color="ruby-bright">
				<div class="left">ruby-bright</div>
				<div class="right">#ED2C67</div>
			</div>
			<div class="color-block" data-evo-background-color="ruby-medium">
				<div class="left">ruby-medium</div>
				<div class="right">#A9194F</div>
			</div>
			<div class="color-block" data-evo-background-color="ruby-dark">
				<div class="left">ruby-dark</div>
				<div class="right">#690031</div>
			</div>
			<div class="color-block" data-evo-background-color="amethyst-dark">
				<div class="left">amethyst-dark</div>
				<div class="right">#570054</div>
			</div>
			<div class="color-block" data-evo-background-color="amethyst-medium">
				<div class="left">amethyst-medium</div>
				<div class="right">#932077</div>
			</div>
			<div class="color-block" data-evo-background-color="amethyst-bright">
				<div class="left">amethyst-bright</div>
				<div class="right">#CF3D96</div>
			</div>
			<div class="color-block color-block-light-colors" data-evo-background-color="amethyst-light">
				<div class="left">amethyst-light</div>
				<div class="right">#E7B8D6</div>
			</div>
			<div class="color-block color-block-light-colors" data-evo-background-color="ruby-light">
				<div class="left">ruby-light</div>
				<div class="right">#F7B6BB</div>
			</div>
		</div>
	</div>
<!-- CHART COLOR PALETTE - ENDS -->