<!-- PRIMARY COLOR PALETTE - BEGINS -->
	<p>These are the primary colors that should be used with all {% if mixture.url == "bp/visual/index" %}Benefits Portals{% elseif mixture.url == "comm/visual/index" %}Communication Sites{% else %}Evolution based sites{% endif %}. They serve as core elements of the design.</p>
	<p>The Base &amp; Gray colors should be used for the common black, white and gray color schemes.</p>
	<p>The Sapphire family comprises the core branding colors for all {% if mixture.url == "bp/visual/index" %}Benefits Portals{% elseif mixture.url == "comm/visual/index" %}Communication Sites{% else %}Evolution based sites{% endif %}.</p> 
	<p>The System colors are core colors that represent the Positive, Negative, and Attention colors used in messaging to the user.</p>
	<p>Each {% if mixture.url == "bp/visual/index" %}Benefits Portal{% elseif mixture.url == "comm/visual/index" %}Communication Site{% else %}Evolution based site{% endif %} can be augmented with any of the colors from the overall color palette.</p>

	<div class="row">
		<div class="medium-3 columns">
			<h6 class="text-center">Base</h6>
			<div class="color-block" data-evo-background-color="black">
				<div class="left">black</div>
				<div class="right">#000000</div>
			</div>
			<div class="color-block color-block-light-colors" data-evo-background-color="white">
				<div class="left">white</div>
				<div class="right">#FFFFFF</div>
			</div>

			<h6 class="text-center evo-spacer-margin-top-large">Onyx</h6>
			<div class="color-block" data-evo-background-color="onyx-dark">
				<div class="left">onyx-dark</div>
				<div class="right">#000000</div>
			</div>
			<div class="color-block" data-evo-background-color="onyx-medium">
				<div class="left">onyx-medium</div>
				<div class="right">#404040</div>
			</div>
			<div class="color-block" data-evo-background-color="onyx-bright">
				<div class="left">onyx-bright</div>
				<div class="right">#808080</div>
			</div>
			<div class="color-block color-block-light-colors" data-evo-background-color="onyx-light">
				<div class="left">onyx-light</div>
				<div class="right">#BFBFBF</div>
			</div>
			<div class="color-block color-block-light-colors" data-evo-background-color="onyx-dark-14">
				<div class="left">onyx-dark-14</div>
				<div class="right">#DBDBDB</div>
			</div>
			<div class="color-block color-block-light-colors" data-evo-background-color="onyx-dark-6">
				<div class="left">onyx-dark-6</div>
				<div class="right">#F0F0F0</div>
			</div>
		</div>
		<div class="medium-3 columns">
			<h6 class="text-center">Sapphire</h6>
			<div class="color-block" data-evo-background-color="sapphire-dark">
				<div class="left">sapphire-dark</div>
				<div class="right">#002C77</div>
			</div>
			<div class="color-block" data-evo-background-color="sapphire-medium">
				<div class="left">sapphire-medium</div>
				<div class="right">#006D9E</div>
			</div>
			<div class="color-block" data-evo-background-color="sapphire-bright">
				<div class="left">sapphire-bright</div>
				<div class="right">#00A8C8</div>
			</div>
			<div class="color-block color-block-light-colors" data-evo-background-color="sapphire-light">
				<div class="left">sapphire-light</div>
				<div class="right">#A6E2EF</div>
			</div>
		</div>
		<div class="medium-3 columns">
			<h6 class="text-center">System</h6>
			<div class="color-block" data-evo-background-color="success-color">
				<div class="left">success-color</div>
				<div class="right">#72BE44</div>
			</div>
			<div class="color-block color-block-light-colors" data-evo-background-color="warning-color">
				<div class="left">warning-color</div>
				<div class="right">#FCC770</div>
			</div>
			<div class="color-block" data-evo-background-color="alert-color">
				<div class="left">alert-color</div>
				<div class="right">#EF4E45</div>
			</div>
			<div class="color-block color-block-light-colors" data-evo-background-color="info-color">
				<div class="left">info-color</div>
				<div class="right">#A6E2EF</div>
			</div>
			<div class="color-block color-block-light-colors" data-evo-background-color="highlight-color">
				<div class="left">highlight-color</div>
				<div class="right">#F7F0B2</div>
			</div>
		</div>
		<div class="medium-3 columns"></div>
	</div>
<!-- PRIMARY COLOR PALETTE - ENDS -->