<!-- ACCORDION - BEGINS -->
<ul class="accordion evo-accordion js-evo-accordion-icons-example" data-accordion>
	<li class="accordion-navigation evo-accordian-navigation">
		<a href="#panel1a">
			<i class="evo-icon-minus-circle evo-icon-color-gray-dark"></i>
			Accordion 1
		</a>
		<div id="panel1a" class="content active evo-content">
			{{ 1 | lorem_ipsum:'p' }}
		</div>
	</li>
	<li class="accordion-navigation evo-accordian-navigation">
		<a href="#panel2a">
			<i class="evo-icon-plus-circle evo-icon-color-gray-dark"></i>
			Accordion 2
		</a>
		<div id="panel2a" class="content evo-content">
			{{ 1 | lorem_ipsum:'p' }}
		</div>
	</li>
	<li class="accordion-navigation evo-accordian-navigation">
		<a href="#panel3a">
			<i class="evo-icon-plus-circle evo-icon-color-gray-dark"></i>
			Accordion 3
		</a>
		<div id="panel3a" class="content evo-content">
			{{ 1 | lorem_ipsum:'p' }}
		</div>
	</li>
</ul>
<!-- ACCORDION - ENDS -->