<!-- ACCORDION - BEGINS -->
<div class="mul-accordion" data-accordion="js-mul-accordion-icons-example">
	<h4>First header</h4>
	<div>{{ 1 | lorem_ipsum:'p' }}</div>
	<h4>Second header</h4>
	<div>{{ 2 | lorem_ipsum:'p' }}</div>
	<h4>Third header</h4>
	<div>{{ 3 | lorem_ipsum:'p' }}</div>
	<h4>Fourth header</h4>
	<div>{{ 4 | lorem_ipsum:'p' }}</div>
	<h4>Fifth header with very very very very VERY VERY long text</h4>
	<div>{{ 5 | lorem_ipsum:'p' }}</div>
</div>
<!-- ACCORDION - ENDS -->