<!-- ACCORDION - BEGINS -->
<div class="evo-accordion" data-accordion="js-evo-accordion-example">
	<h5>First header</h5>
	<div>{{ 1 | lorem_ipsum:'p' }}</div>
	<h5>Second header</h5>
	<div>{{ 2 | lorem_ipsum:'p' }}</div>
	<h5>Third header</h5>
	<div>{{ 3 | lorem_ipsum:'p' }}</div>
	<h5>Fourth header</h5>
	<div>{{ 4 | lorem_ipsum:'p' }}</div>
	<h5>Fifth header with very very very very long text</h5>
	<div>{{ 5 | lorem_ipsum:'p' }}</div>
</div>
<!-- ACCORDION - ENDS -->