<!-- ACCORDION - BEGINS -->
<ul class="accordion evo-accordion js-evo-accordion-icons-example" data-accordion>
	<li class="accordion-navigation evo-accordian-navigation">
		<a href="#panel4a">
			<i class="evo-icon-minus-circle evo-icon-color-gray-dark"></i>
			Accordion 1
		</a>
		<div id="panel4a" class="content active evo-content">
			<p class="evo-no-margin-bottom">
			Lorem ipsum vestibulum adipiscing purus torquent lorem iaculis id duis vivamus. Mattis cras lacus mollis fermentum vitae venenatis vestibulum mollis morbi. Sociosqu nostra eget volutpat. Ligula tellus vestibulum class et eu nullam non id molestie massa arcu. Accumsan in curae; consectetuer lacus dignissim gravida tempor. At facilisis semper consequat nunc arcu morbi.
			</p>
		</div>
	</li>
	<li class="accordion-navigation evo-accordian-navigation">
		<a href="#panel5a">
			<i class="evo-icon-plus-circle evo-icon-color-gray-dark"></i>
			Accordion 2
		</a>
		<div id="panel5a" class="content evo-content">
			<p class="evo-no-margin-bottom">
			Lorem ipsum vestibulum adipiscing purus torquent lorem iaculis id duis vivamus. Mattis cras lacus mollis fermentum vitae venenatis vestibulum mollis morbi. Sociosqu nostra eget volutpat. Ligula tellus vestibulum class et eu nullam non id molestie massa arcu. Accumsan in curae; consectetuer lacus dignissim gravida tempor. At facilisis semper consequat nunc arcu morbi.
			</p>
		</div>
	</li>
	<li class="accordion-navigation evo-accordian-navigation">
		<a href="#panel6a">
			<i class="evo-icon-plus-circle evo-icon-color-gray-dark"></i>
			Accordion 3
		</a>
		<div id="panel6a" class="content evo-content">
			<p class="evo-no-margin-bottom">
			Lorem ipsum vestibulum adipiscing purus torquent lorem iaculis id duis vivamus. Mattis cras lacus mollis fermentum vitae venenatis vestibulum mollis morbi. Sociosqu nostra eget volutpat. Ligula tellus vestibulum class et eu nullam non id molestie massa arcu. Accumsan in curae; consectetuer lacus dignissim gravida tempor. At facilisis semper consequat nunc arcu morbi.
			</p>
		</div>
	</li>
</ul>
<!-- ACCORDION - ENDS -->