<!-- CAROUSEL - BEGINS -->
	<div class="evo-add-remove-plan-component">
		<div class="evo-category-hdr-ctn">
			<a href="javascript:;" class="js-evo-add-remove-plan-component-disable" data-evo-add-remove-plan-component-item-toggle="1">
				<i class="evo-icon-cancel-circle2"></i>
			</a>
			<h6 class="evo-category-label">Skill Goals</h6>
		</div>

		<div class="evo-add-remove-plan-component-overlay" id="evo-add-remove-plan-component-item-1">
			<a href="javascript:;" class="js-evo-add-remove-plan-component-enable" data-evo-font-color="ruby-mid">Add A Plan</a>
		</div>

		<div class="evo-carousel" data-carousel="js-evo-add-remove-plan-component-carousel">
			<div class="evo-carousel-item">
				{% include 'ep/objects/highlight-ctn-label' %}
			</div>
			<div class="evo-carousel-item">
				{% include 'ep/objects/highlight-ctn' %}
			</div>
			<div class="evo-carousel-item">
				{% include 'ep/objects/highlight-ctn' %}
			</div>
		</div>
	</div>
<!-- CAROUSEL - ENDS -->