<!-- ALTERNATE VIEWS BADGE - TEXT ONLY - BEGINS -->
<div class="mul-alternate-views-badge mul-alternate-views-badge-text-only" data-alternate-views-badge="js-mul-alternate-views-badge-text-only-example">
	
	<!-- NO WHITE SPACE BETWEEN CODE BELOW REQUIRED BECAUSE USING DISPLAY: INLINE-BLOCK ON BUTTONS -->
	<ul class="mul-btn-group-horizontal"><li class="mul-btn"><a href="#alternate-views-badge-text-only-1"><span>Grid View</span></a></li><li class="mul-btn"><a href="#alternate-views-badge-text-only-2"><span>Tree View</span></a></li><li class="mul-btn"><a href="#alternate-views-badge-text-only-3"><span>List View</span></a></li><li class="mul-btn"><a href="#alternate-views-badge-text-only-4"><span>Really Really Long</span></a></li><li class="mul-btn"><a href="#alternate-views-badge-text-only-5"><span>Short</span></a></li></ul>
	
	<div id="alternate-views-badge-text-only-1">{{ 1 | lorem_ipsum:'p' }}</div>
	<div id="alternate-views-badge-text-only-2">{{ 1 | lorem_ipsum:'p' }}</div>
	<div id="alternate-views-badge-text-only-3">{{ 2 | lorem_ipsum:'p' }}</div>
	<div id="alternate-views-badge-text-only-4">{{ 1 | lorem_ipsum:'p' }}</div>
	<div id="alternate-views-badge-text-only-5">{{ 1 | lorem_ipsum:'p' }}</div>
</div>
<!-- ALTERNATE VIEWS BADGE - TEXT ONLY - ENDS -->