<!-- ALTERNATE VIEWS BADGE - ICON ONLY - BEGINS -->
<div class="mul-alternate-views-badge" data-alternate-views-badge="js-mul-alternate-views-badge-icon-only-example">
	
	<!-- NO WHITE SPACE BETWEEN CODE BELOW REQUIRED BECAUSE USING DISPLAY: INLINE-BLOCK ON BUTTONS -->
	<ul class="mul-btn-group-horizontal"><li class="mul-btn"><a href="#alternate-views-badge-icon-only-1"><i class="mul-icon-grid mul-icon-position-left" title="Grid View"></i></a></li><li class="mul-btn"><a href="#alternate-views-badge-icon-only-2"><i class="mul-icon-tree3 mul-icon-position-left" title="Tree View"></i></a></li><li class="mul-btn"><a href="#alternate-views-badge-icon-only-1"><i class="mul-icon-menu3 mul-icon-position-left" title="List View"></i></a></li></ul>
	
	<div id="alternate-views-badge-icon-only-1">{{ 1 | lorem_ipsum:'p' }}</div>
	<div id="alternate-views-badge-icon-only-2">{{ 1 | lorem_ipsum:'p' }}</div>
	<div id="alternate-views-badge-icon-only-3">{{ 2 | lorem_ipsum:'p' }}</div>
</div>
<!-- ALTERNATE VIEWS BADGE - ICON ONLY - ENDS -->