<!-- EXAMPLE GROUP TABS - BEGINS -->
	<ul class="tabs evo-tabs evo-tabs-grouped" data-tab>
		<li class="tab-title active">
			<a href="#grouptabset1">
				<i class="evo-icon-grid evo-icon-position-left" title="Grid View"></i><span class="evo-text">Grid View</span>
			</a>
		</li>
		<li class="tab-title">
			<a href="#grouptabset2">
				<i class="evo-icon-stats evo-icon-position-left" title="Savings View"></i><span class="evo-text">Savings View</span>
			</a>
		</li>
		<li class="tab-title">
			<a href="#grouptabset3">
				<i class="evo-icon-chart evo-icon-position-left" title="Dashboard View"></i><span class="evo-text">Dashboard View</span>
			</a>
		</li>
	</ul>
	<div class="tabs-content evo-tabs-content evo-tabs-grouped-content">

		<div class="content active" id="grouptabset1">
			{% include '/base/tables/table-static' %}
		</div>

		<div class="content" id="grouptabset2">

			<section class="row">
				<div class="small-12 columns">
				<!-- FEATURE CONTAINER - BEGINS -->
					<div class="evo-box evo-feature-ctn">
						<div class="evo-box-hdr">
							<h3 class="evo-hdr-rule">Cost Savings</h3>
						</div>
						<div class="box-bdy">
							{% include '/objects/slider-horizontal' %}
						</div>
					</div>
				<!-- FEATURE CONTAINER - ENDS -->
				</div>
			</section>

			<section class="row">
				<div class="small-12 columns">
				<!-- FEATURE CONTAINER - BEGINS -->
					<div class="evo-box evo-feature-ctn">
						<div class="evo-box-hdr">
							<h3 class="evo-hdr-rule">Cost Avoidance</h3>
						</div>
						<div class="box-bdy">
							{% include '/objects/slider-horizontal' %}
						</div>
					</div>
				<!-- FEATURE CONTAINER - ENDS -->		
				</div>
			</section>

			<section class="row">
				<div class="small-12 columns">
				<!-- FEATURE CONTAINER - BEGINS -->
					<div class="evo-box evo-feature-ctn">
						<div class="evo-box-hdr">
							<h3 class="evo-hdr-rule">Unrealized Savings</h3>
						</div>
						<div class="box-bdy">
							{% include '/objects/slider-horizontal' %}
						</div>
					</div>
				<!-- FEATURE CONTAINER - ENDS -->		
				</div>
			</section>

		</div>

		<div class="content" id="grouptabset3">

			<section class="row">
				<div class="small-12 columns">
				<!-- FEATURE CONTAINER - BEGINS -->
					<div class="evo-box evo-feature-ctn">
						<div class="evo-box-hdr">
							<h3 class="evo-hdr-rule">Policy Snapshot</h3>
						</div>
						<div class="box-bdy">
							{% include '/objects/primary-summary-ctn' %}
						</div>
					</div>
				<!-- FEATURE CONTAINER - ENDS -->
				</div>
			</section>

			<section class="row">
				<div class="small-12 columns">
				<!-- FEATURE CONTAINER - BEGINS -->
					<div class="col-16 first evo-box evo-feature-ctn evo-alternate-views-badge-feature-ctn">
						<div class="evo-box-hdr">
							<h3 class="evo-hdr-rule">Policy Data</h3>
						</div>
						<div class="box-bdy">
							{% include '/base/tables/table-static' %}
						</div>
					</div>
				<!-- FEATURE CONTAINER - ENDS -->
				</div>
			</section>
			
		</div>
	</div>
<!-- EXAMPLE GROUP TABS - ENDS -->