<!-- ALTERNATE VIEWS BADGE - ICON ONLY - BEGINS -->
<div class="mul-alternate-views-badge" data-alternate-views-badge="js-mul-alternate-views-badge-icon-only-example">
	
	<!-- NO WHITE SPACE BETWEEN CODE BELOW REQUIRED BECAUSE USING DISPLAY: INLINE-BLOCK ON BUTTONS -->
	<ul class="mul-btn-group-horizontal"><li class="mul-btn"><a href="#alternate-views-badge-icon-only-1"><i class="mul-icon-grid mul-icon-position-left" title="Grid View"></i></a></li><li class="mul-btn"><a href="#alternate-views-badge-icon-only-2"><i class="mul-icon-stats mul-icon-position-left" title="Savings View"></i></a></li><li class="mul-btn"><a href="#alternate-views-badge-icon-only-3"><i class="mul-icon-chart mul-icon-position-left" title="Dashboard View"></i></a></li></ul>
	
	<div id="alternate-views-badge-icon-only-1">

		{% include '/base/tables/table-interactive' %}
		
	</div>
	<div id="alternate-views-badge-icon-only-2">

		<div class="col-24">

			<div class="col-24">

				<!-- FEATURE CONTAINER - BEGINS -->
				<div class="mul-box mul-feature-ctn">
					<div class="mul-box-hdr">
						<h3 class="mul-hdr-rule">Cost Savings</h3>
					</div>
					<div class="box-bdy">
						
						{% include '/objects/slider-horizontal' %}

					</div>
				</div>
				<!-- FEATURE CONTAINER - ENDS -->

			</div>
			<div class="col-24">

				<!-- FEATURE CONTAINER - BEGINS -->
				<div class="mul-box mul-feature-ctn">
					<div class="mul-box-hdr">
						<h3 class="mul-hdr-rule">Cost Avoidance</h3>
					</div>
					<div class="box-bdy">
						
						{% include '/objects/slider-horizontal-range' %}

					</div>
				</div>
				<!-- FEATURE CONTAINER - ENDS -->

			</div>
			<div class="col-24">

				<!-- FEATURE CONTAINER - BEGINS -->
				<div class="mul-box mul-feature-ctn">
					<div class="mul-box-hdr">
						<h3 class="mul-hdr-rule">Unrealized Savings</h3>
					</div>
					<div class="box-bdy">
						
						{% include '/objects/slider-horizontal-range-min' %}

					</div>
				</div>
				<!-- FEATURE CONTAINER - ENDS -->

			</div>

		</div>
		
	</div>
	<div id="alternate-views-badge-icon-only-3">
		
		<div class="col-24">

			<div class="col-24">

				<!-- FEATURE CONTAINER - BEGINS -->
				<div class="mul-box mul-feature-ctn">
					<div class="mul-box-hdr">
						<h3 class="mul-hdr-rule">Policy Snapshot</h3>
					</div>
					<div class="box-bdy">
						{% include '/objects/primary-summary-ctn' %}
					</div>
				</div>
				<!-- FEATURE CONTAINER - ENDS -->

			</div>
			<div class="col-24">

				<!-- FEATURE CONTAINER - BEGINS -->
				<div class="col-16 first mul-box mul-feature-ctn mul-alternate-views-badge-feature-ctn">
					<div class="mul-box-hdr">
						<h3 class="mul-hdr-rule">Policy Data</h3>
					</div>
					<div class="box-bdy">
						{% include '/base/tables/table-static' %}
					</div>
				</div>
				<!-- FEATURE CONTAINER - ENDS -->
				
				<!-- FEATURE CONTAINER - BEGINS -->
				<div class="col-8 mul-box mul-feature-ctn mul-alternate-views-badge-feature-ctn">
					<div class="mul-box-hdr">
						<h3 class="mul-hdr-rule">Premium by Product</h3>
					</div>
					<div class="box-bdy">
						<p>
							<img src="{{ "feature-ctn-pie-chart.png" | asset_url }}" alt="Pie Chart" title="Pie Chart" width="264" height="279" />
						</p>
					</div>
				</div>
				<!-- FEATURE CONTAINER - ENDS -->

			</div>
			
		</div>

	</div>
</div>
<!-- ALTERNATE VIEWS BADGE - ICON ONLY - ENDS -->