<!-- ALTERNATE VIEWS BADGE - BEGINS -->
<div class="mul-alternate-views-badge mul-alternate-views-badge-full" data-alternate-views-badge="js-mul-alternate-views-badge-full-example">
	
	<!-- NO WHITE SPACE BETWEEN CODE BELOW REQUIRED BECAUSE USING DISPLAY: INLINE-BLOCK ON BUTTONS -->
	<ul class="mul-btn-group-horizontal"><li class="mul-btn"><a href="#alternate-views-badge-1"><i class="mul-icon-grid mul-icon-position-left" title="Grid View"></i><span>Grid View</span></a></li><li class="mul-btn"><a href="#alternate-views-badge-2"><i class="mul-icon-tree3 mul-icon-position-left" title="Tree View"></i><span>Tree View</span></a></li><li class="mul-btn"><a href="#alternate-views-badge-3"><i class="mul-icon-menu3 mul-icon-position-left" title="List View"></i><span>List View</span></a></li></ul>
	
	<div id="alternate-views-badge-1">{{ 1 | lorem_ipsum:'p' }}</div>
	<div id="alternate-views-badge-2">{{ 1 | lorem_ipsum:'p' }}</div>
	<div id="alternate-views-badge-3">{{ 2 | lorem_ipsum:'p' }}</div>
</div>
<!-- ALTERNATE VIEWS BADGE - ENDS -->