<li id="js-mul-autocomplete-example-ctn">
	<label for="js-mul-autocomplete-example">Search for Employees:</label>
	<input id="js-mul-autocomplete-example" name="" value="" type="text" tabindex="" title="Last Name, First Name" placeholder="Last Name, First Name" />
	<small class="mul-info">Use "Mercer" as an example.</small>
</li>