<!-- CALENDAR - READ ONLY INPUT - BEGINS -->
<div class="large-12 columns evo-datepicker-ctn">
	<label for="js-evo-datepicker-example-readonly">
		Date:
		<input id="js-evo-datepicker-example-readonly" readonly="true" name="" value="" type="text" tabindex="" title="Select date." />
	</label>
</div>
<!-- CALENDAR - READ ONLY INPUT - ENDS -->