<!-- CALENDAR - DATE INPUT - BEGINS -->
<div class="large-12 columns evo-datepicker-ctn">
	<label for="js-evo-datepicker-example-default">
		Date:
		<input id="js-evo-datepicker-example-default" name="" value="" type="text" tabindex="" title="Select date." />
	</label>
</div>
<!-- CALENDAR - DATE INPUT - ENDS -->