<!-- CALENDAR - READ ONLY INPUT - BEGINS -->
<div class="col-24 evo-datepicker-ctn">
	<label class="col-6 first" for="js-evo-datepicker-example-readonly">Date:</label>
	<input class="col-18" id="js-evo-datepicker-example-readonly" readonly="true" name="" value="" type="text" tabindex="" title="Select date." />
</div>
<!-- CALENDAR - READ ONLY INPUT - ENDS -->