<!-- CALENDAR - MESSAGE - BEGINS -->
<div class="col-24 evo-datepicker-ctn">
	<label class="col-6 first" for="js-evo-datepicker-example-message">Date:</label>
	<input class="col-18" id="js-evo-datepicker-example-message" name="" value="" type="text" tabindex="" title="Select date." data-evo-datepicker-message-label="This is a calendar message area for user messages related to dates" />
</div>
<!-- CALENDAR - MESSAGE - ENDS -->