<!-- CALENDAR - MESSAGE - BEGINS -->
<div class="large-12 columns evo-datepicker-ctn">
	<label for="js-evo-datepicker-example-message">
		Date:
		<input id="js-evo-datepicker-example-message" name="" value="" type="text" tabindex="" title="Select date." data-evo-datepicker-message-label="This is a calendar message area for user messages related to dates" />
	</label>
</div>
<!-- CALENDAR - MESSAGE - ENDS -->