<!-- CALENDAR - DATE INPUT - MASKED - BEGINS -->
<div class="large-12 columns evo-datepicker-ctn">
	<label for="js-evo-datepicker-example-masked">
		Date:
		<input class="evo-datepicker-masked-input" id="js-evo-datepicker-example-masked" name="" value="" type="text" tabindex="" title="Select date." />
	</label>
</div>
<!-- CALENDAR - DATE INPUT - MASKED - ENDS -->