<!-- CALENDAR - DATE INPUT - BEGINS -->
<div class="col-24 mul-datepicker-ctn">
	<label for="js-mul-datepicker-example-default">Date:</label>
	<input class="col-24" id="js-mul-datepicker-example-default" name="" value="" type="text" tabindex="" title="Select date." />
</div>
<!-- CALENDAR - DATE INPUT - ENDS -->