<!-- CALENDAR - DATE INPUT - MASKED - BEGINS -->
<div class="col-24 mul-datepicker-ctn">
	<label for="js-mul-datepicker-example-masked">Date:</label>
	<input class="col-24 mul-datepicker-masked-input" id="js-mul-datepicker-example-masked" name="" value="" type="text" tabindex="" title="Select date." />
</div>
<!-- CALENDAR - DATE INPUT - MASKED - ENDS -->