<!-- CALL TO ACTION - BEGINS -->
<a class="evo-call-to-action" href="#" title="Contact Us">
	<i class="evo-icon-phone2 evo-icon-position-left" title="Contact Us"></i>
	<span class="evo-call-to-action-text">Contact Us</span>
</a>
<!-- CALL TO ACTION - ENDS -->