<!-- CALL TO ACTION - BEGINS -->
<a class="mul-call-to-action" href="#" title="Contact Us">
	<span class="mul-call-to-action-text">Contact Us</span>
	<i class="mul-icon-arrow-right2 mul-icon-position-right" title="Contact Us"></i>
</a>
<!-- CALL TO ACTION - ENDS -->