<!-- CALL TO ACTION - BEGINS -->
<a class="evo-call-to-action" href="#" title="Contact Us">
	<span class="evo-call-to-action-text">Contact Us</span>
	<i class="evo-icon-arrow-right2 evo-icon-position-right" title="Contact Us"></i>
</a>
<!-- CALL TO ACTION - ENDS -->