<!-- CAROUSEL - BEGINS -->
<div class="mul-carousel" data-carousel="js-mul-carousel-example">
	<div class="mul-carousel-item">
		<div class="mul-box mul-no-margin-bottom">
			<h1 class="mul-no-padding-bottom">Header 1</h1>
			<h3 class="mul-spacer-margin-bottom-x-large">Subheader</h3>
			<button class="mul-btn mul-btn-medium mul-btn-primary mul-btn-first mul-margin-bottom" id="" name="" value="" type="" tabindex="" title="Primary">Button</button>
		</div>
	</div>
	<div class="mul-carousel-item">
		<div class="mul-box mul-no-margin-bottom">
			<h1 class="mul-no-padding-bottom">Header 2</h1>
			<h3 class="mul-spacer-margin-bottom-x-large">Subheader</h3>
			<button class="mul-btn mul-btn-medium mul-btn-primary mul-btn-first mul-margin-bottom" id="" name="" value="" type="" tabindex="" title="Primary">Button</button>
		</div>
	</div>
	<div class="mul-carousel-item">
		<div class="mul-box mul-no-margin-bottom">
			<h1 class="mul-no-padding-bottom">Header 3</h1>
			<h3 class="mul-spacer-margin-bottom-x-large">Subheader</h3>
			<button class="mul-btn mul-btn-medium mul-btn-primary mul-btn-first mul-margin-bottom" id="" name="" value="" type="" tabindex="" title="Primary">Button</button>
		</div>
	</div>
	<div class="mul-carousel-item">
		<div class="mul-box mul-no-margin-bottom">
			<h1 class="mul-no-padding-bottom">Header 4</h1>
			<h3 class="mul-spacer-margin-bottom-x-large">Subheader</h3>
			<button class="mul-btn mul-btn-medium mul-btn-primary mul-btn-first mul-margin-bottom" id="" name="" value="" type="" tabindex="" title="Primary">Button</button>
		</div>
	</div>
	<div class="mul-carousel-item">
		<div class="mul-box mul-no-margin-bottom">
			<h1 class="mul-no-padding-bottom">Header 5</h1>
			<h3 class="mul-spacer-margin-bottom-x-large">Subheader</h3>
			<button class="mul-btn mul-btn-medium mul-btn-primary mul-btn-first mul-margin-bottom" id="" name="" value="" type="" tabindex="" title="Primary">Button</button>
		</div>
	</div>
</div>
<!-- CAROUSEL - ENDS -->