<!-- CAROUSEL - BEGINS -->
<div class="evo-carousel" data-carousel="js-evo-carousel-example">
	<div class="evo-carousel-item">
		<div class="evo-box evo-no-margin-bottom">
			<h1 class="evo-no-padding-bottom">Header 1</h1>
			<h3 class="evo-spacer-margin-bottom-x-large">Subheader</h3>
			<button class="evo-btn evo-btn-medium evo-btn-primary evo-btn-first evo-margin-bottom" id="" name="" value="" type="" tabindex="" title="Primary">Button</button>
		</div>
	</div>
	<div class="evo-carousel-item">
		<div class="evo-box evo-no-margin-bottom">
			<h1 class="evo-no-padding-bottom">Header 2</h1>
			<h3 class="evo-spacer-margin-bottom-x-large">Subheader</h3>
			<button class="evo-btn evo-btn-medium evo-btn-primary evo-btn-first evo-margin-bottom" id="" name="" value="" type="" tabindex="" title="Primary">Button</button>
		</div>
	</div>
	<div class="evo-carousel-item">
		<div class="evo-box evo-no-margin-bottom">
			<h1 class="evo-no-padding-bottom">Header 3</h1>
			<h3 class="evo-spacer-margin-bottom-x-large">Subheader</h3>
			<button class="evo-btn evo-btn-medium evo-btn-primary evo-btn-first evo-margin-bottom" id="" name="" value="" type="" tabindex="" title="Primary">Button</button>
		</div>
	</div>
	<div class="evo-carousel-item">
		<div class="evo-box evo-no-margin-bottom">
			<h1 class="evo-no-padding-bottom">Header 4</h1>
			<h3 class="evo-spacer-margin-bottom-x-large">Subheader</h3>
			<button class="evo-btn evo-btn-medium evo-btn-primary evo-btn-first evo-margin-bottom" id="" name="" value="" type="" tabindex="" title="Primary">Button</button>
		</div>
	</div>
	<div class="evo-carousel-item">
		<div class="evo-box evo-no-margin-bottom">
			<h1 class="evo-no-padding-bottom">Header 5</h1>
			<h3 class="evo-spacer-margin-bottom-x-large">Subheader</h3>
			<button class="evo-btn evo-btn-medium evo-btn-primary evo-btn-first evo-margin-bottom" id="" name="" value="" type="" tabindex="" title="Primary">Button</button>
		</div>
	</div>
</div>
<!-- CAROUSEL - ENDS -->