<div class="col-24 mul-datepicker-ctn mul-datepicker-range mul-small-mediaquery-grid">
	<input class="col-12 first" id="js-mul-datepicker-range-stacked-from" readonly="true" name="" value="" type="text" tabindex="" title="Select date." placeholder="From" data-mul-datepicker-message-label="This is a calendar message area for user messages related to dates" />
	<input class="col-12" id="js-mul-datepicker-range-stacked-to" readonly="true" name="" value="" type="text" tabindex="" title="Select date." placeholder="To" data-mul-datepicker-message-label="This is a calendar message area for user messages related to dates" />
</div>