<!-- IMAGE CONTENT OVERLAY - BEGINS -->
<div class="mul-image-content-overlay-ctn mul-image-content-overlay-background-image">
	<div class="mul-image-content-overlay-ctn-adjust">
		<div class="mul-image-content-overlay">
			<h1>Header 1</h1>
			<h3 class="mul-margin-bottom">Subheader</h3>
			<button class="mul-btn mul-btn-medium mul-btn-primary mul-btn-first mul-margin-bottom" id="" name="" value="" type="" tabindex="" title="Primary">Button</button>
		</div>
	</div>
</div>
<!-- IMAGE CONTENT OVERLAY - ENDS -->