<!-- IMAGE CONTENT OVERLAY - BEGINS -->
<div class="evo-image-content-overlay-ctn evo-image-content-overlay-background-image">
	<div class="evo-image-content-overlay-ctn-adjust">
		<div class="evo-image-content-overlay">
			<h1>Header 1</h1>
			<h3 class="evo-margin-bottom">Subheader</h3>
			<button class="evo-btn evo-btn-medium evo-btn-primary evo-btn-first evo-margin-bottom" id="" name="" value="" type="" tabindex="" title="Primary">Button</button>
		</div>
	</div>
</div>
<!-- IMAGE CONTENT OVERLAY - ENDS -->