<!-- INLINE SEARCH CONTAINER  - BEGINS -->
<div class="evo-box evo-inline-search-ctn">
	<div class="box-bdy">
		<form class="evo-form" id="" name="" method="" action="" title="">
			<fieldset>
				<div class="col-18 first">
					<ol class="col-24">
						<li class="col-12 first">
							<label for="">Basic Text Input:</label>
							<input class="" id="" name="" value="" type="text" tabindex="" title="" />
						</li>
						<li class="col-12">
							<label for="">Basic Text Input:</label>
							<input class="" id="" name="" value="" type="text" tabindex="" title="" />
						</li>
					</ol>
					<ol class="col-24">
						<li class="col-12 first">
							<label for="">Basic Text Input:</label>
							<input class="" id="" name="" value="" type="text" tabindex="" title="" />
						</li>
						<li class="col-12">
							<label for="">Basic Text Input:</label>
							<select name="" id="" tabindex="" title="">
								<option value="choose one">choose one&hellip;</option>
								<option value="option2">option 2</option>
								<option value="option3">option 3</option>
								<option value="option4">option 4</option>
							</select>
						</li>
					</ol>
				</div>
			<!-- FORM ACTION - BEGINS -->
				<div class="col-6">
					<ol>
						<li class="evo-form-action">
							<button class="evo-btn evo-btn-medium evo-btn-primary evo-center-block js-evo-toggle-content" data-evo-toggle="101" id="" name="" value="" type="button" tabindex="" title="Search">Search</button>
						</li>
					</ol>
				</div>
			<!-- FORM ACTION - ENDS -->
			</fieldset>
		</form>
	</div>
</div>
<!-- INLINE SEARCH CONTAINER - ENDS -->