<!-- INLINE SEARCH CONTAINER  - BEGINS -->
	<div class="panel evo-box evo-inline-search-ctn">
		<div class="box-bdy">

			<form data-abide>
				<fieldset>
					<section class="row">
						<div class="medium-9 columns">
							<section class="row">
								<div class="medium-6 columns">
									<div class="medium-12 columns">
										<label>
											<small><i class="evo-icon-evo-asterisk-small evo-icon-color-gray-dark"></i></small>Input Label:
											<input type="text" placeholder="Placeholder text" tabindex="" title="" required />
											<small class="error">Houston we have a problem.</small>
										</label>
									</div>
								</div>
								<div class="medium-6 columns">
									<div class="medium-12 columns">
										<label>
											<small><i class="evo-icon-evo-asterisk-small evo-icon-color-gray-dark"></i></small>Input Label:
											<input type="text" placeholder="Placeholder text" tabindex="" title="" required />
											<small class="error">Houston we have a problem.</small>
										</label>
									</div>
								</div>
							</section>

							<section class="row evo-margin-reset">
								<div class="medium-6 columns">
									<div class="medium-12 columns">
										<label>
											<small><i class="evo-icon-evo-asterisk-small evo-icon-color-gray-dark"></i></small>Input Label:
											<input type="text" placeholder="Placeholder text" tabindex="" title="" required />
											<small class="error">Houston we have a problem.</small>
										</label>
									</div>
								</div>
								<div class="medium-6 columns">
									<div class="medium-12 columns">
										<label>
											<small><i class="evo-icon-evo-asterisk-small evo-icon-color-gray-dark"></i></small>Select Box:
											<select tabindex="" title="" required>
												<option value="">choose one&#8230;</option>
												<option value="husker">Star Lord</option>
												<option value="starbuck">Groot</option>
												<option value="hotdog">Rocket Raccoon</option>
												<option value="apollo">Gamora</option>
											</select>
										</label>
										<small class="error">Houston we have a problem.</small>
									</div>
								</div>
							</section>
						</div>
						<div class="medium-3 columns evo-btn-row">
							<button class="button radius evo-btn" id="" name="" value="" type="" tabindex="" title="Search">Search</button>
						</div>
					</section>
				</fieldset>
			</form>

		</div>
	</div>
<!-- INLINE SEARCH CONTAINER - ENDS -->