<button class="mul-btn mul-btn-medium mul-btn-primary mul-btn-first" id="js-mul-dialog-loading-example-btn" name="" value="" tabindex="" type="button" title="Open Modal">Open Modal</button>

<!-- Loading animation modal dialog source element -->
<div id="js-mul-dialog-loading" class="mul-dialog-ctn mul-grid" title="Loading&hellip;">
	<div class="col-24 mul-align-center">
		<p class="mul-dialog-loading-text">Explanation of why stuff is loading goes here.</p>
		<img class="mul-margin-bottom" src="{{ "loading_animation_bar.gif" | asset_url }}" alt="Loading&hellip;" width="128" height="15" border="0" />
	</div>
	<button class="mul-btn mul-btn-medium mul-btn-secondary mul-btn-first mul-margin-bottom mul-center-block js-mul-dialog-close" tabindex="10" type="button" title="Cancel">Cancel</button>
</div>