<button class="evo-btn evo-btn-medium evo-btn-primary evo-btn-first" id="js-evo-dialog-loading-icon-example-btn" name="" value="" tabindex="" type="button" title="Open Modal">Open Modal</button>

<!-- Loading animation modal dialog source element -->
<div id="js-evo-dialog-loading-icon" class="evo-dialog-ctn evo-grid" title="Loading&hellip;">
	<div class="col-24 evo-align-center">
		<p class="evo-dialog-loading-text">Explanation of why stuff is loading goes here.</p>
		<i class="evo-icon-evo-loading evo-icon-size-medium evo-icon-color-gray-darker evo-icon-animation-rotate evo-margin-bottom" title="Loading&hellip;"><span class="evo-icon-hide-text">Loading&hellip;</span></i>
		<img class="evo-image-icon-loading-fallback evo-margin-bottom" src="{{ "loading_animation_spinner_medium.gif" | asset_url }}" alt="Loading&hellip;" width="32" height="32" border="0" />
	</div>
	<button class="evo-btn evo-btn-medium evo-btn-secondary evo-btn-first evo-margin-bottom evo-center-block js-evo-dialog-close" tabindex="10" type="button" title="Cancel">Cancel</button>
</div>