<button class="evo-btn evo-btn-medium evo-btn-primary evo-btn-first" id="js-evo-dialog-loading-example-btn" name="" value="" tabindex="" type="button" title="Open Modal">Open Modal</button>

<!-- Loading animation modal dialog source element -->
<div id="js-evo-dialog-loading" class="evo-dialog-ctn" title="Loading&hellip;">
	<div class="col-24 evo-align-center">
		<p class="evo-dialog-loading-text">Explanation of why stuff is loading goes here.</p>
		<img class="evo-margin-bottom" src="{{ "loading_animation_bar.gif" | asset_url }}" alt="Loading&hellip;" width="128" height="15" border="0" />
	</div>
	<button class="evo-btn evo-btn-medium evo-btn-secondary evo-btn-first evo-margin-bottom evo-center-block js-evo-dialog-close" tabindex="10" type="button" title="Cancel">Cancel</button>
</div>