<button class="mul-btn mul-btn-medium mul-btn-primary mul-btn-first" id="js-mul-dialog-loading-icon-example-btn" name="" value="" tabindex="" type="button" title="Open Modal">Open Modal</button>

<!-- Loading animation modal dialog source element -->
<div id="js-mul-dialog-loading-icon" class="mul-dialog-ctn mul-grid" title="Loading&hellip;">
	<div class="col-24 mul-align-center">
		<p class="mul-dialog-loading-text">Explanation of why stuff is loading goes here.</p>
		<i class="mul-icon-mul-loading mul-icon-size-medium mul-icon-color-gray-darker mul-icon-animation-rotate mul-margin-bottom" title="Loading&hellip;"><span class="mul-icon-hide-text">Loading&hellip;</span></i>
		<img class="mul-image-icon-loading-fallback mul-margin-bottom" src="{{ "loading_animation_spinner_medium.gif" | asset_url }}" alt="Loading&hellip;" width="32" height="32" border="0" />
	</div>
	<button class="mul-btn mul-btn-medium mul-btn-secondary mul-btn-first mul-margin-bottom mul-center-block js-mul-dialog-close" tabindex="10" type="button" title="Cancel">Cancel</button>
</div>