<!-- MINI FILTER - SMALL MEDIAQUERY - BEGINS -->
<span class="evo-visible-small-mediaquery">		
	<label for="evo-mini-filter-dropdown-1">View:</label>
	<select class="evo-mini-filter-dropdown" id="evo-mini-filter-dropdown-1" tabindex="" title="">
		<option value="">All Policies</option>
		<option value="">Active Policies</option>
		<option value="">Completed Policies</option>
	</select>
</span>
<!-- MINI FILTER - SMALL MEDIAQUERY - ENDS -->

<!-- MINI FILTER - BEGINS -->
<dl class="evo-horizontal-list evo-horizontal-list-piped evo-hidden-small-mediaquery evo-mini-filter">
	<dt>View:</dt>
	<dd class="evo-first-child"><a href="javascript:;">All Policies</a></dd>
	<dd><a href="javascript:;" class="active">Active Policies</a></dd>
	<dd><a href="javascript:;">Completed Policies</a></dd>
</dl>


<ul class="inline-list evo-inline-list evo-inline-list-pipes">
	<li>View:</li>
	<li>Item 1</li>
	<li>Item 2</li>
	<li>Item 3</li>
</ul>
<!-- MINI FILTER - ENDS -->