<!-- MINI FILTER - SMALL MEDIAQUERY - BEGINS -->
<span class="show-for-small-only">		
	<label for="evo-mini-filter-dropdown-1">View:</label>
	<select class="evo-mini-filter-dropdown" id="evo-mini-filter-dropdown-1" tabindex="" title="">
		<option value="">All Policies</option>
		<option value="">Active Policies</option>
		<option value="">Completed Policies</option>
	</select>
</span>
<!-- MINI FILTER - SMALL MEDIAQUERY - ENDS -->

<!-- MINI FILTER - BEGINS -->
<ul class="inline-list evo-inline-list evo-inline-list-pipes evo-mini-filter">
	<li class="evo-mini-filter-label">View:</li>
	<li><a href="javascript:;">All Policies</a></li>
	<li><a href="javascript:;" class="evo-mini-filter-active">Active Policies</a></li>
	<li><a href="javascript:;">Completed Policies</a></li>
</ul>
<!-- MINI FILTER - ENDS -->