<button class="evo-btn evo-btn-medium evo-btn-primary evo-btn-first" id="js-evo-dialog-modal-long-fixed-buttons-example-btn" name="" value="" type="button" tabindex="" title="Open Modal">Open Modal</button>

<!-- Modal dialog source element -->
<div id="js-evo-dialog-modal-long-fixed-buttons-example" class="evo-dialog-ctn" title="Modal Title">
	<p>Modal window content text goes here&hellip;</p>
	<div class="col-24">
		<form class="evo-form evo-form-inline evo-no-margin-bottom" id="" name="" method="" action="" title="">
			<fieldset>
				<ol>
					<li>
						<label class="col-10 first" for="">Basic Text Input:</label>
						<input class="col-14" id="" name="" value="" autofocus="autofocus" type="text" tabindex="" title="" />
					</li>
					<li>
						<label class="col-10 first" for="">Label:</label>
						<select class="col-14" id="" tabindex="" title="">
							<option selected="selected" value="Select an item">choose one...</option>
							<option value="">One</option>
							<option value="">Two</option>
							<option value="">Three</option>
						</select>
					</li>
					<li>
						<label class="evo-radio-label col-10 first">Label Posed as a Question?</label>
						<div class="evo-radio col-14">
							<label for="question1" class="evo-form-inline-element">
								<input id="question1" name="question" value="" type="radio" tabindex="" title="" /> Yes
							</label>

							<label for="question2" class="evo-form-inline-element">
								<input id="question2" name="question" value="" type="radio" tabindex="" title="" /> No
							</label>
						</div>
					</li>
					<li>
						<label class="evo-checkbox-label col-10 first" for="">Year:</label>
						<div class="evo-checkbox col-14">
							<label for="2009" class="evo-form-inline-element">
								<input id="2009" name="" value="" type="checkbox" tabindex="" title="" /> 2009
							</label>

							<label for="2010" class="evo-form-inline-element">
								<input id="2010" name="" value="" type="checkbox" tabindex="" title="" /> 2010
							</label>

							<label for="2011" class="evo-form-inline-element">
								<input id="2011" name="" value="" type="checkbox" tabindex="" title="" /> 2011
							</label>

							<label for="2012" class="evo-form-inline-element">
								<input id="2012" name="" value="" type="checkbox" tabindex="" title="" /> 2012
							</label>
						</div>
					</li>
					<li>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed cursus lobortis orci, ut dapibus felis condimentum convallis. Vestibulum erat magna, dictum ut aliquet ac, accumsan eu erat. Vestibulum euismod magna id auctor adipiscing. Proin eu neque eget urna suscipit tempus. Donec convallis urna et tempus tristique. Donec dictum bibendum eros, eleifend hendrerit odio facilisis et. Nullam quis lobortis sapien. Nulla eleifend sagittis eleifend. Vivamus massa nulla, hendrerit ac arcu vitae, vulputate ornare quam. Phasellus sit amet nunc sed nisi consequat placerat. Suspendisse commodo, eros at pretium viverra, magna quam tempor dolor, nec venenatis quam augue sed quam. In dictum libero et sodales varius.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed cursus lobortis orci, ut dapibus felis condimentum convallis. Vestibulum erat magna, dictum ut aliquet ac, accumsan eu erat. Vestibulum euismod magna id auctor adipiscing. Proin eu neque eget urna suscipit tempus. Donec convallis urna et tempus tristique. Donec dictum bibendum eros, eleifend hendrerit odio facilisis et. Nullam quis lobortis sapien. Nulla eleifend sagittis eleifend. Vivamus massa nulla, hendrerit ac arcu vitae, vulputate ornare quam. Phasellus sit amet nunc sed nisi consequat placerat. Suspendisse commodo, eros at pretium viverra, magna quam tempor dolor, nec venenatis quam augue sed quam. In dictum libero et sodales varius.</p>
						<p class="evo-no-margin-bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed cursus lobortis orci, ut dapibus felis condimentum convallis. Vestibulum erat magna, dictum ut aliquet ac, accumsan eu erat. Vestibulum euismod magna id auctor adipiscing. Proin eu neque eget urna suscipit tempus. Donec convallis urna et tempus tristique. Donec dictum bibendum eros, eleifend hendrerit odio facilisis et. Nullam quis lobortis sapien. Nulla eleifend sagittis eleifend. Vivamus massa nulla, hendrerit ac arcu vitae, vulputate ornare quam. Phasellus sit amet nunc sed nisi consequat placerat. Suspendisse commodo, eros at pretium viverra, magna quam tempor dolor, nec venenatis quam augue sed quam. In dictum libero et sodales varius.</p>
					</li>
				</ol>
			</fieldset>
		</form>
	</div>
</div>