<button class="evo-btn evo-btn-medium evo-btn-primary evo-btn-first" id="js-evo-dialog-modal-example-btn" name="" value="" type="button" tabindex="" title="Open Modal">Open Modal</button>

<!-- Modal dialog source element -->
<div id="js-evo-dialog-modal-example" class="evo-dialog-ctn" title="A Really Really Really Long Modal Title">
	{{ 1 | lorem_ipsum:'p' }}
	<div class="col-24 evo-margin-bottom">
		<button class="evo-btn evo-btn-medium evo-btn-first js-evo-dialog-close" id="" name="" value="" type="button" tabindex="" title="Cancel">Cancel</button>
		<button class="evo-btn evo-btn-medium evo-btn-primary js-evo-dialog-close" id="" name="" value="" type="button" tabindex="" title="Save">Save</button>
	</div>
</div>