<button class="mul-btn mul-btn-medium mul-btn-primary mul-btn-first" id="js-mul-dialog-modal-example-btn" name="" value="" type="button" tabindex="" title="Open Modal">Open Modal</button>

<!-- Modal dialog source element -->
<div id="js-mul-dialog-modal-example" class="mul-dialog-ctn mul-grid" title="A Really Really Really Long Modal Title">
	{{ 1 | lorem_ipsum:'p' }}
	<div class="col-24 mul-margin-bottom">
		<button class="mul-btn mul-btn-medium mul-btn-first js-mul-dialog-close" id="" name="" value="" type="button" tabindex="" title="Cancel">Cancel</button>
		<button class="mul-btn mul-btn-medium mul-btn-primary js-mul-dialog-close" id="" name="" value="" type="button" tabindex="" title="Save">Save</button>
	</div>
</div>