<button class="evo-btn evo-btn-medium evo-btn-primary evo-btn-first" id="js-evo-dialog-modal-clickoutside-example-btn" name="" value="" type="button" tabindex="" title="Open Modal">Open Modal</button>

<!-- Modal dialog source element -->
<div id="js-evo-dialog-modal-clickoutside-example" class="evo-dialog-ctn" title="Modal Title">
	<p>Modal window content text goes here&hellip;</p>
	<div class="col-24">
		<form class="evo-form evo-form-inline evo-no-margin-bottom" id="" name="" method="" action="" title="">
			<fieldset>
				<ol>
					<li>
						<label class="col-10 first" for="">Basic Text Input:</label>
						<input class="col-14" id="" name="" value="" autofocus="autofocus" type="text" tabindex="" title="" />
					</li>
					<li>
						<label class="col-10 first" for="">Label:</label>
						<select class="col-14" id="" tabindex="" title="">
							<option selected="selected" value="Select an item">choose one...</option>
							<option value="">One</option>
							<option value="">Two</option>
							<option value="">Three</option>
						</select>
					</li>
					<li>
						<label class="evo-radio-label col-10 first">Label Posed as a Question?</label>
						<div class="evo-radio col-14">
							<label for="question1" class="evo-form-inline-element">
								<input id="question1" name="question" value="" type="radio" tabindex="" title="" /> Yes
							</label>

							<label for="question2" class="evo-form-inline-element">
								<input id="question2" name="question" value="" type="radio" tabindex="" title="" /> No
							</label>
						</div>
					</li>
					<li>
						<label class="evo-checkbox-label col-10 first" for="">Year:</label>
						<div class="evo-checkbox col-14">
							<label for="2009" class="evo-form-inline-element">
								<input id="2009" name="" value="" type="checkbox" tabindex="" title="" /> 2009
							</label>

							<label for="2010" class="evo-form-inline-element">
								<input id="2010" name="" value="" type="checkbox" tabindex="" title="" /> 2010
							</label>

							<label for="2011" class="evo-form-inline-element">
								<input id="2011" name="" value="" type="checkbox" tabindex="" title="" /> 2011
							</label>

							<label for="2012" class="evo-form-inline-element">
								<input id="2012" name="" value="" type="checkbox" tabindex="" title="" /> 2012
							</label>
						</div>
					</li>
					<li>
						<p>Lorem ipsum Erat at labore lobortis volutpat justo. Amet amet vel amet ea. Quod sit eirmod in vero voluptua ipsum. Accusam nonumy assum lorem sadipscing. Duo facer ipsum facilisis justo odio clita est tempor sadipscing accusam. Aliquyam stet voluptua no justo luptatum sed labore.</p>

						<p>Veniam facilisi accumsan at dolores invidunt amet et. Kasd kasd sadipscing lorem at sit augue ut laoreet. Placerat vulputate ipsum in sit vero. Eum ea lobortis magna no.</p>

						<p>Duis magna minim takimata labore sed et tempor. Lorem nisl eirmod nonumy commodo. Sed sadipscing et invidunt. Eos dolore amet ipsum dolor tempor quod kasd. Et facilisis aliquyam dolor labore sit dolor tempor. Sit accusam sit augue sea assum. Ea esse diam dolore</p>
					</li>
					<li class="evo-form-action">
						<button class="evo-btn evo-btn-medium evo-btn-first js-evo-dialog-close" id="" name="" value="" type="button" tabindex="" title="Cancel">Cancel</button>
						<button class="evo-btn evo-btn-medium evo-btn-primary js-evo-dialog-close" id="" name="" value="" type="button" tabindex="" title="Save">Save</button>
					</li>
				</ol>
			</fieldset>
		</form>
	</div>
</div>