<!-- PAGINATION - BEGINS -->
<div class="evo-pagination">
	<ul>
		<li><a class="evo-icon-evo-arrow-doublearrow-left evo-pagination-icon" href="#" title="&laquo; First Page"></a></li>
		<li><a class="evo-icon-arrow-left2 evo-pagination-icon" href="#" title="&lt; Previous"></a></li>
		<li class="evo-pagination-page-nav active"><a href="#" title="Current Page">5</a></li>
		<li class="evo-pagination-page-nav"><a href="#">6</a></li>
		<li class="evo-pagination-page-nav"><a href="#">7</a></li>
		<li class="evo-pagination-page-nav"><a href="#">8</a></li>
		<li class="evo-pagination-page-nav"><a href="#">9</a></li>
		<li><a class="evo-icon-arrow-right2 evo-pagination-icon" href="#" title="Next &gt;"></a></li>
		<li><a class="evo-icon-evo-arrow-doublearrow-right evo-pagination-icon" href="#" title="Last Page &raquo;"></a></li>
	</ul>
</div>
<!-- PAGINATION - ENDS -->