<!-- PAGINATION - BEGINS -->
<div class="mul-pagination">
	<ul>
		<li><a class="mul-icon-mul-arrow-doublearrow-left mul-pagination-icon" href="#" title="&laquo; First Page"></a></li>
		<li><a class="mul-icon-arrow-left2 mul-pagination-icon" href="#" title="&lt; Previous"></a></li>
		<li class="mul-pagination-page-nav active"><a href="#" title="Current Page">5</a></li>
		<li class="mul-pagination-page-nav"><a href="#">6</a></li>
		<li class="mul-pagination-page-nav"><a href="#">7</a></li>
		<li class="mul-pagination-page-nav"><a href="#">8</a></li>
		<li class="mul-pagination-page-nav"><a href="#">9</a></li>
		<li><a class="mul-icon-arrow-right2 mul-pagination-icon" href="#" title="Next &gt;"></a></li>
		<li><a class="mul-icon-mul-arrow-doublearrow-right mul-pagination-icon" href="#" title="Last Page &raquo;"></a></li>
	</ul>
</div>
<!-- PAGINATION - ENDS -->