<!-- PRIMARY SUMMARY CONTAINER - BEGINS -->
<div class="evo-summary-ctn">
	<div class="evo-summary-ctn-row">
		<div class="evo-summary-ctn-alert-negative">
			<a href="javascript:;">
				<span class="evo-main-text">2</span>
				<span class="evo-support-text">Overdue</span>
			</a>
		</div>
		<div class="evo-summary-ctn-alert-positive">
			<a href="javascript:;">
				<span class="evo-main-text">4</span>
				<span class="evo-support-text">Due This week</span>
			</a>
		</div>
		<div>
			<a href="javascript:;">
				<span class="evo-main-text">7</span>
				<span class="evo-support-text">Due in 2 weeks</span>
			</a>
		</div>
		<div>
			<a href="javascript:;">
				<span class="evo-main-text">15</span>
				<span class="evo-support-text">Due Next Month</span>
			</a>
		</div>
		<div>
			<a href="javascript:;">
				<span class="evo-main-text">132</span>
				<span class="evo-support-text">All Recently Updated</span>
			</a>
		</div>
	</div>
</div>
<!-- PRIMARY SUMMARY CONTAINER - ENDS -->