<!-- PRIMARY SUMMARY CONTAINER - BEGINS -->
<div class="evo-summary-ctn">
	<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-5">
		<li class="evo-summary-alert">
			<span class="evo-main-text"><i class="evo-icon-folder-open"></i></span>
			<span class="evo-support-text">Resources</span>
		</li>
		<li class="evo-summary-positive">
			<span class="evo-main-text"><i class="evo-icon-stats-up"></i></span>
			<span class="evo-support-text">Analysis</span>
		</li>
		<li>
			<span class="evo-main-text"><i class="evo-icon-bubbles"></i></span>
			<span class="evo-support-text">Conversations</span>
		</li>
		<li>
			<span class="evo-main-text"><i class="evo-icon-evo-library"></i></span>
			<span class="evo-support-text">Library</span>
		</li>
		<li>
			<span class="evo-main-text"><i class="evo-icon-search"></i></span>
			<span class="evo-support-text">Find a Client</span>
		</li>
	</ul>
</div>
<!-- PRIMARY SUMMARY CONTAINER - ENDS -->