<!-- INACTIVE CLIENT PROFILE CONTAINER - BEGINS -->
<div class="evo-box-adv evo-box-rnd evo-client-profile-inactive">
	<div class="evo-box-hdr">
		<div class="col-24">
			<div class="col-12 first">
				<img class="evo-hdr-icon evo-profile-icon" src="{{ "icon_client_large.png" | asset_url }}" alt="Client" height="49" width="49" />
				<h1 class="evo-hdr-rule">Resubi Exploration</h1>
				<h5 class="evo-secondary-hdr">Paris, France</h5>
			</div>
			<div class="col-12 hide-for-small-only">
				<div class="evo-data-list-ctn col-12 first">
					<ul class="evo-data-list">
						<li>
							<span class="evo-data-list-label">ICG Office:</span>
							<span class="evo-data-list-item">New York, NY USA</span>
						</li>
						<li>
							<span class="evo-data-list-label">GBM Coordinator:</span>
							<span class="evo-data-list-item">Arquimedez Pozo</span>
						</li>
						<li>
							<span class="evo-data-list-label">Countries:</span>
							<span class="evo-data-list-item">56</span>
						</li>
					</ul>
				</div>
				<div class="evo-data-list-ctn col-12">
					<ul class="evo-data-list">
						<li>
							<span class="evo-data-list-label">Premium:</span>
							<span class="evo-data-list-item">$505,456 (USD)</span>
						</li>
						<li>
							<span class="evo-data-list-label">Revenue:</span>
							<span class="evo-data-list-item">$865,123 (USD)</span>
						</li>
						<li>
							<span class="evo-data-list-label">In Progress Renewals:</span>
							<span class="evo-data-list-item">36</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

<!-- MOBILE NAVBAR - BEGINS -->
	<section class="col-24 evo-entity-profile-mb-navbar">
		<ul class="sm evo-nav-menus evo-menu-ctn" data-menu="click">
			<li class="evo-header-icon">
				<a href="javascript:;" class="js-evo-profile-container-mobile-menu-toggle" data-evo-profile-container-mobile-menu-toggle="1"><i class="evo-icon-menu3"></i></a>
			</li>
		</ul>
	</section>
<!-- MOBILE NAVBAR - ENDS -->

<!-- NAVBAR - BEGINS -->
	<section class="evo-navbar" id="evo-profile-container-mobile-menu-toggle-1">
		<div class="evo-navbar-adjust">
			<nav class="evo-tabbed-nav">
				<div class="first evo-navbar-col-1">
					<ul class="sm evo-nav-menus evo-menu-ctn" data-menu="click">
						<li><a href="javascript:;">Link 1</a></li>
						<li><a href="javascript:;">Link 2</a></li>
						<li><a class="evo-navbar-item-active" href="javascript:;">Link 3</a></li>
						<li><a href="javascript:;">Link 4</a></li>
						<li><a href="javascript:;">Link 5</a></li>
						<li><a href="javascript:;">Link 6</a></li>
						<li><a href="javascript:;">Link 7</a></li>
						<li>
							<a href="javascript:;">Link 8</a>
							<ul>
								<li><a href="javascript:;">Test</a></li>
								<li><a href="javascript:;">test</a></li>
								<li><a href="javascript:;">test</a></li>
								<li><a href="javascript:;">test</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</section>
<!-- NAVBAR - ENDS -->

	<div class="evo-box-bdy">
		{{ 3 | lorem_ipsum:'p' }}
	</div>
</div>
<!-- INACTIVE CLIENT PROFILE CONTAINER - ENDS -->