<!-- INACTIVE CLIENT PROFILE CONTAINER - BEGINS -->
<div class="mul-box-adv mul-box-rnd mul-client-profile-inactive">
	<div class="mul-box-hdr">
		<div class="col-24">
			<div class="col-12 first">
				<img class="mul-hdr-icon mul-profile-icon" src="{{ "icon_client_large.png" | asset_url }}" alt="Client" height="49" width="49" />
				<h1 class="mul-hdr-rule">Resubi Exploration</h1>
				<h5 class="mul-secondary-hdr">Paris, France</h5>
			</div>
			<div class="col-12 mul-hidden-small-mediaquery">
				<div class="mul-data-list-ctn col-12 first">
					<ul class="mul-data-list">
						<li>
							<span class="mul-data-list-label">ICG Office:</span>
							<span class="mul-data-list-item">New York, NY USA</span>
						</li>
						<li>
							<span class="mul-data-list-label">GBM Coordinator:</span>
							<span class="mul-data-list-item">Arquimedez Pozo</span>
						</li>
						<li>
							<span class="mul-data-list-label">Countries:</span>
							<span class="mul-data-list-item">56</span>
						</li>
					</ul>
				</div>
				<div class="mul-data-list-ctn col-12">
					<ul class="mul-data-list">
						<li>
							<span class="mul-data-list-label">Premium:</span>
							<span class="mul-data-list-item">$505,456 (USD)</span>
						</li>
						<li>
							<span class="mul-data-list-label">Revenue:</span>
							<span class="mul-data-list-item">$865,123 (USD)</span>
						</li>
						<li>
							<span class="mul-data-list-label">In Progress Renewals:</span>
							<span class="mul-data-list-item">36</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

<!-- MOBILE NAVBAR - BEGINS -->
	<section class="col-24 mul-entity-profile-mb-navbar">
		<ul class="sm mul-nav-menus mul-menu-ctn" data-menu="click">
			<li class="mul-header-icon">
				<a href="javascript:;" class="js-mul-toggle-content" data-mul-toggle="2"><i class="mul-icon-menu3"></i></a>
			</li>
		</ul>
	</section>
<!-- MOBILE NAVBAR - ENDS -->

<!-- NAVBAR - BEGINS -->
	<section class="mul-navbar" id="div2">
		<div class="mul-navbar-adjust">
			<nav class="mul-tabbed-nav">
				<div class="first mul-navbar-col-1">
					<ul class="sm mul-nav-menus mul-menu-ctn" data-menu="click">
						<li><a href="javascript:;">Link 1</a></li>
						<li><a href="javascript:;">Link 2</a></li>
						<li><a class="mul-navbar-item-active" href="javascript:;">Link 3</a></li>
						<li><a href="javascript:;">Link 4</a></li>
						<li><a href="javascript:;">Link 5</a></li>
						<li><a href="javascript:;">Link 6</a></li>
						<li><a href="javascript:;">Link 7</a></li>
						<li>
							<a href="javascript:;">Link 8</a>
							<ul>
								<li><a href="javascript:;">Test</a></li>
								<li><a href="javascript:;">test</a></li>
								<li><a href="javascript:;">test</a></li>
								<li><a href="javascript:;">test</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</section>
<!-- NAVBAR - ENDS -->

	<div class="mul-box-bdy">
		{{ 3 | lorem_ipsum:'p' }}
	</div>
</div>
<!-- INACTIVE CLIENT PROFILE CONTAINER - ENDS -->