<!-- USER PROFILE CONTAINER - BEGINS -->
<div class="mul-box-adv mul-box-rnd mul-user-profile">
	<div class="mul-box-hdr">
		<div class="col-24">
			<div class="col-14 first">
				<img class="mul-hdr-icon mul-profile-icon" src="{{ "icon_user_generic_large.png" | asset_url }}" alt="Inactive User" height="49" width="49" />
				<h1 class="mul-hdr-rule">Arquimedez Pozo</h1>
				<h5 class="mul-secondary-hdr">Principal - Health and Benefits</h5>
			</div>
			<div class="col-10 mul-hidden-small-mediaquery">
				<div class="mul-data-list-ctn col-12 first">
					<ul class="mul-data-list">
						<li>
							<span class="mul-data-list-label">SSN:</span>
							<span class="mul-data-list-item">***-***-2916</span>
						</li>
						<li>
							<span class="mul-data-list-label">Employee #:</span>
							<span class="mul-data-list-item">1928765</span>
						</li>
						<li>
							<span class="mul-data-list-label">Date of Birth:</span>
							<span class="mul-data-list-item">11/21/1963</span>
						</li>
					</ul>
				</div>
				<div class="mul-data-list-ctn col-12">
					<ul class="mul-data-list">
						<li>
							<span class="mul-data-list-label">Date of Hire:</span>
							<span class="mul-data-list-item">4/17/1999</span>
						</li>
						<li>
							<span class="mul-data-list-label">Termination:</span>
							<span class="mul-data-list-item">--</span>
						</li>
						<li>
							<span class="mul-data-list-label">Division:</span>
							<span class="mul-data-list-item">Northeast</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

<!-- MOBILE NAVBAR - BEGINS -->
	<section class="col-24 mul-entity-profile-mb-navbar">
		<ul class="sm mul-nav-menus mul-menu-ctn" data-menu="click">
			<li class="mul-header-icon">
				<a href="javascript:;" class="js-mul-profile-container-mobile-menu-toggle" data-mul-profile-container-mobile-menu-toggle="1"><i class="mul-icon-menu3"></i></a>
			</li>
		</ul>
	</section>
<!-- MOBILE NAVBAR - ENDS -->

<!-- NAVBAR - BEGINS -->
	<section class="mul-navbar" id="mul-profile-container-mobile-menu-toggle-1">
		<div class="mul-navbar-adjust">
			<nav class="mul-tabbed-nav">
				<div class="first mul-navbar-col-1">
					<ul class="sm mul-nav-menus mul-menu-ctn" data-menu="click">
						<li><a href="javascript:;">Link 1</a></li>
						<li><a href="javascript:;">Link 2</a></li>
						<li><a class="mul-navbar-item-active" href="javascript:;">Link 3</a></li>
						<li><a href="javascript:;">Link 4</a></li>
						<li><a href="javascript:;">Link 5</a></li>
						<li><a href="javascript:;">Link 6</a></li>
						<li><a href="javascript:;">Link 7</a></li>
						<li>
							<a href="javascript:;">Link 8</a>
							<ul>
								<li><a href="javascript:;">Test</a></li>
								<li><a href="javascript:;">test</a></li>
								<li><a href="javascript:;">test</a></li>
								<li><a href="javascript:;">test</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</section>
<!-- NAVBAR - ENDS -->

	<div class="mul-box-bdy">
		{{ 3 | lorem_ipsum:'p' }}
	</div>
</div>
<!-- USER PROFILE CONTAINER - ENDS -->