<!-- LOCATION PROFILE CONTAINER - BEGINS -->
<div class="mul-box-adv mul-box-rnd mul-location-profile">
	<div class="mul-box-hdr">
		<div class="col-24">
			<div class="col-14 first">
				<img class="mul-hdr-icon mul-profile-icon" src="{{ "icon_flag_brazil_large.png" | asset_url }}" alt="Brazil" height="49" width="49" />
				<h1 class="mul-hdr-rule">Brazil</h1>
				<h5 class="mul-secondary-hdr">Global</h5>
			</div>
			<div class="col-10 mul-hidden-small-mediaquery">
				<div class="mul-data-list-ctn col-12 first">
					<ul class="mul-data-list">
						<li>
							<span class="mul-data-list-label">Lead Operator:</span>
							<span class="mul-data-list-item">TPP</span>
						</li>
						<li>
							<span class="mul-data-list-label">MMB Colleagues:</span>
							<span class="mul-data-list-item">15</span>
						</li>
						<li>
							<span class="mul-data-list-label">IBD Leader:</span>
							<span class="mul-data-list-item">Auggie Schmitt</span>
						</li>
					</ul>
				</div>
				<div class="mul-data-list-ctn col-12">
					<ul class="mul-data-list">
						<li>
							<span class="mul-data-list-label">Your Accounts:</span>
							<span class="mul-data-list-item">2</span>
						</li>
						<li>
							<span class="mul-data-list-label">Policies:</span>
							<span class="mul-data-list-item">85</span>
						</li>
						<li>
							<span class="mul-data-list-label">Revenue Amt:</span>
							<span class="mul-data-list-item">$200,000 (USD)</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

<!-- MOBILE NAVBAR - BEGINS -->
	<section class="col-24 mul-entity-profile-mb-navbar">
		<ul class="sm mul-nav-menus mul-menu-ctn js-mul-menus">
			<li class="mul-header-icon">
				<a href="javascript:;" class="js-mul-toggle-content" data-mul-toggle="2"><i class="mul-icon-menu3"></i></a>
			</li>
		</ul>
	</section>
<!-- MOBILE NAVBAR - ENDS -->

<!-- NAVBAR - BEGINS -->
	<section class="mul-navbar" id="div2">
		<div class="mul-navbar-adjust">
			<nav class="mul-tabbed-nav">
				<div class="first mul-navbar-col-1">
					<ul class="sm mul-nav-menus mul-menu-ctn js-mul-menus">
						<li><a href="javascript:;">Link 1</a></li>
						<li><a href="javascript:;">Link 2</a></li>
						<li><a class="mul-navbar-item-active" href="javascript:;">Link 3</a></li>
						<li><a href="javascript:;">Link 4</a></li>
						<li><a href="javascript:;">Link 5</a></li>
						<li><a href="javascript:;">Link 6</a></li>
						<li><a href="javascript:;">Link 7</a></li>
						<li>
							<a href="javascript:;">Link 8</a>
							<ul>
								<li><a href="javascript:;">Test</a></li>
								<li><a href="javascript:;">test</a></li>
								<li><a href="javascript:;">test</a></li>
								<li><a href="javascript:;">test</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</section>
<!-- NAVBAR - ENDS -->

	<div class="mul-box-bdy">
		{{ 3 | lorem_ipsum:'p' }}
	</div>
</div>
<!-- LOCATION PROFILE CONTAINER - ENDS -->