<!-- PLAN PROFILE CONTAINER - BEGINS -->
<div class="evo-box-adv evo-box-rnd evo-plan-profile">
	<div class="evo-box-hdr">
		<div class="col-24">
			<div class="col-12 first">
				<img class="evo-hdr-icon evo-profile-icon" src="{{ "icon_product_plan_large.png" | asset_url }}" alt="Product Plan" height="49" width="49" />
				<h1 class="evo-hdr-rule">Medical PPO High Opt Plan</h1>
				<h5 class="evo-secondary-hdr">Product: Major Medical</h5>
			</div>
			<div class="col-12 hide-for-small-only">
				<div class="evo-data-list-ctn col-14 first">
					<ul class="evo-data-list">
						<li>
							<span class="evo-data-list-label">Status:</span>
							<span class="evo-data-list-item">Active</span>
						</li>
						<li>
							<span class="evo-data-list-label">Effective Dates:</span>
							<span class="evo-data-list-item">1-Jan-2014 to 31-Dec-2014</span>
						</li>
					</ul>
				</div>
				<div class="evo-data-list-ctn col-10">
					<ul class="evo-data-list">
						<li>
							<span class="evo-data-list-label">Policy:</span>
							<span class="evo-data-list-item">28373766</span>
						</li>
						<li>
							<span class="evo-data-list-label">Carrier:</span>
							<span class="evo-data-list-item">Aetna Insurance Co.</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

<!-- MOBILE NAVBAR - BEGINS -->
	<section class="col-24 evo-entity-profile-mb-navbar">
		<ul class="sm evo-nav-menus evo-menu-ctn" data-menu="click">
			<li class="evo-header-icon">
				<a href="javascript:;" class="js-evo-profile-container-mobile-menu-toggle" data-evo-profile-container-mobile-menu-toggle="1"><i class="evo-icon-menu3"></i></a>
			</li>
		</ul>
	</section>
<!-- MOBILE NAVBAR - ENDS -->

<!-- NAVBAR - BEGINS -->
	<section class="evo-navbar" id="evo-profile-container-mobile-menu-toggle-1">
		<div class="evo-navbar-adjust">
			<nav class="evo-tabbed-nav">
				<div class="first evo-navbar-col-1">
					<ul class="sm evo-nav-menus evo-menu-ctn" data-menu="click">
						<li><a href="javascript:;">Link 1</a></li>
						<li><a href="javascript:;">Link 2</a></li>
						<li><a class="evo-navbar-item-active" href="javascript:;">Link 3</a></li>
						<li><a href="javascript:;">Link 4</a></li>
						<li><a href="javascript:;">Link 5</a></li>
						<li><a href="javascript:;">Link 6</a></li>
						<li><a href="javascript:;">Link 7</a></li>
						<li>
							<a href="javascript:;">Link 8</a>
							<ul>
								<li><a href="javascript:;">Test</a></li>
								<li><a href="javascript:;">test</a></li>
								<li><a href="javascript:;">test</a></li>
								<li><a href="javascript:;">test</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</section>
<!-- NAVBAR - ENDS -->

	<div class="evo-box-bdy">
		{{ 3 | lorem_ipsum:'p' }}
	</div>
</div>
<!-- PLAN PROFILE CONTAINER - ENDS -->