<!-- PRODUCT PROFILE CONTAINER - BEGINS -->
<div class="mul-box-adv mul-box-rnd mul-product-profile">
	<div class="mul-box-hdr">
		<div class="col-24">
			<div class="col-12 first">
				<img class="mul-hdr-icon mul-profile-icon" src="{{ "icon_product_profile_large.png" | asset_url }}" alt="Product Profile" height="49" width="49" />
				<h1 class="mul-hdr-rule">Major Medical</h1>
				<h5 class="mul-secondary-hdr">Content place holder</h5>
			</div>
			<div class="col-12 mul-hidden-small-mediaquery">
				<div class="mul-data-list-ctn col-14 first">
					<ul class="mul-data-list">
						<li>
							<span class="mul-data-list-label">Status:</span>
							<span class="mul-data-list-item">Active</span>
						</li>
						<li>
							<span class="mul-data-list-label">Effective Dates:</span>
							<span class="mul-data-list-item">1-Jan-2014 to 31-Dec-2014</span>
						</li>
					</ul>
				</div>
				<div class="mul-data-list-ctn col-10">
					<ul class="mul-data-list">
						<li>
							<span class="mul-data-list-label">Policy:</span>
							<span class="mul-data-list-item">28373766</span>
						</li>
						<li>
							<span class="mul-data-list-label">Carrier:</span>
							<span class="mul-data-list-item">Aetna Insurance Co.</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

<!-- MOBILE NAVBAR - BEGINS -->
	<section class="col-24 mul-entity-profile-mb-navbar">
		<ul class="sm mul-nav-menus mul-menu-ctn" data-menu="click">
			<li class="mul-header-icon">
				<a href="javascript:;" class="js-mul-toggle-content" data-mul-toggle="2"><i class="mul-icon-menu3"></i></a>
			</li>
		</ul>
	</section>
<!-- MOBILE NAVBAR - ENDS -->

<!-- NAVBAR - BEGINS -->
	<section class="mul-navbar" id="div2">
		<div class="mul-navbar-adjust">
			<nav class="mul-tabbed-nav">
				<div class="first mul-navbar-col-1">
					<ul class="sm mul-nav-menus mul-menu-ctn" data-menu="click">
						<li><a href="javascript:;">Link 1</a></li>
						<li><a href="javascript:;">Link 2</a></li>
						<li><a class="mul-navbar-item-active" href="javascript:;">Link 3</a></li>
						<li><a href="javascript:;">Link 4</a></li>
						<li><a href="javascript:;">Link 5</a></li>
						<li><a href="javascript:;">Link 6</a></li>
						<li><a href="javascript:;">Link 7</a></li>
						<li>
							<a href="javascript:;">Link 8</a>
							<ul>
								<li><a href="javascript:;">Test</a></li>
								<li><a href="javascript:;">test</a></li>
								<li><a href="javascript:;">test</a></li>
								<li><a href="javascript:;">test</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</section>
<!-- NAVBAR - ENDS -->

	<div class="mul-box-bdy">
		{{ 3 | lorem_ipsum:'p' }}
	</div>
</div>
<!-- PRODUCT PROFILE CONTAINER - ENDS -->