<!-- SECONDARY SUMMARY CONTAINER - BEGINS -->
<div class="mul-summary-ctn mul-secondary-summary-ctn">
	<div class="mul-summary-ctn-row">
		<div class="mul-summary-ctn-alert-negative">
			<a href="javascript:;">
				<span class="mul-main-text"><i class="mul-icon-folder-open"></i></span>
				<span class="mul-support-text">Resources</span>
			</a>
		</div>
		<div class="mul-summary-ctn-alert-positive">
			<a href="javascript:;">
				<span class="mul-main-text"><i class="mul-icon-stats-up"></i></span>
				<span class="mul-support-text">Analysis</span>
			</a>
		</div>
		<div>
			<a href="javascript:;">
				<span class="mul-main-text"><i class="mul-icon-bubbles"></i></span>
				<span class="mul-support-text">Conversations</span>
			</a>
		</div>
		<div>
			<a href="javascript:;">
				<span class="mul-main-text"><i class="mul-icon-mul-library"></i></span>
				<span class="mul-support-text">Library</span>
			</a>
		</div>
		<div>
			<a href="javascript:;">
				<span class="mul-main-text"><i class="mul-icon-search"></i></span>
				<span class="mul-support-text">Find a Client</span>
			</a>
		</div>
	</div>
</div>
<!-- SECONDARY SUMMARY CONTAINER - ENDS -->