<!-- SECONDARY SUMMARY CONTAINER - BEGINS -->
<div class="evo-summary-ctn evo-secondary-summary-ctn">
	<div class="evo-summary-ctn-row">
		<div class="evo-summary-ctn-alert-negative">
			<a href="javascript:;">
				<span class="evo-main-text"><i class="evo-icon-folder-open"></i></span>
				<span class="evo-support-text">Resources</span>
			</a>
		</div>
		<div class="evo-summary-ctn-alert-positive">
			<a href="javascript:;">
				<span class="evo-main-text"><i class="evo-icon-stats-up"></i></span>
				<span class="evo-support-text">Analysis</span>
			</a>
		</div>
		<div>
			<a href="javascript:;">
				<span class="evo-main-text"><i class="evo-icon-bubbles"></i></span>
				<span class="evo-support-text">Conversations</span>
			</a>
		</div>
		<div>
			<a href="javascript:;">
				<span class="evo-main-text"><i class="evo-icon-evo-library"></i></span>
				<span class="evo-support-text">Library</span>
			</a>
		</div>
		<div>
			<a href="javascript:;">
				<span class="evo-main-text"><i class="evo-icon-search"></i></span>
				<span class="evo-support-text">Find a Client</span>
			</a>
		</div>
	</div>
</div>
<!-- SECONDARY SUMMARY CONTAINER - ENDS -->