<!-- SLIDER - VERTICAL - RANGE - FIXED MIN - BEGINS -->
<div class="evo-slider-range">
	<div class="evo-slider-range-label">
		<label for="">Max number:</label>
		<input class="evo-slider-range-input" id="" readonly="true" name="" value="" type="text" title="" />
	</div>
	<div class="evo-slider" data-slider="js-evo-slider-range-vertical-min-example"></div>
</div>
<!-- SLIDER - VERTICAL - RANGE - FIXED MIN - ENDS -->