<!-- SLIDER - HORIZONTAL - RANGE - FIXED MAX - BEGINS -->
<div class="mul-slider-range">
	<div class="mul-slider-range-label">
		<label for="">Min Number:</label>
		<input class="mul-slider-range-input" id="" readonly="true" name="" value="" type="text" title="" />
	</div>
	<div class="mul-slider" data-slider="js-mul-slider-range-horizontal-max-example"></div>
</div>
<!-- SLIDER - HORIZONTAL - RANGE - FIXED MAX - ENDS -->