<!-- TABS - BEGIN -->
	<ul class="tabs evo-tabs" data-tab>
		<li class="tab-title active"><a href="#tabs1"><span class="text">Tab 1</span></a></li>
		<li class="tab-title"><a href="#tabs2"><span class="text">Tab 2</span></a></li>
		<li class="tab-title"><a href="#tabs3"><span class="text">Tab 3</span></a></li>
		<li class="tab-title"><a href="#tabs4"><span class="text">Tab 4</span></a></li>
	</ul>
	<div class="tabs-content evo-tabs-content">
		<div class="content active" id="tabs1">{{ 1 | lorem_ipsum:'p' }}</div>
		<div class="content" id="tabs2">{{ 1 | lorem_ipsum:'p' }}</div>
		<div class="content" id="tabs3">{{ 1 | lorem_ipsum:'p' }}</div>
		<div class="content" id="tabs4">{{ 1 | lorem_ipsum:'p' }}</div>
	</div>
<!-- TABS - END -->