<!-- TABS - BEGINS -->
<dl class="tabs evo-tabs" data-tab>
	<dd class="active"><a href="#panel1">Tab 1</a></dd>
	<dd><a href="#panel2">Tab 2</a></dd>
	<dd><a href="#panel3">Tab 3</a></dd>
	<dd><a href="#panel4">Tab 4</a></dd>
</dl>
<div class="tabs-content evo-tabs-content">
	<div class="content active" id="panel1">{{ 1 | lorem_ipsum:'p' }}</div>
	<div class="content" id="panel2">{{ 1 | lorem_ipsum:'p' }}</div>
	<div class="content" id="panel3">{{ 1 | lorem_ipsum:'p' }}</div>
	<div class="content" id="panel4">{{ 1 | lorem_ipsum:'p' }}</div>
</div>
<!-- TABS - ENDS -->