<!-- TILES - BEGINS -->
<div class="mul-box-adv mul-tile-ctn">
	<div class="mul-box-hdr js-mul-width-check js-mul-toggle-content-icon" data-mul-toggle="1">
		<i class="mul-icon-plus-circle mul-icon-position-left mul-float-right mul-tile-icon-position" href="javascript:;" title="Toggle Open/Closed"></i>
		<h4 class="mul-hdr-rule">
			<span>Header</span>
		</h4>
	</div>
	<div class="mul-box-bdy mul-scroll-pane js-mul-scroll-pane" id="div1">
		{{ 6 | lorem_ipsum: 'p' }}
	</div>
</div>
<!-- TILES - ENDS -->