<!-- TOOLTIP - BEGINS -->
<a href="javascript:;">
	<span data-tooltip aria-haspopup="true" class="has-tip tip-top" title="Tooltips are awesome, you should totally use them!">Tooltip</span>	
</a>
<!-- TOOLTIP - ENDS -->	