<!-- TOOLTIP - BEGINS -->
<p class="col-24">
	<a class="mul-icon-mul-task-reassign mul-icon-size-medium mul-icon-position-left js-mul-tooltip js-mul-tooltip-hover-top-object" href="javascript:;" title="Reassign"></a>
	<a class="mul-icon-mul-task-download mul-icon-size-medium mul-icon-position-left js-mul-tooltip js-mul-tooltip-hover-top-object" href="javascript:;" title="Delegate"></a>
	<a class="mul-icon-bubble mul-icon-size-medium mul-icon-position-left js-mul-tooltip js-mul-tooltip-hover-top-object" href="javascript:;" title="Comment"></a>
	<a class="mul-icon-share mul-icon-size-medium mul-icon-position-left js-mul-tooltip js-mul-tooltip-hover-top-object" href="javascript:;" title="Export"></a>
</p>
<!-- TOOLTIP - ENDS -->