<!-- VERTICAL STEPPER - BEGINS -->
<ol class="evo-stepper evo-vertical-stepper">
	<li class="evo-steps evo-stepper-completed">
		<a href="javascript:;">
			<div class="evo-badge">1</div>
			<span class="evo-stepper-text">Get Started</span>
		</a>
	</li>
	<li class="evo-steps evo-stepper-active">
		<div class="evo-badge">2</div>
		<span class="evo-stepper-text">Select Investments</span>
	</li>
	<li class="evo-steps">
		<div class="evo-badge">3</div>
		<span class="evo-stepper-text">First Options</span>
	</li>
	<li class="evo-steps">
		<div class="evo-badge">4</div>
		<span class="evo-stepper-text">Second Options</span>
	</li>
	<li class="evo-steps">
		<div class="evo-badge">5</div>
		<span class="evo-stepper-text">Submit &amp; Save</span>
	</li>
</ol>
<!-- VERTICAL STEPPER - ENDS -->