<!-- VERTICAL STEPPER - BEGINS -->
<ol class="mul-stepper mul-vertical-stepper">
	<li class="mul-steps mul-stepper-completed">
		<a href="javascript:;">
			<div class="mul-badge">1</div>
			<span class="mul-stepper-text">Get Started</span>
		</a>
	</li>
	<li class="mul-steps mul-stepper-active">
		<div class="mul-badge">2</div>
		<span class="mul-stepper-text">Select Investments</span>
	</li>
	<li class="mul-steps">
		<div class="mul-badge">3</div>
		<span class="mul-stepper-text">First Options</span>
	</li>
	<li class="mul-steps">
		<div class="mul-badge">4</div>
		<span class="mul-stepper-text">Second Options</span>
	</li>
	<li class="mul-steps">
		<div class="mul-badge">5</div>
		<span class="mul-stepper-text">Submit &amp; Save</span>
	</li>
</ol>
<!-- VERTICAL STEPPER - ENDS -->