<section class="evo-hero-banner">
	<div class="evo-hero-banner-adjust">
		<div class="evo-hero-banner-content-ctn">

			<!-- HERO BANNER IMAGE CAROUSEL - BEGINS -->
			{% include '/objects/carousel' %}
			<!-- HERO BANNER IMAGE CAROUSEL - ENDS -->
			
		</div>
	</div>
</section>