/*------------------------------------------------------------------------------------------
Mercer Evolution - Site IE CSS
DATE - June 13, 2014
AUTHOR - Doug Fraize, Matthew Holmes, Vinod Bhatt
-------------------------------------------------------------------------------------------*/
/* TODO: add this to the menu system $zindexNavbarSubmenu:						!default; */
/*
$navLinkHeightLargeBreakpoint:				37px !default;
$navLinkFontSize:							18px !default;
$navLinkFontSizeLargeBreakpoint:			14px !default;
$navLinkLineHeight:							26px !default;
$navLinkLineHeightLargeBreakpoint:			20px !default;
$navBoxLinkHeightLargeBreakpoint:			30px !default;
$navBoxLinkFontSize:						14px !default;
$navBoxLinkFontSizeLargeBreakpoint:			($navBoxLinkFontSize - $baseFontSizeDifferenceLargeBreakpoint) !default;
$navBoxLinkLineHeight:						20px !default;
*/
/*=== WEBSITE IE STYLES ===================================================================*/
.ie9 {
  /*--- REFERENCE PAGES ---------------------------------------------------------------------*/
}
.ie9 .mul-ref-sliding-drawer-btn {
  border-radius: 0;
}
