/*------------------------------------------------------------------------------------------
Mercer Evolution - Site CSS
DATE - January 13, 2015
AUTHOR - Doug Fraize, Matthew Holmes, Doug Richar, Vinod Bhatt
-------------------------------------------------------------------------------------------*/

// ==========================================================================================
// CORE SASS IMPORTS
// ==========================================================================================

@import	"core/global/color_variables",
		"core/foundation/foundation/settings",
		"core/global/variables",
		"core/global/functions",
		"core/global/mixins";


// ==========================================================================================
// SITE IMPORTS
// ==========================================================================================

@import	"partials/global/site_settings",
		"partials/global/site_variables",
		"partials/global/site_functions",
		"partials/base/site_icons";
		

/*=== WEBSITE STYLES ======================================================================*/

/*--- SITE GLOBAL -------------------------------------------------------------------------*/

// FIXES FLASH OF UNSTYLED CONTENT BUG - WHERE PAGE LOADS FASTER THAN JS AND MODERNIZR
// HIDE PAGE WITH CSS CLASS PROVIDED BY MODERNIZR AND WHEN DOCUMENT IS READY, SHOW PAGE WITH JS
html.evo-mod-js							{display:none;}

.see-context-link						{font-size: rem-calc(13);}

.img-border								{border: 1px solid $gray-mid;}



/*--- DEMO STYLES -------------------------------------------------------------------------*/
.evo-masthead			{
	.evo-masthead-adjust	{
		.evo-logo-col-1			{
			.evo-primary-logo		{
				[class*="evo-icon"]		{
										color: $white;
										top: 6px;
										}
									}
								}
							}
						}


/*--- REFERENCE PAGES ---------------------------------------------------------------------*/

// ALTERNATE VIEWS BADGE
.evo-ref-alternate-views-badge.ui-tabs	{
										margin-top: 5px;
	.evo-btn-group-horizontal				{
		.evo-btn								{
												@include background-gradient($gray-lighter, $gray-lighter);
												border-color: $gray-light;
												font-size: 13px;
			a										{
													padding: 13px 9px 14px 14px; 
				[class^="evo-icon-"]					{display: block;}
													}
			&:hover									{@include background-gradient($gray-light, $gray-light);}
			&.ui-tabs-active						{
													@include background-gradient(#fef8e3, #fef8e3);
													border-color: #f9eec7;
													}
												}
											}
	.ui-tabs-panel							{
		p, ul, ol, li, dt, dd					{
												font-size: 1rem;
												}
		.prettyprint							{
			li 										{
													font-size: 1rem;
													}
												}
											}
										}
// NAVBAR
.evo-navbar								{
	.evo-navbar-adjust						{
		nav.evo-text-nav						{
			.evo-nav-menus							{
				.navbar-site-menu						{
					h4										{
															border-bottom: 1px dotted $gray-mid;
															margin-bottom: 4px;
															}
					dl										{
															margin: 0 0 5px 0;
															padding: 0;
						dd										{
																margin: 0;
																padding: 0 0 3px 0;
							a										{
																	color: $white;
																	font-size: rem-calc(12);
																	padding: 0;
																	margin: 0;
								&:hover									{background-color: $transparent;}
																	}
																}
															}
														}
													}
												}
											}
										}

// STYLES FOR THE DEMO SEARCH IN THE MENU NAVBAR
.menu-search							{
	.menu-search-btn						{
											border-color: $green-darker;
											padding: 4px 9px;
											margin-top: -1px;
											min-width: 100%;
		[class*='evo-icon']						{color: $white !important;}
											}
										}

// EXAMPLES
.evo-ref-example						{
	.evo-ref-example-hdr					{margin: 40px 0 25px 0;}
	.evo-ref-example-content				{min-height: 250px;}
	.evo-ref-example-box					{background-color: $white;}
										}

// DEVELOPER - SLIDING DRAWER
.evo-ref-sliding-drawer-btn				{
										@include border-radius(4px);
										background-color: $gray-lightest;
										border: 1px solid $gray-mid;
										padding: 5px 3px 5px 2px;
										width: 28px;
										height: 28px;
										float: right;
										top: -5px;
										cursor: pointer;
										}
.evo-ref-sliding-drawer					{
										@include box-shadow(inset 0, 0, 10px, #000);
										background-color: $gray-darkest;
										overflow-y: hidden !important;
	.evo-ref-sliding-drawer-hdr				{
											@include box-shadow(0, 0, 10px, #000);
											position: fixed;
											top: 0;
											width: 250px;
											min-width: 250px;
											padding: $evo-base-padding $evo-base-padding 0 $evo-base-padding;
											background-color: $gray-dark;
		h3										{
												color: $white;
												padding: 0 0 7px 0;
												position: relative;
												top: -4px;
												}
		.evo-ref-sliding-drawer-close-btn		{
												color: $white;
												cursor: pointer;
												top: 0;
												right: 12px;
												}
											}

	.mCustomScrollbar						{
											padding-top: 103px;
		.mCSB_container							{margin-right: 0;}
											}

	h4,
	h5										{
											color: $white;
											padding-left: 10px;
											}
	h4:first-child							{margin-top: 7px;}
	h5										{margin-bottom: 4px;}

	.evo-vertical-list						{
											margin-bottom: $evo-base-margin;
		&:last-child							{margin-bottom: 100px;}
		dd										{
												margin: 0;
			a										{
													color: $white;
													display: block;
													font-size: rem-calc(12);
													line-height: rem-calc(28);
													padding: 0 12px;
				&:hover									{
														@include href-link-hover(none);
														background-color: $gray-darker;
														}
													}
												}
											}
										}


/*--- HOMEPAGE ----------------------------------------------------------------------------*/
[class*="banding-section"]				{font-size: 1rem;}


.evo-alternate-views-badge.ui-tabs		{
	.banding-section-1						{
											@include background-gradient-horizontal($mastheadBackgroundStartColor, $mastheadBackgroundEndColor);
		h1										{
												color: $white;
												font-size: rem-calc(51);
												font-family: $evo-font-thin-stack;
												padding-top: 20px;
												}
		h3										{
												color: $white;
												font-family: $evo-font-thin-stack;
												padding-bottom: 70px;
												}
		.evo-icon								{
												color: $white;
												display: inline-block;
												top: -12px;
												font-size: rem-calc(140);
												}
		.evo-btn-group-horizontal				{@include clearfix;}
											}
										}

.banding-section-2						{
	h1										{
											text-align: center;
											margin-bottom: 20px;
											}
	[class*="evo-icon"]						{
											color: $gray-darker;
											margin-bottom: 10px;
											}
	h3, p									{text-align: center;}
										}

.banding-section-3						{
										color: $sapphire-dark;
	h1, h3									{color: $sapphire-dark;}
	[class*="evo-icon"]						{color: $sapphire-dark;}
	.evo-icon-puzzle						{
											@include rotate(35deg);
											top: -7px;
											}
										}

.banding-section-4						{
	li										{line-height: 20px;}
	[class*="evo-icon"]						{
											color: $gray-darkest;
											margin-bottom: 30px;
											top: 12px;
											}
										}

.banding-section-5						{
	h1, p									{text-align: center;}
	.evo-horizontal-list					{
											text-align: center;
		&:last-child							{
			li										{margin-bottom: 0;}
												}
		li										{
												color: $citrine-dark;
												font-size: rem-calc(24);
												margin-right: 85px;
												margin-bottom: 35px;
			&:last-child							{margin-right: 0;}
												}
											}
										}

.banding-section-6						{
										font-size: 1em;
	.hp-layout								{
		h5										{margin-bottom: 7px;}
		.evo-vertical-list						{margin-bottom: $evo-base-margin;}
											}
										}

.hp-content-column						{
	dd										{
											margin-left: 0;
		[class*="evo-icon"]						{float: right;}
											}
	.evo-tabs.ui-tabs						{
		.ui-tabs-nav							{
			.ui-state-default						{
													@include background-gradient($white, $white);
													border: 0;
				a										{
														margin: 0;
														padding: 0;
														}
													}
												}
		.ui-tabs-panel							{border: 0;}
											}
										}


/*--- LAYOUT/GRIDS PAGE -------------------------------------------------------------------*/
.unit									{
										@include border-radius(3px);
										margin-bottom:15px;
										background-color:#e7e7e7;
										border:1px solid #ccc;
										}


/*--- TYPE PAGE ---------------------------------------------------------------------------*/
.evo-ref-type-table						{
	td.evo-ref-type-example					{font-size: 1rem !important;}
										}
.evo-ref-hyphen-demo					{@include hyphens(auto);}


/*--- ICONS PAGE --------------------------------------------------------------------------*/
#icons-ctn								{
	#icon-font-filter						{width: 250px;}
										}
.icons-large-on							{
	i[class^="evo-icon-"]					{
											font-size: (1rem*3);
											margin: 0 auto;
											display: block;
											}
										}
.icon-table-cell-reverse-background		{background-color: $blue-gray-dark !important;}


/*--- COLOR PAGE --------------------------------------------------------------------------*/
.color-block
										{
										height: 50px;
										text-align: center;
										color: $white;
										padding-top: 15px;
										text-shadow: 1px 1px 1px $gray-darkest;
										}

// COLORS
.gray
										{
	.color-block-01							{background-color: $black;}
	.color-block-02							{background-color: $gray-darkest;}
	.color-block-03							{background-color: $gray-darker;}
	.color-block-04							{background-color: $gray-dark;}
	.color-block-05							{background-color: $gray-mid;}
	.color-block-06							{background-color: $gray-light;}
	.color-block-07							{background-color: $gray-lighter;}
	.color-block-08							{background-color: $gray-lightest;}
										}

.blue-gray
										{
	.color-block-01							{background-color: $blue-gray;}
	.color-block-02							{background-color: $blue-gray-darkest;}
	.color-block-03							{background-color: $blue-gray-darker;}
	.color-block-04							{background-color: $blue-gray-dark;}
	.color-block-05							{background-color: $blue-gray-mid-dark;}
	.color-block-06							{background-color: $blue-gray-mid-light;}
	.color-block-07							{background-color: $blue-gray-light;}
	.color-block-08							{background-color: $blue-gray-lighter;}
	.color-block-09							{background-color: $blue-gray-lightest;}
										}

.sapphire
										{
	.color-block-01							{background-color: $sapphire;}
	.color-block-02							{background-color: $sapphire-dark;}
	.color-block-03							{background-color: $sapphire-mid;}
	.color-block-04							{background-color: $sapphire-light;}
										}

.iolite
										{
	.color-block-01							{background-color: $iolite;}
	.color-block-02							{background-color: $iolite-dark;}
	.color-block-03							{background-color: $iolite-mid;}
	.color-block-04							{background-color: $iolite-light;}
										}

.amethyst
										{
	.color-block-01							{background-color: $amethyst;}
	.color-block-02							{background-color: $amethyst-dark;}
	.color-block-03							{background-color: $amethyst-mid;}
	.color-block-04							{background-color: $amethyst-light;}
										}

.ruby
										{
	.color-block-01							{background-color: $ruby;}
	.color-block-02							{background-color: $ruby-dark;}
	.color-block-03							{background-color: $ruby-mid;}
	.color-block-04							{background-color: $ruby-light;}
										}

.garnet
										{
	.color-block-01							{background-color: $garnet;}
	.color-block-02							{background-color: $garnet-dark;}
	.color-block-03							{background-color: $garnet-mid;}
	.color-block-04							{background-color: $garnet-light;}
										}

.citrine
										{
	.color-block-01							{background-color: $citrine;}
	.color-block-02							{background-color: $citrine-dark;}
	.color-block-03							{background-color: $citrine-mid;}
	.color-block-04							{background-color: $citrine-light;}
										}

.topaz
										{
	.color-block-01							{background-color: $topaz;}
	.color-block-02							{background-color: $topaz-dark;}
	.color-block-03							{background-color: $topaz-mid;}
	.color-block-04							{background-color: $topaz-light;}
										}

.green
										{
	.color-block-01							{background-color: $green;}
	.color-block-02							{background-color: $green-darker;}
	.color-block-03							{background-color: $green-dark;}
	.color-block-04							{background-color: $green-mid;}
	.color-block-05							{background-color: $green-light;}
	.color-block-06							{background-color: $green-lighter;}
	.color-block-07							{background-color: $green-lightest;}
										}

.blue-green
										{
	.color-block-01							{background-color: $blue-green;}
	.color-block-02							{background-color: $blue-green-dark;}
	.color-block-03							{background-color: $blue-green-mid;}
	.color-block-04							{background-color: $blue-green-light;}
										}



.colors									{
										border: 1px dotted $gray-mid;
										display: block;
										height: 40px;
										width: 100%;
										}

.evo-navbar-color						{@include background-gradient($gray-lightest, $gray-mid);}

// TABLE COLORS
.table-header-row						{background-color: $tableThBackgroundColor;}
.table-subheader-row					{background-color: $tableSubHeaderBackgroundColor;}
.table-header-row-color					{background-color: $sapphire-light;}
.table-subheader-row-color				{background-color: #E8F0F7;}
.table-data-row-01						{background-color: $white;}
.table-data-row-02						{background-color: $tableOddTdBackgroundColor;}
.table-subtotal-row						{background-color: $tableSubTotalBackgroundColor;}
.table-total-row						{background-color: $tableTotalBackgroundColor;}
.table-sorting-row-01					{background-color: $tableOddTdBackgroundColor;}
.table-sorting-row-02					{background-color: $tableOddTdSortedBackgroundColor;}
.table-header-border					{background-color: #A9BCD3;}
.table-row-border						{background-color: $tableTdBorderColor;}
.table-subheader-border					{background-color: #C3D2E5;}


/*--- CORP LOGOS PAGE ----------------------------------------------------------------------*/
.corp-logo-background-color				{background-color: $blue-gray !important;}


/*--- PAGINATION PAGE ----------------------------------------------------------------------*/
.pagination-hdr							{margin-top: 5px;}


/*--- ALTERNATE VIEWS BADGE PAGE -----------------------------------------------------------*/
.evo-alternate-views-badge-feature-ctn	{min-height: 365px !important;}


/*--- LOGIN DEMOS ---------------------------------------------------------------------------*/
.evo-layout-login-background-1-demo		{background-image: url("../images/login_custom_bkgd_1.jpg");}
.evo-layout-login-background-2-demo		{background-image: url("../images/login_custom_bkgd_2.jpg");}
.evo-layout-login-background-3-demo		{background-image: url("../images/login_custom_bkgd_3.jpg");}


/*--- IMAGE CONTENT OVERLAY DEMOS ----------------------------------------------------------*/
.evo-image-content-overlay-background-image
										{background: url("../images/core/objects/carousel/carousel_image1.jpg") no-repeat top center;}

.evo-image-content-overlay-background-image-1
										{background: url("../images/core/objects/carousel/carousel_image1.jpg") no-repeat top center;}
.evo-image-content-overlay-background-image-2
										{background: url("../images/core/objects/carousel/carousel_image2.jpg") no-repeat top center;}
.evo-image-content-overlay-background-image-3
										{background: url("../images/core/objects/carousel/carousel_image3.jpg") no-repeat top center;}


/*--- DEV QUICK REFERENCE ------------------------------------------------------------------*/
.color-vars-quick-reference-table		{
	tr										{color: $white;}
	.default-text-color						{color: $body-font-color;}
										}

.evo-footable.color-vars-quick-reference-table tbody > tr:nth-child(odd) > .evo-highlight
										{background-color: inherit !important;}

.evo-footable.color-vars-quick-reference-table .evo-highlight
										{background-color: inherit !important;}
										

/*=== MEDIA QUERIES =========================================================================*/
@import	"partials/global/responsive_small",
		"partials/global/responsive_medium",
		"partials/global/responsive_large",
		"partials/global/responsive_xlarge",
		"partials/global/responsive_xxlarge"
		;