/*------------------------------------------------------------------------------------------
Mercer Evolution - Site CSS
DATE - June 3, 2015
AUTHOR - Doug Fraize, Matthew Holmes
-------------------------------------------------------------------------------------------*/

// ==========================================================================================
// CORE SASS IMPORTS
// ==========================================================================================

@import	"core/global/color_variables",
		"core/foundation/foundation/settings",
		"core/global/variables",
		"core/global/functions",
		"core/global/mixins";

// ==========================================================================================
// SITE IMPORTS
// ==========================================================================================

@import	"partials/global/settings",
		"partials/global/variables",
		"partials/global/functions",
		"partials/base/icons";

/*=== WEBSITE STYLES ======================================================================*/

/*--- SITE GLOBAL -------------------------------------------------------------------------*/

// FIXES FLASH OF UNSTYLED CONTENT BUG - WHERE PAGE LOADS FASTER THAN JS AND MODERNIZR
// HIDE PAGE WITH CSS CLASS PROVIDED BY MODERNIZR AND WHEN DOCUMENT IS READY, SHOW PAGE WITH JS
html.evo-mod-js							{display:none;}

// CODE CONTENT STYLES
code									{
										@include border-radius(rem-calc(4));
										}


/*--- REFERENCE PAGES ---------------------------------------------------------------------*/

// EXAMPLES
.evo-ref-example						{
	.evo-ref-example-hdr					{margin: 40px 0 25px 0;}
	.evo-ref-example-content				{min-height: 250px;}
	.evo-ref-example-box					{background-color: $white;}
										}


/*--- HOMEPAGE ----------------------------------------------------------------------------*/
.hp-banding-section-1					{
	h1										{
											color: $white;
											font-size: rem-calc(51);
											font-family: $evo-font-thin-stack;
											}
	h3										{
											color: $white;
											font-family: $evo-font-thin-stack;
											padding-bottom: 70px;
											}
	.evo-icon								{
											color: $white;
											display: inline-block;
											top: -12px;
											font-size: rem-calc(140);
											}
	.evo-btn-group-horizontal				{@include clearfix;}
										}

.hp-banding-section-2					{
	h1										{
											text-align: center;
											margin-bottom: 20px;
											}
	[class*="evo-icon"]						{
											color: $gray-darker;
											margin-bottom: 10px;
											}
	h3, p									{text-align: center;}
										}

.hp-banding-section-3					{
										color: $sapphire-dark;
	h1, h3									{color: $sapphire-dark;}
	[class*="evo-icon"]						{color: $sapphire-dark;}
	.evo-icon-puzzle						{
											@include rotate(35deg);
											top: -7px;
											}
										}

.hp-banding-section-4					{
	li										{line-height: 20px;}
	[class*="evo-icon"]						{
											color: $gray-darkest;
											margin-bottom: 30px;
											top: 12px;
											}
										}

.hp-banding-section-5					{
	h1, p									{text-align: center;}
	.evo-horizontal-list					{
											text-align: center;
		&:last-child							{
			li										{margin-bottom: 0;}
												}
		li										{
												color: $citrine-dark;
												font-size: rem-calc(24);
												margin-right: 85px;
												margin-bottom: 35px;
			&:last-child							{margin-right: 0;}
												}
											}
										}

.hp-banding-section-6					{
										font-size: 1em;
	.hp-layout								{
		h5										{margin-bottom: 7px;}
		.evo-vertical-list						{margin-bottom: $evo-base-margin;}
											}
										}

.hp-content-column						{
	dd										{
											margin-left: 0;
		[class*="evo-icon"]						{float: right;}
											}
	.evo-tabs.ui-tabs						{
		.ui-tabs-nav							{
			.ui-state-default						{
													@include background-gradient($white, $white);
													border: 0;
				a										{
														margin: 0;
														padding: 0;
														}
													}
												}
		.ui-tabs-panel							{border: 0;}
											}
										}


/*--- LAYOUT/GRIDS PAGE -------------------------------------------------------------------*/
.grid-demo-styles						{
	.row									{
											border: 1px solid $gray-light;
											margin-bottom: $evo-base-margin;
											margin-left: 0 !important;
											margin-right: 0 !important;
											}
	.columns								{background-color: $gray-lightest;}
	.columns:nth-child(2n)					{background-color: $gray-lighter;}

	[class*="evo-icon-"]					{top: 3px;}

	[class*="small-block-grid-"]			{
		li										{
												background-color: $gray-lightest;
												border-top: 1px solid $gray-light;
												border-right: 1px solid $gray-light;
												border-bottom: 1px solid $gray-light;
												padding-top: rem-calc($evo-base-padding);
												text-align: center;
			&:nth-child(2n)							{background-color: $gray-lighter;}
			&:first-child							{border-left: 1px solid $gray-light;}
												}
											}
										}


/*--- TYPE PAGE ---------------------------------------------------------------------------*/
.evo-ref-type-table						{
	td.evo-ref-type-example					{font-size: 1rem !important;}
										}
.evo-ref-hyphen-demo					{@include hyphens(auto);}


/*--- ICONS PAGE --------------------------------------------------------------------------*/
#icons-ctn								{
	#icon-font-filter						{width: 250px;}
										}
.icons-large-on							{
	i[class^="evo-icon-"]					{
											font-size: (1rem*3);
											margin: 0 auto;
											display: block;
											}
										}
.icon-table-cell-reverse-background		{background-color: $blue-gray !important;}


/*--- COLOR PAGE --------------------------------------------------------------------------*/

// COLOR PALETTE SWATCH BOX
.color-block
										{
										height: 50px;
										text-align: center;
										color: $white;
										padding-top: 15px;
										text-shadow: 1px 1px 1px $gray-darkest;
										}

// COLOR SWATCH BOX
.colors									{
										border: 1px dotted $gray-mid;
										display: block;
										height: 40px;
										width: 100%;
										}

// TABLE COLORS
/*
.table-header-row						{background-color: $tableThBackgroundColor;}
.table-subheader-row					{background-color: $tableSubHeaderBackgroundColor;}
.table-header-row-color					{background-color: $sapphire-light;}
.table-subheader-row-color				{background-color: #E8F0F7;}
.table-data-row-01						{background-color: $white;}
.table-data-row-02						{background-color: $tableOddTdBackgroundColor;}
.table-subtotal-row						{background-color: $tableSubTotalBackgroundColor;}
.table-total-row						{background-color: $tableTotalBackgroundColor;}
.table-sorting-row-01					{background-color: $tableOddTdBackgroundColor;}
.table-sorting-row-02					{background-color: $tableOddTdSortedBackgroundColor;}
.table-header-border					{background-color: #A9BCD3;}
.table-row-border						{background-color: $tableTdBorderColor;}
.table-subheader-border					{background-color: #C3D2E5;}
*/

/*--- CORP LOGOS PAGE ----------------------------------------------------------------------*/
.corp-logo-background-color				{background-color: $blue-gray !important;}


/*--- PAGINATION PAGE ----------------------------------------------------------------------*/
.pagination-hdr							{margin-top: 5px;}


/*--- ALTERNATE VIEWS BADGE PAGE -----------------------------------------------------------*/
.evo-alternate-views-badge-feature-ctn	{min-height: 365px !important;}


/*--- LOGIN DEMOS ---------------------------------------------------------------------------*/
.evo-layout-login-background-1-demo		{background-image: url("../images/login_custom_bkgd_1.jpg");}
.evo-layout-login-background-2-demo		{background-image: url("../images/login_custom_bkgd_2.jpg");}
.evo-layout-login-background-3-demo		{background-image: url("../images/login_custom_bkgd_3.jpg");}


/*--- IMAGE CONTENT OVERLAY DEMOS ----------------------------------------------------------*/
.evo-image-content-overlay-background-image
										{background: url("../images/core/objects/carousel/carousel_image1.jpg") no-repeat top center;}

.evo-image-content-overlay-background-image-1
										{background: url("../images/core/objects/carousel/carousel_image1.jpg") no-repeat top center;}
.evo-image-content-overlay-background-image-2
										{background: url("../images/core/objects/carousel/carousel_image2.jpg") no-repeat top center;}
.evo-image-content-overlay-background-image-3
										{background: url("../images/core/objects/carousel/carousel_image3.jpg") no-repeat top center;}


/*--- DEV QUICK REFERENCE ------------------------------------------------------------------*/
.color-vars-quick-reference-table		{
	tr										{color: $white;}
	.default-text-color						{color: $body-font-color;}
										}

.evo-footable.color-vars-quick-reference-table tbody > tr:nth-child(odd) > .evo-highlight
										{background-color: inherit !important;}

.evo-footable.color-vars-quick-reference-table .evo-highlight
										{background-color: inherit !important;}

/*=== MEDIA QUERIES =========================================================================*/
@import	"partials/global/responsive_small",
		"partials/global/responsive_medium",
		"partials/global/responsive_large",
		"partials/global/responsive_xlarge",
		"partials/global/responsive_xxlarge"
		;