/*--------------------------------------------------------------------------------------------
Mercer Evolution - Site Theme CSS
DATE - June 13, 2014
AUTHOR - Doug Fraize, Matthew Holmes, Vinod Bhatt
--------------------------------------------------------------------------------------------*/

// ===========================================================================================
// CORE SASS IMPORTS
// ===========================================================================================

@import	"core/global/color_variables",
		"core/global/theme_variables",
		"core/global/variables",
		"core/global/functions",
		"core/global/mixins";


// ===========================================================================================
// SITE IMPORTS
// ===========================================================================================
@import	"partials/global/functions";


// ===========================================================================================
// SITE THEME IMPORTS
// ===========================================================================================
@import	"partials/global/theme_settings",
		"partials/global/theme_variables";


/*=== CORE THEME OVERRIDE STYLES ===========================================================*/

// ===========================================================================================
// GLOBAL
// ===========================================================================================

@if $use-helpers-theme == true{

	/*--- HELPERS THEME ------------------------------------------------------------------------*/

	/* FOOTNOTES */
	.mul-footnote							{color: $footnoteFontColor;}

	/* KEYLINES */
	.mul-keyline-right						{border-color: $keylineRightBorderRightColor;}
	.mul-keyline-left						{border-color: $keylineLeftBorderLeftColor;}

}//endif


// ===========================================================================================
// BASE
// ===========================================================================================


@if $use-type-theme == true{

	/*--- TYPOGRAPHY THEME ---------------------------------------------------------------------*/

	/* GLOBAL */
	*										{@include type-selection($textSelectionTextColor,$textSelectionBackgroundColor);}

	body									{color: $baseFontColor;}

	/* HEADERS */
	h1, .h1, h2, .h2,
	h3, .h3, h4, .h4,
	h5, .h5, h6, .h6						{color: $baseHdrFontColor;}

	.mul-h1-hdr-background,
	.mul-h2-hdr-background,
	.mul-h3-hdr-background,
	.mul-h4-hdr-background					{background-color: $hdrBackgroundColor;}

	.mul-hdr-rule							{border-color: $hdrRuleBorderColor;}

	.mul-hdr-dbl-rule						{border-color: $hdrRuleBorderColor;}

	/* LINKS */
	a										{
		&:link									{@include href-link($baseLinkColor, underline);}
		&:visited								{color: $baseLinkVisitedColor;}
		&:hover									{
												@include href-link-hover(none);
												color: $baseLinkHoverColor;
												}
											}

	/* HORIZONTAL RULES */
	hr										{
											background-color: $hrBackgroundColor;
											border-color: $hrBorderTopColor;
											color: $hrFontColor;
											}

	/* OTHER ELEMENTS */
	abbr									{border-color: $abbrBorderBottomColor;}

}//endif


@if $use-grid-theme == true{

	/*--- GRID THEME ---------------------------------------------------------------------------*/

	/* BODY */
	body									{@include background-gradient($bodyBackgroundStartColor, $bodyBackgroundEndColor);}

	.mul-body-background					{@include background-gradient($bodyBackgroundBodyStartColor, $bodyBackgroundBodyEndColor);}

	// GRID
	body > .mul-grid						{background-color: $gridBackgroundColor;}

}//endif


@if $use-boxes-theme == true{

	/*--- BOXES THEME --------------------------------------------------------------------------*/

	/* BOX BASE */
	.mul-box								{
											background-color: $boxBackgroundColor;
											border-color: $boxBorderColor;
		.mul-box-hdr							{
			.mul-hdr-rule							{border-color: $boxHdrBorderColor;}
												}
											}


	/* ADVANCED BOX */
	.mul-box-adv							{
											@extend .mul-box;
											background-color: $boxAdvancedBackgroundColor;
											padding: 0;
		& > .mul-box-hdr						{background-color: $boxAdvancedHdrBackgroundColor;}
											}

	/* BOX WITH A DROP SHADOW */
	.mul-box-shadow							{@include box-shadow($boxVShadow, $boxHShadow, $boxShadowBlur, $boxShadowColor);}

	/* ROUNDED CORNER BOX WITH A DROP SHADOW */
	.mul-box-rnd-shadow						{@include box-shadow($boxVShadow, $boxHShadow, $boxShadowBlur, $boxShadowColor);}

	/* CUSTOM BOXES */

	/* FEATURE CONTAINER */
	.mul-feature-ctn						{
											background-color: $boxFeaturedBackgroundColor;
		.mul-box-hdr							{
			.mul-hdr-rule							{border-bottom-color: $boxFeaturedBorderBottomColor;}
												}
											}

	/* SIDEBAR CONTAINER */
	.mul-sidebar-ctn						{
											background-color: $boxSidebarBackgroundColor;
		.mul-box-hdr							{
			.mul-hdr-rule							{border-bottom-color: $boxSidebarBorderBottomColor;}
												}
											}

	/* INLINE SEARCH CONTAINER */
	.mul-inline-search-ctn					{
											background-color: $boxInlineSearchBackgroundColor;
											border-color: $boxInlineSearchBorderColor;
											}

	/* SUPPORT CONTAINER */
	.mul-support-ctn						{
											background-color: $boxSupportBackgroundColor;
											border-color: $boxSupportBottomColor;
		.mul-box-hdr							{
			.mul-hdr-rule							{border-bottom-color: $boxSupportBorderBottomColor;}
												}
											}

}//endif


@if $use-form-theme == true{

	/*--- FORM THEME ---------------------------------------------------------------------------*/

	/* GLOBAL FORM ELEMENTS */
	input[type="text"],
	input[type="password"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="url"],
	input[type="search"],
	input[type="tel"],
	input[type="color"],
	select,
	textarea								{
											@include box-shadow(inset 0, 1px, 1px, $baseInputShadowColor);
											background-color: $baseInputBackgroundColor;
											border-color: $baseInputBorderColor;
											color: $baseInputColor;
											}

	label									{color: $labelFontColor;}

	input:focus,
	select:focus,
	textarea:focus
											{
											@include box-shadow(0, 0, 5px, $inputFocusShadowColor);
											border-color: $inputFocusBorderColor;
											}
													
	input[type="text"]						{
		&:valid									{color:$inputValidTextColor;}
		&:invalid								{color:$inputInvalidTextColor;}
											}

	/* FORM ERROR HANDLING */
	.mul-error								{
		label									{color: $inputInvalidTextColor;}

		.mul-checkbox,
		.mul-radio								{
			label									{color: $labelFontColor;}
												}

		.mul-required							{color: $inputInvalidTextColor;}
		input[type="text"],
		input[type="password"],
		input[type="datetime"],
		input[type="datetime-local"],
		input[type="date"],
		input[type="month"],
		input[type="time"],
		input[type="week"],
		input[type="number"],
		input[type="email"],
		input[type="url"],
		input[type="search"],
		input[type="tel"],
		input[type="color"],
		select,
		textarea								{color: $inputInvalidTextColor;}
		input,
		textarea								{@include placeholder($inputInvalidTextColor);}
		.mul-info								{color: $inputInvalidTextColor;}
											}

	/* SELECTED CHECKBOX */
	.mul-selected-checkbox					{
		.mul-checkbox							{
			label									{border-color: $selectedCheckboxBorderColor;}

			// WHEN SELECTED CHECKBOX IS CHECKED
			.mul-selected-checkbox-checked			{background-color: $selectedCheckboxBackgroundColor;}
												}
											}

}//endif


@if $use-buttons-theme == true{

	/*--- BUTTONS THEME ------------------------------------------------------------------------*/

	/* CORE BUTTON SETUP */
	.mul-btn								{
											@include background-gradient($buttonBackgroundStartColor,$buttonBackgroundEndColor);
											@include box-shadow($buttonVShadow, $buttonHShadow, $buttonShadowBlur, $buttonShadowColor);
											@include text-shadow(0, 1px, 1px, $buttonTextShadowColor);
											color:$buttonFontColor;
											border-color:$buttonBorderColor;

		// LINK STATES
		&:link,
		&:visited								{color:$buttonFontColor;}
		&:hover									{
												@include background-gradient($buttonHoverBackgroundStartColor, $buttonHoverBackgroundEndColor);
												border-color:$buttonHoverBorderColor;
												}
		&:focus									{
												@include background-gradient($buttonFocusBackgroundStartColor, $buttonFocusBackgroundEndColor);
												border-color: $buttonFocusBorderColor;
												}
		&:active								{@include background-gradient($buttonActiveBackgroundStartColor,$buttonActiveBackgroundEndColor);}

		&.disabled,
		&[disabled]								{
												@include ie-gradient-reset-filter;
												background-image: none;
												background-color: $buttonDisabledBackgroundColor;
												border-color: $buttonDisabledBorderColor;
												color: $buttonDisabledFontColor;
			&:hover									{
													border-color: $buttonDisabledBorderColor;
													}
												}
											}

	/* PRIMARY BUTTON */
	.mul-btn-primary,
	.mul-btn-primary:link,
	.mul-btn-primary:visited				{
											@include background-gradient($buttonPrimaryBackgroundStartColor,$buttonPrimaryBackgroundEndColor);
											@include text-shadow(0, -1px, 1px, $buttonPrimaryTextShadowColor);
											color:$buttonPrimaryFontColor;
											}
	.mul-btn-primary:hover					{@include background-gradient($buttonHoverPrimaryBackgroundStartColor,$buttonHoverPrimaryBackgroundEndColor);}
	.mul-btn-primary:focus					{@include background-gradient($buttonFocusPrimaryBackgroundStartColor,$buttonFocusPrimaryBackgroundEndColor);}
	.mul-btn-primary:active					{@include background-gradient($buttonActivePrimaryBackgroundStartColor,$buttonActivePrimaryBackgroundEndColor);}
	.mul-btn-primary.disabled,
	.mul-btn-primary[disabled]				{
											@include ie-gradient-reset-filter;
											background-image: none;
											background-color: $buttonPrimaryDisabledBackgroundColor;
											border-color: $buttonPrimaryDisabledBorderColor;
											color: $buttonPrimaryDisabledFontColor;
		&:hover									{border-color: $buttonPrimaryDisabledBorderColor;}
											}

	/* BUTTON GROUP */
	.mul-btn-group-vertical					{
		.mul-btn:first-child					{border-top-color:$buttonVertGroupBorderTopColor;}
											}
	.mul-btn-group-horizontal				{
		.mul-btn								{
												border-top-color:$buttonHorzGroupBorderTopColor;
												border-bottom-color:$buttonHorzGroupBorderBottomColor;
												border-right-color:$buttonHorzGroupBorderRightColor;
												}
		.mul-btn:first-child					{border-left-color:$buttonHorzGroupFirstChildBorderLeftColor;}
											}

	// SPECIAL BUTTONS FOR JQUERY UI DATEPICKER
	.ui-datepicker-buttonpane				{
		.ui-state-default						{@extend .mul-btn;}

		.ui-priority-primary					{@extend .mul-btn-primary;}
		.ui-priority-primary:hover				{@extend .mul-btn-primary:hover;}
		.ui-priority-primary:focus				{@extend .mul-btn-primary:focus;}

		.ui-priority-secondary					{@extend .mul-btn;}
		.ui-priority-secondary:hover			{@extend .mul-btn:hover;}
		.ui-priority-secondary:focus			{@extend .mul-btn:focus;}
											}

	// SPECIAL BUTTONS FOR JQUERY UI DIALOG
	.ui-dialog-buttonpane					{
		.ui-state-default						{@extend .mul-btn;}
		.ui-state-default.mul-btn-primary		{@extend .mul-btn-primary;}
		.ui-state-default[disabled]				{@extend .mul-btn.disabled;}
		.ui-state-default.mul-btn-primary[disabled]
												{@extend .mul-btn-primary.disabled;}
											}

}//endif


@if $use-header-theme == true{

	/*--- HEADER THEME -------------------------------------------------------------------------*/

	/* HEADER MASTHEAD */
	.mul-masthead							{
											@include background-gradient-horizontal($mastheadBackgroundStartColor, $mastheadBackgroundEndColor);
		.mul-masthead-adjust					{
			.mul-masthead-content-ctn				{
				
				// HEADER MASTHEAD LOGO
				.mul-logo								{
					a										{@include href-link($mastheadLogoLinkColor, none);}
														}

													}
												}
											}

	/* HEADER MASTHEAD NAVBAR */
	.mul-masthead-navbar-ctn				{
											@include background-gradient($navBackgroundStartColor, $navBackgroundEndColor);
											border-color: $navBorderColor;
											}

	/*=== MEDIA QUERIES ========================================================================*/

	/* Portrait iPad, portrait tablets, Low-resolution laptops and desktops, Landscape iPad, laptops and desktops */
	@include media-query(screen, min, $mediumMediaQueryBreakpointMin, "") {

		/* HEADER MASTHEAD */
		/*
		.mul-masthead						{
			.mul-masthead-adjust				{
				.mul-masthead-content-ctn			{

					// HEADER MASTHEAD PROFILE MENU
					.mul-profile-menu-ctn				{		
														@include background-gradient($mastheadProfileMenuBackgroundStartColor,$mastheadProfileMenuBackgroundEndColor);
						.mul-profile-menu-user-info-ctn		{
							.mul-profile-menu-user-info			{
								.mul-profile-menu-icon				{
									&:before							{color: $mastheadProfileMenuIconColor;}
																	}
								dl									{color: $mastheadProfileMenuTextColor;}
																}
							.mul-profile-menu-user-avatar		{
								.mul-icon-user:before				{color: $mastheadProfileMenuAvatarIconColor;}
																}
															}
						.mul-profile-menu					{
															@include box-shadow(0, 2px, 2px, $mastheadProfileMenuShadowColor);
															background-color: $mastheadProfileMenuBackgroundEndColor;
							.mul-vertical-list					{
								li									{
									a									{
																		@include href-link($mastheadProfileMenuTextColor, none);
										&:hover								{background-color: $mastheadProfileMenuHoverColor;}
																		}
																	}
																}
															}
														}

					// HEADER MASTHEAD PROFILE SIMPLE
					.mul-profile-simple-ctn				{
														color: $mastheadProfileSimpleTextColor;
							a								{@include href-link($mastheadProfileSimpleTextColor, none);}
							.mul-horizontal-list			{
								.mul-profile-simple-user-name	{border-right: 1px solid $mastheadProfileSimpleListBorderColor;}
															}
														}
													}
												}
											}
											*/

	}
}//endif


@if $use-hero-banner-theme == true{

	/*--- HERO BANNER THEME --------------------------------------------------------------------*/
	.mul-hero-banner						{
		.mul-hero-banner-adjust					{
			.mul-hero-banner-content-ctn			{
				.mul-hero-banner-content-item			{background-color: $heroBannerBackgroundColor;}
													}
												}
											}

}//endif


@if $use-mega-menu-theme == true{

	/*--- MEGA MENU THEME ----------------------------------------------------------------------*/

	// MEGA MENU HEADER
	.mul-mega-menu-masthead					{
		.mul-masthead-navbar-ctn				{
			.mul-masthead-adjust					{
				.mul-mega-menu-navbar					{
					.mul-mega-menu-item						{
															background-color: $megaMenuItemBackgroundColor;
															color: $megaMenuItemColor;
						[class*="mul-icon"]						{color: $megaMenuItemColor;}
															}
														}
													}
												}

		.mul-header-mega-menu-ctn				{
												background-color: $megaMenuContainerBackgroundColor;
												border-top-color: $megaMenuContainerBorderTopColor;
												border-bottom-color: $megaMenuContainerBorderBottomColor;
			.mul-masthead-adjust					{
				.mul-mega-menu-content					{

					// SPOTLIGHT SECTION 
					.mul-header-menu-spotlight				{
															background-color: $megaMenuContainerSpotlightBackgroundColor;
															color: $megaMenuContainerSpotlightTextColor;
						.mul-horizontal-list					{
							li										{
								a										{
																		@include href-link($megaMenuContainerSpotlightTextColor, none);
									[class*="mul-icon"]						{color: $megaMenuContainerSpotlightTextColor;}
																		}
																	}
																}
															}

					// MAIN MENU
					.mul-menu-ctn							{
						.mul-hdr-rule							{color: $megaMenuContainerMenuContainerTextColor;}
						dd										{
							a										{@include href-link($megaMenuContainerMenuContainerTextColor, none);}
																}
															}
														}

				.mul-mega-menu-search-content			{
					// SEARCH BUTTON
					.mul-mega-menu-search-btn				{
						[class*="mul-icon"]						{color: $megaMenuSearchBoxIconColor;}
															}
														}

													}
												}
											}

	/*=== MEDIA QUERIES ========================================================================*/

	/* Portrait iPad, portrait tablets, Low-resolution laptops and desktops, Landscape iPad, laptops and desktops */
	@include media-query(screen, min, $mediumMediaQueryBreakpointMin, "") {

		// MEGA MENU HEADER
		/*
		.mul-mega-menu-masthead				{
			.mul-masthead-navbar-ctn			{
				.mul-masthead-adjust				{
					.mul-mega-menu-navbar				{
						.mul-util-navbar					{
							.mul-horizontal-list				{
								li									{border-left-color: $megaMenuUtilityMenuPipedColor;}
																}

							.mul-utility-subnav-ctn				{
								.mul-utility-subnav					{
																	background-color: $megaMenuUtilityMenuBackgroundColor;
																	border-color: $megaMenuUtilityMenuBorderColor;
									li									{
										a									{
																			border-bottom-color: $megaMenuUtilityMenuLinkBorderColor;
											&:hover								{background-color: $megaMenuUtilityMenuLinkHoverColor;}
																			}
																		}
																	}
																}																	
															}
														}
													}
												}
											}
											*/

	}// endif

}//endif


@if $use-nav-theme == true{

	/*--- NAVIGATION THEME ---------------------------------------------------------------------*/
	
	/* NAVIGATION */
	/*
	.mul-navbar								{
		.mul-horizontal-list					{
												@include background-gradient($navBackgroundStartColor, $navBackgroundEndColor);
												border-bottom-color: $navBorderColor;
			li										{
													border-bottom-color: $navBorderColor;
				a										{
														@include href-link($navLinkColor, none);
														border-top-color: $navLinkBorderColor;
					&.mul-navbar-item-active,
					&:hover									{@include background-gradient($navActiveBackgroundStartColor, $navActiveBackgroundEndColor);}
														}
													}
												}
											}
	*/

	/*=== MEDIA QUERIES ========================================================================*/

	/* Portrait iPad, portrait tablets, Low-resolution laptops and desktops, Landscape iPad, laptops and desktops */
	@include media-query(screen, min, $mediumMediaQueryBreakpointMin, "") {

		/* NAVIGATION */
		/*
		.mul-navbar							{
			.mul-horizontal-list				{
				li									{
													border-right-color: $navBorderColor;
					a									{border-right-color: $navLinkBorderColor;}
					.mul-first-child					{border-left-color: $navBorderColor;}
													}
												}
											}
		*/

	}

}//endif


@if $use-footer-theme == true{

	/*--- FOOTER THEME -------------------------------------------------------------------------*/

	.mul-footer								{
											color: $footerFontColor;
		.mul-footer-adjust						{
			.mul-footer-content-ctn					{border-top-color: $footerBorderTopColor;}
												}
											}

}//endif


@if $use-fat-footer-theme == true{

	/*--- FAT FOOTER THEME ---------------------------------------------------------------------*/
	
	/* FAT FOOTER */
	.mul-fat-footer							{
											background-color: $fatFooterBackgroundColor;
											color: $fatFooterFontColor;
		.mul-footer-adjust						{
			.mul-footer-content-ctn					{
				dl										{
					dt										{color: $fatFooterFontColor;}
					> dd									{
						a										{@include href-link($fatFooterFontColor, underline);}
															}
														}
													}
												}
											}

}//endif


@if $use-icons-theme == true{

	/*--- ICONS THEME --------------------------------------------------------------------------*/
	
	/* ICON FONT DEFAULTS */
	[class^="mul-icon-"]					{color: $iconFontColor;}

	/* ICON FONT AS LINKS */
	a[class^="mul-icon-"]					{color: $iconFontColor;}

	/* Icon background gradients */
	/* Background gradients on icon fonts only works in WebKit browsers (Safari, Chrome). A fallback text color is provided for other browsers. */
	[class^="mul-icon-"].mul-icon-style-gradient,
	a[class^="mul-icon-"].mul-icon-style-gradient
											{
											color: $iconFontColor;
											background: -webkit-linear-gradient(top, $iconFontBackgroundStartColor, $iconFontBackgroundEndColor);
											-webkit-background-clip: text;
											-webkit-text-fill-color: transparent;
											}

	/* ADVANCED ICON FONT ON CIRCLE SHIELD DEFAULTS */
	.mul-icon-adv							{
											@include background-gradient($iconFontAdvBackgroundStartColor, $iconFontAdvBackgroundEndColor);
											@include box-shadow(0, 0, 2px, $iconFontAdvShadowColor);
											border-color: $iconFontAdvBorderColor;
		[class*="mul-icon-"]					{color: $iconFontAdvFontColor;}
											}

	/* ICON FONT IE FIXES */
	.ie8,
	.ie9									{
		.mul-icon-adv							{
												@include ie-gradient-reset-filter;
												background-color: $iconFontAdvBackgroundColor;
												}
											}

}//endif


@if $use-lists-theme == true{

	/*--- LISTS THEME --------------------------------------------------------------------------*/
	
	// HORIZONTAL LISTS
	.mul-horizontal-list					{
		dt										{color: $definitionListHeaderColor;}
											}

	.mul-horizontal-list-piped				{
		dd, li									{border-color: $horizontalListPipeBorderColor;}
											}

	// VERTICAL LISTS
	.mul-vertical-list						{
		dt										{color: $definitionListHeaderColor;}
											}

	.mul-vertical-list-bulleted				{@extend .mul-vertical-list;}

	// DATA LISTS
	.mul-data-list							{
		dt										{
												color: $definitionListHeaderColor;
												border-color: $definitionDataListHeaderBorderColor;
												}
											}

	//=== MEDIA QUERIES =========================================================================

	// Portrait iPad, portrait tablets, Low-resolution laptops and desktops, Landscape iPad, laptops and desktops
	@include media-query(screen, min, $mediumMediaQueryBreakpointMin, "") {

		.mul-horizontal-list-piped			{
			dd, li								{border-color: $horizontalListPipeBorderColor;}
											}

	}

}//endif


@if $use-tables-theme == true{

	/*--- TABLES THEME -------------------------------------------------------------------------*/

	/* MUL TABLE */
	.mul-table								{
											color:$tableFontColor;
											border-color:$tableBorderColor;
											background-color:$tableBackgroundColor;
		th										{
												background-color: $tableThBackgroundColor;
												border-top-color:$tableThBorderColor;
												border-bottom-color:$tableThBorderColor;
												color:$tableThFontColor;
												}
		td										{
												border-top-color:$tableTdBorderColor;
												}

		// SUB HEADER, THIS IS USED TO GROUP SECTIONS IN A TABLE
		.mul-subheader-row						{
												background-color: $tableSubHeaderBackgroundColor !important;
												border-color: $tableSubHeaderBorderColor;
												color: $tableSubHeaderFontColor;
												}

		// SUBTOTAL AND TOTAL HELPERS
		.mul-subtotal-row,
		.mul-total-row							{
			td										{border-top-color: $tableBorderColor;}
												}
		.mul-subtotal-row						{
			td										{
													background-color: $tableSubTotalBackgroundColor !important;
													color: $tableSubTotalFontColor;
													}
												}
		.mul-total-row							{
			td										{
													background-color: $tableTotalBackgroundColor !important;
													color: $tableTotalFontColor;
													}
												}
											}

	/* FOOTABLES SORTING CLASSES */
	.mul-footable							{
		.mul-highlight							{background-color: $tableOddTdSortedBackgroundColor !important;}
		tbody > tr:nth-child(odd) > .mul-highlight
												{background-color: $tableOddTdBackgroundColor !important;}
											}


	/* MUL TABLE BORDERS */
	.mul-table-borders						{
											border-color: $tableBorderColor;
		th										{
												border-left-color: $tableThBorderColor;
												border-right-color: $tableThBorderColor;
												border-top-color: $tableThBorderColor;
												border-bottom-color: $tableThBorderColor;
												}
		td										{border-left-color: $tableBorderColor;}
											}

	/* MUL TABLE ROW STRIPING */
	.mul-table-striped						{
		tbody > tr:nth-child(even) > td			{background-color:$tableOddTdBackgroundColor;}

		// FALLBACK ROW STRIPING
		.mul-even								{
			td										{
													background-color:$tableEvenTdBackgroundColor;

				// SORTED COLUMN STYLES - EVEN
				&[class*="sorting"]						{background-color:$tableEvenTdSortedBackgroundColor;}
													}
												}
		.mul-odd								{
			td										{
													background-color:$tableOddTdBackgroundColor;

				// SORTED COLUMN STYLES - ODD
				&[class*="sorting"]						{background-color:$tableOddTdSortedBackgroundColor;}
													}
												}			
											}

	/* MUL TABLE ROW HOVER */
	.mul-table-hover tbody tr:hover > td,
	.mul-table-hover tbody tr:hover > td[class*="sorting"]
											{background-color: $tableRowHoverColor;}


	/* MUL TABLE PAGINATION */
	.mul-table-pagination					{
		.mul-pagination-row						{
			td										{border-top-color: $tableBorderColor;}
												}
											}
	

}//endif


// ===========================================================================================
// OBJECTS
// ===========================================================================================

@if $use-accordion-theme == true{

	/*--- ACCORDIAN THEME ----------------------------------------------------------------------*/
	
	.mul-accordion.ui-accordion				{
											border-color: $accordionBorderColor;
		.ui-accordion-header					{
												border-color: $accordionBorderColor;
												background-color: $accordionHeaderBackgroundColor;
												color: $accordionHeaderFontColor;
			&.ui-accordion-icons					{
				.ui-accordion-header-icon				{color: $accordionHeaderIconColor;}
													}
												}
		.ui-accordion-content					{
												border-color: $accordionBorderColor;
												background-color: $accordionContentBackgroundColor;
												}
											}
	
}//endif


@if $use-alternate-views-badge-theme == true{

	/*--- ALTERNATE VIEWS BADGE THEME ----------------------------------------------------------*/
	
	.mul-alternate-views-badge.ui-tabs		{
		.mul-btn-group-horizontal				{
			.mul-btn								{
													@include background-gradient($alternateViewsBadgeButtonBackgroundStartColor, $alternateViewsBadgeButtonBackgroundEndColor);
													border-color: $alternateViewsBadgeButtonBorderColor;
				[class^="mul-icon-"]					{color: $alternateViewsBadgeButtonIconColor;}
				a										{color: $alternateViewsBadgeButtonLinkColor;}
				&:hover									{
														@include background-gradient($alternateViewsBadgeButtonHoverBackgroundStartColor, $alternateViewsBadgeButtonHoverBackgroundEndColor);
					[class^="mul-icon-"]					{color: $alternateViewsBadgeButtonHoverIconColor;}
					a										{color: $alternateViewsBadgeButtonHoverLinkColor;}
														}
				&.ui-tabs-active						{
														@include background-gradient($alternateViewsBadgeButtonActiveBackgroundStartColor, $alternateViewsBadgeButtonActiveBackgroundEndColor);
														border-color: $alternateViewsBadgeButtonActiveBorderColor;
					[class^="mul-icon-"]					{color: $alternateViewsBadgeButtonActiveIconColor;}
					a										{color: $alternateViewsBadgeButtonActiveLinkColor;}
														}
													}
												}
											}

}//endif


@if $use-autocomplete-theme == true{

	/*--- AUTOCOMPLETE THEME -------------------------------------------------------------------*/

	/* AUTOCOMPLETE */
	.ui-menu								{
											@include box-shadow(0, 3px, 5px, $autocompleteShadowColor);
											background-color: $autocompleteBackgroundColor;
											border-color: $autocompleteBorderColor;
		.ui-menu-item							{
			.ui-menu-item-highlight					{color: $autocompleteItemHighlightText;}
			a 										{
													border-top-color: $autocompleteItemBorderTopColor;
													border-bottom-color: $autocompleteItemBorderBottomColor;
													color: $autocompleteItemFontColor;
													}
			.ui-state-focus							{@include background-gradient($autocompleteItemHoverBackgroundStartColor,$autocompleteItemHoverBackgroundEndColor);}
												}
											}

}//endif


@if $use-call-to-action-theme == true{

	/*--- CALL TO ACTION THEME -----------------------------------------------------------------*/
	
	.mul-call-to-action						{
											background-color: $callToActionBackgroundColor;
		&:link,
		&:visited,
		&:hover,
		&:active								{color: $callToActionTextColor;}
		&:hover									{background-color: $callToActionHoverBackgroundColor;}

		// CALL TO ACTION ICONS
		[class^="mul-icon-"]					{color: $callToActionIconColor;}
											}

}//endif


@if $use-carousel-theme == true{

	/*--- CAROUSEL THEME -----------------------------------------------------------------------*/

	.mul-carousel.owl-carousel				{
		.owl-controls							{
			&.clickable								{
				.owl-page:hover span					{background: $carouselPageCircleHoverBackgroundColor;}
				.owl-page.active:hover span				{background: $carouselPageCircleActiveBackgroundColor;}
													}
			.owl-page								{
				&.active								{
					span									{background: $carouselPageCircleActiveBackgroundColor;}
														}
				span									{
														background: $carouselPageCircleBackgroundColor;
					&.owl-numbers							{color: $carouselPageCircleTextColor;}
														}
													}
			.owl-buttons							{
				.owl-next,
				.owl-prev								{
					[class*="mul-icon"]						{
															color: $carouselNavIconColor;
						&:hover									{color: $carouselNavHoverIconColor;}
															}
														}
													}
												}
											}

}//endif


@if $use-content-modal-theme == true{

	/*--- CONTENT MODAL THEME ------------------------------------------------------------------*/

	.mul-content-modal.mul-dialog.ui-dialog
											{
											background-color: $contentModalBackgroundColor;
	.mul-content-modal-ctn						{
		.mul-content-modal-util-bar					{
													@include background-gradient-horizontal($contentModalUtilityBarBackgroundStartColor, $contentModalUtilityBarBackgroundEndColor);
			
			// MODAL TABS NAVBAR
			.mul-content-modal-tabs						{
				li											{
															border-bottom-color: $contentModalUtilityBarTabsBorderColor;
					&:first-child								{border-top-color: $contentModalUtilityBarTabsBorderColor;}
					&.last-child								{
																border-bottom-color: $contentModalUtilityBarTabsAltBorderColor;
						a											{border-bottom-color: $contentModalUtilityBarTabsBorderColor;}
																}
					a											{
																border-top-color: $contentModalUtilityBarTabsAltBorderColor;
						&:before									{color: $contentModalUtilityBarTabsIconColor;}
						&:hover										{@include background-gradient-horizontal($contentModalUtilityBarTabsHoverBackgroundStartColor, $contentModalUtilityBarTabsHoverBackgroundEndColor);}
																}
															}

				// MODAL TABS NAVBAR ACTIVE
				.ui-tabs-active,
				.mul-content-modal-navbar-active			{
					a											{
																background-color: $contentModalUtilityBarTabsActiveBackgroundColor;
						&:before									{color: $contentModalUtilityBarTabsActiveIconColor;}
						&:hover										{@include background-gradient-horizontal($contentModalUtilityBarTabsActiveBackgroundColor, $contentModalUtilityBarTabsActiveBackgroundColor);}
																}
															}
														}
													}
												}

	/* MODAL TITLE BAR */
	.ui-dialog-titlebar							{
		.ui-dialog-titlebar-close					{
			&:before									{color: $contentModalUtilityBarTabsIconColor;}
													}
												}
											}

}//endif


@if $use-datepicker-theme == true{

	/*--- DATEPICKER THEME ---------------------------------------------------------------------*/

	/* DATEPICKER */
	.ui-datepicker							{
											@include box-shadow(0, 0, 5px, $datepickerShadowColor);
											background-color: $datepickerBackgroundColor;
											border-color: $datepickerBorderColor;

		// DATEPICKER GLOBAL TABLE STYLES
		table									{
			th										{
													background-color: $datepickerBackgroundColor;
													border-color: $datepickerBorderColor;
													color: $datepickerThFontColor;
													}
			td										{
													border-color: $datepickerBorderColor;
				a										{color: $datepickerLinkColor;}
													}
												}

		// DATEPICKER HEADER
		.ui-datepicker-header					{
												@include background-gradient($datepickerHdrBackgroundStartColor,$datepickerHdrBackgroundEndColor);

			// DATEPICKER NAVIGATION
			.ui-datepicker-prev,
			.ui-datepicker-next 					{
				&:before								{color: $datepickerHdrNavIconColor;}
													}

			// DATEPICKER TITLE
			.ui-datepicker-title
													{color: $datepickerHdrFontColor;}
												}

		// DATEPICKER CALENDAR
		.ui-datepicker-calendar
												{

			// CURRENTLY SELECTED DAY
			.ui-datepicker-current-day
													{
				.ui-state-active						{
														background-color: $datepickerCurrentDayBackgroundColor;
														color: $datepickerCurrentDayFontColor;
														}
													}
			
			// TODAY				
			.ui-datepicker-today					{
				.ui-state-highlight						{
														background-color: $datepickerTodayBackgroundColor;
														color: $datepickerTodayFontColor;
														}
													}

			// DAY HOVER STATE
			.ui-state-hover							{background-color: $datepickerHoverBackgroundColor;}

			// UNSELECTABLE DAYS
			.ui-datepicker-unselectable
													{
													color: $datepickerDisabledFontColor;
													background-color: $datepickerDisabledBackgroundColor;
													border-color: $datepickerDisabledBorderColor;
													}
			
			// UNSELECTABLE DAYS WHEN THEN FALL IN OTHER MONTH IN SAME CALENDAR
			.ui-datepicker-other-month.ui-datepicker-unselectable
													{
													background-color: $datepickerBackgroundColor;
													border-color: $datepickerBorderColor;
													}
												}

		// DATEPICKER MESSAGE AREA
		.mul-datepicker-message					{
			label									{
													color:  $datepickerMessageFontColor;
													background-color:  $datepickerMessageBackgroundColor;
													}
												}
											}

	/* DATEPICKER ICON */
	.ui-datepicker-trigger					{
		&:before								{color: $datepickerIconColor;}
											}

	/* DATEPICKER IE8 FIXES */
	.ie8									{

		// DATEPICKER
		.ui-datepicker							{border-color: $datepickerIE8BorderColor;} // This provides a border for IE8 since it can not render a box-shadow
											}

}//endif


@if $use-dialog-theme == true{

	/*--- DIALOG/MODAL THEME -------------------------------------------------------------------*/

	/* DIALOG SCREEN OVERLAY */
	.ui-widget-overlay						{
											@include opacity($dialogOverlayBackgroundColorOpacity);
											background-color: $dialogOverlayBackgroundColor;
											}

	/* DIALOG */
	.mul-dialog.ui-dialog					{
											@include box-shadow($dialogVShadow, $dialogHShadow, $dialogShadowBlur, $dialogShadowColor);
											background-color: $dialogBackgroundColor;
		
		// DIALOG TITLE BAR
		.ui-dialog-titlebar						{
												border-bottom-color: $dialogHdrBorderBottomColor;
			
			// DIALOG TITLE BAR HEADER
			.ui-dialog-title						{color: $dialogHdrFontColor;}
			
			// DIALOG TITLE BAR CLOSE ICON
			.ui-dialog-titlebar-close				{
				&:before								{color: $dialogCloseIconColor;}
													}
												}
		
		// DIALOG CONTENT AREA
		.ui-dialog-content						{border-top-color: $dialogContentBorderTopColor;}
											}

}//endif


@if $use-image-content-overlay-theme == true{

	/*--- IMAGE CONTENT OVERLAY THEME ----------------------------------------------------------*/
	.mul-image-content-overlay				{
											background-color: rgba($imageContentOverlayBackgroundColor, .6);
											border-bottom-color: $imageContentOverlayBorderBottomColor;

			h1, .h1, h2, .h2,
			h3, .h3, h4, .h4,
			h5, .h5, h6, .h6,
			p, span, li, dt, dd, blockquote,
			th, td, legend, hr, abbr,
			a, a:link, a:visited, a:hover, a:active
												{color: $imageContentOverlayFontColor;}

											}

}//endif


@if $use-login-layout-theme == true{

	/*--- LOGIN LAYOUT THEME -------------------------------------------------------------------*/

	// CLASS USED ON BODY FOR LOGIN LAYOUT
	.mul-layout-login						{
											background: url("#{$layoutLoginBackgroundImageSrcPath}") no-repeat center center fixed $layoutLoginBackgroundColor;
											@include background-size(cover);
		
		// LOGIN CONTAINER
		.mul-layout-login-ctn					{
												@include translucent-background($layoutLoginContainerTranslucentBackgroundColor, .9);
			.mul-box-hdr							{
				.mul-box-sub-hdr						{color: $layoutLoginContainerSubHeaderColor;}
				.mul-box-main-hdr						{color: $layoutLoginContainerHeaderColor;}
				.mul-box.mul-error-ctn,
				.mul-box.mul-attention-ctn,
				.mul-box.mul-info-ctn,
				.mul-box.mul-confirmation-ctn			{margin-bottom: 0;}
													}
			.mul-box-bdy							{
				.mul-box								{
														background-color: $layoutLoginContainerBoxBackgroundColor;
														border-color: $layoutLoginContainerBoxBorderColor;
														}
													}
												}

		// LOGIN FOOTER
		.mul-footer								{
			.mul-layout-login-footer				{
													@include translucent-background($layoutLoginFooterTranslucentBackgroundColor, .7);
				.mul-layout-login-footer-copyright		{
														color: $layoutLoginFooterFontColor;
					a										{color: $layoutLoginFooterFontColor;}
					.mul-horizontal-list-piped				{
															border-top-color: $layoutLoginFooterBorderColor;
						li										{border-color: $layoutLoginFooterBorderColor;}
															}
														}
													}
												}
											}

	//=== MEDIA QUERIES =========================================================================

	// Portrait iPad, portrait tablets, Low-resolution laptops and desktops, Landscape iPad, laptops and desktops
	@include media-query(screen, min, $mediumMediaQueryBreakpointMin, "") {

		// CLASS USED ON BODY FOR LOGIN LAYOUT
		.mul-layout-login					{

			// LOGIN FOOTER
			.mul-footer							{
				.mul-layout-login-footer-bkgd		{@include translucent-background($layoutLoginFooterTranslucentBackgroundColor, .5);}
												}
											}

	}

}//endif


@if $use-image-content-overlay-theme == true{

	/*--- IMAGE CONTENT OVERLAY THEME ----------------------------------------------------------*/

	

	//=== MEDIA QUERIES =========================================================================

	// Portrait iPad, portrait tablets, Low-resolution laptops and desktops, Landscape iPad, laptops and desktops
	@include media-query(screen, min, $mediumMediaQueryBreakpointMin, "") {

		

	}

}//endif


@if $use-mini-filter-theme == true{

	/*--- MINI FILTER THEME --------------------------------------------------------------------*/
	
	.mul-mini-filter						{
		dt										{color: $miniFilterLabelFontColor;}
		dd										{
			a										{
				&.active								{
														background-color: $miniFilterActiveBackgroundColor;
														color: $miniFilterActiveFontColor;
														}
													}
												}
											}

}//endif


@if $use-pagination-theme == true{

	/*--- PAGINATION THEME ---------------------------------------------------------------------*/
	
	.mul-pagination							{
		ul										{
			li										{
				a,
				span									{border-color: $paginationBorderColor;}
				&.active								{
					a,
					span									{
															background-color: $paginationActiveBackgroundColor;
															color: $paginationActiveFontColor;
															}
					a:hover									{color: $paginationActiveFontColor;}
														}
				a:hover									{background-color: $paginationHoverBackgroundColor;}
				.mul-pagination-icon					{
					&:hover									{color: $paginationLinkHoverColor;}
														}
													}
												}
											}

}//endif


@if $use-profile-containers-theme == true{

	/*--- PROFILE CONTAINERS THEME -------------------------------------------------------------*/
	
	.mul-user-profile > .mul-box-hdr,
	.mul-client-profile-inactive > .mul-box-hdr,
	.mul-client-profile-active > .mul-box-hdr,
	.mul-client-profile-prospective > .mul-box-hdr,
	.mul-product-profile > .mul-box-hdr,
	.mul-plan-profile > .mul-box-hdr,
	.mul-location-profile > .mul-box-hdr
											{
											color: $profileContainerHdrColor;
			.mul-hdr-rule						{color: $profileContainerHdrColor;}
			.mul-secondary-hdr					{color: $profileContainerSecondaryHdrColor;}
			
			.mul-data-list-ctn					{
				li									{
					.mul-data-list-label				{color: $profileContainerDataListLabelFontColor;}
													}
												}
											}

}//endif


@if $use-scroll-pane-theme == true{

	/*--- SCROLL PANE THEME --------------------------------------------------------------------*/

	// SCROLL BAR THEME
	.mCS-dark.mCSB_scrollTools				{
		.mCSB_draggerRail						{
												background-color: $scrollPaneScrollbarHexColor;
												background-color: rgba($scrollPaneScrollbarRGBColor,0.15);
												filter: "alpha(opacity=15)";
												-ms-filter: "alpha(opacity=15)";
												}
		.mCSB_dragger							{
			.mCSB_dragger_bar						{
													background-color: $scrollPaneScrollbarHexColor;
													background-color: rgba($scrollPaneScrollbarRGBColor,0.30);
													filter: "alpha(opacity=30)";
													-ms-filter: "alpha(opacity=30)";
													}
			&:hover									{
				.mCSB_dragger_bar						{
														background-color: rgba($scrollPaneScrollbarRGBColor,0.40);
														filter: "alpha(opacity=40)";
														-ms-filter: "alpha(opacity=40)";
														}
													}
			&:active,
			&.mCSB_dragger_onDrag					{
				.mCSB_dragger_bar						{
														background-color: rgba($scrollPaneScrollbarRGBColor,0.40);
														filter: "alpha(opacity=40)";
														-ms-filter: "alpha(opacity=40)";
														}
													}
												}
											}

}//endif


@if $use-slider-theme == true{

	/*--- SLIDER THEME -------------------------------------------------------------------------*/

	.mul-slider.ui-slider 					{
											@include background-gradient($sliderBarBackgroundStartColor,$sliderBarBackgroundEndColor);

		// SLIDER HANDLE
		.ui-slider-handle						{
												@include background-gradient($sliderHandleBackgroundStartColor,$sliderHandleBackgroundEndColor);
												@include box-shadow(0, 1px, 3px, $sliderHandleShadowColor);
												border-color: $sliderHandleBorderColor;
												}										
		.ui-state-focus							{
												@include background-gradient($sliderHandleFocusBackgroundStartColor,$sliderHandleFocusBackgroundEndColor);
												border-color: $sliderHandleBorderColor;
												}
		.ui-state-hover							{
												@include background-gradient($sliderHandleHoverBackgroundStartColor,$sliderHandleHoverBackgroundEndColor);
												border-color: $sliderHandleBorderColor;
												}
		.ui-state-active 						{
												@include background-gradient($sliderHandleActiveBackgroundStartColor,$sliderHandleActiveBackgroundEndColor);
												border-color: $sliderHandleBorderColor;
												}

		// SLIDER RANGE
		.ui-slider-range						{background-color: $sliderBarRangeBackgroundColor;}
											}

}//endif


@if $use-summary-containers-theme == true{

	/*--- SUMMARY CONTAINERS THEME -------------------------------------------------------------*/

	.mul-summary-ctn						{
		.mul-summary-ctn-row					{
			div										{
													border-color: $summaryCtnBorderColor;
													border-top-color: $summaryCtnBorderColorTop;
				&:first-child							{border-top-color: $summaryCtnBorderFirstChildColorTop;}
													}
			
			// SET AN ITEM TO ALERT STATE - NEGATIVE
			.mul-summary-ctn-alert-negative,
			.mul-summary-ctn-alert-negative a		{
													@include href-link($summaryCtnAlertNegativeFontColor, none);
													color: $summaryCtnAlertNegativeFontColor;
				[class*="mul-icon-"]					{color: $summaryCtnAlertNegativeFontColor;}
													}

			// SET AN ITEM TO ALERT STATE - POSITIVE
			.mul-summary-ctn-alert-positive,
			.mul-summary-ctn-alert-positive a		{
													@include href-link($summaryCtnAlertPositiveFontColor, none);
													color: $summaryCtnAlertPositiveFontColor;
				[class*="mul-icon-"]					{color: $summaryCtnAlertPositiveFontColor;}
													}
												}
											}

	//=== MEDIA QUERIES =========================================================================

	// Portrait iPad, portrait tablets, Low-resolution laptops and desktops, Landscape iPad, laptops and desktops
	@include media-query(screen, min, $mediumMediaQueryBreakpointMin, "") {

		.mul-summary-ctn					{
			.mul-summary-ctn-row				{
				div									{
													border-left-color: $summaryCtnBorderColorLeft;
													border-bottom-color: $summaryCtnBorderColorBottom;
					&:first-child						{
														border-top-color: $summaryCtnBorderColorTop;
														border-left-color: $summaryCtnBorderFirstChildColorLeft;
														}
					&:hover								{
														@include transition(background-color $summaryCtnBorderHoverTransitionSpeed ease-in-out);
														background-color: $summaryCtnBorderHoverBackgroundColor;
														border-top-color: $summaryCtnBorderHoverBorderTopColor;
														border-bottom-color: $summaryCtnBorderHoverBorderBottomColor;
														}
													}
				// SET AN ITEM TO ALERT STATE - NEGATIVE
				.mul-summary-ctn-alert-negative		{
						&:hover							{background-color: $summaryCtnAlertNegativeHoverBackgroundColor;}
													}

				// SET AN ITEM TO ALERT STATE - POSITIVE
				.mul-summary-ctn-alert-positive		{
						&:hover							{background-color: $summaryCtnAlertPositiveHoverBackgroundColor;}
													}
												}
											}
	}

}//endif


@if $use-tabs-theme == true{

	/*--- TABS THEME ---------------------------------------------------------------------------*/

	.mul-tabs.ui-tabs						{
		.ui-tabs-nav							{
			.ui-state-default						{
													@include background-gradient($tabsBackgroundStartColor,$tabsBackgroundEndColor);
													border-color:$tabsBorderColor;
													border-bottom:0;
				a										{color:$tabsFontColor;}
													}

			// TABS MOBILE PAGING
			.ui-tabs-paging-prev,
			.ui-tabs-paging-next					{
													@include background-gradient($tabsPagingNavBackgroundStartColor, $tabsPagingNavBackgroundEndColor);
				a										{
														color: $tabsPagingNavLinkColor;
					&:hover									{color: $tabsPagingNavHoverColor;}
														}
													}
			.ui-state-hover							{@include background-gradient($tabsHoverBackgroundStartColor,$tabsHoverBackgroundEndColor);}
			.ui-state-active						{
													@include background-gradient($tabsActiveBackgroundStartColor,$tabsActiveBackgroundEndColor);
				a										{color:$tabsActiveFontColor;}
													}
												}
		.ui-tabs-panel							{
												border-color:$tabsPanelBorderColor;
												background-color:$tabsPanelBackgroundColor;
												}
											}

}//endif


@if $use-tiles-theme == true{

	/*--- TILES THEME --------------------------------------------------------------------------*/
	
	.mul-tile-ctn							{
											background-color: $tilesBackgroundColor;
											border-color: $tilesOutsideBorderColor;

		.mul-box-hdr							{
												border-top-color: $tilesHeaderBorderTopColor;
												background-color: $tilesHeaderBackgroundColor;
			.mul-hdr-rule							{color: $tilesHeaderFontColor;}
												}
		.mul-box-bdy							{
												background-color: $tilesBodyBackgroundColor;
												border-top-color: $tilesBodyBorderColor;
												}
											}

	/*=== MEDIA QUERIES ========================================================================*/

	/* Portrait iPad, portrait tablets, Low-resolution laptops and desktops, Landscape iPad, laptops and desktops */
	@include media-query(screen, min, $mediumMediaQueryBreakpointMin, "") {

		.mul-tile-ctn						{
			.mul-box-bdy						{border-color: $tilesBodyBorderColor;}
											}
	}

}//endif


@if $use-tooltip-theme == true{

	/*--- TOOLTIP THEME ------------------------------------------------------------------------*/

	/* MUL Tooltip global */
	.mul-tooltip 							{
											@include box-shadow($tooltipVShadow, $tooltipHShadow, $tooltipShadowBlur, $tooltipShadowColor);
											border-color:$tooltipBorderColor;
											background: $tooltipBackgroundColor;
											color: $tooltipFontColor;
											}

}//endif


/*=== WEBSITE THEME STYLES ================================================================*/

@if $use-site-theme == true{

	// Insert site theme styles

}//endif