<button class="button expand radius show-for-small-only evo-btn" id="" name="" value="" type="" tabindex="" title="">
	<span class="evo-btn-text">Primary</span>
</button>

<button class="button radius show-for-medium-up evo-btn" id="" name="" value="" type="" tabindex="" title="">
	<span class="evo-btn-text">Primary</span>
</button>

<button class="button expand radius secondary show-for-small-only evo-btn" id="" name="" value="" type="" tabindex="" title="">
	<span class="evo-btn-text">Secondary</span>
</button>

<button class="button radius secondary show-for-medium-up evo-btn" id="" name="" value="" type="" tabindex="" title="">
	<span class="evo-btn-text">Secondary</span>
</button>

<button class="button expand radius show-for-small-only evo-btn" data-evo-background-color="white" data-evo-font-color="sapphire-dark" id="" name="" value="" type="" tabindex="" title="">
	<span class="evo-btn-text">Custom Color</span>
</button>

<button class="button radius show-for-medium-up evo-btn" data-evo-background-color="white" data-evo-font-color="sapphire-dark" id="" name="" value="" type="" tabindex="" title="">
	<span class="evo-btn-text">Custom Color</span>
</button>

<button class="button expand radius disabled show-for-small-only evo-btn" id="" name="" value="" type="" disabled="disabled" tabindex="" title="">
	<span class="evo-btn-text">Disabled Primary</span>
</button>

<button class="button radius disabled show-for-medium-up evo-btn" id="" name="" value="" type="" disabled="disabled" tabindex="" title="">
	<span class="evo-btn-text">Disabled Primary</span>
</button>

<button class="button expand radius disabled secondary show-for-small-only evo-btn" id="" name="" value="" type="" disabled="disabled" tabindex="" title="">
	<span class="evo-btn-text">Disabled Secondary</span>
</button>

<button class="button radius disabled secondary show-for-medium-up evo-btn" id="" name="" value="" type="" disabled="disabled" tabindex="" title="">
	<span class="evo-btn-text">Disabled Secondary</span>
</button>

<button class="button expand radius disabled show-for-small-only evo-btn" data-evo-background-color="white" data-evo-font-color="sapphire-dark" id="" name="" value="" type="" disabled="disabled" tabindex="" title="">
	<span class="evo-btn-text">Disabled Custom Color</span>
</button>

<button class="button radius disabled show-for-medium-up evo-btn" data-evo-background-color="white" data-evo-font-color="sapphire-dark" id="" name="" value="" type="" disabled="disabled" tabindex="" title="">
	<span class="evo-btn-text">Disabled Custom Color</span>
</button>

<button class="button expand radius show-for-small-only evo-btn" data-evo-button-icons="right" id="" name="" value="" type="" tabindex="" title="">
	<span class="evo-btn-text">Primary Icon</span>
	<i class="evo-icon-arrow-right2 evo-icon-position-right" title=""></i>
</button>

<button class="button radius show-for-medium-up evo-btn" data-evo-button-icons="right" id="" name="" value="" type="" tabindex="" title="">
	<span class="evo-btn-text">Primary Icon</span>
	<i class="evo-icon-arrow-right2 evo-icon-position-right" title=""></i>
</button>

<button class="button expand radius secondary show-for-small-only evo-btn" data-evo-button-icons="right" id="" name="" value="" type="" tabindex="" title="">
	<span class="evo-btn-text">Secondary Icon</span>
	<i class="evo-icon-arrow-right2 evo-icon-position-right" title=""></i>
</button>

<button class="button radius secondary show-for-medium-up evo-btn" data-evo-button-icons="right" id="" name="" value="" type="" tabindex="" title="">
	<span class="evo-btn-text">Secondary Icon</span>
	<i class="evo-icon-arrow-right2 evo-icon-position-right" title=""></i>
</button>

<button class="button expand radius show-for-small-only evo-btn" data-evo-background-color="white" data-evo-font-color="sapphire-dark" data-evo-button-icons="right" id="" name="" value="" type="" tabindex="" title="">
	<span class="evo-btn-text">Custom Color Icon</span>
	<i class="evo-icon-arrow-right2 evo-icon-position-right" title=""></i>
</button>

<button class="button radius show-for-medium-up evo-btn" data-evo-background-color="white" data-evo-font-color="sapphire-dark" data-evo-button-icons="right" id="" name="" value="" type="" tabindex="" title="">
	<span class="evo-btn-text">Custom Color Icon</span>
	<i class="evo-icon-arrow-right2 evo-icon-position-right" title=""></i>
</button>

<button class="button expand radius disabled show-for-small-only evo-btn" data-evo-button-icons="right" id="" name="" value="" type="" disabled="disabled" tabindex="" title="">
	<span class="evo-btn-text">Disabled Primary Icon</span>
	<i class="evo-icon-arrow-right2 evo-icon-position-right" title=""></i>
</button>

<button class="button radius disabled show-for-medium-up evo-btn" data-evo-button-icons="right" id="" name="" value="" type="" disabled="disabled" tabindex="" title="">
	<span class="evo-btn-text">Disabled Primary Icon</span>
	<i class="evo-icon-arrow-right2 evo-icon-position-right" title=""></i>
</button>

<button class="button expand radius disabled secondary show-for-small-only evo-btn" data-evo-button-icons="right" id="" name="" value="" type="" disabled="disabled" tabindex="" title="">
	<span class="evo-btn-text">Disabled Secondary Icon</span>
	<i class="evo-icon-arrow-right2 evo-icon-position-right" title=""></i>
</button>

<button class="button radius disabled secondary show-for-medium-up evo-btn" data-evo-button-icons="right" id="" name="" value="" type="" disabled="disabled" tabindex="" title="">
	<span class="evo-btn-text">Disabled Secondary Icon</span>
	<i class="evo-icon-arrow-right2 evo-icon-position-right" title=""></i>
</button>

<button class="button expand radius disabled show-for-small-only evo-btn" data-evo-background-color="white" data-evo-font-color="sapphire-dark" data-evo-button-icons="right" id="" name="" value="" type="" disabled="disabled" tabindex="" title="">
	<span class="evo-btn-text">Disabled Custom Color Icon</span>
	<i class="evo-icon-arrow-right2 evo-icon-position-right" title=""></i>
</button>

<button class="button radius disabled show-for-medium-up evo-btn" data-evo-background-color="white" data-evo-font-color="sapphire-dark" data-evo-button-icons="right" id="" name="" value="" type="" disabled="disabled" tabindex="" title="">
	<span class="evo-btn-text">Disabled Custom Color Icon</span>
	<i class="evo-icon-arrow-right2 evo-icon-position-right" title=""></i>
</button>