<div class="evo-margin-bottom">
	<h5>Base</h5>
	<div class="color-block" data-evo-background-color="black">#000000</div>
	<div class="color-block" data-evo-background-color="white">#FFFFFF</div>
</div>

<div class="evo-margin-bottom">
	<h5>Gray</h5>
	<div class="color-block" data-evo-background-color="gray-darker">#37424A</div>
	<div class="color-block" data-evo-background-color="gray-dark">#404040</div>
	<div class="color-block" data-evo-background-color="gray-mid">#808080</div>
	<div class="color-block" data-evo-background-color="gray-light">#BFBFBF</div>
</div>

<div class="evo-margin-bottom">
	<h5>Sapphire</h5>
	<div class="color-block" data-evo-background-color="sapphire">#002C77</div>
	<div class="color-block" data-evo-background-color="sapphire-dark">#006D9E</div>
	<div class="color-block" data-evo-background-color="sapphire-mid">#00A8C8</div>
	<div class="color-block" data-evo-background-color="sapphire-light">#A6E2EF</div>
</div>

<div class="evo-margin-bottom">
	<h5>Iolite</h5>
	<div class="color-block" data-evo-background-color="iolite">#43286D</div>
	<div class="color-block" data-evo-background-color="iolite-dark">#595998</div>
	<div class="color-block" data-evo-background-color="iolite-mid">#6F85C2</div>
	<div class="color-block" data-evo-background-color="iolite-light">#C5CAE7</div>
</div>

<div class="evo-margin-bottom">
	<h5>Amethyst</h5>
	<div class="color-block" data-evo-background-color="amethyst">#570054</div>
	<div class="color-block" data-evo-background-color="amethyst-dark">#932077</div>
	<div class="color-block" data-evo-background-color="amethyst-mid">#CF3D96</div>
	<div class="color-block" data-evo-background-color="amethyst-light">#E7B8D6</div>
</div>

<div class="evo-margin-bottom">
	<h5>Ruby</h5>
	<div class="color-block" data-evo-background-color="ruby">#690031</div>
	<div class="color-block" data-evo-background-color="ruby-dark">#A9194F</div>
	<div class="color-block" data-evo-background-color="ruby-mid">#ED2C67</div>
	<div class="color-block" data-evo-background-color="ruby-light">#F7B6BB</div>
</div>

<div class="evo-margin-bottom">
	<h5>Garnet</h5>
	<div class="color-block" data-evo-background-color="garnet">#820009</div>
	<div class="color-block" data-evo-background-color="garnet-dark">#BB2C2B</div>
	<div class="color-block" data-evo-background-color="garnet-mid">#EF4E45</div>
	<div class="color-block" data-evo-background-color="garnet-light">#F9BEAD</div>
</div>

<div class="evo-margin-bottom">
	<h5>Citrine</h5>
	<div class="color-block" data-evo-background-color="citrine">#8D380A</div>
	<div class="color-block" data-evo-background-color="citrine-dark">#C55F24</div>
	<div class="color-block" data-evo-background-color="citrine-mid">#F48132</div>
	<div class="color-block" data-evo-background-color="citrine-light">#FCCFAB</div>
</div>

<div class="evo-margin-bottom">
	<h5>Topaz</h5>
	<div class="color-block" data-evo-background-color="topaz">#905501</div>
	<div class="color-block" data-evo-background-color="topaz-dark">#C98414</div>
	<div class="color-block" data-evo-background-color="topaz-mid">#FBAE17</div>
	<div class="color-block" data-evo-background-color="topaz-light">#FFDDAC</div>
</div>

<div class="evo-margin-bottom">
	<h5>Peridot</h5>
	<div class="color-block" data-evo-background-color="peridot">#516021</div>
	<div class="color-block" data-evo-background-color="peridot-dark">#838E30</div>
	<div class="color-block" data-evo-background-color="peridot-mid">#B3BA35</div>
	<div class="color-block" data-evo-background-color="peridot-light">#D9D99F</div>
</div>

<div class="evo-margin-bottom">
	<h5>Emerald</h5>
	<div class="color-block" data-evo-background-color="emerald">#00582D</div>
	<div class="color-block" data-evo-background-color="emerald-dark">#128C3F</div>
	<div class="color-block" data-evo-background-color="emerald-mid">#72BE44</div>
	<div class="color-block" data-evo-background-color="emerald-light">#BDDDA3</div>
</div>

<div class="evo-margin-bottom">
	<h5>Turquoise</h5>
	<div class="color-block" data-evo-background-color="turquoise">#004C50</div>
	<div class="color-block" data-evo-background-color="turquoise-dark">#008075</div>
	<div class="color-block" data-evo-background-color="turquoise-mid">#0FB694</div>
	<div class="color-block" data-evo-background-color="turquoise-light">#A7D9C8</div>
</div>