<footer class="evo-footer">
	<div id="nav-bookmark" class="evo-footer-adjust">
		<div class="col-24 evo-footer-content-ctn">
			<div class="col-10 evo-footer-logo first">
				<img src="{{ "mercer_logo_126x18.png" | asset_url }}" alt="Mercer" width="126" height="18" />
			</div>
			<div class="col-14 evo-footer-copyright">
				<ul class="evo-horizontal-list evo-horizontal-list-piped">
					<li>&copy; {{ 'now' | date: "%Y" }} Mercer LLC, All Rights Reserved</li>
				</ul>
			</div>
		</div>
	</div>
</footer>