<div class="evo-price-table">
	<div class="evo-price-table-row">
	<!-- ITEM - BEGINS -->
		<ul class="small-block-grid-2">
			<li class="evo-item">Blue Cross of Massachusetts</li>
			<li class="evo-item-amt">$140.00</li>
		</ul>
	<!-- ITEM - END -->
	</div>
	<!-- TOTAL - BEGINS -->
		<ul class="small-block-grid-2 evo-price-table-total-row">
			<li class="total-label">Total</li>
			<li class="total-amt">$189.65</li>
		</ul>
	<!-- TOTAL - ENDS -->
</div>

<div class="evo-price-table">
	<div class="evo-price-table-row">
	<!-- ITEM LABEL - BEGINS -->
		<ul class="small-block-grid-2 evo-item-label-ctn">
			<li class="evo-item-label">Health</li>
			<li>&nbsp;</li>
		</ul>
	<!-- ITEM LABEL - END -->

	<!-- ITEM - BEGINS -->
		<ul class="small-block-grid-2">
			<li class="evo-item">
				Blue Cross of Massachusetts
			</li>
			<li class="evo-item-amt">
				$140.00
			</li>
		</ul>
	<!-- ITEM - END -->
	</div>

	<!-- TOTAL - BEGINS -->
	<ul class="small-block-grid-2 evo-price-table-total-row">
		<li class="total-label">Total</li>
		<li class="total-amt">$189.65</li>
	</ul>
	<!-- TOTAL - ENDS -->
</div>

<div class="evo-price-table">
	<div class="evo-price-table-row">
	<!-- ITEM - BEGINS -->
		<ul class="small-block-grid-2">
			<li class="evo-item">
				Blue Cross of Massachusetts
			</li>
			<li class="evo-item-amt">
				$140.00
				<div class="evo-item-amt-label">monthly</div>
			</li>
		</ul>
	<!-- ITEM - END -->
	</div>

	<!-- TOTAL - BEGINS -->
	<ul class="small-block-grid-2 evo-price-table-total-row">
		<li class="total-label">Total</li>
		<li class="total-amt">$189.65</li>
	</ul>
	<!-- TOTAL - ENDS -->
</div>

<div class="evo-price-table">
	<div class="evo-price-table-row">
	<!-- ITEM LABEL - BEGINS -->
		<ul class="small-block-grid-2 evo-item-label-ctn">
			<li class="evo-item-label">Health</li>
			<li>&nbsp;</li>
		</ul>
	<!-- ITEM LABEL - END -->

	<!-- ITEM - BEGINS -->
		<ul class="small-block-grid-2">
			<li class="evo-item">
				Blue Cross of Massachusetts
			</li>
			<li class="evo-item-amt">
				$140.00
				<div class="evo-item-amt-label">monthly</div>
			</li>
		</ul>
	<!-- ITEM - END -->
	</div>

	<!-- TOTAL - BEGINS -->
	<ul class="small-block-grid-2 evo-price-table-total-row">
		<li class="total-label">Total</li>
		<li class="total-amt">$189.65</li>
	</ul>
	<!-- TOTAL - ENDS -->
</div>

<div class="evo-price-table">
	<div class="evo-price-table-row">
	<!-- ITEM LABEL - BEGINS -->
		<ul class="small-block-grid-2 evo-item-label-ctn">
			<li class="evo-item-label">Health</li>
			<li>&nbsp;</li>
		</ul>
	<!-- ITEM LABEL - END -->

	<!-- ITEM - BEGINS -->
		<ul class="small-block-grid-2">
			<li class="evo-item">
				Blue Cross of Massachusetts
			</li>
			<li class="evo-item-amt">
				$140.00
				<div class="evo-item-amt-label">monthly</div>
			</li>
		</ul>
	<!-- ITEM - END -->
	</div>

	<!-- BREAK DONE ROW - BEGINS -->
		<ul class="small-block-grid-2 evo-price-table-break-down-row">
			<li class="break-down-label">Retiremet Contribution</li>
			<li class="break-down-amt">$12.00</li>
		</ul>
	<!-- BREAK DONE ROW - ENDS -->

	<!-- BREAK DONE ROW - BEGINS -->
		<ul class="small-block-grid-2 evo-price-table-break-down-row">
			<li class="break-down-label">Other Investments</li>
			<li class="break-down-amt">$255.25</li>
		</ul>
	<!-- BREAK DONE ROW - ENDS -->

	<!-- TOTAL - BEGINS -->
		<ul class="small-block-grid-2 evo-price-table-total-row">
			<li class="total-label">Total</li>
			<li class="total-amt">$189.65</li>
		</ul>
	<!-- TOTAL - ENDS -->
</div>