//-------------------------------------------------------------------------------------------
// Mercer Evolution - Core v2.4 - Core Dev Tools Partial
// DATE - April 4, 2014
// AUTHOR - Doug Fraize, Matthew Holmes
//-------------------------------------------------------------------------------------------

/*=== CORE DEV TOOLS ======================================================================*/

// Code syntax styles for code examples
code,
pre							{
							@include border-radius($borderRadiusSmall);
							padding: 0 3px 2px 3px;
							font-family: Monaco, "Courier New", monospace;
							font-size: 12px;
							color: #333;
							}

code						{
							padding: 2px 4px;
							color: #514721;
							white-space: nowrap;
							background-color: #FFF6BF;
							border: 1px solid #FFD324;
							}

// Testing outlines
.red-outline				{outline:1px solid red;}
.blue-outline				{outline:1px solid blue;}

// Testing borders
.red-border-outline			{border:1px solid red;}
.blue-border-outline		{border:1px solid blue;}

// Testing backgrounds
.gray-background			{background-color: #CCC;}
.red-background				{background-color: red;}