<!-- TYPOGRAPHY - BEGINS -->
	<h5 class="evo-spacer-margin-top-medium">Font Families</h5>

	<p class="evo-spacer-margin-bottom-medium">Mercer Digital projects will use the Proxima Nova font family. Proxima Nova is a modern typeface with a geometric appearance that has become one of the most popular web fonts within the past few years.</p>

	<div class="row">
		<div class="small-12 columns">

			<h6 class="evo-hdr-rule evo-spacer-margin-top-medium evo-spacer-margin-bottom-large">Proxima Nova Regular</h6>
			<div class="evo-type-sample" data-evo-type-sample="proxima-nova-regular">
				<div class="large-size">Aa</div>
				<div class="medium-size">
					<span>ABCDEFGHIJKLMNOPQRSTUVWXYZ</span><br />
					abcdefghijklmnopqrstuvwxyz<br />
					0123456789!@#$%^&*(-)
				</div>
			</div>
			
		</div>
	</div>

	<div class="row">
		<div class="medium-6 columns">
		
			<h6 class="evo-hdr-rule evo-spacer-margin-top-large evo-spacer-margin-bottom-large">Proxima Nova Semibold</h6>
			<div class="evo-type-sample" data-evo-type-sample="proxima-nova-semibold">
				<div class="large-size">Aa</div>
				<div class="small-size">
					<span>ABCDEFGHIJKLMNOPQRSTUVWXYZ</span><br />
					abcdefghijklmnopqrstuvwxyz<br />
					0123456789!@#$%^&*(-)
				</div>
			</div>
			
		</div>
		<div class="medium-6 columns">
		
			<h6 class="evo-hdr-rule evo-spacer-margin-top-large evo-spacer-margin-bottom-large">Proxima Nova Bold</h6>
			<div class="evo-type-sample" data-evo-type-sample="proxima-nova-bold">
				<div class="large-size">Aa</div>
				<div class="small-size">
					<span>ABCDEFGHIJKLMNOPQRSTUVWXYZ</span><br />
					abcdefghijklmnopqrstuvwxyz<br />
					0123456789!@#$%^&*(-)
				</div>
			</div>
			
		</div>
	</div>

	<div class="row">
		<div class="medium-6 columns">
		
			<h6 class="evo-hdr-rule evo-spacer-margin-top-large evo-spacer-margin-bottom-large">Proxima Nova Regular Italic</h6>
			<div class="evo-type-sample" data-evo-type-sample="proxima-nova-italic">
				<div class="large-size">Aa</div>
				<div class="small-size">
					<span>ABCDEFGHIJKLMNOPQRSTUVWXYZ</span><br />
					abcdefghijklmnopqrstuvwxyz<br />
					0123456789!@#$%^&*(-)
				</div>
			</div>
			
		</div>
		<div class="medium-6 columns">
		
			<h6 class="evo-hdr-rule evo-spacer-margin-top-large evo-spacer-margin-bottom-large">Proxima Nova Thin</h6>
			<div class="evo-type-sample" data-evo-type-sample="proxima-nova-thin">
				<div class="large-size">Aa</div>
				<div class="small-size">
					<span>ABCDEFGHIJKLMNOPQRSTUVWXYZ</span><br />
					abcdefghijklmnopqrstuvwxyz<br />
					0123456789!@#$%^&*(-)
				</div>
			</div>
			
		</div>
	</div>
	<br />

	<h5 class="evo-spacer-margin-top-large evo-spacer-margin-bottom-large">Typographic Hierarchy</h5>

	<div class="row evo-type-hierarchy-row" data-equalizer>
		<div class="medium-2 large-1 columns evo-keyline-right" data-equalizer-watch>
			<h1 class="subheader">h1</h1>
		</div>
		<div class="medium-7 large-8 columns evo-keyline-right" data-equalizer-watch>
			<h1>Parker Ranch</h1>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.
			</p>
		</div>
		<div class="medium-3 columns" data-equalizer-watch>
			<ul class="evo-data-list evo-type-data-list">
				<li>
					<span class="evo-data-list-label">Usage:</span>
					<span class="evo-data-list-item">Header</span>
				</li>
				<li>
					<span class="evo-data-list-label">Font:</span>
					<span class="evo-data-list-item">Proxima Nova Semibold</span>
				</li>
				<li>
					<span class="evo-data-list-label">Text Transform:</span>
					<span class="evo-data-list-item">Uppercase</span>
				</li>
				<li>
					<span class="evo-data-list-label">Size:</span>
					<span class="evo-data-list-item">2.375em / 38px</span>
				</li>
				<li>
					<span class="evo-data-list-label">HTML Letter Spacing:</span>
					<span class="evo-data-list-item">7.5px</span>
				</li>
				<li>
					<span class="evo-data-list-label">Photoshop Letter Spacing:</span>
					<span class="evo-data-list-item">180px</span>
				</li>
				<li>
					<span class="evo-data-list-label">Text Decoration:</span>
					<span class="evo-data-list-item">None</span>
				</li>
			</ul>
		</div>
	</div>

	<div class="row evo-type-hierarchy-row" data-equalizer>
		<div class="medium-2 large-1 columns evo-keyline-right" data-equalizer-watch>
			<h2 class="subheader">h2</h2>
		</div>
		<div class="medium-7 large-8 columns evo-keyline-right" data-equalizer-watch>
			<h2>Parker Ranch</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.
			</p>
		</div>
		<div class="medium-3 columns" data-equalizer-watch>
			<ul class="evo-data-list evo-type-data-list">
				<li>
					<span class="evo-data-list-label">Usage:</span>
					<span class="evo-data-list-item">Header</span>
				</li>
				<li>
					<span class="evo-data-list-label">Font:</span>
					<span class="evo-data-list-item">Proxima Nova Regular</span>
				</li>
				<li>
					<span class="evo-data-list-label">Text Transform:</span>
					<span class="evo-data-list-item">Uppercase</span>
				</li>
				<li>
					<span class="evo-data-list-label">Size:</span>
					<span class="evo-data-list-item">2em / 32px</span>
				</li>
				<li>
					<span class="evo-data-list-label">HTML Letter Spacing:</span>
					<span class="evo-data-list-item">6px</span>
				</li>
				<li>
					<span class="evo-data-list-label">Photoshop Letter Spacing:</span>
					<span class="evo-data-list-item">170px</span>
				</li>
				<li>
					<span class="evo-data-list-label">Text Decoration:</span>
					<span class="evo-data-list-item">None</span>
				</li>
			</ul>
		</div>
	</div>

	<div class="row evo-type-hierarchy-row" data-equalizer>
		<div class="medium-2 large-1 columns evo-keyline-right" data-equalizer-watch>
			<h3 class="subheader">h3</h3>
		</div>
		<div class="medium-7 large-8 columns evo-keyline-right" data-equalizer-watch>
			<h3>Parker Ranch</h3>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.
			</p>
		</div>
		<div class="medium-3 columns" data-equalizer-watch>
			<ul class="evo-data-list evo-type-data-list">
				<li>
					<span class="evo-data-list-label">Usage:</span>
					<span class="evo-data-list-item">Header</span>
				</li>
				<li>
					<span class="evo-data-list-label">Font:</span>
					<span class="evo-data-list-item">Proxima Nova Regular</span>
				</li>
				<li>
					<span class="evo-data-list-label">Text Transform:</span>
					<span class="evo-data-list-item">Uppercase</span>
				</li>
				<li>
					<span class="evo-data-list-label">Size:</span>
					<span class="evo-data-list-item">1.625em / 26px</span>
				</li>
				<li>
					<span class="evo-data-list-label">HTML Letter Spacing:</span>
					<span class="evo-data-list-item">4.5px</span>
				</li>
				<li>
					<span class="evo-data-list-label">Photoshop Letter Spacing:</span>
					<span class="evo-data-list-item">160px</span>
				</li>
				<li>
					<span class="evo-data-list-label">Text Decoration:</span>
					<span class="evo-data-list-item">None</span>
				</li>
			</ul>
		</div>
	</div>

	<div class="row evo-type-hierarchy-row" data-equalizer>
		<div class="medium-2 large-1 columns evo-keyline-right" data-equalizer-watch>
			<h4 class="subheader">h4</h4>
		</div>
		<div class="medium-7 large-8 columns evo-keyline-right" data-equalizer-watch>
			<h4>Parker Ranch</h4>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.
			</p>
		</div>
		<div class="medium-3 columns" data-equalizer-watch>
			<ul class="evo-data-list evo-type-data-list">
				<li>
					<span class="evo-data-list-label">Usage:</span>
					<span class="evo-data-list-item">Sub-header</span>
				</li>
				<li>
					<span class="evo-data-list-label">Font:</span>
					<span class="evo-data-list-item">Proxima Nova Semibold</span>
				</li>
				<li>
					<span class="evo-data-list-label">Text Transform:</span>
					<span class="evo-data-list-item">Uppercase</span>
				</li>
				<li>
					<span class="evo-data-list-label">Size:</span>
					<span class="evo-data-list-item">1.375em / 22px</span>
				</li>
				<li>
					<span class="evo-data-list-label">HTML Letter Spacing:</span>
					<span class="evo-data-list-item">3.5px</span>
				</li>
				<li>
					<span class="evo-data-list-label">Photoshop Letter Spacing:</span>
					<span class="evo-data-list-item">180px</span>
				</li>
				<li>
					<span class="evo-data-list-label">Text Decoration:</span>
					<span class="evo-data-list-item">None</span>
				</li>
			</ul>
		</div>
	</div>

	<div class="row evo-type-hierarchy-row" data-equalizer>
		<div class="medium-2 large-1 columns evo-keyline-right" data-equalizer-watch>
			<h5 class="subheader">h5</h5>
		</div>
		<div class="medium-7 large-8 columns evo-keyline-right" data-equalizer-watch>
			<h5>Parker Ranch</h5>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.
			</p>
		</div>
		<div class="medium-3 columns" data-equalizer-watch>
			<ul class="evo-data-list evo-type-data-list">
				<li>
					<span class="evo-data-list-label">Usage:</span>
					<span class="evo-data-list-item">Sub-header</span>
				</li>
				<li>
					<span class="evo-data-list-label">Font:</span>
					<span class="evo-data-list-item">Proxima Nova Regular</span>
				</li>
				<li>
					<span class="evo-data-list-label">Text Transform:</span>
					<span class="evo-data-list-item">Uppercase</span>
				</li>
				<li>
					<span class="evo-data-list-label">Size:</span>
					<span class="evo-data-list-item">1.125em / 18px</span>
				</li>
				<li>
					<span class="evo-data-list-label">HTML Letter Spacing:</span>
					<span class="evo-data-list-item">3.5px</span>
				</li>
				<li>
					<span class="evo-data-list-label">Photoshop Letter Spacing:</span>
					<span class="evo-data-list-item">180px</span>
				</li>
				<li>
					<span class="evo-data-list-label">Text Decoration:</span>
					<span class="evo-data-list-item">None</span>
				</li>
			</ul>
		</div>
	</div>

	<div class="row evo-type-hierarchy-row" data-equalizer>
		<div class="medium-2 large-1 columns evo-keyline-right" data-equalizer-watch>
			<h6 class="subheader">h6</h6>
		</div>
		<div class="medium-7 large-8 columns evo-keyline-right" data-equalizer-watch>
			<h6>Parker Ranch</h6>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.
			</p>
		</div>
		<div class="medium-3 columns" data-equalizer-watch>
			<ul class="evo-data-list evo-type-data-list">
				<li>
					<span class="evo-data-list-label">Usage:</span>
					<span class="evo-data-list-item">Page Title</span>
				</li>
				<li>
					<span class="evo-data-list-label">Font:</span>
					<span class="evo-data-list-item">Proxima Nova Semibold</span>
				</li>
				<li>
					<span class="evo-data-list-label">Text Transform:</span>
					<span class="evo-data-list-item">Uppercase</span>
				</li>
				<li>
					<span class="evo-data-list-label">Size:</span>
					<span class="evo-data-list-item">0.875em / 14px</span>
				</li>
				<li>
					<span class="evo-data-list-label">HTML Letter Spacing:</span>
					<span class="evo-data-list-item">3.5px</span>
				</li>
				<li>
					<span class="evo-data-list-label">Photoshop Letter Spacing:</span>
					<span class="evo-data-list-item">180px</span>
				</li>
				<li>
					<span class="evo-data-list-label">Text Decoration:</span>
					<span class="evo-data-list-item">None</span>
				</li>
			</ul>
		</div>
	</div>

	<h6 class="evo-hdr-rule evo-spacer-margin-top-large evo-spacer-margin-bottom-large">Core Classes</h6>

	<div class="row evo-type-hierarchy-row" data-equalizer>
		<div class="medium-9 columns evo-keyline-right" data-equalizer-watch>
			<h6>Base Font</h6>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.
			</p>
		</div>
		<div class="medium-3 columns" data-equalizer-watch>
			<ul class="evo-data-list evo-type-data-list">
				<li>
					<span class="evo-data-list-label">Usage:</span>
					<span class="evo-data-list-item">Body Content</span>
				</li>
				<li>
					<span class="evo-data-list-label">Font:</span>
					<span class="evo-data-list-item">Proxima Nova Regular</span>
				</li>
				<li>
					<span class="evo-data-list-label">Size:</span>
					<span class="evo-data-list-item">1em / 16px</span>
				</li>
				<li>
					<span class="evo-data-list-label">Line Height:</span>
					<span class="evo-data-list-item">1.32em / 21px</span>
				</li>
				<li>
					<span class="evo-data-list-label">Text Decoration:</span>
					<span class="evo-data-list-item">None</span>
				</li>
			</ul>
		</div>
	</div>

	<div class="row evo-type-hierarchy-row" data-equalizer>
		<div class="medium-9 columns evo-keyline-right" data-equalizer-watch>
			<h6>Default Link</h6>
			<p>
				<a href="#/">Example Link</a>
			</p>
		</div>
		<div class="medium-3 columns" data-equalizer-watch>
			<ul class="evo-data-list evo-type-data-list">
				<li>
					<span class="evo-data-list-label">Usage:</span>
					<span class="evo-data-list-item">Links</span>
				</li>
				<li>
					<span class="evo-data-list-label">Font:</span>
					<span class="evo-data-list-item">Proxima Nova Regular</span>
				</li>
				<li>
					<span class="evo-data-list-label">Size:</span>
					<span class="evo-data-list-item">1em / 16px</span>
				</li>
				<li>
					<span class="evo-data-list-label">Line Height:</span>
					<span class="evo-data-list-item">1.32em / 21px</span>
				</li>
				<li>
					<span class="evo-data-list-label">Text Decoration:</span>
					<span class="evo-data-list-item">Underline</span>
				</li>
			</ul>
		</div>
	</div>

	<div class="row evo-type-hierarchy-row" data-equalizer>
		<div class="medium-9 columns evo-keyline-right" data-equalizer-watch>
			<h6>Labels</h6>
			<form class="" id="" name="" method="" action="" title="">
				<fieldset>
					<div class="row">
						<div class="small-6 columns">
							<label>
								Form Label
								<input type="text" placeholder="Placeholder text" tabindex="" title="" />
							</label>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
		<div class="medium-3 columns" data-equalizer-watch>
			<ul class="evo-data-list evo-type-data-list">
				<li>
					<span class="evo-data-list-label">Usage:</span>
					<span class="evo-data-list-item">Form Labels</span>
				</li>
				<li>
					<span class="evo-data-list-label">Font:</span>
					<span class="evo-data-list-item">Proxima Nova Semibold</span>
				</li>
				<li>
					<span class="evo-data-list-label">Size:</span>
					<span class="evo-data-list-item">0.875em / 14px</span>
				</li>
				<li>
					<span class="evo-data-list-label">Line Height:</span>
					<span class="evo-data-list-item">1.32em / 21px</span>
				</li>
				<li>
					<span class="evo-data-list-label">Text Decoration:</span>
					<span class="evo-data-list-item">None</span>
				</li>
			</ul>
		</div>
	</div>

	<div class="row evo-type-hierarchy-row" data-equalizer>
		<div class="medium-9 columns evo-keyline-right" data-equalizer-watch>
			<h6>Small Text</h6>
			<p class="evo-footnote">
				<small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</small>
			</p>
		</div>
		<div class="medium-3 columns" data-equalizer-watch>
			<ul class="evo-data-list evo-type-data-list">
				<li>
					<span class="evo-data-list-label">Usage:</span>
					<span class="evo-data-list-item">Small Text / Footnotes</span>
				</li>
				<li>
					<span class="evo-data-list-label">Font:</span>
					<span class="evo-data-list-item">Proxima Nova Regular</span>
				</li>
				<li>
					<span class="evo-data-list-label">Size:</span>
					<span class="evo-data-list-item">0.750em / 12px</span>
				</li>
				<li>
					<span class="evo-data-list-label">Line Height:</span>
					<span class="evo-data-list-item">1.063em / 17px</span>
				</li>
				<li>
					<span class="evo-data-list-label">Text Decoration:</span>
					<span class="evo-data-list-item">None</span>
				</li>
			</ul>
		</div>
	</div>

	<div class="row evo-type-hierarchy-row" data-equalizer>
		<div class="medium-9 columns evo-keyline-right" data-equalizer-watch>
			<h6>Blockquote</h6>
			<blockquote>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
			</blockquote>
		</div>
		<div class="medium-3 columns" data-equalizer-watch>
			<ul class="evo-data-list evo-type-data-list">
				<li>
					<span class="evo-data-list-label">Usage:</span>
					<span class="evo-data-list-item">Pull Quote</span>
				</li>
				<li>
					<span class="evo-data-list-label">Font:</span>
					<span class="evo-data-list-item">Proxima Nova Thin</span>
				</li>
				<li>
					<span class="evo-data-list-label">Size:</span>
					<span class="evo-data-list-item">1.375em / 22px</span>
				</li>
				<li>
					<span class="evo-data-list-label">Line Height:</span>
					<span class="evo-data-list-item">1.273em / 28px</span>
				</li>
				<li>
					<span class="evo-data-list-label">Text Decoration:</span>
					<span class="evo-data-list-item">None</span>
				</li>
			</ul>
		</div>
	</div>	
<!-- TYPOGRAPHY - ENDS -->