{% layout "ee/layout" %}
{% block content %}

<!-- HERO IMAGE - BEGINS -->
	{% include "/ee/hero-banner" %}
<!-- HERO IMAGE - ENDS -->

<!-- PAGE CONTENT - BEGINS -->
	<section class="row">
		<div class="large-10 large-centered columns evo-site-family-content-ctn">
			<div class="row text-center">

				<!-- DESIGN PRINCIPLES NAV - BEGINS -->
				{% include "/ee/design-principles-nav" %}
				<!-- DESIGN PRINCIPLES NAV - ENDS -->

			</div>
			<div class="row" data-equalizer data-equalizer-mq="medium-up" data-options="equalize_on_stack: true">
				<div class="medium-6 columns">

				<!-- TENET - BEGINS -->
					<div class="panel evo-box evo-family-categories-ctn" data-equalizer-watch>
						<div class="evo-box-circle evo-center-block">
							<i class="evo-icon-site-sort evo-icon-size-medium evo-center-block-vertical-element evo-center-block ee-icon" title="" aria-label=""></i>
						</div>

						<div class="evo-box-hdr evo-spacer-padding-bottom-small">
							<h5>SCROLLING SON!</h5>
						</div>
						<div class="evo-box-bdy text-left">
							<p>Scrolling in and of itself is neither good nor bad. is often faster than paging.</p>
							<hr />
							<p>If the content is usable and on point, users will not have an issue scrolling to consume it.</p>
							<hr />
							<p>Users can scan a page quicker than a browser can load it.</p>
						</div>
					</div>
				<!-- TENET - ENDS -->

				</div>
				<div class="medium-6 columns">

				<!-- TENET - BEGINS -->
					<div class="panel evo-box evo-family-categories-ctn" data-equalizer-watch>
						<div class="evo-box-circle evo-center-block">
							<i class="evo-icon-site-bubble-lines3 evo-icon-size-medium evo-center-block-vertical-element evo-center-block ee-icon" title="" aria-label=""></i>
						</div>

						<div class="evo-box-hdr evo-spacer-padding-bottom-small">
							<h5>PROVIDE USER FEEDBACK</h5>
						</div>
						<div class="evo-box-bdy text-left">
							<p>Highlight the change when a page doesn't refresh, but something happens.</p>
							<hr />
							<p>Provide positive and negative feedback immediately when an action has been attempted.</p>
							<hr />
							<p>Let the user know how many steps are remaining.</p>
						</div>
					</div>
				<!-- TENET - ENDS -->

				</div>
			</div>
			<div class="row" data-equalizer data-equalizer-mq="medium-up" data-options="equalize_on_stack: true">
				<div class="medium-6 columns">

				<!-- TENET - BEGINS -->
					<div class="panel evo-box evo-family-categories-ctn" data-equalizer-watch>
						<div class="evo-box-circle evo-center-block">
							<i class="evo-icon-site-popout evo-icon-size-medium evo-center-block-vertical-element evo-center-block ee-icon" title="" aria-label=""></i>
						</div>

						<div class="evo-box-hdr evo-spacer-padding-bottom-small">
							<h5>SEPARATE VIEWS FOR EDIT AND DISPLAY</h5>
						</div>
						<div class="evo-box-bdy text-left">
							<p>When presenting data, keep the user's mind set front and center. Is the user expecting to read/scan data or are they expecting to edit it?</p>
							<hr />
							<p>Don't provide a single view that mixes both mind sets.</p>
						</div>
					</div>
				<!-- TENET - ENDS -->

				</div>
				<div class="medium-6 columns">

				<!-- TENET - BEGINS -->
					<div class="panel evo-box evo-family-categories-ctn" data-equalizer-watch>
						<div class="evo-box-circle evo-center-block">
							<i class="evo-icon-site-meter-fast evo-icon-size-medium evo-center-block-vertical-element evo-center-block ee-icon" title="" aria-label=""></i>
						</div>

						<div class="evo-box-hdr evo-spacer-padding-bottom-small">
							<h5>PERFORMANCE IMPACTS DESIGN</h5>
						</div>
						<div class="evo-box-bdy text-left">
							<p>Nobody likes to wait &mdash; so be aware of the cost of each design element and data set.</p>
							<hr />
							<p>Organize content in way that doesn't overload the screen.</p>
						</div>
					</div>
				<!-- TENET - ENDS -->

				</div>
			</div>
			<div class="row" data-equalizer data-equalizer-mq="medium-up" data-options="equalize_on_stack: true">
				<div class="medium-6 columns">

				<!-- TENET - BEGINS -->
					<div class="panel evo-box evo-family-categories-ctn" data-equalizer-watch>
						<div class="evo-box-circle evo-center-block">
							<i class="evo-icon-warning2 evo-icon-size-medium evo-center-block-vertical-element evo-center-block ee-icon" title="" aria-label=""></i>
						</div>

						<div class="evo-box-hdr evo-spacer-padding-bottom-small">
							<h5>PREVENT ERRORS</h5>
						</div>
						<div class="evo-box-bdy text-left">
							<p>Presenting immediate feedback to the user in the case of an error is important, but it is more important to prevent the error from happening in the first place.</p>
							<hr />
							<p>Thoughtful attention to detail with regard to form design can prevent errors from occurring.</p>
							<hr />
							<p>Use appropriate default options where possible.</p>
						</div>
					</div>
				<!-- TENET - ENDS -->

				</div>
				<div class="medium-6 columns">

				<!-- TENET - BEGINS -->
					<div class="panel evo-box evo-family-categories-ctn" data-equalizer-watch>
						<div class="evo-box-circle evo-center-block">
							<i class="evo-icon-site-paragraph-left3 evo-icon-size-medium evo-center-block-vertical-element evo-center-block ee-icon" title="" aria-label=""></i>
						</div>

						<div class="evo-box-hdr evo-spacer-padding-bottom-small">
							<h5>MINIMIZE CONTENT AS EXPLANATION</h5>
						</div>
						<div class="evo-box-bdy text-left">
							<p>If the answer to a design challenge is to "add more text", the design has failed the Simplicity principle.</p>
							<hr />
							<p>Designs should be intuitive enough on their to not have to rely on additional explanatory text.</p>
							<hr />
							<p>When text is needed, use good web writing principles as described below.</p>
						</div>
					</div>
				<!-- TENET - ENDS -->

				</div>
			</div>
			<div class="row" data-equalizer data-equalizer-mq="medium-up" data-options="equalize_on_stack: true">
				<div class="medium-6 columns">

				<!-- TENET - BEGINS -->
					<div class="panel evo-box evo-family-categories-ctn" data-equalizer-watch>
						<div class="evo-box-circle evo-center-block">
							<i class="evo-icon-site-magazine evo-icon-size-medium evo-center-block-vertical-element evo-center-block ee-icon" title="" aria-label=""></i>
						</div>

						<div class="evo-box-hdr evo-spacer-padding-bottom-small">
							<h5>CONTENT IS DESIGN TOO</h5>
						</div>
						<div class="evo-box-bdy text-left">
							<p>Clear language is vital for user's to find their way through the site/product in order to capture their goals.</p>
							<hr />
							<p>Avoid internal jargon and acronyms. Use plain, everyday words and phrases.</p>
							<hr />
							<p>Keep labels concise. Avoid repetitive words or phrases &mdash; like "Your Benefits" and "Your Dependents" and "Your Investments" &mdash; that require the user to parse through just to identify the differentiators.</p>
							<hr />
							<p>Be consistent with regard to labels and language. When things don't match up, the experience can feel disjointed and confusing.</p>
							<p>Use active voice</p>
							<p>Employ page headers and subheaders to assist with scanability</p>
						</div>
					</div>
				<!-- TENET - ENDS -->

				</div>
				<div class="medium-6 columns">

				<!-- TENET - BEGINS -->
					<div class="panel evo-box evo-family-categories-ctn" data-equalizer-watch>
						<div class="evo-box-circle evo-center-block">
							<i class="evo-icon-site-reset evo-icon-size-medium evo-center-block-vertical-element evo-center-block ee-icon" title="" aria-label=""></i>
						</div>

						<div class="evo-box-hdr evo-spacer-padding-bottom-small">
							<h5>UNDERSTAND THE COST OF AN ACTION</h5>
						</div>
						<div class="evo-box-bdy text-left">
							<p>Make sure to provide ways to undo mistakes users might make.</p>
							<hr />
							<p>In order to be most efficient, weigh the cost of an unintended action against the need to "pre-confirm" the action.</p>
							<hr />
							<p>For example, when the cost of the action is high &mdash; like for a user who is about to cancel a benefits enrollment after they have already entered a lot of data - provide a "pre-confirmation" warning explaining that all the data the user entered will be deleted if they continue.</p>
							<hr />
							<p>In a scenario where the cost is much less &mdash; like when a user is going to delete an old email address &mdash; that same "pre-confirmation" warning would add unnecessary time to complete the action and would cause friction.</p>
						</div>
					</div>
				<!-- TENET - ENDS -->

				</div>
			</div>
		</div>
	</section>
<!-- PAGE CONTENT - ENDS -->

{% endblock %}