<a href="#/" class="button tiny radius secondary evo-button" id="" role="button" title="" aria-label="">Tiny a</a>
<a href="#/" class="button small radius secondary evo-button" id="" role="button" title="" aria-label="">Small a</a>
<a href="#/" class="button radius secondary evo-button" id="" role="button" title="" aria-label="">Default a</a>
<a href="#/" class="button large radius secondary evo-button" id="" role="button" title="" aria-label="">Large a</a>
<br />
<a href="#/" class="button tiny radius evo-button" id="" role="button" title="" aria-label="">Tiny a</a>
<a href="#/" class="button small radius evo-button" id="" role="button" title="" aria-label="">Small a</a>
<a href="#/" class="button radius evo-button" id="" role="button" title="" aria-label="">Default a</a>
<a href="#/" class="button large radius evo-button" id="" role="button" title="" aria-label="">Large a</a>