<!-- Button icon on left and right -->
<a href="#/" class="button radius secondary evo-button" data-evo-button-icons="both" id="" role="button" title="" aria-label="">
	<i class="evo-icon-plus-circle evo-icon-position-left" title=""></i>
	<span class="evo-button-text">Secondary a</span>
	<i class="evo-icon-arrow-right2 evo-icon-position-right" title=""></i>
</a>

<!-- Button icon on left -->
<a href="#/" class="button radius evo-button" data-evo-button-icons="left"  id="" role="button" title="" aria-label="">
	<i class="evo-icon-plus-circle evo-icon-position-left" title=""></i>
	<span class="evo-button-text">Primary a</span>
</a>

<!-- Button icon on right -->
<a href="#/" class="button radius evo-button" data-evo-button-icons="right"  id="" role="button" title="" aria-label="">
	<span class="evo-button-text">Primary a</span>
	<i class="evo-icon-arrow-right2 evo-icon-position-right" title=""></i>
</a>

<!-- Expanded button with icon on left and right -->
<a href="#/" class="button expand radius evo-button" data-evo-button-icons="both" id="" role="button" title="" aria-label="">
	<i class="evo-icon-plus-circle evo-icon-position-left" title=""></i>
	<span class="evo-button-text">Primary a</span>
	<i class="evo-icon-arrow-right2 evo-icon-position-right" title=""></i>
</a>