<button class="button tiny radius secondary evo-button" id="" name="" value="" type="" title="">Tiny</button>
<button class="button small radius secondary evo-button" id="" name="" value="" type="" title="">Small</button>
<button class="button radius secondary evo-button" id="" name="" value="" type="" title="">Default</button>
<button class="button large radius secondary evo-button" id="" name="" value="" type="" title="">Large</button>
<br />
<button class="button tiny radius evo-button" id="" name="" value="" type="" title="">Tiny</button>
<button class="button small radius evo-button" id="" name="" value="" type="" title="">Small</button>
<button class="button radius evo-button" id="" name="" value="" type="" title="">Default</button>
<button class="button large radius evo-button" id="" name="" value="" type="" title="">Large</button>