<div class="button-bar">
	<ul class="button-group radius">
		<li><a href="#/" class="button evo-button" id="" role="button" title="" aria-label="">Primary a</a></li>
		<li><a href="#/" class="button evo-button" id="" role="button" title="" aria-label="">Primary a</a></li>
		<li><a href="#/" class="button evo-button" id="" role="button" title="" aria-label="">Primary a</a></li>
	</ul>
	<ul class="button-group radius">
		<li><a href="#/" class="button evo-button" id="" role="button" title="" aria-label="">Primary a</a></li>
		<li><a href="#/" class="button evo-button" id="" role="button" title="" aria-label="">Primary a</a></li>
		<li><a href="#/" class="button evo-button" id="" role="button" title="" aria-label="">Primary a</a></li>
	</ul>
</div>