<button class="button expand radius secondary evo-button" id="" name="" value="" type="" title="">Secondary expanded</button>
<button class="button round secondary evo-button" id="" name="" value="" type="" title="">Secondary round</button>
<button class="button radius secondary evo-button" id="" name="" value="" type="" title="">Secondary radius</button>

<button class="button expand radius evo-button" id="" name="" value="" type="" title="">Expanded</button>
<button class="button round evo-button" id="" name="" value="" type="" title="">Round</button>
<button class="button radius evo-button" id="" name="" value="" type="" title="">Radius</button>