<button class="button radius secondary evo-button" data-evo-button-interactive="evo-button-interactive-secondary-example" id="" name="" value="" type="" title="">Save</button>
<button class="button radius evo-button" data-evo-button-interactive="evo-button-interactive-primary-example" id="" name="" value="" type="" title="">Save</button>