<!-- Button icon on left and right -->
<button class="button radius secondary evo-button" data-evo-button-icons="both" id="" name="" value="" type="" title="">
	<i class="evo-icon-plus-circle evo-icon-position-left" title=""></i>
	<span class="evo-button-text">Secondary</span>
	<i class="evo-icon-arrow-right2 evo-icon-position-right" title=""></i>
</button>

<!-- Button icon on left -->
<button class="button radius evo-button" data-evo-button-icons="left"  id="" name="" value="" type="" title="">
	<i class="evo-icon-plus-circle evo-icon-position-left" title=""></i>
	<span class="evo-button-text">Primary</span>
</button>

<!-- Button icon on right -->
<button class="button radius evo-button" data-evo-button-icons="right"  id="" name="" value="" type="" title="">
	<span class="evo-button-text">Primary</span>
	<i class="evo-icon-arrow-right2 evo-icon-position-right" title=""></i>
</button>

<!-- Expanded button with icon on left and right -->
<button class="button expand radius evo-button" data-evo-button-icons="both" id="" name="" value="" type="" title="">
	<i class="evo-icon-plus-circle evo-icon-position-left" title=""></i>
	<span class="evo-button-text">Primary</span>
	<i class="evo-icon-arrow-right2 evo-icon-position-right" title=""></i>
</button>