<!-- SHOWCASE PANEL COMPONENT - BEGINS -->
<link href="/ee/components/showcase-panel/showcase-panel.css" rel="stylesheet" type="text/css" />

<ul class="small-block-grid-1 evo-showcase-panel" data-evo-family="ee">
	<li class="evo-showcase-panel-item evo-showcase-panel-item-large">
		<span class="evo-showcase-panel-item-label" data-evo-font-color="sapphire-bright">
			<sup>$</sup>200
			<sub class="evo-showcase-panel-item-sub-label" data-evo-font-color="sapphire-bright">/mo</sub>
		</span>
		<span class="evo-showcase-panel-item-sub-text" data-evo-font-color="sapphire-bright">total cost</span>
	</li>
</ul>

<br />

<ul class="small-block-grid-3 evo-showcase-panel" data-evo-family="ee">
	<li class="evo-showcase-panel-item evo-showcase-panel-item-small">
		<span class="evo-showcase-panel-item-label">
			<sup>$</sup>200
			<sub class="evo-showcase-panel-item-sub-label">/mo</sub>
		</span>
		<span class="evo-showcase-panel-item-sub-text">total cost</span>
	</li>
	<li class="evo-showcase-panel-item evo-showcase-panel-item-small">
		<span class="evo-showcase-panel-item-label">
			<sup>$</sup>200
			<sub class="evo-showcase-panel-item-sub-label">/mo</sub>
		</span>
		<span class="evo-showcase-panel-item-sub-text">total cost</span>
	</li>
	<li class="evo-showcase-panel-item evo-showcase-panel-item-small">
		<span class="evo-showcase-panel-item-label">
			<sup>$</sup>200
			<sub class="evo-showcase-panel-item-sub-label">/mo</sub>
		</span>
		<span class="evo-showcase-panel-item-sub-text">total cost</span>
	</li>
</ul>

<br />

<ul class="small-block-grid-2 evo-showcase-panel" data-evo-showcase-panel-color-reverse data-evo-background-color="emerald-medium" data-evo-family="ee">
	<li class="evo-showcase-panel-item evo-showcase-panel-item-large">
		<span class="evo-showcase-panel-item-label">
			<sup>$</sup>200
			<sub class="evo-showcase-panel-item-sub-label">/mo</sub>
		</span>
		<span class="evo-showcase-panel-item-sub-text">total cost</span>
	</li>
	<li class="evo-showcase-panel-item evo-showcase-panel-item-small">
		<span class="evo-showcase-panel-item-label">
			<sup>$</sup>50
			<sub class="evo-showcase-panel-item-sub-label">/mo</sub>
		</span>
		<span class="evo-showcase-panel-item-sub-text">retirement contribution</span>
	</li>
</ul>

<br />

<ul class="small-block-grid-3 evo-showcase-panel" data-evo-showcase-panel-color-reverse data-evo-background-color="garnet-medium" data-evo-family="ee">
	<li class="evo-showcase-panel-item evo-showcase-panel-item-small">
		<span class="evo-showcase-panel-item-label">
			<sup>$</sup>200
			<sub class="evo-showcase-panel-item-sub-label">/mo</sub>
		</span>
		<span class="evo-showcase-panel-item-sub-text">total cost</span>
	</li>
	<li class="evo-showcase-panel-item evo-showcase-panel-item-small">
		<span class="evo-showcase-panel-item-label">
			<sup>$</sup>200
			<sub class="evo-showcase-panel-item-sub-label">/mo</sub>
		</span>
		<span class="evo-showcase-panel-item-sub-text">total cost</span>
	</li>
	<li class="evo-showcase-panel-item evo-showcase-panel-item-small">
		<span class="evo-showcase-panel-item-label">
			<sup>$</sup>200
			<sub class="evo-showcase-panel-item-sub-label">/mo</sub>
		</span>
		<span class="evo-showcase-panel-item-sub-text">total cost</span>
	</li>
</ul>

<br />

<ul class="small-block-grid-2 evo-showcase-panel" data-evo-showcase-panel-color-reverse data-evo-background-color="topaz-medium" data-evo-family="ee">
	<li class="evo-showcase-panel-item evo-showcase-panel-item-small">
		<span class="evo-showcase-panel-item-label">
			<sup>$</sup>200
			<sub class="evo-showcase-panel-item-sub-label">/mo</sub>
		</span>
		<span class="evo-showcase-panel-item-sub-text">total cost</span>
	</li>
	<li class="evo-showcase-panel-item evo-showcase-panel-item-small">
		<span class="evo-showcase-panel-item-label">
			<sup>$</sup>200
			<sub class="evo-showcase-panel-item-sub-label">/mo</sub>
		</span>
		<span class="evo-showcase-panel-item-sub-text">total cost</span>
	</li>
</ul>

<br />

<ul class="small-block-grid-1 evo-showcase-panel" data-evo-showcase-panel-color-reverse data-evo-background-color="emerald-medium" data-evo-family="ee">
	<li class="evo-showcase-panel-item evo-showcase-panel-item-small">
		<i class="evo-icon-checkmark-circle evo-icon-size-medium" title="Completed" aria-label="Completed"></i>
	</li>
</ul>

<br />

<ul class="small-block-grid-3 evo-showcase-panel" data-evo-showcase-panel-color-reverse data-evo-background-color="emerald-medium" data-evo-family="ee">
	<li class="evo-showcase-panel-item evo-showcase-panel-item-small">
		<i class="evo-icon-checkmark-circle evo-icon-size-medium" title="Completed" aria-label="Completed"></i>
	</li>
	<li class="evo-showcase-panel-item evo-showcase-panel-item-small">
		<i class="evo-icon-checkmark-circle evo-icon-size-medium" title="Completed" aria-label="Completed"></i>
	</li>
	<li class="evo-showcase-panel-item evo-showcase-panel-item-small">
		<span class="evo-showcase-panel-item-label">
			3
			<sub class="evo-showcase-panel-item-sub-label">rd</sub>
		</span>
		<span class="evo-showcase-panel-item-sub-text">goal</span>
	</li>
</ul>

<br />

<ul class="small-block-grid-3 evo-showcase-panel" data-evo-showcase-panel-color-reverse data-evo-background-color="garnet-medium" data-evo-family="ee">
	<li class="evo-showcase-panel-item evo-showcase-panel-item-small">
		<span class="evo-showcase-panel-item-label">
			1
			<sub class="evo-showcase-panel-item-sub-label">st</sub>
		</span>
		<span class="evo-showcase-panel-item-sub-text">goal</span>
	</li>
	<li class="evo-showcase-panel-item evo-showcase-panel-item-small">
		<span class="evo-showcase-panel-item-label" data-evo-font-color="garnet-light">
			2
			<sub class="evo-showcase-panel-item-sub-label" data-evo-font-color="garnet-light">nd</sub>
		</span>
		<span class="evo-showcase-panel-item-sub-text" data-evo-font-color="garnet-light">goal</span>
	</li>
	<li class="evo-showcase-panel-item evo-showcase-panel-item-small">
		<span class="evo-showcase-panel-item-label" data-evo-font-color="garnet-light">
			3
			<sub class="evo-showcase-panel-item-sub-label" data-evo-font-color="garnet-light">rd</sub>
		</span>
		<span class="evo-showcase-panel-item-sub-text" data-evo-font-color="garnet-light">goal</span>
	</li>
</ul>
<!-- SHOWCASE PANEL COMPONENT - ENDS -->