<link href="/ee/components/showcase-panel/showcase-panel.css" rel="stylesheet" type="text/css" />

<ul class="small-block-grid-3 evo-showcase-panel" data-evo-background-color="white">
	<li class="evo-large-cost">
		<span class="evo-cost-number">
			<sup>$</sup>200
			<sub class="evo-monthly-label">/mo</sub>
		</span>
		<span class="evo-total-label">total cost</span>
	</li>
	<li class="evo-large-cost">
		<span class="evo-cost-number">
			<sup>$</sup>200
			<sub class="evo-monthly-label">/mo</sub>
		</span>
		<span class="evo-total-label">total cost</span>
	</li>
	<li class="evo-large-cost">
		<span class="evo-cost-number">
			<sup>$</sup>200
			<sub class="evo-monthly-label">/mo</sub>
		</span>		
		<span class="evo-total-label">total cost</span>
	</li>
</ul>

<br />

<ul class="small-block-grid-2 evo-showcase-panel evo-showcase-reverse" data-evo-background-color="emerald-medium">
	<li class="evo-large-cost">
		<span class="evo-cost-number">
			<sup>$</sup>200
			<sub class="evo-monthly-label">/mo</sub>
		</span>
		<span class="evo-total-label">total cost</span>
	</li>
	<li class="evo-small-cost">
		<span class="evo-cost-number">
			<sup>$</sup>50
			<sub class="evo-monthly-label">/mo</sub>
		</span>
		<span class="evo-total-label">retirement contribution</span>
	</li>
</ul>

<br />

<ul class="small-block-grid-3 evo-showcase-panel evo-showcase-reverse" data-evo-background-color="garnet-bright">
	<li class="evo-small-cost">
		<span class="evo-cost-number">
			<sup>$</sup>200
			<sub class="evo-monthly-label">/mo</sub>
		</span>
		<span class="evo-total-label">total cost</span>
	</li>
	<li class="evo-small-cost">
		<span class="evo-cost-number">
			<sup>$</sup>200
			<sub class="evo-monthly-label">/mo</sub>
		</span>
		<span class="evo-total-label">total cost</span>
	</li>
	<li class="evo-small-cost">
		<span class="evo-cost-number">
			<sup>$</sup>200
			<sub class="evo-monthly-label">/mo</sub>
		</span>
		<span class="evo-total-label">total cost</span>
	</li>
</ul>

<br />

<ul class="small-block-grid-2 evo-showcase-panel evo-showcase-reverse" data-evo-background-color="topaz-bright">
	<li class="evo-small-cost">
		<span class="evo-cost-number">
			<sup>$</sup>200
			<sub class="evo-monthly-label">/mo</sub>
		</span>
		<span class="evo-total-label">total cost</span>
	</li>
	<li class="evo-small-cost">
		<span class="evo-cost-number">
			<sup>$</sup>200
			<sub class="evo-monthly-label">/mo</sub>
		</span>
		<span class="evo-total-label">total cost</span>
	</li>
</ul>

<br />

<ul class="small-block-grid-3 evo-showcase-panel evo-showcase-reverse" data-evo-background-color="emerald-medium">
	<li class="evo-small-cost">
		<span class="evo-icon-adv evo-icon-adv-size-small" title="">
			<i class="evo-icon-checkmark4" data-evo-font-color="white"></i>
		</span>
	</li>
	<li class="evo-small-cost">
		<span class="evo-icon-adv evo-icon-adv-size-small" title="">
			<i class="evo-icon-checkmark4" data-evo-font-color="white"></i>
		</span>
	</li>
	<li class="evo-small-cost">
		<span class="evo-cost-number">
			3
			<sub class="evo-monthly-label">rd</sub>
		</span>
		<span class="evo-total-label">goal</span>
	</li>
</ul>