{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}

<!-- INTRO SECTION - BEGINS -->
	<section class="col-24">
		<h1>{{ model.title }}</h1>
		<p class="mul-intro-text">
			The Inline Search Container is used whenever you want to present the user with a small, concise search form that will display results immediately below.
			
		</p>
	</section>
<!-- INTRO SECTION - ENDS -->

<section class="col-24">

	<h3 class="mul-hdr-dbl-rule">
		Example
		<a href="javascript:;" class="mul-icon-size-small mul-icon-mul-arrow-circle-down mul-icon-color-gray-darker mul-icon-position-right mul-float-right related-items-menu"></a>
	</h3>

<!-- INLINE SEARCH CONTAINER - BEGINS -->
	<div class="col-24 example-min-height">

		<!-- INLINE SEARCH CONTAINER - EXAMPLE - BEGINS -->
			<h4 class="mul-hdr-rule">Example using inline layout</h4>
			{% include "/objects/inline-search-ctn-inline" %}
		<!-- INLINE SEARCH CONTAINER - EXAMPLE - ENDS -->

			<div id="div1" class="mul-display-none">
				{% include "/base/tables/table-interactive" %}
			</div>

		
		<!-- INLINE SEARCH CONTAINER - EXAMPLE - BEGINS -->
			<h4 class="mul-hdr-rule">Example using stacked layout</h4>
			{% include "/objects/inline-search-ctn-stacked" %}
		<!-- INLINE SEARCH CONTAINER - EXAMPLE - ENDS -->

			<div id="div2" class="mul-display-none">
				{% include "/base/tables/table-interactive" %}
			</div>

	</div>
<!-- INLINE SEARCH CONTAINER - ENDS -->

<!-- DETAILS SECTION - BEGINS -->
	<a name="moreDetails"></a>
	<h4 class="mul-hdr-dbl-rule additional-detail-hdr">Additional Details</h4>

	<div class="col-24">
		<div class="js-mul-tabs-example mul-tabs">
			{% include "page-tabs" %}
			<div id="tabs-1">
				<p>Use the Inline Search Container when the user needs to conduct a search <strong>limited to a small number of fields</strong> on a page or within an application. When the search button is selected, search results will appear below and will not reload the page. The results displayed will be formatted using the <a href="/base/tables/interactive">Interactive Data Table.</a> This component also allows search results that can be displayed on a different page once the search button is selected.</p>
			</div>
			<div id="tabs-2">
				<h5>Form Styles</h5>
				<ul>
					<li>The forms within the Inline Search Container can be either <a href="/base/forms/stacked">Stacked</a> or <a href="/base/forms/inline">Inline</a>.
					<li>inline forms within the Inline Search Container can be Left or Right Aligned.</li>
				</ul>
				
				<h5>Sizing and Layout</h5>
				<ul>
					<li>Inline Search Container height and width are variable based on inside content and Inline Search Form height and width. </li>
					<li>The content margins inside all Mercer Inline Search Containers will have 15 pixels of padding all around.</li>
					<li>The padding inside an Inline Search Container from the line under the Label to the beginning of the actual content or Inline Search Form is also 15 pixels. </li>
				</ul>
				
				<h5>Miscellaneous</h5>
				<ul>
					<li>Inline Search Containers work within the Mercer Grid System.</li>
					<li>Inline Search Containers can contain grids inside of them to display and section off data within the container.</li>
					<li>Inline Search Containers are created using HTML tags and the Inline Search Form.</li>
				</ul>
				
				<h5>Buttons</h5>
				<ul>
					<li>There should only be a single Primary Button.</li>
					<li>All button related behavior and styling should work as defined on the <a href="/base/buttons">Buttons</a> component.</li>
				</ul>
			</div>
			<div id="tabs-3">
				<p>Technical details go here&hellip;</p>
			</div>
			<div id="tabs-4">
				<ul>
					<li>For mobile, the inline search container labels stack above the fields.</li>
					<li>The input fields span the width of the parent container (minus the margins).</li>
					<li>The "Search" button spans the width of the parent container (minus the margins).</li>
				</ul>
			</div>
			<div id="tabs-5">
			<!-- GET CODE - BEGINS -->
				<section class="col-24">

					<h5 class="mul-hdr-rule">HTML</h5>
					<p>
						All containers start with base box and in this example we are using the following class <code>mul-inline-search-ctn</code> to give more meaning to a basic box.
					</p>

					<h5>Example using inline layout</h5>
					<pre class="prettyprint linenums"><xmp>{% include "/objects/inline-search-ctn-inline" %}</xmp></pre>

					<h5>Example using stacked layout</h5>
					<pre class="prettyprint linenums"><xmp>{% include "/objects/inline-search-ctn-stacked" %}</xmp></pre>
				</section>
			<!-- GET CODE - ENDS -->
			</div>
		</div>
	</div>
<!-- DETAILS SECTION - ENDS -->

</section>
{% endblock %}