{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}

<!-- INTRO SECTION - BEGINS -->
	<section class="col-24">
		<h1>{{ model.title }}</h1>
		<p class="mul-intro-text">
			Progress Bar is used to provide graphical view of the progress of a specific step or action. It represents a static view of the current status. It is not intended to be a dynamic representation of the user's progress on the task or step.
		</p>
	</section>
<!-- INTRO SECTION - ENDS -->

<section class="col-24">

	<h3 class="mul-hdr-dbl-rule">
		Example
		<a href="javascript:;" class="mul-icon-size-small mul-icon-mul-arrow-circle-down mul-icon-color-gray-darker mul-icon-position-right mul-float-right related-items-menu"></a>
	</h3>

<!-- PROGRESS BAR - BEGINS -->
	<div class="col-24 example-min-height">
		
	</div>
<!-- PROGRESS BAR - ENDS -->

<!-- DETAILS SECTION - BEGINS -->
	<a name="moreDetails"></a>
	<h4 class="mul-hdr-dbl-rule additional-detail-hdr">Additional Details</h4>

	<div class="col-24">
		<div class="js-mul-tabs-example mul-tabs">
			{% include "page-tabs" %}
			<div id="tabs-1">
				<p>It should be used within a complex or multi-stepped process, one that is not expected to be completed within a single user session. Examples include Tasks, Implementations or Renewals.</p>
				<p>If the task is simpler or will be completed within a single "flow", use one of the "Stepper" options - either <a href="/objects/horizontal-stepper">Horizontal</a> or <a href="/objects/vertical-stepper">Vertical</a> depending on the circumstance.</p>
			</div>
			<div id="tabs-2">
				<h5>States</h5>
				<p>There are three states:</p>
				<ul>
					<li>Red - Needs Attention or Just Started</li>
					<li>Yellow - Midpoint or In Progress</li>
					<li>Green - Almost Completed</li>
				</ul>

				<h5>Variables</h5>
				<p>
					Each of these states will be defined as variables as a specific percentage - with the total being 100%.
				</p>
				<p>For example:</p>
				<ul>
					<li>Red = 33%</li>
					<li>Yellow = 33%</li>
					<li>Green = 34%</li>
				</ul>

				<h5>Colors</h5>
				<p>
					The three colors are expressed as gradients - light to dark - within the imagery:
				</p>
				<ul>
					<li>Red - #fcdbd9 to #ba2c2b</li>
					<li>Yellow - #fef8e3 to #f1d485</li>
					<li>Green - #d6ebc to #2b7b05</li>
				</ul>

				<h5>Associated Text</h5>
				<p>
					The actual percentage status number should be displayed to right of the Progress Bar, vertically aligned.
				</p>

				<h5>Size</h5>
				<ul>
					<li>Size of Text</li>
					<li>Size of Images</li>
					<li>Anything else</li>
				</ul>
			</div>
			<div id="tabs-3">
				<p>Technical details go here&hellip;</p>
			</div>
			<div id="tabs-4">
				<p>Examples go here&hellip;</p>
			</div>
			<div id="tabs-5">
			<!-- GET CODE - BEGINS -->
				<section class="col-24">

					<h5 class="mul-hdr-rule">HTML</h5>
					

					<pre class="prettyprint linenums"><xmp></xmp></pre>

					<h5 class="mul-hdr-rule">JS</h5>
					

					<pre class="prettyprint linenums">Coming soon</pre>

				</section>
			<!-- GET CODE - ENDS -->
			</div>
		</div>
	</div>
<!-- DETAILS SECTION - ENDS -->

</section>
{% endblock %}