{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}

<!-- INTRO SECTION - BEGINS -->
	<section class="col-24">
		<h1>{{ model.title }}</h1>
		<p class="mul-intro-text">
			The Scroll Pane is an added control that allows excess information to be presented in a defined space. It essentially allows a container to have scrollable content while keeping the container fixed to a desired height.
		</p>
	</section>
<!-- INTRO SECTION - ENDS -->

<section class="col-24">

	<h3 class="mul-hdr-dbl-rule">
		Example
		<a href="javascript:;" class="mul-icon-size-small mul-icon-mul-arrow-circle-down mul-icon-color-gray-darker mul-icon-position-right mul-float-right related-items-menu"></a>
	</h3>

<!-- SCROLL PANE - BEGINS -->
	<div class="col-24 example-min-height">

		<div class="col-24 mul-margin-bottom">
			<h4 class="mul-hdr-rule">Default (Vertical Scrolling Only)</h4>
			{% include '/objects/scroll-pane' %}
		</div>

		<div class="col-24 mul-margin-bottom">
			<div class="col-12 first">
				<h4 class="mul-hdr-rule">Horizontal Scrolling</h4>
				{% include '/objects/scroll-pane-horizontal' %}
			</div>

			<div class="col-12">
				<h4 class="mul-hdr-rule">Horizontal and Vertical Scrolling</h4>
				{% include '/objects/scroll-pane-horizontal-vertical' %}
			</div>
		</div>

		<div class="col-24">
			<h4 class="mul-hdr-rule">Custom</h4>
			{% include '/objects/scroll-pane-custom' %}
		</div>

	</div>
<!-- SCROLL PANE - ENDS -->

<!-- DETAILS SECTION - BEGINS -->
	<a name="moreDetails"></a>
	<h4 class="mul-hdr-dbl-rule additional-detail-hdr">Additional Details</h4>

	<div class="col-24">
		<div class="js-mul-tabs-example mul-tabs">
			{% include "page-tabs" %}
			<div id="tabs-1">
				<p>
					Scroll Panes are best used to keep containers to a certain height no matter how much content there is on the page. Also use when the content section is expected to overflow the specified area allotted. Keep Scroll Panes vertical; avoid horizontal scrolling whenever possible.
				</p>
			</div>
			<div id="tabs-2">
				<h5>Components</h5>
				<ol>
					<li>Header Text</li>
					<li>Scroll Pane Window</li>
					<li>Scroll Bar</li>
				</ol>

				<h5>Height/Width</h5>
				<ul>
					<li>The Scroll Pane container's width and height placement can be adjusted accordingly, the default height is 300px.</li>
					<li>Place the Scroll Bar on the right side of window (vertical scroll)</li>
					<li>Place the Scroll Bar on the bottom of window (horizontal scroll) - Avoid whenever possible</li>
					<li>Allow the Scroll Bar to appear by default or when the user mouses over the area</li>
				</ul>

				<h5>Visual Design</h5>
				<ul>
					<li>Design the Scroll Pane to fit preferred visual format.</li>
				</ul>
			</div>
			<div id="tabs-3">
				<h4 class="mul-hdr-rule">Dependencies</h4>
				<table class="mul-table mul-table-borders" id="" border="0" cellpadding="0" cellspacing="0" title="" summary="">
					<thead>
						<tr>
							<th width="" scope="col">Library</th>
							<th width="" scope="col">Location or Download</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>jQuery {{ global.jquery_version }}</td>
							<td>assets/scripts/core/lib/jquery</td>
						</tr>
						<tr>
							<td>jQuery Mouse Wheel 3.1.11</td>
							<td>assets/scripts/core/lib/jquery/plugins</td>
						</tr>
						<tr>
							<td>Malihu jQuery Custom Scrollbar Plugin 3.0.1</td>
							<td>assets/scripts/core/lib/jquery/plugins</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="tabs-4">
				<p>In the mobile version, all text is slightly larger.</p>
			</div>
			<div id="tabs-5">
			<!-- GET CODE - BEGINS -->
				<section class="col-24">

					<h5 class="mul-hdr-rule">HTML</h5>

					<h5>Default (Vertical Scrolling Only)</h5>
					<pre class="prettyprint linenums"><xmp>{% include '/objects/scroll-pane' %}</xmp></pre>

					<h5>Horizontal Scrolling Only</h5>
					<pre class="prettyprint linenums"><xmp>{% include '/objects/scroll-pane-horizontal' %}</xmp></pre>

					<h5>Horizontal and Vertical Scrolling</h5>
					<pre class="prettyprint linenums"><xmp>{% include '/objects/scroll-pane-horizontal-vertical' %}</xmp></pre>

					<h5>Custom</h5>
					<p>The Custom Scroll Pane option relies on a JS function initialization which can be found in the JS section of the get code view.</p>
					<pre class="prettyprint linenums"><xmp>{% include '/objects/scroll-pane-custom' %}</xmp></pre>

					<h5 class="mul-hdr-rule">JS</h5>

					<h5>Custom</h5>
					<p>The Custom Scroll Pane function initialization accepts a class and options (which can override the default options specified in assets/scripts/core/components/scroll_pane.js.)</p>
					<pre class="prettyprint linenums">
// Custom scroll pane example init
mulScrollPaneCustom('js-mul-scroll-pane-custom-example',{
	setHeight: 200
});</pre>

				</section>
			<!-- GET CODE - ENDS -->
			</div>
		</div>
	</div>
<!-- DETAILS SECTION - ENDS -->

</section>
{% endblock %}