{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}

<!-- INTRO SECTION - BEGINS -->
	<section class="col-24">
		<h1>{{ model.title }}</h1>
		<p class="mul-intro-text">Use this control when presenting the user with a multi step flow. This component is related to the <a href="/objects/horizontal-stepper">Horizontal Stepper</a>.</p>
	</section>
<!-- INTRO SECTION - ENDS -->

<section class="col-24">

	<h3 class="mul-hdr-dbl-rule">
		Example
		<a href="javascript:;" class="mul-icon-size-small mul-icon-mul-arrow-circle-down mul-icon-color-gray-darker mul-icon-position-right mul-float-right related-items-menu"></a>
	</h3>

<!-- STEPPER EXAMPLES - BEGINS -->
	<div class="col-24 example-min-height">
		{% include '/objects/vertical-stepper' %}
	</div>
<!-- STEPPER EXAMPLES - ENDS -->

<!-- DETAILS SECTION - BEGINS -->
	<div class="col-24">
		<a name="moreDetails"></a>
		<h4 class="mul-hdr-dbl-rule addtional-detail-hdr">Additional Details</h4>
		

		<div class="js-mul-tabs-example mul-tabs">
			{% include "page-tabs" %}
			<div id="tabs-1">
				<p>
					The Vertical Stepper should be used when there is a small, finite number of steps.
				</p>
				<p>
					Use the Vertical Stepper when you want to dedicate more of the prime screen real estate to the content in the multi-step workflow.
				</p>
				<p>
					The Stepper is used in a mutli-step workflow to let the user know:
				</p>

				<ul>
					<li>how many steps are involved</li>
					<li>which steps have been completed</li>
					<li>what the current step is</li>
					<li>how many steps are remaining</li>
				</ul>
			</div>
			<div id="tabs-2">
				<h5>States</h5>
				<p>There are three possible states for a step:</p>
				<ul>
					<li>Completed</li>
					<li>Current</li>
					<li>Future</li>
				</ul>

				<h5>Labels</h5>
				<ul>
					<li>
						Limit the number of words in the label. Two or fewer words should be the goal.
					</li>
					<li>
						Labels should not wrap within a container. If a step is too wide to fit on a line, it will bump to the next line.
					</li>
				</ul>

				<h5>Links</h5>
				<ul>
					<li>
						Completed Steps can be configured to be links to that step. Current Step and Future Steps should never be links
					</li>
					<li>
						When a Completed Step is used as a link, the entire step/block should be a "hot zone" (ie., an active link)
					</li>
				</ul>

				<h5>Data Storage</h5>
				<p>Any step that has valid data will be marked as completed.</p>
				<p>
					Data entered by the user should be saved when the user clicks "Back" or "Next."
				</p>
				<p>
					If the user completes all steps up to and including Step 4, for example, then clicks to Step 1, all completed steps should retain their completed state.
				</p>
			</div>
			<div id="tabs-3">
				<p>Technical details go here&hellip;</p>
			</div>
			<div id="tabs-4">
				<h5>Responsiveness</h5>
				<p>
					As the browser width decreases from the largest size down until the tablet size, the individual steps within the Vertical Stepper will wrap.
				</p>

				<p>
					Once the browser width gets to the phone size, the Vertical Stepper control will only display the step numbers (no labels) with state color backgrounds across the top of the mobile screen.
				</p>
			</div>
			<div id="tabs-5">
			<!-- GET CODE - BEGINS -->
				<section class="col-24">

					<h5 class="mul-hdr-rule">HTML</h5>
					

					<h5>Vertical Stepper</h5>
					<pre class="prettyprint linenums"><xmp>{% include '/objects/vertical-stepper' %}</xmp></pre>

					<h5 class="mul-hdr-rule">JS</h5>
					

					<pre class="prettyprint linenums"></pre>

				</section>
			<!-- GET CODE - ENDS -->
			</div>
		</div>
	</div>
<!-- DETAILS SECTION - ENDS -->

</section>
{% endblock %}