<!-- INPUT NUMERIC MASK HELPER - BEGINS -->
<form class="" id="" name="" method="" action="" title="" data-abide>
	<fieldset>
		<div class="row">
			<div class="small-12 columns">
				<label for="number">
					Number Input Type
					<input id="number" data-evo-input-numeric-mask name="" value="" type="number" min="" max="" step="" tabindex="" title="Number" placeholder="Enter a number" required />
				</label>
				<small class="error">Houston we have a problem.</small>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<label for="tel">
					Telephone Input Type
					<input id="tel" data-evo-input-numeric-mask name="" value="" type="tel" tabindex="" title="Telephone" placeholder="Enter a telephone #" autocomplete="on" required />
				</label>
				<small class="error">Houston we have a problem.</small>
			</div>
		</div>
	</fieldset>
</form>
<!-- INPUT NUMERIC MASK HELPER - ENDS -->