<!-- ROUND HELPER - BEGINS -->
<div id="mainAlert1" data-alert class="alert-box round warning evo-alert-box" tabindex="0" aria-live="assertive" role="alertdialog">
	<i class="evo-icon-warning2 evo-icon-position-left"></i>
	Attention message text would go here&hellip;
	<button href="#" tabindex="0" class="close" aria-label="Close Alert"><i class="evo-icon-cancel-circle"></i></button>
</div>
<div class="progress round"> 
	<span class="meter" style="width:70%;"></span> 
</div>
<a href="#/" class="button round evo-button" id="" tabindex="" title="">Button</a>
<span class="label round">Label</span> 
<!-- ROUND HELPER - ENDS -->