<!-- CENTER VERTICAL HELPER - BEGINS -->
<div class="panel evo-box evo-center-container-dimensions">
	<div class="evo-box-bdy evo-center-block-vertical">
		<p class="evo-center-block-vertical-element">
			The div that contains this text is centered vertically within this box.
		</p>
	</div>
</div>
<div class="panel evo-box evo-center-container-dimensions">
	<div class="evo-box-bdy evo-center-block-vertical">
		<div class="evo-center-block-vertical-element">
			<img src="{{ "placeholder_square.png" | asset_url }}" alt="" title="" />
		</div>
	</div>
</div>
<!-- CENTER VERTICAL HELPER - ENDS -->