<!-- CENTER HORIZONTAL HELPER - BEGINS -->
<div class="panel evo-box evo-center-container-dimensions">
	<div class="evo-box-bdy">
		<p class="evo-center-block">The div that contains this text is centered horizontally within this box.</p>
	</div>
</div>
<div class="panel evo-box evo-center-container-dimensions">
	<div class="evo-box-bdy">
		<img class="evo-center-block" src="{{ "placeholder_square.png" | asset_url }}" alt="" title="" />
	</div>
</div>
<!-- CENTER HORIZONTAL HELPER - ENDS -->