<!-- TEXT ALIGN HELPERS - BEGINS -->
<p class="text-left">
	<strong>This text is left aligned.</strong> Lorem ipsum et vestibulum nulla orci ut nec suspendisse viverra duis lacus. Eu ac habitasse nec. Torquent ad at vitae eget velit est platea vitae purus dui scelerisque. Tincidunt dui mi platea feugiat et amet vulputate eu purus nunc. Aenean suspendisse quam morbi magna neque mollis condimentum ipsum aptent. Erat arcu sapien.
</p> 
<p class="text-right">
	<strong>This text is right aligned.</strong> Lorem ipsum et vestibulum nulla orci ut nec suspendisse viverra duis lacus. Eu ac habitasse nec. Torquent ad at vitae eget velit est platea vitae purus dui scelerisque. Tincidunt dui mi platea feugiat et amet vulputate eu purus nunc. Aenean suspendisse quam morbi magna neque mollis condimentum ipsum aptent. Erat arcu sapien.
</p> 
<p class="text-center">
	<strong>This text is center aligned.</strong> Lorem ipsum et vestibulum nulla orci ut nec suspendisse viverra duis lacus. Eu ac habitasse nec. Torquent ad at vitae eget velit est platea vitae purus dui scelerisque. Tincidunt dui mi platea feugiat et amet vulputate eu purus nunc. Aenean suspendisse quam morbi magna neque mollis condimentum ipsum aptent. Erat arcu sapien.
</p> 
<p class="text-justify">
	<strong>This text is justified.</strong> Lorem ipsum et vestibulum nulla orci ut nec suspendisse viverra duis lacus. Eu ac habitasse nec. Torquent ad at vitae eget velit est platea vitae purus dui scelerisque. Tincidunt dui mi platea feugiat et amet vulputate eu purus nunc. Aenean suspendisse quam morbi magna neque mollis condimentum ipsum aptent. Erat arcu sapien.
</p>
<!-- TEXT ALIGN HELPERS - ENDS -->