<!-- IMAGE ALIGN HELPERS - BEGINS -->
<p>
	<img src="{{ "placeholder_square.png" | asset_url }}" class="evo-image-left" alt="" title="" />
	<strong>This image is left aligned.</strong> Lorem ipsum et vestibulum nulla orci ut nec suspendisse viverra duis lacus. Eu ac habitasse nec. Torquent ad at vitae eget velit est platea vitae purus dui scelerisque. Tincidunt dui mi platea feugiat et amet vulputate eu purus nunc. Aenean suspendisse quam morbi magna neque mollis condimentum ipsum aptent. Erat arcu sapien.
</p> 
<p>
	<img src="{{ "placeholder_square.png" | asset_url }}" class="evo-image-right" alt="" title="" />
	<strong>This image is right aligned.</strong> Lorem ipsum et vestibulum nulla orci ut nec suspendisse viverra duis lacus. Eu ac habitasse nec. Torquent ad at vitae eget velit est platea vitae purus dui scelerisque. Tincidunt dui mi platea feugiat et amet vulputate eu purus nunc. Aenean suspendisse quam morbi magna neque mollis condimentum ipsum aptent. Erat arcu sapien.
</p>
<!-- IMAGE ALIGN HELPERS - ENDS -->