<!-- GRID WIDTH HELPER - CONTAIN TO GRID - BEGINS -->
<div class="evo-contain-to-grid">
	<p>
		Lorem ipsum et vestibulum nulla orci ut nec suspendisse viverra duis lacus. Eu ac habitasse nec. Torquent ad at vitae eget velit est platea vitae purus dui scelerisque. Tincidunt dui mi platea feugiat et amet vulputate eu purus nunc. Aenean suspendisse quam morbi magna neque mollis condimentum ipsum aptent. Erat arcu sapien.
	</p>
</div>
<!-- GRID WIDTH HELPER - CONTAIN TO GRID - ENDS -->