<!-- SIDEBAR NAV - BACK TO CONTENT - BEGINS -->
<a href="#top" class="button expand radius evo-button tiny show-for-small-only" role="button">Back To Content</a>
<!-- SIDEBAR NAV - BACK TO CONTENT - ENDS -->

{{#each front-end-code-standards.sidebar}}
<!-- SIDEBAR NAV - SECTION HEADER - BEGINS -->
	<h6 class="evo-hdr-rule">{{header}}</h6>
<!-- SIDEBAR NAV - SECTION HEADER - ENDS -->

<!-- SIDEBAR NAV - SECTION LIST - BEGINS -->
	<dl>
		{{#each section}}
			<dd><a href="{{url}}">{{name}}</a></dd>
		{{/each}}
	</dl>
<!-- SIDEBAR NAV - SECTION LIST - ENDS -->
{{/each}}