<!-- PATTERNS NAVIGATION- BEGINS -->
	<ul class="inline-list evo-inline-list evo-inline-list-pipes">
		<li><a href="atoms.html">Atoms</a></li>
		<li><a href="molecules.html">Molecules</a></li>
		<li><a href="organisms.html">Organisms</a></li>
	</ul>
<!-- PATTERNS NAVIGATION- ENDS -->