<div class="evo-padding evo-site-reference-sidebar" id="jumpToMenu">
{{#each reference.ref_site_menu}}
<!-- TOC - SECTION HEADER - BEGINS -->
	<h5 class="evo-hdr-rule">{{ section_hdr }}</h5>
<!-- TOC - SECTION HEADER - ENDS -->

<!-- TOC - SECTION LIST - BEGINS -->
	<dl>
		{{#each main_section }}
			<dd><a href="{{ url }}">{{ link_name }}</a></dd>
		{{/each}}
	</dl>
<!-- TOC - SECTION LIST - ENDS -->
{{/each}}
</div>