{% layout "reference/layout" %}
{% block content %}

<section class="row">
	<div class="medium-12 large-10 large-offset-1 columns">

		<div class="row">
			<div class="small-12 columns evo-spacer-margin-top-xxx-large evo-spacer-margin-bottom-xxx-large">
				<h1>Evolution Core</h1>
				<h6 class="subheader">A responsive front-end framework that can be used to start any web project.</h6>
			</div>
		</div>

		<section class="row">
			<div class="medium-4 columns">
				<i class="evo-icon-site-wall evo-icon-size-x-large evo-center-block evo-spacer-margin-bottom-large"></i>
				<h5>Solid Foundation</h5>
				<p>Built with Foundation, jQuery, and jQuery UI. It provides layout and styling for HTML5 elements and a list of common UI components.</p>
			</div>
			<div class="medium-4 columns">
				<i class="evo-icon-site-mobile2 evo-icon-size-x-large evo-center-block evo-spacer-margin-bottom-large"></i>
				<h5>Responsive First</h5>
				<p>Built to be responsive and mobile first out of the box, so the framework components will display on all device and screen sizes.</p>
			</div>
			<div class="medium-4 columns">
				<i class="evo-icon-site-html5 evo-icon-size-x-large evo-center-block evo-spacer-margin-bottom-large"></i>
				<h5>Standards Based</h5>
				<p>As a front-end framework, Evolution Core is technology agnostic. It's built on web standards based HTML, CSS, and Javascript.</p>
			</div>
		</section>
		
	</div>
</section>


<div class="row">
	<div class="small-12 columns text-center">

		<a href="https://github.com/uxuimercergroup/evolution-boilerplate/archive/3.0.zip" class="button radius evo-button evo-spacer-margin-top-xxx-large" data-evo-button-icons="left"  id="" role="button" title="" aria-label="Download Evolution Core v{{ global.version_number }}">
			<i class="evo-icon-download4 evo-icon-position-left" title=""></i>
			<span class="evo-button-text">Download Evolution Core v{{ global.version_number }}</span>
		</a>

	</div>
</div>

{% endblock %}