{% layout "reference/layout" %}
{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}

<!-- PAGE CONTENT - BEGINS -->
	<section class="row">
		<div class="small-12 columns">

					<!-- PAGE TITLE AND DESCRIPTION - BEGINS -->
						<h1>{{ model.title }}</h1>
						
						<p>A guide to setting up and using the Evolution Tool Box.</p>
					<!-- PAGE TITLE AND DESCRIPTION - ENDS -->

						<hr />

					<!-- CONTENT - BEGINS -->
						
						
						<h3>What is the Evolution Tool Box?</h3>

						<p>The Evolution tool box is a collection of development technologies assembled in one spot so you can begin using the Evolution Framework and Evolution web components in minutes!</p>

						<p>The Tool Box will:</p>

						<ul>
							<li>Set up a development environment that will allow you to view changes live in your browser with automatic refresh.</li>
							<li>Scaffold the directory structure of your site, including all asset and template directories.</li>
							<li>Optimize your files for web and allow you to ftp the files with one command.</li>
						</ul>

						<p>The Tool Box utilizes the following technologies:</p>

						<ul>
							<li>Dust.js Templating Engine</li>
							<li>Sass CSS Preprocessor</li>
							<li>Yo Scaffolding Generator</li>
							<li>Grunt.js Task Runner</li>
							<li>Node.js (npm) Runtime Environment</li>
						</ul>	

						<hr />		

						<h3>Prerequisites</h3>

						<p>The Evolution Tool Box is installed on your system using the <code>generator-evolution</code> Yeoman generator, which is a Node.js module. Node.js and Node Package Manager (npm) must be installed globally on your system before you can install the Evolution Tool Box generator. The Evolution Tool Box generator is then installed globally as well, so that you can continue to use it to set up the Evolution Tool Box in any directory on your system without needing to install the Evolution Tool Box generator again.</p>
						
						<ol>
							<li>Install Node.js globally. NOTE: Node Package Manager (<a href="http://npmjs.org">http://npmjs.org</a>) will be installed globally when you install Node.js.
								<ol type="a">
									<li>Go to: <a href="http://nodejs.org">http://nodejs.org</a></li>
									<li>Download the current version of Node.js.</li>
								</ol>
							</li>
							<li>Use Node Package Manager (npm) to install the Evolution Tool Box Generator globally. The Yo scaffolding tool will also be installed at this time. 
								<ol type="a">
									<li>Open the command line interface (CLI) or Terminal (for Mac users)</li>
									<li>Copy and paste this command into the cli/terminal: <code>npm login</code>NOTE: If you have not already brrn assigned a username and password, please contact Douglas Fraize at <a href="mailto:douglas.fraize@mercer.com?Subject=Evolution%20Tool%20Box">douglas.fraize@mercer.com</a>.</li>
									<li>Copy and paste this command into the cli/terminal: <code>npm install -g yo generator-evolution</code></li>
								</ol>
							</li>
						</ol>

						<hr />

						<h3>Installing the Evolution Tool Box</h3>

						<p>Now that the Evolution Tool Box generator is installed on your system, you can install the Evolution Tool Box into your current working directory (CWD).</p>

						<ol>
							<li>Using the cli (Windows) or terminal (Mac), change directory (cd) to the directory where you will be working or current working directory (CWD).
							</li>
							<li>Copy and paste this command into the cli/terminal: <code>yo evolution</code></li>
							<li>The Evolution Tool Box generator will run in the cli/terminal and prompt you with the following questions so that you can customize the Evolution Tool Box to your project.
								<ol type="a">
									<li><em>What is the title of your project?</em> The title name will then populate the title tag on the layout page of the template. (Title can be changed later.)</li>
									<li><em>Which set of Evolution Tools will you be using?</em> Select from the following options:
										<ul>
											<li>Evolution 3.0.2 Boilerplate - Standard (Utilize the Evolution Framework to build your project.)</li>
											<li>Evolution 3.0.2 Boilerplate - Communication Sites (Utilize the Evolution Framework customized to build Communication Sites.)</li>
											<li>Evolution 3.0.2 Boilerplate - Benefits Portals (Utilize the Evolution Framework customized for Benefits Portals.)</li>
											<li>Evolution 3.0.2 UI Component Environment (Develop or edit Evolution UI components)</li>
										</ul>
									</li>
									<li>The Evolution Tool Box generator will now install all required files and dependencies into the cwd.</li>
								</ol>
							</li>
						</ol>

						<hr />

						<h3>Using the Build Tools</h3>

						<p>Now that the Evolution Tool Box has been installed in your cwd, it is time to run the tasks that will build the static web site, launch a local web server and enable automatic browser refresh - all so you can see changes while you work.</p>

						<ol>
							<li>Using the cli (Windows) or terminal (Mac), make sure that you are still in the cwd.
							</li>
							<li>Copy and paste this command into the cli/terminal: <code>grunt && grunt server</code>. The following processes will run: 
								<ol type="a">
									<li>sass: compile Sass files.</li>
									<li>uglify: concatenate and minify scripts.</li>
									<li>dusthtml: render Dust.js templates to HTML files.</li>
									<li>copy: copy and paste all other required files and assets into the final build folder.</li>
								</ol>
							</li>
							<li>Copy and paste this command into the cli/terminal: <code>grunt && grunt server</code>. When all tasks are complete, a window will open in your default browser displaying the index.html page. Any changes made to the templates or assets will trigger the automatic browser refresh. To close the server, press Ctrl C (Cmd C on Mac) and select "Y" for yes in the cli/terminal. 
							</li>
							<li>TODO comments may be used. Copy and paste this command into the cli/terminal: <code>grunt todo</code> to view the comments in the cli/terminal. 
							</li>
						</ol>

						<hr />

						<h3>Other Tools</h3>

						<p>The Evolution Tool Box includes several other tools to streamline the web development process.</p>

						<ul>
							<li>TODO comments: While still in the cwd, copy and paste this command into the cli/terminal: <code>grunt todo</code> to view all comments in the cli/terminal. 
							</li>
							<li>SFTP: ftp the final build files to a secure server.
								<ol>
									<li>Using Sublime Text 2 or 3, open the Gruntfile.js file located in the root of the cwd. In the "sftp-deploy" section, add the host to the "host:" filed and the server path to the "dest:" field.</li>
									<li>Using Sublime Text 2 or 3, open the .ftppass file located in the root of the cwd. Add the username and password that will enable you to log in to the secure server to "key1".</li>
									<li>While still in the cwd, copy and paste this command into the cli/terminal: <code>grunt sftp</code>.</li>
								</ol>
							</li>
						</ul>

						<hr />

						<h3>Evolution Tool Box - Updates</h3>

						<p>To ensure the Evolution Tool Box generator (generator-evolution) and the Evolution Tool Box installed in your cwd are both current versions, run the following updates.</p>

						<ul>
							<li>Update all global npm packages before installing the Evolution Tool Box into your project's directory (including yo and generator-evolution):
								<ol>
									<li>Using the cli/terminal: <code>npm update -g</code></li>
								</ol>
							</li>
							<li>Update only the npm packages located inside the project directory where the Evolution Tool Box has already been installed:
								<ol>
									<li>Using the cli/terminal, change directory (cd) to the project directory.</li>
									<li>Copy and paste this command into the cli/terminal: <code>npm update</code></li>
									<li>All build tools located within the cwd are now current versions.</li>
								</ol>
							</li>
						</ul>

					<!-- CONTENT - ENDS -->
					
		</div>
	</section>
<!-- PAGE CONTENT - ENDS -->

{% endblock %}