<header role="banner" class="mul-masthead mul-mega-menu-masthead">

<!-- MASTHEAD - BEGINS -->
	<div class="mul-masthead-adjust">
		<div class="mul-masthead-content-ctn mul-small-mediaquery-grid">

			<!-- MASTHEAD LOGO - BEGINS -->
			<div class="col-18 first">
				<h1 class="mul-logo">
					<a href="/index">PRODUCT <span>NAME</span></a>
				</h1>
			</div>
			<!-- MASTHEAD LOGO - ENDS -->

			<!-- MASTHEAD PROFILE MENU - BEGINS -->
			<div class="col-6 mul-corp-logo mul-visible-large-mediaquery">
				<img class="mul-fat-footer-logo" src="{{ "mercer_logo_reverse_170x25.png" | asset_url }}" alt="Mercer" width="170" height="25" />
			</div>
			<!-- MASTHEAD PROFILE MENU - ENDS -->
			
		</div>
	</div>
<!-- MASTHEAD - ENDS -->

<!-- MASTHEAD NAVBAR - BEGINS -->
	<div class="mul-masthead-navbar-ctn">
		<div class="mul-masthead-adjust">

			<nav role="navigation" class="col-24 mul-mega-menu-navbar mul-small-mediaquery-grid">

				<div class="col-6 first">
					<a class="mul-mega-menu-item js-mul-mega-menu" href="javascript:;">
						<i class="mul-icon-menu3 mul-icon-size-small mul-icon-position-left mul-icon-color-disabled"></i>
					</a>
				</div>

				<div class="col-18 mul-util-navbar">
					<a class="mul-mega-menu-item js-mul-mega-menu-search" href="javascript:;">
						<i class="mul-icon-search mul-icon-size-small mul-icon-position-left mul-icon-color-disabled"></i>
					</a>

					<a class="mul-mega-menu-item js-mul-mega-menu-search" href="javascript:;">
						<i class="mul-icon-basket mul-icon-size-small mul-icon-position-left mul-icon-color-disabled"></i>
					</a>
					
					<a class="mul-mega-menu-item js-mul-mega-menu-search" href="javascript:;">
						<i class="mul-icon-envelop mul-icon-size-small mul-icon-position-left mul-icon-color-disabled"></i>
					</a>

					<ul class="mul-horizontal-list mul-horizontal-list-piped mul-visible-large-mediaquery">
						<li><a href="javascript:;">Contact Us</a></li>
						<li class="mul-utility-subnav-ctn">
							<a href="javascript:;" class="mul-menu-toggle">
								English <i class="mul-icon-arrow-down2 mul-icon-size-small mul-icon-color-gray-darker mul-icon-position-left"></i>
							</a>
							<ul class="mul-utility-subnav mul-display-none">
								<li><a href="#">Danish</a></li>
								<li><a href="#">English</a></li>
								<li><a href="#">French</a></li>
								<li><a href="#">Portugese</a></li>
								<li><a href="#">Spanish</a></li>
							</ul>
						</li>
						<li class="mul-utility-subnav-ctn">
							<a href="javascript:;" class="mul-menu-toggle">
								Anders Elkstorm <i class="mul-icon-arrow-down2 mul-icon-size-small mul-icon-color-gray-darker mul-icon-position-left"></i>
							</a>
							<ul class="mul-utility-subnav mul-display-none">
								<li><a href="#">View Profile</a></li>
								<li><a href="#">Update Information</a></li>
								<li><a href="#">Change Password</a></li>
								<li><a href="#">Change User Name</a></li>
							</ul>
						</li>
						<li><a href="javascript:;">Sign Out</a></li>
					</ul>
				</div>

			</nav>

		</div>
	</div>
<!-- MASTHEAD NAVBAR - BEGINS -->

<!-- MEGA MENU CONTAINER - BEGINS -->
	<div class="mul-header-mega-menu-ctn mul-display-none js-mul-mega-menu-search-ctn">
		<div class="mul-masthead-adjust">

			<div class="col-24 mul-mega-menu-content">
		<!-- SEARCH BAR - BEGINS -->
				<div class="mul-mega-menu-content mul-mega-menu-search-content mul-small-mediaquery-grid">
					<div class="col-21 first">
						<input class="mul-mega-menu-search" type="text" tabindex="" placeholder="Search" title="Search" />
					</div>
					<div class="col-3">
						<button class="mul-btn mul-btn-medium mul-btn-primary mul-mega-menu-search-btn" title="Search">
							<i class="mul-icon-mul-arrow-circle-right mul-icon-size-small mul-icon-color-disabled"></i>
						</button>
					</div>
				</div>
		<!-- SEARCH BAR - ENDS -->
			</div>

		</div>
	</div>

	<div class="mul-header-mega-menu-ctn mul-display-none js-mul-mega-menu-ctn">
		<div class="mul-masthead-adjust">

		<!-- MEGA MENU CONTENT - BEGINS -->
			<div class="col-24 mul-mega-menu-content">

			<!-- SPOTLIGHT CONTAINER - BEGINS -->	
				<div class="col-24 mul-header-menu-spotlight">
					<ul class="mul-horizontal-list">
						<li>
							<a href="/index"><i class="mul-icon-home mul-icon-size-small mul-icon-position-left"></i>Home</a>
						</li>
						<li>
							<a href="javascript:;"><i class="mul-icon-mul-calendar2 mul-icon-size-small mul-icon-position-left"></i>Spotlight Link</a>
						</li>
					</ul>
				</div>
			<!-- SPOTLIGHT CONTAINER - ENDS -->

			<!-- MENU SETIONS - BEGINS -->
				<dl class="col-8 first mul-menu-ctn mul-first-child">
					<dt class="h4 mul-hdr-rule">Section Title</dt>
					<dd><span><a href="javascript:;">Section Link</a></span></dd>
					<dd><span><a href="javascript:;">Section Link</a></span></dd>
					<dd><span><a href="javascript:;">Section Link</a></span></dd>
					<dd><span><a href="javascript:;">Section Link</a></span></dd>
					<dd><span><a href="javascript:;">Section Link</a></span></dd>
					<dd><span><a href="javascript:;">Section Link</a></span></dd>
				</dl>

				<dl class="col-8 mul-menu-ctn">
					<dt class="h4 mul-hdr-rule">Section Title</dt>
					<dd><span><a href="javascript:;">Section Link</a></span></dd>
					<dd><span><a href="javascript:;">Section Link</a></span></dd>
					<dd><span><a href="javascript:;">Section Link</a></span></dd>
					<dd><span><a href="javascript:;">Section Link</a></span></dd>
					<dd><span><a href="javascript:;">Section Link</a></span></dd>
					<dd><span><a href="javascript:;">Section Link</a></span></dd>
				</dl>

				<dl class="col-8 mul-menu-ctn">
					<dt class="h4 mul-hdr-rule">Section Title</dt>
					<dd><span><a href="javascript:;">Section Link</a></span></dd>
					<dd><span><a href="javascript:;">Section Link</a></span></dd>
					<dd><span><a href="javascript:;">Section Link</a></span></dd>
					<dd><span><a href="javascript:;">Section Link</a></span></dd>
					<dd><span><a href="javascript:;">Section Link</a></span></dd>
					<dd><span><a href="javascript:;">Section Link</a></span></dd>
				</dl>

				<dl class="mul-menu-ctn mul-last-child">
					<dt class="h4 mul-hdr-rule">Section Title</dt>
					<dd><span><a href="javascript:;">Contact Us</a></span></dd>
					<dd><span><a href="javascript:;">English</a></span></dd>
					<dd><span><a href="javascript:;">Anders Elkstorm</a></span></dd>
					<dd><span><a href="javascript:;">Sign Out</a></span></dd>
				</dl>
			<!-- MENU SETIONS - ENDS -->

			</div>
		<!-- MEGA MENU CONTENT - BEGINS -->

		</div>
	</div>
<!-- MEGA MENU CONTAINER - ENDS -->

</header>