<!-- FORM - HTML5 - BEGINS -->
<form class="" id="" name="" method="" action="" title="" data-abide>
	<fieldset>
		<div class="row">
			<div class="small-12 columns">
				<label for="text-input">
					Basic Text Input
					<input id="text-input" name="" value="" type="text" tabindex="" title="Name" placeholder="Name" autocomplete="off" required />
				</label>
				<small class="error">Houston we have a problem.</small>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<label for="password">
					Password Input Type
					<input class="" id="password" name="" value="" type="password" tabindex="" title="Password" placeholder="Password" autocomplete="off" required />
				</label>
				<small class="error">Houston we have a problem.</small>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<label for="number">
					Number Input Type
					<input id="number" data-evo-input-numeric-mask name="" value="" type="number" min="" max="" step="" tabindex="" title="Number" placeholder="Enter a number" required />
				</label>
				<small class="error">Houston we have a problem.</small>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<label for="email">
					Email Input Type
					<input class="" id="email" name="" value=""type="email" tabindex="" title="Email" placeholder="Enter your email address" autocomplete="on" required />
				</label>
				<small class="error">Houston we have a problem.</small>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<label for="url">
					URL Input Type
					<input class="" id="url" name="" value="" type="url" tabindex="" title="URL" placeholder="Enter a URL" autocomplete="on" required />
				</label>
				<small class="error">Houston we have a problem.</small>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<label for="tel">
					Telephone Input Type
					<input id="tel" data-evo-input-numeric-mask name="" value="" type="tel" tabindex="" title="Telephone" placeholder="Enter a telephone #" autocomplete="on" required />
				</label>
				<small class="error">Houston we have a problem.</small>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<label for="time">
					Time Input Type
					<input class="" id="time" name="" value="" type="time" tabindex="" title="Time" placeholder="Enter a time" autocomplete="off" required />
				</label>
				<small class="error">Houston we have a problem.</small>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<label for="date">
					Date Input Type
					<input class="" id="date" name="" value="" type="date" tabindex="" title="Date" placeholder="Enter a date" autocomplete="off" required />
				</label>
				<small class="error">Houston we have a problem.</small>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<label for="month">
					Month Input Type
					<input class="" id="month" name="" value="" type="month" tabindex="" title="Month" placeholder="Enter a month" autocomplete="off" required />
				</label>
				<small class="error">Houston we have a problem.</small>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<label for="week">
					Week Input Type
					<input class="" id="week" name="" value="" type="week" tabindex="" title="Week" placeholder="Enter a week" autocomplete="off" required />
				</label>
				<small class="error">Houston we have a problem.</small>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<label for="datetime-local">
					Datetime Local Input Type
					<input class="" id="datetime-local" name="" value="" type="datetime-local" tabindex="" title="Datetime local" placeholder="Enter a datetime local" autocomplete="off" required />
				</label>
				<small class="error">Houston we have a problem.</small>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<label for="color">
					Color Input Type
					<input class="" id="color" name="" value="#ffffff" type="color" tabindex="" title="color" placeholder="Choose a color" autocomplete="off" required />
				</label>
				<small class="error">Houston we have a problem.</small>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<label for="range">
					Range Input Type<br />
					<input class="" id="range" name="" value="" type="range"tabindex="" min="1" max="10" step="" value="5" title="Range" autocomplete="off" required />
				</label>
				<small class="error">Houston we have a problem.</small>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<label for="search">
					Search Input Type
					<input class="" id="search" name="" value="" type="search" tabindex="" title="Search" placeholder="Enter search term" autocomplete="on" required />
				</label>
				<small class="error">Houston we have a problem.</small>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<button class="button radius evo-button" id="" name="" value="" type="" tabindex="" title="Click for Validation">Click for Validation</button>
			</div>
		</div>
	</fieldset>
</form>
<!-- FORM - HTML5 - ENDS -->