<!-- FORM INLINE - RIGHT ALIGNED - BEGINS -->
<form class="" id="" name="" method="" action="" title="" data-abide>
	<fieldset>
		<div class="row">
			<div class="small-5 columns">
				<label class="right inline" for="input-example3">
					Input Label<i class="evo-icon-custom-asterisk-small"></i>
				</label>
			</div>
			<div class="small-7 columns">				
				<input id="input-example3" type="text" placeholder="Placeholder text" tabindex="" title="" required />
				<small class="error">Houston we have a problem.</small>
			</div>
		</div>

		<div class="row">
			<div class="small-5 columns">
				<label class="right inline" for="select-example3">
					Select Box<i class="evo-icon-custom-asterisk-small"></i>
				</label>
			</div>
			<div class="small-7 columns">
				<select id="select-example3" tabindex="" title="" required>
					<option value="">Choose one&#8230;</option>
					<option value="item1">Item 1</option>
					<option value="item2">Item 2</option>
					<option value="item3">Item 3</option>
					<option value="item4">Item 4</option>
				</select>
				<small class="error">Houston we have a problem.</small>
			</div>
		</div>

		<div class="row">
			<div class="small-5 columns">
				<label class="right">Choose Your Favorite</label>
			</div>
			<div class="small-7 columns">
				<input checked type="radio" name="color" value="red3" id="red3" tabindex="" title="" />
				<label for="red3">Red</label>
				<input type="radio" name="color" value="blue3" id="blue3" tabindex="" title="" />
				<label for="blue3">Blue</label>
			</div>
		</div>

		<div class="row">
			<div class="small-5 columns">
				<label class="right">Check These Out</label>
			</div>
			<div class="small-7 columns">				
				<input id="checkbox5" type="checkbox" checked="checked" tabindex="" title="" />
				<label for="checkbox5">Checkbox 3</label>
				<input id="checkbox6" type="checkbox" tabindex="" title="" />
				<label for="checkbox6">Checkbox 4</label>
			</div>
		</div>

		<div class="row">
			<div class="small-5 columns">
				<label class="right" for="textarea-example3">
					Textarea Label<i class="evo-icon-custom-asterisk-small"></i>
				</label>
			</div>
			<div class="small-7 columns">
				<textarea id="textarea-example3" placeholder="Placeholder text" tabindex="" title="" required></textarea>
				<small class="error">Houston we have a problem.</small>
			</div>
		</div>

		<div class="row">
			<div class="small-12 columns">
				<button class="button radius evo-button" id="" name="" value="" type="" tabindex="" title="Click for Validation">Click for Validation</button>
			</div>
		</div>
	</fieldset>
</form>
<!-- FORM INLINE - RIGHT ALIGNED - ENDS -->