<!-- ADVANCED CONTAINER ROUNDED SHADOW - BEGINS -->
<div class="evo-box-adv evo-box-rnd-shadow">
	<div class="evo-box-hdr">
		<h3 class="evo-hdr-rule">Header 3</h3>
	</div>
	<div class="evo-box-bdy">
		{{ 2 | lorem_ipsum:'p' }}
	</div>
	<div class="evo-box-ftr">
		<p>Footer</p>
	</div>
</div>
<!-- ADVANCED CONTAINER ROUNDED SHADOW - ENDS -->