<!-- ADVANCED CONTAINER - BEGINS -->
<div class="evo-box-adv">
	<div class="evo-box-hdr">
		<h1 class="evo-hdr-rule">Header 1</h1>
	</div>
	<div class="evo-box-bdy">
		{{ 2 | lorem_ipsum:'p' }}
	</div>
	<div class="evo-box-ftr">
		<p>Footer</p>
	</div>
</div>
<!-- ADVANCED CONTAINER - ENDS -->