<!-- ADVANCED CONTAINER ROUNDED SHADOW - BEGINS -->
<div class="mul-box-adv mul-box-rnd-shadow">
	<div class="mul-box-hdr">
		<h3 class="mul-hdr-rule">Header 3</h3>
	</div>
	<div class="mul-box-bdy">
		{{ 2 | lorem_ipsum:'p' }}
	</div>
	<div class="mul-box-ftr">
		<p>Footer</p>
	</div>
</div>
<!-- ADVANCED CONTAINER ROUNDED SHADOW - ENDS -->