<!-- ATTENTION MESSAGE CONTAINER - BEGINS -->
<div class="mul-box-rnd mul-attention-ctn">
	<div class="mul-box-hdr">
		<h6 class="mul-message-hdr">
			<i class="mul-icon-warning mul-icon-size-small mul-icon-color-attention mul-icon-position-left"></i>Attention
		</h6>
	</div>
	<div class="mul-box-bdy">
		<p>Attention message text&hellip;</p>
	</div>
</div>
<!-- ATTENTION MESSAGE CONTAINER - ENDS -->