<!-- ATTENTION MESSAGE CONTAINER - BEGINS -->
<div class="evo-box-rnd evo-attention-ctn">
	<div class="evo-box-hdr">
		<h6 class="evo-message-hdr">
			<i class="evo-icon-warning evo-icon-size-small evo-icon-color-attention evo-icon-position-left"></i>Attention
		</h6>
	</div>
	<div class="evo-box-bdy">
		<p>Attention message text&hellip;</p>
	</div>
</div>
<!-- ATTENTION MESSAGE CONTAINER - ENDS -->