<!-- BASIC CONTAINER - BEGINS -->
<div class="mul-box mul-box-rnd">
	<div class="mul-box-hdr">
		<h2 class="mul-hdr-rule">Header 2</h2>
	</div>
	<div class="mul-box-bdy">
		{{ 2 | lorem_ipsum:'p' }}
	</div>
	<div class="mul-box-ftr">
		<p>Footer</p>
	</div>
</div>
<!-- BASIC CONTAINER - ENDS -->