<!-- BASIC CONTAINER WITH HEADER - BEGIN -->
<div class="evo-box">
	<div class="evo-box-hdr">
		<h2 class="evo-hdr-rule">Header 1</h2>
	</div>
	<div class="evo-box-bdy">{{ 1 | lorem_ipsum: 'p' }}</div>
</div>
<!-- BASIC CONTAINER WITH HEADER - END -->