<!-- BASIC CONTAINER - BEGINS -->
<div class="mul-box">
	<div class="mul-box-hdr">
		<h1 class="mul-hdr-rule">Header 1</h1>
	</div>
	<div class="mul-box-bdy">
		{{ 2 | lorem_ipsum:'p' }}
	</div>
	<div class="mul-box-ftr">
		<p>Footer</p>
	</div>
</div>
<!-- BASIC CONTAINER - ENDS -->