<!-- CONFIRMATION MESSAGE CONTAINER - BEGINS -->
	<div class="mul-box-rnd mul-confirmation-ctn">
		<div class="mul-box-hdr">
			<h6 class="mul-message-hdr">
				<i class="mul-icon-checkmark-circle mul-icon-size-small mul-icon-color-confirmation mul-icon-position-left"></i>Confirmation
			</h6>
		</div>
		<div class="mul-box-bdy">
			<p>Confirmation message text&hellip;</p>
		</div>
	</div>
<!-- CONFIRMATION MESSAGE CONTAINER - ENDS -->