<!-- CONFIRMATION MESSAGE CONTAINER WITH AUTO CLOSE - BEGINS -->
<div class="mul-box-rnd mul-confirmation-ctn js-mul-fadeout-element">
	<div class="mul-box-hdr">
		<i class="mul-icon-cancel-circle mul-icon-size-small mul-icon-color-gray-darker mul-icon-position-right mul-close-action js-mul-close-ctn" title="Close"><span class="mul-icon-hide-text">Close</span></i>
		<h6 class="mul-message-hdr">
			<i class="mul-icon-checkmark-circle mul-icon-size-small mul-icon-color-confirmation mul-icon-position-left"></i>Confirmation
		</h6>
	</div>
	<div class="mul-box-bdy">
		<p>Confirmation message text&hellip;</p>
	</div>
</div>
<!-- CONFIRMATION MESSAGE CONTAINER WITH AUTO CLOSE - ENDS -->