<!-- CONFIRMATION MESSAGE CONTAINER WITH AUTO CLOSE - BEGINS -->
<div class="evo-box-rnd evo-confirmation-ctn js-evo-fadeout-element">
	<div class="evo-box-hdr">
		<i class="evo-icon-cancel-circle evo-icon-size-small evo-icon-color-gray-darker evo-icon-position-right evo-close-action js-evo-close-ctn" title="Close"><span class="evo-icon-hide-text">Close</span></i>
		<h6 class="evo-message-hdr">
			<i class="evo-icon-checkmark-circle evo-icon-size-small evo-icon-color-confirmation evo-icon-position-left"></i>Confirmation
		</h6>
	</div>
	<div class="evo-box-bdy">
		<p>Confirmation message text&hellip;</p>
	</div>
</div>
<!-- CONFIRMATION MESSAGE CONTAINER WITH AUTO CLOSE - ENDS -->