<!-- CONFIRMATION MESSAGE CONTAINER - BEGINS -->
<div class="evo-box-rnd evo-confirmation-ctn">
	<div class="evo-box-hdr">
		<h6 class="evo-message-hdr">
			<i class="evo-icon-checkmark-circle evo-icon-size-small evo-icon-color-confirmation evo-icon-position-left"></i>Confirmation
		</h6>
	</div>
	<div class="evo-box-bdy">
		<p>Confirmation message text&hellip;</p>
	</div>
</div>
<!-- CONFIRMATION MESSAGE CONTAINER - ENDS -->