<!-- ERROR MESSAGE CONTAINER WITH CLOSE - BEGINS -->
<div class="mul-box-rnd mul-error-ctn">
	<div class="mul-box-hdr">
		<i class="mul-icon-cancel-circle mul-icon-size-small mul-icon-color-gray-darker mul-icon-position-right mul-close-action js-mul-close-ctn" title="Close"><span class="mul-icon-hide-text">Close</span></i>
		<h6 class="mul-message-hdr">
			<i class="mul-icon-notification mul-icon-size-small mul-icon-color-error mul-icon-position-left"></i>Error
		</h6>
	</div>
	<div class="mul-box-bdy">
		<p>Error message text&hellip;</p>
	</div>
</div>
<!-- ERROR MESSAGE CONTAINER WITH CLOSE - ENDS -->