<!-- ERROR MESSAGE CONTAINER - BEGINS -->
<div id="mainAlert1" data-alert class="alert-box radius evo-message-boxes alert" tabindex="0" aria-live="assertive" role="dialogalert">
	<i class="evo-icon-notification evo-icon-size-small evo-icon-position-left"></i>
	Error message <a href="javascript:;">text</a>&hellip;
	<button href="#" tabindex="0" class="close" aria-label="Close Alert"><i class="evo-icon-cancel-circle"></i></button>
</div>
<!-- ERROR MESSAGE CONTAINER - ENDS -->