<!-- ERROR MESSAGE CONTAINER - BEGINS -->
<div class="evo-box-rnd evo-error-ctn">
	<div class="evo-box-hdr">
		<h6 class="evo-message-hdr">
			<i class="evo-icon-notification evo-icon-size-small evo-icon-color-error evo-icon-position-left"></i>Error
		</h6>
	</div>
	<div class="evo-box-bdy">
		<p>Error message text&hellip;</p>
	</div>
</div>
<!-- ERROR MESSAGE CONTAINER - ENDS -->