<!-- ERROR MESSAGE CONTAINER - BEGINS -->
<div class="mul-box-rnd mul-error-ctn">
	<div class="mul-box-hdr">
		<h6 class="mul-message-hdr">
			<i class="mul-icon-notification mul-icon-size-small mul-icon-color-error mul-icon-position-left"></i>Error
		</h6>
	</div>
	<div class="mul-box-bdy">
		<p>Error message text&hellip;</p>
	</div>
</div>
<!-- ERROR MESSAGE CONTAINER - ENDS -->