<!-- FEATURE CONTAINER - BEGINS -->
<div class="evo-feature-ctn">
	<div class="evo-box-hdr">
		<h2 class="evo-hdr-rule">Container Title</h2>
	</div>
	<div class="box-bdy">
		<br><br><br><br><br><br><br><br><br><br><br><br>
	</div>
</div>
<!-- FEATURE CONTAINER - ENDS -->