<!-- FEATURE CONTAINER - BEGINS -->
<div class="evo-box evo-feature-ctn">
	<div class="evo-box-hdr">
		<h1 class="evo-hdr-rule">Container Title</h1>
	</div>
	<div class="box-bdy">
		<p>
			<img src="{{ "feature_ctn_pie_chart.png" | asset_url }}" alt="Pie Chart" title="Pie Chart" width="264" height="279" />
			<img src="{{ "feature_ctn_bar_chart.png" | asset_url }}" alt="Bar Chart" title="Bar Chart" width="402" height="340" />
		</p>
	</div>
</div>
<!-- FEATURE CONTAINER - ENDS -->