<!-- GENERAL MESSAGE CONTAINER - BEGINS -->
<div id="mainAlert1" data-alert class="alert-box secondary radius evo-message-boxes" tabindex="0" aria-live="assertive" role="dialogalert">
	<i class="evo-icon-evo-mmc-globe evo-icon-size-small evo-icon-color-gray-dark evo-icon-position-left"></i>
	General message text&hellip;
	<button href="#" tabindex="0" class="close" aria-label="Close Alert"><i class="evo-icon-cancel-circle evo-icon-color-gray-dark"></i></button>
</div>
<!-- GENERAL MESSAGE CONTAINER - ENDS -->