<!-- HIGHLIGHT CONTAINER - BEGINS -->
<div class="evo-highlight-ctn">
	<div class="evo-box-bdy">	
		<h4>Highlight Container Header</h4>
		<p>
			<a href="javascript:;">Highlight Container Link</a>
		</p>
	</div>
</div>
<!-- HIGHLIGHT CONTAINER - ENDS -->