<!-- HIGHLIGHT CONTAINER - BEGINS -->
<div class="mul-highlight-ctn">
	<div class="mul-box-bdy mul-align-center">	
		<h4>Highlight Container Header</h4>
		<p>
			<a href="javascript:;">Highlight Container Link</a>
		</p>
	</div>
</div>
<!-- HIGHLIGHT CONTAINER - ENDS -->