<!-- HIGHLIGHT CONTAINER - BEGINS -->
<div class="evo-highlight-ctn">
	<div class="evo-box-bdy evo-align-center">	
		<h4>Highlight Container Header</h4>
		<p>Highlight Container Text</p>
	</div>
</div>
<!-- HIGHLIGHT CONTAINER - ENDS -->