<!-- INFORMATION MESSAGE CONTAINER - BEGINS -->
<div id="mainAlert1" data-alert class="alert-box info radius evo-message-boxes" tabindex="0" aria-live="assertive" role="dialogalert">
	<i class="evo-icon-info evo-icon-size-small evo-icon-color-info evo-icon-color-error evo-icon-position-left"></i>
	Information message text&hellip;
	<button href="#" tabindex="0" class="close" aria-label="Close Alert"><i class="evo-icon-cancel-circle evo-icon-color-gray-dark"></i></button>
</div>
<!-- INFORMATION MESSAGE CONTAINER - ENDS -->