<!-- SIDEBAR CONTAINER - BEGINS -->
<div class="panel evo-box evo-sidebar-ctn">
	<div class="evo-box-hdr">
		<h3 class="evo-hdr-rule">Sidebar</h3>
	</div>
	<div class="box-bdy">
		<p class="evo-no-margin-bottom">
		Lorem ipsum nam ullamcorper ante. Dolor neque erat at in id iaculis nec. Hymenaeos nulla lacus ultrices aliquam. Nunc turpis mollis. Tempor dignissim lorem. Adipiscing nec tempor molestie. Nam venenatis est ad. Hymenaeos mauris turpis. A nunc a dui ligula. Tortor dolor scelerisque nulla mi et. Eget sed habitant sociosqu fusce. Ut.
		</p>
	</div>
</div>
<!-- SIDEBAR CONTAINER - ENDS -->