{% layout "comm/layout" %}
{% block content %}

<!-- HERO IMAGE - BEGINS -->
	{% include "/comm/hero-banner" %}
<!-- HERO IMAGE - ENDS -->

<!-- PAGE CONTENT - BEGINS -->
	<section class="row">
		<div class="large-10 large-centered columns evo-site-family-content-ctn">
			<div class="row text-center">

				<!-- DESIGN PRINCIPLES NAV - BEGINS -->
				{% include "/comm/design-principles-nav" %}
				<!-- DESIGN PRINCIPLES NAV - ENDS -->

			</div>
			<div class="row">
				<div class="small-12 columns">

					{{ 5 | lorem_ipsum:'p' }}

				</div>
			<div>
		</div>
	</section>
<!-- PAGE CONTENT - ENDS -->

{% endblock %}