{% layout "comm/layout" %}
{% block content %}

<!-- HERO IMAGE - BEGINS -->
	{% include "/comm/hero-banner" %}
<!-- HERO IMAGE - ENDS -->

<!-- PAGE CONTENT - BEGINS -->
	<section class="row">
		<div class="large-10 large-centered columns evo-site-family-content-ctn">
			<div class="row text-center">

				<!-- DESIGN PRINCIPLES NAV - BEGINS -->
				{% include "/comm/design-principles-nav" %}
				<!-- DESIGN PRINCIPLES NAV - ENDS -->

			</div>
			<div class="row" data-equalizer data-equalizer-mq="medium-up" data-options="equalize_on_stack: true">
				<div class="medium-6 columns">

				<!-- TENET - BEGINS -->
					<div class="panel evo-box evo-family-categories-ctn" data-equalizer-watch>
						<div class="evo-box-circle evo-center-block">
							<i class="evo-icon-mobile evo-icon-size-medium evo-center-block-vertical-element evo-center-block comm-icon" title="" aria-label=""></i>
						</div>

						<div class="evo-box-hdr evo-spacer-padding-bottom-small">
							<h5>RESPONSIVE ACROSS DEVICES</h5>
						</div>
						<div class="evo-box-bdy text-left">
							<p>The User Experience must be "responsive" across devices.  Don't assume it will be accomplished by existing code. </p>
							<hr />	
							<p>Concentrate on optimizing the experiences for each device &mdash; using responsive design is only the first step.</p>
													
						</div>
					</div>
				<!-- TENET - ENDS -->

				</div>
				<div class="medium-6 columns">

				<!-- TENET - BEGINS -->
					<div class="panel evo-box evo-family-categories-ctn" data-equalizer-watch>
						<div class="evo-box-circle evo-center-block">
							<i class="evo-icon-site-stairs evo-icon-size-medium evo-center-block-vertical-element evo-center-block comm-icon" title="" aria-label=""></i>
						</div>

						<div class="evo-box-hdr evo-spacer-padding-bottom-small">
							<h5>PROVIDE DISCRETE STEPS</h5>
						</div>
						<div class="evo-box-bdy text-left">
							<p>Users on mobile devices are more task oriented, have less time, and are constrained by screen size.</p>
							<hr />
							<p>Break the tasks into smaller chunks of "actionable" steps. This allows the user the ability to quickly scan and act.</p>
						</div>
					</div>
				<!-- TENET - ENDS -->

				</div>
			</div>
			<div class="row" data-equalizer data-equalizer-mq="medium-up" data-options="equalize_on_stack: true">
				<div class="medium-6 columns">

				<!-- TENET - BEGINS -->
					<div class="panel evo-box evo-family-categories-ctn" data-equalizer-watch>
						<div class="evo-box-circle evo-center-block">
							<i class="evo-icon-site-loop2 evo-icon-size-medium evo-center-block-vertical-element evo-center-block comm-icon" title="" aria-label=""></i>
						</div>

						<div class="evo-box-hdr evo-spacer-padding-bottom-small">
							<h5>AUTHENTIC INTEGRITY WITH DESKTOP</h5>
						</div>
						<div class="evo-box-bdy text-left">
							<p>Mobile, tablet and desktop experiences need not be identical, but they should be aligned.</p>
							<hr />
							<p>Re-use key ingredients and patterns across devices if possible to create an authentic similarity.</p>
						</div>
					</div>
				<!-- TENET - ENDS -->

				</div>
				<div class="medium-6 columns">

				<!-- TENET - BEGINS -->
					<div class="panel evo-box evo-family-categories-ctn" data-equalizer-watch>
						<div class="evo-box-circle evo-center-block">
							<i class="evo-icon-site-align-center-horizontal evo-icon-size-medium evo-center-block-vertical-element evo-center-block comm-icon" title="" aria-label=""></i>
						</div>

						<div class="evo-box-hdr evo-spacer-padding-bottom-small">
							<h5>DIFFERENT NAVIGATIONAL MODELS</h5>
						</div>
						<div class="evo-box-bdy text-left">
							<p>One single, responsive navigational model across devices might be cool from a development and design standpoint, but the user doesn't care.</p>
							<hr />
							<p>Optimize the navigational model to the device.  Be aware of screen size, navigational orientation, and visual styling.</p>
						</div>
					</div>
				<!-- TENET - ENDS -->

				</div>
			</div>
			<div class="row" data-equalizer data-equalizer-mq="medium-up" data-options="equalize_on_stack: true">
				<div class="medium-6 columns">

				<!-- TENET - BEGINS -->
					<div class="panel evo-box evo-family-categories-ctn" data-equalizer-watch>
						<div class="evo-box-circle evo-center-block">
							<i class="evo-icon-site-grid6 evo-icon-size-medium evo-center-block-vertical-element evo-center-block comm-icon" title="" aria-label=""></i>
						</div>

						<div class="evo-box-hdr evo-spacer-padding-bottom-small">
							<h5>SINGLE COLUMN DISPLAYS</h5>
						</div>
						<div class="evo-box-bdy text-left">
							<p>Multi-column data grids don't work well on smaller screens.</p>
							<hr />
							<p>Think about converting grids to stacked lists for mobile devices.</p>
						</div>
					</div>
				<!-- TENET - ENDS -->

				</div>
				<div class="medium-6 columns">

				<!-- TENET - BEGINS -->
					<div class="panel evo-box evo-family-categories-ctn" data-equalizer-watch>
						<div class="evo-box-circle evo-center-block">
							<i class="evo-icon-site-paragraph-left3 evo-icon-size-medium evo-center-block-vertical-element evo-center-block comm-icon" title="" aria-label=""></i>
						</div>

						<div class="evo-box-hdr evo-spacer-padding-bottom-small">
							<h5>LESS TEXT/SHORTER LABELS</h5>
						</div>
						<div class="evo-box-bdy text-left">
							<p>Focus on creating short, concise text for all content. This approach facilitates cleaner mobile implementation for small screen spaces.</p>
							<hr />
							<p>Superfluous and confusing labels of ownership such as "My X" and "Your X" clutter mobile design.</p>
						</div>
					</div>
				<!-- TENET - ENDS -->

				</div>
			</div>
			<div class="row" data-equalizer data-equalizer-mq="medium-up" data-options="equalize_on_stack: true">
				<div class="medium-6 columns">

				<!-- TENET - BEGINS -->
					<div class="panel evo-box evo-family-categories-ctn" data-equalizer-watch>
						<div class="evo-box-circle evo-center-block">
							<i class="evo-icon-site-sort evo-icon-size-medium evo-center-block-vertical-element evo-center-block comm-icon" title="" aria-label=""></i>
						</div>

						<div class="evo-box-hdr evo-spacer-padding-bottom-small">
							<h5>SCROLLABLE SCREENS NOT AN ISSUE</h5>
						</div>
						<div class="evo-box-bdy text-left">
							<p>Scrolling is not perceived negatively by users on any device or screen size. </p>
							<hr />
							<p>Loading smaller chunks of data via "infinite scrolling" is a better user experience on mobile than forcing the user to page through data.</p>
						</div>
					</div>
				<!-- TENET - ENDS -->

				</div>
				<div class="medium-6 columns">

				<!-- TENET - BEGINS -->
					<div class="panel evo-box evo-family-categories-ctn" data-equalizer-watch>
						<div class="evo-box-circle evo-center-block">
							<i class="evo-icon-site-touch evo-icon-size-medium evo-center-block-vertical-element evo-center-block comm-icon" title="" aria-label=""></i>
						</div>

						<div class="evo-box-hdr evo-spacer-padding-bottom-small">
							<h5>CONTROLS SHOULD LOOK TAPPABLE</h5>
						</div>
						<div class="evo-box-bdy text-left">
							<p>Tappable items should be obvious and visually respond to user actions.</p>
							<hr />
							<p>Expand active areas to optimize for smaller screen sizes.</p>
						</div>
					</div>
				<!-- TENET - ENDS -->

				</div>
			</div>
		</div>
	</section>
<!-- PAGE CONTENT - ENDS -->

{% endblock %}