{% layout "comm/layout" %}
{% block content %}

<!-- HERO IMAGE - BEGINS -->
	{% include "/comm/hero-banner" %}
<!-- HERO IMAGE - ENDS -->

<!-- PAGE CONTENT - BEGINS -->
	<section class="row">
		<div class="large-10 large-centered columns evo-site-family-content-ctn">
			<div class="row text-center">

				<!-- DESIGN PRINCIPLES NAV - BEGINS -->
				{% include "/comm/design-principles-nav" %}
				<!-- DESIGN PRINCIPLES NAV - ENDS -->

			</div>
			<div class="row" data-equalizer data-equalizer-mq="medium-up" data-options="equalize_on_stack: true">
				<div class="medium-6 columns">

				<!-- TENET - BEGINS -->
					<div class="panel evo-box evo-family-categories-ctn" data-equalizer-watch>
						<div class="evo-box-circle evo-center-block">
							<i class="evo-icon-site-sort evo-icon-size-medium evo-center-block-vertical-element evo-center-block bp-icon" title="" aria-label=""></i>
						</div>

						<div class="evo-box-hdr evo-spacer-padding-bottom-small">
							<h5>SCROLLING</h5>
						</div>
						<div class="evo-box-bdy text-left">
							<p>Scrolling is neither good nor bad and often faster than paging.</p>
							<hr />
							<p>If the content is usable and well presented, users will not have an issue scrolling to consume it.</p>
							<hr />
							<p>Users can scan a page quicker than a browser can load it.</p>
						</div>
					</div>
				<!-- TENET - ENDS -->

				</div>
				<div class="medium-6 columns">

				<!-- TENET - BEGINS -->
					<div class="panel evo-box evo-family-categories-ctn" data-equalizer-watch>
						<div class="evo-box-circle evo-center-block">
							<i class="evo-icon-site-bubble-lines3 evo-icon-size-medium evo-center-block-vertical-element evo-center-block bp-icon" title="" aria-label=""></i>
						</div>

						<div class="evo-box-hdr evo-spacer-padding-bottom-small">
							<h5>PROVIDE USER FEEDBACK</h5>
						</div>
						<div class="evo-box-bdy text-left">
							<p>Highlight any event when it happens, even if the page doesn't refresh.</p>
							<hr />
							<p>Immediately provide positive or negative feedback when an action has been completed.</p>
							<hr />
							<p>Provide the user with context within a multi-step process - show them where they are and how many steps remain.</p>
						</div>
					</div>
				<!-- TENET - ENDS -->

				</div>
			</div>
			<div class="row" data-equalizer data-equalizer-mq="medium-up" data-options="equalize_on_stack: true">
				<div class="medium-6 columns">

				<!-- TENET - BEGINS -->
					<div class="panel evo-box evo-family-categories-ctn" data-equalizer-watch>
						<div class="evo-box-circle evo-center-block">
							<i class="evo-icon-site-popout evo-icon-size-medium evo-center-block-vertical-element evo-center-block bp-icon" title="" aria-label=""></i>
						</div>

						<div class="evo-box-hdr evo-spacer-padding-bottom-small">
							<h5>SEPARATE VIEWS FOR EDIT AND DISPLAY</h5>
						</div>
						<div class="evo-box-bdy text-left">
							<p>When presenting data, focus on the user's expectations. Does the user want to read/scan data or do they need to edit it?</p>
							<hr />
							<p>Don't provide a single view that mixes both.</p>
						</div>
					</div>
				<!-- TENET - ENDS -->

				</div>
				<div class="medium-6 columns">

				<!-- TENET - BEGINS -->
					<div class="panel evo-box evo-family-categories-ctn" data-equalizer-watch>
						<div class="evo-box-circle evo-center-block">
							<i class="evo-icon-site-meter-fast evo-icon-size-medium evo-center-block-vertical-element evo-center-block bp-icon" title="" aria-label=""></i>
						</div>

						<div class="evo-box-hdr evo-spacer-padding-bottom-small">
							<h5>PERFORMANCE IMPACTS DESIGN</h5>
						</div>
						<div class="evo-box-bdy text-left">
							<p>Be aware of each design element and data set. Every item has a time cost to the user.</p>
							<hr />
							<p>Don't overload a screen with content. Focus on organizing and presenting only the key elements.</p>
						</div>
					</div>
				<!-- TENET - ENDS -->

				</div>
			</div>
			<div class="row" data-equalizer data-equalizer-mq="medium-up" data-options="equalize_on_stack: true">
				<div class="medium-6 columns">

				<!-- TENET - BEGINS -->
					<div class="panel evo-box evo-family-categories-ctn" data-equalizer-watch>
						<div class="evo-box-circle evo-center-block">
							<i class="evo-icon-warning2 evo-icon-size-medium evo-center-block-vertical-element evo-center-block bp-icon" title="" aria-label=""></i>
						</div>

						<div class="evo-box-hdr evo-spacer-padding-bottom-small">
							<h5>PREVENT ERRORS</h5>
						</div>
						<div class="evo-box-bdy text-left">
							<p>Presenting immediate feedback to the user when an error occurs is important, but preventing the error from happening is more effective.</p>
							<hr />
							<p>Thoughtful attention to detail in form design can prevent errors from occurring.</p>
							<hr />
							<p>Use appropriate default options wherever possible.</p>
						</div>
					</div>
				<!-- TENET - ENDS -->

				</div>
				<div class="medium-6 columns">

				<!-- TENET - BEGINS -->
					<div class="panel evo-box evo-family-categories-ctn" data-equalizer-watch>
						<div class="evo-box-circle evo-center-block">
							<i class="evo-icon-site-paragraph-left3 evo-icon-size-medium evo-center-block-vertical-element evo-center-block bp-icon" title="" aria-label=""></i>
						</div>

						<div class="evo-box-hdr evo-spacer-padding-bottom-small">
							<h5>MINIMIZE CONTENT AS EXPLANATION</h5>
						</div>
						<div class="evo-box-bdy text-left">
							<p>If the answer to a design challenge is to "add more text", the design has failed the "Simplicity" principle.</p>
							<hr />
							<p>Designs should stand on their own and not have to rely on additional explanatory text.</p>
							<hr />
							<p>Always use good web writing principles.</p>
						</div>
					</div>
				<!-- TENET - ENDS -->

				</div>
			</div>
			<div class="row" data-equalizer data-equalizer-mq="medium-up" data-options="equalize_on_stack: true">
				<div class="medium-6 columns">

				<!-- TENET - BEGINS -->
					<div class="panel evo-box evo-family-categories-ctn" data-equalizer-watch>
						<div class="evo-box-circle evo-center-block">
							<i class="evo-icon-site-magazine evo-icon-size-medium evo-center-block-vertical-element evo-center-block bp-icon" title="" aria-label=""></i>
						</div>

						<div class="evo-box-hdr evo-spacer-padding-bottom-small">
							<h5>CONTENT IS DESIGN TOO</h5>
						</div>
						<div class="evo-box-bdy text-left">
							<p>Clear language is vital for users to navigate the site/product to complete their goals.</p>
							<hr />
							<p>Use plain, everyday words and phrases and avoid internal jargon and acronyms. </p>
							<hr />
							<p>Keep labels concise and avoid repetitive and confusing words or phrases such as "Your Benefits" and "Your Dependents" and "Your Investments."  They require the user to spend needless time trying to understand the differentiators.</p>
							<hr />
							<p>Be consistent with labels and language. When descriptors don't match the experience can feel disjointed and confusing.</p>
							<hr />
							<p>Always use active voice.</p>
							<hr />
							<p>Use page headers and subheaders to assist the user with information organization and hierarchy.</p>
						</div>
					</div>
				<!-- TENET - ENDS -->

				</div>
				<div class="medium-6 columns">

				<!-- TENET - BEGINS -->
					<div class="panel evo-box evo-family-categories-ctn" data-equalizer-watch>
						<div class="evo-box-circle evo-center-block">
							<i class="evo-icon-site-reset evo-icon-size-medium evo-center-block-vertical-element evo-center-block bp-icon" title="" aria-label=""></i>
						</div>

						<div class="evo-box-hdr evo-spacer-padding-bottom-small">
							<h5>UNDERSTAND THE COST OF AN ACTION</h5>
						</div>
						<div class="evo-box-bdy text-left">
							<p>Provide the user with ways to undo mistakes.</p>
							<hr />
							<p>Weigh the cost of unintended actions against the need to "pre-confirm" the actions.</p>
							<hr />
							<p>When the cost of the action is high. For example, a user about to cancel a benefits enrollment when they have already entered a lot of data should be provided a "pre-confirmation" warning explaining that all the data they completed will be deleted if they continue with the cancellation.</p>
							<hr />
							<p>In a scenario where the cost is much less &mdash; a user deleting an old email address &mdash; a "pre-confirmation" warning would add unnecessary time to complete the action and would cause friction.</p>
						</div>
					</div>
				<!-- TENET - ENDS -->

				</div>
			</div>
		</div>
	</section>
<!-- PAGE CONTENT - ENDS -->

{% endblock %}