/*------------------------------------------------------------------------------------------
Mercer Evolution - Employee Portal Family - Item Highlight Container Partial
DATE - June 3, 2015
AUTHOR - Doug Fraize, Matthew Holmes
-------------------------------------------------------------------------------------------*/

//
// @variables
//
$evo-item-highlight-ctn-bgcolor: $gray-lightest !default;
$evo-item-highlight-ctn-border-width: 3px !default;
$evo-item-highlight-ctn-border-style: solid !default;
$evo-item-highlight-ctn-border-color: $topaz-dark !default;
$evo-item-highlight-ctn-padding: rem-calc(10) rem-calc(18) rem-calc(3) rem-calc(18) !default;
$evo-item-highlight-ctn-margin: 0 10px !default;
$evo-item-highlight-ctn-min-height: 100px !default;

$evo-item-highlight-ctn-tag-indicator-min-height: rem-calc(29) !default;
$evo-item-highlight-ctn-tag-indicator-label-font-size: rem-calc(11) !default;
$evo-item-highlight-ctn-tag-indicator-label-text-transform: uppercase !default;
$evo-item-highlight-ctn-tag-indicator-label-position: relative !default;
$evo-item-highlight-ctn-tag-indicator-label-position-top: -6px !default;
$evo-item-highlight-ctn-tag-indicator-label-position-left: -26px !default;
$evo-item-highlight-ctn-tag-indicator-label-padding: rem-calc(10) rem-calc(30) rem-calc(8) rem-calc(30) !default;
$evo-item-highlight-ctn-tag-indicator-label-bgcolor: $sapphire-mid !default;
$evo-item-highlight-ctn-tag-indicator-label-letter-spacing: rem-calc(1) !default;

$evo-item-highlight-ctn-highlight-ctn-link-font-size: rem-calc(12) !default;
$evo-item-highlight-ctn-highlight-ctn-link-line-height: 0 !default;
$evo-item-highlight-ctn-highlight-ctn-link-margin-top: rem-calc(8) !default;

.evo-item-highlight-ctn			{
								background-color: $evo-item-highlight-ctn-bgcolor;
								border: $evo-item-highlight-ctn-border-width $evo-item-highlight-ctn-border-style $evo-item-highlight-ctn-border-color;
								padding: $evo-item-highlight-ctn-padding;
								margin: $evo-item-highlight-ctn-margin;
								min-height: $evo-item-highlight-ctn-min-height;
	.evo-tag-indicator-ctn			{
									min-height: $evo-item-highlight-ctn-tag-indicator-min-height;
		.evo-label						{
										font-size: $evo-item-highlight-ctn-tag-indicator-label-font-size;
										text-transform: $evo-item-highlight-ctn-tag-indicator-label-text-transform;
										position: $evo-item-highlight-ctn-tag-indicator-label-position;
										top: $evo-item-highlight-ctn-tag-indicator-label-position-top;
										left: $evo-item-highlight-ctn-tag-indicator-label-position-left;
										padding: $evo-item-highlight-ctn-tag-indicator-label-padding;
										background-color: $evo-item-highlight-ctn-tag-indicator-label-bgcolor;
										letter-spacing: $evo-item-highlight-ctn-tag-indicator-label-letter-spacing;
										}
									}
	a.evo-highlight-ctn-link		{
									font-size: $evo-item-highlight-ctn-highlight-ctn-link-font-size;
									line-height: $evo-item-highlight-ctn-highlight-ctn-link-line-height;
									margin-top: $evo-item-highlight-ctn-highlight-ctn-link-margin-top;
									}
								}