//-------------------------------------------------------------------------------------------
// Mercer Evolution - Core v2.4 - JQuery UI Accordion Partial
// DATE - April 4, 2014
// AUTHOR - Doug Fraize, Matthew Holmes
//-------------------------------------------------------------------------------------------

@if $use-accordian == true{

	.ui-accordion				{
								margin-bottom: $baseMargin;
		h5							{
									font-size: $hdrH5FontSize;
			a							{
										@include border-radius($baseBorderRadius);
										@include background-gradient($acccordianBackgroundStartColor,$acccordianBackgroundEndColor);
										@include text-shadow(1px, 1px, 1px, $acccordianTextShadowColor);
										border: $acccordianBorderSize $acccordianBorderStyle $acccordianBorderColor;
										color: $acccordianFontColor;
										display: block;
										padding: $acccordianMarginTopBottom $acccordianMarginLeftRight;
										text-decoration: none;
				&:hover						{@include background-gradient($acccordianHoverBackgroundStartColor,$acccordianHoverBackgroundEndColor);}
										}
									}
		.ui-accordion-content		{
									@include box-sizing(content-box);
									padding: $acccordianContentMarginTopBottom $acccordianContentMarginLeftRight;
									}
								}

}//endif