<header role="banner" class="evo-masthead">

	<section class="evo-grid evo-masthead-top">
		<div class="evo-masthead-top-adjust">

		<!-- LOGO SECTION - BEGINS -->
			<div class="col-18 first">
				<h1 class="evo-logo">
					<a href="/index">MERCER <span>EVOLUTION</span></a>
				</h1>
			</div>
		<!-- LOGO SECTION - ENDS -->

		<!-- PROFILE MENU SECTION - BEGINS -->
			{% if global.user_profile == "simple" %}

				<!-- MASTHEAD PROFILE SIMPLE - BEGINS -->
				{% include "/base/masthead-profile-simple" %}
				<!-- MASTHEAD PROFILE SIMPLE - ENDS -->

			{% elseif global.user_profile == "menu"  %}

				<!-- MASTHEAD PROFILE MENU - BEGINS -->
				{% include "/base/masthead-profile-menu" %}
				<!-- MASTHEAD PROFILE MENU - ENDS -->

			{% else %}

			{% endif %}
		<!-- PROFILE MENU SECTION - ENDS -->

		</div>
	</section>

	<section class="evo-masthead-bottom">
		<div class="evo-masthead-bottom-adjust">
		
		<!-- NAVBAR - BEGINS -->
			<nav role="navigation" class="evo-navbar evo-grid">

				<ul class="evo-main-menu sm evo-menu-default">
					<li><a class="evo-first-child {% if mixture.url == "index" %}evo-navbar-item-active{% endif %}" href="/index">Home</a></li>
					<li>
						<a {% if mixture.url == "browser-testing-support" %}class="evo-navbar-item-active"{% endif %} href="/browser-testing-support">Browser Support</a>
						<ul>
							<li><a href="#">Sub Item</a></li>
							<li><a href="#">Sub Item</a></li>
							<li><a href="#">Sub Item</a></li>
							<li>
								<a href="#">Sub Item</a>
								<ul class="evo-vertical-list-bulleted">
									<li><a href="javascript:;">Link 1</a></li>
									<li><a href="javascript:;">Lorem ipsum Erat esse molestie esse soluta in ipsum luptatum no</a></li>
									<li><a href="javascript:;">Link 3</a></li>
									<li>
										<a href="javascript:;">Link 4</a>
										<ul class="evo-vertical-list-bulleted">
											<li><a href="javascript:;">Link 1</a></li>
											<li><a href="javascript:;">Lorem ipsum Erat esse molestie esse soluta in ipsum luptatum no</a></li>
											<li><a href="javascript:;">Link 3</a></li>
											<li>
												<a href="javascript:;">Link 4</a>
												<ul class="evo-vertical-list-bulleted">
													<li><a href="javascript:;">Link 1</a></li>
													<li><a href="javascript:;">Lorem ipsum Erat esse molestie esse soluta in ipsum luptatum no</a></li>
													<li><a href="javascript:;">Link 3</a></li>
													<li>
														<a href="javascript:;">Link 4</a>
														<ul class="evo-vertical-list-bulleted">
															<li><a href="javascript:;">Link 1</a></li>
															<li><a href="javascript:;">Lorem ipsum Erat esse molestie esse soluta in ipsum luptatum no</a></li>
															<li><a href="javascript:;">Link 3</a></li>
															<li><a href="javascript:;">Link 4</a></li>
														</ul>
													</li>
												</ul>
											</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><a {% if mixture.url == "tollkit" %}class="evo-navbar-item-active"{% endif %} href="/toolkit">Toolkit</a></li>
					<li><a {% if mixture.url == "quick-reference" %}class="evo-navbar-item-active"{% endif %} href="/quick-reference">Quick Reference</a></li>
					<li class="mega-menu">
						<a href="#">Mega Menu</a>
						<ul class="mega-menu">
							<li>
								<!-- The mega drop down contents -->
								<div class="evo-mega-menu">
									<div class="evo-mega-menu-content evo-grid">
										{{ 2 | lorem_ipsum:'p' }}
										<section class="col-24">
											<div class="col-12 first">
												<h4>Column Left</h4>
											<!-- VERTICAL LISTS BULLETED - LINKS - BEGINS -->
												<ul class="evo-vertical-list-bulleted">
													<li><a href="javascript:;">Link 1</a></li>
													<li><a href="javascript:;">Lorem ipsum Erat esse molestie esse soluta in ipsum luptatum no</a></li>
													<li><a href="javascript:;">Link 3</a></li>
													<li><a href="javascript:;">Link 4</a></li>
												</ul>
											<!-- VERTICAL LISTS BULLETED - LINKS - ENDS -->

											</div>
											<div class="col-12">
												<h3>Column Right</h3>
											<!-- VERTICAL DEFINITION LISTS BULLETED - LINKS - BEGINS -->
												<dl class="evo-vertical-list-bulleted">
													<dt>Title</dt>
													<dd><a href="javascript:;">Link 1</a></dd>
													<dd><a href="javascript:;">Lorem ipsum Erat esse molestie esse soluta in ipsum luptatum no</a></dd>
													<dd><a href="javascript:;">Link 3</a></dd>
													<dd><a href="javascript:;">Link 4</a></dd>
												</dl>
											<!-- VERTICAL DEFINITION LISTS BULLETED - LINKS - ENDS -->
											</div>
										</section>
									</div>
								</div>
							</li>
						</ul>
					</li>
					<li class="mega-menu evo-menu-icon">
						<a href="javascript:;"><i class="evo-icon-basket evo-icon-size-small"></i></a>
						<ul class="mega-menu">
							<li>
								<!-- The mega drop down contents -->
								<div class="evo-mega-menu">
									<div class="evo-mega-menu-content evo-grid">

										<div class="col-24 hp-layout">
											<div class="col-8 first">
												{% for item in global.table-of-contents limit:2 %}
													{% include "sidebar-navbar" %}
												{% endfor %}
											</div>
											<div class="col-8">
												{% for item in global.table-of-contents limit:2 offset:3 %}
													{% include "sidebar-navbar" %}
												{% endfor %}
											</div>
											<div class="col-8">
												{% for item in global.table-of-contents offset:5 %}
													{% include "sidebar-navbar" %}
												{% endfor %}
											</div>
										</div>

									</div>
								</div>
							</li>
						</ul>
					</li>
				</ul>

			</nav>
		<!-- NAVBAR - ENDS -->

		</div>
	</section>

</header>