<header role="banner" class="mul-grid mul-header">
	<div class="mul-header-adjust">

	<!-- MASTHEAD - BEGINS -->
		<section class="mul-masthead">
			<div class="mul-masthead-adjust">
				<div class="col-16 first masthead-col-1">
				<!-- LOGO SECTION - BEGINS -->
					<section class="col-24 mul-logo mul-small-mediaquery-grid">
						<div class="col-6 first logo-col-1"></div>
						<div class="col-18 logo-col-2">
							<a href="/index">MERCER <span>EVOLUTION</span></a>
						</div>
					</section>
				<!-- LOGO SECTION - ENDS -->
				</div>
				<div class="col-8 masthead-col-2">
				<!-- PROFILE CONTAINER - BEGINS -->
					<div class="js-mul-profile-menu-display mul-profile-menu-ctn mul-hidden-small-mediaquery">

						<div class="mul-profile-menu-user-info-ctn">
							<div class="mul-profile-menu-icons">
								<i class="mul-icon-arrow-right2 mul-profile-menu-icon"></i>
								<i class="mul-icon-arrow-down2 mul-profile-menu-icon"></i>
							</div>
							<div class="mul-profile-menu-user-info">
								<dl>
									<dt class="mul-profile-menu-user-name">Arquimedez Pozo</dt>
									<dd class="mul-profile-menu-user-title">Front-end Web Developer</dd>
								</dl>
							</div>
							<div class="mul-profile-menu-user-avatar">
								<i class="mul-icon-user mul-icon-size-medium mul-center-block" title="Arquimedez Pozo"></i>
							</div>
	
						<!-- PROFILE SUBMENU - BEGINS -->	
							<div class="mul-profile-menu">
								<ul class="mul-vertical-list">
									<li><a href="#">View Profile</a></li>
									<li><a href="#">Change Language</a></li>
									<li><a href="#">User Administration</a></li>
									<li><a class="last-child" href="/index">Log Out</a></li>
								</ul>
							</div>
						<!-- PROFILE SUBMENU - BEGINS -->
						</div>

					</div>
				<!-- PROFILE CONTAINER - ENDS -->
				</div>
			</div>
		</section>
	<!-- MASTHEAD - ENDS -->

	<!-- NAVBAR - BEGINS -->
		<section class="col-24 mul-navbar">
			<div class="mul-navbar-adjust">
				<div class="col-18 first navbar-col-1">
				<!-- NAVBAR - BEGINS -->
					<nav class="mul-nav-blocks">
						<ul class="mul-horizontal-list mul-horizontal-list-piped sm sm-simple js-mul-menus">
							<li><a href="/index">Home</a></li>
							<li><a href="/browser-testing-support">Browser Support</a></li>
							<li><a href="/toolkit">Toolkit</a></li>
							<li><a href="javascript:;">Item</a></li>
							<li>
								<a href="javascript:;">Item</a>
								<ul>
									<li><a href="javascript:;">Item for this is really long Item for this is really long Item for this is really long</a></li>
									<li><a href="javascript:;">Item</a></li>
									<li><a href="javascript:;">Item</a></li>
									<li><a href="javascript:;">Item</a></li>
									<li>
										<a href="javascript:;">Item</a>
										<ul>
											<li><a href="javascript:;">Item</a></li>
											<li><a href="javascript:;">Item</a></li>
											<li><a href="javascript:;">Item</a></li>
											<li><a href="javascript:;">Item</a></li>
											<li>
												<a href="javascript:;">Item</a>
												<ul>
													<li><a href="javascript:;">Item for this is really long Item for this is really long Item for this is really long</a></li>
													<li><a href="javascript:;">Item</a></li>
													<li><a href="javascript:;">Item</a></li>
													<li><a href="javascript:;">Item</a></li>
												</ul>
											</li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="mul-mega-menu">
								<a href="javascript:;">Item</a>
								<ul class="mega-menu">
									<li class="mul-mega-menu-adjust">
									<!-- MEGA MENU CONTAINER - BEGINS -->
										<div class="mul-mega-menu-ctn">
											<p>Some content to test</p>
											<p>Some content to test</p>
											<p>Some content to test</p>
											<p>Some content to test</p>
											<p>Some content to test</p>
											<p>Some content to test</p>
											<p>Some content to test</p>
											<p>Some content to test</p>
											<p>Some content to test</p>
											<p>Some content to test</p>
											<p>Some content to test</p>
											<p>Some content to test</p>
											<p>Some content to test</p>
											<p>Some content to test</p>
											<p>Some content to test</p>
										</div>
									<!-- MEGA MENU CONTAINER - ENDS -->
									</li>
								</ul>
							</li>
						</ul>
					</nav>
				<!-- NAVBAR - ENDS -->
				</div>
				<div class="col-6 navbar-col-2">
				<!-- NAVBAR ICON CONTAINER - BEGINS -->
					<div class="mul-navbar-icon-ctn">
						<i class="mul-icon-menu3"></i>
						<i class="mul-icon-basket"></i>
					</div>
				<!-- NAVBAR ICON CONTAINER - ENDS -->
				</div>
			</div>
		</section>
	<!-- NAVBAR - ENDS -->

	</div>
</header>