<header role="banner" class="mul-grid mul-header">
	<div class="mul-header-adjust">

	<!-- MASTHEAD - BEGINS -->
		<section class="mul-masthead">
			<div class="mul-masthead-adjust">
				<div class="col-16 first masthead-col-1">
				<!-- LOGO SECTION - BEGINS -->
					<section class="col-24 mul-logo mul-small-mediaquery-grid">
						<div class="col-3 first mul-logo-col-1">LOGO</div>
						<div class="col-18 first mul-logo-col-2">
							<a href="/index">MERCER <span>EVOLUTION</span></a>
						</div>
						<div class="col-4 mul-logo-col-3 mul-visible-small-mediaquery">
						<!-- MOBILE MENU ICON - BEGINS -->
							<ul class="mul-horizontal-list mul-navbar-icon-ctn">
								<li class="mul-no-margin"><a href="javascript:;"><i class="mul-icon-user"></i></a></li>
								<li class="mul-no-margin"><a href="javascript:;"><i class="mul-icon-search"></i></a></li>
								<li class="mul-no-margin js-mul-toggle-content" data-mul-toggle="1"><a href="javascript:;"><i class="mul-icon-menu3"></i></a></li>
							</ul>
						<!-- MOBILE MENU ICON - ENDS -->
						</div>
					</section>
				<!-- LOGO SECTION - ENDS -->
				</div>
				<div class="col-8 masthead-col-2">

				<!-- PROFILE CONTAINER - BEGINS -->
					<div class="mul-profile-menu mul-profile-menu-navbar mul-hidden-small-mediaquery">
						<ul class="mul-navbar-icon-ctn sm sm-simple js-mul-profile-menu mul-profile-menu-adjust">
							<li class="col-24">
								<a href="javascript:;">
									<div class="col-2 first">
										<i class="mul-icon-arrow-right2 mul-profile-menu-icon"></i>
									</div>
									<div class="col-16 mul-profile-menu-user-info">
										<span class="mul-profile-menu-user-name">Arquimedez Pozo</span>
										<span class="mul-profile-menu-user-title">Front-end Web Developer</span>
									</div>
									<div class="col-5 mul-profile-menu-user-avatar">
										<i class="mul-icon-user mul-icon-size-medium mul-center-block" title="Arquimedez Pozo"></i>
									</div>
								</a>
								<ul class="mul-vertical-list">
									<li><a href="#">View Profile</a></li>
									<li><a href="#">Change Language</a></li>
									<li><a href="#">User Administration</a></li>
									<li><a class="last-child" href="/index">Log Out</a></li>
								</ul>
							</li>
						</ul>
					</div>
				<!-- PROFILE CONTAINER - ENDS -->

				</div>
			</div>
		</section>
	<!-- MASTHEAD - ENDS -->

	<!-- NAVBAR - BEGINS -->
		<section class="col-24 mul-navbar">
			<div class="mul-navbar-adjust">
				<div class="col-18 first navbar-col-1">
				<!-- NAVBAR - BEGINS -->
					<nav class="mul-text-nav">
						<ul class="sm sm-simple js-mul-menus" id="div1">
							<li><a href="/index">Home</a></li>
							<li><a href="/browser-testing-support">Browser Support</a></li>
							<li><a href="/toolkit">Toolkit</a></li>
							<li>
								<a href="javascript:;">Sub Menu</a>
								<ul>
									<li><a href="javascript:;">Item</a></li>
									<li><a href="javascript:;">Item</a></li>
									<li><a href="javascript:;">Item</a></li>
									<li>
										<a href="javascript:;">Item</a>
										<ul>
											<li><a href="javascript:;">Item</a></li>
											<li><a href="javascript:;">Item</a></li>
											<li><a href="javascript:;">Item</a></li>
											<li><a href="javascript:;">Item</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="mul-mega-menu">
								<a href="javascript:;">Mega Menu</a>
								<ul class="mega-menu">
									<li class="mul-mega-menu-adjust">
									<!-- MEGA MENU CONTAINER - BEGINS -->
										<div class="mul-mega-menu-ctn">
											<h1>Here is a default mega menu</h1>
											{{ 4 | lorem_ipsum:'p' }}
										</div>
									<!-- MEGA MENU CONTAINER - ENDS -->
									</li>
								</ul>
							</li>
						</ul>
					</nav>
				<!-- NAVBAR - ENDS -->
				</div>
				<div class="col-6 navbar-col-2">
				<!-- NAVBAR ICON CONTAINER - BEGINS -->
					<ul class="mul-horizontal-list mul-navbar-icon-ctn sm sm-simple js-mul-menus" id="div1">
						<li class="mul-mega-menu">
							<a href="javascript:;"><i class="mul-icon-menu3"></i></a>
							<ul class="mega-menu mul-mega-menu-icons">
								<li class="mul-mega-menu-adjust">
								<!-- MEGA MENU CONTAINER - BEGINS -->
									<div class="mul-mega-menu-ctn">
										<h1>Shopping Cart Mega Menu</h1>
										{{ 4 | lorem_ipsum:'p' }}
									</div>
								<!-- MEGA MENU CONTAINER - ENDS -->
								</li>
							</ul>
						</li>
						<li class="mul-mega-menu">
							<a href="javascript:;"><i class="mul-icon-basket"></i></a>
							<ul class="mega-menu mul-mega-menu-icons">
								<li class="mul-mega-menu-adjust">
								<!-- MEGA MENU CONTAINER - BEGINS -->
									<div class="mul-mega-menu-ctn">
										<h1>Hamburger Mega Menu</h1>
										{{ 4 | lorem_ipsum:'p' }}
									</div>
								<!-- MEGA MENU CONTAINER - ENDS -->
								</li>
							</ul>
						</li>						
					</ul>
				<!-- NAVBAR ICON CONTAINER - ENDS -->
				</div>
			</div>
		</section>
	<!-- NAVBAR - ENDS -->

	</div>
</header>