<header role="banner" class="mul-masthead">

	<!-- MASTHEAD - BEGINS -->
	<div class="mul-masthead-adjust">
		<div class="mul-masthead-content-ctn">

			<!-- MASTHEAD LOGO - BEGINS -->
			<div class="col-18 first">
				<h1 class="mul-logo">
					<a href="/index">PRODUCT <span>NAME</span></a>
				</h1>
			</div>
			<!-- MASTHEAD LOGO - ENDS -->

			{% if global.user_profile == "simple" %}

				<!-- MASTHEAD PROFILE SIMPLE - BEGINS -->
				{% include "/base/masthead-profile-simple" %}
				<!-- MASTHEAD PROFILE SIMPLE - ENDS -->

			{% else %}

				<!-- MASTHEAD PROFILE MENU - BEGINS -->
				{% include "/base/masthead-profile-menu" %}
				<!-- MASTHEAD PROFILE MENU - ENDS -->

			{% endif %}
			
		</div>
	</div>
	<!-- MASTHEAD - ENDS -->

	<!-- MASTHEAD NAVBAR - BEGINS -->
	<div class="mul-masthead-navbar-ctn">
		<div class="mul-masthead-adjust">

			<!-- NAVBAR - BEGINS -->
			<nav role="navigation" class="mul-navbar">
				<ul class="mul-horizontal-list">
					<li><a class="mul-first-child {% if mixture.url == "index" %}mul-navbar-item-active{% endif %}" href="/index">Home</a></li>
					<li><a href="#">Nav Option 2</a></li>
					<li><a href="#">Nav Option 3</a></li>
					<li><a href="#">Nav Option 4</a></li>
					<li><a href="#">Nav Option 5</a></li>
				</ul>
			</nav>
			<!-- NAVBAR - ENDS -->

		</div>
	</div>
	<!-- MASTHEAD NAVBAR - BEGINS -->

</header>