<header role="banner" class="mul-grid mul-header">
	<div class="mul-header-adjust">

	<!-- NAVBAR FIXED - BEGINS -->
		<section class="col-24 mul-navbar mul-navbar-fixed">
			<div class="mul-navbar-adjust mul-navbar-fixed-adjust">
				<div class="col-12 first navbar-col-1">
				<!-- LOGO SECTION - BEGINS -->
					<section class="col-24 mul-logo mul-small-mediaquery-grid">
						<div class="col-3 first mul-logo-col-1">LOGO</div>
						<div class="col-18 first mul-logo-col-2">
							<a href="/index">MERCER <span>EVOLUTION</span></a>
						</div>
						<div class="col-4 mul-logo-col-3 mul-visible-small-mediaquery">
						<!-- MOBILE MENU ICON - BEGINS -->
							<ul class="mul-horizontal-list mul-navbar-icon-ctn">
								<li class="mul-no-margin"><a href="javascript:;"><i class="mul-icon-user"></i></a></li>
								<li class="mul-no-margin"><a href="javascript:;"><i class="mul-icon-search"></i></a></li>
								<li class="mul-no-margin js-mul-toggle-content" data-mul-toggle="1"><a href="javascript:;"><i class="mul-icon-menu3"></i></a></li>
							</ul>
						<!-- MOBILE MENU ICON - ENDS -->
						</div>
					</section>
				<!-- LOGO SECTION - ENDS -->
				</div>
				<div class="col-12 navbar-col-2">
				<!-- NAVBAR - BEGINS -->
					<nav class="mul-text-nav">
						<ul class="sm sm-simple js-mul-menus" id="div1">
							<li><a href="/index">Home</a></li>
							<li><a href="/browser-testing-support">Browser Support</a></li>
							<li><a href="/toolkit">Toolkit</a></li>
						</ul>
					</nav>
				<!-- NAVBAR - ENDS -->				
				</div>
			</div>
		</section>
	<!-- NAVBAR FIXED - ENDS -->

	</div>
</header>