<footer class="mul-footer mul-fat-footer">
	<div id="nav-bookmark" class="mul-footer-adjust">
		<div class="col-24 mul-footer-content-ctn">
			<div class="col-24">
				<div class="col-6 first mul-fat-footer-corp-content">
					<a href="javascript:;" title="Mercer"><img class="mul-fat-footer-logo" src="{{ "mercer_logo_reverse_188x28.png" | asset_url }}" alt="Mercer" width="188" height="28" /></a>
					
					<div class="mul-group-icon-set">
						<a class="mul-icon-adv" href="javascript:;" title="Contact Us"><i class="mul-icon-phone2"></i></a>
						<a class="mul-icon-adv" href="javascript:;" title="Browse"><i class="mul-icon-mouse"></i></a>
						<a class="mul-icon-adv" href="javascript:;" title="Chat With Us"><i class="mul-icon-bubble"></i></a>
					</div>
				</div>
				<dl class="col-6 mul-keyline-left">
					<dt class="h4">Footer Header</dt>
					<dd><span><a href="javascript:;" title="">Lorem Ipsum</a></span></dd>
					<dd><span><a href="javascript:;" title="">Sadipscing Euismod Dolor</a></span></dd>
					<dd><span><a href="javascript:;" title="">Sed Rebum Tincidunt</a></span></dd>
					<dd><span><a href="javascript:;" title="">Hendrerit Sit Erat Eirmod</a></span></dd>
				</dl>
				<dl class="col-6">
					<dt class="h4">Footer Header</dt>
					<dd><span><a href="javascript:;" title="">Lorem Ipsum</a></span></dd>
					<dd><span><a href="javascript:;" title="">Sadipscing Euismod Dolor</a></span></dd>
					<dd><span><a href="javascript:;" title="">Sed Rebum Tincidunt</a></span></dd>
					<dd><span><a href="javascript:;" title="">Hendrerit Sit Erat Eirmod</a></span></dd>
				</dl>
				<dl class="col-6">
					<dt class="h4">Footer Header</dt>
					<dd><span><a href="javascript:;" title="">Lorem Ipsum</a></span></dd>
					<dd><span><a href="javascript:;" title="">Sadipscing Euismod Dolor</a></span></dd>
					<dd><span><a href="javascript:;" title="">Sed Rebum Tincidunt</a></span></dd>
					<dd><span><a href="javascript:;" title="">Hendrerit Sit Erat Eirmod</a></span></dd>
				</dl>
			</div>
			<div class="col-24 mul-footer-copyright">
				<p class="mul-copyright-text">&copy; {{ 'now' | date: "%Y" }} Mercer LLC, All Rights Reserved</p>
			</div>
		</div>
	</div>
</footer>