<!-- GRID - 2 COLUMN - 33%/66% - BEGINS -->
<div class="col-24">
	<div class="col-8 first">
		{{ 1 | lorem_ipsum:'p' }}
	</div>
	<div class="col-16">
		{{ 1 | lorem_ipsum:'p' }}
	</div>
</div>
<!-- GRID - 2 COLUMN - 33%/66% - ENDS -->