<!-- GRID - 8 COLUMN - BEGINS -->
<div class="col-24">
	<div class="col-3 first">
		{{ 1 | lorem_ipsum:'p' }}
	</div>
	<div class="col-3">
		{{ 1 | lorem_ipsum:'p' }}
	</div>
	<div class="col-3">
		{{ 1 | lorem_ipsum:'p' }}
	</div>
	<div class="col-3">
		{{ 1 | lorem_ipsum:'p' }}
	</div>
	<div class="col-3">
		{{ 1 | lorem_ipsum:'p' }}
	</div>
	<div class="col-3">
		{{ 1 | lorem_ipsum:'p' }}
	</div>
	<div class="col-3">
		{{ 1 | lorem_ipsum:'p' }}
	</div>
	<div class="col-3">
		{{ 1 | lorem_ipsum:'p' }}
	</div>
</div>
<!-- GRID - 8 COLUMN - ENDS -->