<!-- TODO: grid-12.col.liquid :: remove -->
<!-- GRID - 12 COLUMN - BEGINS -->
<div class="col-24">
	<div class="col-2 first">
		{{ 1 | lorem_ipsum:'p' }}
	</div>
	<div class="col-2">
		{{ 1 | lorem_ipsum:'p' }}
	</div>
	<div class="col-2">
		{{ 1 | lorem_ipsum:'p' }}
	</div>
	<div class="col-2">
		{{ 1 | lorem_ipsum:'p' }}
	</div>
	<div class="col-2">
		{{ 1 | lorem_ipsum:'p' }}
	</div>
	<div class="col-2">
		{{ 1 | lorem_ipsum:'p' }}
	</div>
	<div class="col-2">
		{{ 1 | lorem_ipsum:'p' }}
	</div>
	<div class="col-2">
		{{ 1 | lorem_ipsum:'p' }}
	</div>
	<div class="col-2">
		{{ 1 | lorem_ipsum:'p' }}
	</div>
	<div class="col-2">
		{{ 1 | lorem_ipsum:'p' }}
	</div>
	<div class="col-2">
		{{ 1 | lorem_ipsum:'p' }}
	</div>
	<div class="col-2">
		{{ 1 | lorem_ipsum:'p' }}
	</div>
</div>
<!-- GRID - 12 COLUMN - ENDS -->