<!-- GRID - 3 COLUMN - 33%/33%/33% - BEGINS -->
<div class="row evo-row">
	<div class="small-4 columns">Column</div>
	<div class="small-4 columns">Column</div>
	<div class="small-4 columns">Column</div>
</div>
<!-- GRID - 3 COLUMN - 33%/33%/33% - ENDS -->