<!-- TODO: grid-6.col.liquid :: remove -->
<!-- GRID - 6 COLUMN - 17%/17%/17%/17%/17%/17% - BEGINS -->
<div class="col-24">
	<div class="col-4 first">
		{{ 1 | lorem_ipsum:'p' }}
	</div>
	<div class="col-4">
		{{ 1 | lorem_ipsum:'p' }}
	</div>
	<div class="col-4">
		{{ 1 | lorem_ipsum:'p' }}
	</div>
	<div class="col-4">
		{{ 1 | lorem_ipsum:'p' }}
	</div>
	<div class="col-4">
		{{ 1 | lorem_ipsum:'p' }}
	</div>
	<div class="col-4">
		{{ 1 | lorem_ipsum:'p' }}
	</div>
</div>
<!-- GRID - 6 COLUMN - 17%/17%/17%/17%/17%/17% - ENDS -->