<!-- GRID - 4 COLUMN - 25%/25%/25%/25% - BEGINS -->
<div class="row">
	<div class="small-3 columns">Column</div>
	<div class="small-3 columns">Column</div>
	<div class="small-3 columns">Column</div>
	<div class="small-3 columns">Column</div>
</div>
<!-- GRID - 4 COLUMN - 25%/25%/25%/25% - ENDS -->