<!-- GRID - 2 COLUMN - 25%/75% - BEGINS -->
<div class="row evo-row">
	<div class="small-3 columns">Column</div>
	<div class="small-9 columns">Column</div>
</div>
<!-- GRID - 2 COLUMN - 25%/75% - ENDS -->