<!-- GRID - 2 COLUMN - 66%/33% - BEGINS -->
<div class="row evo-row">
	<div class="small-8 columns">Column</div>
	<div class="small-4 columns">Column</div>
</div>
<!-- GRID - 2 COLUMN - 66%/33% - ENDS -->