<!-- GRID - 2 COLUMN - 50%/50% - BEGINS -->
<div class="col-24">
	<div class="col-12 first">
		{{ 1 | lorem_ipsum:'p' }}
	</div>
	<div class="col-12">
		{{ 1 | lorem_ipsum:'p' }}
	</div>
</div>
<!-- GRID - 2 COLUMN - 50%/50% - ENDS -->