<!-- GRID - 2 COLUMN - 50%/50% - BEGINS -->
<div class="row evo-row">
	<div class="small-6 columns">Column</div>
	<div class="small-6 columns">Column</div>
</div>
<!-- GRID - 2 COLUMN - 50%/50% - ENDS -->