<!-- TODO: grid-3-col-flow-opposite.liquid :: remove -->
<!-- GRID - 3 COLUMN - COLUMN FLOW OPPOSITE - BEGINS -->
<div class="col-24">
	<div class="col-6 evo-col-flow-opposite">
		<div class="evo-box evo-sidebar-ctn">
			<div class="evo-box-hdr">
				<h5 class="evo-hdr-rule">This column is last in desktop view but first in mobile view.</h5>
			</div>
			<div class="box-bdy">
				{{ 1 | lorem_ipsum:'p' }}
			</div>
		</div>
	</div>
	<div class="col-12 evo-col-flow-opposite">
		<h5>This column is second in desktop view and second in mobile view.</h5>
		{{ 2 | lorem_ipsum:'p' }}
	</div>
	<div class="col-6 first">
		<div class="evo-box evo-sidebar-ctn">
			<div class="evo-box-hdr">
				<h5 class="evo-hdr-rule">This column is first in desktop view but last in mobile view.</h5>
			</div>
			<div class="box-bdy">
				{{ 1 | lorem_ipsum:'p' }}
			</div>
		</div>
	</div>
</div>

<hr />

<div class="col-24">
	<div class="col-6 evo-col-flow-opposite">
		<div class="evo-box evo-sidebar-ctn">
			<div class="evo-box-hdr">
				<h5 class="evo-hdr-rule">This column is last in desktop view but first in mobile view.</h5>
			</div>
			<div class="box-bdy">
				{{ 1 | lorem_ipsum:'p' }}
			</div>
		</div>
	</div>
	<div class="col-6 evo-col-flow-opposite">
		<div class="evo-box evo-sidebar-ctn">
			<div class="evo-box-hdr">
				<h5 class="evo-hdr-rule">This column is second in desktop view and second in mobile view.</h5>
			</div>
			<div class="box-bdy">
				{{ 1 | lorem_ipsum:'p' }}
			</div>
		</div>
	</div>
	<div class="col-12 first">
		<h5>This column is first in desktop view but last in mobile view.</h5>
		{{ 2 | lorem_ipsum:'p' }}
	</div>
</div>

<hr />

<div class="col-24">
	<div class="col-12 evo-col-flow-opposite">
		<h5>This column is last in desktop view but first in mobile view.</h5>
		{{ 2 | lorem_ipsum:'p' }}
	</div>
	<div class="col-6 evo-col-flow-opposite">
		<div class="evo-box evo-sidebar-ctn">
			<div class="evo-box-hdr">
				<h5 class="evo-hdr-rule">This column is second in desktop view and second in mobile view.</h5>
			</div>
			<div class="box-bdy">
				{{ 1 | lorem_ipsum:'p' }}
			</div>
		</div>
	</div>
	<div class="col-6 first">
		<div class="evo-box evo-sidebar-ctn">
			<div class="evo-box-hdr">
				<h5 class="evo-hdr-rule">This column is first in desktop view but last in mobile view.</h5>
			</div>
			<div class="box-bdy">
				{{ 1 | lorem_ipsum:'p' }}
			</div>
		</div>
	</div>
</div>
<!-- GRID - 3 COLUMN - COLUMN FLOW OPPOSITE - ENDS -->