<!-- GRID - 3 COLUMN - 25%/50%/25% - BEGINS -->
<div class="row">
	<div class="small-3 columns">Column</div>
	<div class="small-6 columns">Column</div>
	<div class="small-3 columns">Column</div>
</div>
<!-- GRID - 3 COLUMN - 25%/50%/25% - ENDS -->