<!-- GRID - 3 COLUMN - 33%/33%/33% - BEGINS -->
<div class="col-24">
	<div class="col-8 first">
		{{ 1 | lorem_ipsum:'p' }}
	</div>
	<div class="col-8">
		{{ 1 | lorem_ipsum:'p' }}
	</div>
	<div class="col-8">
		{{ 1 | lorem_ipsum:'p' }}
	</div>
</div>
<!-- GRID - 3 COLUMN - 33%/33%/33% - ENDS -->