<!-- GRID - 3 COLUMN - 25%/50%/25% - BEGINS -->
<div class="col-24">
	<div class="col-6 first">
		{{ 1 | lorem_ipsum:'p' }}
	</div>
	<div class="col-12">
		{{ 1 | lorem_ipsum:'p' }}
	</div>
	<div class="col-6">
		{{ 1 | lorem_ipsum:'p' }}
	</div>
</div>
<!-- GRID - 3 COLUMN - 25%/50%/25% - ENDS -->