<!-- GRID - 2 COLUMN - 66%/33% - BEGINS -->
<div class="col-24">
	<div class="col-16 first">
		{{ 1 | lorem_ipsum:'p' }}
	</div>
	<div class="col-8">
		{{ 1 | lorem_ipsum:'p' }}
	</div>
</div>
<!-- GRID - 2 COLUMN - 66%/33% - ENDS -->