<section class="mul-hero-banner">
	<div class="mul-hero-banner-adjust">
		<div class="mul-hero-banner-content-ctn mul-small-mediaquery-grid">

			<!-- HERO BANNER CONTENT - BEGINS -->
			<div class="mul-hero-banner-content-item" data-palette-color="blue-gray-lightest">
				<div class="mul-hero-banner-content-item-adjust">
					<h1 class="mul-no-padding-bottom">Header 1</h1>
					<h3 class="mul-spacer-margin-bottom-x-large">Subheader</h3>
					<button class="mul-btn mul-btn-medium mul-btn-primary mul-btn-first mul-margin-bottom" id="" name="" value="" type="" tabindex="" title="Primary">Button</button>
				</div>
			</div>
			<!-- HERO BANNER CONTENT - ENDS -->
			
		</div>
	</div>
</section>