<section class="evo-hero-banner evo-hero-banner-full-width">
	<div class="evo-hero-banner-adjust">
		<div class="evo-hero-banner-content-ctn evo-hero-banner-full-width-content-adjust evo-small-mediaquery-grid">

			<!-- HERO BANNER CONTENT CAROUSEL - BEGINS -->
			<div class="evo-carousel" data-carousel="js-evo-carousel-example">
				<div class="evo-carousel-item">
					<div class="evo-box evo-no-margin-bottom evo-layout-hero-banner-background-1-demo">

						<div class="evo-hero-banner-full-width-content-adjust">
							<div class="evo-box">
								<h1>Header 1</h1>
								<h3>Subheader</h3>
								<p>Lorem ipsum Ipsum voluptua in sed ipsum dolore lorem diam gubergren. Illum diam dolore dolor dolor dolores kasd autem. Sit elitr blandit ipsum laoreet sadipscing. Tempor takimata feugait in wisi sanctus placerat mazim accusam. Amet sanctus est qui sea laoreet. Duis invidunt vero duis elitr consetetur sit consetetur elitr delenit vero. Tincidunt volutpat sed sit invidunt lorem sed tincidunt hendrerit ipsum ea.</p>
								<button class="evo-btn evo-btn-medium evo-btn-primary evo-btn-first evo-margin-bottom" id="" name="" value="" type="" tabindex="" title="Primary">Button</button>
							</div>
						</div>

					</div>
				</div>
				<div class="evo-carousel-item">
					<div class="evo-box evo-no-margin-bottom evo-layout-hero-banner-background-2-demo">

						<div class="evo-hero-banner-full-width-content-adjust">
							<div class="evo-box">
								<h1>Header 2</h1>
								<h3>Subheader</h3>
								<p>Lorem ipsum Ipsum voluptua in sed ipsum dolore lorem diam gubergren. Illum diam dolore dolor dolor dolores kasd autem. Sit elitr blandit ipsum laoreet sadipscing. Tempor takimata feugait in wisi sanctus placerat mazim accusam. Amet sanctus est qui sea laoreet. Duis invidunt vero duis elitr consetetur sit consetetur elitr delenit vero. Tincidunt volutpat sed sit invidunt lorem sed tincidunt hendrerit ipsum ea.</p>
								<button class="evo-btn evo-btn-medium evo-btn-primary evo-btn-first evo-margin-bottom" id="" name="" value="" type="" tabindex="" title="Primary">Button</button>
							</div>
						</div>

					</div>
				</div>
				<div class="evo-carousel-item">
					<div class="evo-box evo-no-margin-bottom evo-layout-hero-banner-background-3-demo">

						<div class="evo-hero-banner-full-width-content-adjust">
							<div class="evo-box">
								<h1>Header 3</h1>
								<h3>Subheader</h3>
								<p>Lorem ipsum Ipsum voluptua in sed ipsum dolore lorem diam gubergren. Illum diam dolore dolor dolor dolores kasd autem. Sit elitr blandit ipsum laoreet sadipscing. Tempor takimata feugait in wisi sanctus placerat mazim accusam. Amet sanctus est qui sea laoreet. Duis invidunt vero duis elitr consetetur sit consetetur elitr delenit vero. Tincidunt volutpat sed sit invidunt lorem sed tincidunt hendrerit ipsum ea.</p>
								<button class="evo-btn evo-btn-medium evo-btn-primary evo-btn-first evo-margin-bottom" id="" name="" value="" type="" tabindex="" title="Primary">Button</button>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!-- HERO BANNER CONTENT CAROUSEL - ENDS -->
			
		</div>
	</div>
</section>