<section class="mul-hero-banner">
	<div class="mul-hero-banner-adjust">
		<div class="mul-hero-banner-content-ctn mul-small-mediaquery-grid">

			<!-- HERO BANNER CONTENT CAROUSEL - BEGINS -->
			<div class="mul-carousel" data-carousel="js-mul-carousel-example">
				<div class="mul-carousel-item">

					<!-- IMAGE CONTENT OVERLAY - BEGINS -->
					<div class="mul-image-content-overlay-ctn mul-image-content-overlay-background-image-1 mul-hero-banner-content-item">
						<div class="mul-image-content-overlay-ctn-adjust mul-hero-banner-content-item-adjust">
							<div class="mul-image-content-overlay" data-palette-color="tan-dark" data-palette-border-color="tan-mid">
								<h1>Header 1</h1>
								<h3 class="mul-margin-bottom">Subheader</h3>
								<button class="mul-btn mul-btn-medium mul-btn-primary mul-btn-first mul-margin-bottom" id="" name="" value="" type="" tabindex="" title="Primary">Button</button>
							</div>
						</div>
					</div>
					<!-- IMAGE CONTENT OVERLAY - ENDS -->

				</div>
				<div class="mul-carousel-item">
					
					<!-- IMAGE CONTENT OVERLAY - BEGINS -->
					<div class="mul-image-content-overlay-ctn mul-image-content-overlay-background-image-2 mul-hero-banner-content-item">
						<div class="mul-image-content-overlay-ctn-adjust mul-hero-banner-content-item-adjust">
							<div class="mul-image-content-overlay" data-palette-color="green-darker" data-palette-border-color="green-mid">
								<h1>Header 1</h1>
								<h3 class="mul-margin-bottom">Subheader</h3>
								<button class="mul-btn mul-btn-medium mul-btn-primary mul-btn-first mul-margin-bottom" id="" name="" value="" type="" tabindex="" title="Primary">Button</button>
							</div>
						</div>
					</div>
					<!-- IMAGE CONTENT OVERLAY - ENDS -->

				</div>
				<div class="mul-carousel-item">
					
					<!-- IMAGE CONTENT OVERLAY - BEGINS -->
					<div class="mul-image-content-overlay-ctn mul-image-content-overlay-background-image-3 mul-hero-banner-content-item">
						<div class="mul-image-content-overlay-ctn-adjust mul-hero-banner-content-item-adjust">
							<div class="mul-image-content-overlay" data-palette-color="orange" data-palette-border-color="orange-dark">
								<h1>Header 1</h1>
								<h3 class="mul-margin-bottom">Subheader</h3>
								<button class="mul-btn mul-btn-medium mul-btn-primary mul-btn-first mul-margin-bottom" id="" name="" value="" type="" tabindex="" title="Primary">Button</button>
							</div>
						</div>
					</div>
					<!-- IMAGE CONTENT OVERLAY - ENDS -->

				</div>
			</div>
			<!-- HERO BANNER CONTENT CAROUSEL - ENDS -->
			
		</div>
	</div>
</section>