<section class="mul-hero-banner mul-hero-banner-full-width">
	<div class="mul-hero-banner-adjust">
		<div class="mul-hero-banner-content-ctn mul-small-mediaquery-grid">

			<!-- HERO BANNER IMAGE CAROUSEL - BEGINS -->
			<div class="mul-carousel" data-carousel="js-mul-carousel-example">
				<div class="mul-carousel-item">
					<img src="{{ "carousel_image1.jpg" | asset_url }}" alt="Carousel Image 1" border="0" />
				</div>
				<div class="mul-carousel-item">
					<img src="{{ "carousel_image2.jpg" | asset_url }}" alt="Carousel Image 2" border="0" />
				</div>
				<div class="mul-carousel-item">
					<img src="{{ "carousel_image3.jpg" | asset_url }}" alt="Carousel Image 3" border="0" />
				</div>
			</div>
			<!-- HERO BANNER IMAGE CAROUSEL - ENDS -->
			
		</div>
	</div>
</section>