<section class="evo-hero-banner">
	<div class="evo-hero-banner-adjust">
		<div class="evo-hero-banner-content-ctn evo-small-mediaquery-grid">

			<!-- HERO BANNER CONTENT - BEGINS -->

				<!-- IMAGE CONTENT OVERLAY - BEGINS -->
				<div class="evo-image-content-overlay-ctn evo-image-content-overlay-background-image evo-hero-banner-content-item">
					<div class="evo-image-content-overlay-ctn-adjust evo-hero-banner-content-item-adjust">
						<div class="evo-image-content-overlay" data-palette-color="tan-dark" data-palette-border-color="tan-mid">
							<h1>Header 1</h1>
							<h3 class="evo-margin-bottom">Subheader</h3>
							<button class="evo-btn evo-btn-medium evo-btn-primary evo-btn-first evo-margin-bottom" id="" name="" value="" type="" tabindex="" title="Primary">Button</button>
						</div>
					</div>
				</div>
				<!-- IMAGE CONTENT OVERLAY - ENDS -->
				
			<!-- HERO BANNER CONTENT - ENDS -->
			
		</div>
	</div>
</section>