<section class="mul-hero-banner">
	<div class="mul-hero-banner-adjust">
		<div class="mul-hero-banner-content-ctn mul-small-mediaquery-grid">

			<!-- HERO BANNER IMAGE CAROUSEL - BEGINS -->
			{% include '/objects/carousel' %}
			<!-- HERO BANNER IMAGE CAROUSEL - ENDS -->
			
		</div>
	</div>
</section>