<section class="mul-hero-banner">
	<div class="mul-hero-banner-adjust">
		<div class="mul-hero-banner-content-ctn mul-small-mediaquery-grid">

			<!-- HERO BANNER CONTENT - BEGINS -->

				<!-- IMAGE CONTENT OVERLAY - BEGINS -->
				<div class="mul-image-content-overlay-ctn mul-image-content-overlay-background-image mul-hero-banner-content-item">
					<div class="mul-image-content-overlay-ctn-adjust mul-hero-banner-content-item-adjust">
						<div class="mul-image-content-overlay" data-palette-color="tan-dark" data-palette-border-color="tan-mid">
							<h1>Header 1</h1>
							<h3 class="mul-margin-bottom">Subheader</h3>
							<button class="mul-btn mul-btn-medium mul-btn-primary mul-btn-first mul-margin-bottom" id="" name="" value="" type="" tabindex="" title="Primary">Button</button>
						</div>
					</div>
				</div>
				<!-- IMAGE CONTENT OVERLAY - ENDS -->
				
			<!-- HERO BANNER CONTENT - ENDS -->
			
		</div>
	</div>
</section>