<section class="mul-hero-banner mul-hero-banner-full-width">
	<div class="mul-hero-banner-adjust">
		<div class="mul-hero-banner-content-ctn mul-hero-banner-full-width-content-adjust mul-small-mediaquery-grid">

			<!-- HERO BANNER CONTENT CAROUSEL - BEGINS -->
			<div class="mul-carousel" data-carousel="js-mul-carousel-example">
				<div class="mul-carousel-item">
					<div class="mul-box mul-no-margin-bottom mul-layout-hero-banner-background-1-demo">

						<div class="mul-hero-banner-full-width-content-adjust">
							<div class="mul-box">
								<h1 class="mul-no-padding-bottom">Header 1</h1>
								<h3 class="mul-spacer-margin-bottom-x-large">Subheader</h3>
								<button class="mul-btn mul-btn-medium mul-btn-primary mul-btn-first mul-margin-bottom" id="" name="" value="" type="" tabindex="" title="Primary">Button</button>
							</div>
						</div>

					</div>
				</div>
				<div class="mul-carousel-item">
					<div class="mul-box mul-no-margin-bottom mul-layout-hero-banner-background-2-demo">

						<div class="mul-hero-banner-full-width-content-adjust">
							<div class="mul-box">
								<h1 class="mul-no-padding-bottom">Header 2</h1>
								<h3 class="mul-spacer-margin-bottom-x-large">Subheader</h3>
								<button class="mul-btn mul-btn-medium mul-btn-primary mul-btn-first mul-margin-bottom" id="" name="" value="" type="" tabindex="" title="Primary">Button</button>
							</div>
						</div>

					</div>
				</div>
				<div class="mul-carousel-item">
					<div class="mul-box mul-no-margin-bottom mul-layout-hero-banner-background-3-demo">

						<div class="mul-hero-banner-full-width-content-adjust">
							<div class="mul-box">
								<h1 class="mul-no-padding-bottom">Header 3</h1>
								<h3 class="mul-spacer-margin-bottom-x-large">Subheader</h3>
								<button class="mul-btn mul-btn-medium mul-btn-primary mul-btn-first mul-margin-bottom" id="" name="" value="" type="" tabindex="" title="Primary">Button</button>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!-- HERO BANNER CONTENT CAROUSEL - ENDS -->
			
		</div>
	</div>
</section>