<section class="evo-hero-banner evo-hero-banner-full-width">
	<div class="evo-hero-banner-adjust">
		<div class="evo-hero-banner-content-ctn evo-small-mediaquery-grid">

			<!-- HERO BANNER IMAGE CAROUSEL - BEGINS -->
			{% include '/objects/carousel' %}
			<!-- HERO BANNER IMAGE CAROUSEL - ENDS -->
			
		</div>
	</div>
</section>