<section class="evo-hero-banner">
	<div class="evo-hero-banner-adjust">
		<div class="evo-hero-banner-content-ctn evo-small-mediaquery-grid">

			<!-- HERO BANNER IMAGE - BEGINS -->
			<img src="{{ "carousel_image1.jpg" | asset_url }}" alt="Hero Image" width="2500" height="430" border="0" />
			<!-- HERO BANNER IMAGE - ENDS -->
			
		</div>
	</div>
</section>