			<div class="col-6 mul-profile-menu-ctn mul-profile-simple-ctn mul-hidden-small-mediaquery">
				<ul class="col-24 mul-horizontal-list">
					<li class="col-17 first">
						<div class="mul-profile-simple-user-name">Arquimedez Pozo</div>
					</li>
					<li class="col-7">
						<a class="mul-profile-simple-logout-link" href="/index">Log Out</a>
					</li>
				</ul>
			</div>