			<div class="col-6 js-evo-profile-menu-display evo-profile-menu-ctn evo-hidden-small-mediaquery">
				<div class="col-24 evo-grid-nomargin evo-profile-menu-user-info-ctn">
					<div class="col-19 first evo-profile-menu-user-info">
						<i class="evo-icon-arrow-right2 evo-profile-menu-icon"></i>
						<i class="evo-icon-arrow-down2 evo-profile-menu-icon"></i>
						<dl>
							<dt class="evo-profile-menu-user-name">Arquimedez Pozo</dt>
							<dd class="evo-profile-menu-user-title">Front-end Web Developer</dd>
						</dl>
					</div>
					<div class="col-5 evo-profile-menu-user-avatar">
						<i class="evo-icon-user evo-icon-size-medium evo-center-block" title="Arquimedez Pozo"></i>
					</div>
				</div>
				<div class="col-24 evo-profile-menu">
					<ul class="evo-vertical-list">
						<li><a href="#">View Profile</a></li>
						<li><a href="#">Change Language</a></li>
						<li><a href="#">User Administration</a></li>
						<li><a class="last-child" href="/index">Log Out</a></li>
					</ul>
				</div>
			</div>