			<div class="col-6 js-mul-profile-menu-display mul-profile-menu-ctn mul-hidden-small-mediaquery">
				<div class="col-24 mul-grid-nomargin mul-profile-menu-user-info-ctn">
					<div class="col-19 first mul-profile-menu-user-info">
						<i class="mul-icon-arrow-right2 mul-profile-menu-icon"></i>
						<i class="mul-icon-arrow-down2 mul-profile-menu-icon"></i>
						<dl>
							<dt class="mul-profile-menu-user-name">Arquimedez Pozo</dt>
							<dd class="mul-profile-menu-user-title">Front-end Web Developer</dd>
						</dl>
					</div>
					<div class="col-5 mul-profile-menu-user-avatar">
						<i class="mul-icon-user mul-icon-size-medium mul-center-block" title="Arquimedez Pozo"></i>
					</div>
				</div>
				<div class="col-24 mul-profile-menu">
					<ul class="mul-vertical-list">
						<li><a href="#">View Profile</a></li>
						<li><a href="#">Change Language</a></li>
						<li><a href="#">User Administration</a></li>
						<li><a class="last-child" href="/index">Log Out</a></li>
					</ul>
				</div>
			</div>