<!-- ALTERNATE VIEWS BADGE - BEGINS -->
<div class="evo-alternate-views-badge evo-alternate-views-badge-full" data-alternate-views-badge="js-evo-alternate-views-badge-full-example">

	<section class="banding-section-1" data-palette-color="">
		<div class="banding-ctn">

			<section class="col-24">
				<div class="col-4 first">
					<i class="evo-icon-evo-renewal evo-icon-size-x-large evo-icon-style-shadow evo-icon"></i>
				</div>
				<div class="col-20">
					<h1>Mercer Evolution.</h1>
					<h3>Interactive standards for a new age of digital design.</h3>
				</div>
			</section>

			<section class="col-24">
				<ul class="evo-btn-group-horizontal">
					<li class="evo-btn">
						<a href="#alternate-views-badge-1"> <i class="evo-icon-grid evo-icon-position-left" title="Grid View"></i>
							<span>Overview</span>
						</a>
					</li>
						<li class="evo-btn">
						<a href="#alternate-views-badge-2"> <i class="evo-icon-evo-book-open evo-icon-position-left" title="Savings View"></i>
							<span>Library</span>
						</a>
					</li>
				</ul>
			</section>

		</div>
	</section>

	<div id="alternate-views-badge-1">

		<section class="banding-section-2" data-palette-color="gray-lighter">
			<div class="banding-ctn">
				<h1>What is Evolution?</h1>
				<div class="col-8 first">
					<i class="evo-icon-map evo-icon-size-x-large evo-icon-style-shadow evo-icon-position-top"></i>									
					<h3>A Style Guide</h3>
					<p>that presents an interactive view of our visual standards in a manner that doesn't grow stale, but is frequently updated.</p>
				</div>
				<div class="col-8">
					<i class="evo-icon-evo-book-open evo-icon-size-x-large evo-icon-style-shadow evo-icon-position-top"></i>					
					<h3>A Library</h3>
					<p>of common UI components and UX patterns that can be easily re-used across projects.</p>
				</div>
				<div class="col-8">
					<i class="evo-icon-cog evo-icon-size-x-large evo-icon-style-shadow evo-icon-position-top"></i>						
					<h3>A Framework</h3>
					<p>that can be layered on top of each project to provide quick, easy access to all Evolution components.</p>
				</div>
			</div>
		</section>

		<section class="banding-section-3" data-palette-color="white">
			<div class="text-center banding-ctn">
				<div class="col-24 evo-small-mediaquery-grid">

					<div class="col-4 first">&nbsp;</div>
					<div class="col-16">
						<h1>Built on the Pillars of the Internet</h1>
						<p class="evo-spacer-margin-bottom-xx-large">
							As a UI framework, Evolution is technology agnostic. It has recently been used on Mercer projects
							using diverse technologies like Durandal, AngularJS, DNN, .Net, JSP and Adobe CQ.
						</p>						
					</div>
					<div class="col-4">&nbsp;</div>


					<div class="col-6 first">
						<i class="evo-icon-css3 evo-icon-size-x-large evo-icon-style-shadow evo-icon-position-top"></i>
						<h3 class="evo-spacer-padding-top-medium">CSS</h3>
					</div>
					<div class="col-6">
						<i class="evo-icon-html5 evo-icon-size-x-large evo-icon-style-shadow evo-icon-position-top"></i>
						<h3 class="evo-spacer-padding-top-medium">HTML</h3>
					</div>
					<div class="col-6 mb-split">
						<i class="evo-icon-puzzle evo-icon-size-x-large evo-icon-style-shadow evo-icon-position-top"></i>
						<h3 class="evo-spacer-padding-top-medium">JavaScript</h3>
					</div>
					<div class="col-6">
						<i class="evo-icon-tools evo-icon-size-x-large evo-icon-style-shadow evo-icon-position-top"></i>
						<h3 class="evo-spacer-padding-top-medium">jQuery</h3>
					</div>
				</div>
			</div>
		</section>

		<section class="banding-section-4" data-palette-color="gray-light">
			<div class="banding-ctn">
				<div class="col-24">
					<h1 class="text-center evo-spacer-margin-bottom-large">Evolution Makes Product Design Easier</h1>

					<section class="col-24">						
						<div class="col-12 first">
						<!-- VERTICAL LISTS - LINKS - BEGINS -->
							<ul class="evo-vertical-list">
								<li class="evo-spacer-margin-bottom-xx-large">
									<i class="evo-icon-evo-renewal evo-icon-size-large evo-icon-style-shadow left evo-spacer-margin-right-large"></i>
									<h4>Re-usability</h4>
									The common UX patterns and UI components included in Evolution can be re-used across projects.
								</li>
								<li class="evo-spacer-margin-bottom-xx-large">
									<i class="evo-icon-checkmark evo-icon-size-large evo-icon-style-shadow left evo-spacer-margin-right-large"></i>
									<h4>Consistency</h4>
									Projects built using Evolution deliver a common user experience and the ability to have a consistent UI across products.
								</li>
							</ul>
						<!-- VERTICAL LISTS - LINKS - ENDS -->
						</div>
						<div class="col-12">
						<!-- VERTICAL LISTS - LINKS - BEGINS -->
							<ul class="evo-vertical-list">
								<li class="evo-spacer-margin-bottom-xx-large">
									<i class="evo-icon-clock evo-icon-size-large evo-icon-style-shadow left evo-spacer-margin-right-large"></i>
									<h4>Time Savings</h4>
									Starting from a common baseline saves time across the facets of UI design: prototyping, visual design and UI development.
								</li>
								<li>
									<i class="evo-icon-evo-dollar-sign evo-icon-size-large evo-icon-style-shadow left evo-spacer-margin-right-large"></i>
									<h4>Cost Savings</h4>
									Project delivery is cheaper thanks to the re-use of components and patterns that have already been tested across browsers.
								</li>
							</ul>
						<!-- VERTICAL LISTS - LINKS - ENDS -->
						</div>
					</section>
						
					<section class="col-24">					
						<div class="col-4 first">&nbsp;</div>
						<div class="col-16">
						<!-- VERTICAL LISTS - LINKS - BEGINS -->
							<ul class="evo-vertical-list">
								<li class="evo-spacer-margin-bottom-xx-large">
									<i class="evo-icon-mobile evo-icon-size-large evo-icon-style-shadow left evo-spacer-margin-right-large"></i>
									<h4>Responsive</h4>
									Evolution components are responsive out of the box, giving you default coverage for product delivery across mulitple devices.
								</li>
							</ul>
						<!-- VERTICAL LISTS - LINKS - ENDS -->
						</div>
						<div class="col-4">&nbsp;</div>
					</section>

				</div>
			</div>
		</section>

		<section class="banding-section-5" data-palette-color="white">
			<div class="banding-ctn">
				<div class="col-24 evo-small-mediaquery-grid">
					<h1>Recent Projects Built Using Evolution</h1>
					<p class="evo-spacer-margin-bottom-x-large">The Evolution UI framework has provided the foundation for many Mercer projects over the past year, including:</p>

					<ul class="evo-horizontal-list">
						<li>GBM Analytics</li>
						<li>Mercer Worklife</li>
						<li>APAC EH&amp;B Portals</li>
					</ul>
					<ul class="evo-horizontal-list">
						<li>UK Local Broker</li>
						<li>Proliability</li>
						<li>ESR Reporting</li>
						<li>Transition Assist</li>
					</ul>
					<ul class="evo-horizontal-list">
						<li>Benefits Hub</li>
						<li>IPA eElect Portal</li>
						<li>Pension Exchange</li>
					</ul>
				</div>
			</div>
		</section>

	</div>
	<div id="alternate-views-badge-2">
		<section class="banding-section-6" data-palette-color="white">
			<div class="banding-ctn">
				<div class="col-24 hp-layout">
					<div class="col-8 first">
						{% for item in global.table-of-contents limit:2 %}
							{% include "/reference/toc-nav" %}
						{% endfor %}
					</div>
					<div class="col-8">
						{% for item in global.table-of-contents offset:2 limit:3 %}
							{% include "/reference/toc-nav" %}
						{% endfor %}
					</div>
					<div class="col-8">
						{% for item in global.table-of-contents offset:5 %}
							{% include "/reference/toc-nav" %}
						{% endfor %}
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
<!-- ALTERNATE VIEWS BADGE - ENDS -->