{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}

<!-- PAGE TITLE - BEGINS -->
	<h1>{{ model.title }}</h1>
<!-- PAGE TITLE - ENDS -->

<!-- CONTENT SECTION - BEGINS -->
	<section class="col-24">
		
		<h3>Evolution Release 2.4</h3>
		
		<h5>Bug</h5>
		<ul>
			<li>
				<a href='http://jira.mercer.com/browse/UI-6558'>UI-6558</a> Change Tile Background Color
			</li>
		</ul>

		<h5>Content</h5>
		<ul>
			<li>
				<a href='http://jira.mercer.com/browse/UI-6379'>UI-6379</a> Documentation: Browser Support
			</li>
			<li>
				<a href='http://jira.mercer.com/browse/UI-6446'>UI-6446</a> Content Modal: Add content to &quot;mobile&quot; tab
			</li>
			<li>
				<a href='http://jira.mercer.com/browse/UI-6440'>UI-6440</a> Buttons: Add Content to Mobile Tab
			</li>
			<li>
				<a href='http://jira.mercer.com/browse/UI-6444'>UI-6444</a> Loading Animation: Add Content to Mobile Tab
			</li>
			<li>
				<a href='http://jira.mercer.com/browse/UI-6445'>UI-6445</a> Modal: Add Content to &quot;mobile&quot; tab
			</li>
			<li>
				<a href='http://jira.mercer.com/browse/UI-6447'>UI-6447</a> Data Lists: Add content to &quot;Details&quot; tab
			</li>
			<li>
				<a href='http://jira.mercer.com/browse/UI-6448'>UI-6448</a> Selected Checkbox: Add content to &quot;mobile&quot; tab
			</li>
			<li>
				<a href='http://jira.mercer.com/browse/UI-6467'>UI-6467</a> Content: Add the Overview Text and Tab Content for &quot;Employee Portal Inner Page&quot;
			</li>
			<li>
				<a href='http://jira.mercer.com/browse/UI-6453'>UI-6453</a> Total Row: Add/Edit Content
			</li>
			<li>
				<a href='http://jira.mercer.com/browse/UI-6458'>UI-6458</a> Tile Container: Add Content
			</li>
		</ul>

		<h5>Enhancement</h5>
		<ul>
			<li>
				<a href='http://jira.mercer.com/browse/UI-6465'>UI-6465</a> Enhancement: Scroll Pane Replacement
			</li>
			<li>
				<a href='http://jira.mercer.com/browse/UI-6544'>UI-6544</a> Enhancement: Add new green to green color palette
			</li>
		</ul>

		<h5>New Feature</h5>
		<ul>
			<li>
				<a href='http://jira.mercer.com/browse/UI-6157'>UI-6157</a> New Feature: Primary Summary Container
			</li>
			<li>
				<a href='http://jira.mercer.com/browse/UI-6161'>UI-6161</a> New Feature: Secondary Summary Container
			</li>
			<li>
				<a href='http://jira.mercer.com/browse/UI-6174'>UI-6174</a> New Feature: Stepper - Horizontal
			</li>
			<li>
				<a href='http://jira.mercer.com/browse/UI-6179'>UI-6179</a> New Feature: Stepper - Vertical
			</li>
			<li>
				<a href='http://jira.mercer.com/browse/UI-6478'>UI-6478</a> New Feature: Highlight Container
			</li>
		</ul>

		<hr />

		<h3>Evolution Release 2.3 (Internal Release)</h3>

		<ul>
			<li>
				Flash of Content bug with Tabbed based content on Library site
			</li>
			<li>Primary Summary Container</li>
			<li>Secondary Summary Container</li>
			<li>Mobile Response for Tooltip</li>
			<li>Narrative: Why Icon Fonts?</li>
			<li>Product Header w/Sliding Navigation</li>
			<li>Cheat Sheets (CSS/HTML/JS)</li>
			<li>Refactor mini filter to use new DD DT lists</li>
			<li>Dust off the button sizes in css</li>
			<li>
				Enhancement: Form Error Handling Styles for Non-required forms elements
			</li>
			<li>Simple &quot;User Profile Menu&quot; for Header</li>
			<li>
				Reevaluate ScrollPane JS and functionality as its a bad experience for mobile
			</li>
			<li>Create New Layouts for Log In</li>
		</ul>

		<hr />

		<h3>Evolution Release 2.2</h3>

		<ul>
			<li>Evolution 2.2 was release on Monday, February 17</li>
			<li>
				The main focus of the release was responsive optimization of the individual components for mobile
			</li>
			<li>
				There were also a handful of new components and new page layouts added
			</li>
			<li>
				The specific additions/modifications were broken out into the following categories:
			</li>
		</ul>

		<h5>Content</h5>
		<ul>
			<li>Add "Usage" and "Details" Content for Interactive Data Table</li>
			<li>Content: Why Icon Fonts?</li>
			<li>Create Narrative: Responsive Aspects of the Library</li>
			<li>
				Missing Mobile Tab and Content for Messaging Containers in UX/UI Evolution Library
			</li>
			<li>Missing Content for Data Lists in UX/UI Evolution Library</li>
			<li>Add Content for "Mobile" Tab for the Tab Control</li>
		</ul>

		<h5>General Improvements</h5>
		<ul>
			<li>
				Content Modal Fix - affix content modal to top of page and move close icon
			</li>
			<li>Content Modal Cleanup</li>
			<li>
				Content Modal Fix - create a content modal tabs class and universal JS call
			</li>
			<li>
				Content Modal Enhancement - Scroll to Top when clicking tab nav
			</li>
			<li>Content Modal needs theme variables</li>
			<li>Modify Example of Field Specific Error</li>
			<li>
				Increase Padding Between Items in Mobile Version of Selected Checkbox
			</li>
			<li>Global Core JS Function Wrapping</li>
			<li>Modify Content in Example of Short Content Modal</li>
			<li>Theming Model for Evolution</li>
		</ul>

		<h5>Icons/Images</h5>
		<ul>
			<li>
				Create Visual Indicator for Each Library Component that Denotes "Responsive"
			</li>
			<li>Create Country Flag Icons for All Countries</li>
			<li>Finish Font Icon Data Table for Expanded Set</li>
			<li>Apply Icon font to components that use graphic based icons</li>
			<li>
				Cleanup graphic icons, remove duplicates that exist in icon font, create helper classes for remaining image based icons
			</li>
			<li>Create 3-4 Examples of Log In Background Images</li>
			<li>Add Corporate Logos to "Corporate Logos" Page</li>
		</ul>

		<h5>Library Organization</h5>
		<ul>
			<li>Remove "Display of Read Only Data" From Library Index</li>
			<li>Create a Standard Response for Non-Responsive Items</li>
			<li>Update and add Get Code to site</li>
			<li>
				Combine "Product Header" and "Main Navigation" Into Single Page
			</li>
			<li>
				Convert Library Header Back to Product Header With Static Navigation
			</li>
			<li>Remove the User Profile Widget from the Library Header</li>
		</ul>

		<h5>Mobile Responsiveness</h5>
		<ul>
			<li>Responsive-based Header and Footer</li>
			<li>Adjust Typography for Phones</li>
			<li>Mobile UX Review: On Screen Mini Filter</li>
			<li>Mobile UX Review: Static Data Table</li>
			<li>Mobile UX Review: Interactive Data Table</li>
			<li>Mobile UX Review: Entity Profile Containers</li>
			<li>Mobile UX Review: Support Container</li>
			<li>Mobile UX Review: Sidebar Container</li>
			<li>Mobile UX Review: Inline Search Container</li>
			<li>Mobile UX Review: Field Specific Error Messaging</li>
			<li>Mobile UX Review: Calendar Date Range</li>
			<li>Mobile UX Review: Message Containers</li>
			<li>UI-6114 Responsive Version of Inline Form</li>
			<li>UI-6114 Responsive Version of Stack Form</li>
			<li>
				Review the Responsive Versions of the Entity Profile Container
			</li>
			<li>Optimize the Evolution Home Page for Smartphone</li>
			<li>Mobile: Convert Main Navigation</li>
			<li>
				Add/Tweak Content for "Mobile" Tab for Calendar and Calendar Date Picker Controls
			</li>
			<li>Add Content for "Mobile" tab for Scroll Pane</li>
			<li>Add Content to "Mobile" Tab for Message Containers</li>
			<li>Add Content for "Mobile" tab for Stacked Form</li>
			<li>Add Content to "Mobile" Tab for Inline Form</li>
			<li>UI-6292 UI Dev for Mobile Version of Entity Profiles</li>
			<li>Responsive Version of Buttons</li>
			<li>Look at Ways to Handle Tabs via Smartphone</li>
			<li>Responsive Testing for Forms</li>
			<li>Responsive Modal Window</li>
		</ul>

		<h5>New Components</h5>
		<ul>
			<li>UI-6304 Visual Comp: Tile Container</li>
			<li>UI-6161 Update Prototype for Secondary Summary</li>
			<li>UI-6304 Add to "Tile Container" to Prototype Library</li>
			<li>UI-6304 UI Development for Home Page Tile</li>
			<li>UI-6321 Visual Comp for Employee Portal Product Header</li>
			<li>UI-6321 UI Development for Employee Portal Product Header</li>
			<li>Add New Item: Employee Portal Product Header</li>
			<li>UI-6318 UI Development of Fat Footer</li>
			<li>Add Item: Fat Footer</li>
			<li>Add New Page Layout: Employee Portal Home Page</li>
			<li>Add Element: Home Page Tile Container</li>
			<li>Add Log In Page Example</li>
		</ul>

		<hr />

		<h3>Previous Changes</h3>

		<h5>August 6, 2013 - Matt</h5>
		<ul>
			<li>Ported library site over to use Mixture</li>
			<li>Added jScrollPane component sass and added sass vars</li>
		</ul>

		<h5>August 2, 2013 - Matt</h5>
		<ul>
			<li>
				Added styles for Calendar Date Range component, cleaned up vars
			</li>
			<li>Added jScrollPane functionality to Dialog/Modal window</li>
		</ul>

		<h5>July 18, 2013 - Matt</h5>
		<ul>
			<li>Added font-face mixin to base mixins</li>
			<li>Added Proxima Nova Fonts to fonts directory of library</li>
			<li>
				Integrated Proxima Nova fonts into library so we don't have to use TypeKit
			</li>
			<li>Added styles for Calendar component, cleaned up vars</li>
			<li>Added styles for Dialog/Modal component, cleaned up vars</li>
			<li>Added Google Prettify styles for code syntax highlighting</li>
		</ul>

		<h5>July 15, 2013 - Matt</h5>
		<ul>
			<li>Added styles for code syntax examples in dev/tools.scss.</li>
		</ul>

		<h5>July 11, 2013 - Matt</h5>
		<ul>
			<li>
				Cleaned up HTML and created core variables for tab set component.
			</li>
			<li>
				Removed "ui" from the beginning of core component sass partials.
			</li>
		</ul>

		<h5>July 8, 2013 - Matt</h5>
		<ul>
			<li>Added "loading" state to core button</li>
			<li>
				Cleaned up HTML and created core variables for on-screen mini filter module
			</li>
			<li>
				Cleaned up base variables in variables.scss to be in the order called in core.scss
			</li>
		</ul>

		<h5>July 3, 2013 - Matt</h5>
		<ul>
			<li>Added a media query SASS mixin to base mixins</li>
			<li>Added a text-size-adjust SASS mixin to base mixins</li>
			<li>
				Cleaned up header comments in every core v1 file, and made most comments into SASS comments so they don't show up in rendered CSS
			</li>
		</ul>
		
		<h5>July 1, 2013 - Doug</h5>
		<ul>
			<li>Move mixins, functions and variables to base folder</li>
			<li>Added a folder for dev/debug tools</li>
			<li>
				Moved responsive and IE8 &amp; 9 SASS files to there specific files rather than being broken out in there own files.
			</li>
			<li>Created the change log page</li>
			<li>Renamed the project from "uxui_library" to "library"</li>
		</ul>

	</section>
<!-- CONTENT SECTION - ENDS -->

{% endblock %}