{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}
<div class="col-24">

	<h1 class="mul-hdr-rule">{{ model.title }}</h1>

	<div class="col-16 first">
		
		<p>In order to stay consistent with the Mercer brand, we've come up with stylistic guidelines for specific written web/application elements. The Copy/Text Style Guide will supplement the &quot;visual style guide" created by this library. The rules described below apply to all web/application assets addressed within the library.</p>
		
		<h4>Writing for the Web</h4>
		<ul>
			<li>Keep  writing short and concise. This makes it easier for users to read and digest.</li>
			<li>Talk to the reader. You want to engage in a dialog with your audience to keep them engaged. Use the pronoun, "you" whenever possible. Ex: "Your Tasks" is more reader friendly than "My Tasks." </li>
			<li>Avoid jargon and stick to general language when possible.</li>
			<li>Organize information using a hierarchy: important information first, supporting details should follow.</li>
			<li>Use one space in-between sentences to  maximize page space.</li>
			<li>Use graphics sparingly, but maximize the ones  you use in quality and style.</li>
		
		</ul>
		<h4>Links</h4>
		 <ul>
			<li>Links should not be pointed out. EX: &ldquo;<a href="#">Click Here</a>&rdquo;</li>
			<li>Craft links so they are natural and active and in context with the site content. </li>
			<li>Avoid directing readers to links on the page. EX: Don't write "For further reading, check out the links to the right." Because our grid systems are fluid, they will adapt to user devices. The links might not always be located where you originally described. </li>
			<li>Keep link text short, no more than eight words. Four to eight is a good rule of thumb. "<a href="#">Complete Your Statement of Health</a>"</li>
		</ul>
		<h4>Numbers</h4>
		<ul>
			<li>Spell  out numbers 1-9. Ex: one, two, three</li>
			<li>Spell  out numbers when they begin the sentence unless it&rsquo;s a year. Ex: Forty-five  minutes is a long time. 2013 was an interesting year.</li>
			<li>For  seven-digit numbers and greater, list numerals with the number term (e.g., 5  million, 9 billion).</li>
			<li>Spell  our fractions, unless they are mixed fractions. Ex: one-half cup, 1 &frac12; cups</li>
			<li>For  ordinal numbers, spell out first through ninth and use figures for 10th and  above. Ex: second base, 10th mistake in a row. NOTE: ordinal numbers indicating  political or geographic order should be in numeral form. Ex: 3rd District  Court, 9th Ward.</li>
			<li>For money, use numerals. For cents or amounts of $1 million or more, spell the  words cents, million, billion, etc. Ex: $29.99, $100,500, $12 million, 5 cents.</li>
		</ul>
		<h4>Active vs. Passive Voice</h4>
		<ul>
			<li>Use active voice for  web content</li>
			<li>In  the active voice the subject performs the action. EX: I'm writing this style  guide. Or, I wrote this style guide.</li>
			<li>In the passive voice  the action becomes the subject. EX: This style guide was written by me</li>
		</ul>
		<h4>Headings/Subheads</h4>
		<ul>
			<li>Use  headings and subheads to break up content into sizeable chunks. </li>
			<li>Use short headings as they are  easy to scan.</li>
			<li>Headings should match  navigation. </li>
			<li>Use headers to clearly describe the content in each paragraph.</li>
		</ul>
		<h4>Titles</h4>
		<ul>
			<li>Use active voices for titles</li>
			<li>Titles  should match  navigation </li>
		</ul>
		<h4>Bold/Italics/Underlining</h4>
		<ul>
			<li>Don't underline text. This will confuse readers with links.</li>
			<li>Use italics sparingly. Italicized text isn't the easiest to read on the web.</li>
			<li>Use bold sparingly as well. You should use bold for:
				<ul>
					<li>Headings</li>
					<li>Subheads</li>
					<li>To emphasize specific words.</li>
				</ul>
			</li>
		</ul>
		<h4>Title Case</h4>
		<ul>
			<li>Use Title Case for labels on table and forms. EX: Previous Employment </li>               
			<li>Don't capitalize prepositions on labels. EX: Date of Birth</li>
		</ul>
		<h4>Interesting Links</h4>	
		<ul>
			<li><a href="http://www.nngroup.com/articles/passive-voice-is-redeemed-for-web/" target="_blank">http://www.nngroup.com/articles/passive-voice-is-redeemed-for-web/</a></li>
			<li><a href="http://www.lse.ac.uk/intranet/staff/webSupport/guides/archivedWebeditorsHandbook/bestPracticeGuide/editorialWriting/writingForTheWeb.htm" target="_blank">http://www.lse.ac.uk/intranet/staff/webSupport/guides/archivedWebeditorsHandbook/bestPracticeGuide/editorialWriting/writingForTheWeb.htm</a></li>
			<li><a href="https://owl.english.purdue.edu/owl/resource/735/02/" target="_blank">https://owl.english.purdue.edu/owl/resource/735/02/</a> 
		</ul>
				
	</div>
	<div class="col-8">

		<!--
		<div class="mul-box mul-sidebar-ctn">
			<div class="mul-box-hdr">
				<h3 class="mul-hdr-rule">Sidebar</h3>
			</div>
			<div class="box-bdy">
			
			</div>
		</div>
		-->
		
	</div>
</div>
{% endblock %}