{% layout "layout-dev-sandbox" %}
{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}

<!-- PAGE TITLE - BEGINS -->
	<h1>{{ model.title }}</h1>
<!-- PAGE TITLE - ENDS -->

<!-- EXAMPLE SECTION - BEGINS -->
	<section class="col-24 evo-ref-example">


	<!-- EXAMPLE SECTION - HEADER - BEGINS -->
		<h4 class="evo-hdr-dbl-rule evo-ref-example-hdr">jQuery UI Components</h4>
	<!-- EXAMPLE SECTION - HEADER - ENDS -->

	<!-- EXAMPLE SECTION - CONTENT - BEGINS -->
		<section class="evo-ref-example-content">

			<div class="col-24">
				<div class="col-12 first">

				<!-- EXAMPLE SECTION - BOX - BEGINS -->
					<div class="evo-box evo-box-rnd evo-ref-example-box">

						<h5 class="evo-hdr-rule">Tabs</h5>

					<!-- JQUERY UI TABS - EXAMPLE - BEGINS -->
						{% include '/objects/tabs' %}
					<!-- JQUERY UI TABS - EXAMPLE - ENDS -->

					</div>
				<!-- EXAMPLE SECTION - BOX - ENDS -->
					
				</div>
				<div class="col-12">

				<!-- EXAMPLE SECTION - BOX - BEGINS -->
					<div class="evo-box evo-box-rnd evo-ref-example-box">

						<h5 class="evo-hdr-rule">Accordion</h5>

					<!-- JQUERY UI ACCORDION - EXAMPLE - BEGINS -->
						{% include '/objects/accordion' %}
					<!-- JQUERY UI ACCORDION - EXAMPLE - ENDS -->

					</div>
				<!-- EXAMPLE SECTION - BOX - ENDS -->
					
				</div>
			</div>

			<div class="col-24">
				<div class="col-12 first">

				<!-- EXAMPLE SECTION - BOX - BEGINS -->
					<div class="evo-box evo-box-rnd evo-ref-example-box">

						<h5 class="evo-hdr-rule">Autocomplete</h5>

					<!-- JQUERY UI AUTOCOMPLETE - EXAMPLE - BEGINS -->
						<form class="evo-form" id="" name="" method="" action="" title="">
							<fieldset>
								<ol>
									{% include "/objects/auto-suggest" %}
								</ol>
							</fieldset>
						</form>
					<!-- JQUERY UI AUTOCOMPLETE - EXAMPLE - ENDS -->

					</div>
				<!-- EXAMPLE SECTION - BOX - ENDS -->
					
				</div>
				<div class="col-12">

				<!-- EXAMPLE SECTION - BOX - BEGINS -->
					<div class="evo-box evo-box-rnd evo-ref-example-box">

						<h5 class="evo-hdr-rule">Datepicker</h5>

					<!-- JQUERY UI DATEPICKER - EXAMPLE - BEGINS -->
						<form class="evo-form evo-form-inline" id="" name="" method="" action="" title="">
							<fieldset>
								<ol>
									<li>{% include '/objects/calendar' %}</li>
								</ol>
							</fieldset>
						</form>
					<!-- JQUERY UI DATEPICKER - EXAMPLE - ENDS -->

					</div>
				<!-- EXAMPLE SECTION - BOX - ENDS -->
					
				</div>
			</div>

			<div class="col-24">
				<div class="col-12 first">

				<!-- EXAMPLE SECTION - BOX - BEGINS -->
					<div class="evo-box evo-box-rnd evo-padding-bottom evo-ref-example-box">

						<h5 class="evo-hdr-rule">Dialog (Modal)</h5>

					<!-- JQUERY UI DIALOG - EXAMPLE - BEGINS -->
						{% include '/objects/modal-auto-scrolling' %}
					<!-- JQUERY UI DIALOG - EXAMPLE - ENDS -->

					</div>
				<!-- EXAMPLE SECTION - BOX - ENDS -->
					
				</div>
				<div class="col-12">

				<!-- EXAMPLE SECTION - BOX - BEGINS -->
					<div class="evo-box evo-box-rnd evo-ref-example-box">

						<h5 class="evo-hdr-rule">Slider</h5>

					<!-- JQUERY UI SLIDER - EXAMPLE - BEGINS -->
						{% include '/objects/slider-horizontal' %}
					<!-- JQUERY UI SLIDER - EXAMPLE - ENDS -->

					</div>
				<!-- EXAMPLE SECTION - BOX - ENDS -->
					
				</div>
			</div>

		</section>
	<!-- EXAMPLE SECTION - CONTENT - ENDS -->


	<!-- EXAMPLE SECTION - HEADER - BEGINS -->
		<h4 class="evo-hdr-dbl-rule evo-ref-example-hdr">jQuery Plugin Components</h4>
	<!-- EXAMPLE SECTION - HEADER - ENDS -->

	<!-- EXAMPLE SECTION - CONTENT - BEGINS -->
		<section class="evo-ref-example-content">

			<div class="col-24">
				<div class="col-8 first">

				<!-- EXAMPLE SECTION - BOX - BEGINS -->
					<div class="evo-box evo-box-rnd evo-ref-example-box">

						<h5 class="evo-hdr-rule">Tooltip - Tooltipster Plugin</h5>

					<!-- TOOLTIP - EXAMPLE - BEGINS -->
						<p>{% include "/objects/tooltip-default" %}</p>	
					<!-- TOOLTIP - EXAMPLE - ENDS -->

					</div>
				<!-- EXAMPLE SECTION - BOX - ENDS -->
					
				</div>
				<div class="col-8">

				<!-- EXAMPLE SECTION - BOX - BEGINS -->
					<div class="evo-box evo-box-rnd evo-padding-bottom evo-ref-example-box">

						<h5 class="evo-hdr-rule">Scroll Pane - mCustomScrollbar Plugin + MouseWheel Plugin</h5>

					<!-- SCROLL PANE - EXAMPLE - BEGINS -->
						{% include '/objects/scroll-pane' %}
					<!-- SCROLL PANE - EXAMPLE - ENDS -->

					</div>
				<!-- EXAMPLE SECTION - BOX - ENDS -->
					
				</div>
				<div class="col-8">

				<!-- EXAMPLE SECTION - BOX - BEGINS -->
					<div class="evo-box evo-box-rnd evo-padding-bottom evo-ref-example-box">

						<h5 class="evo-hdr-rule">Masked Input - jQuery UI Datepicker + Masked Input Plugin</h5>

					<!-- MASKED INPUT - EXAMPLE - BEGINS -->
						<form class="evo-form" id="" name="" method="" action="" title="">
							<fieldset>
								<ol>
									<li>
										<div class="col-24 evo-datepicker-ctn">
											<label for="js-evo-datepicker-example-masked">Date:</label>
											<input class="col-24 evo-datepicker-masked-input" id="js-evo-datepicker-example-masked" name="" value="" type="text" tabindex="" title="Select date." />
										</div>
									</li>
								</ol>
							</fieldset>
						</form>
					<!-- MASKED INPUT - EXAMPLE - ENDS -->

					</div>
				<!-- EXAMPLE SECTION - BOX - ENDS -->
					
				</div>
			</div>

			<div class="col-24">
				<div class="col-24">

				<!-- EXAMPLE SECTION - BOX - BEGINS -->
					<div class="evo-box evo-box-rnd evo-ref-example-box">

						<h5 class="evo-hdr-rule">Interactive Table - Footables Plugin</h5>

					<!-- INTERACTIVE TABLE - EXAMPLE - BEGINS -->
						{% include '/base/tables/table-interactive' %}
					<!-- INTERACTIVE TABLE - EXAMPLE - ENDS -->

					</div>
				<!-- EXAMPLE SECTION - BOX - ENDS -->
					
				</div>
			</div>

			<div class="col-24">
				<div class="col-24">

				<!-- EXAMPLE SECTION - BOX - BEGINS -->
					<div class="evo-box evo-box-rnd evo-ref-example-box">

						<h5 class="evo-hdr-rule">Carousel - Owl Carousel Plugin</h5>

					<!-- CAROUSEL - EXAMPLE - BEGINS -->
						{% include '/objects/carousel' %}
					<!-- CAROUSEL - EXAMPLE - ENDS -->

					</div>
				<!-- EXAMPLE SECTION - BOX - ENDS -->
					
				</div>
			</div>

		</section>
	<!-- EXAMPLE SECTION - CONTENT - ENDS -->


	<!-- EXAMPLE SECTION - HEADER - BEGINS -->
		<h4 class="evo-hdr-dbl-rule evo-ref-example-hdr">Home Grown jQuery Components</h4>
	<!-- EXAMPLE SECTION - HEADER - ENDS -->

	<!-- EXAMPLE SECTION - CONTENT - BEGINS -->
		<section class="evo-ref-example-content">

			<div class="col-24">
				<div class="col-8 first">

				<!-- EXAMPLE SECTION - BOX - BEGINS -->
					<div class="evo-box evo-box-rnd evo-ref-example-box">

						<h5 class="evo-hdr-rule">Numeric Input Mask</h5>

					<!-- NUMERIC INPUT MASK - EXAMPLE - BEGINS -->
						<form class="evo-form" id="" name="" method="" action="" title="">
							<fieldset>
								<ol>
									<li>
										<label for="number">Number Input Type:</label>
										<input class="js-evo-numeric-mask" id="number" name="" value="" type="number" min="" max="" step="" tabindex="" title="Number" placeholder="Enter a number" />
									</li>
								</ol>
							</fieldset>
						</form>
					<!-- NUMERIC INPUT MASK - EXAMPLE - ENDS -->

					</div>
				<!-- EXAMPLE SECTION - BOX - ENDS -->
					
				</div>
				<div class="col-8">

				HELLO WORLD
					
				</div>
				<div class="col-8">

				<!-- EXAMPLE SECTION - BOX - BEGINS -->
					<div class="evo-box evo-box-rnd evo-ref-example-box">

						<h5 class="evo-hdr-rule">Selected Checkbox</h5>

					<!-- SELECTED CHECKBOX - EXAMPLE - BEGINS -->
						{% include '/base/forms/form-selected-checkbox' %}
					<!-- SELECTED CHECKBOX - EXAMPLE - ENDS -->

					</div>
				<!-- EXAMPLE SECTION - BOX - ENDS -->
					
				</div>
			</div>

		</section>
	<!-- EXAMPLE SECTION - CONTENT - ENDS -->


	</section>
<!-- EXAMPLE SECTION - ENDS -->

{% endblock %}