{% block content %}

<!-- HERO IMAGE - BEGINS -->
	<section class="row evo-site-large-hero-ctn evo-site-large-uidev-hero-ctn">
		<div class="large-12 columns">

			<section class="row">
				<div class="large-10 large-centered text-center columns">
					<h1 class="evo-site-large-hero-text">{{ model.title }}</h1>
				</div>
			</section>
			
		</div>
	</section>
<!-- HERO IMAGE - ENDS -->

<!-- UI DEVELOPMENT CONTENT SECTION - BEGINS -->
	<section class="row">
		<div class="large-10 large-centered columns evo-site-component-group-ctn">
			<section class="row" data-equalizer data-equalizer-mq="medium-up">
				<div class="large-3 columns">

				<!-- CORE - BEGINS -->
					<div class="panel evo-box evo-family-categories-ctn evo-no-margin-bottom" data-equalizer-watch>
						<div class="evo-box-circle evo-center-block">
							<i class="evo-icon-site-cog2 evo-icon-size-medium evo-center-block-vertical-element evo-center-block uidev-icon" title="" aria-label=""></i>
						</div>

						<div class="evo-box-hdr">
							<h5>Core</h5>
						</div>
						<div class="evo-box-bdy">
							<ul class="evo-no-margin-bottom">
								<li><a href="">List Items Here</a></li>
								<li><a href="">List Items Here</a></li>
								<li><a href="">List Items Here</a></li>
								<li><a href="">List Items Here</a></li>
								<li><a href="">List Items Here</a></li>
								<li><a href="">List Items Here</a></li>
								<li><a href="">List Items Here</a></li>
								<li><a href="">List Items Here</a></li>
							</ul>
						</div>
					</div>
				<!-- CORE - ENDS -->

				</div>
				<div class="large-3 columns">

				<!-- CORE UI - BEGINS -->
					<div class="panel evo-box evo-family-categories-ctn evo-no-margin-bottom" data-equalizer-watch>
						<div class="evo-box-circle evo-center-block">
							<i class="evo-icon-site-cogs evo-icon-size-medium evo-center-block-vertical-element evo-center-block uidev-icon" title="" aria-label=""></i>
						</div>

						<div class="evo-box-hdr">
							<h5>Core UI</h5>
						</div>
						<div class="evo-box-bdy">
							<ul class="evo-no-margin-bottom">
								<li><a href="">List Items Here</a></li>
								<li><a href="">List Items Here</a></li>
								<li><a href="">List Items Here</a></li>
								<li><a href="">List Items Here</a></li>
								<li><a href="">List Items Here</a></li>
								<li><a href="">List Items Here</a></li>
								<li><a href="">List Items Here</a></li>
								<li><a href="">List Items Here</a></li>
							</ul>
						</div>
					</div>
				<!-- CORE UI - ENDS -->

				</div>
				<div class="large-3 columns">

				<!-- COMPONENTS - BEGINS -->
					<div class="panel evo-box evo-family-categories-ctn evo-no-margin-bottom" data-equalizer-watch>
						<div class="evo-box-circle evo-center-block">
							<i class="evo-icon-site-puzzle evo-icon-size-medium evo-center-block-vertical-element evo-center-block uidev-icon" title="" aria-label=""></i>
						</div>

						<div class="evo-box-hdr">
							<h5>Components</h5>
						</div>
						<div class="evo-box-bdy">
							<ul class="evo-no-margin-bottom">
								<li><a href="">List Items Here With Long Text</a></li>
								<li><a href="">List Items Here</a></li>
								<li><a href="">List Items Here</a></li>
								<li><a href="">List Items Here</a></li>
								<li><a href="">List Items Here</a></li>
								<li><a href="">List Items Here</a></li>
								<li><a href="">List Items Here</a></li>
								<li><a href="">List Items Here</a></li>
							</ul>
						</div>
					</div>
				<!-- COMPONENTS - ENDS -->

				</div>
				<div class="large-3 columns">

				<!-- TEMPLATES - BEGINS -->
					<div class="panel evo-box evo-family-categories-ctn evo-no-margin-bottom" data-equalizer-watch>
						<div class="evo-box-circle evo-center-block">
							<i class="evo-icon-site-insert-template evo-icon-size-medium evo-center-block-vertical-element evo-center-block uidev-icon" title="" aria-label=""></i>
						</div>

						<div class="evo-box-hdr">
							<h5>Templates</h5>
						</div>
						<div class="evo-box-bdy">
							<ul class="evo-no-margin-bottom">
								<li><a href="">List Items Here With Long Text</a></li>
								<li><a href="">List Items Here</a></li>
								<li><a href="">List Items Here</a></li>
								<li><a href="">List Items Here</a></li>
								<li><a href="">List Items Here</a></li>
								<li><a href="">List Items Here</a></li>
								<li><a href="">List Items Here</a></li>
								<li><a href="">List Items Here</a></li>
							</ul>
						</div>
					</div>
				<!-- TEMPLATES - ENDS -->

				</div>
			</section>
			
		</div>
	</section>
<!-- UI DEVELOPMENT CONTENT SECTION - ENDS -->

<!-- DOWNLOAD SECTION - BEGINS -->
	<section class="row" data-equalizer>
		<div class="large-10 large-centered columns evo-site-download-ctn">

			<section class="row">
				<div class="small-12 small-centered columns">

				<!-- UI DEVELOPMENT CORE BOILERPLATE - BEGINS -->
					<div class="panel evo-box">
						<div class="evo-box-bdy">
							<i class="evo-icon-site-file-xml2 evo-icon-size-large evo-center-block uidev-icon" title="" aria-label=""></i>

							<h5>Evolution Core Boilerplate {{ global.version_number }}</h5>

							<p data-equalizer-watch>Download the complete boilerplate of Evolution Core, including step-by-step instructions and set up.</p>

							<a href="#" class="button radius evo-button evo-site-button" data-evo-button-icons="left" id="" role="button" title="Download" aria-label="">
								<i class="evo-icon-download4 evo-icon-position-left" title=""></i>
								<span class="evo-button-text">Download</span>
							</a>
						</div>
					</div>
				<!-- UI DEVELOPMENT CORE BOILERPLATE - ENDS -->

				</div>
			</section>
		</div>
	</section>
<!-- DOWNLOAD SECTION - ENDS -->

{% endblock %}