{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}
<div class="col-24">

	<h1 class="mul-hdr-rule">{{ model.title }}</h1>

	<div class="col-16 first">
		<p>
			Icon fonts are a modern method of using iconography that is more flexible than the traditional approach of using image based icons. Icon fonts allow designers to take advantage of all the benefits of CSS font properties, without sacrificing cross-browser compatibility.
		</p>
		
		<p><a href="/base/icons">View Mercer's Icon Fonts</a></p>
		
		<h4>Benefits of Icon Fonts</h4>
		<p>The following is a list of the benefits of using icon fonts:</p>

		<h5>Scalability.</h5>
		<p>The size of the icons can be changed easily.</p>

		<h5>Aesthetics.</h5>
		<p>Because they are vector based, they appear smooth at any size, even on retina displays.</p>

		<h5>Effects.</h5>
		<p>Because they are vector based, they appear smooth at any size, even on retina displays.</p>
		<ul>
			<li>size</li>
			<li>color</li>
			<li>shadow</li>
			<li>opacity</li>
		</ul>

		<h5>Accessibility.</h5>
		<p>The ability to create ligatures within fonts allows symbols to be represented by text phrases. These phrases will make a lot more sense to those with impaired vision.</p>

		<h5>Compatibility.</h5>
		<p>Icon fonts are compatible with all web browsers.</p>

		<h5>Flexibility.</h5>
		<p>You can create unique icons or use a predetermined set.</p>

		<h5>Efficiency.</h5>
		<ul>
			<li>Only one master file to maintain rather than individual icons.</li>
			<li>Unlike image icons, icon fonts do not require an http request for each icon, and therefore reduce page load times.</li>
		</ul>

	</div>
	<div class="col-8">
			
		<!--
		<div class="mul-box mul-sidebar-ctn">
			<div class="mul-box-hdr">
				<h3 class="mul-hdr-rule">Sidebar</h3>
			</div>
			<div class="box-bdy">

			</div>
		</div>
		-->

	</div>
</div>
{% endblock %}