{% layout "layout-evo-banding" %}
{% block content %}

<div class="row">
	<div class="small-12 columns">
		<a href="/ep/index">Employee Portal Family</a>	
	</div>
</div>

<div class="row">
	<div class="small-4 columns">
		{% for item in global.table-of-contents limit:2 %}
			{% include "/reference/toc-nav" %}
		{% endfor %}
	</div>
	<div class="small-4 columns">
		{% for item in global.table-of-contents offset:2 limit:3 %}
			{% include "/reference/toc-nav" %}
		{% endfor %}
	</div>
	<div class="small-4 columns">
		{% for item in global.table-of-contents offset:5 %}
			{% include "/reference/toc-nav" %}
		{% endfor %}
	</div>
</div>


{% endblock %}