{% layout "layout-evo-banding" %}
{% block content %}

<!-- ALTERNATE VIEWS BADGE - BEGINS -->
<div class="mul-alternate-views-badge mul-alternate-views-badge-full" data-alternate-views-badge="js-mul-alternate-views-badge-full-example">

	<section class="banding-section-1" data-palette-color="">
		<div class="mul-grid">
			<div class="col-24 marketing-ctn mul-small-mediaquery-grid">

				<div class="col-24">				
					<div class="col-7 first img-section">
						<img src="{{ "ux_people.png" | asset_url }}" width="235" height="140" alt="People" title="People" />
					</div>
					<div class="col-17 mkt-text mul-small-mediaquery-grid">
						<h1>Welcome. Let's get started.</h1>
					</div>
				</div>

				<ul class="mul-btn-group-horizontal">
					<li class="mul-btn">
						<a href="#alternate-views-badge-1"> <i class="mul-icon-grid mul-icon-position-left" title="Grid View"></i>
							<span>Overview</span>
						</a>
					</li><!--
					--><li class="mul-btn">
						<a href="#alternate-views-badge-2"> <i class="mul-icon-mul-book-open mul-icon-position-left" title="Savings View"></i>
							<span>Library</span>
						</a>
					</li>
				</ul>

			</div>
		</div>
	</section>

	<div id="alternate-views-badge-1">

		<section class="banding-section-2" data-palette-color="gray-light">
			<div class="mul-grid">
				<div class="col-24 mul-small-mediaquery-grid">

					<h1 class="mul-align-center mul-spacer-margin-bottom-large">What is Evolution?</h1>
					<div class="col-8 first mul-align-center">
						<i class="mul-icon-map mul-icon-size-x-large mul-icon-style-shadow mul-icon-position-top"></i>
						<h3 class="mul-spacer-padding-top-medium">A Style Guide</h3>
						<p>that doesn't grow stale, but remains interaction and updated frequently.</p>
					</div>
					<div class="col-8 mul-align-center">
						<i class="mul-icon-mul-book-open mul-icon-size-x-large mul-icon-style-shadow mul-icon-position-top"></i>
						<h3 class="mul-spacer-padding-top-medium">A Library</h3>
						<p>of common UI components and UX patterns that can be re-used across projects.</p>
					</div>
					<div class="col-8 mul-align-center">
						<i class="mul-icon-cog mul-icon-size-x-large mul-icon-style-shadow mul-icon-position-top"></i>
						<h3 class="mul-spacer-padding-top-medium">A Framework</h3>
						<p>that can be layered on top of each project to provide quick, easy access to all Evolution components.</p>
					</div>

				</div>
			</div>
		</section>

		<section class="banding-section-3" data-palette-color="white">
			<div class="mul-grid mul-align-center">
				<div class="col-24 mul-small-mediaquery-grid">

					<div class="col-2 first">&nbsp;</div>
					<div class="col-20">
						<h1>Built on the Pillars of the Internet</h1>
						<p class="mul-spacer-margin-bottom-xx-large">
							As a UI framework, Evolution is technology agnostic. It has recently been used on Mercer projects
							using diverse technologies like Durandal, AngularJS, DNN, .Net, JSP and Adobe CQ.
						</p>						
					</div>
					<div class="col-2">&nbsp;</div>


					<div class="col-6 first">
						<i class="mul-icon-css3 mul-icon-size-x-large mul-icon-style-shadow mul-icon-position-top"></i>
						<h3 class="mul-spacer-padding-top-medium">CSS</h3>
					</div>
					<div class="col-6">
						<i class="mul-icon-html5 mul-icon-size-x-large mul-icon-style-shadow mul-icon-position-top"></i>
						<h3 class="mul-spacer-padding-top-medium">HTML</h3>
					</div>
					<div class="col-6">
						<i class="mul-icon-puzzle mul-icon-size-x-large mul-icon-style-shadow mul-icon-position-top"></i>
						<h3 class="mul-spacer-padding-top-medium">JavaScript</h3>
					</div>
					<div class="col-6">
						<i class="mul-icon-tools mul-icon-size-x-large mul-icon-style-shadow mul-icon-position-top"></i>
						<h3 class="mul-spacer-padding-top-medium">jQuery</h3>
					</div>
				</div>
			</div>
		</section>

		<section class="banding-section-4" data-palette-color="gray-lighter">
			<div class="mul-grid">
				<div class="col-24 mul-small-mediaquery-grid">
					<h1 class="mul-align-center mul-spacer-margin-bottom-large">Evolution Makes Product Design Easier</h1>
					<div class="col-12 first">
					<!-- VERTICAL LISTS - LINKS - BEGINS -->
						<ul class="mul-vertical-list">
							<li class="mul-spacer-margin-bottom-xx-large">
								<i class="mul-icon-thumbs-up mul-icon-size-large mul-icon-style-shadow mul-float-left mul-spacer-margin-right-large"></i>
								<h4>Re-usability</h4>
								The patterns and components in Evolution can be re-used across projects.
							</li>
							<li class="mul-spacer-margin-bottom-xx-large">
								<i class="mul-icon-file-css mul-icon-size-large mul-icon-style-shadow mul-float-left mul-spacer-margin-right-large"></i>
								<h4>Responsive</h4>
								Evolution components are responsive out of the box, giving you default coverage for product delivery across mulitple devices.
							</li>
							<li class="mul-spacer-margin-bottom-xx-large">
								<i class="mul-icon-checkmark mul-icon-size-large mul-icon-style-shadow mul-float-left mul-spacer-margin-right-large"></i>
								<h4>Brand Consistency</h4>
								Projects built using Evolution deliver a common user experience and the ability to have a common UI across products.
							</li>
							<li class="mul-spacer-margin-bottom-xx-large">
								<i class="mul-icon-clock mul-icon-size-large mul-icon-style-shadow mul-float-left mul-spacer-margin-right-large"></i>
								<h4>Time Savings</h4>
								Starting from a common baseline saves time across the facets of UI design: prototyping, visual design and UI development.
							</li>
							<li>
								<i class="mul-icon-mul-dollar-sign mul-icon-size-large mul-icon-style-shadow mul-float-left mul-spacer-margin-right-large"></i>
								<h4>Cost Savings</h4>
								Project delivery is cheaper thanks to the re-use of components and patterns that have already been tested across browsers.
							</li>
						</ul>
					<!-- VERTICAL LISTS - LINKS - ENDS -->
					</div>
					<div class="col-12">
						<img src="{{ "placeholder_rectangle_wide_thick.png" | asset_url }}" width="400" height="400" />
					</div>
				</div>
			</div>
		</section>

		<section class="banding-section-5" data-palette-color="orange-dark">
			<div class="mul-grid">
				<div class="col-24 mul-small-mediaquery-grid">
					<h1>Recent Projects Built Using Evolution</h1>
					<p class="mul-spacer-margin-bottom-x-large">The Evolution UI framework has provided the foundation for many Mercer projects over the past year, including:</p>

					<ul class="mul-horizontal-list">
						<li>GBM Analytics</li>
						<li>Mercer Worklife</li>
						<li>APAC EH&amp;B Portals</li>
					</ul>
					<ul class="mul-horizontal-list">
						<li>Benefits Hub</li>
						<li>IPA eElect Portal</li>
						<li>Pension Exchange</li>
					</ul>
					<ul class="mul-horizontal-list">
						<li>UK Local Broker</li>
						<li>Proliability</li>
						<li>ESR Reporting</li>
						<li>Transition Assist</li>
					</ul>
				</div>
			</div>
		</section>

	</div>
	<div id="alternate-views-badge-2">
		<section class="banding-section-6" data-palette-color="white">
			<div class="mul-grid">
				<div class="col-24 hp-layout">
					<div class="col-8 first">
						{% for item in global.table-of-contents limit:2 %}
							{% include "/reference/toc-nav" %}
						{% endfor %}
					</div>
					<div class="col-8">
						{% for item in global.table-of-contents offset:2 limit:3 %}
							{% include "/reference/toc-nav" %}
						{% endfor %}
					</div>
					<div class="col-8">
						{% for item in global.table-of-contents offset:5 %}
							{% include "/reference/toc-nav" %}
						{% endfor %}
					</div>
				</div>
			</div>
		</section>

	</div>
</div>
<!-- ALTERNATE VIEWS BADGE - ENDS -->

{% endblock %}