<ul class="button-group radius evo-site-button-group-nav evo-site-family-button-group-nav">
	<li><a href="/bp/principles/index" class="button secondary evo-button {% if mixture.url == 'bp/principles/index' or mixture.url == 'bp/principles/' %}evo-site-button-group-nav-active{% endif %}" id="" role="button" title="Design Principles" aria-label="">Design Principles</a></li>
	<li><a href="/bp/principles/tactical-design-tenets" class="button secondary evo-button {% if mixture.url == 'bp/principles/tactical-design-tenets' %}evo-site-button-group-nav-active{% endif %}" id="" role="button" title="Tactical Design Tenets" aria-label="">Tactical Design Tenets</a></li>
	<li><a href="/bp/principles/mobile-design-tenets" class="button secondary evo-button {% if mixture.url == 'bp/principles/mobile-design-tenets' %}evo-site-button-group-nav-active{% endif %}" id="" role="button" title="Mobile Design Tenets" aria-label="">Mobile Design Tenets</a></li>
</ul>