//-------------------------------------------------------------------------------------------
// Mercer Evolution - Core v2.4 - Core Navigation Module Partial
// DATE - April 4, 2014
// AUTHOR - Doug Fraize, Matthew Holmes
//-------------------------------------------------------------------------------------------

@if $use-nav == true{

	// NAVIGATION
	.mul-navbar							{
		.mul-horizontal-list				{
											@include background-gradient($navBackgroundStartColor, $navBackgroundEndColor);
											@include clearfix;
											border-bottom: 1px solid $navBorderColor;
			li									{
												border-bottom: 1px solid $navBorderColor;
												padding: 0;
												position: relative;
												margin: 0;
				a									{
													@include href-link($navLinkColor, none);
													border-top: 1px solid $navLinkBorderColor;
													display: block;
													font-size: $navLinkFontSize;
													line-height: $navLinkLineHeight;
													font-family: $proximaNovaSemiBoldStack;
													position: relative;
													padding: 9px 15px;
													margin: 0;
													text-align: left;
					&.mul-navbar-item-active,
					&:hover								{@include background-gradient($navActiveBackgroundStartColor, $navActiveBackgroundEndColor);}
					&.mul-navbar-item-active			{cursor: default;}
													}
				&:first-child						{border-top: 0;}
				&:last-child						{border-bottom: 0;}
												}
											}
										}

	// SUB NAVIGATION IN ADVANCED BOX CONTAINER
	.mul-box-adv						{
		.mul-navbar							{
			.mul-horizontal-list				{
				li									{
					a									{
														font-family: $baseFontFamily;
														font-size: $navBoxLinkFontSize;
														line-height: $navBoxLinkLineHeight;
														padding: 6px 12px;
														}
													}
												}
											}
										}

	//=== MEDIA QUERIES =========================================================================

	// Portrait iPad, portrait tablets, Low-resolution laptops and desktops, Landscape iPad, laptops and desktops
	@if $use-medium-mediaquery == true or $use-large-mediaquery == true {
		
		@include media-query(screen, min, $mediumMediaQueryBreakpointMin, "") {

			// NAVIGATION
			.mul-navbar					{
				.mul-horizontal-list		{
					li							{
												border-bottom: 0;
												border-right: 1px solid $navBorderColor;
												float: left;
						a							{
													border-top: 0;
													border-right: 1px solid $navLinkBorderColor;
													height: $navLinkHeightLargeBreakpoint;
													font-size: $navLinkFontSizeLargeBreakpoint;
													line-height: $navLinkLineHeightLargeBreakpoint;
													text-align: center;
													}
						.mul-first-child			{
													border-left: 1px solid $navBorderColor;
													}
												}
											}
										}

			// SUB NAVIGATION IN ADVANCED BOX CONTAINER
			.mul-box-adv				{
				.mul-navbar					{
					.mul-horizontal-list		{
						li							{
							a							{
														font-size: $navBoxLinkFontSizeLargeBreakpoint;
														height: $navBoxLinkHeightLargeBreakpoint;
														}
													}
												}
											}
										}

		}
		
	}// endif

}// endif