<!-- VERTICAL CENTER HELPER - BEGINS -->
<div class="callout evo-callout evo-center-container-dimensions-demo">
	<section class="evo-center-block-vertical">
		{{> type-paragraph class="evo-center-block-vertical-element" text="The div that contains this text is centered vertically within this box."}}
	</section>
</div>
<div class="callout evo-callout evo-center-container-dimensions-demo">
	<section class="evo-center-block-vertical">
		<div class="evo-center-block-vertical-element">
			<img src="/assets/images/placeholders/placeholder_square.png">
		</div>
	</section>
</div>
<!-- VERTICAL CENTER HELPER - ENDS -->