<!-- FLOAT CENTER HELPER - BEGINS -->
<div class="callout evo-callout evo-center-container-dimensions-demo">
	<section>
		{{> type-paragraph class="float-center" text="The div that contains this text is centered horizontally within this box."}}
	</section>
</div>
<div class="callout evo-callout evo-center-container-dimensions-demo">
	<section>
		<img class="float-center" src="/assets/images/placeholders/placeholder_square.png">
	</section>
</div>
<!-- FLOAT CENTER HELPER - ENDS -->