<header role="banner" class="mul-masthead">

	<!-- MASTHEAD - BEGINS -->
	<div class="mul-masthead-adjust">
		<div class="mul-masthead-content-ctn">

			<!-- MASTHEAD LOGO - BEGINS -->
			<div class="col-18 first">
				<h1 class="mul-logo">
					<a href="http://uxui.mercer.com">MERCER <span>UX/UI</span></a>
				</h1>
			</div>
			<!-- MASTHEAD LOGO - ENDS -->

			<div class="col-6">
				&nbsp;
			</div>

		</div>
	</div>
	<!-- MASTHEAD - ENDS -->

	<!-- MASTHEAD NAVBAR - BEGINS -->
	<div class="mul-masthead-navbar-ctn">
		<div class="mul-masthead-adjust">

			<!-- NAVBAR - BEGINS -->
			<nav role="navigation" class="mul-navbar">
				<ul class="mul-horizontal-list">
					<li><a class="mul-first-child" href="http://uxui.mercer.com">Home</a></li>
					<li><a href="http://uxui.mercer.com/site/current-projects.html">Projects</a></li>
					<li><a href="http://uxui.mercer.com/site/demos.html">Demos</a></li>
					<li><a href="http://uxui.mercer.com/site/documents.html">Documents</a></li>
					<li><a href="http://uxui.mercer.com/evolution" target="_blank">Mercer Evolution</a></li>
				</ul>
			</nav>
			<!-- NAVBAR - ENDS -->

		</div>
	</div>
	<!-- MASTHEAD NAVBAR - BEGINS -->

</header>