//-------------------------------------------------------------------------------------------
// Mercer Evolution - Core v2.4 - Base Type Partial
// DATE - April 4, 2014
// AUTHOR - Doug Fraize, Matthew Holmes
//-------------------------------------------------------------------------------------------

// GLOBAL

// Text selection color and background color
*							{@include type-selection($textSelectionTextColor,$textSelectionBackgroundColor);}

body						{
							color: $baseFontColor;
							font-family: $baseFontFamily;
							font-size: $baseFontSize;
							}

// HEADERS 
h1, .h1, h2, .h2,
h3, .h3, h4, .h4,
h5, .h5, h6, .h6			{
							color: $baseHdrFontColor;
							line-height: 20px;
							margin: 0;
							text-rendering: optimizelegibility; // Fix the character spacing for headings
							}

h1, .h1						{
							font-size: $hdrH1FontSize;
							font-weight: $WeightBold400;
							line-height: $hdrH1LineHeight;
							padding: $hdrH1PaddingTopBottom 0;
							}
h2, .h2						{
							font-size: $hdrH2FontSize;
							font-weight: $WeightBold400;
							line-height: $hdrH2LineHeight;
							padding: $hdrH2PaddingTopBottom 0;
							}
h3, .h3						{
							font-size: $hdrH3FontSize;
							font-weight: $WeightBold400;
							line-height: $hdrH3LineHeight;
							padding: $hdrH3PaddingTopBottom 0;
							}
h4, .h4						{
							font-size: $hdrH4FontSize;
							font-weight: $WeightBold200;
							font-family: $proximaNovaSemiBoldStack;
							line-height: $hdrH4LineHeight;
							padding: $hdrH4PaddingTopBottom 0;
							}
h5, .h5						{
							font-size: $hdrH5FontSize;
							font-weight: $WeightBold200;
							font-family: $proximaNovaSemiBoldStack;
							}
h6, .h6						{
							font-size: $hdrH6FontSize;
							font-weight: $WeightBold200;
							font-family: $proximaNovaSemiBoldStack;
							}

.mul-h1-hdr-background,
.mul-h2-hdr-background,
.mul-h3-hdr-background,
.mul-h4-hdr-background		{
							background-color: $hdrBackgroundColor;
							margin-bottom: $hdrRuleMarginBottom;
							padding-left: 5px;
							padding-right: 5px;
							}

.mul-h1-hdr-background		{
							padding-top: 2px;
							padding-bottom: 0;
							}
.mul-h2-hdr-background		{
							padding-top: 3px;
							padding-bottom: 1px;
							}
.mul-h3-hdr-background		{
							padding-top: 4px;
							padding-bottom: 2px;
							}
.mul-h4-hdr-background		{
							padding-top: 4px;
							padding-bottom: 2px;
							}

.mul-hdr-rule				{
							border-bottom: $hdrRuleBorderSize $hdrRuleBorderStyle $hdrRuleBorderColor;
							margin-bottom: $hdrRuleMarginBottom;
							}

.mul-hdr-dbl-rule			{
							border-top: $hdrRuleBorderSize $hdrRuleBorderStyle $hdrRuleBorderColor;
							border-bottom: $hdrRuleBorderSize $hdrRuleBorderStyle $hdrRuleBorderColor;
							margin-bottom: $hdrRuleMarginBottom;
							}

b, strong, th, thead,
dt, legend					{
							font-family: $proximaNovaSemiBoldStack;
							font-weight: normal;
							}

// PARAGRAPH 
p							{
							line-height: $baseLineHeight;
							margin: 0 0 $baseParagraphMarginBottom 0;
							}

// INTRO TEXT, 2PX SIZES LARGER THAN THE BASE FONT
.mul-intro-text				{
							font-size: ($baseFontSize + 2px);
							line-height: ($baseLineHeight + 2px);
							}
							
// SMALL TEXT
small						{font-size: $smallFontSize;}
p small						{
							display: block;
							line-height: $baseLineHeight/1.25;
							}

// LIST ITEMS
ul,
ol							{
							padding: 0;
							margin: 0 0 10px 25px;
							}
ul ul,
ul ol,
ol ol,
ol ul						{
							margin-bottom: 0;
							margin-top: 6px;
							}

li							{
							line-height: $baseLineHeight;
							margin-bottom: 6px;
							}

ul,
ol,
dl,
dialog						{margin-bottom: $baseParagraphMarginBottom;}

dl							{margin-bottom: 20px;}
dt,
dd							{line-height: $baseLineHeight;}
dt							{font-family: $proximaNovaSemiBoldStack;}
dd							{margin-left: 10px;}
						
.mul-lower-alpha			{list-style-type: lower-alpha;}
.mul-upper-alpha			{list-style-type: upper-alpha;}							
.mul-lower-roman			{list-style-type: lower-roman;}
.mul-upper-roman			{list-style-type: upper-roman;}
.mul-list-style-none		{list-style-type: none;}

// BLOCKQUOTE
blockquote					{
							margin: 0;
							padding: 0 20px $baseParagraphMarginBottom 20px;
	p							{
								margin: 0;
								font-size: 150%;
								line-height: $baseLineHeight;
								font-family: $proximaNovaThinStack;
								}
	.mul-author					{
								font-size: 100%;
								text-align: right;
								font-family: $proximaNovaSemiBoldStack;
								}
							}

// TABLE
table						{font: inherit;}

// LINKS
a							{	
	&:link						{
								@include href-link($baseLinkColor, underline);
								cursor: pointer;
								}
	&:visited					{color: $baseLinkVisitedColor;}
	&:hover,
	&:focus,
	&:active					{@include href-link-hover(none);}
	&:hover						{
								@include href-link-hover(none);
								color: $baseLinkHoverColor;
								}
							}

// HORIZONTAL RULES
hr							{
							background-color: $hrBackgroundColor;
							border: 0;
							border-top: 1px solid $hrBorderTopColor;
							clear: both;
							color: $hrFontColor;
							display: block;
							height: $hrHeight;
							margin: $hrMarginTopBottom 0;
							}

// OTHER ELEMENTS
abbr						{
							cursor: help;
							border-bottom: 1px dotted $abbrBorderBottomColor;
							}
sup, sub					{font-size: $smallFontSize;}
sup							{vertical-align: 4px;}
sub							{vertical-align: -5px;}
em							{
							font-family: $proximaNovaItalicStack;
							font-style: normal;
							}

//=== MEDIA QUERIES =========================================================================

// Portrait iPad, portrait tablets, Low-resolution laptops and desktops, Landscape iPad, laptops and desktops
@if $use-medium-mediaquery == true or $use-large-mediaquery == true {
	
	@include media-query(screen, min, $mediumMediaQueryBreakpointMin, "") {

		// GLOBAL
		body				{font-size: $baseFontSizeLargeBreakpoint;}

		// HEADERS
		h1, .h1				{
							font-size: $hdrH1FontSizeLargeBreakpoint;
							line-height: $hdrH1LineHeightLargeBreakpoint;
							}
		h2, .h2				{
							font-size: $hdrH2FontSizeLargeBreakpoint;
							line-height: $hdrH2LineHeightLargeBreakpoint;
							}
		h3, .h3				{
							font-size: $hdrH3FontSizeLargeBreakpoint;
							line-height: $hdrH3LineHeightLargeBreakpoint;
							}
		h4, .h4				{
							font-size: $hdrH4FontSizeLargeBreakpoint;
							line-height: $hdrH4LineHeightLargeBreakpoint;
							}
		h5, .h5				{font-size: $hdrH5FontSizeLargeBreakpoint;}
		h6, .h6				{font-size: $hdrH6FontSizeLargeBreakpoint;}

		// PARAGRAPH 
		p					{
							line-height: $baseLineHeightLargeBreakpoint;
							}

		// INTRO TEXT, 2PX SIZES LARGER THAN THE BASE FONT
		.mul-intro-text		{
							font-size: ($baseFontSizeLargeBreakpoint + 2px);
							line-height: ($baseLineHeightLargeBreakpoint + 2px);
							}

		// SMALL TEXT
		small				{font-size: $smallFontSizeLargeBreakpoint;}
		p small				{line-height: $baseLineHeightLargeBreakpoint/1.5;}

		// LIST ITEMS
		li					{line-height: $baseLineHeightLargeBreakpoint;}
		dt,
		dd					{line-height: $baseLineHeightLargeBreakpoint;}

		// BLOCKQUOTE
		blockquote			{
			p					{line-height: $baseLineHeightLargeBreakpoint;}
							}

		// OTHER ELEMENTS
		sup, sub			{font-size: $smallFontSizeLargeBreakpoint;}
	}
	
}// endif