<!-- VERTICAL LISTS - BEGINS -->
<ul class="">
	<li>Lorem ipsum Erat esse molestie esse soluta in ipsum luptatum no</li>
	<li>Item 2</li>
	<li>Lorem ipsum Erat esse molestie esse soluta in ipsum luptatum no</li>
	<li>Item 4</li>
</ul>
<!-- VERTICAL LISTS - ENDS -->