<!-- VERTICAL DEFINITION LISTS - LINKS - BEGINS -->
<dl class="mul-vertical-list">
	<dt>Title</dt>
	<dd><a href="javascript:;">Link 1</a></dd>
	<dd><a href="javascript:;">Link 2</a></dd>
	<dd><a href="javascript:;">Link 3</a></dd>
	<dd><a href="javascript:;">Link 4</a></dd>
</dl>
<!-- VERTICAL DEFINITION LISTS - LINKS - ENDS -->