<!-- VERTICAL LISTS BULLETED - LINKS - BEGINS -->
<ul class="mul-vertical-list-bulleted">
	<li><a href="javascript:;">Link 1</a></li>
	<li><a href="javascript:;">Lorem ipsum Erat esse molestie esse soluta in ipsum luptatum no</a></li>
	<li><a href="javascript:;">Link 3</a></li>
	<li><a href="javascript:;">Link 4</a></li>
</ul>
<!-- VERTICAL LISTS BULLETED - LINKS - ENDS -->