<!-- HORIZONTAL LISTS - PIPES - BEGINS -->
<ul class="inline-list evo-inline-list evo-inline-list-pipes">
	<li><a href="javascript:;">Item 1</a></li>
	<li><a href="javascript:;">Item 2</a></li>
	<li><a href="javascript:;">Item 3</a></li>
</ul>
<!-- HORIZONTAL LISTS - PIPES - ENDS -->