<!-- VERTICAL DEFINITION LISTS BULLETED - LINKS - BEGINS -->
<dl class="evo-vertical-list-bulleted">
	<dt>Title</dt>
	<dd><a href="javascript:;">Link 1</a></dd>
	<dd><a href="javascript:;">Lorem ipsum Erat esse molestie esse soluta in ipsum luptatum no</a></dd>
	<dd><a href="javascript:;">Link 3</a></dd>
	<dd><a href="javascript:;">Link 4</a></dd>
</dl>
<!-- VERTICAL DEFINITION LISTS BULLETED - LINKS - ENDS -->