<!-- DATA LISTS - STACKED - BEGINS -->
<div class="mul-data-list-ctn">
	<ul class="mul-data-list mul-data-list-stacked">
		<li>
			<span class="mul-data-list-label">First Name:</span>
			<span class="mul-data-list-item">Arquimedez</span>
		</li>
		<li>
			<span class="mul-data-list-label">Last Name:</span>
			<span class="mul-data-list-item">Pozo</span>
		</li>
		<li>
			<span class="mul-data-list-label">Country:</span>
			<span class="mul-data-list-item">United States</span>
		</li>
		<li>
			<span class="mul-data-list-label">Language:</span>
			<span class="mul-data-list-item">English</span>
		</li>
	</ul>
</div>
<!-- DATA LISTS - STACKED - ENDS -->