{% layout "bp/layout" %}
{% block content %}

<!-- HERO IMAGE - BEGINS -->
	<section class="row evo-site-large-hero-ctn evo-site-large-bp-hero-ctn">
		<div class="large-12 columns">

			<section class="row">
				<div class="large-10 large-centered text-center columns">
					<h1 class="evo-site-large-hero-text">{{ model.title }}</h1>
				</div>
			</section>
			
		</div>
	</section>
<!-- HERO IMAGE - ENDS -->

<!-- FAMILY HEADLINE - BEGINS -->
	<!--
	<section class="row">
		<div class="large-10 large-centered columns evo-site-headline">
			<h3 class="text-center">Everything you need to know to start designing and building Benefits Portals at Mercer.</h3>
		</div>
	</section>
	-->
<!-- FAMILY HEADLINE - ENDS -->

<!-- FAMILY COMPONENT GROUPS SECTION - BEGINS -->
	<section class="row">
		<div class="large-10 large-centered columns evo-site-component-group-ctn">
			<section class="row" data-equalizer data-equalizer-mq="medium-up">
				<div class="large-3 columns">

				<!-- DESIGN PRINCIPLES - BEGINS -->
					<div class="panel evo-box evo-family-categories-ctn" data-equalizer-watch>
						<div class="evo-box-circle evo-center-block">
							<i class="evo-icon-site-list2 evo-icon-size-medium evo-center-block-vertical-element evo-center-block bp-icon" title="" aria-label=""></i>
						</div>

						<div class="evo-box-hdr">
							<h5>Design Principles</h5>
						</div>
						<div class="evo-box-bdy">
							<ul class="evo-no-margin-bottom">
								<li><a href="principles/index">Design Principles</a></li>
								<li><a href="principles/tactical-design-tenets">Tactical Design Tenets</a></li>
								<li><a href="principles/mobile-design-tenets">Mobile Design Tenets</a></li>
							</ul>
						</div>
					</div>
				<!-- DESIGN PRINCIPLES - ENDS -->

				</div>
				<div class="large-3 columns">

				<!-- DESIGN ASSETS - BEGINS -->
					<div class="panel evo-box evo-family-categories-ctn" data-equalizer-watch>
						<div class="evo-box-circle evo-center-block">
							<i class="evo-icon-site-pen6 evo-icon-size-medium evo-center-block-vertical-element evo-center-block bp-icon" title="" aria-label=""></i>
						</div>

						<div class="evo-box-hdr">
							<h5>Visual Assets</h5>
						</div>
						<div class="evo-box-bdy">
							<ul class="evo-no-margin-bottom">
								<li><a href="visual/index#overall-color-palette">Overall Color Palette</a></li>
								<li><a href="visual/index#primary-color-palette">Primary Color Palette</a></li>
								<li><a href="visual/index#chart-colors">Chart Colors</a></li>
								<li><a href="visual/index#typography">Typography</a></li>
								<li><a href="visual/index#photo-icons">Photo Icons</a></li>
								<li><a href="visual/index#vector-icons">Vector Icons</a></li>
								<li><a href="visual/index#icomoon-icons">Icomoon Icons</a></li>
								<li><a href="visual/index#people-images">People Images</a></li>
							</ul>
						</div>
					</div>
				<!-- DESIGN ASSETS - ENDS -->

				</div>
				<div class="large-3 columns">

				<!-- COMPONENTS & PATTERNS - BEGINS -->
					<div class="panel evo-box evo-family-categories-ctn" data-equalizer-watch>
						<div class="evo-box-circle evo-center-block">
							<i class="evo-icon-site-book3 evo-icon-size-medium evo-center-block-vertical-element evo-center-block bp-icon" title="" aria-label=""></i>
						</div>

						<div class="evo-box-hdr">
							<h5>Components &amp; Patterns</h5>
						</div>
						<div class="evo-box-bdy">
							<ul class="evo-no-margin-bottom">
								<li><a href="components/index#accordion">Accordion</a></li>
								<li><a href="components/index#autocomplete">Autocomplete</a></li>
								<li><a href="components/index#buttons">Buttons</a></li>
								<li><a href="components/index#datepicker">Datepicker</a></li>
								<li><a href="components/index#forms-compact">Forms - Compact</a></li>
								<li><a href="components/index#forms-conversational">Forms - Conversational</a></li>
								<li><a href="components/index#forms-inline">Forms - Inline</a></li>
								<li><a href="components/index#forms-stacked">Forms - Stacked</a></li>
								<li><a href="components/index#forms-worksheet">Forms - Worksheet</a></li>
								<li><a href="components/index#item-selection-panel">Item Selection Panel</a></li>
								<li><a href="components/index#modal">Modal</a></li>
								<li><a href="components/index#pricing-table">Pricing Table</a></li>
								<li><a href="components/index#showcase-panel">Showcase Panel</a></li>
								<li><a href="components/index#slider">Slider</a></li>
								<li><a href="components/index#stepper">Stepper</a></li>
								<li><a href="components/index#tabs">Tabs</a></li>
								<li><a href="components/index#thin-footer">Thin Footer</a></li>
								<li><a href="components/index#tooltip">Tooltip</a></li>
							</ul>
						</div>
					</div>
				<!-- COMPONENTS & PATTERNS - ENDS -->

				</div>
				<div class="large-3 columns">

				<!-- SCREEN TEMPLATES - BEGINS -->
					<div class="panel evo-box evo-family-categories-ctn evo-no-margin-bottom" data-equalizer-watch>
						<div class="evo-box-circle evo-center-block">
							<i class="evo-icon-stack2 evo-icon-size-medium evo-center-block-vertical-element evo-center-block bp-icon" title="" aria-label=""></i>
						</div>

						<div class="evo-box-hdr">
							<h5>Screen Templates</h5>
						</div>
						<div class="evo-box-bdy">
							<ul class="evo-no-margin-bottom">
								<li><a href="">List Items Here</a></li>
								<li><a href="">List Items Here</a></li>
								<li><a href="">List Items Here</a></li>
								<li><a href="">List Items Here</a></li>
								<li><a href="">List Items Here</a></li>
								<li><a href="">List Items Here</a></li>
								<li><a href="">List Items Here</a></li>
								<li><a href="">List Items Here</a></li>
							</ul>
						</div>
					</div>
				<!-- SCREEN TEMPLATES - ENDS -->

				</div>
			</section>
			
		</div>
	</section>
<!-- FAMILY COMPONENT GROUPS SECTION - ENDS -->

<!-- DOWNLOAD PLAYBOOK SECTION - BEGINS -->
	<section class="row evo-site-download-playbook">
		<div class="large-10 large-centered columns evo-site-down-arrrow">

			<section class="row">
				<div class="medium-4 columns small-only-text-center">
					<img class="evo-margin-bottom" src="{{ "digital_playbook.png" | asset_url }}" border="0">
				</div>
				<div class="medium-8 columns small-only-text-center">
					<h3>Download Digital Playbook</h3>

					{{ 1 | lorem_ipsum:'p' }}

					<a href="/assets/docs/bp/evo-ux-playbook-benefits-portals.pdf" target="_blank" class="button radius evo-button evo-site-button" data-evo-button-icons="left" id="" role="button" title="Download" aria-label="">
						<i class="evo-icon-download4 evo-icon-position-left" title=""></i>
						<span class="evo-button-text">Download PDF of Digital Playbook</span>
					</a>
				</div>
			</section>

		</div>
	</section>
<!-- DOWNLOAD PLAYBOOK SECTION - ENDS -->

<!-- DOWNLOAD SECTION - BEGINS -->
	<section class="row" data-equalizer>
		<div class="large-10 large-centered columns evo-site-download-ctn">

			<section class="row">
				<div class="medium-4 columns">

				<!-- PROTOTYPING SECTION - BEGINS -->
					<div class="panel evo-box">
						<div class="evo-box-bdy">
							<i class="evo-icon-site-design evo-icon-size-large evo-center-block bp-icon" title="" aria-label=""></i>

							<h5>Prototyping</h5>

							<p data-equalizer-watch>Download a zip file containing all of the Components, Patterns, and Templates for use with Balsamiq prototyping.</p>

							<a href="/assets/docs/bp/evo-prototype-benefits-portals.zip" class="button radius evo-button evo-site-button" data-evo-button-icons="left" id="" role="button" title="Download" aria-label="">
								<i class="evo-icon-download4 evo-icon-position-left" title=""></i>
								<span class="evo-button-text">Download</span>
							</a>
						</div>
					</div>
				<!-- PROTOTYPING SECTION - ENDS -->

				</div>
				<div class="medium-4 columns">

				<!-- VISUAL DEISGN - BEGINS -->
					<div class="panel evo-box">
						<div class="evo-box-bdy">
							<i class="evo-icon-site-image2 evo-icon-size-large evo-center-block bp-icon" title="" aria-label=""></i>

							<h5>Visual Design</h5>

							<p data-equalizer-watch>This layered PSD file will save time when creating high fidelity visual design comps.</p>

							<a href="/assets/docs/bp/evo-ui-kit-benefit-portals.psd.zip" class="button radius evo-button evo-site-button" data-evo-button-icons="left" id="" role="button" title="Download" aria-label="">
								<i class="evo-icon-download4 evo-icon-position-left" title=""></i>
								<span class="evo-button-text">Download</span>
							</a>
						</div>
					</div>
				<!-- VISUAL DEISGN - ENDS -->

				</div>
				<div class="medium-4 columns">

				<!-- UI DEVELOPMENT - BEGINS -->
					<div class="panel evo-box">
						<div class="evo-box-bdy">
							<i class="evo-icon-site-file-xml2 evo-icon-size-large evo-center-block bp-icon" title="" aria-label=""></i>

							<h5>UI Development</h5>

							<p data-equalizer-watch>Download the complete boilerplate of Evolution for Benefits Portals, including step-by-step instructions and set up.</p>

							<a href="#" class="button radius evo-button evo-site-button" data-evo-button-icons="left" id="" role="button" title="Download" aria-label="">
								<i class="evo-icon-download4 evo-icon-position-left" title=""></i>
								<span class="evo-button-text">Download</span>
							</a>
						</div>
					</div>
				<!-- UI DEVELOPMENT - ENDS -->

				</div>
			</section>
		</div>
	</section>
<!-- DOWNLOAD SECTION - ENDS -->

{% endblock %}