{% layout "bp/layout" %}
{% block content %}

<!-- HERO IMAGE - BEGINS -->
	{% include "/bp/hero-banner" %}
<!-- HERO IMAGE - ENDS -->

<!-- CATEGORY TABLE OF CONTENTS - BEGINS -->
	<section class="row evo-site-table-content-ctn">
		<div class="large-12 columns">

			<section class="row collapse">
				<div class="small-12 medium-12 large-10 small-centered columns evo-site-down-arrrow">

				<!-- CATEGORY PAGE NAVIGATION - BEGINS -->
					<ul class="medium-block-grid-3 evo-site-table-contents">
						<li>
							<ul>
								<li><a href="#{{ model.visual-id-01 }}" data-scroll-to-location>{{ model.visual-01 }}</a></li>
								<li><a href="" data-scroll-to-location>Visual Assets Links</a></li>
								<li><a href="" data-scroll-to-location>Visual Assets Links</a></li>
							</ul>
						</li>
						<li>
							<ul>
								<li><a href="" data-scroll-to-location>Visual Assets Links</a></li>
								<li><a href="" data-scroll-to-location>Visual Assets Links</a></li>
								<li><a href="" data-scroll-to-location>Visual Assets Links</a></li>
							</ul>	
						</li>
						<li>
							<ul>
								<li><a href="" data-scroll-to-location>Visual Assets Links</a></li>
								<li><a href="" data-scroll-to-location>Visual Assets Links</a></li>
								<li><a href="" data-scroll-to-location>Visual Assets Links</a></li>
							</ul>
						</li>
					</ul>
				<!-- CATEGORY PAGE NAVIGATION - ENDS -->

				</div>
			</section>
			
		</div>
	</section>
<!-- CATEGORY TABLE OF CONTENTS - ENDS -->

<!-- DESIGN ASSET NAME - BEGINS -->
	{% include '/content/visual/template-visual-example' %}
<!-- DESIGN ASSET NAME - ENDS -->

{% endblock %}