<nav class="tab-bar evo-menu-bar">

	<section class="left-small">
		<a class="left-off-canvas-toggle" href="javascript:;">
			<i class="evo-icon-menu3 evo-icon-size-medium evo-icon-color-white" title="Menu"></i>
		</a>
	</section>

	<section class="middle tab-bar-section">
		<a class="title" href="/ep/index">
			<img src="{{ "mercer-logo-reverse-949x133.png" | asset_url }}" alt="Mercer" width="171" height="24" title="Mercer" />
		</a>
	</section>

</nav>

<aside class="left-off-canvas-menu evo-off-canvas-menu">

	<ul class="off-canvas-list">
		<li class="evo-off-canvas-alert">
			<label>
				<i class="evo-icon-warning evo-icon-color-white" title="Alert"></i>
				Open enrollment ends on December 15th
			</label>
		</li>
		<li class="has-submenu">
			<a href="#">
				<img class="evo-off-canvas-list-item-icon evo-clip-art-icon-size-tiny" src="{{ "icon-heart-large.png" | asset_url }}">
				<span class="evo-off-canvas-list-item-label">
					<i class="evo-icon-arrow-right4 evo-icon-position-left evo-icon-color-gray-dark" title="My Health"></i>
					My Health
				</span>
			</a>
			<ul class="left-submenu">
				<li class="back">
					<a href="javascript:;">
						<span class="evo-off-canvas-list-item-label">
							<i class="evo-icon-arrow-left2 evo-icon-size-medium evo-icon-position-left evo-icon-color-white" title="Back"></i>
							Back
						</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="evo-off-canvas-list-item-label">My Health Snapshot</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="evo-off-canvas-list-item-label">Find A Doctor</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="evo-off-canvas-list-item-label">File A Claim</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="evo-off-canvas-list-item-label">Wellness Tips</span>
					</a>
				</li>
			</ul>
		</li>
		<li class="has-submenu">
			<a href="#">
				<img class="evo-off-canvas-list-item-icon evo-clip-art-icon-size-tiny" src="{{ "icon-piggy-bank-large.png" | asset_url }}">
				<span class="evo-off-canvas-list-item-label">
					<i class="evo-icon-arrow-right4 evo-icon-position-left evo-icon-color-gray-dark" title="My Health"></i>
					My Wealth
				</span>
			</a>
			<ul class="left-submenu">
				<li class="back">
					<a href="javascript:;">
						<span class="evo-off-canvas-list-item-label">
							<i class="evo-icon-arrow-left2 evo-icon-size-medium evo-icon-position-left evo-icon-color-white" title="Back"></i>
							Back
						</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="evo-off-canvas-list-item-label">My Wealth Snapshot</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="evo-off-canvas-list-item-label">One-Click Contribution</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="evo-off-canvas-list-item-label">Speak With An Advisor</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="evo-off-canvas-list-item-label">Finance Tips</span>
					</a>
				</li>
			</ul>
		</li>
		<li class="has-submenu">
			<a href="#">
				<img class="evo-off-canvas-list-item-icon evo-clip-art-icon-size-tiny" src="{{ "icon-briefcase-large.png" | asset_url }}">
				<span class="evo-off-canvas-list-item-label">
					<i class="evo-icon-arrow-right4 evo-icon-position-left evo-icon-color-gray-dark" title="My Health"></i>
					My Career
				</span>
			</a>
			<ul class="left-submenu">
				<li class="back">
					<a href="javascript:;">
						<span class="evo-off-canvas-list-item-label">
							<i class="evo-icon-arrow-left2 evo-icon-size-medium evo-icon-position-left evo-icon-color-white" title="Back"></i>
							Back
						</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="evo-off-canvas-list-item-label">My Career Snapshot</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="evo-off-canvas-list-item-label">Company Information</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="evo-off-canvas-list-item-label">Pay &amp; Benefits</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="evo-off-canvas-list-item-label">Tax Information</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="evo-off-canvas-list-item-label">Career Tips</span>
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="#">
				<span class="evo-off-canvas-list-item-label">My Account</span>
			</a>
		</li>
		<li>
			<a href="#">
				<span class="evo-off-canvas-list-item-label">Search</span>
			</a>
		</li>
		<li>
			<a href="#">
				<span class="evo-off-canvas-list-item-label">Support</span>
			</a>
		</li>
		<li>
			<a href="/ep/index">
				<span class="evo-off-canvas-list-item-label">Sign Out</span>
			</a>
		</li>
	</ul>

</aside>

<a href="javascript:;" class="exit-off-canvas"></a>