<nav class="tab-bar">

	<section class="left-small">
		<a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
	</section>

	<section class="middle tab-bar-section">
		<h1 class="title">Mercer</h1>
	</section>

	<section class="right-small">
		<a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
	</section>

</nav>

<aside class="left-off-canvas-menu">

	<ul class="off-canvas-list">
		<li><label>Header Left</label></li>
		<li><a href="#">Link 1</a></li>
		<li><a href="#">Link 2</a></li>
	</ul>

</aside>

<aside class="right-off-canvas-menu">

	<ul class="off-canvas-list">
		<li><label>Header Right</label></li>
		<li><a href="#">Link 1</a></li>
		<li><a href="#">Link 2</a></li>
	</ul>

</aside>

<a href="javascript:;" class="exit-off-canvas"></a>