<nav class="tab-bar evo-tab-bar">

	<section class="left-small">
		<a class="left-off-canvas-toggle" href="javascript:;">
			<i class="evo-icon-menu3 evo-icon-size-medium evo-icon-color-white" title="Menu"></i>
		</a>
	</section>

	<section class="middle tab-bar-section">
		<a class="title" href="#">
			<img src="{{ "mercer-logo-reverse-949x133.png" | asset_url }}" alt="Mercer" width="171" height="24" title="Mercer" />
		</a>
	</section>

</nav>

<aside class="left-off-canvas-menu">

	<ul class="off-canvas-list">
		<li class="evo-off-canvas-alert">
			<label>
				<i class="evo-icon-warning evo-icon-color-white" title="Alert"></i>
				Open enrollment ends on December 15th
			</label>
		</li>
		<li class="has-submenu">
			<a href="#">My Health</a>
			<ul class="left-submenu">
				<li class="back"><a href="javascript:;">Back</a></li>
				<li><a href="#">My Health Snapshot</a></li>
				<li><a href="#">Find A Doctor</a></li>
				<li><a href="#">File A Claim</a></li>
				<li><a href="#">Wellness Tips</a></li>
			</ul>
		</li>
		<li class="has-submenu">
			<a href="#">My Wealth</a>
			<ul class="left-submenu">
				<li class="back"><a href="javascript:;">Back</a></li>
				<li><a href="#">My Wealth Snapshot</a></li>
				<li><a href="#">One-Click Contribution</a></li>
				<li><a href="#">Speak With An Advisor</a></li>
				<li><a href="#">Finance Tips</a></li>
			</ul>
		</li>
		<li class="has-submenu">
			<a href="#">My Career</a>
			<ul class="left-submenu">
				<li class="back"><a href="javascript:;">Back</a></li>
				<li><a href="#">My Career Snapshot</a></li>
				<li><a href="#">Company Information</a></li>
				<li><a href="#">Pay &amp; Benefits</a></li>
				<li><a href="#">Tax Information</a></li>
				<li><a href="#">Career Tips</a></li>
			</ul>
		</li>
		<li>
			<a href="#">My Account</a>
		</li>
		<li>
			<a href="#">Search</a>
		</li>
		<li>
			<a href="#">Support</a>
		</li>
		<li>
			<a href="/">Sign Out</a>
		</li>
	</ul>

</aside>

<a href="javascript:;" class="exit-off-canvas"></a>