<nav class="tab-bar evo-tab-bar">

	<section class="left-small">
		<a class="left-off-canvas-toggle" href="javascript:;">
			<i class="evo-icon-menu3 evo-icon-size-medium evo-icon-color-white" title="Menu"></i>
		</a>
	</section>

	<section class="middle tab-bar-section">
		<a class="title" href="#">
			<img src="{{ "mercer-logo-reverse-949x133.png" | asset_url }}" alt="Mercer" width="171" height="24" title="Mercer" />
		</a>
	</section>

</nav>

<aside class="left-off-canvas-menu">

	<ul class="off-canvas-list">
		<li class="evo-off-canvas-alert">
			<label>
				<i class="evo-icon-warning evo-icon-color-white" title="Alert"></i>
				Open enrollment ends on December 15th
			</label>
		</li>
		<li><a href="#">My Health</a></li>
		<li><a href="#">My Wealth</a></li>
		<li><a href="#">My Career</a></li>
		<li><a href="#">My Account</a></li>
		<li><a href="#">Search</a></li>
		<li><a href="#">Support</a></li>
		<li><a href="#">Sign Out</a></li>
	</ul>

</aside>

<a href="javascript:;" class="exit-off-canvas"></a>