<nav class="tab-bar evo-ep-menu-bar">

	<section class="left-small">
		<a class="left-off-canvas-toggle" href="javascript:;">
			<i class="evo-icon-menu3 evo-icon-size-medium evo-icon-color-white" title="Menu"></i>
		</a>
	</section>

	<section class="middle tab-bar-section">
		<a class="title" href="#">
			<img src="{{ "mercer-logo-reverse-949x133.png" | asset_url }}" alt="Mercer" width="171" height="24" title="Mercer" />
		</a>
	</section>

</nav>

<aside class="left-off-canvas-menu">

	<ul class="off-canvas-list">
		<li class="evo-off-canvas-alert">
			<label>
				<i class="evo-icon-warning evo-icon-color-white" title="Alert"></i>
				Open enrollment ends on December 15th
			</label>
		</li>
		<li class="has-submenu">
			<a href="#" class="evo-off-canvas-list-item-anchor">
				<i class="evo-icon-arrow-right4 evo-icon-position-left evo-icon-color-gray-dark evo-off-canvas-list-item-anchor-cell evo-off-canvas-list-item-anchor-icon" title="My Health"></i>
				<span class="evo-off-canvas-list-item-anchor-cell evo-off-canvas-list-item-anchor-text">My Health</span>
				<img class="evo-off-canvas-list-item-anchor-cell evo-off-canvas-list-item-anchor-image" width="30" src="{{ "icon-heart-large.png" | asset_url }}">
			</a>
			<ul class="left-submenu">
				<li class="back">
					<a href="javascript:;">Back</a>
				</li>
				<li>
					<a class="evo-off-canvas-list-item-anchor" href="#">
						<span class="evo-off-canvas-list-item-anchor-cell evo-off-canvas-list-item-anchor-text">My Health Snapshot</span>
					</a>
				</li>
				<li>
					<a class="evo-off-canvas-list-item-anchor" href="#">
						<span class="evo-off-canvas-list-item-anchor-cell evo-off-canvas-list-item-anchor-text">Find A Doctor</span>
					</a>
				</li>
				<li>
					<a class="evo-off-canvas-list-item-anchor" href="#">
						<span class="evo-off-canvas-list-item-anchor-cell evo-off-canvas-list-item-anchor-text">File A Claim</span>
					</a>
				</li>
				<li>
					<a class="evo-off-canvas-list-item-anchor" href="#">
						<span class="evo-off-canvas-list-item-anchor-cell evo-off-canvas-list-item-anchor-text">Wellness Tips</span>
					</a>
				</li>
			</ul>
		</li>
		<li class="has-submenu">
			<a href="#">
				<i class="evo-icon-arrow-right4 evo-icon-position-left evo-icon-color-gray-dark evo-off-canvas-list-item-anchor-cell evo-off-canvas-list-item-anchor-icon" title="My Wealth"></i>
				<span class="evo-off-canvas-list-item-anchor-cell evo-off-canvas-list-item-anchor-text">My Wealth</span>
				<img class="evo-off-canvas-list-item-anchor-cell evo-off-canvas-list-item-anchor-image" width="30" src="{{ "icon-piggy-bank-large.png" | asset_url }}">
			</a>
			<ul class="left-submenu">
				<li class="back">
					<a href="javascript:;">Back</a>
				</li>
				<li>
					<a class="evo-off-canvas-list-item-anchor" href="#">
						<span class="evo-off-canvas-list-item-anchor-cell evo-off-canvas-list-item-anchor-text">My Wealth Snapshot</span>
					</a>
				</li>
				<li>
					<a class="evo-off-canvas-list-item-anchor" href="#">
						<span class="evo-off-canvas-list-item-anchor-cell evo-off-canvas-list-item-anchor-text">One-Click Contribution</span>
					</a>
				</li>
				<li>
					<a class="evo-off-canvas-list-item-anchor" href="#">
						<span class="evo-off-canvas-list-item-anchor-cell evo-off-canvas-list-item-anchor-text">Speak With An Advisor</span>
					</a>
				</li>
				<li>
					<a class="evo-off-canvas-list-item-anchor" href="#">
						<span class="evo-off-canvas-list-item-anchor-cell evo-off-canvas-list-item-anchor-text">Finance Tips</span>
					</a>
				</li>
			</ul>
		</li>
		<li class="has-submenu">
			<a href="#">
				<i class="evo-icon-arrow-right4 evo-icon-position-left evo-icon-color-gray-dark evo-off-canvas-list-item-anchor-cell evo-off-canvas-list-item-anchor-icon" title="My Career"></i>
				<span class="evo-off-canvas-list-item-anchor-cell evo-off-canvas-list-item-anchor-text">My Career</span>
				<img class="evo-off-canvas-list-item-anchor-cell evo-off-canvas-list-item-anchor-image" width="30" src="{{ "icon-briefcase-large.png" | asset_url }}">
			</a>
			<ul class="left-submenu">
				<li class="back">
					<a href="javascript:;">Back</a>
				</li>
				<li>
					<a class="evo-off-canvas-list-item-anchor" href="#">
						<span class="evo-off-canvas-list-item-anchor-cell evo-off-canvas-list-item-anchor-text">My Career Snapshot</span>
					</a>
				</li>
				<li>
					<a class="evo-off-canvas-list-item-anchor" href="#">
						<span class="evo-off-canvas-list-item-anchor-cell evo-off-canvas-list-item-anchor-text">Company Information</span>
					</a>
				</li>
				<li>
					<a class="evo-off-canvas-list-item-anchor" href="#">
						<span class="evo-off-canvas-list-item-anchor-cell evo-off-canvas-list-item-anchor-text">Pay &amp; Benefits</span>
					</a>
				</li>
				<li>
					<a class="evo-off-canvas-list-item-anchor" href="#">
						<span class="evo-off-canvas-list-item-anchor-cell evo-off-canvas-list-item-anchor-text">Tax Information</span>
					</a>
				</li>
				<li>
					<a class="evo-off-canvas-list-item-anchor" href="#">
						<span class="evo-off-canvas-list-item-anchor-cell evo-off-canvas-list-item-anchor-text">Career Tips</span>
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="#" class="evo-off-canvas-list-item-anchor">
				<span class="evo-off-canvas-list-item-anchor-cell evo-off-canvas-list-item-anchor-text">My Account</span>
			</a>
		</li>
		<li>
			<a href="#" class="evo-off-canvas-list-item-anchor">
				<span class="evo-off-canvas-list-item-anchor-cell evo-off-canvas-list-item-anchor-text">Search</span>
			</a>
		</li>
		<li>
			<a href="#" class="evo-off-canvas-list-item-anchor">
				<span class="evo-off-canvas-list-item-anchor-cell evo-off-canvas-list-item-anchor-text">Support</span>
			</a>
		</li>
		<li>
			<a href="/" class="evo-off-canvas-list-item-anchor">
				<span class="evo-off-canvas-list-item-anchor-cell evo-off-canvas-list-item-anchor-text">Sign Out</span>
			</a>
		</li>
	</ul>

</aside>

<a href="javascript:;" class="exit-off-canvas"></a>