<div class="fixed">
	<nav class="top-bar evo-ep-title-bar" data-topbar role="navigation">

		<div class="row">
			<div class="small-2 columns">
				<a href="#" class="evo-ep-title-bar-icon">
					<i class="evo-icon-arrow-left2 evo-icon-size-medium" title="Back"></i>
				</a>
			</div>
			<div class="small-8 columns">
				<h6 class="text-center evo-ep-title-bar-title">Tell Us About Yourself</h6>
			</div>
			<div class="small-2 columns">
				<div class="text-right evo-ep-title-bar-count">2/3</div>
			</div>
		</div>
		
	</nav>
</div>