<div class="fixed">
	<nav class="top-bar evo-title-bar" data-topbar role="navigation">

		<div class="row">
			<div class="small-2 columns evo-title-bar-icon-column">
				<a href="/ep/index" class="evo-title-bar-icon" title="Back">
					<i class="evo-icon-arrow-left2 evo-icon-size-medium"></i>
				</a>
			</div>
			<div class="small-8 columns evo-title-bar-title-column">
				<h6 class="text-center evo-title-bar-title">Tell Us About Yourself</h6>
			</div>
			<div class="small-2 columns evo-title-bar-count-column">
				<div class="text-right evo-title-bar-count">2/3</div>
			</div>
		</div>
		
	</nav>
</div>