<!-- TYPE - TEXT WORD BREAK - BEGINS -->
<p class="evo-word-break-container-dimensions evo-word-break">
	 This paragraph contains a very long word: thisisaveryveryveryveryveryverylongword.
</p>
<!-- TYPE - TEXT WORD BREAK - ENDS -->