<!-- TYPE - HEADER - DOUBLE RULE - BEGINS -->
<h1 class="evo-hdr-dbl-rule">h1 - Header</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ordered list item one. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

<h2 class="evo-hdr-dbl-rule">h2 - Header</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ordered list item one. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

<h3 class="evo-hdr-dbl-rule">h3 - Header</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ordered list item one. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
<!-- TYPE - HEADER - DOUBLE RULE - ENDS -->