<!-- TYPE - BLOCKQUOTE - BEGINS -->
<blockquote>
	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim.</p>
	<cite>John Doe, Expert</cite>
</blockquote>
<!-- TYPE - BLOCKQUOTE - ENDS -->