<!-- MASTHEAD TOP BAR - BEGINS -->
<div class="top-bar evo-top-bar evo-top-bar-masthead" data-topbar>
	
	<!-- TOP BAR TITLE AREA - BEGINS -->
	<ul class="title-area">
		<li class="name">
			<h1><a href="#">Mercer <span class="evo-top-bar-sub-name">Evolution</span></a></h1>
		</li>
	</ul>
	<!-- TOP BAR TITLE AREA - ENDS -->

	<!-- TOP BAR NAV SECTION - BEGINS -->
	<section class="top-bar-section">

		<!-- TOP BAR RIGHT NAV SECTION - BEGINS -->
		<ul class="right">
			<li class="divider"></li>
			<li class="has-dropdown">
				<a>Arquimedez Pozo</a>
				<ul class="dropdown">
					<li class="divider"></li>
					<li>
						<a href="#">View Profile</a>
					</li>
					<li class="divider"></li>
					<li class="active">
						<a href="#">Change Language</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="#">User Administration</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="#">Log Out</a>
					</li>
				</ul>
			</li>
			<li class="divider"></li>
		</ul>
		<!-- TOP BAR RIGHT NAV SECTION - ENDS -->

	</section>
	<!-- TOP BAR NAV SECTION - ENDS -->

</div>
<!-- MASTHEAD TOP BAR - ENDS -->