<header role="banner" class="evo-header evo-product-header">

	<!-- TOP BAR CONTAINER - BEGINS -->
	<div class="contain-to-grid show-for-large-up evo-header-ctn">
		{% include '/objects/header/masthead' %}
		{% include '/objects/navigation/navbar' %}
	</div>
	<!-- TOP BAR CONTAINER - ENDS -->

</header>
