<!-- SWITCHES CHECKBOXES- BEGINS -->
<div class="switch"> 
	<input id="exampleCheckboxSwitch" type="checkbox"> 
	<label for="exampleCheckboxSwitch"></label> 
</div>
<!-- SWITCHES CHECKBOXES - ENDS -->