<!-- REVEAL MODAL COMPONENT - BEGINS -->
<a href="javascript:;" class="button radius evo-button" data-reveal-id="tinyModal" id="" tabindex="" title="">Launch Modal</a>
<div id="tinyModal" class="reveal-modal tiny" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	<h4>Plan Details</h4>
	{{ 2 | lorem_ipsum:'p' }}
	<a href="#/" class="button radius evo-button evo-no-margin-bottom" id="" role="button" title="Done" aria-label="Done">Done</a>
	<a class="close-reveal-modal" aria-label="Close"><i class="evo-icon-cancel-circle"></i></a>
</div>
<!-- REVEAL MODAL COMPONENT - ENDS -->