<!-- ICON SHIELD - MEDIUM - BEGINS -->
<a class="evo-icon-shield evo-icon-shield-size-medium evo-icon-position-left" href="#/" title="" aria-label=""><i class="evo-icon-alarm-check"></i></a>
<!-- ICON SHIELD - MEDIUM - ENDS -->