<!-- ICON SHIELD - SMALL - BEGINS -->
<a class="evo-icon-shield evo-icon-shield-size-small evo-icon-position-left" href="#/" title="" aria-label=""><i class="evo-icon-alarm-check"></i></a>
<!-- ICON SHIELD - SMALL - ENDS -->