<!-- ICON - POSITION TOP - BEGINS -->
<label class="text-center">
	<i class="evo-icon-alarm-check evo-icon-position-top" title="" aria-label=""></i>
	Label
</label>
<!-- ICON - POSITION TOP - ENDS -->