<!-- PRIMARY COMPANY LOGO - BEGINS -->
	<div class="mul-primary-logo">
		<img src="{{ "mercer_logo_126x18.png" | asset_url }}" alt="Mercer" width="126" height="18" title="Mercer" />
	</div>
<!-- PRIMARY COMPANY LOGO - ENDS -->