<header role="banner" class="evo-header">

	<!-- HEADER TOOLBAR WIDTH ADJUST - BEGINS -->
	<div class="row collapse">

		<!-- HEADER TOOLBAR TOPBAR - BEGINS -->
		<nav class="top-bar hide-for-small" data-topbar role="navigation" data-options="is_hover: false">
			
			<!-- HEADER TOOLBAR TOPBAR TITLE AREA - BEGINS -->
			<ul class="title-area">
				<li class="name">
					<h1><a href="#">Mercer <span>Evolution</span></a></h1>
				</li>
			</ul>
			<!-- HEADER TOOLBAR TOPBAR TITLE AREA - ENDS -->

			<!-- HEADER TOOLBAR TOPBAR NAV SECTIONS - BEGINS -->
			<section class="top-bar-section">

				<!-- HEADER TOOLBAR TOPBAR RIGHT NAV SECTION - BEGINS -->
				<ul class="right">
					<li class="active">
						<a href="#">Right Button Active</a>
					</li>
					<li class="has-dropdown">
						<a href="#">Right Button Dropdown</a>
						<ul class="dropdown">
							<li>
								<label>Level One</label>
							</li>
							<li class="has-dropdown">
								<a href="#">First link in dropdown</a>
								<ul class="dropdown">
									<li>
										<label>Level Two</label>
										<a href="#">First link in dropdown</a>
									</li>
								</ul>
							</li>
							<li class="active">
								<a href="#">Active link in dropdown</a>
							</li>
						</ul>
					</li>
				</ul>
				<!-- HEADER TOOLBAR TOPBAR RIGHT NAV SECTION - ENDS -->

				<!-- HEADER TOOLBAR TOPBAR LEFT NAV SECTION - BEGINS -->
				<ul class="left">
					<li>
						<a href="#">Left Nav Button</a>
					</li>
				</ul>
				<!-- HEADER TOOLBAR TOPBAR LEFT NAV SECTION - ENDS -->

			</section>
			<!-- HEADER TOOLBAR TOPBAR NAV SECTIONS - ENDS -->

		</nav>
		<!-- HEADER TOOLBAR TOPBAR - ENDS -->

	</div>
	<!-- HEADER TOOLBAR WIDTH ADJUST - ENDS -->

</header>


<br />
<br />
<br />
<br />


<header role="banner" class="evo-header evo-header-toolbar">

	<!-- HEADER TOOLBAR WIDTH ADJUST - BEGINS -->
	<div class="row collapse evo-header-toolbar-adjust">

		<!-- HEADER TOOLBAR TOPBAR - BEGINS -->
		<nav class="top-bar hide-for-small evo-header-toolbar-topbar" data-topbar role="navigation" data-options="is_hover: false">
			
			<!-- HEADER TOOLBAR TOPBAR TITLE AREA - BEGINS -->
			<ul class="title-area">
				<li class="name">
					<h1><a href="#">Mercer <span>Evolution</span></a></h1>
				</li>
			</ul>
			<!-- HEADER TOOLBAR TOPBAR TITLE AREA - ENDS -->

			<!-- HEADER TOOLBAR TOPBAR NAV SECTIONS - BEGINS -->
			<section class="top-bar-section">

				<!-- HEADER TOOLBAR TOPBAR RIGHT NAV SECTION - BEGINS -->
				<ul class="right">
					<li class="active">
						<a href="#">Right Button Active</a>
					</li>
					<li class="has-dropdown">
						<a href="#">Right Button Dropdown</a>
						<ul class="dropdown">
							<li>
								<label>Level One</label>
							</li>
							<li class="has-dropdown">
								<a href="#">First link in dropdown</a>
								<ul class="dropdown">
									<li>
										<label>Level Two</label>
										<a href="#">First link in dropdown</a>
									</li>
								</ul>
							</li>
							<li class="active">
								<a href="#">Active link in dropdown</a>
							</li>
						</ul>
					</li>
				</ul>
				<!-- HEADER TOOLBAR TOPBAR RIGHT NAV SECTION - ENDS -->

				<!-- HEADER TOOLBAR TOPBAR LEFT NAV SECTION - BEGINS -->
				<ul class="left">
					<li>
						<a href="#">Left Nav Button</a>
					</li>
				</ul>
				<!-- HEADER TOOLBAR TOPBAR LEFT NAV SECTION - ENDS -->

			</section>
			<!-- HEADER TOOLBAR TOPBAR NAV SECTIONS - ENDS -->

		</nav>
		<!-- HEADER TOOLBAR TOPBAR - ENDS -->

	</div>
	<!-- HEADER TOOLBAR WIDTH ADJUST - ENDS -->

</header>