<header role="banner" class="evo-header evo-header-toolbar">

	<!-- HEADER TOOLBAR TOP BAR CONTAINER - BEGINS -->
	<div class="fixed show-for-large-up evo-header-ctn">

		<!-- HEADER TOOLBAR TOP BAR - BEGINS -->
		<nav class="top-bar evo-top-bar" data-topbar role="navigation" aria-hidden="true">
			
			<!-- HEADER TOOLBAR TOP BAR TITLE AREA - BEGINS -->
			<ul class="title-area">
				<li class="name">
					<h1><a href="/">Mercer <span class="evo-top-bar-sub-name">Evolution</span></a></h1>
				</li>
			</ul>
			<!-- HEADER TOOLBAR TOP BAR TITLE AREA - ENDS -->

			<!-- HEADER TOOLBAR TOP BAR NAV SECTION - BEGINS -->
			<section class="top-bar-section">

				<!-- HEADER TOOLBAR TOP BAR RIGHT NAV SECTION - BEGINS -->
				<ul class="right">
					<li {% if mixture.url == "" %}class="active"{% endif %}>
						<a href="#">Overview</a>
					</li>
					<li {% if mixture.url == "index" %}class="active"{% endif %}>
						<a href="/">Library</a>
					</li>
					<li {% if mixture.url == "design-principles" %}class="active"{% endif %}>
						<a href="/design-principles">Principles</a>
					</li>
					<li {% if mixture.url == "browser-testing-support" %}class="active"{% endif %}>
						<a href="/browser-testing-support">Browser Support</a>
					</li>
					<li {% if mixture.url == "quick-reference" %}class="active"{% endif %}>
						<a href="/quick-reference">Reference</a>
					</li>
					<li class="has-dropdown">
						<a class="evo-icon-menu3"></a>
						<ul class="dropdown">
							<li>
								<a href="#">View Profile</a>
							</li>
							<li class="divider"></li>
							<li class="active">
								<a href="#">Change Language</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">User Administration</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">Log Out</a>
							</li>
						</ul>
					</li>
				</ul>
				<!-- HEADER TOOLBAR TOP BAR RIGHT NAV SECTION - ENDS -->

			</section>
			<!-- HEADER TOOLBAR TOP BAR NAV SECTION - ENDS -->

		</nav>
		<!-- HEADER TOOLBAR TOP BAR - ENDS -->

	</div>
	<!-- HEADER TOOLBAR TOP BAR CONTAINER - ENDS -->

</header>

<br />
<br />
<br />
<br />

<header role="banner" class="evo-header evo-header-toolbar">

	<!-- HEADER TOOLBAR TOP BAR CONTAINER - BEGINS -->
	<div class="show-for-large-up evo-header-ctn">

		<!-- HEADER TOOLBAR TOP BAR - BEGINS -->
		<nav class="top-bar evo-top-bar" data-topbar role="navigation" aria-hidden="true">
			
			<!-- HEADER TOOLBAR TOP BAR TITLE AREA - BEGINS -->
			<ul class="title-area">
				<li class="name">
					<h1><a href="/">Mercer <span class="evo-top-bar-sub-name">Evolution</span></a></h1>
				</li>
			</ul>
			<!-- HEADER TOOLBAR TOP BAR TITLE AREA - ENDS -->

			<!-- HEADER TOOLBAR TOP BAR NAV SECTION - BEGINS -->
			<section class="top-bar-section">

				<!-- HEADER TOOLBAR TOP BAR RIGHT NAV SECTION - BEGINS -->
				<ul class="right">
					<li>
						<a href="#">Home</a>
					</li>
					<li class="active">
						<a href="#">Product</a>
					</li>
					<li>
						<a href="#">Company</a>
					</li>
					<li>
						<a href="#">Blog</a>
					</li>
					<li class="has-dropdown">
						<a>Arquimedez Pozo</a>
						<ul class="dropdown">
							<li class="divider"></li>
							<li>
								<a href="#">View Profile</a>
							</li>
							<li class="divider"></li>
							<li class="active">
								<a href="#">Change Language</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">User Administration</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">Log Out</a>
							</li>
						</ul>
					</li>
					<li>
						<a class="evo-icon-envelop" href="#"></a>
					</li>
					<li>
						<a class="evo-icon-basket" href="#"></a>
					</li>
					<li class="has-dropdown">
						<a class="evo-icon-menu3"></a>
						<ul class="dropdown">
							<li>
								<a href="#">View Profile</a>
							</li>
							<li class="divider"></li>
							<li class="active">
								<a href="#">Change Language</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">User Administration</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">Log Out</a>
							</li>
						</ul>
					</li>
				</ul>
				<!-- HEADER TOOLBAR TOP BAR RIGHT NAV SECTION - ENDS -->

			</section>
			<!-- HEADER TOOLBAR TOP BAR NAV SECTION - ENDS -->

		</nav>
		<!-- HEADER TOOLBAR TOP BAR - ENDS -->

	</div>
	<!-- HEADER TOOLBAR TOP BAR CONTAINER - ENDS -->

</header>

<br />
<br />
<br />
<br />

<header role="banner" class="evo-header evo-header-toolbar">

	<!-- HEADER TOOLBAR TOP BAR CONTAINER - BEGINS -->
	<div class="show-for-large-up evo-header-ctn">

		<!-- HEADER TOOLBAR TOP BAR - BEGINS -->
		<nav class="top-bar evo-top-bar" data-topbar role="navigation" aria-hidden="true">
			
			<!-- HEADER TOOLBAR TOP BAR TITLE AREA - BEGINS -->
			<ul class="title-area">
				<li class="name">
					<h1><a href="#">Mercer <span class="evo-top-bar-sub-name">Evolution</span></a></h1>
				</li>
			</ul>
			<!-- HEADER TOOLBAR TOP BAR TITLE AREA - ENDS -->

			<!-- HEADER TOOLBAR TOP BAR NAV SECTION - BEGINS -->
			<section class="top-bar-section">

				<!-- HEADER TOOLBAR TOP BAR RIGHT NAV SECTION - BEGINS -->
				<ul class="right">
					<li>
						<a href="#">Home</a>
					</li>
					<li class="active">
						<a href="#">Product</a>
					</li>
					<li>
						<a href="#">Company</a>
					</li>
					<li>
						<a href="#">Blog</a>
					</li>
					<li class="has-dropdown">
						<a>Arquimedez Pozo</a>
						<ul class="dropdown">
							<li class="divider"></li>
							<li>
								<a href="#">View Profile</a>
							</li>
							<li class="divider"></li>
							<li class="active">
								<a href="#">Change Language</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">User Administration</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">Log Out</a>
							</li>
						</ul>
					</li>
					<li>
						<a class="evo-icon-envelop" href="#"></a>
					</li>
					<li>
						<a class="evo-icon-basket" href="#"></a>
					</li>
					<li class="has-dropdown">
						<a class="evo-icon-menu3"></a>
						<ul class="dropdown">
							<li class="has-dropdown">
								<a href="#">link with subs</a>
								<ul class="dropdown">
									<li class="has-dropdown">
										<a href="#">link with subs</a>
										<ul class="dropdown">
											<li class="has-dropdown">
												<a href="#">link with subs</a>
												<ul class="dropdown">
													<li>
														<a href="#">link</a>
													</li>
													<li class="divider"></li>
													<li>
														<a href="#">link</a>
													</li>
													<li class="divider"></li>
													<li>
														<a href="#">link</a>
													</li>
												</ul>
											</li>
											<li class="divider"></li>
											<li>
												<a href="#">link</a>
											</li>
											<li class="divider"></li>
											<li>
												<a href="#">link</a>
											</li>
										</ul>
									</li>
									<li class="divider"></li>
									<li>
										<a href="#">link</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="#">link</a>
									</li>
									<li class="divider"></li>
								</ul>
							</li>
							<li class="divider"></li>
							<li class="active">
								<a href="#">Active link in dropdown</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">link</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">link</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">link</a>
							</li>
						</ul>
					</li>
				</ul>
				<!-- HEADER TOOLBAR TOP BAR RIGHT NAV SECTION - ENDS -->

			</section>
			<!-- HEADER TOOLBAR TOP BAR NAV SECTION - ENDS -->

		</nav>
		<!-- HEADER TOOLBAR TOP BAR - ENDS -->

	</div>
	<!-- HEADER TOOLBAR TOP BAR CONTAINER - ENDS -->

</header>

<br />
<br />
<br />
<br />

<header role="banner" class="evo-header evo-header-toolbar">

	<!-- HEADER TOOLBAR TOP BAR CONTAINER - BEGINS -->
	<div class="show-for-large-up evo-header-ctn">

		<!-- HEADER TOOLBAR TOP BAR - BEGINS -->
		<nav class="top-bar evo-top-bar" data-topbar role="navigation" aria-hidden="true">
			
			<!-- HEADER TOOLBAR TOP BAR TITLE AREA - BEGINS -->
			<ul class="title-area">
				<li class="name">
					<h1><a href="#">Mercer <span class="evo-top-bar-sub-name">Evolution</span></a></h1>
				</li>
			</ul>
			<!-- HEADER TOOLBAR TOP BAR TITLE AREA - ENDS -->

			<!-- HEADER TOOLBAR TOP BAR NAV SECTION - BEGINS -->
			<section class="top-bar-section">

				<!-- HEADER TOOLBAR TOP BAR RIGHT NAV SECTION - BEGINS -->
				<ul class="right">
					<li>
						<a href="#">
							<i class="evo-icon-home evo-icon-position-left"></i>
							Home
						</a>
					</li>
					<li class="active">
						<a href="#">
							<i class="evo-icon-briefcase2 evo-icon-position-left"></i>
							Product
						</a>
					</li>
					<li>
						<a href="#">
							<i class="evo-icon-office evo-icon-position-left"></i>
							Company
						</a>
					</li>
					<li>
						<a href="#">
							<i class="evo-icon-bubbles evo-icon-position-left"></i>
							Blog
						</a>
					</li>
					<li class="has-dropdown">
						<a>Arquimedez Pozo</a>
						<ul class="dropdown">
							<li class="divider"></li>
							<li>
								<a href="#">View Profile</a>
							</li>
							<li class="divider"></li>
							<li class="active">
								<a href="#">Change Language</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">User Administration</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">Log Out</a>
							</li>
						</ul>
					</li>
					<li>
						<a class="evo-icon-envelop" href="#"></a>
					</li>
					<li>
						<a class="evo-icon-basket" href="#"></a>
					</li>
					<li class="has-dropdown">
						<a class="evo-icon-menu3"></a>
						<ul class="dropdown">
							<li class="has-dropdown">
								<a href="#">link with subs</a>
								<ul class="dropdown">
									<li class="has-dropdown">
										<a href="#">link with subs</a>
										<ul class="dropdown">
											<li class="has-dropdown">
												<a href="#">link with subs</a>
												<ul class="dropdown">
													<li>
														<a href="#">link</a>
													</li>
													<li class="divider"></li>
													<li>
														<a href="#">link</a>
													</li>
													<li class="divider"></li>
													<li>
														<a href="#">link</a>
													</li>
												</ul>
											</li>
											<li class="divider"></li>
											<li>
												<a href="#">link</a>
											</li>
											<li class="divider"></li>
											<li>
												<a href="#">link</a>
											</li>
										</ul>
									</li>
									<li class="divider"></li>
									<li>
										<a href="#">link</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="#">link</a>
									</li>
									<li class="divider"></li>
								</ul>
							</li>
							<li class="divider"></li>
							<li class="active">
								<a href="#">Active link in dropdown</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">link</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">link</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">link</a>
							</li>
						</ul>
					</li>
				</ul>
				<!-- HEADER TOOLBAR TOP BAR RIGHT NAV SECTION - ENDS -->

			</section>
			<!-- HEADER TOOLBAR TOP BAR NAV SECTION - ENDS -->

		</nav>
		<!-- HEADER TOOLBAR TOP BAR - ENDS -->

	</div>
	<!-- HEADER TOOLBAR TOP BAR CONTAINER - ENDS -->

</header>

<br />
<br />
<br />
<br />

<header role="banner" class="evo-header">

	<!-- TOP BAR CONTAINER - BEGINS -->
	<div class="show-for-large-up evo-header-ctn">

		<!-- TOP BAR - BEGINS -->
		<nav class="top-bar evo-top-bar" data-topbar role="navigation" aria-hidden="true">
			
			<!-- TOP BAR TITLE AREA - BEGINS -->
			<ul class="title-area">
				<li class="name">
					<h1><a href="#">Mercer <span class="evo-top-bar-sub-name">Evolution</span></a></h1>
				</li>
			</ul>
			<!-- TOP BAR TITLE AREA - ENDS -->

			<!-- TOP BAR NAV SECTION - BEGINS -->
			<section class="top-bar-section">

				<!-- TOP BAR RIGHT NAV SECTION - BEGINS -->
				<ul class="right">
					<li class="has-dropdown">
						<a>Arquimedez Pozo</a>
						<ul class="dropdown">
							<li class="divider"></li>
							<li>
								<a href="#">View Profile</a>
							</li>
							<li class="divider"></li>
							<li class="active">
								<a href="#">Change Language</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">User Administration</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">Log Out</a>
							</li>
						</ul>
					</li>
					<li>
						<a class="evo-icon-envelop" href="#"></a>
					</li>
					<li>
						<a class="evo-icon-basket" href="#"></a>
					</li>
					<li class="has-dropdown">
						<a class="evo-icon-menu3"></a>
						<ul class="dropdown">
							<li>
								<a href="#">View Profile</a>
							</li>
							<li class="divider"></li>
							<li class="active">
								<a href="#">Change Language</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">User Administration</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">Log Out</a>
							</li>
						</ul>
					</li>
				</ul>
				<!-- TOP BAR RIGHT NAV SECTION - ENDS -->

				<!-- TOP BAR LEFT NAV SECTION - BEGINS -->
				<ul class="left">
					<li>
						<a href="#">Home</a>
					</li>
					<li class="active">
						<a href="#">Product</a>
					</li>
					<li>
						<a href="#">Company</a>
					</li>
					<li>
						<a href="#">Blog</a>
					</li>
				</ul>
				<!-- TOP BAR LEFT NAV SECTION - ENDS -->

			</section>
			<!-- TOP BAR NAV SECTION - ENDS -->

		</nav>
		<!-- TOP BAR - ENDS -->

	</div>
	<!-- TOP BAR CONTAINER - ENDS -->

</header>

<br />
<br />
<br />
<br />

<header role="banner" class="evo-header">

	<!-- TOP BAR CONTAINER - BEGINS -->
	<div class="contain-to-grid show-for-large-up evo-header-ctn">

		<!-- TOP BAR - BEGINS -->
		<nav class="top-bar evo-top-bar" data-topbar role="navigation" aria-hidden="true">
			
			<!-- TOP BAR TITLE AREA - BEGINS -->
			<ul class="title-area">
				<li class="name">
					<h1><a href="#">Mercer <span class="evo-top-bar-sub-name">Evolution</span></a></h1>
				</li>
			</ul>
			<!-- TOP BAR TITLE AREA - ENDS -->

			<!-- TOP BAR NAV SECTION - BEGINS -->
			<section class="top-bar-section">

				<!-- TOP BAR RIGHT NAV SECTION - BEGINS -->
				<ul class="right">
					<li class="has-dropdown">
						<a>Arquimedez Pozo</a>
						<ul class="dropdown">
							<li class="divider"></li>
							<li>
								<a href="#">View Profile</a>
							</li>
							<li class="divider"></li>
							<li class="active">
								<a href="#">Change Language</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">User Administration</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">Log Out</a>
							</li>
						</ul>
					</li>
					<li>
						<a class="evo-icon-envelop" href="#"></a>
					</li>
					<li>
						<a class="evo-icon-basket" href="#"></a>
					</li>
					<li class="has-dropdown">
						<a class="evo-icon-menu3"></a>
						<ul class="dropdown">
							<li>
								<a href="#">View Profile</a>
							</li>
							<li class="divider"></li>
							<li class="active">
								<a href="#">Change Language</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">User Administration</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">Log Out</a>
							</li>
						</ul>
					</li>
				</ul>
				<!-- TOP BAR RIGHT NAV SECTION - ENDS -->

				<!-- TOP BAR LEFT NAV SECTION - BEGINS -->
				<ul class="left">
					<li>
						<a href="#">Home</a>
					</li>
					<li class="active">
						<a href="#">Product</a>
					</li>
				</ul>
				<!-- TOP BAR LEFT NAV SECTION - ENDS -->

			</section>
			<!-- TOP BAR NAV SECTION - ENDS -->

		</nav>
		<!-- TOP BAR - ENDS -->

	</div>
	<!-- TOP BAR CONTAINER - ENDS -->

</header>

<br />
<br />
<br />
<br />

<header role="banner" class="evo-header">

	<!-- TOP BAR CONTAINER - BEGINS -->
	<div class="contain-to-grid show-for-large-up evo-header-ctn">

		<!-- TOP BAR - BEGINS -->
		<nav class="top-bar evo-top-bar" data-topbar role="navigation" aria-hidden="true">
			
			<!-- TOP BAR TITLE AREA - BEGINS -->
			<ul class="title-area">
				<li class="name">
					
				</li>
			</ul>
			<!-- TOP BAR TITLE AREA - ENDS -->

			<!-- TOP BAR NAV SECTION - BEGINS -->
			<section class="top-bar-section">

				<!-- TOP BAR RIGHT NAV SECTION - BEGINS -->
				<ul class="right">
					<li class="divider"></li>
					<li>
						<a href="#">Item</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="#">Item</a>
					</li>
					<li class="divider"></li>
					<li class="has-dropdown">
						<a class="evo-icon-menu3"></a>
						<ul class="dropdown">
							<li>
								<a href="#">View Profile</a>
							</li>
							<li class="divider"></li>
							<li class="active">
								<a href="#">Change Language</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">User Administration</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">Log Out</a>
							</li>
						</ul>
					</li>
					<li class="divider"></li>
				</ul>
				<!-- TOP BAR RIGHT NAV SECTION - ENDS -->

				<!-- TOP BAR LEFT NAV SECTION - BEGINS -->
				<ul class="left">
					<li class="divider"></li>
					<li class="has-dropdown">
						<a class="evo-icon-menu3"></a>
						<ul class="dropdown">
							<li>
								<a href="#">View Profile</a>
							</li>
							<li class="divider"></li>
							<li class="active">
								<a href="#">Change Language</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">User Administration</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">Log Out</a>
							</li>
						</ul>
					</li>
					<li class="divider"></li>
					<li class="active">
						<a href="#">Item 1</a>
					</li>
					<li class="divider"></li>
					<li class="has-dropdown">
						<a>Item 2 Dropdown</a>
						<ul class="dropdown">
							<li>
								<label>Level One</label>
							</li>
							<li class="has-dropdown">
								<a href="#">link with subs</a>
								<ul class="dropdown">
									<li>
										<label>Level Two</label>
									</li>
									<li class="has-dropdown">
										<a href="#">link with subs</a>
										<ul class="dropdown">
											<li>
												<label>Level Three</label>
											</li>
											<li class="has-dropdown">
												<a href="#">link with subs</a>
												<ul class="dropdown">
													<li>
														<label>Level Four</label>
													</li>
													<li>
														<a href="#">link</a>
													</li>
													<li class="divider"></li>
													<li>
														<a href="#">link</a>
													</li>
													<li class="divider"></li>
													<li>
														<a href="#">link</a>
													</li>
												</ul>
											</li>
											<li class="divider"></li>
											<li>
												<a href="#">link</a>
											</li>
											<li class="divider"></li>
											<li>
												<a href="#">link</a>
											</li>
										</ul>
									</li>
									<li class="divider"></li>
									<li>
										<a href="#">link</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="#">link</a>
									</li>
									<li class="divider"></li>
								</ul>
							</li>
							<li class="divider"></li>
							<li class="active">
								<a href="#">Active link in dropdown</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">link</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">link</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">link</a>
							</li>
						</ul>
					</li>
					<li class="divider"></li>
					<li>
						<a href="#">Item 3</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="#">Item 4</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="#">Item 5</a>
					</li>
					<li class="divider"></li>
					<li class="has-dropdown">
						<a class="evo-icon-menu3"></a>
						<ul class="dropdown">
							<li>
								<a href="#">View Profile</a>
							</li>
							<li class="divider"></li>
							<li class="active">
								<a href="#">Change Language</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">User Administration</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">Log Out</a>
							</li>
						</ul>
					</li>
					<li class="divider"></li>
				</ul>
				<!-- TOP BAR LEFT NAV SECTION - ENDS -->

			</section>
			<!-- TOP BAR NAV SECTION - ENDS -->

		</nav>
		<!-- TOP BAR - ENDS -->

	</div>
	<!-- TOP BAR CONTAINER - ENDS -->

</header>

<br />
<br />
<br />
<br />

<header role="banner" class="evo-header">

	<!-- TOP BAR CONTAINER - BEGINS -->
	<div class="contain-to-grid sticky show-for-large-up evo-header-ctn">

		<!-- TOP BAR - BEGINS -->
		<div class="top-bar evo-top-bar" data-topbar>
			
			<!-- TOP BAR TITLE AREA - BEGINS -->
			<ul class="title-area">
				<li class="name">
					<h1><a href="#">Pension Risk Exchange</a></h1>
				</li>
			</ul>
			<!-- TOP BAR TITLE AREA - ENDS -->

			<!-- TOP BAR NAV SECTION - BEGINS -->
			<section class="top-bar-section">

				<!-- TOP BAR RIGHT NAV SECTION - BEGINS -->
				<ul class="right">
					<li class="divider"></li>
					<li class="has-dropdown">
						<a>Arquimedez Pozo</a>
						<ul class="dropdown">
							<li class="divider"></li>
							<li>
								<a href="#">View Profile</a>
							</li>
							<li class="divider"></li>
							<li class="active">
								<a href="#">Change Language</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">User Administration</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">Log Out</a>
							</li>
						</ul>
					</li>
					<li class="divider"></li>
				</ul>
				<!-- TOP BAR RIGHT NAV SECTION - ENDS -->

			</section>
			<!-- TOP BAR NAV SECTION - ENDS -->

		</div>
		<!-- TOP BAR - ENDS -->

		<!-- TOP BAR - BEGINS -->
		<nav class="top-bar evo-top-bar" data-topbar role="navigation" aria-hidden="true">
			
			<!-- TOP BAR TITLE AREA - BEGINS -->
			<ul class="title-area">
				<li class="name">
					
				</li>
			</ul>
			<!-- TOP BAR TITLE AREA - ENDS -->

			<!-- TOP BAR NAV SECTION - BEGINS -->
			<section class="top-bar-section">

				<!-- TOP BAR RIGHT NAV SECTION - BEGINS -->
				<ul class="right">
					<li class="divider"></li>
					<li>
						<a href="#">Item</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="#">Item</a>
					</li>
					<li class="divider"></li>
					<li class="has-dropdown">
						<a class="evo-icon-menu3"></a>
						<ul class="dropdown">
							<li>
								<a href="#">View Profile</a>
							</li>
							<li class="divider"></li>
							<li class="active">
								<a href="#">Change Language</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">User Administration</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">Log Out</a>
							</li>
						</ul>
					</li>
					<li class="divider"></li>
				</ul>
				<!-- TOP BAR RIGHT NAV SECTION - ENDS -->

				<!-- TOP BAR LEFT NAV SECTION - BEGINS -->
				<ul class="left">
					<li class="divider"></li>
					<li class="has-dropdown">
						<a class="evo-icon-menu3"></a>
						<ul class="dropdown">
							<li>
								<a href="#">View Profile</a>
							</li>
							<li class="divider"></li>
							<li class="active">
								<a href="#">Change Language</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">User Administration</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">Log Out</a>
							</li>
						</ul>
					</li>
					<li class="divider"></li>
					<li class="active">
						<a href="#">Item 1</a>
					</li>
					<li class="divider"></li>
					<li class="has-dropdown">
						<a>Item 2 Dropdown</a>
						<ul class="dropdown">
							<li>
								<label>Level One</label>
							</li>
							<li class="has-dropdown">
								<a href="#">link with subs</a>
								<ul class="dropdown">
									<li>
										<label>Level Two</label>
									</li>
									<li class="has-dropdown">
										<a href="#">link with subs</a>
										<ul class="dropdown">
											<li>
												<label>Level Three</label>
											</li>
											<li class="has-dropdown">
												<a href="#">link with subs</a>
												<ul class="dropdown">
													<li>
														<label>Level Four</label>
													</li>
													<li>
														<a href="#">link</a>
													</li>
													<li class="divider"></li>
													<li>
														<a href="#">link</a>
													</li>
													<li class="divider"></li>
													<li>
														<a href="#">link</a>
													</li>
												</ul>
											</li>
											<li class="divider"></li>
											<li>
												<a href="#">link</a>
											</li>
											<li class="divider"></li>
											<li>
												<a href="#">link</a>
											</li>
										</ul>
									</li>
									<li class="divider"></li>
									<li>
										<a href="#">link</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="#">link</a>
									</li>
									<li class="divider"></li>
								</ul>
							</li>
							<li class="divider"></li>
							<li class="active">
								<a href="#">Active link in dropdown</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">link</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">link</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">link</a>
							</li>
						</ul>
					</li>
					<li class="divider"></li>
					<li>
						<a href="#">Item 3</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="#">Item 4</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="#">Item 5</a>
					</li>
					<li class="divider"></li>
					<li class="has-dropdown">
						<a class="evo-icon-menu3"></a>
						<ul class="dropdown">
							<li>
								<a href="#">View Profile</a>
							</li>
							<li class="divider"></li>
							<li class="active">
								<a href="#">Change Language</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">User Administration</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">Log Out</a>
							</li>
						</ul>
					</li>
					<li class="divider"></li>
				</ul>
				<!-- TOP BAR LEFT NAV SECTION - ENDS -->

			</section>
			<!-- TOP BAR NAV SECTION - ENDS -->

		</nav>
		<!-- TOP BAR - ENDS -->

	</div>
	<!-- TOP BAR CONTAINER - ENDS -->

</header>