<header role="banner" class="evo-header evo-header-toolbar">

	<!-- HEADER TOOLBAR TOPBAR CONTAINER - BEGINS -->
	<div class="fixed hide-for-small">

		<!-- HEADER TOOLBAR TOPBAR - BEGINS -->
		<nav class="top-bar evo-top-bar" data-topbar role="navigation" aria-hidden="true">
			
			<!-- HEADER TOOLBAR TOPBAR TITLE AREA - BEGINS -->
			<ul class="title-area">
				<li class="name">
					<h1><a href="/">Mercer <span class="evo-top-bar-sub-name">Evolution</span></a></h1>
				</li>
			</ul>
			<!-- HEADER TOOLBAR TOPBAR TITLE AREA - ENDS -->

			<!-- HEADER TOOLBAR TOPBAR NAV SECTIONS - BEGINS -->
			<section class="top-bar-section">

				<!-- HEADER TOOLBAR TOPBAR RIGHT NAV SECTION - BEGINS -->
				<ul class="right">
					<li class="active">
						<a href="#">Right Button Active</a>
					</li>
					<li class="has-dropdown">
						<a>Right Button Dropdown</a>
						<ul class="dropdown">
							<li>
								<label>Level One</label>
							</li>
							<li class="has-dropdown">
								<a href="#">link with subs</a>
								<ul class="dropdown">
									<li>
										<label>Level Two</label>
									</li>
									<li class="has-dropdown">
										<a href="#">link with subs</a>
										<ul class="dropdown">
											<li>
												<label>Level Three</label>
											</li>
											<li class="has-dropdown">
												<a href="#">link with subs</a>
												<ul class="dropdown">
													<li>
														<label>Level Four</label>
													</li>
													<li>
														<a href="#">link</a>
													</li>
													<li class="divider"></li>
													<li>
														<a href="#">link</a>
													</li>
													<li class="divider"></li>
													<li>
														<a href="#">link</a>
													</li>
												</ul>
											</li>
											<li class="divider"></li>
											<li>
												<a href="#">link</a>
											</li>
											<li class="divider"></li>
											<li>
												<a href="#">link</a>
											</li>
										</ul>
									</li>
									<li class="divider"></li>
									<li>
										<a href="#">link</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="#">link</a>
									</li>
									<li class="divider"></li>
								</ul>
							</li>
							<li class="divider"></li>
							<li class="active">
								<a href="#">Active link in dropdown</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">link</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">link</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">link</a>
							</li>
						</ul>
					</li>
				</ul>
				<!-- HEADER TOOLBAR TOPBAR RIGHT NAV SECTION - ENDS -->

			</section>
			<!-- HEADER TOOLBAR TOPBAR NAV SECTIONS - ENDS -->

		</nav>
		<!-- HEADER TOOLBAR TOPBAR - ENDS -->

	</div>
	<!-- HEADER TOOLBAR TOPBAR CONTAINER - ENDS -->

</header>

<br />
<br />
<br />
<br />

<header role="banner" class="evo-header evo-header-toolbar">

	<!-- HEADER TOOLBAR TOPBAR CONTAINER - BEGINS -->
	<div class="hide-for-small">

		<!-- HEADER TOOLBAR TOPBAR - BEGINS -->
		<nav class="top-bar evo-top-bar" data-topbar role="navigation" aria-hidden="true">
			
			<!-- HEADER TOOLBAR TOPBAR TITLE AREA - BEGINS -->
			<ul class="title-area">
				<li class="name">
					<h1><a href="#">Mercer <span class="evo-top-bar-sub-name">Evolution</span></a></h1>
				</li>
			</ul>
			<!-- HEADER TOOLBAR TOPBAR TITLE AREA - ENDS -->

			<!-- HEADER TOOLBAR TOPBAR NAV SECTIONS - BEGINS -->
			<section class="top-bar-section">

				<!-- HEADER TOOLBAR TOPBAR RIGHT NAV SECTION - BEGINS -->
				<ul class="right">
					<li class="divider"></li>
					<li class="active">
						<a href="#">Right Button Active</a>
					</li>
					<li class="divider"></li>
					<li class="has-dropdown">
						<a>Right Button Dropdown</a>
						<ul class="dropdown">
							<li>
								<label>Level One</label>
							</li>
							<li class="has-dropdown">
								<a href="#">link with subs</a>
								<ul class="dropdown">
									<li>
										<label>Level Two</label>
									</li>
									<li class="has-dropdown">
										<a href="#">link with subs</a>
										<ul class="dropdown">
											<li>
												<label>Level Three</label>
											</li>
											<li class="has-dropdown">
												<a href="#">link with subs</a>
												<ul class="dropdown">
													<li>
														<label>Level Four</label>
													</li>
													<li>
														<a href="#">link</a>
													</li>
													<li class="divider"></li>
													<li>
														<a href="#">link</a>
													</li>
													<li class="divider"></li>
													<li>
														<a href="#">link</a>
													</li>
												</ul>
											</li>
											<li class="divider"></li>
											<li>
												<a href="#">link</a>
											</li>
											<li class="divider"></li>
											<li>
												<a href="#">link</a>
											</li>
										</ul>
									</li>
									<li class="divider"></li>
									<li>
										<a href="#">link</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="#">link</a>
									</li>
									<li class="divider"></li>
								</ul>
							</li>
							<li class="divider"></li>
							<li class="active">
								<a href="#">Active link in dropdown</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">link</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">link</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">link</a>
							</li>
						</ul>
					</li>
				</ul>
				<!-- HEADER TOOLBAR TOPBAR RIGHT NAV SECTION - ENDS -->

			</section>
			<!-- HEADER TOOLBAR TOPBAR NAV SECTIONS - ENDS -->

		</nav>
		<!-- HEADER TOOLBAR TOPBAR - ENDS -->

	</div>
	<!-- HEADER TOOLBAR TOPBAR CONTAINER - ENDS -->

</header>

<br />
<br />
<br />
<br />

<header role="banner" class="evo-header">

	<!-- TOPBAR CONTAINER - BEGINS -->
	<div class="hide-for-small">

		<!-- TOPBAR - BEGINS -->
		<nav class="top-bar evo-top-bar" data-topbar role="navigation" aria-hidden="true">
			
			<!-- TOPBAR TITLE AREA - BEGINS -->
			<ul class="title-area">
				<li class="name">
					<h1><a href="#">Mercer <span class="evo-top-bar-sub-name">Evolution</span></a></h1>
				</li>
			</ul>
			<!-- TOPBAR TITLE AREA - ENDS -->

			<!-- TOPBAR NAV SECTIONS - BEGINS -->
			<section class="top-bar-section">

				<!-- TOPBAR RIGHT NAV SECTION - BEGINS -->
				<ul class="right">
					<li class="divider"></li>
					<li class="active">
						<a href="#">Right Button Active</a>
					</li>
					<li class="divider"></li>
					<li class="has-dropdown">
						<a>Right Button Dropdown</a>
						<ul class="dropdown">
							<li>
								<label>Level One</label>
							</li>
							<li class="active">
								<a href="#">Active link in dropdown</a>
							</li>
						</ul>
					</li>
				</ul>
				<!-- TOPBAR RIGHT NAV SECTION - ENDS -->

				<!-- TOPBAR LEFT NAV SECTION - BEGINS -->
				<ul class="left">
					<li class="divider"></li>
					<li>
						<a href="#">Left Nav Button</a>
					</li>
					<li class="divider"></li>
				</ul>
				<!-- TOPBAR LEFT NAV SECTION - ENDS -->

			</section>
			<!-- TOPBAR NAV SECTIONS - ENDS -->

		</nav>
		<!-- TOPBAR - ENDS -->

	</div>
	<!-- TOPBAR CONTAINER - ENDS -->

</header>

<br />
<br />
<br />
<br />

<header role="banner" class="evo-header">

	<!-- TOPBAR CONTAINER - BEGINS -->
	<div class="contain-to-grid sticky hide-for-small">

		<!-- TOPBAR - BEGINS -->
		<nav class="top-bar evo-top-bar" data-topbar role="navigation" aria-hidden="true">
			
			<!-- TOPBAR TITLE AREA - BEGINS -->
			<ul class="title-area">
				<li class="name">
					<h1><a href="#">Mercer <span class="evo-top-bar-sub-name">Evolution</span></a></h1>
				</li>
			</ul>
			<!-- TOPBAR TITLE AREA - ENDS -->

			<!-- TOPBAR NAV SECTIONS - BEGINS -->
			<section class="top-bar-section">

				<!-- TOPBAR RIGHT NAV SECTION - BEGINS -->
				<ul class="right">
					<li class="divider"></li>
					<li class="active">
						<a href="#">Right Button Active</a>
					</li>
					<li class="divider"></li>
					<li class="has-dropdown">
						<a>Right Button Dropdown</a>
						<ul class="dropdown">
							<li>
								<label>Level One</label>
							</li>
							<li class="active">
								<a href="#">Active link in dropdown</a>
							</li>
						</ul>
					</li>
					<li class="divider"></li>
				</ul>
				<!-- TOPBAR RIGHT NAV SECTION - ENDS -->

				<!-- TOPBAR LEFT NAV SECTION - BEGINS -->
				<ul class="left">
					<li class="divider"></li>
					<li>
						<a href="#">Left Nav Button</a>
					</li>
					<li class="divider"></li>
				</ul>
				<!-- TOPBAR LEFT NAV SECTION - ENDS -->

			</section>
			<!-- TOPBAR NAV SECTIONS - ENDS -->

		</nav>
		<!-- TOPBAR - ENDS -->

	</div>
	<!-- TOPBAR CONTAINER - ENDS -->

</header>

<br />
<br />
<br />
<br />

<header role="banner" class="evo-header">

	<!-- TOPBAR CONTAINER - BEGINS -->
	<div class="contain-to-grid hide-for-small">

		<!-- TOPBAR - BEGINS -->
		<nav class="top-bar" data-topbar role="navigation" aria-hidden="true">
			
			<!-- TOPBAR TITLE AREA - BEGINS -->
			<ul class="title-area">
				<li class="name">
					
				</li>
			</ul>
			<!-- TOPBAR TITLE AREA - ENDS -->

			<!-- TOPBAR NAV SECTIONS - BEGINS -->
			<section class="top-bar-section">

				<!-- TOPBAR RIGHT NAV SECTION - BEGINS -->
				<ul class="right">
					<li class="divider"></li>
					<li>
						<a href="#">Item</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="#">Item</a>
					</li>
					<li class="divider"></li>
				</ul>
				<!-- TOPBAR RIGHT NAV SECTION - ENDS -->

				<!-- TOPBAR LEFT NAV SECTION - BEGINS -->
				<ul class="left">
					<li class="divider"></li>
					<li>
						<a href="#">Item 1</a>
					</li>
					<li class="divider"></li>
					<li class="has-dropdown">
						<a>Item 2 Dropdown</a>
						<ul class="dropdown">
							<li>
								<label>Level One</label>
							</li>
							<li>
								<a href="#">Subitem 1</a>
							</li>
							<li>
								<a href="#">Subitem 2</a>
							</li>
							<li>
								<a href="#">Subitem 3</a>
							</li>
							<li class="active">
								<a href="#">Subitem active link</a>
							</li>
						</ul>
					</li>
					<li class="divider"></li>
					<li>
						<a href="#">Item 3</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="#">Item 4</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="#">Item 5</a>
					</li>
					<li class="divider"></li>
				</ul>
				<!-- TOPBAR LEFT NAV SECTION - ENDS -->

			</section>
			<!-- TOPBAR NAV SECTIONS - ENDS -->

		</nav>
		<!-- TOPBAR - ENDS -->

	</div>
	<!-- TOPBAR CONTAINER - ENDS -->

</header>

<br />
<br />
<br />
<br />

<header role="banner" class="evo-header">

	<!-- TOPBAR CONTAINER - BEGINS -->
	<div class="contain-to-grid hide-for-small">

		<!-- TOPBAR - BEGINS -->
		<div class="top-bar evo-top-bar" data-topbar>
			
			<!-- TOPBAR TITLE AREA - BEGINS -->
			<ul class="title-area">
				<li class="name">
					<h1><a href="#">Pension Risk Exchange</a></h1>
				</li>
			</ul>
			<!-- TOPBAR TITLE AREA - ENDS -->

			<!-- TOPBAR NAV SECTIONS - BEGINS -->
			<section class="top-bar-section">

				<!-- TOPBAR RIGHT NAV SECTION - BEGINS -->
				<ul class="right">
					<li class="divider"></li>
					<li class="has-dropdown">
						<a>Arquimedez Pozo</a>
						<ul class="dropdown">
							<li>
								<a href="#">View Profile</a>
							</li>
							<li>
								<a href="#">Change Language</a>
							</li>
							<li>
								<a href="#">User Administration</a>
							</li>
							<li>
								<a href="#">Log Out</a>
							</li>
						</ul>
					</li>
					<li class="divider"></li>
				</ul>
				<!-- TOPBAR RIGHT NAV SECTION - ENDS -->

			</section>
			<!-- TOPBAR NAV SECTIONS - ENDS -->

		</div>
		<!-- TOPBAR - ENDS -->

		<!-- TOPBAR - BEGINS -->
		<nav class="top-bar" data-topbar role="navigation" aria-hidden="true">
			
			<!-- TOPBAR TITLE AREA - BEGINS -->
			<ul class="title-area">
				<li class="name">
					
				</li>
			</ul>
			<!-- TOPBAR TITLE AREA - ENDS -->

			<!-- TOPBAR NAV SECTIONS - BEGINS -->
			<section class="top-bar-section">

				<!-- TOPBAR RIGHT NAV SECTION - BEGINS -->
				<ul class="right">
					<li class="divider"></li>
					<li>
						<a href="#">Item</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="#">Item</a>
					</li>
					<li class="divider"></li>
				</ul>
				<!-- TOPBAR RIGHT NAV SECTION - ENDS -->

				<!-- TOPBAR LEFT NAV SECTION - BEGINS -->
				<ul class="left">
					<li class="divider"></li>
					<li>
						<a href="#">Item 1</a>
					</li>
					<li class="divider"></li>
					<li class="has-dropdown">
						<a>Item 2 Dropdown</a>
						<ul class="dropdown">
							<li>
								<label>Level One</label>
							</li>
							<li>
								<a href="#">Subitem 1</a>
							</li>
							<li>
								<a href="#">Subitem 2</a>
							</li>
							<li>
								<a href="#">Subitem 3</a>
							</li>
							<li class="active">
								<a href="#">Subitem active link</a>
							</li>
						</ul>
					</li>
					<li class="divider"></li>
					<li>
						<a href="#">Item 3</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="#">Item 4</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="#">Item 5</a>
					</li>
					<li class="divider"></li>
				</ul>
				<!-- TOPBAR LEFT NAV SECTION - ENDS -->

			</section>
			<!-- TOPBAR NAV SECTIONS - ENDS -->

		</nav>
		<!-- TOPBAR - ENDS -->

	</div>
	<!-- TOPBAR CONTAINER - ENDS -->

</header>