<!-- MASTHEAD - BEGINS -->
	<div class="evo-masthead">
		<div class="row collapse">
		<!-- LEFT COLUMN - BEGINS -->
			<div class="small-8 columns evo-left">
				<h1>
					<a href="javascript:;"><img src="{{ "mercer_logo_170x25.png" | asset_url }}"></a>
				</h1>
			</div>
		<!-- LEFT COLUMN - ENDS -->

		<!-- RIGHT COLUMN - BEGINS -->
			<div class="small-4 columns evo-right">
				<a data-dropdown="drop" aria-controls="drop", aria-expanded="false" class="dropdown right evo-profile-ctn">
					<div class="row">
						<div class="small-9 columns">
							<span class="evo-title">Arquimedez Pozo</span>
							<span class="evo-sub-title">Front-end Developer</span>
						</div>
						<div class="small-3 columns">
							<i class="evo-icon-user evo-icon-size-medium" title="Arquimedez Pozo"></i>
						</div>
					</div>
				</a>
				<ul id="drop" data-dropdown-content class="f-dropdown" role="menu" aria-hidden="false" tabindex="-1">
					<li><a href="#">View Profile</a></li>
					<li><a href="#">Change Language</a></li>
					<li><a href="#">User Administration</a></li>
					<li><a href="#">Log Out</a></li>
				</ul>
			</div>
		<!-- LEFT COLUMN - ENDS -->

		</div>
	</div>
<!-- MASTHEAD - ENDS -->