<!-- GROUPED ICONS - BEGINS -->
	<li class="evo-header-icon">
		<a href="javascript:;"><i class="evo-icon-user"></i></a>
	</li>
	<li class="evo-header-icon">
		<a href="javascript:;"><i class="evo-icon-warning"></i></a>
	</li>
	<li class="evo-header-icon">
		<a href="javascript:;"><i class="evo-icon-basket"></i></a>
	</li>
	<li class="evo-header-icon">
		<a href="javascript:;"><i class="evo-icon-file2"></i></a>
	</li>
	<li class="evo-header-icon">
		<a href="javascript:;"><i class="evo-icon-envelop"></i></a>
	</li>
	<li class="evo-header-icon">
		<a href="javascript:;"><i class="evo-icon-search"></i></a>
	</li>
	<li class="evo-header-icon">
		<a href="javascript:;"><i class="evo-icon-cancel-circle"></i></a>
	</li>
<!-- GROUPED ICONS - ENDS -->