<div class="contain-to-grid hide-for-small-only">
	<nav class="top-bar evo-top-bar" data-topbar role="navigation" data-options="is_hover: false">
		<ul class="title-area">
			<li class="name"></li>
			<li class="toggle-topbar menu-icon">
				<a href="javascript:;"><span>Menu</span></a>
			</li>
		</ul>

		<section class="top-bar-section">
		<!-- RIGHT NAV SECTION - BEGINS -->
			<ul class="right">
				<li class="has-dropdown">
					<a href="javascript:;"><i class="evo-icon-user"></i></a>
					<ul class="dropdown">
						<li><a href="javascript:;">Sub menu item</a></li>
						<li><a href="javascript:;">Sub menu item</a></li>
						<li class="active"><a href="javascript:;">Sub menu item</a></li>
					</ul>
				</li>
				<li>
					<a href="javascript:;"><i class="evo-icon-warning"></i></a>
				</li>
				<li>
					<a href="javascript:;"><i class="evo-icon-basket"></i></a>
				</li>
				<li>
					<a href="javascript:;"><i class="evo-icon-file2"></i></a>
				</li>
				<li>
					<a href="javascript:;"><i class="evo-icon-envelop"></i></a>
				</li>
				<li>
					<a href="javascript:;"><i class="evo-icon-search"></i></a>
				</li>
				<li>
					<a href="javascript:;"><i class="evo-icon-cancel-circle"></i></a>
				</li>
			</ul>
		<!-- RIGHT NAV SECTION - ENDS -->

		<!-- LEFT NAV SECTION - BEGINS -->
			<ul class="left">
				<li>
					<a href="/index">Home</a>
				</li>
				<li class="has-dropdown">
					<a href="javascript:;">Browser Support</a>
					<ul class="dropdown">
						<li><a href="/browser-testing-support">Sub menu item</a></li>
						<li><a href="javascript:;">Sub menu item</a></li>
						<li><a href="javascript:;">Sub menu item</a></li>
					</ul>
				</li>
				<li>
					<a href="quick-reference">Quick Reference</a>
				</li>
				<li class="evo-mega-menu">
					<a data-dropdown="mega-menu-1"><i class="evo-icon-evo-book-open"></i></a>
					<div id="mega-menu-1" class="large f-dropdown content open evo-mega-menu-ctn">
						<div class="row">
							<div class="small-12 columns">
								<h4>Mega Menu 1 Header</h4>
							</div>
						</div>
						
						<div class="row">
							<div class="small-6 columns">
								{{ 1 | lorem_ipsum:'p' }}
							</div>
							<div class="small-6 columns">
								{{ 1 | lorem_ipsum:'p' }}
							</div>
						</div>

					</div>
				</li>
				<li class="evo-mega-menu">
					<a data-dropdown="mega-menu-2"><i class="evo-icon-evo-book-open"></i></a>
					<div id="mega-menu-2" class="large f-dropdown content open evo-mega-menu-ctn">
						<div class="row">
							<div class="small-12 columns">
								<h4>Mega Menu 2 Header</h4>
							</div>
						</div>
						
						<div class="row">
							<div class="small-6 columns">
								{{ 1 | lorem_ipsum:'p' }}
							</div>
							<div class="small-6 columns">
								{{ 1 | lorem_ipsum:'p' }}
							</div>
						</div>

					</div>
				</li>
			</ul>
		<!-- LEFT NAV SECTION - ENDS -->
		</section>
	</nav>
</div>


<section class="evo-menu-viewport evo-display-none js-evo-mobile-menu-ctn show-for-small-only">
	<nav class="evo-mb-menu-ctn">
		<ul class="tabs vertical evo-vertical-tabs" data-tab>
			<li class="tab-title active">
				<a href="#panel11"><i class="evo-icon-evo-mmc-globe evo-icon-color-gray-dark"></i></a>
			</li>
			<li class="tab-title">
				<a href="#panel21"><i class="evo-icon-evo-mmc-globe evo-icon-color-gray-dark"></i></a>
			</li>
			<li class="tab-title">
				<a href="#panel31"><i class="evo-icon-evo-mmc-globe evo-icon-color-gray-dark"></i></a>
			</li>
			<li class="tab-title">
				<a href="#panel41"><i class="evo-icon-evo-mmc-globe evo-icon-color-gray-dark"></i></a>
			</li>
		</ul>
		<div class="tabs-content evo-tabs-content">
			<div class="content active" id="panel11">
				<div class="evo-scroll-pane js-evo-ref-sliding-drawer-scrollpane">
					<ul class="evo-tier-2">
					<li><a href="javascript:;">Item 1</a></li>
					<li><a href="javascript:;">Item 2</a></li>
					<li><a href="javascript:;">Item 3</a></li>
					<li><a href="javascript:;">Item 4</a></li>
					<li><a href="javascript:;">Item 5</a></li>
					<li><a href="javascript:;">Item 6</a></li>
					<li><a href="javascript:;">Item 7</a></li>
					<li><a href="javascript:;">Item 8</a></li>
					<li><a href="javascript:;">Item 9</a></li>
					<li><a href="javascript:;">Item 10</a></li>
					<li><a href="javascript:;">Item 11</a></li>
					<li><a href="javascript:;">Item 12</a></li>
					<li><a href="javascript:;">Item 13</a></li>
					<li><a href="javascript:;">Item 14</a></li>
					<li><a href="javascript:;">Item 15</a></li>
					<li><a href="javascript:;">Item 16</a></li>
					<li><a href="javascript:;">Item 17</a></li>
					<li><a href="javascript:;">Item 18</a></li>
					<li><a href="javascript:;">Item 19</a></li>
					<li><a href="javascript:;">Item 20</a></li>
					<li><a href="javascript:;">Item 21</a></li>
					<li><a href="javascript:;">Item 22</a></li>
					<li><a href="javascript:;">Item 23</a></li>
					<li><a href="javascript:;">Item 24</a></li>
					<li><a href="javascript:;">Item 25</a></li>
					<li><a href="javascript:;">Item 26</a></li>
					<li><a href="javascript:;">Item 27</a></li>
					<li><a href="javascript:;">Item 28</a></li>
					<li><a href="javascript:;">Item 29</a></li>
					<li><a href="javascript:;">Item 30</a></li>
					<li><a href="javascript:;">Item 31</a></li>
					<li><a href="javascript:;">Item 32</a></li>
					<li><a href="javascript:;">Item 33</a></li>
					<li><a href="javascript:;">Item 34</a></li>
					<li><a href="javascript:;">Item 35</a></li>
					<li><a href="javascript:;">Item 36</a></li>
					<li><a href="javascript:;">Item 37</a></li>
					<li><a href="javascript:;">Item 38</a></li>
					<li><a href="javascript:;">Item 39</a></li>
					<li><a href="javascript:;">Item 40</a></li>
					<li><a href="javascript:;">Item 41</a></li>
					<li><a href="javascript:;">Item 42</a></li>
					<li><a href="javascript:;">Item 43</a></li>
					<li><a href="javascript:;">Item 44</a></li>
					<li><a href="javascript:;">Item 45</a></li>
					<li><a href="javascript:;">Item 46</a></li>
					<li><a href="javascript:;">Item 47</a></li>
					<li><a href="javascript:;">Item 48</a></li>
					<li><a href="javascript:;">Item 49</a></li>
					<li><a href="javascript:;">Item 50</a></li>
					<li><a href="javascript:;">Item 51</a></li>
					<li><a href="javascript:;">Item 52</a></li>
					<li><a href="javascript:;">Item 53</a></li>
					<li><a href="javascript:;">Item 54</a></li>
					<li><a href="javascript:;">Item 55</a></li>
					<li><a href="javascript:;">Item 56</a></li>
					<li><a href="javascript:;">Item 57</a></li>
					<li><a href="javascript:;">Item 58</a></li>
					<li><a href="javascript:;">Item 59</a></li>
					<li><a href="javascript:;">Item 60</a></li>
					</ul>
				</div>
			</div>
			<div class="content" id="panel21">
				<p>This is the second panel of the basic tab example. This is the second panel of the basic tab example.</p>
			</div>
			<div class="content" id="panel31">
				<p>This is the third panel of the basic tab example. This is the third panel of the basic tab example.</p>
			</div>
			<div class="content" id="panel41">
				<p>This is the fourth panel of the basic tab example. This is the fourth panel of the basic tab example.</p>
			</div>
		</div>
	</nav>
</section>