<!-- GROUPED ICONS - BEGINS -->
	<li class="mul-header-icon">
		<a href="javascript:;"><i class="mul-icon-user"></i></a>
	</li>
	<li class="mul-header-icon">
		<a href="javascript:;"><i class="mul-icon-warning"></i></a>
	</li>
	<li class="mul-header-icon">
		<a href="javascript:;"><i class="mul-icon-basket"></i></a>
	</li>
	<li class="mul-header-icon">
		<a href="javascript:;"><i class="mul-icon-file2"></i></a>
	</li>
	<li class="mul-header-icon">
		<a href="javascript:;"><i class="mul-icon-envelop"></i></a>
	</li>
	<li class="mul-header-icon">
		<a href="javascript:;"><i class="mul-icon-search"></i></a>
	</li>
	<li class="mul-header-icon">
		<a href="javascript:;"><i class="mul-icon-cancel-circle"></i></a>
	</li>
<!-- GROUPED ICONS - ENDS -->