<div class="contain-to-grid">
	<nav class="top-bar evo-top-bar" data-topbar role="navigation" data-options="is_hover: false">
		<ul class="title-area">
			<li class="name"></li>
			<li class="toggle-topbar menu-icon">
				<a href="javascript:;"><span>Menu</span></a>
			</li>
		</ul>

		<section class="top-bar-section">
		<!-- RIGHT NAV SECTION - BEGINS -->
			<ul class="right">
				<li class="has-dropdown">
					<a href="javascript:;"><i class="evo-icon-user"></i></a>
					<ul class="dropdown">
						<li><a href="javascript:;">Sub menu item</a></li>
						<li><a href="javascript:;">Sub menu item</a></li>
						<li class="active"><a href="javascript:;">Sub menu item</a></li>
					</ul>
				</li>
				<li>
					<a href="javascript:;"><i class="evo-icon-warning"></i></a>
				</li>
				<li>
					<a href="javascript:;"><i class="evo-icon-basket"></i></a>
				</li>
				<li>
					<a href="javascript:;"><i class="evo-icon-file2"></i></a>
				</li>
				<li>
					<a href="javascript:;"><i class="evo-icon-envelop"></i></a>
				</li>
				<li>
					<a href="javascript:;"><i class="evo-icon-search"></i></a>
				</li>
				<li>
					<a href="javascript:;"><i class="evo-icon-cancel-circle"></i></a>
				</li>
			</ul>
		<!-- RIGHT NAV SECTION - ENDS -->

		<!-- LEFT NAV SECTION - BEGINS -->
			<ul class="left">
				<li>
					<a href="/index">Home</a>
				</li>
				<li class="has-dropdown">
					<a href="javascript:;">Browser Support</a>
					<ul class="dropdown">
						<li><a href="/browser-testing-support">Sub menu item</a></li>
						<li><a href="javascript:;">Sub menu item</a></li>
						<li><a href="javascript:;">Sub menu item</a></li>
					</ul>
				</li>
				<li>
					<a href="quick-reference">Quick Reference</a>
				</li>
				<li class="evo-mega-menu">
					<a data-dropdown="mega-menu-1"><i class="evo-icon-evo-book-open"></i></a>
					<div id="mega-menu-1" class="large f-dropdown content open evo-mega-menu-ctn">
						<div class="row">
							<div class="small-12 columns">
								<h4>Mega Menu 1 Header</h4>
							</div>
						</div>
						
						<div class="row">
							<div class="small-6 columns">
								{{ 1 | lorem_ipsum:'p' }}
							</div>
							<div class="small-6 columns">
								{{ 1 | lorem_ipsum:'p' }}
							</div>
						</div>

					</div>
				</li>
				<li class="evo-mega-menu">
					<a data-dropdown="mega-menu-2"><i class="evo-icon-evo-book-open"></i></a>
					<div id="mega-menu-2" class="large f-dropdown content open evo-mega-menu-ctn">
						<div class="row">
							<div class="small-12 columns">
								<h4>Mega Menu 2 Header</h4>
							</div>
						</div>
						
						<div class="row">
							<div class="small-6 columns">
								{{ 1 | lorem_ipsum:'p' }}
							</div>
							<div class="small-6 columns">
								{{ 1 | lorem_ipsum:'p' }}
							</div>
						</div>

					</div>
				</li>
			</ul>
		<!-- LEFT NAV SECTION - ENDS -->
		</section>
	</nav>
</div>