{% if global.type_of_navbar == "toolbar" %}
<!-- TOOLBAR - BEGINS -->
	<section class="mul-navbar mul-toolbar {% if global.toolbar_fixed == 'true' %}mul-toolbar-fixed{% endif %}">
		<div class="mul-navbar-adjust mul-toolbar-adjust">
			<nav class="mul-text-nav">
				<div class="col-{{ global.toolbar_column_width_left }} first mul-navbar-col-1">
				<!-- LOGO SECTION - BEGINS -->
					<section class="mul-logo mul-small-mediaquery-grid">
						<div class="mul-logo-col-2">
							<a href="/index">MERCER <span>EVOLUTION</span></a>
						</div>
						<div class="mul-logo-col-3 mul-header-icon">
							<a href="javascript:;" class="js-mul-header-mobile-menu-toggle" data-mul-header-mobile-menu-toggle="toolbar"><i class="mul-icon-menu3"></i></a>
						</div>
					</section>
				<!-- LOGO SECTION - ENDS -->
				</div>
				<div class="col-{{ global.toolbar_column_width_right }} mul-navbar-col-2" id="mul-header-mobile-menu-toggle-toolbar">
				{% if global.toolbar_group_icons == 'true' %}
					<ul class="sm mul-nav-menus mul-menu-ctn" data-menu="click">
						<li class="mul-header-icon mul-mega-menu">
							<a href="javascript:;"><i class="mul-icon-mul-library"></i></a>
							<ul class="mega-menu">
								<li class="mul-mega-menu-adjust">
								<!-- MEGA MENU CONTAINER - BEGINS -->
									<div class="mul-mega-menu-ctn navbar-site-menu">
										<section class="col-24">
											<div class="col-6 first">
												{% for item in global.table-of-contents limit:1 %}
													{% include "/reference/toc-nav" %}
												{% endfor %}
											</div>
											<div class="col-6">
												{% for item in global.table-of-contents offset:2 limit:2 %}
													{% include "/reference/toc-nav" %}
												{% endfor %}
											</div>
											<div class="col-6">
												{% for item in global.table-of-contents offset:4 limit:1 %}
													{% include "/reference/toc-nav" %}
												{% endfor %}
											</div>
											<div class="col-6">
												{% for item in global.table-of-contents offset:5 %}
													{% include "/reference/toc-nav" %}
												{% endfor %}
											</div>
										</section>
									</div>
								<!-- MEGA MENU CONTAINER - ENDS -->
								</li>
							</ul>
						</li>
					</ul>
				{% endif %}

				{% if global.toolbar_navigation == 'true' %}
					<ul class="sm mul-nav-menus mul-menu-ctn" data-menu="click">
					{% if global.toolbar_navigation_items == 'true' %}
						<li><a class="mul-navbar-no-pipe-left" href="/index">Home</a></li>
						<li><a href="/browser-testing-support">Browser Support</a></li>
						<li><a href="/quick-reference">Quick Reference</a></li>
					{% endif %}

					{% if global.toolbar_user_identifier == "true" %}
						<li>
							<a href="javascript:;">Arquimedez Pozo</a>
							<ul class="mul-user-identifier-menu">
								<li><a href="javascript:;">View Profile</a></li>
								<li><a href="javascript:;">Change Language</a></li>
								<li><a href="javascript:;">User Administration</a></li>
								<li><a href="javascript:;">Log Out</a></li>
							</ul>
						</li>
					{% endif %}
					</ul>
				{% endif %}
				</div>
			</nav>
		</div>
	</section>
<!-- TOOLBAR - ENDS -->
{% else %}
<!-- NAVBAR - BEGINS -->
	<section class="mul-navbar" id="mul-header-mobile-menu-toggle-navbar">
		<div class="mul-navbar-adjust">
		{% if global.navbar_style == "text" %}
			<nav class="mul-text-nav">
		{% else %}
			<nav class="mul-tabbed-nav">
		{% endif %}
				<div class="col-{{ global.navbar_column_width_left }} first mul-navbar-col-1">
					<ul class="sm mul-nav-menus mul-menu-ctn" data-menu="click">
					{% if global.navbar_left == "false" || global.navbar_menu_icon_left == "false" %}
						<li>&nbsp;</li>
					{% endif %}

					{% if global.navbar_menu_icon_left == "true" %}
						<li class="mul-header-icon">
							<a href="javascript:;"><i class="mul-icon-menu3"></i></a>
						</li>
					{% endif %}

					{% if global.navbar_left == "true" %}
						<li><a class="{% if mixture.url == "index" %}mul-navbar-item-active{% endif %}" href="/index">Home</a></li>
						<li><a href="/browser-testing-support">Browser Support</a></li>
						<li>
							<a href="/toolkit">Toolkit</a>
							<ul>
								<li><a href="javascript:;">English</a></li>
								<li><a href="javascript:;">Spanish</a></li>
								<li>
									<a href="javascript:;">German</a>
									<ul>
										<li><a href="javascript:;">English</a></li>
										<li><a href="javascript:;">Spanish</a></li>
										<li><a href="javascript:;">German</a></li>
									</ul>
								</li>
							</ul>
						</li>
						{% if global.navbar_user_identifier == "true" %}
							<li>
								<a href="javascript:;">Arquimedez Pozo</a>
								<ul class="mul-user-identifier-menu">
									<li><a href="javascript:;">View Profile</a></li>
									<li><a href="javascript:;">Change Language</a></li>
									<li><a href="javascript:;">User Administration</a></li>
									<li><a href="javascript:;">Log Out</a></li>
								</ul>
							</li>
						{% endif %}
					{% endif %}
					</ul>
				</div>
				<div class="col-{{ global.navbar_column_width_right }} mul-navbar-col-2">
				{% if global.navbar_group_icons == "true" %}
					<ul class="sm mul-nav-menus mul-menu-ctn" data-menu="click">
						{% include "/base/header/navbar-group-icons" %}
					</ul>
				{% endif %}

				{% if global.navbar_right == "true" %}
					<ul class="sm mul-nav-menus mul-menu-ctn" data-menu="click">
						<li><a class="{% if mixture.url == "index" %}mul-navbar-item-active{% endif %}" href="/index">Home</a></li>
						<li><a href="/browser-testing-support">Browser Support</a></li>
						<li>
							<a href="/toolkit">Toolkit</a>
							<ul>
								<li><a href="javascript:;">English</a></li>
								<li><a href="javascript:;">Spanish</a></li>
								<li>
									<a href="javascript:;">German</a>
									<ul>
										<li><a href="javascript:;">English</a></li>
										<li><a href="javascript:;">Spanish</a></li>
										<li><a href="javascript:;">German</a></li>
									</ul>
								</li>
							</ul>
						</li>
					{% if global.navbar_user_identifier == "true" %}
						<li>
							<a href="javascript:;">Arquimedez Pozo</a>
							<ul class="mul-user-identifier-menu">
								<li><a href="javascript:;">View Profile</a></li>
								<li><a href="javascript:;">Change Language</a></li>
								<li><a href="javascript:;">User Administration</a></li>
								<li><a href="javascript:;">Log Out</a></li>
							</ul>
						</li>
					{% endif %}
					</ul>
				{% endif %}

				{% if global.navbar_message_area == "true" %}
					<ul class="mul-navbar-message {% if global.navbar_message_area_noborder == "true" %}mul-navbar-message-noline{% endif %} {% if global.navbar_message_area_nopadding == "true" %}mul-navbar-message-nopadding{% endif %}">
						{% include "/base/header/navbar-message-area" %}
					</ul>
				{% endif %}
				</div>
			</nav>
		</div>
	</section>
<!-- NAVBAR - ENDS -->
{% endif %}