<!-- FOO - BEGINS -->
	<link href="foo.css" rel="stylesheet" type="text/css" />

	<div class="evo-comp-foo" data-evo-comp="foo">
		<div class="clearfix">
			<div class="medium-3 columns">
				{{ model.component_text }}
			</div>
			<div class="medium-9 columns">
				
				<!-- BOX WITH HEADER - BEGINS -->
				<div class="panel evo-box">
					<div class="evo-box-hdr">
						<h2 class="evo-hdr-rule">Header 1</h2>
					</div>
					<div class="evo-box-bdy">
						<p class="evo-no-margin-bottom">
							Lorem ipsum amet ornare fusce imperdiet. Orci id nunc at per justo rutrum risus. Libero interdum massa viverra aenean sit. Augue tristique elit nullam arcu quis sed dignissim non. Egestas urna nibh sed. Netus elit quis quis eu aliquam aliquam praesent sit turpis. Nam consectetuer conubia id potenti ipsum bibendum sit nostra.
						</p>
					</div>
				</div>
				<!-- BOX WITH HEADER - ENDS -->

			</div>
		</div>
	</div>
<!-- FOO - ENDS -->

<!-- FOO - BEGINS -->
	<div class="evo-comp-foo" data-evo-comp="foo2">
		<div class="clearfix">
			<div class="medium-3 columns">
				{{ model.component_text }}
			</div>
			<div class="medium-9 columns">
				
				<!-- BOX WITH HEADER - BEGINS -->
				<div class="panel evo-box">
					<div class="evo-box-hdr">
						<h2 class="evo-hdr-rule">Header 1</h2>
					</div>
					<div class="evo-box-bdy">
						<p class="evo-no-margin-bottom">
							Lorem ipsum amet ornare fusce imperdiet. Orci id nunc at per justo rutrum risus. Libero interdum massa viverra aenean sit. Augue tristique elit nullam arcu quis sed dignissim non. Egestas urna nibh sed. Netus elit quis quis eu aliquam aliquam praesent sit turpis. Nam consectetuer conubia id potenti ipsum bibendum sit nostra.
						</p>
					</div>
				</div>
				<!-- BOX WITH HEADER - ENDS -->

			</div>
		</div>
	</div>
<!-- FOO - ENDS -->