<!doctype html>
<!--[if IE 9]><html class="no-js ie9" lang=""><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang=""><!--<![endif]-->
	<head>

		{{> head }}

	</head>
	<body id="top">

		<!-- OFF-CANVAS WRAPPER - BEGINS -->
		<div class="off-canvas-wrap evo-off-canvas" data-offcanvas>
			<div class="inner-wrap">

				<!-- HEADER - BEGINS -->
				{{> header }}
				<!-- HEADER - ENDS -->

				<!-- PAGE - BEGINS -->
				<section role="main">
					<div class="row expanded" data-equalizer="pattern-library-layout" data-equalize-on="medium">
						<div class="medium-9 medium-push-3 large-10 large-push-2 columns{{#is basename 'index'}} evo-site--pattern-library-homepage-content-ctn{{/is}}" data-equalizer-watch="pattern-library-layout">
							{{> body }} 
						</div>
						<div class="medium-3 medium-pull-9 large-2 large-pull-10 columns evo-site--pattern-library-sidebar" id="jumpToNav" data-equalizer-watch="pattern-library-layout">
						{{#is basename 'front-end-code-standards'}}
							{{> front-end-code-standards-sidebar }}
						{{else}}
							{{> pattern-library-sidebar }}
						{{/is}}
						</div>
					</div>
				</section>
				<!-- PAGE - ENDS -->

				<!-- FOOTER - BEGINS -->
				{{> footer }}
				<!-- FOOTER - ENDS -->

				<!-- OFF-CANVAS CLOSE - BEGINS -->
				<a class="exit-off-canvas"></a>
				<!-- OFF-CANVAS CLOSE - ENDS -->

			</div>
		</div>
		<!-- OFF-CANVAS WRAPPER - ENDS -->

		{{> scripts }}

	</body>
</html>