/*------------------------------------------------------------------------------------------
Mercer Evolution - Employee Portal Family - Form Worksheet Partial
DATE - February 9, 2015
AUTHOR - Doug Fraize, Matthew Holmes, Doug Richar, Vinod Bhatt
-------------------------------------------------------------------------------------------*/

//
// @variables
//
$evo-worksheat-font-family: $evo-font-regular-family !default;
$evo-worksheat-font-size: rem-calc(25) !default;
$evo-worksheat-label-color: $gray-mid !default;
$evo-worksheat-inputs-border-radius: 0 !default;
$evo-worksheat-inputs-bg-color: $gray-lightest !default;
$evo-worksheat-inputs-border: 0 !default;
$evo-worksheat-inputs-border-bottom-with: 2px !default;
$evo-worksheat-inputs-border-bottom-style: solid !default;
$evo-worksheat-inputs-border-bottom-color: $sapphire-mid !default;
$evo-worksheat-input-color: $sapphire-mid !default;


.form-stacked-inverse			{
	.row							{
									margin-bottom: rem-calc(15);
		label							{
										font-family: $evo-worksheat-font-family;
										font-size: $evo-worksheat-font-size;
										color: $evo-worksheat-label-color;
										margin-bottom: rem-calc(0.75);
										margin-left: 16px;
			.evo-input-value-amt			{
											float: left;
											padding-right: rem-calc(5);
											margin-left: -16px;
											}
			input[type="text"]				{
											@include border-radius($evo-worksheat-inputs-border-radius);
											background-color: $evo-worksheat-inputs-bg-color;
											border: $evo-worksheat-inputs-border;
											border-bottom: $evo-worksheat-inputs-border-bottom-with $evo-worksheat-inputs-border-bottom-style $evo-worksheat-inputs-border-bottom-color;
											color: $evo-worksheat-input-color;
											font-size: $evo-worksheat-font-size;

											margin: 0 0 rem-calc(2) rem-calc(10);
											width: 98%;
											margin-left: -16px;
											}
										}
									}

								}