/*------------------------------------------------------------------------------------------
Mercer Evolution - Employee Portal Family - Site CSS
DATE - February 10, 2015
AUTHOR - Doug Fraize, Matthew Holmes, Doug Richar, Vinod Bhatt
-------------------------------------------------------------------------------------------*/

//
// @variables
//

.evo-item-highlight-ctn			{
								background-color: $gray-lightest;
								border: 3px solid $topaz-dark;
								padding: rem-calc(10) rem-calc(18) rem-calc(3) rem-calc(18);
								margin: 0 10px;
								min-height: 100px;
	.evo-tag-indicator-ctn			{
									min-height: rem-calc(29);
		.evo-label						{
										font-size: rem-calc(11);
										text-transform: uppercase;
										position: relative;
										top: -6px;
										left: -26px;
										padding: rem-calc(10) rem-calc(30) rem-calc(8) rem-calc(30);
										background-color: $sapphire-mid;
										letter-spacing: rem-calc(1);
										}
									}
	a.evo-highlight-ctn-link		{
									font-size: rem-calc(12);
									line-height: 0;
									margin-top: rem-calc(8);
									}
								}