/*------------------------------------------------------------------------------------------
Mercer Evolution - Employee Portal Family - Login Template Partial
DATE - February, 2015
AUTHOR - Doug Fraize, Matthew Holmes, Doug Richar, Vinod Bhatt
-------------------------------------------------------------------------------------------*/

//
// @variables
//
$evo-login-template-background-color: $sapphire-dark !default;
$evo-login-template-font-color: $white !default;
$evo-login-template-background-image-src-path: "../images/ep/login_grid_mono_color_bkgd.jpg" !default;


.evo-login-template-layout				{
										@include ie-gradient-reset-filter;
										background: url("#{$evo-login-template-background-image-src-path}") no-repeat center center fixed $evo-login-template-background-color;
										@include background-size(cover);
										height: 100%;
										width: 100%;
										display: table;

	.evo-off-canvas-wrap					{
											display: table-cell;
											vertical-align: middle;
											}

	section[role="main"]					{
											padding: rem-calc(10);
											background-color: transparent;
											}

	.evo-login-template						{
											@include translucent-background(desaturate($evo-login-template-background-color, 35%), .8);
											@include border-radius($global-radius*2);
											color: $evo-login-template-font-color;
											padding: rem-calc(20);
											text-align: center;
											margin: 0 auto;
											width: 100%;
											max-width: 460px;
											min-width: 0;
		.evo-login-content-ctn					{
			img										{
													margin-bottom: rem-calc(14);
													}
												}
		form									{
			.evo-btn-row							{
				.columns								{
														display: inline-block;
														}
													}
												}
											}
										}

//=== MEDIA QUERIES =========================================================================

@media #{$medium-up} {

	

}

@media #{$small-only} {

	

}

@media #{$medium-only} {

	

}

@media #{$large-only} {

	

}