/*------------------------------------------------------------------------------------------
Mercer Evolution - Employee Portal Family - Reveal Modal Partial
DATE - February, 2015
AUTHOR - Doug Fraize, Matthew Holmes, Doug Richar, Vinod Bhatt
-------------------------------------------------------------------------------------------*/

//
//@variables
//
$evo-reveal-position-top: rem-calc(0) !default;


.reveal-modal-bg				{position: fixed;}
.reveal-modal					{z-index: 10000;}


// SMALL MEDIA QUERY RANGE - 0px - 640px
@media #{$small-only} {
	.evo-reveal-modal			{
								@include border-radius(0);
								top: $evo-reveal-position-top;
								}
}