/*------------------------------------------------------------------------------------------
Mercer Evolution - Employee Portal Family - Stream Partial
DATE - February, 2015
AUTHOR - Doug Fraize, Matthew Holmes, Doug Richar, Vinod Bhatt
-------------------------------------------------------------------------------------------*/

//
//@variables
//
@-webkit-keyframes pulse-animation
								{
								0%		{-webkit-transform: scale(1);}
								30%		{-webkit-transform: scale(1);}
								40%		{-webkit-transform: scale(1.08);}
								50%		{-webkit-transform: scale(1);}
								60%		{-webkit-transform: scale(1);}
								70%		{-webkit-transform: scale(1.05);}
								80%		{-webkit-transform: scale(1);}
								100%	{-webkit-transform: scale(1);}
								}

[data-evo-active-open="pulse-animation"]
								{
								-webkit-animation-name: 'pulse-animation';
								-webkit-animation-duration: 1000ms;
								-webkit-transform-origin: 70% 70%;
								-webkit-animation-iteration-count: infinite;
								-webkit-animation-timing-function: linear;
								}


.evo-connection-line			{
								position: absolute;
								border-right: 1px solid $gray-dark;
								display: block;
								width: 1px;
								height: rem-calc(180);
								left: 50%;
								top: 41%;
								z-index: 3;
								}


.evo-stream-item-ctn			{
								margin-bottom: rem-calc(75);
								position: relative;
								text-align: center;
								min-height: rem-calc(176);

	&.evo-stream-item-ctn-border-left
								{
								border-left: 1px dotted $gray-light;
								margin-left: -1px;
								}
	&.evo-stream-item-ctn-border-right
								{border-right: 1px dotted $gray-light;}

	&:last-child					{margin-bottom: 0;}

	.evo-stream-icon-ctn,
	.evo-stream-content-ctn			{
									position: relative;
									z-index: 5;
									}

	.evo-stream-icon-ctn			{
		.evo-stream-line-right-tick		{
										position: absolute;
										border-top: 1px dotted $gray-light;
										width: 10%;
										right: 0;
										top: 50%;
										}
		.evo-stream-line-left-tick		{
										position: absolute;
										border-top: 1px dotted $gray-light;
										width: 10%;
										left: 0;
										top: 50%;
										}
		.evo-icon-ctn					{
										@include border-radius(100%);
										background-color: $white;
										border: 1px solid $gray-dark;
										padding: rem-calc(12);
										width: auto;
			.evo-icon-position				{
											position: absolute;
											left: -23px;
											top: -7px;
											}
			img								{max-width: $evo-clip-art-icon-size-medium;}
										}
									}

	.evo-stream-content-ctn			{
									background-color: $white;
									padding: 0 rem-calc(10);
		.h3								{
										font-size: rem-calc(11.5);
										letter-spacing: 0.5px;
										margin-top: rem-calc(10);
										}
		.h4								{
										font-size: rem-calc(10);
										letter-spacing: 0.5px;
										}
		.h5								{
										font-size: rem-calc(9);
										text-transform: lowercase;
										letter-spacing: 0.5px;
										}
		.evo-progress					{height: rem-calc(10);}
									}
								}


.evo-stream-item-ctn-diabled	{
								@include opacity(40);
	.evo-stream-content-ctn			{
		.evo-progress					{display: none;}
									}
								}

.evo-stream-completed-steps-ctn	{
								@include border-radius(2px);
								border: 1px solid $gray-light;
								padding: rem-calc(15);
								margin-bottom: rem-calc(50);
								}



// MEDIUM MEDIA QUERY RANGE AND UP - 641px +
@media #{$medium-up} {

}



// LARGE MEDIA QUERY RANGE AND UP - 1025px +
@media #{$large-up} {

	.evo-stream-completed-steps-ctn	{
									margin-bottom: rem-calc(0);
									}

}