//-------------------------------------------------------------------------------------------
// Mercer Evolution - Core v2.6 - Global Color Variables Partial
// DATE - January 13, 2015
// AUTHOR - Doug Fraize, Matthew Holmes, Doug Richar, Vinod Bhatt
//-------------------------------------------------------------------------------------------

//
//@variables
//


@-webkit-keyframes pulse-animation			{
											0%		{-webkit-transform: scale(1);}
											30%		{-webkit-transform: scale(1);}
											40%		{-webkit-transform: scale(1.08);}
											50%		{-webkit-transform: scale(1);}
											60%		{-webkit-transform: scale(1);}
											70%		{-webkit-transform: scale(1.05);}
											80%		{-webkit-transform: scale(1);}
											100%	{-webkit-transform: scale(1);}
											}


.evo-stream-item-ctn		{
							position: relative;
							text-align: center;

	.evo-connection-line		{
								position: absolute;
								left: 0;
								right: 0;
								top: 25%;
								border-top: 1px solid $gray-dark;
								}
	.evo-connection-line-right	{
								position: absolute;
								right: 0;
								top: 25%;
								width: 50%;
								border-top: 1px solid $gray-dark;
								}
	.evo-connection-line-left	{
								position: absolute;
								left: 0;
								top: 25%;
								width: 50%;
								border-top: 1px solid $gray-dark;
								}

	.evo-icon-ctn				{
								position: relative;
								width: auto;
								z-index: 2;
									@include border-radius(100%);
									background-color: $white;
									border: 1px solid $gray-dark;
									padding: 10px;
		img							{max-width: $evo-clip-art-icon-size-medium;}

		[data-evo-active-open="pulse-animation"]
									{
									-webkit-animation-name: 'pulse-animation';
									-webkit-animation-duration: 1000ms;
									-webkit-transform-origin: 70% 70%;
									-webkit-animation-iteration-count: infinite;
									-webkit-animation-timing-function: linear;
									}
								}

	.evo-content-ctn			{
								padding: 0 rem-calc(25);
		.h3							{
									font-size: rem-calc(14);
									margin-top: rem-calc(10);
									}
		.h4							{
									font-size: rem-calc(12);
									}
		.h5							{
									font-size: rem-calc(10);
									}
		.evo-progress				{height: rem-calc(10);}
								}
							}