<!-- FULL REVEAL - BEGINS -->
<a class="button evo-button" data-open="full">Full modal size</a>
<div class="reveal full" id="full" data-reveal>
	<h3>Full Modal Size</h3>
	<p>This modal window is set to 100%. The <code>.full</code> class has been added.</p>
	<button class="close-button" data-close aria-label="Close modal" type="button">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<!-- FULL REVEAL - ENDS -->