<!-- SMALL REVEAL - BEGINS -->
<a class="button evo-button" data-open="small">Small modal size</a>
<div class="reveal small" id="small" data-reveal>
	<h3>Small Modal Size</h3>
	<p>This modal window is set to 50%. The <code>.small</code> class has been added.</p>
	<button class="close-button" data-close aria-label="Close modal" type="button">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<!-- SMALL REVEAL - ENDS -->