<!-- LARGE REVEAL - BEGINS -->
<a class="button evo-button" data-open="large">Large modal size</a>
<div class="reveal large" id="large" data-reveal>
	<h3>Large Modal Size</h3>
	<p>This modal window is set to 90%. The <code>.large</code> class has been added.</p>
	<button class="close-button" data-close aria-label="Close modal" type="button">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<!-- LARGE REVEAL - ENDS -->