<!-- SCROLL PANE - HORIZONTAL - BEGINS -->
<div class="evo-scroll-pane" data-evo-scroll-pane="evo-scroll-pane-horizontal-example">
	<p>Lorem ipsum nec placerat nibh laoreet donec consectetuer nunc sodales pede torquent cursus. Elit nam luctus magna semper interdum sollicitudin per. Eget sit neque convallis tristique cursus. Praesent lorem velit aliquam accumsan sit est augue. Lectus et ullamcorper ipsum ultrices sed curabitur sit mi. Lacinia congue parturient per pulvinar hac. Amet massa.</p>
	<p>Per conubia inceptos urna rutrum posuere nulla erat nulla imperdiet quisque duis. Quis ut primis fusce. Turpis penatibus commodo. Mi consequat sed. At leo libero feugiat aliquam. Ultricies justo in feugiat quisque proin dapibus lacus enim integer et. Nibh quis congue lacus neque sed aliquam sociosqu ante taciti purus. Sapien.</p>
	<p>Enim justo mattis magna ipsum vel nunc id velit. Elit erat dictumst sodales sed quam a erat nunc erat. Rutrum torquent eget a a vestibulum. Inceptos a feugiat nunc dapibus vitae accumsan ut consectetuer placerat fusce. Vel ullamcorper libero curae; massa scelerisque tristique quis fames molestie. Auctor ac dictum erat.</p>
</div>
<!-- SCROLL PANE - HORIZONTAL - ENDS -->