---
title: "Boilerplates"
---

<!-- HERO - BEGINS -->
	<section class="evo-full-width evo-site-hero" data-evo-site-hero-size="large" data-evo-site-hero-arrow-position="bottom">
		<div class="small-12 columns evo-center-block-vertical hide" data-anijs="if: load, on: window, do: $removeClass hide;">
			<div class="text-center evo-center-block-vertical-element">
				<h1 class="evo-site-hero--hdr flipInY animated evo-no-margin-bottom" data-evo-site-hero-hdr-size="large">{{{boilerplates.hero.title}}} <span>{{{boilerplates.hero.subtitle}}}</span></h1>
			</div>		
		</div>
	</section>
<!-- HERO - ENDS -->

<!-- PAGE CONTENT - BEGINS -->
	<section class="evo-contain-to-grid">
		<div class="small-12 columns evo-spacer-padding-top-xxx-large evo-spacer-padding-bottom-xxx-large">

{{# markdown }}
Evolution boilerplates are available to download or install for faster site development.
***
{{/ markdown }}

		<!-- DOWNLOADS - BEGIN -->
			<div class="row">
				<div class="medium-4 columns">
{{# markdown }}
##### CSS Boilerplate
Grab this version of the boilerplate if you want everything in simple, vanilla CSS and JS. Download the ZIP and start developing.
{{/ markdown }}
					{{> button href="/" text="Download for CSS"}}
				</div>
				<div class="medium-4 columns">
{{# markdown }}
##### Sass Boilerplate
This boilerplate is built using Sass, and you can work with it in the same way. Check out the instructions on the Install documentation page.
{{/ markdown }}
					{{> button href="/" text="Download for Sass"}}
				</div>
				<div class="medium-4 columns">
{{# markdown }}
##### Tool Box Boilerplate
Create a custom boilerplate by installing the Evolution Tool Box. Check out the instructions on the Install documentation page.
{{/ markdown }}
					{{> button href="/pattern-library/installation.html" text="Install via Tool Box"}}
				</div>
			</div>
		<!-- DOWNLOADS - END -->

		</div>
	</section>
<!-- PAGE CONTENT - ENDS -->