---
title: "Change Log"
---

<div class="evo-contain-to-grid">
	<div class="small-12 columns">

{{# markdown }}
# {{ title }}
A summary of all the releases of Evolution Core
***
{{/ markdown }}

		<h3>Evolution Core 3.0 - 8/10/2015</h3>
		{{> type-paragraph text="Evolution Core 3.0 was initially released on August 10, 2015. Change log updates will be recorded for versions after this initial release."}}

	</div>
</div>