---
title: "Media Queries"
---

<div class="evo-contain-to-grid">
	<div class="small-12 columns">

{{# markdown }}
# {{ title }}
Evolution Core uses Foundation's media query SASS variables and setup. Please refer to Foundation's [media query documentation](http://foundation.zurb.com/docs/media-queries.html) for more information.
***
{{/ markdown }}

	</div>
</div>



<section class="evo-contain-to-grid">
	<div class="small-12 columns">

	<!-- MEDIA QUERIES TABLE - BEGINS -->
		<div class="evo-table-small-mediaquery">
			<table class="evo-table" id="" border="0" cellpadding="0" cellspacing="0" title="" summary="" role="grid">
				<thead>
					<tr>
						<th scope="column">Media Query</th>
						<th scope="column">Devices</th>
						<th scope="column">Range (Device/Browser Width)</th>
					</tr>
				</thead>
				<tbody>
					{{#each media-queries.data}}
					<tr>
						<td><strong>{{ media-query }}</strong></td>
						<td>{{ media-query-devices }}</td>
						<td>{{ media-query-range }}</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	<!-- MEDIA QUERIES TABLE - ENDS -->

	</div>
</section>