---
title: "Previous Versions"
---

<!-- HERO - BEGINS -->
	<section class="row expanded evo-site-hero" data-evo-site-hero-size="medium" data-evo-site-hero-arrow-position="bottom">
		<div class="small-12 columns evo-vertical-middle hide" data-anijs="if: load, on: window, do: $removeClass hide;">
			<div class="text-center evo-vertical-middle-element">
				<h1 class="evo-site-hero--hdr evo-no-margin-bottom" data-evo-site-hero-hdr-size="medium">{{{previous-versions.hero.title}}} <span>{{{previous-versions.hero.subtitle}}}</span></h1>
			</div>		
		</div>
	</section>
<!-- HERO - ENDS -->

<!-- PAGE CONTENT - BEGINS -->
	<section class="row">
		<div class="small-12 columns evo-spacer-padding-top-xxx-large evo-spacer-padding-bottom-xxx-large">

{{# markdown }}
Here you will find a full list of older versions of Evolution.
***
{{/ markdown }}

			<ul class="no-bullet">
			{{#each previous-versions.data}}
				<li class="evo-spacer-margin-bottom-small"><a href="{{url}}">{{{version_name}}}</a></li>
			{{/each}}
			</ul>

		</div>
	</section>
<!-- PAGE CONTENT - ENDS -->
