---
title: "Template"
---

<!-- HERO - BEGINS -->
	<section class="row expanded evo-site-hero" data-evo-site-hero-size="medium" data-evo-site-hero-arrow-position="bottom">
		<div class="small-12 columns evo-vertical-middle hide" data-anijs="if: load, on: window, do: $removeClass hide;">
			<div class="text-center evo-vertical-middle-element">
				<h1 class="evo-site-hero--hdr flipInY animated evo-no-margin-bottom" data-evo-site-hero-hdr-size="medium">{{{faq.hero.title}}} <span>{{{faq.hero.subtitle}}}</span></h1>
			</div>		
		</div>
	</section>
<!-- HERO - ENDS -->

<!-- PAGE CONTENT - BEGINS -->
	<section class="row">
		<div class="small-12 columns evo-spacer-padding-top-xxx-large evo-spacer-padding-bottom-xxx-large">

{{# markdown }}
This boilerplate template is for the default pages.
***
{{/ markdown }}

			<div class="row">
				<div class="medium-3 columns">
					
					<div class="evo-site-markdown-content-block">
{{# markdown }}
{{#repeat count=3}}
{{lorem count=5}}
{{/repeat}}
{{/ markdown }}
					</div>

				</div>
				<div class="medium-9 columns">

					<div class="evo-site-markdown-content-block">
{{# markdown }}
{{#repeat count=10}}
{{lorem count=5}}
{{/repeat}}
{{/ markdown }}
					</div>

				</div>
			</div>

		</div>
	</section>
<!-- PAGE CONTENT - ENDS -->