---
title: "What's New"
---

<!-- HERO - BEGINS -->
	<section class="evo-full-width evo-site-hero" data-evo-site-hero-size="large" data-evo-site-hero-arrow-position="bottom">
		<div class="small-12 columns evo-center-block-vertical hide" data-anijs="if: load, on: window, do: $removeClass hide;">
			<div class="text-center evo-center-block-vertical-element">
				<h1 class="evo-site-hero--hdr flipInY animated evo-no-margin-bottom" data-evo-site-hero-hdr-size="large">{{{whats-new.hero.title}}} <span>{{{whats-new.hero.subtitle}}}</span></h1>
			</div>		
		</div>
	</section>
<!-- HERO - ENDS -->

<!-- PAGE CONTENT - BEGINS -->
	<section class="evo-contain-to-grid">
		<div class="small-12 columns evo-spacer-padding-top-xxx-large evo-spacer-padding-bottom-xxx-large">

{{# markdown }}
What's new content
***
{{/ markdown }}

		</div>
	</section>
<!-- PAGE CONTENT - ENDS -->