//-------------------------------------------------------------------------------------------
// Mercer Evolution - Core v2.4 - FlexSlider Carousel Partial
// DATE - April 4, 2014
// AUTHOR - Doug Fraize, Matthew Holmes
//-------------------------------------------------------------------------------------------

@if $use-carousel == true{

	// Browser Resets
	.flex-container a:active, 
	.carousel a:active, 
	.flex-container a:focus, 
	.carousel a:focus 									{outline: none;}

	.slides, 
	.flex-control-nav, 
	.flex-direction-nav 								{
														margin: 0;
														padding: 0;
														list-style: none;
														}

	// FlexSlider Necessary Styles
	.carousel 											{
														margin: 0;
														padding: 0;
	  .slides 												{
		 li 													{
																display: none;
																}
		img 													{
																margin: 0;
																width: 100%;
																display: block;
																}
															}
														}

	// Hide the slides before the JS is loaded. Avoids image jumping
	.flex-pauseplay 									{
		span												{
															text-transform: capitalize;
															}
														}

	// Clearfix for the .slides element
	.slides												{
														@include clearfix;
														}

	// No JavaScript Fallback
	// If you are not using another script, such as Modernizr, make sure you
	// include js that eliminates this class on page load
	.no-js .slides > li:first-child 					{
														display: block;
														}

	// FlexSlider Default Theme
	.carousel 											{
														position: relative;
														zoom: 1;
														}

	.flex-viewport 										{
														@include transition(all 1s ease);
														max-height: 2000px;
														}

	.loading .flex-viewport 							{
														max-height: 500px;
														}

	.carousel .slides 									{
														zoom: 1;
														}

	// Direction Nav
	.flex-direction-nav 								{
	  a 													{
															@include transition(all 1s ease);
															width: 30px;
															height: 30px;
															margin: -20px 0 0;
															display: block;
															position: absolute;
															top: 50%;
															cursor: pointer;
															text-indent: -9999px;
															opacity: 0;
															}
	  .flex-next 											{
															background-position: 100% 0;
															right: 0;
															}
	  .flex-prev 											{
															left: 0;
															}
														}

	.carousel:hover 									{
	  .flex-next 											{
															@include opacity(80);
															right: 5px;
															}
	  .flex-prev 											{
															@include opacity(80);
															left: 5px;
															}
	  .flex-next:hover, .flex-prev:hover 					{
															@include opacity(100);
															}
														}

	.flex-direction-nav .flex-disabled 					{
														@include opacity(30);
														cursor: default;
														}

	// Control Nav
	.flex-control-nav 									{
														width: 100%;
														position: relative;
														min-height: 20px;
														bottom: -10px;
														text-align: center;
	  li 													{
															margin: 0 6px;
															display: inline-block;
															zoom: 1;
															}
														}

	.flex-control-paging li a 							{
														@include border-radius(20px);
														@include backface-visibility(hidden);
														width: 11px;
														height: 11px;
														display: block;
														background: carouselNavItemBackgroundColor;
														cursor: pointer;
														text-indent: -9999px;
	  &:hover 												{	
															background: carouselNavItemHoverBackgroundColor;
															}
	  &.flex-active 										{
															background: carouselNavItemActiveBackgroundColor;
															cursor: default;
															}
														}

	.flex-control-thumbs 								{
														margin: 5px 0 0;
														position: static;
														overflow: hidden;
	  li 													{
															width: 25%;
															float: left;
															margin: 0;
															}
	  img 													{
															@include opacity(70);
															width: 100%;
															display: block;
															cursor: pointer;
		&:hover 												{
																@include opacity(100);
																}
															}
	  .flex-active 											{
															@include opacity(100);
															cursor: default;
															}
														}

	//=== MEDIA QUERIES =========================================================================

	// Portrait iPhone, landscape iPhone, portrait smart phones, Nook/Kindle/Kindle Fire
	@if $use-small-mediaquery == true {
		@include media-query(screen, max, "", $smallMediaQueryBreakpointMax) {

			.flex-control-nav 								{
				 li 											{margin: 0 15px;}
															}

			.flex-control-paging li a 						{
															@include border-radius(40px);
															width: 22px;
															height: 22px;
															}

		}
	}

}//endif