	<section class="evo-ref-sliding-drawer evo-display-none js-evo-ref-sliding-drawer">
		<div class="evo-grid evo-ref-sliding-drawer-hdr">

			<div class="col-24 evo-small-mediaquery-grid">
				<div class="col-23 first">
					<h3>Developer Drawer</h3>
				</div>
				<div class="col-1">
					<i class="evo-icon-cancel-circle evo-ref-sliding-drawer-close-btn js-evo-ref-sliding-drawer-btn" title="Close"></i>
				</div>
			</div>

			<!-- QUICK REFERENCE - CALL TO ACTION - BEGINS -->
			<a class="evo-call-to-action" data-palette-color="gray-darker" href="/quick-reference" title="Quick Reference">
				<i class="evo-icon-code evo-icon-position-left" title="Contact Us"></i>
				<span class="evo-call-to-action-text">Quick Reference</span>
				<i class="evo-icon-arrow-right2 evo-icon-position-right" title="Quick Reference"></i>
			</a>
			<!-- QUICK REFERENCE - CALL TO ACTION - ENDS -->

		</div>
		<div class="js-evo-ref-sliding-drawer-scrollpane">

			<!-- DEVELOPER - TOC - BEGINS -->
			{% for item in global.table-of-contents limit:1 %}
				{% include "/reference/toc-nav" %}
			{% endfor %}
			{% for item in global.table-of-contents offset:2 %}
				{% include "/reference/toc-nav" %}
			{% endfor %}
			<!-- DEVELOPER - TOC - ENDS -->

		</div>
	</section>