<div class="front-end-standards-menu-section">
	<h6>Introduction</h6>
	<ul>
		<li><a href="#">Goals</a></li>
		<li><a href="#">Getting Started</a></li>
		<li><a href="#">General Standards</a></li>
		<li><a href="#">Deliverables</a></li>
	</ul>
</div>

<div class="front-end-standards-menu-section">
	<h6>HTML</h6>
	<ul>
		<li><a href="#">Item One</a></li>
		<li><a href="#">Item Two</a></li>
		<li><a href="#">Item Three</a></li>
		<li><a href="#">Item Four</a></li>
		<li><a href="#">Item Five</a></li>
	</ul>
</div>

<div class="front-end-standards-menu-section">
	<h6>CSS</h6>
	<ul>
		<li><a href="#">Item One</a></li>
		<li><a href="#">Item Two</a></li>
		<li><a href="#">Item Three</a></li>
		<li><a href="#">Item Four</a></li>
		<li><a href="#">Item Five</a></li>
	</ul>
</div>

<div class="front-end-standards-menu-section">
	<h6>Javascript</h6>
	<ul>
		<li><a href="#">Item One</a></li>
		<li><a href="#">Item Two</a></li>
		<li><a href="#">Item Three</a></li>
		<li><a href="#">Item Four</a></li>
		<li><a href="#">Item Five</a></li>
	</ul>
</div>

<div class="front-end-standards-menu-section">
	<h6>Responsive Design</h6>
	<ul>
		<li><a href="#">Item One</a></li>
		<li><a href="#">Item Two</a></li>
		<li><a href="#">Item Three</a></li>
		<li><a href="#">Item Four</a></li>
		<li><a href="#">Item Five</a></li>
	</ul>
</div>

<div class="front-end-standards-menu-section">
	<h6>Other</h6>
	<ul>
		<li><a href="#">Item One</a></li>
		<li><a href="#">Item Two</a></li>
		<li><a href="#">Item Three</a></li>
		<li><a href="#">Item Four</a></li>
		<li><a href="#">Item Five</a></li>
	</ul>
</div>