<aside class="front-end-standards-menu">
	<div class="front-end-standards-menu-section">
		<h6>Introduction</h6>
		<ul>
			<li><a href="#goals">Goals</a></li>
			<li><a href="#getting-started">Getting Started</a></li>
			<li><a href="#">General Standards</a></li>
			<li><a href="#">Deliverables</a></li>
		</ul>
	</div>

	<div class="front-end-standards-menu-section">
		<h6>HTML</h6>
		<ul>
			<li><a href="#">Goals for Markup</a></li>
			<li><a href="#">Getting Started on Markup</a></li>
			<li><a href="#">HTML Markup Best Practices</a></li>
			<li><a href="#">Markup Deliverables</a></li>
			<li><a href="#">Next Steps & HTML5 Resources</a></li>
		</ul>
	</div>

	<div class="front-end-standards-menu-section">
		<h6>CSS</h6>
		<ul>
			<li><a href="#">Goals for Effective CSSa</a></li>
			<li><a href="#">Getting Started with CSSa</a></li>
			<li><a href="#">CSS Best Practicesa</a></li>
			<li><a href="#">CSS Deliverablesa</a></li>
			<li><a href="#">Next Steps &amp; CSS Resources</a></li>
		</ul>
	</div>

	<div class="front-end-standards-menu-section">
		<h6>Javascript</h6>
		<ul>
			<li><a href="#">Goals</a></li>
			<li><a href="#">Getting Started on JavaScript</a></li>
			<li><a href="#">JavaScript Best Practices</a></li>
			<li><a href="#">JavaScript Deliverables</a></li>
			<li><a href="#">Next Steps &amp; JavaScript Resources</a></li>
		</ul>
	</div>

	<div class="front-end-standards-menu-section">
		<h6>Responsive Design</h6>
		<ul>
			<li><a href="#">Goals of Responsive Web Design</a></li>
			<li><a href="#">Getting Started with Mobile Development</a></li>
			<li><a href="#">Responsive Design Best Practices</a></li>
			<li><a href="#">Next Steps &amp; RWD Resources</a></li>
		</ul>
	</div>

	<div class="front-end-standards-menu-section">
		<h6>Other</h6>
		<ul>
			<li><a href="#">Item One</a></li>
			<li><a href="#">Item Two</a></li>
			<li><a href="#">Item Three</a></li>
		</ul>
	</div>
</aside>