<nav role="navigation">

	<dl>
		<dd><a href="/reference/index">Home</a></dd>
		<!--
		<dd><a href="/kitchen-sink">Kitchen Sink</a></dd>
		<dd><a href="/quick-reference">Quick Reference</a></dd>
		-->
		<dd><a href="/browser-support">Browser Support</a></dd>
		<dd><a href="/reference/media-queries">Media Queries</a></dd>
		<dd><a href="/reference/change-log">Change Log</a></dd>
	</dl>

	{% for item in global.core-table-of-contents %}

	<!-- TOC - SECTION HEADER - BEGINS -->
		<h5 class="evo-hdr-rule">{{ item.section-hdr | upcase }}</h5>
	<!-- TOC - SECTION HEADER - ENDS -->

	<!-- TOC - SECTION LIST - BEGINS -->
		<dl>
			{% for item in item.main-section %}
				<dd><a href="{{ item.url }}">{{ item.link-name }}</a></dd>
			{% endfor %}
		</dl>
	<!-- TOC - SECTION LIST - ENDS -->

	{% endfor %}

</nav>