<!-- TABLE OF CONTENTS - SLIDING DRAWER - BEGINS -->
	<section class="mul-ref-sliding-drawer mul-display-none js-mul-ref-sliding-drawer">
		<div class="js-mul-ref-sliding-drawer-scrollpane">
			{% for item in global.table-of-contents %}
				{% include "/reference/toc-nav" %}
			{% endfor %}
		</div>
	</section>
<!-- TABLE OF CONTENTS - SLIDING DRAWER - ENDS -->