//-------------------------------------------------------------------------------------------
// Mercer Evolution - Core v2.4 - Core Page Footer Module Partial
// DATE - April 4, 2014
// AUTHOR - Doug Fraize, Matthew Holmes
//-------------------------------------------------------------------------------------------

@if $use-footer == true{

	.mul-footer								{
											@include clearfix;
											@include backface-visibility(hidden);
											position: relative;
											text-align: left;
											color: $footerFontColor;
		.mul-footer-adjust						{
												padding: 0 $gridSiteGutterPadding;
												margin-bottom: $baseMargin; 
			.mul-footer-content-ctn					{
													padding-top: $basePadding;
													border-top: 1px solid $footerBorderTopColor;
				.mul-footer-logo						{
					img										{
															margin-bottom: 5px;
															@include center-block;
															}
														}
				.mul-footer-copyright					{
														text-align: center;
														font-size: $smallFontSize;
														}
													}
												}
											}

	//=== MEDIA QUERIES =========================================================================

	// Portrait iPad, portrait tablets, Low-resolution laptops and desktops, Landscape iPad, laptops and desktops
	@if $use-medium-mediaquery == true or $use-large-mediaquery == true {

		@include media-query(screen, min, $mediumMediaQueryBreakpointMin, "") {

			.mul-footer						{
				.mul-footer-adjust				{
					.mul-footer-content-ctn			{
						.mul-footer-logo				{
							img								{margin: 0;}
														}
						.mul-footer-copyright			{
														text-align:right;
														font-size: $smallFontSizeLargeBreakpoint;
														}
													}
												}
											}

		}
		
	}//endif

}//endif

@if $use-fat-footer == true{

	// FAT FOOTER
	.mul-fat-footer							{
											background-color: $fatFooterBackgroundColor;
											color: $fatFooterFontColor;
		.mul-footer-adjust						{
												padding: 0;
												margin-bottom: 0;
			.mul-footer-content-ctn					{
													padding: $basePadding 10px;
													border-top: 0;
				.mul-fat-footer-corp-content			{
														margin-bottom: $baseMargin;
					.mul-fat-footer-logo					{
															display: block;
															margin-bottom: 10px;
															}
					.mul-group-icon-set						{
															@include clearfix;
															width: 100%;
						.mul-icon-adv							{margin-right: 7px;}
															}
														}
				dl										{
														margin-top: 0;
														margin-bottom: $baseMargin;
					dt										{
															color: $fatFooterFontColor;
															padding: 0 0 3px 0;
															}
					> dd									{
															list-style-type: none;
															margin: 0;
															padding: 0 0 5px 0;
						a										{
																@include href-link($fatFooterFontColor, underline);
																display: block;
							&:hover									{@include href-link-hover(none);}
																}
						&:last-child							{padding-bottom: 0;}
															}
														}
				.mul-footer-copyright					{
														text-align: left !important;
					.mul-copyright-text						{margin: 0;}
														}
													}
												}
											}

	//=== MEDIA QUERIES =========================================================================

	// Portrait iPad, portrait tablets, Low-resolution laptops and desktops, Landscape iPad, laptops and desktops
	@if $use-medium-mediaquery == true or $use-large-mediaquery == true {

		@include media-query(screen, min, $mediumMediaQueryBreakpointMin, "") {

		// FAT FOOTER
		.mul-fat-footer						{
											margin-top: 0;
			.mul-footer-adjust					{
				.mul-footer-content-ctn				{
					dl									{margin-bottom: 10px;}
													}
												}
											}

		}

	}//endif

}//endif