//-------------------------------------------------------------------------------------------
// Mercer Evolution - Core v2.4 - Core Pagination Module Partial
// DATE - April 4, 2014
// AUTHOR - Doug Fraize, Matthew Holmes
//-------------------------------------------------------------------------------------------

@if $use-pagination == true{

	.mul-pagination							{
		ul										{
												@include clearfix;
												position: relative;
												right: -1px;
												display: inline-block;
												list-style: none;
												margin: 0;
												padding: 0;
			li										{
													float: left;
													margin-right: 5px; 
													text-align: center;
													vertical-align: middle;
													font-size: $paginationFontSize;
				&:last-child							{margin-right: 0;}
				a,
				span									{
														display: block;
														border: 1px $paginationBorderStyle $paginationBorderColor;
														padding: 9px 6px 8px 6px;
														line-height: $paginationLinkLineHeight;
														min-width: $paginationLinkMinWidth;
														max-height: $paginationLinkMaxHeight;
														text-decoration: none;
														}
				&.active								{
					a,
					span									{
															cursor: default;
															background-color: $paginationActiveBackgroundColor;
															color: $paginationActiveFontColor;
															text-decoration: none;
															}
					a:hover									{color: $paginationActiveFontColor;}
														}
				a:hover									{
														background-color: $paginationHoverBackgroundColor;
														text-decoration: none;
														}
				.mul-pagination-icon					{
					&:hover									{color: $paginationLinkHoverColor;}
														}
													}
			.mul-pagination-page-nav				{display: none;}
												}
											}

	//=== MEDIA QUERIES =========================================================================

	// Portrait iPad, portrait tablets, Low-resolution laptops and desktops, Landscape iPad, laptops and desktops
	@if $use-medium-mediaquery == true or $use-large-mediaquery == true {
		
		@include media-query(screen, min, $mediumMediaQueryBreakpointMin, "") {

			.mul-pagination					{
				ul								{
					li								{
													font-size: $paginationFontSizeLargeBreakpoint;
						a,
						span							{
														min-width: $paginationLinkMinWidthLargeBreakpoint;
														max-height: $paginationLinkMaxHeightLargeBreakpoint;
														}
						.mul-pagination-icon			{padding: 7px 6px;}
													}
					.mul-pagination-page-nav		{display: block;}
												}
											}

		}
		
	}// endif

}//endif